[2022-09-13 12:16] consulthys commented on #1651
Compact strings are enabled by default in JDK9. I haven't tried it but it seems that behavior can be disabled by specifying `+XX:-CompactStrings` in `jvm.options`

[2022-09-13 13:52] elfisher commented on #3998
@andrross could you help transfer this to the cross cluster replication repo? It looks like that would be a good place to track this.

[2022-09-13 16:28] 0xf4b1 opened #4495 "[BUG] Running integration tests with `customDistributionUrl` has no effect"
**Describe the bug**
Running integration tests with `customDistributionUrl` as described in [DEVELOPER_GUIDE.md](https://github.com/opensearch-project/OpenSearch/blob/763a89fae1e11bf5ed151721e0fd0b6d43d3ab18/DEVELOPER_GUIDE.md?plain=1#L377) seems not to work. It never accesses the provided url and seems to always build from source.

**To Reproduce**
Steps to reproduce the behavior:
1. Build distri

[2022-09-13 17:02] adnapibar commented on #3615
For job scheduler the issue seems to be version used for bwc - https://github.com/opensearch-project/job-scheduler/blob/main/sample-extension-plugin/build.gradle#L142 - I tried changing this to 2.2.1 but getting some other issue
[code]

[2022-09-13 18:43] tomchlee opened #4497 "[BUG] Cron expression with list (comma) value causes fatal error Opensearch thread due to NoClassDefFoundError when creating snapshot management policy"
**Describe the bug**
When creating snapshot management policy, I'm able to specify wildcard, range and step values in cron expression.  However, when I specify cron expression with list (comma) value, it causes fatal error in Opensearch due to NoClassDefFoundError:
[code]
and another similar stacktrace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create SM policy via SM api

[2022-09-13 18:51] rohan8538 opened #4498 "Non executing if condition"
**Is your feature request related to a problem? Please describe.**
Since the unreleased version is never 1.0.0, and the current version being worked on is always unreleased. Therefore checking it with if statement will always be false. And thus the return statement will never be executed.
**Describe the solution you'd like**
I've removed this very function and created the pull request for the same

[2022-09-13 18:59] nknize commented on #4218
I'm actually quite confused how this is a different issue than https://github.com/opensearch-project/job-scheduler/issues/147 where there was strong opposition to moving it to the core.

[2022-09-13 19:32] mariavalavan commented on #2064
Looks like I am facing similar issue when using open-search-high-level-client java client from android.
Lot of retries happens, works some times. From Another standalone java seems working fine.
Is there any workaround for this one.

2022-09-13 12:00:06.681 9068-9334/io.onenav.ceshostapp I/System.out: 12:00:06.637 [IntentService[ServiceIntent]] ERROR  - openearch read: java.io.IOException: **Unabl

[2022-09-13 19:32] hauck-jvsh commented on #4002
Sorry for the delay, but I finally get some time to work on this.

[2022-09-13 19:42] dblock commented on #4467
+1 is this poorly documented? Care to improve?

[2022-09-13 19:44] #4269 closed

[2022-09-13 19:44] dblock commented on #4269
Thanks for the fix in https://github.com/opensearch-project/OpenSearch/pull/4469 @reta !

[2022-09-13 19:48] dblock commented on #2155
@sourav25998 i don’t think we can use assignments on GH due to permissions, but go for it!

[2022-09-13 19:50] dblock commented on #4482
Should we move this to project-meta? Do we want the org to do this and create a label for every repo?

[2022-09-13 19:54] dblock commented on #4474
Good debugging @dbwiddis :) let’s see a fix?

[2022-09-13 19:57] dblock commented on #1868
Thanks, I think fixing backport to properly merge changelog is the way to go.

[2022-09-13 22:17] ryanbogan commented on #4218
From what I understand, the main opposition to moving Job Scheduler in previous discussions was due to the mandated installation required by making Job Scheduler a module.  Our recommendation is to make Job Scheduler a native plugin, which does not require installation, since not every user needs Job Scheduler.  However, our proposal would make it easier for the user to install Job Scheduler.  Ano

[2022-09-13 23:02] dblock commented on #1181
I think the shape of this response doesn't align with other APIs, but I could be wrong

- is `search_task` in `current_max_search_task_heap_memory_consumed` redundant, looks like other APIs would call this `current_max_heap_memory_consumed`
- in the stats doc I see `_in_metric` everywhere, so should it be `current_max_heap_memory_consumed_in_bytes`?
- existing APIs seem to have some logical groupi

[2022-09-13 23:32] dblock commented on #4495
Would need to be debugged, the code is [here](https://github.com/opensearch-project/OpenSearch/blob/517c19c9725e53663a280f9025679c2f9e659948/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java#L198).

[2022-09-14 00:07] 0xf4b1 commented on #4495
In the web server's access log, I'm expecting to see an access to the file `opensearch-min-3.0.0-SNAPSHOT-linux-x64.tar.gz` but it does not occur. Also, if I provide an invalid url or random characters to `customDistributionUrl`, no error occurs that's why it seems to me to have no effect.

[2022-09-14 03:49] nknize commented on #4218
I see. That wasn't my take of the original issue so maybe I misinterpreted the original feedback. Moving job-scheduler to core (regardless of plugin vs module) has been a long running controversial issue because no min-distro functionality uses it, only bundled plugins that depend on it. Do not take this feedback as my veto to refactor job-scheduler to core. Having it as an optional plugin I think

[2022-09-14 05:48] amanthakur opened #4501 "login page text is not customized"
anyone can me tell me how i can customize login page text in [OpenSearch]

[2022-09-14 06:31] xuezhou25 commented on #4255
The documentation for [ES 7.10.2](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/modules-http.html) might have some mistake(It is documented right on [ES 8.4](https://www.elastic.co/guide/en/elasticsearch/reference/8.4/modules-network.html)) about the option to include `error_trace` in the server response by setting the `http.detailed_errors.enabled: false`

When the config setting `

[2022-09-14 10:15] ashking94 opened #4502 "[Remote Store] Remove acquire PRRL during replica recovery if remote translog is enabled"
**Is your feature request related to a problem? Please describe.**
PRRL is used to keep lucene operation history and is also used in recovery for replaying these operations once the segment files are sent to the target. During replica recovery, PRRL is acquired for sending these operations to the replica after the segment files (from most recent safe commit) are copied over to replicas. This is no

[2022-09-14 10:24] ashking94 opened #4503 "[Remote Store] Introduce replication tracker proxy layer to make checkpoint related methods as no-op"
**Is your feature request related to a problem? Please describe.**
During replica recovery there are certain steps like prepareForTranslog which basically readies the engine by opening and skipping the translog recovery. This will help in long term goal to remove reliance of global/local checkpoints from primary and replica.

**Describe the solution you'd like**
Introduce a replication tracker pro

[2022-09-14 10:35] ashking94 opened #4504 "[Remote Store] Remove reliance of checkpoints from primary shard if remote translog is enabled"
**Is your feature request related to a problem? Please describe.**
We need to identify all such interaction points with checkpoints and mutates it while in primary shard. Currently checkpoints are used in a lot of areas directly or indirectly like Index commits, translogs, segments, insync shards, etc. But primarily it keeps track of  how far are the replicas behind the primary. It also helps in d

[2022-09-14 10:36] ashking94 opened #4505 "[Remote Store] Remove reliance of checkpoints from replica shards if remote translog is enabled"
**Is your feature request related to a problem? Please describe.**
We need to identify all such interaction points with checkpoints and mutates it while in primary shard. Currently checkpoints are used in a lot of areas directly or indirectly like Index commits, translogs, segments, insync shards, etc. But primarily it keeps track of  how far are the replicas behind the primary. It also helps in d

[2022-09-14 10:40] ashking94 opened #4506 "[Remote Store] Redefine the insync allocations if remote translog is enabled"
**Is your feature request related to a problem? Please describe.**
Whenever a primary fails and if replicas are available. The master choses to promote a replica that is insync (or active). Since the request to primary is not replicated in sync to the replicas. The definition of insync itself needs to be changed.

Couple of definitions in respect to a shard (in replication tracker) -
 - inSync = w

[2022-09-14 10:43] ashking94 opened #4507 "[Meta] NoOp replication for remote translogs with NRT segment replication"
We have discussed NoOp replication on high level in #3706 and the proposal can be found [here](https://github.com/opensearch-project/OpenSearch/issues/3706#issuecomment-1185617653) and the approach selected has been discussed [here](https://github.com/opensearch-project/OpenSearch/issues/3706#issuecomment-1190077161).

As part of the exercise, in brief, we want to achieve the following -
- Use rep

[2022-09-14 11:50] dblock commented on #4495
@Rishikesh1159

[2022-09-14 15:04] tomchlee commented on #4269
Thanks for the fix!  What is the ETA for the release with the fix?

[2022-09-14 15:16] Lmaquaire92 opened #4508 ""unable to find valid certification path to requested target" [BUG]"
Hello

### docker  image : opensearchproject/opensearch:2.1.0

**Description of the problem :**
i try to send email over TLS with differents settings:

_1. with truststore_
plugins.security.ssl.transport.truststore_type: JKS
plugins.security.ssl.transport.truststore_filepath: truststore.jks
plugins.security.ssl.transport.truststore_password: ******

_2. with pem file_
 plugins.security.ssl.transpo

[2022-09-14 15:39] dblock commented on #4269
@tomchlee See https://github.com/orgs/opensearch-project/projects/1 for the release roadmap. I guess it will make it into 2.4.0 (November)?

[2022-09-14 15:55] kkalchuri opened #4509 "[BUG]"
**Describe the bug**
Filebeat is unable to connect to AWS OpenSearch service. shows `ERROR 401 Unauthorized: Unauthorized`

**To Reproduce**
Steps to reproduce the behavior:
1. Download the filebeat-oss v7.10.2 `wget https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-7.10.2-linux-x86_64.tar.gz`
3. Configure filebeat and connect elastic search output to your AWS OpenSerach endpoint.

[2022-09-14 16:24] dreamer-89 commented on #3823
Apologies for delay on this task; got occupied with `2.3` release work. I re-looked into the integration with latest changes from `2.x` (2.4.0 SNAPSHOT).
I am seeing a different assertion failure post stop replication action (stack trace below). The error is happening due to [assert on engine type ](https://github.com/opensearch-project/OpenSearch/blob/2.x/server/src/main/java/org/opensearch/index

[2022-09-14 16:27] anasalkouz commented on #4255
@xuezhou25 could you please add this to OpenSearch Documentation?

[2022-09-14 16:46] tomchlee commented on #4269
@dblock got it, thanks!

[2022-09-14 16:47] manojfaria commented on #1651
Since the issue (aka node drops) occur due to increased response size which String is not able to hold, is there an option to introduce graceful failure of such search requests that lead to extra large response sizes (and avoid system instability i.e. node drops)?

[2022-09-14 17:02] kartg commented on #2155
@dblock I've noticed that sometimes it takes a comment to allow the assignment. I've assigned the issue to @sourav25998 now 😄

[2022-09-14 17:41] dblock commented on #3615
Two 2.2.0 nodes.

[code]
cluster.name: dblock
node.name: node-1
http.port: 9200
cluster.initial_master_nodes: ["node-1"]
[code]
cluster.name: dblock
node.name: node-2
http.port: 9201
cluster.initial_master_nodes: ["node-1"]
[code]
curl http://localhost:9200/_cat/nodes
127.0.0.1  9 15 0 0.45 0.28 0.19 dimr cluster_manager,data,ingest,remote_cluster_client - node-2
127.0.0.1 11 15 0 0.45 0.28 0.19 d

[2022-09-14 17:54] dblock commented on #3615
So for bcw do we need to be testing against the latest build of 2.4.0 (I don't think this exists yet), and keep moving that number up every time?

[2022-09-14 18:23] dblock commented on #3615
@adnapibar The other issue you're running into is this one. See https://github.com/opensearch-project/job-scheduler/pull/242

[2022-09-14 19:25] peternied opened #4514 "[Security] OpenSearch should support authentication and authorization natively"
**Is your feature request related to a problem? Please describe.**
Plugins have some permissions boundaries established by the java security manager, but those only enforce a subset of actions that a plugin can do.  Public interfaces within the OpenSearch core systems are accessible by plugins without any access control systems.

Knowing which systems have security considerations or not is non-tri

[2022-09-14 20:57] dbwiddis commented on #4474
Alas, while I can backtrace call hierarchies like a pro, I'm not at all familiar with this section of the code. Happy to submit a PR if someone can tell me the best resolution.  Always 0?  Max out the `weight` as 1?  Some other solution? Is the empty map an indication of a deeper bug elsewhere?

[2022-09-14 21:23] dblock commented on #4509
Dup of https://github.com/opensearch-project/OpenSearch/issues/2719?
is that helpful at all?

[2022-09-14 21:26] dblock commented on #1651
There are bunch of ideas and some projects along those lines, @Bukhtawar do you know a specific one that would address this exact issue?

[2022-09-14 22:43] peternied commented on #4162
+1 failure, see https://build.ci.opensearch.org/job/gradle-check/3072/console

[2022-09-15 00:40] dreamer-89 commented on #3823
This error appears because when index is closed the [NoOpEngine](https://github.com/opensearch-project/OpenSearch/blob/2.x/server/src/main/java/org/opensearch/indices/IndicesService.java#L762) is returned inside IndicesService.java. TransportNodesListGatewayStartedShards transport (used to fetch shard infos) [recently updated](https://github.com/opensearch-project/OpenSearch/blob/2.x/server/src/ma

[2022-09-15 01:29] itiyama commented on #4481
@muralikpbhat What do you think?

[2022-09-15 01:34] itiyama commented on #4493
@nknize  What are your thoughts?

[2022-09-15 03:43] adnapibar commented on #3615
Thanks @dblock! It looks like the BWC tests that are failing do not have a common reason.

[2022-09-15 03:43] nknize commented on #3615
This is expected behavior. The next major version is only API compat w/ the last minor of the previous major. In this case it's 2.4 because the 2.3 branch was cut, so it tests against the 2.x branch (which is a 2.4 staged). That's why you'll only find gradle task `:qa:mixed-cluster [v2.4.0#bwcTest]` and `qa:rolling-upgrade [v2.4.0#bwcTest]` and nothing < 2.4.x

BWC testing is already configured to

[2022-09-15 05:25] xuezhou25 commented on #4255
Raised an issue on Documentation Repo to update the `error_trace` URL parameter description.

[2022-09-15 08:54] oridool opened #4524 "Index rollover - support multiple aliases"
**Is your feature request related to a problem? Please describe.**
When I perform an index rollover (weather directly by the rollover API or by using the ISM job), I want **all** aliases of an index to be rolled over.
I have an index with multiple aliases (my-alias-01, my-alias-02,…), and I want all of them to be rollover.

**Describe the solution you'd like**

Let's assume I have an index with 2

[2022-09-15 09:08] itiyama commented on #4245
This is a good idea and can improve network performance depending on the cluster topology.

Think of this example:
N1: P1, R2,R3
N2: P2, R1,R3
N3: P3, R1, R2

With this topology, primary to all would be same as replicas acting as repeaters. However, this approach will greatly improve network performance if the cluster topology is not optimum.

[2022-09-15 09:34] voidshard commented on #4467
It is documented, rather I think the flag is badly named. -b / --batch sounds to me like I want to install a bunch of plugins at once and/or maybe with support to read plugins from a file or something.

I guess I read through the names of the flags I could pass and figured "no none of those sound like they do what I want" .. and it's not until I read the description of the flags - including the on

[2022-09-15 11:36] anshu1106 opened #4525 "[Weighted Shard Routing] Revisit weighted routing cache"
**Describe the solution you'd like**
Revisit `WeightedRoutingCache` and see if we can make it more optimal. Currently the cache is invalidated on every cluster state change which is not needed and can affect performance.

- Check if we can leverage ```AttributeRoutings``` which is invalidated only on change in shard routing.

 For ```WeightedShardRouting```, evaluate if we can leverage cache creat

[2022-09-15 12:04] nssuresh2007 commented on #1181
@dblock, thanks a lot for your feedback.

I have updated the structure as follows to address your comments and also have revamped the structure to make it easily extensible for future needs (i.e. currently we only emit stats on shard search task, in future we may also add stats on co-ordinator tasks).

[code]

* `current_stats` - Section which would contain the stats at that point of time.
* `canc

[2022-09-15 12:42] anshu1106 opened #4526 "[META] Weighted Routing Issue List"
**Is your feature request related to a problem? Please describe.**

- Issues listed under this meta issue are related to Weighted Routing.

**Describe the solution you'd like**
- [x]  Feature Proposal [[Feature] Support for weighted zonal search request routing policy](https://github.com/opensearch-project/OpenSearch/issues/2859)
- [x] [[Weighted Shard Routing] Fail open weighed away AZ](https://g

[2022-09-15 12:54] yeohbraddy commented on #4174
Hi all,

I'd like to take this if @sreenath-tm is not. It is my first time contributing to open-source so apologies if this is against etiquette

Thank you!

[2022-09-15 12:58] ashking94 opened #4527 "[Remote Store] Change of behaviour in replica recovery for remote translog enabled indices"
**Is your feature request related to a problem? Please describe.**
During the current replica recovery process, the high level flow goes like this -
![image](https://user-images.githubusercontent.com/9309003/190408529-10debee2-2e87-4944-8713-73d1fe8c9e76.png)
and then
![image](https://user-images.githubusercontent.com/9309003/190409076-ea32dfea-f37f-42f2-9f0d-104326d45f4a.png)

With the existing r

[2022-09-15 13:06] anshu1106 commented on #4525
https://github.com/opensearch-project/OpenSearch/pull/4241#discussion_r971681349

[2022-09-15 13:07] yeohbraddy commented on #2797
Hi @kotwanikunal,

I'd like to contribute to this issue!

[2022-09-15 16:01] imRishN opened #4528 "[Zone Decommission] Cluster Health local API should throw decommissioned exception for local node if decommissioned"
Currently, a local healthcheck request on local decommissioned node would return cluster health response from its local cluster state saying cluster manager not discovered. But currently transport calls on a local decommissioned node won't be able to identify if it is decommissioned or not. There might be a use case to get that info from a local decommissioned node directly on local transport call

[2022-09-15 16:50] dblock commented on #3615
But 2.4.0 hasn't shipped yet. So right now a user that wants to try upgrading to 3.0.0-SNAPSHOT to try it would have to upgrade to 2.4.0-SNAPSHOT first, then to 3.0.0-SNAPSHOT, which seems ... odd, no?

Another consideration is that 2.4.0 may never ship and be abandoned in favor of 3.0. In which case we would have been testing bcw against the wrong version all along.

[2022-09-15 17:24] nknize commented on #3615
For rolling upgrade scenarios that's correct. But if a user is upgrading to an unstable snapshot build to test something out then they'd probably be just as fine using full cluster restart process to upgrade. The rolling upgrade process is really for those that don't want downtime, which usually means they're upgrading in production.

This isn't a problem because, bwc testing is transitive (e.g.,

[2022-09-15 17:32] dblock commented on #3615
Thanks, going to close this by design.

[2022-09-15 17:32] #3615 closed

[2022-09-15 17:37] macohen commented on #4223
According to the docs, https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/#run-fuzzy-queries, valid input is AUTO, 0, 1, 2, or some other positive integer. In https://github.com/opensearch-project/OpenSearch/blob/10bff0c9f5b9ca78b3dc50f5c704dabf41b9d535/server/src/main/java/org/opensearch/common/unit/Fuzziness.java, it looks like we are not checking for that valid input in any const

[2022-09-15 18:04] Yury-Fridlyand commented on #4223
Exactly.
I see from [elastic documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/common-options.html#fuzziness), `AUTO:int,int` (e.g. `AUTO:1,2`) is also a valid value.

[2022-09-15 19:21] kiranprakash154 opened #4529 "Suggesters Queries are limited to shard level metrics"
**Is your feature request related to a problem? Please describe.**
We limit suggesters Search Query to the shard level metrics only and not at index level.
The tf, df stats are all run against the shard level metrics and there is no aggregation done at the index level before we construct the response.

_Context_:
The term suggesters query ([documentation](https://opensearch.org/docs/latest/opensea

[2022-09-15 19:50] dreamer-89 commented on #3823
I tried running the tests using OpenSearch `main` (3.0.0 SNAPSHOT). But looks it is broken currently [getHistoryOperationsFromTranslogFile](https://github.com/opensearch-project/cross-cluster-replication/blob/main/src/main/kotlin/org/opensearch/replication/seqno/RemoteClusterTranslogService.kt#L41).

[2022-09-15 22:06] hauck-jvsh commented on #4002
Should I close this?

[2022-09-16 01:02] dreamer-89 opened #4530 "[BUG] [Segment Replication] Flaky engine AlreadyClosedException exception on closed index action"
**Describe the bug**
Engine AlreadyClosedException exception on closed index on replica shard. This issue happens when replication is finalized on replica shard and when translog generation is rolled over when last received gen is different than the one received. The roll translog generation ensure underlying engine to be open which fails sometimes.

[code]

**To Reproduce**
Steps to reproduce the

[2022-09-16 02:12] dbwiddis opened #4531 "[Feature/Extensions] [BUG] SettingsModule#registerDynamicSetting contains unreachable code"
**Describe the bug**

`registerDynamicSetting()` javadocs state:

However, this is a "must". And regardless of the scope, some of this code isn't reachable:

https://github.com/opensearch-project/OpenSearch/blob/e08d57be0bd6df2243a9240931bce04f2acfdee9/server/src/main/java/org/opensearch/common/settings/SettingsModule.java#L188-L203

In the case the setting has neither Node nor Index scope, line 1

[2022-09-16 07:10] reta commented on #4474
@dbwiddis I think your last note about the deeper bug elsewhere is likely a cause. From what I can tell, in this particular flow there are shards present (hence the call to `getStats(ShardId shard)`), however from the `shardStats` cache perspective, it seems like there are no shards at all (it is empty).

[2022-09-16 12:42] rohan8538 opened #4533 "[BUG]Wrong OS and Chip versions are being displayed."
**Describe the bug**
This executes successfully "./gradlew: build-tools:spotlessApply". But the OS version and the chip manufacturer displayed is wrong.
I am running a win 10 pc with Inter i5 8th gen Chip(64 bit).
Manufacturer - Acer (Model - Predator Helios 300).

**To Reproduce**
Steps to reproduce the behavior:
1. just run ./gradlew: build-tools:spotlessApply
2. Scroll down.
3. Verify with your

[2022-09-16 14:19] kolchfa-aws opened #4534 "[BUG] The GET _script_language request returns a NullPointerException"
**Describe the bug**
The GET _script_language call returns a NullPointerException:  Cannot invoke "java.util.Set.stream()" because the return value of "org.opensearch.script.ScriptEngine.getSupportedContexts()" is null

**To Reproduce**
Steps to reproduce the behavior:
1. Either go to the DevTools on Dashboards or use curl
2. Send the GET _script_language request to OpenSearch
4. The response cont

[2022-09-16 15:22] dblock commented on #1181
I like this better!

[2022-09-16 15:25] dblock commented on #4002
Yep, assuming https://github.com/opensearch-project/OpenSearch/pull/4494 closes this.

[2022-09-16 15:25] #4002 closed

[2022-09-16 15:30] kotwanikunal opened #4535 "[Searchable Snapshot] Design a new ShardsAllocator to handle remote shards"
**Is your feature request related to a problem? Please describe.**
- Searchable snapshots will introduce a new remote searcher role - https://github.com/opensearch-project/OpenSearch/issues/3895
- As a part of this, we would like to design a new shard allocation logic which will assign the searchable snapshot shards to the nodes with this new role
- There is a POC implementation which was done as

[2022-09-16 15:30] kotwanikunal commented on #4420
POC at https://github.com/kotwanikunal/OpenSearch/pull/4

[2022-09-16 15:30] #4420 closed

[2022-09-16 16:21] Rishikesh1159 commented on #3695
With opensearch 2.3 version, we have Segment replication feature as an experimental release. I have tested the latest 2.3 version with all the 3  above mentioned testing scenarios. The snapshot and restore process is compatible with segment replication in all above mentioned scenarios. Here is the process I used to test these:

Steps to Verify:
-> First I run a single node cluster.
-> Then I regis

[2022-09-16 17:05] tlfeng commented on #4533
Hi, I don't think this is a bug for OpenSearch, because the displayed value is obtained by the Java Platform (JDK) installed in your system, and depends on the JDK version.

See the below code and link for reference:
https://github.com/opensearch-project/OpenSearch/blob/72e680154428c5c705f68e4d8f72d408b8d01890/buildSrc/src/main/java/org/opensearch/gradle/info/GlobalBuildInfoPlugin.java#L158-L160

[2022-09-16 17:29] #4446 closed

[2022-09-16 17:40] andrross commented on #4306
Closing this issue and will track the next level of design work in #4535

[2022-09-16 17:40] #4306 closed

[2022-09-16 17:55] dreamer-89 opened #4536 "POC on remote store integration"
As part of this issue, we need to perform a POC on integrating with remote store. The high level design for POC is captured in #4555

[2022-09-16 17:55] dreamer-89 opened #4537 "Design proposal for integration"

[2022-09-16 18:01] dreamer-89 commented on #4131
Discussed this during team standup, where we identified that we need to get data around segment replication performance when furthese ahead replica is not chosen. This is to also to evaluate the trade off we will get with implementing this core change.

CC @mch2 @anasalkouz @Bukhtawar

[2022-09-16 18:25] minalsha commented on #4218
@anirudha  could you please share your input here on this proposal as well since Reporting plugin has a dependency on JS plugin?

[2022-09-16 18:58] dreamer-89 commented on #3695
Snapshot & Restore changes tested
1. Manually as mentioned in last comment
2. Integration tests were added to ensure snapshot/restore flow is not broken with segrep enabled.

[2022-09-16 19:19] dreamer-89 opened #4538 "[BUG] [Segment Replication] testCleanupAndPreserveLatestCommitPoint test failure"
**Describe the bug**
org.opensearch.index.store.StoreTests > testCleanupAndPreserveLatestCommitPoint test failure. This is reproducible on main.
[code]

**To Reproduce**
[code]

**Expected behavior**
Test should not fail.

[2022-09-16 19:55] #3695 closed

[2022-09-16 21:20] dbwiddis commented on #4533
They're in this macro (focused on where the JDK produces `amd64`):
https://github.com/openjdk/jdk/blob/bddef7151849a213926ffdd86a7e228db66606b1/make/autoconf/platform.m4#L475-L484

[2022-09-16 21:23] dbwiddis commented on #4534
Unable to repro on macOS:

{"types_allowed":["inline","stored"],"language_contexts":[{"language":"expression","contexts":["aggregation_selector","aggs","bucket_aggregation","field","filter","number_sort","score","terms_set"]},{"language":"mustache","contexts":["template"]},{"language":"painless","contexts":["aggregation_selector","aggs","aggs_combine","aggs_init","aggs_map","aggs_reduce","analysis

[2022-09-16 22:59] dbwiddis commented on #4534
This may be a bug in the KNNScoringScriptEngine:
https://github.com/opensearch-project/k-NN/blob/02c30cb9e1e175af73220ddd04ba77e086b79113/src/main/java/org/opensearch/knn/plugin/script/KNNScoringScriptEngine.java#L46-L48

FYI: @jmazanec15 @vamshin @VijayanB

[2022-09-17 02:03] kolchfa-aws commented on #4534
@alicejw-aws also has the same behavior on Mac.

[2022-09-17 05:21] dbwiddis commented on #4534
Can you isolate it to the K-NN plugin?

[2022-09-17 17:48] dbwiddis commented on #4174
Hi @yeohbraddy looks like you're all clear to work on this.  Welcome to Open Source and feel free to ask any questions.

Even if you only implement one of the two improvements it would be very helpful.

[2022-09-17 18:17] dbwiddis commented on #4174
Also, it looks like the ordering of the Javadoc check at the end is rather intentional.  It's explicitly placed in `project.afterEvaluate`.  The reasoning is that some packages may refer to each other:
[code]
In theory we could add an additional more basic check (e.g., missing javadocs) up front while still fully evaluating the javadoc content at the end.  However this increases complexity (and ma

[2022-09-17 21:49] dbwiddis commented on #4174
Hey @yeohbraddy it looks like just running `./gradlew javadoc` is pretty fast and does the missing doc check, while we can leave the full validation to the end of the full build.

My suggestion to handle point 1 is just to add the javadoc check to the precommit GitHub Action.  Just change `./gradlew precommit --parallel` to `./gradlew javadoc precommit --parallel`.

[2022-09-18 21:08] kolchfa-aws commented on #4534
@dbwiddis I'm not set up to run with debugging, I'm only using OpenSearch as a user...

[2022-09-18 21:52] dbwiddis opened #4541 "Replace missing-doclet with a maintained, configurable dependency on the Central Repository"
**Is your feature request related to a problem? Please describe.**

I spent a few hours yesterday adding some javadocs to the example plugins to chip away at #221.

[The vast majority of the fixes I had to do were trivial](https://github.com/opensearch-project/OpenSearch/pull/4540/files) (probably biased by the "example" nature of that particular code).  There were many updates required to obvious

[2022-09-19 03:34] dbwiddis commented on #4534
@kolchfa-aws Got it.  I've confirmed the k-NN plugin has the bug and submitted a PR to fix, but I'm not sure if there are any others out there. The way a user could test would be to temporarily [remove that plugin](https://opensearch.org/docs/latest/opensearch/install/plugins#remove).  (And put it back after testing.)

[2022-09-19 04:59] dbwiddis commented on #4534
Confirmed the issue is isolated to k-NN plugin.  After repro in this comment, executed these commands on the opensearch node:
[code]
Then executed `GET /_script_language`:
[code]

[2022-09-19 05:17] dbwiddis commented on #4538
The test is failing due to the existence of a `write.lock` file in `store.directory()`.

[2022-09-19 05:49] imRishN opened #4543 "[Zone Decommission] Gracefully handle concurrent zone decommission action"
https://github.com/opensearch-project/OpenSearch/pull/4084#discussion_r977315551

[2022-09-19 06:08] dbwiddis commented on #4538
Looks like a `write.lock` file (`IndexWriter.WRITE_LOCK_NAME`) is created at various points as part of writing and cleaning up files, but is not committed (intentionally) so doesn't appear in the metadata.   But it appears in the directory listing, causing the test failure.

[2022-09-19 08:22] Joelp commented on #2984
Same here. Using `"awareness.attributes": "rack_id"`

I solved this issue for index `.opendistro_security` with:
`securityadmin.sh -cd ../../../config/opensearch-security/ -dra -icl -nhnv -cacert ...`
and
`sh securityadmin.sh -cd ../../../config/opensearch-security/ -us 9 -icl -nhnv -cacert  ...`

But this doesn't work with index `.opendistro-anomaly-detector-jobs`.

[2022-09-19 09:23] rursprung commented on #4255
thanks for checking this, @xuezhou25! i've verified that `http.detailed_errors.enabled: false` works as expected on OpenSearch 2.x.
i'm fine with closing this issue in favour of https://github.com/opensearch-project/documentation-website/issues/1235 - feel free to close it if you agree with this.

[2022-09-19 12:43] rursprung opened #4545 "[BUG] generic "No OpenSearchException found" error if http.detailed_errors is disabled"
**Describe the bug**
if `http.detailed_errors.enabled: false` is set then the error message in a REST API call will only report back an error message if the exception contains an `OpenSearchException`:
https://github.com/opensearch-project/OpenSearch/blob/465771631d2e3a5001d97d0c7e845e6f8ea6bd15/server/src/main/java/org/opensearch/OpenSearchException.java#L595-L608

(note: confusingly enough this

[2022-09-19 12:45] rursprung commented on #4255
small update: `http.detailed_errors.enabled` does more than just prevent the inclusion of the stack trace / the usage of the `error_trace` parameter: it also suppresses (sometimes vital) information from error messages. see https://github.com/opensearch-project/OpenSearch/issues/4545

[2022-09-19 14:18] babita-verma opened #4552 "Refresh Api"
I just wanted to check whether a Refresh Api exists in OpenSearch as it exists in Elastic search .
We are migrating from Elastic SEarch

[2022-09-19 14:24] #4552 closed

[2022-09-19 15:30] v1bh0r commented on #4102
Hi @tan31989, check this out - https://discuss.elastic.co/t/how-to-setup-unit-testing-for-elastissearch-configuration/11016/2
Seems like the configurations can be set using System.setProperty

[2022-09-19 16:36] Rishikesh1159 opened #4554 "[Segment Replication] Introduce new API to fetch existing metrics related to segment replication."
**Is your feature request related to a problem? Please describe.**
Currently we just log all the metrics related to segment replication. Instead we need to create an API to fetch all relevant segment replication metrics, so that we can just call the API from opensearch-benchmarks to get the metrics and include them in the results of a benchmark run.

[2022-09-19 16:55] mch2 opened #4555 "[Segment Replication] Remote store integration high level design."
Before starting a [POC](https://github.com/opensearch-project/OpenSearch/issues/4536) for this integration we should start with a high level design.

Some questions that come to mind.

1. How do we compute and send the list of segments to fetch from the store?
2. How do we fetch the SegmentInfos byte[] required?
3. Are there any changes to failover steps?  Currently we commit on replicas during fa

[2022-09-19 17:49] xuezhou25 commented on #4255
Closing this by tracking on [1235](https://github.com/opensearch-project/documentation-website/issues/1235)

[2022-09-19 17:49] #4255 closed

[2022-09-19 18:45] tlfeng commented on #4490
@opensearch-project/engineering-effectiveness Could you provide suggestion for the issue of installation through Helm Charts?

[2022-09-19 20:16] anasalkouz commented on #1891
Closing this issue. @ie-senol let me know if there is anything still pending on this to reopen.

[2022-09-19 21:57] dblock commented on #4490
Moving to the devops repo.

[2022-09-19 22:06] jmazanec15 opened #4557 "Discussion on combination of result sets from different query types"
Recently, from k-NN, we have received interest in combining results from text matching queries with k-NN queries ([ref](https://github.com/opensearch-project/k-NN/issues/527)). So, I wanted to start a discussion about result combination and the problems doing it when scores are computed at the shard level.

From my understanding, the only way to currently combine scores from different queries is t

[2022-09-19 22:31] minalsha commented on #3130
This has been completed as part of https://github.com/opensearch-project/opensearch-sdk-java/issues/64

[2022-09-19 22:31] #3130 closed

[2022-09-19 23:40] tlfeng commented on #4508
Found one forum discussion around this problem, but there was no clear solution: https://forum.opensearch.org/t/using-email-for-alerting-but-getting-an-error/4177/5

A couple possibilities I can think of:
1. SSL certificate trust issue
2. Application not supporting TLS version being used by SMTP host
   - Ex. application using TLSv1.1 and SMTP host is using TLSv1.2 without fallback
   - For Alerti

[2022-09-20 00:08] andrross commented on #3739
Quick update on the progress here:

Phase 1 has been [released as an experimental feature in OpenSearch 2.3](https://opensearch.org/blog/releases/2022/09/opensearch-2-3-is-ready-for-download/)! We welcome any and all feedback as we work towards finalizing this new capability.

Phase 2 is in active development and we're targeting OpenSearch 2.4 to have the first experimental version of this feature

[2022-09-20 01:51] itiyama commented on #3000
I agree that it should be a new API as it allows you to pack more optimizations within this API that are natively closer to the streaming paradigm and would be difficult to implement in the existing synchronous bulk API, especially with all its durability options.

I would also think about how we could directly stream to the data node instead of coordinator node splitting the requests in between.

[2022-09-20 02:01] Gaganjuneja commented on #4401
@vzez Thanks for the clarification. We can build it incrementally. It is not coming out well how these PA limitations are going to impact, like if we talk about storage requirements then it just keeps the 5 sec aggregated samples over 7 minutes and how much would be needed etc. Also, the strengths of PA. These tools are very powerful in aggregations, windowing, etc. and may help customers build th

[2022-09-20 02:19] Gaganjuneja commented on #4456
@RS146BIJAY Definitely a good guard rail to protect the system. Just out of curiosity, I want to know if we can evaluate(dry run) the index creation upfront if it is going to make the cluster red and respond with the reason? The reason could be anything be it low disk, low capacity, number of shards exceeding at node level etc.

[2022-09-20 03:27] itiyama opened #4558 "Infer and cache date field format instead of re-parsing it for every document"
The date field for the default format uses high CPU during parsing. A huge portion of date formatting time(close to 7.12% of CPU time in profiles) goes into parsing, which generally happens when the date format is optional for certain segments. Our customers don’t often set the date parser, but rely on the unoptimized default one. When I changed the date parsing format to a strict one for the same

[2022-09-20 03:34] itiyama opened #4559 "Parsing input formats beyond JSON..."
JSON is, by far the most popular input format for Opensearch. JSON is human readable, so it is pretty easy to test and develop with. Additionally, the Opensearch ecosystem is built around JSON with most benchmarks written in JSON and ingest connectors supporting JSON.

JSON is much slower and more space consuming than most binary formats. In a high throughput ingestion pipeline, most customers may

[2022-09-20 03:54] itiyama opened #4560 "Heap usage reduction in Opensearch"
From [Lucene's](https://cwiki.apache.org/confluence/display/lucene/ImproveIndexingSpeed) documentation,

**Re-use Document and Field instances**
As of Lucene 2.3 there are new setValue(...) methods that allow you to change the value of a [Field](http://lucene.apache.org/java/docs/api/org/apache/lucene/document/Field.html). This allows you to re-use a single Field instance across many added documen

[2022-09-20 04:23] itiyama commented on #618
@anasalkouz I do not have permissions to re-open the thread. Can you please open this?

[2022-09-20 07:09] xuezhou25 commented on #1779
Updating my thoughts on the root cause:
Snapshot creation and deletion can not be proceed at the same time.
After a snapshot deletion, actions will be triggered on in-progress snapshots, see:
https://github.com/opensearch-project/OpenSearch/blob/658f7a63ed160d63f9117ef0227d2ad875e558b6/server/src/main/java/org/opensearch/snapshots/SnapshotsService.java#L2897-L2905

If there is a snapshot creation

[2022-09-20 08:01] tlfeng opened #4561 "[BUG] Changlog is not updated by 'Dependabot PR actions' workflow for Dependabot PRs when initially created."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2022-09-20 08:27] rursprung commented on #4255
i've noticed in testing now that #4545 is hurting us quite a bit. could we maybe reopen this ticket here to look for an option which _only_ disables the stack trace but doesn't otherwise suppress error messages? or do you consider this a bug which should be resolved in #4545 so that also with the config option set the error messages are always returned?

[2022-09-20 15:18] marekm-gain commented on #1133
+1 for having this

[2022-09-20 16:46] saratvemulapalli commented on #4465
@dipenpatel235 thanks for the steps.
Trying to understand, when did you run `./bin/opensearch` and when did you install the plugin?
Plugins should always be installed first and then run opensearch.

[2022-09-20 18:21] dreamer-89 commented on #3923
@Rishikesh1159 : One idea around mimicking this situation is by mocking the transport action responsible for updating the cluster state. One [sample test](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/indices/replication/SegmentReplicationIT.java#L331) in SegmentReplicationIT.

@Bukhtawar : Do you have better ideas around mimicking th

[2022-09-20 18:39] saratvemulapalli commented on #4495
@0xf4b1 thanks for reaching out. Could you try using the absolute path and it should work.
`./gradlew build -PcustomDistributionUrl=/home/ubuntu/OpenSearch/distribution/archives/linux-tar/build/distributions/opensearch-min-3.0.0-SNAPSHOT-linux-x64.tar.gz `

[2022-09-20 18:43] saratvemulapalli commented on #4541
I like the idea, I do not know the details but I understand we'd like to remove duplicate piece of code and replace it with 3P plugin.
@dblock @reta @nknize thoughts?

[2022-09-20 20:12] dblock commented on #3615
The job scheduler bcw problem was resolved in https://github.com/opensearch-project/job-scheduler/pull/242, it had nothing to do with this.

[2022-09-20 20:34] mgodwan opened #4562 "Add Bulk Item Failure Count"
**Is your feature request related to a problem? Please describe.**
* Opensearch returns a 200 error response for a Bulk call, even though there can be partial failures within the complete request.
* Today, when an operator wants to gather data on the number of bulk item failures seen on a node, there is no way to obtain the data directly from the node/cluster.
* There are cases we have seen where

[2022-09-20 20:38] dblock commented on #4557
Could we extend rescoring to run on a higher level than shard (on merge)?

[2022-09-20 20:44] dblock commented on #4558
I wonder whether we can leverage the fact that most of the time all documents have the same date format. Maybe the date parser code can cache the date format and attempt to reuse it, only falling back to re-computing the date format when that fails?

[2022-09-20 20:47] dblock commented on #4559
I like the idea of extensibility in this space. I feel like I'd want to write a super optimized parser (e.g. with native code, or rust), even for JSON, and swap the default one easily.

[2022-09-20 20:48] dblock commented on #4255
@rursprung I say open a new one?

[2022-09-20 20:50] dblock commented on #4495
If that does work, we should add support for relative paths, better logging to show that the value is used, etc.

[2022-09-20 21:30] kotwanikunal commented on #4465
Thanks @saratvemulapalli.
I can indeed confirm the above statement. I was able to reproduce the issue if I start OpenSearch before installing the plugin.
I was able to fix it by first installing the plugin, configuring it and then starting OpenSearch.

[2022-09-20 21:47] itiyama commented on #4558
Yes, we should cache it.

[2022-09-20 23:34] navneet1v commented on #3980
Closing the issue, as the PR is merged in main.

[2022-09-20 23:34] #3980 closed

[2022-09-20 23:47] kotwanikunal commented on #2797
@yeohbraddy Thanks. Let me know if you have any queries around this.

[2022-09-21 00:12] jmazanec15 commented on #4557
In general, I think it would be similar to rescore on coordinator level. The workflow I have in mind would:
1. Execute multiple queries that would return results to coordinator (almost like _msearch API)
2. Pre-process results from each query (i.e. normalization)
3. Expose rescore functionality based on these results (take into account score combination)
4. Reduce results based on score and execut

[2022-09-21 03:01] itiyama commented on #4481
These improvements will prove useful even for customers using auto generated ids. The ids are unique per document and are stored as terms in FST. This causes the FST index for this field to grow much more than that of terms which are mostly common across all documents. The id index is almost never read, except during segment merging,  at which point we pay unnecessary CPU and memory(mmaped) for th

[2022-09-21 04:09] macohen opened #4564 "[Feature Proposal] Build Search Focused Sample Application"
### Summary
In order to show demonstrable progress in search features, we want to have a sample index and a search application that gets updated with each feature we release. The sample application is visible by default when starting up OpenSearch and/or OpenSearch Dashboards. When I talk about "search" in this case, I mean non-logging/observability use cases. Cases like e-commerce search, documen

[2022-09-21 05:21] tlfeng commented on #4274
@rursprung Could you help me double check, it is the "hack" part that cause problem to you?
https://github.com/opensearch-project/OpenSearch/blob/2c27dfddbdabbf064317bd315a5464ba5f41c1da/server/src/main/java/org/opensearch/common/logging/LogConfigurator.java#L211-L229

I want to make sure that removing the customized override of the method `getConfiguration()` can solve your problem.

Scanning all

[2022-09-21 16:24] #4538 closed

[2022-09-21 17:28] yeohbraddy commented on #4174
Hi @dbwiddis,

I implemented the suggested solution for 1) and 2), and I am wondering what is the best approach to test these changes ?

[2022-09-21 20:50] tlfeng commented on #4139
@cindy850322 According to the documents:
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/indices-refresh.html#refresh-api-desc
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index-modules.html#dynamic-index-settings
OpenSearch periodically refreshes indices every second, but only on indices that have received one search request or more in the last 30 seconds (which is th

[2022-09-21 21:09] kotwanikunal commented on #1868
Raised a PR to add support for skipping possible conflicting files while backporting changes: https://github.com/VachaShah/backport/pull/4

[2022-09-22 03:18] dbwiddis commented on #4564
Here's a potential list for Q1: https://en.wikipedia.org/wiki/List_of_text_corpora#English_language

[2022-09-22 06:28] dipenpatel235 commented on #4465
@saratvemulapalli we have already installed s3 plugin of that.

[2022-09-22 07:45] ankitkala commented on #4555
Also, How do we ensure that the segments which are being copied by replicas doesn't get deleted by primary?

[2022-09-22 08:26] imRishN opened #4571 "[Zone Decommission] Execute INIT update and transport voting config exclusion in single state update call"
https://github.com/opensearch-project/OpenSearch/pull/4084#discussion_r977315551

[2022-09-22 14:50] matthew-inamdar opened #4573 "[BUG] Synonym token has single character stripped with analyze API"
**Describe the bug**
We use synonym contraction to convert synonyms into a unique ID via a synonym graph filter in one of our analysers.

We then use the analyze API to pass a body of text and extract any contracted synonym IDs.

The problem is that for only one synonym, an extra character is stripped from the token returned in the analyze API response. There's no apparent reason, as others are co

[2022-09-22 17:38] andrross commented on #3677
@nknize What do you think about this proposal? Since a user has to explicitly install a plugin, and the fact they are located in a "sandbox" directory, this seems like a reasonable process akin to enabling a feature flag and would greatly reduce the friction for users experimenting with a sandbox plugin.

@mattweber The "option" here is just to install the plugin since sandbox features are inheren

[2022-09-22 17:39] saratvemulapalli commented on #4465
@dipenpatel235 could you drop your logs when you start the node?
Here is mine which clearly loads `respository-s3` plugin:

[code]

[2022-09-22 21:48] cashel1 opened #4602 "[Windows] Unable to parse response body for Response[Bug]:"
### Describe the bug

Installed the new windows 3.0 snapshot, and testing against code that works on 7.10.2 version of elastic.  Utilizing the embedded JDK.  Receive the following error.  The record is posted correctly, issue is with the response.

### To reproduce

Perform individual record or bulk upsert

### Expected behavior

Parse response without error.

### Screenshots

If applicable, add s

[2022-09-23 01:32] itiyama commented on #4555
Based on discussion on [writes on NRT replica with translog](https://github.com/opensearch-project/OpenSearch/issues/3706), it does not look like primary and replicas are completely decoupled for translog writes. What would we then gain by decoupling primary and replicas completely during segment copy? I believe that we should start from this as that will inform and potentially simplify a lot of t

[2022-09-23 04:35] Joelp commented on #2984
On every node restart, I must to do this workaround:

[code]

And after cluster is green:
[code]

[2022-09-23 05:09] dbwiddis commented on #4573
Disclaimer: I'm not an expert in any of this but have spent a few hours digging around.

One thing I found is that the Lucene javadocs for [SynonymGraphFilter](https://lucene.apache.org/core/9_3_0/analysis/common/org/apache/lucene/analysis/synonym/SynonymGraphFilter.html) state

I'm not sure if it's relevant to your case, but thought I'd call that out in case it is.

[2022-09-23 08:37] Bukhtawar commented on #4555
I definitely think we should valuate a poll based model for checkpoints and segment transfer on replica, this should simplify cases not only with remote segment store but also with CCR use cases where we currently have remote cluster poll for operations on the leader cluster.

Now if we go with polling mechanism the replicas can request for segments from the primary or the remote store alike based

[2022-09-23 09:15] sachinpkale opened #4576 "[Remote Store] Feature Feedback"
A meta issue to consolidate all the feedback for the new experimental feature - Remote Store option for improved durability.

Documentation - https://opensearch.org/docs/latest/opensearch/remote/
Feature Proposal - https://github.com/opensearch-project/OpenSearch/issues/1968
Design Proposal - https://github.com/opensearch-project/OpenSearch/issues/2700
Tasks that are part of 2.3 release - https://

[2022-09-23 09:53] ankitkala opened #4577 "Use pull based model for Segment Replication"
**Pull based model for Segment Replication**
We're working on using the existing implementation of Segment replication for cross cluster replication. We've identified 2 major areas in the existing Segment Replication design which doesn't work well for cross cluster replication. Technically we can get around these by overriding those part of implementation just for CCR, but wanted to check if it is

[2022-09-23 10:04] matthew-inamdar commented on #4573
Thanks @dbwiddis - it's worth mentioning that this analyser is only used at query time.

[2022-09-23 11:47] sachinpkale opened #4578 "[Remote Store] During failover, download segments from remote segment store for a lagging replica"
**Describe the solution you'd like**
- This assumes index has Segment Replication and Remote Store enabled (remote translog and remote segment store).
- When fail-over is triggered and the replica to be promoted is lagging, we have two options:
    - Replay operations from remote translog
    - Download segments from remote segment store and replay operations from translog
- Second option is faste

[2022-09-23 11:50] sachinpkale commented on #4555
Created an issue to track this: https://github.com/opensearch-project/OpenSearch/issues/4578. Downloading segments for lagging replica from remote segment store would definitely be faster than replaying all the operations from translog.

We may need to think about common abstraction which will be used to get segments downloaded from remote segment store. Once SegRep is integrated with remote segme

[2022-09-23 13:00] reta commented on #3677
+1 to @andrross suggestion, alrenatively we could publish sandbox plugin ZIPs  into well known repository so people could use it (and make `opensearch-plugin` tool aware of that).

[2022-09-23 17:18] tlfeng opened #4579 "[Refactor] Not load the deprecated node role 'master' in method 'setAdditionalRoles()' which used to load roles defined by plugins"
**Is your feature request related to a problem? Please describe.**
It doesn't look like suitable to load a core node role `master` as "additonal roles".

In commit https://github.com/opensearch-project/OpenSearch/commit/ea3148312622cd1362593e3623d498e57913ae45 / PR https://github.com/opensearch-project/OpenSearch/pull/2424, node role 'master' is deprecated, and the alternative role 'cluster_manage

[2022-09-23 17:18] ryanbogan commented on #4218
Based on the feedback provided, we have decided to proceed with moving Job Scheduler to a native plugin.

[2022-09-23 17:18] #4218 closed

[2022-09-23 17:57] Vishalks commented on #4285
Missed updating this with my findings since I was too focused on getting my local instance run the unit tests without erroring out. The problem lies in https://github.com/opensearch-project/OpenSearch/blob/3ca749f09bf284263391d296af56e01fb81e0cfa/server/src/main/java/org/opensearch/common/time/JavaDateFormatter.java#L99 There is a conflict that Java throws out since we are defaulting day here to 1

[2022-09-24 00:16] tlfeng commented on #4274
Thank you for reporting the legacy code to be removed!
The legacy code in LogConfigurator class have been removed by PR https://github.com/opensearch-project/OpenSearch/pull/4568 / commit https://github.com/opensearch-project/OpenSearch/commit/3ca749f09bf284263391d296af56e01fb81e0cfa.
So that the node name will not be added into log pattern for customized log4j property file from version 3.0
The v

[2022-09-24 00:16] #4274 closed

[2022-09-24 09:16] mitar opened #4584 "Seconds-based date precision (date_seconds) for wider range"
TLDR: I am asking for `date_seconds` field type.

**Is your feature request related to a problem? Please describe.**

I am building an index of various events from human and universe history. I am using Wikidata to populate events and you have for example [Agelacrinitidae](https://www.wikidata.org/wiki/Q35144012) which were present on Earth from 449500000 years BCE to 272500000 years BCE. Currentl

[2022-09-24 09:20] mitar opened #4585 "Allow specifying field names for operators of range field types"
**Is your feature request related to a problem? Please describe.**

For example, currently for `integer_range` field one has to provide such a value object:

[code]

This is problematic if my range field is not structured like this in original data source. My use case is that my incoming documents have `min_price` and `max_price` fields and I would like to index them to a range field. But currentl

[2022-09-24 12:49] 0xf4b1 commented on #4495
@saratvemulapalli thank you for looking into this. Unfortunately, I think this doesn't work either. Since I don't have an access log now, I did a quick test with strace `strace -e trace=open,openat,close -f -o trace.log ./gradlew integTest -PcustomDistributionUrl=/home/fabi/opensearch-min-3.0.0-SNAPSHOT-linux-x64.tar.gz` and the log reveals it never accesses the file but instead accesses `distribu

[2022-09-25 01:08] itiyama commented on #618
@dreamer-89 Can you help re-open this?

[2022-09-25 01:15] dreamer-89 commented on #618
Issue re-opened. @itiyama : Can you please share more details around the issue as requested previously.

[2022-09-25 05:27] dbwiddis commented on #4573
I've spent a few more hours digging into this and haven't found anything obvious.  I've convinced myself that storing the synonyms in the `SynonymMap` is working, but the `SynonymGraphFilter` parsing routines (in the upstream Lucene project) with various lookaheads are a bit too complex to debug without a more narrow reproducible failure case.

[2022-09-26 08:17] rursprung commented on #4274
thanks! i'll re-verify once 3.0.0 is coming out and the removal is in there (it's not a priority for us right now, thus i won't bother testing the latest `main` version manually) and raise a new issue with more details if there's still a problem related to this.

[2022-09-26 08:34] rursprung opened #4589 "gradle: testclusters: provide APIs with File instead of RegularFile"
currently, the APIs for `testclusters` only offers using [`org.gradle.api.file.RegularFile`](https://docs.gradle.org/current/javadoc/org/gradle/api/file/RegularFile.html) or a string with the path to a file, e.g. here for adding plugins:
https://github.com/opensearch-project/OpenSearch/blob/bb47419eeaa3932f6b7f7c6d2b485e896ff420cc/buildSrc/src/main/java/org/opensearch/gradle/testclusters/TestClust

[2022-09-26 09:10] imRishN commented on #3954
Implemented as part of #4084

[2022-09-26 09:11] imRishN commented on #3956
Implemented as part of https://github.com/opensearch-project/OpenSearch/pull/4084 . Can close the issue now

[2022-09-26 09:11] imRishN commented on #4083
Implemented as part of https://github.com/opensearch-project/OpenSearch/pull/4084. Resolving the issue

[2022-09-26 09:11] #4083 closed

[2022-09-26 11:41] Shivacharangoud opened #4591 "join more than two indices using sql query, and limit with offset"
When you are going to release this features:joining more than two indices using sql query and limit with offset.

[2022-09-26 14:12] Shivacharangoud opened #4596 "how can query on multiple indexes,like we do in sql join ( inner join,left join etc) using DSL in opensearch"
how can query on multiple indexes,like we do in sql join ( inner join,left join etc) using DSL in opensearch @anirudha @kyleconroy @spk @mattweber

[2022-09-26 14:16] Bukhtawar commented on #3954
https://github.com/opensearch-project/OpenSearch/pull/4084

[2022-09-26 16:58] xuezhou25 commented on #4545
Update my findings: When `http.detailed_errors.enabled` is set to false and the exception type is from JAVA exception, it will return general message "No OpenSearchException found".(Example from previous reproduction)

Providing another example with `http.detailed_errors.enabled: false` and exception is from OpenSearchException, it will response with `type` and `reason` of root cause:

[code]
If `

[2022-09-26 17:32] aabukhalil commented on #3961
I'm working on this.

[2022-09-26 19:00] mch2 commented on #4577
@ankitkala Thanks for raising this.  Imo the right idea long-term is to let users configure the behavior based on need & add support for a pull model.  However, with segrep having two sources of copy (primary & remote store), is it worth adding a pull model with the primary only implementation of CCR now or should we start with CCR+segrep support only with a remote store?

[2022-09-26 20:27] kotwanikunal commented on #4591
Moving this to the SQL team for further updates.

[2022-09-26 20:31] Shivacharangoud commented on #4596
@anirudha @anirudha @kyleconroy @spk @smortex @

[2022-09-26 20:33] kotwanikunal commented on #4562
This will need support from both the framework/server as well as the client libraries.

[2022-09-26 20:56] kotwanikunal commented on #4596
Hey @Shivacharangoud.
Can you please give an example/sample request that you run with SQL join?

And just to be clear, SQL here refers to - https://github.com/opensearch-project/sql, right?

(Removing the `bug` label)

[2022-09-26 21:09] imRishN commented on #4543
As per comment in #4084 PR -

I'd like to propose a few changes to DecommissionService -

1. Add retry flag to the decommission request object. This flag can only be set internally in the service when the action needs to attempt an retry
2. Add a timeout for the above retry mechanism, so that the decommission action doesn't get stuck in endless loop of retrying
3. Now when the action feels to atte

[2022-09-26 21:14] imRishN commented on #4543
Create a PR for this change here - https://github.com/imRishN/OpenSearch/pull/66/files

[2022-09-26 21:16] imRishN commented on #4543
@shwetathareja @Bukhtawar do let me know your thoughts on this

[2022-09-26 21:22] dbwiddis opened #4601 "Checks for user running as root not working in macOS 11.x+ (bug) or Windows (design)"
**Is your feature request related to a problem? Please describe.**

_Context: I am a committer at the JNA project and have been developing using JNA for 7 years._

The `Bootstrap` class prevents running OpenSearch as root via the  `definitelyRunningAsRoot()` method:
https://github.com/opensearch-project/OpenSearch/blob/c13b679aad33f1f4b622c926cc468b6bb3fff7ef/server/src/main/java/org/opensearch/bo

[2022-09-26 22:36] peternied commented on #3615
For the folks involved in this issue, while resolving this as by design makes sense, it still leaves our plugin stuck without a path to run CI with BWC tests enabled as we look to migrate to OpenSearch v3.0  I've filed https://github.com/opensearch-project/opensearch-plugins/issues/167 to track this question and what our recommendation is - I am going to disable these tests as they are a road bloc

[2022-09-26 22:43] heemin32 commented on #4173
I see the same issue.
Following is from the previous conversation. https://github.com/opensearch-project/OpenSearch/pull/1668

[2022-09-27 00:43] kotwanikunal commented on #1868
Another update: I was able to fork https://github.com/dangoslen/dependabot-changelog-helper and add in additional features to backport the actual changelog line.

It works exactly as I had described above -
- Takes in the original PR number as an input
- Uses the diff api from github to locate the change within `CHANGELOG.md`
- Extracts the changelog entry and section from the original PR
- Locate

[2022-09-27 00:50] kotwanikunal commented on #4561
Please refer to the update on the comment here - https://github.com/opensearch-project/OpenSearch/issues/1868#issuecomment-1258827491

I have the change published at https://github.com/kotwanikunal/changelog-helper

[2022-09-27 06:16] Bukhtawar commented on #4577
Thanks @mch2 I think we should also think about how the interactions would look like if we just had remote store integration with primary(even outside CCR use case). Wouldn't that inherently be a pull based mechanism, where replicas poll for checkpoints and download segments diffs. So I think pull based mechanism will inherently be used even in local cluster with remote store. Now the only place w

[2022-09-27 06:48] RS146BIJAY opened #4603 "Block new index creation"
**Is your feature request related to a problem? Please describe.**
As of now, OpenSearch does not support index creation block at cluster level. This feature will be required to support usecases like  #4456 .

**Describe the solution you'd like**
We want a way to dynamically trigger a setting to apply index create block. This block should only prevent index creation, while write should continue to

[2022-09-27 07:07] navneet1v commented on #4557
Yes this can be seen as a possible solution and I think we should do some brainstorming around how we want to do this.

But as from requirements standpoint, what Jack mentioned on the top is the exact requirements.

[2022-09-27 08:17] Bukhtawar opened #4605 "[Remote Store] Include Codec header and footer for segment metadata"
**Is your feature request related to a problem? Please describe.**
The segment upload to remote store also uploads the metadata containing the primary term and uuid however to this might be susceptible to silent data errors.

**Describe the solution you'd like**
We need to ensure we write the checksum as footer and also ensure we include a header to maintain file versions which should be helpful t

[2022-09-27 09:29] dipenpatel235 commented on #4465
@kotwanikunal
Here you can check In my cluster repository S3 plugin loaded successfully please check it.

[code]

Thanks,
Dipen.

[2022-09-27 11:27] gbbafna commented on #4577
How are we envisioning OpenSearch users to use the SegRep feature :

1. in-cluster segrep with a local store.
2. in-cluster segrep with remote store

If the first one is the way forward for most of them , we might not need to solve for  problems like  https://github.com/opensearch-project/OpenSearch/issues/4245

[2022-09-27 13:10] lake-of-dreams opened #4608 "[BUG]Adding OPENSEARCH_JAVA_OPTS environment variable does not change java process heap settings"
**Describe the bug**
OPENSEARCH_JAVA_OPTS setting not working as expected. Setting `OPENSEARCH_JAVA_OPTS=-Xms3g -Xmx3g` still keeps the jvm process on `-Xms1g -Xmx1g`

**To Reproduce**
Steps to reproduce the behavior:
1. Run an OpenSearch container
[code]

2. The container does gets the environment variable correctly
[code]

3. But the process is still at `1g`
[code]
4. The java param `opensearch.

[2022-09-27 14:11] elfisher commented on #1181
I really like this proposal! I have a couple questions/comments:

1. I think we should aim to have milestone 2 done before we mark this as production ready. Milestone 1 looks like it might leave to many on going tasks across shards even if one search on a shard is cancelled, and so it is difficult to reconcile what the user would expect (partial results, query failure, or something else).
2. Is th

[2022-09-27 14:33] dblock commented on #1181
I think we're missing logging for cancelled tasks similar to slow query logging. Users will want to turn on something like "cancellable tasks logging" to enable dumping the query body in the logs upon cancellation to debug whether the cancellation is typical for one problematic query or index.

[2022-09-27 15:03] kgcreative commented on #1181
in `search_shard_task` -- I'm not seeing a shard ID being returned. I imagine this is because you are querying a specific shard already, but including this information in the response might be helpful

[2022-09-27 15:05] ankitkala commented on #4577
@mch2 For CCR, SegRep with remote store is definitely the first choice for us. Whether we want to support only one combination or both needs to be decided(will bring this up during feature brief). But if we want to keep the option to support segrep without remote store open, it might be worthwhile to do these refactors early on.

For local SegRep, are there any pros of not relying on remote store?

[2022-09-27 15:24] ankitkala commented on #4245
The only trade-off I see is that changes might take longer to be available on all replicas. We might have to implement this in a way that replica doesn't wait for the entire diff and forwards the individual chunk to next replica as soon as it receives.

Also, we might need to depend on a push based model to achieve this.

[2022-09-27 15:46] Bukhtawar commented on #4245
Thats already captured in the description above
"The transfer latency can be minimized by pipelining the data transfer i.e once a copy receives some data, it starts forwarding immediately"

The uber idea here is the transfer mechanism can be agnostic as long as we separate data and control flow. This can be achieved with a pull based transfer by simply inverting the chain which will depend largely

[2022-09-27 16:29] psmagin opened #4609 "Add getter for `path` field in `NestedQueryBuilder`"
**Is your feature request related to a problem? Please describe.**
The only way now to get `path` from `NestedQueryBuilder` is a reflection

[2022-09-27 16:46] dbwiddis commented on #4174
Hey @yeohbraddy I'm not sure there is any automated testing as you're actually testing the automation!
 - you should be able to validate the javadoc check yourself just by checking on the command line that it fails for missing javadocs
 - I believe the github actions automation tries (and always fails) on your forked GitHub anyway, so when you push it you should see it *not* running the gradle che

[2022-09-27 17:13] anasalkouz commented on #4601
Hi @dbwiddis, It makes sense to extend this to other operating system, feel free to submit the changes. we would prefer to have those changes into the next major release.

[2022-09-27 18:04] andrross commented on #4603
I'd love to see a response to @Gaganjuneja's [comment](https://github.com/opensearch-project/OpenSearch/issues/4456#issuecomment-1251756138) about evaluating the various conditions up front to fail an index creation request as opposed to implementing a new cluster level setting. That strikes me as potentially a better solution to the problem.

[2022-09-27 18:54] Bukhtawar commented on #4456
The problem doing a dry-run is we would usually go with an optimistic locking approach assuming that between the dry-run and the actual call nothing else has changes. However it is quite possible that when we did pre-checks the validations returns just about fine but fails during an actual call due to multiple concurrent requests changing the state of the system.

Then we need to understand how sh

[2022-09-27 19:13] dblock commented on #4495
@0xf4b1 it's entirely possible that it's broken - try to debug it, I would throw some System.println's in there and see what it comes up with to start

[2022-09-27 19:15] #3956 closed

[2022-09-27 19:18] dblock commented on #4601
Upgrading JNA is a no-brainer as far as I am concerned.

[2022-09-27 19:20] dblock commented on #4173
Related https://github.com/opensearch-project/OpenSearch/issues/1449 is still open, and would love someone who cares about Mac to contribute, even if it's just the precommit checks.

[2022-09-27 19:21] Yury-Fridlyand commented on #3120
I can build `linux-tar` on WSL2 (Linux Subsystem for Windows). Tested on Windows 10 and 11.

[2022-09-27 19:21] dblock commented on #1868
@kotwanikunal is there a feature here you can try upstreaming into https://github.com/dangoslen/dependabot-changelog-helper? certainly worth your time I think in order to avoid maintaining a fork

[2022-09-27 19:26] dblock commented on #4174
If it's hard to test on a fork but we have reasonable expectation that it will work once merged we can merge that change and see what happens, it's fine.

[2022-09-27 19:35] Yury-Fridlyand opened #4610 "[Proposal] Strictly define OS version in GHA"
## Is your feature request related to a problem? Please describe.
Now all GHA workflows use `ubuntu-latest` runners. The version of OS might be changed in future which might cause failures or crashes.
See example:
https://github.com/opensearch-project/OpenSearch/blob/9b2202aeb3a881c0c2ad72522fa1e2656d5d4d1e/.github/workflows/gradle-check.yml#L13

## Describe the solution you'd like
I propose to st

[2022-09-27 19:36] xavier-isecurity opened #4611 "[BUG] ISM Error Notification - Not sending request for custom webhook"
**Describe the bug**
I have an ISM policy working for all my indices on my opensearch environment and I have configured a custom webhook for error notification.

When a force the index to fail, changing the rollover alias to a wrong one, the ISM notification works fine, it sends the notification for my webhook.

But when it fails because of any other issue in Opensearch, it does not send the notif

[2022-09-27 19:39] Yury-Fridlyand commented on #3120
Maybe, thanks for the idea. I used only `./gradlew :distribution:archives:linux-tar:assemble`. I need to test other workflows and gradlew tasks before publishing any instructions.

[2022-09-28 04:21] gbbafna commented on #4577
@ankitkala  : Thanks , corrected my comment.

Most of the users already use snapshot for durability. So setting up repository shouldn't be a  hindrance IMO. Cost might be a reason not to rely on remote store . @mch2  @Bukhtawar  would know better on this .

I prefer that there are few modes for OpenSearch to operate for ease of operations and maintenance.

[2022-09-28 07:06] tlfeng commented on #4139
I did a simple test to verify the refresh mechanism I mentioned above, and it shown that the fresh function is acting properly.
I will close the issue for now, and please re-open it if you have further question.

1 start an OpenSearch cluster
2 run the script to ingest data to an index continuously
[code]
3 run "cat indices" API to see the current status of document count and storage size
[code]
4

[2022-09-28 07:06] #4139 closed

[2022-09-28 08:54] imRishN opened #4615 "[Zone Decommission] Update peerFinderInterval with backoff policy"
https://github.com/opensearch-project/OpenSearch/pull/4590#discussion_r982088165

[2022-09-28 15:01] imRishN opened #4618 "[Zone Decommission] Decider to prevent shards moving into nodes of to-be-decommissioned zone"
TBD

[2022-09-28 16:08] macohen opened #4619 "[Feature Proposal] Search Logging Metrics/Monitoring"
## What/Why
### What are you proposing?
Currently, there is no way for users of OpenSearch to get a full picture of how search is being used. This proposal is designed to address that issue from the query the user submitted to transformations that were done to the query to the search results returned to what actions the user took on those results. Logging this data will create new capabilities for

[2022-09-28 19:28] kotwanikunal commented on #1868
The current solution on my fork might be too specific to upstream. I'll try generalizing the approach and upstreaming it.

[2022-09-28 21:44] macohen opened #4626 "[Feature Proposal] Given a Raw Search Query, Relevance Engineers/Business Owners Can Compare Two Search Configurations"

[2022-09-28 21:48] macohen commented on #4626
### Summary

Choosing different ranking algorithms can have drastically different effects on the users' search experience. Additionally, any operations on the query after the user submits and before results retrieval or after results are retrieved and before they are displayed can impact the user. This proposal is to build a simple UI in OpenSearch Dashboards to allow a user to visually and manual

[2022-09-28 22:39] dreamer-89 opened #4628 "[Remote Store] Changes requested for segment replication integration."
Coming from https://github.com/opensearch-project/OpenSearch/issues/4555, this isssue captures the changes needed on the remote store side for segment replication integration.

1. Add [StorefileMetadata](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/store/StoreFileMetadata.java) to enable comparison of segment files. Remote store provides [Upl

[2022-09-28 22:44] Vishalks commented on #869
I am working on this

[2022-09-29 01:47] saratvemulapalli commented on #4626
@macohen thanks for opening up the issue. Could you share more details on the proposal and how it would benefit the community?

[2022-09-29 01:47] saratvemulapalli commented on #4626
Also is this something you are willing to take up and work on it?

[2022-09-29 01:49] saratvemulapalli commented on #4618
@imRishN could you share more information on the issue. Also are you actively working on it?

[2022-09-29 01:53] saratvemulapalli commented on #4610
@Yury-Fridlyand thanks for the proposal.
Would it be better if we test against new and old versions, instead of just being static with the versions we know it works with? (GHA supports running with a matrix)[1]

[1] https://devblogs.microsoft.com/premier-developer/github-actions-overview/#matrix-builds

[2022-09-29 01:56] saratvemulapalli commented on #4609
@psmagin thanks for opening up the issue. Trying to understand, what is the use case of using `path`?
Also on a side note, could you contribute the change? (It should be pretty straight forward)[1]

[1] https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/query/NestedQueryBuilder.java

[2022-09-29 03:20] macohen commented on #4626
Yes. I could have left this in draft a little longer, but will add the detail. The idea overall is to build more into the distribution for measuring relevance ranking in search applications so search application owners can more easily understand how different search configurations produce different results and choose one that works well for their use case. More to come and thanks for the comment,

[2022-09-29 03:20] macohen commented on #4626
Absolutely!

[2022-09-29 04:16] saratvemulapalli commented on #4626
Assigned it to you.

[2022-09-29 05:23] Rishikesh1159 commented on #3818
After discussion with team, we decided not to move forward with any of above mentioned solutions. Instead we decided to change the implementation of feature flags.

### **Current behavior of Feature flag:**
We take feature flags input using jvm args. Feature flag setting is a node level setting. When starting up node we check if Feature flag is enabled and we load specific classes related to new f

[2022-09-29 06:45] itiyama opened #4634 "[BUG] Shard deletion from disk does not happen immediately after replica count change."
Shard deletion for a replica follows the following path:

1. Delete from the metadata maintained per node via IndicesClusterStateApplier.
2. Close the store object and decrease store ref count. Store ref is an abstraction over the actual file directory, write accesses to which are managed by a shard lock. The shard lock is released when the store is closed and the ref count becomes 0.
3. IndicesSt

[2022-09-29 07:27] itiyama opened #4635 "Add stats for operation permit queue"
The operation permits are acquired once the indexing operation is picked up for execution. We should be able to identify how old an operation resides in the operation permit queue. There are many side effects for an operation lying around in the permit queue. One of them being not allowing relocation handoff to progress. Can we add a stat that would help me identify what is the oldest operation th

[2022-09-29 07:40] Rishikesh1159 commented on #4495
@0xf4b1 sorry for late response, I missed this issue.

After looking your concern I verified that this feature is still working and not broken. I picked Anomaly Detection plugin to test this feature (any plugin using gradle will work).

### Verfiication Process:
-> Pick any opensarch plugin which is using gradle. I picked Anomaly Detection for testing.
-> Clone the plugin repo. Run any gradle comm

[2022-09-29 09:12] itiyama commented on #4555
Do you mean that primary term check is control flow and actual document or segments is data flow?

[2022-09-29 09:40] psmagin commented on #4609
@saratvemulapalli, it could be useful for creating some complicated queries, the path could be used as a key field to combine nested queries in one.

[2022-09-29 10:55] Bukhtawar commented on #4555
Yes thats how I would look at it :)

[2022-09-29 15:28] uschindler opened #4637 "After update to Lucene 9.4 use `--enable-preview` on Java==19 (exact) to allow mmap use new JDK APIs"
### Description

Apache Lucene 9.4 will have support for Java 19 Panama APIs to mmap index files (using a MR-JAR). See https://github.com/apache/lucene/pull/912 for more information.

As those APIs are not yet enabled by default in the JDK, we have to still use some opt-in approach, controlled by Java's command line:

- Lucene by default uses the old implementation using `MappedByteBuffer` and sev

[2022-09-29 15:52] dblock commented on #4637
Thanks for the detailed proposal. Alongside these changes I think we need to start running at least some CI on both JDK 17 and JDK19. Currently we run 11 and 17 via https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/version.properties#L5.

[2022-09-29 15:56] uschindler commented on #4637
Ah OK, I did not know whcih versions you are running. Because the sister project ES is already on JDK 19 for testing and bundles 18 at moment.

[2022-09-29 16:03] reta commented on #4637
We did some work to support JDK-18, somehow overlooked JDK-19, @dblock I can take this part, will update CI images, etc.

[1] https://github.com/opensearch-project/OpenSearch/pull/1710

[2022-09-29 16:30] reta commented on #4637
@dblock  certainly +1 to give it a try, I think we should be able to run everything on GHA but starting with subset is probably a good idea.

[2022-09-29 16:33] uschindler commented on #4637
Of course when Lucene comes out tomorrow (hopefully, the schedule suggests it, but something bad can always happen), please update Lucene to 9.4.0 first. I have no idea at which stage the snapshot currently used is: 9.4.0-snapshot-ddf0d0a

[2022-09-29 16:53] dblock commented on #4637
@uschindler Yes, of course, but don't let us stop you :)

[2022-09-29 17:20] kotwanikunal commented on #1868
Thanks. I agree. That's the change that I have created for the `backport` GHA and I agree, that's upstreamable as is. I am just waiting to test it out.

I was discussing about an additional one that I have forked ([linked here](https://github.com/kotwanikunal/changelog-helper)) to enable line based cherry-picking of changelog using diffs from the original PR.

[2022-09-29 17:47] andrross commented on #4545
@reta @nknize Sorry for spamming folks here but looking for some guidance on a small but potentially impactful API change.

The [current behavior when `http.detailed_errors.enabled: false`](https://github.com/opensearch-project/OpenSearch/blob/465771631d2e3a5001d97d0c7e845e6f8ea6bd15/server/src/main/java/org/opensearch/OpenSearchException.java#L595-L608) is to only send exception type name and mes

[2022-09-29 19:19] imRishN opened #4640 "[Zone Decommission] Add route to get decommission status for particular attribute"
https://github.com/opensearch-project/OpenSearch/pull/4261#discussion_r983785299

[2022-09-29 19:44] andrross commented on #4545
Thanks @reta !

Looking at this a bit more, what do you think about mirroring the logic in [ExceptionHelpers.status()](https://github.com/opensearch-project/OpenSearch/blob/14704b30cafadcfdcd7cd81961ee07452804b0c3/server/src/main/java/org/opensearch/ExceptionsHelper.java#L87-L990) with something like the following?

[code]

The logic in OpenSearchExceptions would become:

[code]

We'd mirror the l

[2022-09-29 19:46] reta commented on #4545
LGTM @andrross, I think it is reasonable alternative

[2022-09-29 21:56] mch2 commented on #4628
+1.  This is what I was suggesting [here](https://github.com/opensearch-project/OpenSearch/issues/2700#issuecomment-1135364971).  The cost of performing a flush without fsync is effectively a refresh yet we still write a segments_N that can be pushed to the store.  This also has the added benefit of more accurate seqNo/checkpoint data sent between shards stored in user data of the commit, with the

[2022-09-29 22:53] dreamer-89 commented on #4555
Thank you folks for the inputs. The comments really helped in identifying different problem areas and the probable solutions.

From POC perspective, pull based model where replica directly polls the remote store for new replication checkpoints seems better bit. The data deletion from remote store is not considered as part of this POC though remote store currently purges [older than N](https://gith

[2022-09-30 01:00] saratvemulapalli commented on #4610
@Yury-Fridlyand are you open to contributing the change?

[2022-09-30 05:23] dbwiddis commented on #4637
+1 on this. I've been playing around with JDK19 and there's some great performance gains to be had.  Downside is the temporary nature of anything we do, as we'll have to tweak it for 20 and then 21, but will be good to work out the kinks with an opt-in.

[2022-09-30 05:57] anantsingh09 opened #4643 "[Opensearch fails while performing bulk request for new index]"
**Describe the bug**
While i try to do a bulk upload to the opensearch , it fails with error:
Exception in thread "main" java.io.IOException: Unable to parse response body for Response{requestLine=POST /_bulk?timeout=1m HTTP/1.1, host=http://localhost:9200, response=HTTP/1.1 200 OK}

**To Reproduce**
Steps to reproduce the behavior:
1. [Opensearch rest](opensearch-rest-high-level-client:1.3.0)
2.

[2022-09-30 07:24] uschindler commented on #4637
@dbwiddis You can use a similar approach for/with JNA vs. panama-foreign like we do by using an MR-JAR and adding some try/catch logic when loading the classes.

[2022-09-30 08:42] rursprung commented on #4545
thanks for the discussion! the suggestion from @andrross would already be an improvement, but e.g. the settings API would then still not report anything useful (i.e. for a caller getting an error it'd still be unclear what he did wrong / what he'd have to change in order to make his call work). the problem is that `IllegalArgumentException` is a generic java exception - the code cannot know whethe

[2022-09-30 11:41] vijal-patel commented on #4223
could I work on this one?

[2022-09-30 11:45] dhruv16dhr commented on #3959
Point-In-Time flaky tests : https://github.com/opensearch-project/OpenSearch/pull/4632

[2022-09-30 11:54] dhruv16dhr commented on #3959
@bharath-techie Lets close the previous Point In Time Security Changes open PRs and only keep the new changes with the simplified model.
Did we update the [security model](https://github.com/opensearch-project/security/issues/2087) with the simplified model that is concluded upon? If yes, lets close this alongwith [pit backend design proposal](https://github.com/opensearch-project/OpenSearch/issue

[2022-09-30 13:38] diachedelic opened #4649 "[BUG] Slow index creation on MacOS"
**Describe the bug**
It takes ten times longer to create an index (`PUT /my_index`) using the MacOS build of OpenSearch than in Docker.

Attempting to create several indexes at once ends up taking several times as long as creating a single index, yet OpenSearch's process does not seem to be CPU or memory bound. There do not appear to be any errors or warnings in the log.

This is not a problem in

[2022-09-30 16:38] dbwiddis commented on #4482
Closing this issue as support is happening and the project is configured.  Looks like some people were planning this before I even thought of asking!

[2022-09-30 16:38] #4482 closed

[2022-09-30 16:59] #4579 closed

[2022-09-30 17:12] kotwanikunal opened #4652 "[Searchable Snapshots] Add a new node role for remote search capabilities"
**Is your feature request related to a problem? Please describe.**
- Searchable snapshots will utilize a remote shard mechanism in which the entire shard will not be downloaded onto the node
- To suit this use case, we would like to have a set of nodes which can provide this capability. It will be enabled by adding support for a new `REMOTE_SEARCHER` node role

**Describe the solution you'd like**

[2022-09-30 17:25] Vishalks commented on #869
@Hronom Is this still an ask to get a deep copy of SearchRequest? If yes, I can start working on it and create  a PR.

[2022-09-30 18:07] pranikum opened #4654 "Handle specific awareness attribute clearing during recommission"
Currently as part of recommission we clear the decommission attribute set in cluster state.
Instead we should be clearing the specific awareness attribute set for decommission for handling multiple awareness attribute.

https://github.com/opensearch-project/OpenSearch/pull/4604#discussion_r983389869

**Describe the solution you'd like**
API should support passing of awareness attribute name

**Des

[2022-09-30 18:12] tlfeng commented on #3650
Close this issue, the test failure of `DiskThresholdDeciderIT > testRestoreSnapshotAllocationDoesNotExceedWatermark` will be tracked in issue https://github.com/opensearch-project/OpenSearch/issues/4162

[2022-09-30 18:12] #3650 closed

[2022-09-30 18:39] dblock commented on #4652
Is this an important static capability, or is it an optimization that can it be modeled with dynamic node role that doesn't always exist? Meaning if no node was "remote searcher", could you fall back to a "data" node? If that's the case then you can use https://github.com/opensearch-project/OpenSearch/pull/3436 with no code changes.

[2022-09-30 18:44] anasalkouz commented on #4618
@imRishN Please make sure to add more details into the issue description before creating the issue

[2022-09-30 18:44] anasalkouz commented on #4615
@imRishN Please make sure to copy the content of the comment into issue description and add enough context

[2022-09-30 18:51] anasalkouz commented on #4562
Hi @mgodwan,
Can you elaborate on the usecase? I know that bulk api provides count of failures and successes on the API response, but why we need the Failure Count on cluster/node level? is there any other similar stats metrics on cluser/node level?

[2022-09-30 18:52] andrross commented on #4545
@rursprung I agree with your points. I think we should go ahead with the proposal above that will result in no longer responding with the confusing/unhelpful "No OpenSearchException found" text.

Separately, I think we should update the [AbstractScopedSettings class](https://github.com/opensearch-project/OpenSearch/blob/3aef125d0dbf2f29d9bf00b84cb52892a27a5328/server/src/main/java/org/opensearch/c

[2022-09-30 19:22] andrross opened #4655 "[Searchable Snapshots] Fail gracefully with proper error message for invalid operations (e.g. writes)"
Searchable snapshot indexes are inherently read only. This goal of this task is to enumerate the operations that are invalid for a read-only searchable snapshot index, and then implement the behavior to respond with a proper error message. The concept of read-only indexes is not new in OpenSearch so existing capabilities may be able to be used here. This task does depend on #4138 to implement the

[2022-09-30 19:38] peternied commented on #4485
@scrawfor99 I think this would be a good first issue to engage with around the new identity systems.  Please feel free to tag @DarshitChanpura or myself if you have questions

[2022-09-30 20:05] kotwanikunal commented on #4652
This is a required capability where we will need additional node configuration for a node to perform as a remote searcher.

[2022-09-30 20:26] dbwiddis commented on #4637
@uschindler it's less the practical aspect (it can be done) but more the future question of "what do we do a year from now when JDK 21 LTS is out".   Or even 6 months from now when JDK 20 is out and JDK 19 is EOL and no longer receiving updates.

Are we going to continue to "support" older versions that are not getting security updates (which I might suggest are more likely with native memory acce

[2022-09-30 21:00] peternied commented on #4162
+1 failure, see https://build.ci.opensearch.org/job/gradle-check/3649/testReport/junit/org.opensearch.cluster.routing.allocation.decider/DiskThresholdDeciderIT/testRestoreSnapshotAllocationDoesNotExceedWatermark/

[2022-10-01 05:00] rdanielwetan commented on #2756
I would like to take this issue please

[2022-10-01 13:51] uschindler commented on #4637
Hi,
My plan is to have another Gradle SourceSet in Lucene for 20 and then one for 21. The logic to load will be the same (no changes needed).

If I figure out that in JDK 20 there are no API changes (most likely for the part of Panama we use), we may just add a Gradle task to copy the 19 class files to the 20 MR-JAR folder while paring classfile version. This spares us to autoprovision JDK20. I wi

[2022-10-01 18:39] dbwiddis commented on #2756
Hi @rdanielwetan thanks for stepping up to help!  It's all yours, let us know if you have any questions!

[2022-10-01 23:46] dbwiddis commented on #4637
I think that aligns with my thinking.  Of course I'm not the one to convince. :-)

[2022-10-02 11:37] yeohbraddy commented on #4174
https://github.com/opensearch-project/OpenSearch/pull/4660/

[2022-10-03 09:57] Gaganjuneja commented on #4456
Thanks @Bukhtawar for clarifying and it does make sense as well. Optimistic locking is definitely a very costly operation here. We could think of something like resource allocation. Each request has some system requirements in terms of CPU, Disk, Memory, etc. and if we can try reserving these resources for the request and if it succeeds then the actual request will be processed otherwise reserved

[2022-10-03 10:12] rursprung commented on #4545
i think that's a sensible trade-off, but it's then probably something which should be kept in mind when adding any new exceptions anywhere in the system: you always have to consider whether it should be an `OpenSearchException` or if it can be something else. and it might mean patching quite a few APIs over time if people encounter errors there and need a better error message.

[2022-10-03 13:40] mgodwan commented on #4562
@anasalkouz While the API response contains the error as true/false, it is upto the clients to record the metric. As an operator, I don't have visibility into the statistics of how cluster or specific nodes are behaving with regards to failures for specific bulk items. e.g. if there is a bad node which fails to perform coordinating actions, or is behind the current cluster state for certain shards

[2022-10-03 13:51] MrakoMaks commented on #3546
I have a similar problem.

Opensearch 2.3.0
Logstash OSS 8.4.0
Ubuntu 20.04.5

filter:
[code]

In discover, I see only geoip.geo.location.lon and geoip.geo.location.lat

![image](https://user-images.githubusercontent.com/84027393/193593595-6f8920d7-2cc6-4774-9558-8186120ce1ba.png)

At the same time, there is data in json:

[code]

[2022-10-03 15:30] nir-logzio commented on #2900
Since this issue is closed, where can I ask questions about this topic?

[2022-10-03 16:21] Yury-Fridlyand commented on #4610
Yes. I'll run tests first.

[2022-10-03 18:14] #1779 closed

[2022-10-03 19:53] Rishikesh1159 opened #4665 "[Segment Replication] Fix Failing RelocationIT tests with Segment Replication Enabled."
**Describe the bug**
Currently few tests in [RelocationIT](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/recovery/RelocationIT.java) fail with segment replication enabled. Scope of this issue would be fixing those failing tests and creating an entire new IntegTest class for RelocationIT tests with segrep always enabled.

**To Reproduc

[2022-10-03 20:34] andrross commented on #4652
My intuition is that we want this as an important static capability. I believe it's _possible_ to design the system to work that a regular data node can fallback to acting as a remote searcher, but it is generally a sub-optimal setup. The static role would require a user to be intentional about such a setup by applying both roles to a given node.

Having typed all of that, I suspect that is true a

[2022-10-03 20:53] jianwu opened #4666 "[BUG] JPS keep showing `-Xms1g -Xmx1g`, even after I specified it in OPENSEARCH_JAVA_OPTS"
**Describe the bug**
When I start OpenSearch in Docker, I specified the `OPENSEARCH_JAVA_OPTS="-Xms3g -Xmx3g"`, but this value won't be reflected in `jps`. Not sure if this is just `jps` display problem or the memory setting is not applied at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `docker run --env OPENSEARCH_JAVA_OPTS="-Xms3g -Xmx3g"  -p 9200:9200 -p 9600:9600 -e "discove

[2022-10-03 21:09] Vishalks commented on #4655
I am looking into this

[2022-10-04 04:05] getorca commented on #1018
curious, any eta on this?

[2022-10-04 06:36] BhumikaSaini opened #4671 "Add Maintainer Responsibilities"
**Is your feature request related to a problem? Please describe.**
Our repo is growing at a pace where we need to onboard more maintainers who will engage closely in our community efforts. Outlining the responsibilities of a maintainer for this repo would help interested folks work towards them and help us get more maintainers onboarded, backed with data and a strong supporting portfolio.

**Descr

[2022-10-04 06:41] #4671 closed

[2022-10-04 10:13] anubisg1 opened #4672 "[BUG] processors:set.copy_from: isn't understood breaking pipelines"
**Describe the bug**
With Elasticsearch 7.11 (i.e. the version immediately after OpenSearch fork), "copy_from" option for the "set" processor has been introduced, here - https://www.elastic.co/guide/en/elasticsearch/reference/7.11/set-processor.html

this breaks a lot of pipelines, registering pipelines will throw the following error:

[code]

a workaround is available and requires to change

[cod

[2022-10-04 11:15] svenso opened #4673 "OpenSearchJsonLayout logs newlines in json"
**Describe the bug**
Using the OpenSearchJsonLayout for logging out of a docker container adds newlines in the generated json-string when a stack-trace is appended. This makes it unnecessarily hard to process the logs by a line based log-agent.

**To Reproduce**
Steps to reproduce the behavior:
Use the following log4j2 config:
[code]
which generates logs like this:
[code]

**Expected behavior**
No

[2022-10-04 12:26] reta commented on #4666
@jianwu see please https://github.com/opensearch-project/opensearch-devops/issues/93

[2022-10-04 13:12] Lmaquaire92 commented on #4508
my workaround :

add pem files to cacerts during image's build:

WORKDIR /usr/share/opensearch/jdk/lib/security/
RUN keytool -import -trustcacerts -alias vs-exch -file XXX.pem  -keystore cacerts -storepass changeit  -noprompt
RUN keytool -import -trustcacerts -alias vs-mainserv -file XXX.pem  -keystore cacerts -storepass changeit  -noprompt

[2022-10-04 13:31] macohen commented on #3996
It looks like this is the query we would need to include: https://lucene.apache.org/core/9_4_0/sandbox/org/apache/lucene/sandbox/search/CombinedFieldQuery.html. For something in Lucene sandbox with potential changes in API, I think we would want to consider this part of an experimental release.

[2022-10-04 13:52] nishchay21 opened #4675 "Add feature to ignore indexes starting with dot on shard limit validation."
**Is your feature request related to a problem? Please describe.**
Today on the ShardLimitValidator as mention here [code](https://github.com/opensearch-project/OpenSearch/blob/7b75fb425f9df2b96049dac8c7dc13273f5026fd/server/src/main/java/org/opensearch/indices/ShardLimitValidator.java#L98) only system indexes are ignored from shard limit validation however other plugins which do not inherit syste

[2022-10-04 16:22] #4609 closed

[2022-10-04 16:53] saratvemulapalli commented on #4465
@dipenpatel235 thanks for the logs.
I do see: `[cordinator] loaded plugin [repository-s3]`.
I am really surprised why `type s3` error is showing up.

Do you mind turning on debug logs and try registering the snapshot repo?

[2022-10-04 17:38] #4285 closed

[2022-10-04 18:24] msfroh commented on #3996
It looks like the server already has a dependency on lucene-sandbox: https://github.com/opensearch-project/OpenSearch/blob/main/server/build.gradle#L109

So, I think it makes sense to add this to the core as a new `CombinedFieldQueryBuilder` under https://github.com/opensearch-project/OpenSearch/tree/main/server/src/main/java/org/opensearch/index/query

[2022-10-04 23:48] msfroh commented on #3996
I'm working on adding an API that supports the following:

[code]

I'm thinking of applying the following logic:
1. If an explicit `analyzer` is specified, we'll pass the `query` string to the specified analyzer to generate tokens from which we'll extract terms which we'll pass to the Lucene [`CombinedFieldQuery.Builder`](https://lucene.apache.org/core/9_4_0/sandbox/org/apache/lucene/sandbox/searc

[2022-10-05 00:16] msfroh commented on #3996
Here is that logic captured in code:

[code]

I still need to write some unit tests before I have a PR ready.

[2022-10-05 00:20] msfroh commented on #3996
Oh... I should also probably handle the case where no terms are produced, with an optional `zero_terms_query` parameter.

[2022-10-05 02:10] Yury-Fridlyand commented on #3996
I think we should support the same parameters as elastic has: https://www.elastic.co/guide/en/elasticsearch/reference/8.4/query-dsl-combined-fields-query.html.

[2022-10-05 06:44] MrakoMaks commented on #3546
The problem was solved by adding a parameter `ecs_compatibility => "disabled"`

[2022-10-05 12:22] ayushKataria commented on #4291
@dreamer-89 If no one else is working on this issue, I'll like to take it up as my first contribution to the project.

[2022-10-05 14:10] dblock commented on #4652
@kotwanikunal What are things that would go into the additional node configuration?

@andrross Maybe my question implied fallback too much. We can also use the dynamic node capability without fallback.

Reading the issue the tl;dr difference between a remote search node and a regular data node in which the entire shard will not be downloaded onto the node, correct? Is there more to this node? Does

[2022-10-05 14:19] dblock commented on #4672
Are you suggesting we implement `copy_from` in OpenSearch?

Please feel free to contribute an implementation without looking at/copying any code from Elasticseach.

[2022-10-05 14:22] dblock commented on #4673
I am wild-guessing that this was added for readability of the logs when debugging. Not sure how we can have it both ways 🤔

[2022-10-05 14:22] dblock commented on #4666
Closing as dup of https://github.com/opensearch-project/opensearch-devops/issues/93.

[2022-10-05 14:22] #4666 closed

[2022-10-05 14:25] anubisg1 commented on #4672
i am asking to implement something that allows compatibility with pipelines created for elasticsearch 7.11 and newer and use `copy_from`

i'm not asking to copy their implementation of that field .

happy to help in any way, but i am not a software developer unfortunately so i wouldn't know where to start

[2022-10-05 14:29] dblock commented on #1448
How much of the tests is precommit running? For example, will tests in https://github.com/opensearch-project/OpenSearch/pull/4656 be exercised in CI with the change, or did we close this prematurely?

[2022-10-05 14:29] dblock commented on #1448
@saratvemulapalli ^

[2022-10-05 17:09] andrross commented on #4602
Hey @cashel1 can you provide the information requested? On the surface this looks your client is being tripped up by an API change, which is expected in major version updates. We'll need more details about the actual versus expected response to go deeper here. I'm going to close this issue but please do reopen if you can provide more details and we can investigate further.

[2022-10-05 17:22] andrross commented on #4585
My intuition is that transforming your data upon indexing here is the right way to go, as opposed to adding the flexibility to handle any input structure. Adding additional mappings for your field names will work for your use case but this seems like a bit of a rabbit hole to go down to handle any arbitrary input structure. Storing the original data additionally (as you proposed) I think is genera

[2022-10-05 17:24] saratvemulapalli commented on #1448
@dblock thats a good point. Precommit only runs few basic checks but does not run unit/integ tests.
I'll re-open this to add gradle check support for Windows.

Thinking about next steps, I am worried if we do have multiple gradle checks (linux, windows) the chances of failure multiplies (unfortunately due to flaky tests).

How about splitting platform specific tests and only run them on windows/ma

[2022-10-05 17:45] andrross commented on #4652
@dblock

The intent is for the role to serve two purposes:

1. Requires that part of the local disk is reserved for caching the remote index data (this is the additional configuration)
2. Ensures that "remote" shards are only allocated to these nodes

[2022-10-05 17:47] Bukhtawar opened #4686 "[BUG] Improper status codes for snapshot execution"
**Describe the bug**
A missing S3 bucket for the snapshot results on a 503

[code]

Then a concurrent snapshot exception is a 503

https://github.com/opensearch-project/OpenSearch/blob/15161a86491569d94642f3a88174e1389218b303/server/src/main/java/org/opensearch/snapshots/ConcurrentSnapshotExecutionException.java#L45-L62

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on

[2022-10-05 17:48] Bukhtawar opened #4687 "[BUG] Improper status codes for snapshot executions"
**Describe the bug**
A missing S3 bucket for the snapshot results on a 503

[code]

Then a concurrent snapshot exception is a 503

https://github.com/opensearch-project/OpenSearch/blob/15161a86491569d94642f3a88174e1389218b303/server/src/main/java/org/opensearch/snapshots/ConcurrentSnapshotExecutionException.java#L45-L62

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on

[2022-10-05 17:49] #4686 closed

[2022-10-05 19:43] mitar commented on #4585
I am not sure if there is really a rabbit hole here. Currently, there is just implicit `expected_attendees.gte` field name expected, and not sure why it could not be `expected_attendees.min` or `expected_attendees_min` even? Once that is configurable, there is no other structures to support, I cannot imagine one at least, so not sure what would be the other things deeper in the rabbit hole if we s

[2022-10-05 22:41] Vishalks commented on #869
Hi @Hronom, following up on this again to check if this is still an ask. If not, I will be closing it.

[2022-10-06 00:02] andrross commented on #4596
Closing due to no follow up.

@Shivacharangoud feel free to reopen if you still have questions. Please note that the [forum](https://forum.opensearch.org/) is also a great place for general discussion and to seek help about OpenSearch.

[2022-10-06 00:05] andrross commented on #4635
@itiyama Can you be more specific about what you're thinking here? Are you thinking of an addition to a node stats API? A specific suggestion for the API change might be helpful.

[2022-10-06 04:12] dreamer-89 commented on #4291
Thank you @ayushKataria for the interest.
@sreenath-tm : Can you please confirm if you are working on this issue

[2022-10-06 04:40] itiyama commented on #4635
The [index operation permits ](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/shard/IndexShardOperationPermits.java#L70)are tracked at per shard level. I would put this as a shard/index level stat in the stats API.

[2022-10-06 05:24] svenso commented on #4673
That's true. But usually, JSON is not the best format, if you plan to read it as is.

Other solutions might be, that we implement flags like in JSONLayout of log4j2 (compact=true for example), but I understand, that this is a quite manual job (due to missing jackson-databind library & security considerations we cannot use JSONLayout directly as far as I understand).

[2022-10-06 07:01] anshu1106 commented on #4525
Closing this issue. This is fixed in [4241](https://github.com/opensearch-project/OpenSearch/pull/4241)

[2022-10-06 07:10] anshu1106 opened #4690 "[BUG] Deserializing weighted routing metadata"
**Describe the bug**
Deserialization of weighted routing metadata is failing on process restart.

**To Reproduce**
Steps to reproduce the behavior:
1. For a multi az domain, set weighted routing weights using curl command ```curl -X PUT "localhost:9200/_cluster/routing/awareness/zone/weights" -H 'Content-Type: application/json' -d '{"us-east-1c" : "1", "us-east-1b":"0", "us-east-1d":"1"}' ```
2. R

[2022-10-06 11:13] Manishpandey11 commented on #4223
Hi ,I want to work on this issue

[2022-10-06 13:00] mxptrs-px opened #4694 "Migrating to OpenSearch but query slower than expected"
Hi Guys,

We consider to move to OpenSearch as search cluster for our solution. The first test showed that performance for our search queries seems to be much slower than in our ElasticSearch setup.

We tested this in a simple scenario, which is described below. The result times of the queries are as follow (when executed 1000x)

[code]

Test scenario:

- single node search engine (in docker, 4gb

[2022-10-06 13:40] dblock commented on #1448
AFAIK the majority of flakey tests are integration and it's a separate (albeit important) problem. I believe there's a set of unit tests that never fails and we should start with that and keep increasing coverage. Starting with platform-specific tests is a good idea, I would gladly merge just that!

[2022-10-06 14:43] dblock commented on #4585
If I understand this correctly the first part of the proposal is to be able to specify `min` and `max` vs. range operators. Is this just an alias where `min=gte` and `max=lte`? I am guessing those were chosen to allow `lt` and `ge` and multiple names to accomplish the same thing doesn't seem common, but I could be wrong - any known examples?

Is the second proposal is to be able to transform 2 fie

[2022-10-06 15:58] Bukhtawar commented on #4694
Also it might be good to see how the numbers stacked up for OPENSEARCH-1.0

[2022-10-06 16:11] andrross commented on #4652
@dblock

I do expect there to be separate "index" and "search" nodes as has been discussed. It's a fair question whether the "remote" aspect of it should be baked into the role. The purpose of the "remote" part is to ensure the requisite cache configuration has been supplied, but we could either define reasonable defaults or fail at runtime if the required configuration is not present. I do like t

[2022-10-06 16:21] ankitkala commented on #4555
Overall proposal looks good to me. Few open questions that we probably need to elaborate.
- How often do we want to commit? Wouldn't it make the consistency worse?
- Can we also expand on the the control flow for replica to access primary's remote store?
- Just to confim, for pull based method, we'd be syncing Replication checkpoint to the remote store as well right?

[2022-10-06 16:29] Hronom commented on #869
@Vishalks still an ask, sometime you have common parts and common code that fill this parts in search request and later on you need to copy what was already input there to use in multi search request, so this is where deep copy needed

[2022-10-06 18:22] cameron-hurd commented on #1583
@rawpixel-vincent curious what the solution here was?  we are running into a similar 429 issue

[2022-10-06 20:54] mitar commented on #4585
Yes.

This looks great syntax. Exactly that.

I mean, many things can be accomplished by a transform, but OpenSearch still supports it, for example, everything about data formatting and parsing. It could just accept millisecond values (what it uses internally) and asks users to parse their dates before ingest manually, but it does support formats for parsing instead. And this to me here is similar

[2022-10-06 22:23] peternied commented on #4485
Yes, I would say that every extensions communication channel should have its own cert/exchanged secret to secure communications.  See the [Communication Security](https://github.com/opensearch-project/opensearch-sdk-java/blob/main/SECURITY.md#communications-security-comsec) section from the extensions security considerations.

That said, I'm not sure how certificates relates to the the encrypted t

[2022-10-06 22:47] cwperks commented on #4485
Thank you Peter. I want to make sure I am thinking about this issue the correct way. Is there a principal we can contain in a JWT and try out a library like JJWT (https://github.com/jwtk/jjwt) to create a cryptographically signed token?

We can pass the identity token in the payload of the JWT similar to what is show on the JWT.io site:

[code]

[2022-10-07 02:46] #4545 closed

[2022-10-07 03:57] p1729 commented on #4687
I would like to work on this @Bukhtawar. Will the status code always be a `400` or must it be based on error context e.g 404 in the above example? // CC @andrross

[2022-10-07 05:52] sachinpkale commented on #4555
Does this replace `refresh` operation with `commit`? Commit also performs other operations like translog purge. Let's take a look at all the operations involved in `commit` flow.

Also, this would require `recovery` flow to be integrated with remote store. Otherwise, recovery can cause data loss.

[2022-10-07 05:55] Bukhtawar commented on #4687
@p1729 Thanks for offering to contribute. Below error codes should do.
ConcurrentSnapshotException -> 429
RepositoryException(bucket not found) -> 404

[2022-10-07 10:15] mxptrs-px commented on #4694
I added a basic type to my mapping and reran the tests (on a different system today, so the absolute times are higher, but the relative differences are still there).

<details>
  <summary>settings.yaml</summary>

[code]
</details>

<details>
  <summary>Query is nearly the same</summary>

[code]
</details>

[code]

Opensearch 1.0.0 is pretty slow for the ngram analyzer. I repeated the test a few ti

[2022-10-07 12:15] dblock commented on #4652
I would be much more comfortable with a "search" role vs. "remote search" as a "node optimized for search" and other parameters such as whether "part of disk is reserved for cache" becomes a configuration parameter that is independent of the role (but may have some semantics like "cannot be enabled on a node that's not "search").

[2022-10-07 12:24] dblock commented on #4585
1. I am not sure what the conventions are around aliases, do you (or does anyone) know of a precedent for introducing aliases for functions?
2. If you want to try implementing this, see if you can accomplish the transform with a plugin. I do suspect that the more generic transform feature for all `*_range` types is going to be very far from trivial, but always welcome PRs to look at suggested impl

[2022-10-07 13:27] cwperks commented on #4485
Looking at the security plugin codebase we already have an existing dependency on `io.jsonwebtoken:jjwt-api:0.10.8` (See: https://github.com/opensearch-project/security/blob/main/build.gradle#L305). That should be another library to consider as well.

[2022-10-07 13:56] dblock commented on #4694
Looks like a 12-14% difference between 7.11 and 2.3.0, so there's definitely something going on. A handful of ideas.

1. Are you trying with the `-min` distribution and just swapping ES for OpenSearch, or enabling/disabling other things?
2. Make sure G1GC is enabled. Are you running ES/OS on Different Java versions?
3. We forked at 7.10.2, could be some optimization in 7.11. You can rule that out

[2022-10-07 14:49] dblock commented on #4585
I think either works for a prototype. If you develop your own plugin then you get a ton of freedom to innovate in whichever way you want! We can always adopt it in the official project/distribution over time if it becomes popular.

I don't know this area well, maybe someone else can suggest something?

[2022-10-07 14:55] peternied commented on #4485
Gah, that title was slightly misleading, restating the core problem we are trying to solve with the principal identity token are

1) extensions need a way to differentiate User A from User B
2) this mechanism needs to survive being (de)serialized
3) the extension should not be able to use this token to identify the user unless the operations of the cluster have allowed it.

We already have `princi

[2022-10-07 15:17] peternied commented on #4485
Here is a diagram of how this tokens would be passed around with extensions

[code]

[2022-10-07 17:54] nssuresh2007 commented on #1181
We are proposing the following update to the stats API structure in order to address the following points:

1. Include shard ID information in the cancellation breakup which would be useful. (Addresses comment from @kgcreative)
2. `search_shard_task` is made the top-level node within which all meta data related to search shard task is added. With this, we are no longer tied to use the same structu

[2022-10-07 20:37] scrawfor99 commented on #4485
I am wondering if encryption/decryption is required here or just hashing. It seems like we only ever check the contents on the core side so that would mean that we could simply hash deterministically and check as needed. The extension needs to be able to recognize a principal but that does not mean the principal cannot be a hash just that it must be deterministic.

Can someone clarify why we want

[2022-10-07 21:22] dreamer-89 commented on #4291
@sreenath-tm: Can you please confirm if you are working on this issue ? If not, @ayushKataria would like to take this forward.

[2022-10-07 21:30] sreenath-tm commented on #4291
Hi sorry for the delay in response. @ayushKataria please feel free to take it forward.

[2022-10-07 22:40] peternied commented on #4485
Consider a scenario where the extension is looking up the user for some kind of display purpose, the only information it will have is the PIT (principal identifier token), it will need to ask OpenSearch to provide the display name, which could change at any time.

This value can be looked up by the principal but if we only have a hash we will have to hash all possible principals until we find it,

[2022-10-08 14:10] reddy-s commented on #1475
This would be awesome feature to have. Any plans to start development on this?

[2022-10-09 04:55] dbwiddis commented on #4223
@Manishpandey11 Go ahead and submit a PR!  Let us know if you need help.

[2022-10-09 05:12] techrajdeep commented on #869
I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 05:15] techrajdeep commented on #4102
I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 05:15] techrajdeep commented on #1640
I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 17:11] reta commented on #1640
@techrajdeep sure, your help would be much appreciated, what kind of help on this issue do you need?

[2022-10-10 05:51] amitchakraborti9 commented on #2659
Hello, I would like to try working on this issue.

[2022-10-10 06:40] techrajdeep commented on #1640
@reta Is this issue still available. If available , could you please assign it to me.

[2022-10-10 07:26] sachinpkale opened #4718 "[BUG] [Dev Setup] Assertion failure while creating index with remote_store.enabled=true"
**Describe the bug**

While creating an index with remote store enabled setting in developer setup, following exception is thrown.

[code]

[2022-10-10 07:31] vijal-patel commented on #4223
@Manishpandey11, you can go for it, I haven't done much work on this as I don't have the electricity supply to work on this one right now (rolling power cuts in South Africa).

[2022-10-10 08:15] pranikum opened #4720 "[Zone Decommission]: Add force flag to skip the timeout for node drain during recommission"
**Is your feature request related to a problem? Please describe.**
As per discussion on comment https://github.com/opensearch-project/OpenSearch/pull/4586#issuecomment-1272726495
Though we can achieve the force flag behavior by setting the node drain timeout to 0 in the request. Still it's better to provide support of a flag in the API so that recommission is done immediately.

**Describe the solu

[2022-10-10 08:20] pranikum opened #4721 "Skip the drain timeout if the active request count is 0"
**Is your feature request related to a problem? Please describe.**
As per discussion https://github.com/opensearch-project/OpenSearch/pull/4586#issuecomment-1272726495
It better to skip the node drain timeout if the request count is already 0. Call node stats API 2 times before the node drain timeout starts after the weights are set and after the timeout ends.

Currently we are only doing when the

[2022-10-10 09:23] rursprung commented on #1868
something else i just noticed after contributing the first time since this rule has been established: it's rather impractical to add a reference to the PR in the changelog as that means that you first have to push your commit(s), create a (draft) PR, then update the changelog, commit & push that again (if you do it in the unclean way you just have an "update changelog" commit added, otherwise you

[2022-10-10 09:33] rursprung commented on #1868
and one more thing: i just created https://github.com/opensearch-project/OpenSearch/pull/4723 which has no user-facing impact (purely internal to the build system, even w/o any impact there). IMHO this shouldn't be listed in the CHANGELOG at all (users don't care about this and reading about it just costs them time and confuses them until they find out that it has no impact for them). however, the

[2022-10-10 10:27] dhwanilpatel opened #4724 "[Master Task Throttling] Expose throttling exception to cx"
**Is your feature request related to a problem? Please describe.**
In #479 , We have introduced the new throttling framework on cluster manager task submission. We have created new throttling exception for it. As of now we are not exposing this exception to user but data node will perform implicit retries on it. If tasks gets timeout during retries, it will throw `ClusterEventTimeoutException` to

[2022-10-10 10:28] dhwanilpatel commented on #479
Created followup SIM for exposing throttling exception to user : https://github.com/opensearch-project/OpenSearch/issues/4724

[2022-10-10 12:00] rursprung commented on #4545
@xuezhou25 i saw that you implemented part of what was discussed here in #4669 (thanks for that!) and closed this issue here from there.
what about the second part mentioned by @andrross in https://github.com/opensearch-project/OpenSearch/issues/4545#issuecomment-1263908329:

will you address this in a separate PR? should i raise a new ticket for this? note that it doesn't just affect the line lin

[2022-10-10 15:42] cwperks commented on #4485
This diagram sounds like an OAuth 2.0 flow where the first time the user interacts with an extension they should have the ability to grant or deny the extension from accessing info that the extension is requesting to use, like display name.

[2022-10-10 18:50] Vishalks commented on #869
@techrajdeep Sure. Feel free to take this up and put up a PR for this change. Assigning it to you.

[2022-10-10 19:10] dreamer-89 commented on #4555
Thanks @ankitkala for the comments. Please find my response below.

The commit is performed on shard refreshes.

Can you please elaborate more on this ?

I am thinking of having a poller process on replica nodes which scans remote store for new commit point. Poller initiates replication process whenever it sees a new commit point. Replica then start to copy files related to the latest commit point

[2022-10-11 00:01] mch2 commented on #4102
Sorry for the no reply here @tan31989.

To test I would suggest creating a test feature flag that is passed in an IT as a node level setting with `internalCluster().startNode(nodeSettings);`.  You can then use the settings API to fetch node level settings and see that the flag is enabled.

I would also test with an IT that uses existing flags, you can also enable the flag at the node scope and run

[2022-10-11 00:29] dreamer-89 commented on #4536
I am starting with writing a simple integration test and then build changes to make it work. I am using this comment as one place to list down all issues identified on remote store side (will keep updating this list):

1. Blob repository needs to be executed in GENERIC or SNAPSHOT thread which doesn't hold true for remote store repo (ClusterStateUpdate#task) resulting in test failures.
2. Cluster

[2022-10-11 00:50] mch2 commented on #4555
The existing implementations of both segrep & remote store operate on refresh, not commit.  So in order for replicas to fetch the latest checkpoint (which is only in memory on the primary) we'd need to create a new file representing the in memory SegmentInfos at a refresh point and write/upload it.  Right now with the node->node implementation that is sent directly from memory as a byte[].  The id

[2022-10-11 09:03] mxptrs-px commented on #4694
Currently, we want to use OS as a drop in replacement for ES.
Where can I find the `-min` distribution? It couldn't be resolved from my docker compose setup.

I enabled it explicitly, but still the same results.

I used the default Java that comes with the images from Docker Hub.
[code]
I compared OS 1.1.0 and ES 7.11.2 which have the same Java versions but the problem already exists for the `ngra

[2022-10-11 15:07] anshu1106 opened #4735 "[Weighted Shard Routing] Fail open weighed away AZ"
**Is your feature request related to a problem? Please describe.**
https://github.com/opensearch-project/OpenSearch/issues/2859 aims to support weighted shard routing policy. The search request at the coordinator performs a weighted round robin to route requests to shard copies.

These weights are set by making PUT [API](https://github.com/opensearch-project/OpenSearch/issues/3639) call
[code]

On

[2022-10-11 15:27] isabelleingato opened #4736 "[BUG] Exception in RestClient when Content-Encoding header is missing"
**Describe the bug**
Using OpenSearch sdk version 1.3.5 with an OpenSearch domain on v1.3, I am trying to use the `RestClient` to GET `/_ingest/pipeline/[id]` via the API `ingest().getPipeline()`. But an exception is thrown on this line https://github.com/opensearch-project/OpenSearch/blame/main/client/rest/src/main/java/org/opensearch/client/RestClient.java#L361 `.map(HttpEntity::getContentEncodi

[2022-10-11 15:46] mch2 commented on #4102
@tan31989 Do you still have interest in picking this up?  If not @techrajdeep its all yours.

[2022-10-11 17:11] anasalkouz commented on #4721
@pranikum are you going to work on this issue as well?

[2022-10-11 17:14] anasalkouz commented on #4720
@pranikum Could you please add all issues related to Decommission project under one META issue? for better tracking.

[2022-10-11 17:29] #4652 closed

[2022-10-11 17:29] tlfeng commented on #4652
A new node role `search` which is dedicated for search operation is added.

In `main` branch (version 3.0): PR https://github.com/opensearch-project/OpenSearch/pull/4689 / commit https://github.com/opensearch-project/OpenSearch/commit/c1272c181e6bd96d1db725dfbbcd5ac8e6058502.
In `2.x` branch (version 2.4.0):  PR https://github.com/opensearch-project/OpenSearch/pull/4739

[2022-10-11 17:33] andrross commented on #4718
This has come up on the searchable snapshot work. In digging through the commit history, I believe this assertion was added in a change that allowed lazily loading a repository, such as you could add a repository before cloud resources existed (e.g. an S3 bucket) and it wouldn't fail until you actually needed to interact with the remote repository. As we add more features that interact with reposi

[2022-10-11 18:59] saratvemulapalli commented on #4673
I was just chatting @dbwiddis, we came up with idea of a configurable setting which spits out logs in machine readable format or human readable format.
As @dblock suggested do you have a proposal to move the needle here?

[2022-10-11 19:07] saratvemulapalli commented on #4637
Looks like we do want to use `--enable-preview` with Lucene 9.4, which means OpenSearch has to run on Java 19.
Is everybody agreeing with the change, looking for thoughts from @nknize.
Please do 👍🏻 👎🏻 .

[2022-10-11 19:07] dblock commented on #1868
I generally amend my commits. It's a small price to pay to help users locate the change by clicking on it IMO.

Git blame is very technical and lacks a humanly readable explanation that is always in the body of the PR. So personally I am not for any changes from what we're trying to do now, even if it adds a tiny bit of work for every developer.

[2022-10-11 19:08] saratvemulapalli commented on #4610
@Yury-Fridlyand i'll assign it to you, as you are working on it. If not let me know.

[2022-10-11 19:15] saratvemulapalli commented on #4589
@rursprung thanks for opening up the issue. I like the proposal, lets start with 2. which adds the new APIs and eventually we can start deprecating other methods over time if consumers are not using it.

Are you open to contributing the change?

[2022-10-11 19:16] dblock commented on #4694
There's a [Minimum Distributions section in every version in downloads](https://opensearch.org/downloads.html), e.g. https://opensearch.org/artifacts/opensearch/opensearch-2-3-0-min-linux-x64.html which points to https://artifacts.opensearch.org/releases/core/opensearch/2.3.0/opensearch-min-2.3.0-linux-x64.tar.gz.

Ok, so I think we narrowed that regression here to ~30% slower in `onetwogram` anal

[2022-10-11 19:26] saratvemulapalli commented on #4174
Thanks @yeohbraddy for the contribution. @Bukhtawar I'll close this issue, feel free to re-open.

[2022-10-11 19:26] #4174 closed

[2022-10-11 20:12] kotwanikunal commented on #1868
This seemed to be an issue because we were using spaces along with heading within CHANGELOG.md which was creating new entries for the unreleased version. I have fixed that with #4740

[2022-10-11 20:59] #4256 closed

[2022-10-11 21:01] dblock commented on #4637
So OpenSearch 3.x would be JDK 19 only as a breaking change, or would support `--enable-preview` as an option and continue to be runnable on JDK11, 17 and 19?

[2022-10-12 00:23] anasalkouz commented on #4735
Hi @anshu1106 , thanks for your suggestion, but based on my understanding, if a shard put in a weighted away zone, that was for purpose and this shard won't expect any search request. So, I don't think it make sense to route failed search request to this zone.

[2022-10-12 00:33] anasalkouz commented on #4649
@diachedelic is this performance degradation only limited to the index creation API ? or you are facing same issue with other APIs?

[2022-10-12 00:36] anasalkouz commented on #4643
Could you provide more details related about your OpenSearch and Elasticsearch cluster versions? are you using elasticsearch-rest-high-level-client:7.5.1 to communicate with OpenSearch?

[2022-10-12 04:47] dbwiddis commented on #4637
The request is in the original Issue text:
 - support JDK 11 and 17 with no changes
 - If, and only if, the user is running on JDK 19, add the `--enable-preview` on the command line

(Original issue also notes some logging changes required.)

[2022-10-12 06:23] diachedelic commented on #4649
I have only noticed it with the index creation API. Populating and querying the index appear to be fast.

[2022-10-12 06:44] xuezhou25 opened #4745 "Update the AbstractScopedSettings class to throw OpenSearchExceptions instead of IllegalArgumentException"
**Is your feature request related to a problem? Please describe.**
Update the [AbstractScopedSettings class](https://github.com/opensearch-project/OpenSearch/blob/3aef125d0dbf2f29d9bf00b84cb52892a27a5328/server/src/main/java/org/opensearch/common/settings/AbstractScopedSettings.java#L856) to throw `OpenSearchException` instead of `IllegalArgumentException` so that the helpful error messages can be

[2022-10-12 06:44] xuezhou25 commented on #4545
@rursprung I created a new issue to throw new OpenSearchExceptions instead of IllegalArgumentException by updating in the AbstractScopedSettings class.
Thanks for providing several solutions. I don't think do `throw new OpenSearchException(new IllegalArgumentException(...))` can meet the requirement because in the logic here
https://github.com/opensearch-project/OpenSearch/blob/77cff55bd431c0e2f8f

[2022-10-12 07:28] svenso commented on #4673
I will have a look at it. But for me, the main question stays:
if someone is switching from the default (readable) PatternLayout to OpenSearchJsonLayout, do we really need to keep a "readability"?
But I am also not quite happy, how the JSON is generated (string concatenation).
Let me test some things and I'll come back.

[2022-10-12 07:38] imRishN commented on #4720
@anasalkouz here is all the meta issues we are tracking for decommission project - https://github.com/opensearch-project/OpenSearch/issues/3957

[2022-10-12 07:40] rursprung commented on #4589
i won't get around to this in the next 1-2 weeks and will have to see afterwards (i have some more critical topics to focus on at the moment when i'm at work)

[2022-10-12 09:08] anshu1106 opened #4747 "[Weighted Shard Routing] Handle specific awareness attribute"
**Is your feature request related to a problem? Please describe.**
Currently as part of delete weighted routing api call, weighted routing metadata is cleared off completely from the cluster state without matching the awareness attribute. If weights are set for multiple awareness attributes, then this is not desirable.

In addition to this, the coordinator search request routing logic need to be m

[2022-10-12 12:09] mxptrs-px commented on #4694
Yes, I think, that's the main issue here. Everything else looks fine.
Thank you for your help.

[2022-10-12 12:54] elfisher commented on #2919
@andrross can we add the label for 2.4?

[2022-10-12 12:56] elfisher commented on #4487
Hey @reta I added this to the roadmap, but I wanted to confirm this is still tracking for 2.4. Thanks!

[2022-10-12 13:34] reta commented on #4487
Thanks @elfisher , I will pick it up shortly!

[2022-10-12 14:07] elfisher commented on #1181
@tushar-kharbanda72 I've added this to the roadmap per the 2.4 label and wanted to confirm this is on track for 2.4. Thanks!

[2022-10-12 14:45] reta opened #4749 "[BUG] Compatibility issue with `/_mget`: RHLC 2.x connected to OpenSearch Cluster 1.x"
**Describe the bug**

There is a compatibility issue with `/_mget` API: RHLC 2.x connected to OpenSearch Cluster 1.x, which basically renders the API unusable in certain cases, ending up with `NullPointerException`.

[code]

**To Reproduce**
Spin  up any 1.3.6 cluster and use any RHLC 2.x client to call `mget` on non-existing index:

[code]

**Expected behavior**
The call should not fail with NPE.

[2022-10-12 17:15] subbudvk commented on #4223
@macohen : I've raised a MR for this defect. Can you please review this?

[2022-10-12 17:21] imRishN opened #4750 "[BUG] [Zone Decommission] GET response has redundant field"
**Describe the bug**
The current GET API call to get the decommission state is -
`curl -X GET "localhost:9202/_cluster/decommission/awareness/_status?pretty"`

[code]

Here, since `awareness` is already mentioned in GET path, the `awareness` field in GET response looks redundant.

**To Reproduce**
Steps to reproduce the behavior:
1. Decommission an attribute - `curl -X PUT "localhost:9201/_cluster

[2022-10-12 17:26] hiteshghia opened #4752 "How does opensearch perform in a update heavy use-case?"
This is a question for which I could not find enough documentation/best practices.
How does opensearch perform in a update heavy use-case.
i.e store documents, update them daily with latest data and query them?
what are the performance implications?
Is this is valid usecase for opensearch?

[2022-10-12 17:28] imRishN commented on #4750
Created PR to fix the same - https://github.com/opensearch-project/OpenSearch/pull/4751

[2022-10-12 17:51] nknize opened #4753 "Install and configure Log4j JUL adapter for Lucene 9.4"
Described in #4637

[code]

[2022-10-12 18:04] peterzhuamazon opened #4755 "Release Version 2.4.0"
Release Version 2.4.0

This is a component issue for __2.4.0__.
Coming from [opensearch-build#2649](https://github.com/opensearch-project/opensearch-build/issues/2649). Please follow the following checklist.
__Please refer to the DATES / CAMPAIGNS in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch

[2022-10-12 18:25] nknize commented on #4637
JUL log4j adapter was not configured so java.util.logging was only using stderr handler. I [opened a PR](https://github.com/opensearch-project/OpenSearch/pull/4754) to install and configure the JUL log4j adapter.

I think this is a good first step. However 3.0 is scheduled to go GA January next year and this is a good time to introduce any breaking changes (e.g., maybe start working on jigsaw modu

[2022-10-12 19:38] prudhvigodithi opened #4756 "[BUG] Explicit maven group setting for pluginZip broke"
**Describe the bug**
Coming from https://github.com/opensearch-project/OpenSearch/pull/4733#issuecomment-1276599104, with PR https://github.com/opensearch-project/OpenSearch/pull/4733 merge, the pluginZip functionality to choose the groupID `org.opensearch.plugin` broke.
1) The default groupID is not getting applied as `org.opensearch.plugin`.
2) If we add specifically the group = org.opensearch.p

[2022-10-12 19:40] dreamer-89 commented on #3815
Based on @nknize [comment](https://github.com/opensearch-project/OpenSearch/pull/4754#discussion_r993827682), we can match the terms and conditions from dependency source (e.g. maven).

[2022-10-12 19:49] #4753 closed

[2022-10-12 20:16] reta commented on #4756
Ok, together with @prudhvigodithi we figured out, there is confusion regarding `group` and `groupId` settings, the `pluginZip` must set `groupId` (not `group`), otherwise it affects project's wide setting and overrides all publications

[2022-10-12 20:17] #4756 closed

[2022-10-12 22:03] kotwanikunal opened #4759 "[Searchable Snapshot] [Design Proposal] Shard Allocator for Remote Search Shards"
This document outlines a proposal for implementing a new allocator to enable searchable snapshots using remote search shards. Please feel free to leave comments below with any thoughts or suggestions!

## Overview

Searchable Snapshots for OpenSearch will introduce support for remote search shards which will enable search for snapshots within the repository without downloading all the data onto th

[2022-10-12 22:08] nknize commented on #4637
@anasalkouz @adnapibar are we publishing nightly benchmarks yet? We should be helping out the Lucene project w/ performance benchmarks like this using opensearch-benchmarks.  /cc @mikemccand

[2022-10-12 23:13] uschindler commented on #4637
That was my plan: bundle and test with JDK 19 and enable the preview mode only for that combination.

I think the magic can be done in this java bootstrap part that precalculates the initial java command before launching the main server.

[2022-10-12 23:54] nknize commented on #4637
+1 to follow suit and default bundle jdk 19 for OpenSearch 3.0 (main branch); and make it opt-in only for 2.x.

[2022-10-13 02:49] seraphjiang opened #4769 "[PROPOSAL] deprecate the changelog file"
## What/Why
Today, there are OpenSearch repo and OpenSearch-Dashboards repo maintain both release-notes as well as change log. Although there is some benefit to clear change log history. There are also down side 1. It is a bit redundant with release note. 2. It is hard to determine which change should add to change log, in practices, developer is requested to add changelog for every PRs. Because c

[2022-10-13 04:04] #4138 closed

[2022-10-13 04:09] ayushKataria commented on #2756
Hi @dbwiddis I would like to take this issue up

[2022-10-13 05:03] Vishalks commented on #4025
@dreamer-89 Have we made any progress on this? Would save a lot of time for sure!

[2022-10-13 05:08] itiyama opened #4762 "[Performance] Reduce network overhead by batching requests per node instead of per shard"
While executing a bulk request, the request is divided into sub bulk requests and each sub bulk request is sent to the respective node holding the shard. Each of these requests are sent at a per shard level and not batched per destination node. This increases the network overhead. Generally, the number of shards per node for indexing are few, hence we may not see this issue for most of our benchma

[2022-10-13 05:13] itiyama opened #4763 "[Performance] Batch shard requests lying in the queue"
An optimal bulk size is a function of memory, shard count, thread count, number of co-ordinating nodes etc. A lot of these factors change over time for a particular customer and customers may not revisit the bulk size numbers after a certain period of time. e.g. a cluster with 10 nodes and 10 shards may have an optimal 2000 bulk size with 200 as the shard level bulk size. But once the customer sca

[2022-10-13 05:42] ketanv3 opened #4765 "[Search Backpressure] Add multi-threaded tests for newly added common/utils"
Multi-threaded tests need to be added for the following common utils:
* TokenBucket
* MovingAverage

Tests for their basic functionality were already added in https://github.com/opensearch-project/OpenSearch/pull/4575.

[2022-10-13 05:47] nssuresh2007 commented on #1181
@elfisher Yes, we are on track for 2.4 release for Milestone 1 (Tracking and cancellation of search shard tasks alone. Does not include co-ordinator tasks).

[2022-10-13 05:47] ketanv3 opened #4766 "[Search Backpressure] Generalize TaskCancellation to support parent task cancellation at the coordinator"
TaskCancellation calls `Task#cancel` which may not cancel its descendants.

Using `TaskManager#cancelTaskAndDescendants` will allow us to cancel a parent task along with all its descendants, which will be useful for SearchTask cancellation at the coordinator level.

[2022-10-13 06:11] dreamer-89 commented on #4025
Thanks @Vishalks for checking on this. No, I have not started on this. Feel free to pick this up if you are interested.

[2022-10-13 07:38] imRishN opened #4768 "[Zone Decommission] Add validation for minimum awareness attribute values set before executing decommission"
**Is your feature request related to a problem? Please describe.**
Before decommission an awareness attribute, we want explicit check for minimum attribute value count to fail fast.

**Describe the solution you'd like**
Adding a validation before executing the request can help.

[2022-10-13 10:31] dblock commented on #4769
CHANGELOG was proposed and added in https://github.com/opensearch-project/OpenSearch/issues/1868, I'll add a comment about this there.

[2022-10-13 10:32] dblock commented on #1868
FYI, see https://github.com/opensearch-project/OpenSearch/issues/4769 for an ask to revert all this. Please add your comments.

[2022-10-13 10:43] mgodwan opened #4770 "Add logging to 4xx responses from API at reduced rate."
**Is your feature request related to a problem? Please describe.**
Today, a few errors returned by opensearch are not logged if they are customer side errors. While we may provide the message as part of the response, it is not always possible to determine the cause of the errors. We can explore to determine if it may benefit to have the logging for such errors at a reduced rate (e.g. how it is don

[2022-10-13 10:44] dblock commented on #4769
The two downsides mentioned are 1) merge hell, and 2) big projects don't do this. The first is a good argument and I believe @kotwanikunal has been trying to resolve it with automation, and that's one of the reasons why #1868 remains open. On the second argument, please research how other projects do it and make concrete proposals.

Authoring release notes before release has been a much bigger pai

[2022-10-13 12:55] lukas-vlcek opened #4771 "Add groupId value propagation tests for ZIP publication task"
**Is your feature request related to a problem? Please describe.**

We made it possible to configure the ZIP publication `groupId` value in #4156 (followed by #4360) and this was back-ported to `2.x` branch in #4733.

This change requires some configuration changes in couple of existing plugins. In order to make it more obvious how each plugin should be updated we can implement more tests that ver

[2022-10-13 15:02] dblock commented on #4769
For consolidation purposes I am going to close this. Please put your comments in https://github.com/opensearch-project/OpenSearch/issues/4769 that is still open and the jury is out of what the "final state" should be.

[2022-10-13 15:02] #4769 closed

[2022-10-13 15:28] seraphjiang commented on #1868
could we use release issue to track to avoid merge issue?

we don't have to collect all commit, we could define the rule for commit message/label

again, we should improve our commit history, insist highest bar on it. not ignore it

this is not truh

this is not true, what I heard and observe from OSD cases, 90% backport case has conflict.

my asking is
could we invest on automation release note o

[2022-10-13 16:20] opensearch-ci-bot opened #4775 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-2.4.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/2.4.0/opensearch-2.4.0.yml --component OpenSearch**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6203/consoleFull

[2022-10-13 16:34] Yury-Fridlyand commented on #4610
@saratvemulapalli,
I see that GHA works on all ubuntu versions: https://github.com/Yury-Fridlyand/OpenSearch/pull/2
It is OK if I will try to update `ubuntu-latest` to `ubuntu-22.04` or `ubuntu-20.04` (no update actually)?

[2022-10-13 17:02] kotwanikunal opened #4776 "[Searchable Snapshots] Refactor BalancedShardsAllocator.Balancer for managing local shards"
**Is your feature request related to a problem? Please describe.**
Currently, OpenSearch allocation and initialization works solely for shards which are located on the node’s filesystem. The allocation process should take into account the new remote shards while assigning, moving or balancing them across clusters such that they are only assigned to nodes with the specific search role.

**Describe

[2022-10-13 17:16] kotwanikunal commented on #4535
The design was published at #4759

[2022-10-13 17:16] #4535 closed

[2022-10-13 17:16] saratvemulapalli commented on #1448
I've spent sometime yesterday was able to run `gradle check` on windows, tests are failing due to permissions errors.
[code]

[2022-10-13 17:25] kotwanikunal opened #4777 "[Searchable Snapshots] Add support for RemoteShardsBalancer"
**Is your feature request related to a problem? Please describe.**
The remote search shards for searchable snapshots will rely on the data cache which will be configured as a part of `search` nodes. The allocation process should take into account these remote shards while assigning, moving or balancing them across clusters such that they are only assigned to nodes with the specific search role.

A

[2022-10-13 18:17] andrross opened #4778 "[Searchable Snapshot] Recovery path not working"
**Describe the bug**
A searchable snapshot index fails to be created if number of replicas is set to a value greater than zero.

**To Reproduce**
Edit [SearchableSnapshotIT](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/snapshots/SearchableSnapshotIT.java#L51) by adding `internalCluster().ensureAtLeastNumDataNodes(2);` and changing th

[2022-10-13 18:22] navneet1v commented on #4049
Closing the issue as all the work is done.

[2022-10-13 18:22] #4049 closed

[2022-10-13 19:14] navneet1v commented on #4073
Closing the issue as the code is merged.

[2022-10-13 19:14] #4073 closed

[2022-10-13 19:38] dblock commented on #4545
https://github.com/opensearch-project/OpenSearch/issues/4745

[2022-10-13 19:47] derek-ho commented on #3879
Hey folks, I am trying to connect Jaeger with Opensearch and getting this same error on startup of the Jaeger Collector. Could somebody take a look? Happy to hop on a call and try to reproduce this issue

[2022-10-13 22:01] svenso commented on #4673
I made a first draft with some optimizations how it'd be useful for our usecase.  It should be back compatible to the old behavior when no configuration is used.

I am not a java developer and it's the first time I am contributing in an opensource project... I hope I didn't do everything wrong...

[2022-10-13 22:45] saratvemulapalli commented on #1448
I was able to get past the problem of permissions. Looks like we have to run as a non-root user.

[code]

[2022-10-13 23:35] martin-gaievski opened #4788 "[BUG] AccessControlException exception in rolling upgrade with recent 3.0.0 snapshot"
**Describe the bug**
With recent 3.0.0 snapshot we're facing java.security.AccessControlException when doing rolling upgrade for k-NN plugin from 2.3.0 to 3.0.0-snapshot.

Exception that we're seeing in log
[code]

**To Reproduce**
Steps to reproduce the behavior:
Local environment approach:
1. Get latest code from https://github.com/opensearch-project/k-NN, check that you are on main branch.
2. R

[2022-10-13 23:56] kotwanikunal opened #4789 "[BUG] org.opensearch.search.aggregations.metrics.MedianAbsoluteDeviationAggregatorTests.testQueryFiltering test failure"
**Describe the bug**
A test failure, possibly flakey - Noticed with #4786

**To Reproduce**
[code]

**Expected behavior**
- Test should pass.

**Plugins**
- None

**Screenshots**
[code]

**Host/Environment (please complete the following information):**
 - Jenkins build/check environment

**Additional context**
N/A

[2022-10-13 23:58] andrross commented on #4789
A quick investigation suggests that when [this random call generates a value less than 21](https://github.com/opensearch-project/OpenSearch/blob/05a58192433f6e007ade61b4b4f21d0f068d50e0/server/src/test/java/org/opensearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregatorTests.java#L241) for the random double, then the test will fail.

[2022-10-14 03:35] subbudvk commented on #4223
I have written tests for this. But I see some of the existing tests like _testNumerics()_ try to assert double fuzziness values like "1.000" which will fail after the current validation in the constructor. If floating point value is expected, I see we are trying to parse with _Integer.parseInt()_ in _parseCustomAuto()_, so this should already throw NumberFormatException.

[2022-10-14 05:38] DevPJ9 commented on #4777
Hello, @kotwanikunal I would like to contribute.

[2022-10-14 10:34] shwetathareja commented on #3879
@derek-ho : can you provide details on Jaeger Collection? How does it connect? Is the index created manually or using auto creation? is the error for existing index or during creation?

[2022-10-14 13:56] HimaChitalia opened #4836 "[FEATURE] Java Rest High Level Client KNN queries builder like wildcard query builder"
### Is your feature request related to a problem?
There is no high level KNN Query builder like we have for wildcard and other queries. Which makes it harder to use KNN with other features of Elastic Search/open search

### What solution would you like?
high level KNN Query builder like we have for wildcard a

### What alternatives have you considered?
Still trying to find alternate options

### D

[2022-10-14 14:02] derek-ho commented on #3879
I am using Jaeger version 1.38.1. I believe it is connecting with the ES go client:
https://github.com/jaegertracing/jaeger/blob/3d67ac86f53866332568b0f542265b00d86407fc/plugin/storage/es/spanstore/writer.go#L48
https://github.com/jaegertracing/jaeger/blob/3d67ac86f53866332568b0f542265b00d86407fc/plugin/storage/es/spanstore/writer.go#L110
But I am not sure. I think it is getting auto created, and

[2022-10-14 14:04] derek-ho commented on #3879
They do not have a dedicated Opensearch connection package yet - this is using the same one that is used to connect to Elasticsearch; that is one of the TODO's. However, I would like to investigate whether this problem might arise when a Opensearch connection package is written as well.

[2022-10-14 16:29] saratvemulapalli commented on #4788
@martin-gaievski looks like a warning more than an error.
[code]

Trying to look at the run, looks like 2.4 knn plugin does not exist[1]:
[code]

[1] https://github.com/opensearch-project/k-NN/actions/runs/3244263255/jobs/5320201083#step:5:1211

[2022-10-14 16:49] martin-gaievski commented on #4788
Thanks Sarat, you're correct and this wasn't actually an issue. With recent stable 2.4.0 all issues got resolved (https://github.com/opensearch-project/k-NN/pull/577/checks). Closing this

[2022-10-14 16:49] #4788 closed

[2022-10-14 17:29] saratvemulapalli commented on #1448
Got past the problems with bwc now hitting problems with Java mmap.

[code]

[2022-10-14 17:32] dreamer-89 opened #4793 "Add segment replication source implementation for remote store integration"
With remote store [integration](https://github.com/opensearch-project/OpenSearch/issues/4555), we need to add a new replication source implementation which provides capability to pull data from remote store. Thanks to existing design, the new implementation need to implement the [SegmentReplicationSource](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearc

[2022-10-14 17:54] kotwanikunal commented on #4777
Hey @DevPJ9! Thanks for taking your time to contribute to OpenSearch.
I missed assigning myself yesterday but I have been working on this issue, and it's currently not possible for multiple contributors to work on this.

We would love to have you contribute. [This is a great place to start contributions for OpenSearch.](https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aopen+is%3Aissue

[2022-10-14 18:00] dreamer-89 commented on #4555
Thank you @Bukhtawar for the feedback and calling this out. Yes, there will be changes in refresh mechanism, but the advantages we seek from commit only backup seems to outweigh this short-coming as also mentioned in last comment by @mch2. We plan to call this out clearly in the documentation and perform benchmarking/tests to verify the claim.

In order to identify the failover time and availabili

[2022-10-14 18:33] DevPJ9 commented on #4777
Sure @kotwanikunal. I will look for some other issues. :)

[2022-10-14 18:46] andrross opened #4797 "[Searchable Snapshot] Configure and run initial benchmarks"
The goal of this task is to get some update the benchmark tooling and get some initial benchmarks of the searchable snapshot feature. I believe many of the opensearch-benchmark workloads involve discrete phases like: create index->index documents->run query load. Ideally we can augment/extend some of these workloads for searchable snapshots where it would be: create index->index documents->take sn

[2022-10-14 19:48] andrross commented on #4778
I think there are just two places to update to fix this:

1. In [PeerRecoveryTargetService#doRecovery](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/indices/recovery/PeerRecoveryTargetService.java#L247-L257), do not verify the translog if this is a searchable snapshot (similar to the remote translog case).
2. In [RecoveryTarget#cleanFiles](https://g

[2022-10-14 20:26] peterzhuamazon commented on #1448
Hi,

@dblock @saratvemulapalli could you guys let me know what is the reason that Gradle Check is needed for Windows?
As of current state, the existing gradle check is already running extensively long, and it only able to run on Ubuntu server.
There are also many other utilities such as docker/compose needs to be setup before we even do any testings on it.

I believe the windows ci should be the b

[2022-10-14 20:28] peterzhuamazon commented on #1448
We need to plan this from our side if we bound to add windows gradle check.
CPU limitations, dynamic runner switch, AMI creation, Docker/Compose on Windows, and many more.

[2022-10-14 20:31] peterzhuamazon commented on #1448
Also,
Gradle check already takes a long time, and every windows agent takes around 10-20min just to bootstrap on Jenkins.
Can we make sure gradle check heavyweight tasks are de-coupled before we add another gradle check?

[2022-10-14 20:36] saratvemulapalli commented on #1448
@peterzhuamazon we cannot release software which we dont test.
We have to make sure OpenSearch on windows is being tested to release the software, the way we do is via gradle check.

[2022-10-14 20:41] peterzhuamazon commented on #1448
Got it. Lets talk a bit more on the requirements.
The existing Jenkins workflow can take a new param to define whether it is linux or windows, and switch runner based on the trigger.

The thing I am more concerning is the windows runner takes 2x time to complete gradle check compares to linux host.

[2022-10-14 21:07] aabukhalil commented on #3991
I will be working on this

[2022-10-14 21:19] peterzhuamazon commented on #1448
Just talked with @saratvemulapalli and @Poojita-Raj and here are the steps on high level:

1. Edit github workflow to have a new workflow file for Windows trigger, on cron, on manual. It should have a new param to enter the platform of the test.
2. Edit Jenkinsfile to take the platform param and able to switch runner on the fly.
3. Add new packer profile to create a new Windows AMI specifically fo

[2022-10-14 23:27] Vishalks commented on #869
@techrajdeep Did you get a chance to start working on this? Since this is a long pending ask, we would like to get this done soon :)

[2022-10-15 14:51] diachedelic commented on #4649
This might result from MacOS's excruciatingly slow implementation of the `fsync` system call, described at https://github.com/golang/go/issues/28739#issuecomment-1042652785.

If so, these would be the hot lines:

https://github.com/opensearch-project/OpenSearch/blob/31a360fc87419cd3a6d5621754f8ad9e8819f1e8/libs/core/src/main/java/org/opensearch/core/internal/io/IOUtils.java#L301

https://github.co

[2022-10-15 14:54] diachedelic commented on #4649
From the ElasticSearch folks:

I am not using a modern Mac, but it seems plausible that this also affects older Macs.

[2022-10-15 17:23] SohamRatnaparkhi commented on #4789
Hey @andrross, I would like to work on this issue. Can you assign it to me?

[2022-10-16 06:23] imRishN opened #4799 "[BUG] [Zone Decommission] MetadataDiff is 0 when publishing cluster state for status update"
**Describe the bug**
While updating the decommission status, the cluster state update is not applied to non leader nodes, and the local state of the nodes doesn't receive the status update. The reason being, while executing the cluster state update for decommission status update, the same instance of metadata was being update causing the relative diff to be 0 for non leader nodes and hence, the le

[2022-10-16 11:01] imRishN opened #4801 "[BUG] org.opensearch.index.shard.IndexShardTests.testShardStateMetaHashCodeEquals test failure"
**Describe the bug**
A test failure which is failing most of the times.

One such failure - https://build.ci.opensearch.org/job/gradle-check/4759/testReport/junit/org.opensearch.index.shard/IndexShardTests/testShardStateMetaHashCodeEquals_4/

**To Reproduce**
[code]

**Expected behavior**
Test should pass

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
[code]

**Host/Envir

[2022-10-16 11:03] imRishN commented on #4801
It started failing after this PR - https://github.com/opensearch-project/OpenSearch/pull/4680 got merged. @andrross can you please check and help fix it?

[2022-10-17 02:22] pranikum opened #4802 "Recommision flow should set the weights back to the value prior to decommission value"
**Is your feature request related to a problem? Please describe.**
As part of decommission request we set the weight of decommission awareness attribute to 0 and the other regions to 1.
Should recommission set the weights back or we should leave on the client to handle that.

Based on comment: https://github.com/opensearch-project/OpenSearch/pull/4586#discussion_r995657247

**Describe the solution

[2022-10-17 02:23] pranikum opened #4803 "[Zone Decommission] Recommision flow should set the weights back to the value prior to decommission value"
**Is your feature request related to a problem? Please describe.**
As part of decommission request we set the weight of decommission awareness attribute to 0 and the other regions to 1.
Should recommission set the weights back or we should leave on the client to handle that.

Based on comment: https://github.com/opensearch-project/OpenSearch/pull/4586#discussion_r995657247

**Describe the solution

[2022-10-17 02:26] pranikum opened #4804 "[Enhancement]: Have a setting to support minimum connection allowed per node basis for decommission to proceeed"
**Is your feature request related to a problem? Please describe.**
Base on comment https://github.com/opensearch-project/OpenSearch/pull/4586#discussion_r995633185
I will be nice to have minimum allowed connection to allow connection to proceed.

**Describe the solution you'd like**
Have a setting to support minimum connection allowed per node basis for decommission to proceeed

**Describe alterna

[2022-10-17 06:06] imRishN commented on #3639
Closing this issue as ALL the API PRs are merged now

[2022-10-17 06:06] #3639 closed

[2022-10-17 11:35] shwetathareja commented on #4543
@imRishN : https://github.com/opensearch-project/OpenSearch/pull/4084#discussion_r977315551 I want to brainstorm on the option #1

[2022-10-17 12:59] Bukhtawar commented on #4802
Duplicate of https://github.com/opensearch-project/OpenSearch/issues/4803

[2022-10-17 12:59] #4802 closed

[2022-10-17 13:00] sachinpkale opened #4806 "[BUG] Improper Error Handling in index creation API"
**Describe the bug**
Sending malformed JSON to index creation API returns `500 Internal Server Error` response. Ideally, it should be `400 Bad Request`.

[2022-10-17 13:04] sachinpkale opened #4807 "[BUG] Verbose server banner in API response"
**Describe the bug**
Verbose server information should be removed from all HTTP responses. This can be performed by modifying the server's configuration files or through the use and configuration of a web application firewall.

Reference:
- https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/01-Information_Gathering/02-Fingerprint_Web_Server

[2022-10-17 15:41] andrross commented on #4801
@imRishN This has been fixed in #4774. I think you just need to rebase to pick it up.

[2022-10-17 16:17] Poojita-Raj opened #4811 "[META] [Windows CI] Adding gradle check support for windows"
**Is your feature request related to a problem? Please describe.**
Coming from #1448 - these are the steps to add gradle check support for windows via a github workflow.

- [x] #4815
- [x] #4816
- [x] #4817
- [ ] 4. Adding new windows agent profile based on the AMI in cdk.
- [ ] 5. Deploy the new cdk into the public jenkins.
- [ ] 6. Pull the 1 2 into Jenkins and try to test by manually triggering

[2022-10-17 18:23] jmazanec15 opened #4814 "[BUG] Rewriting querybuilders that require async actions fail"
**Describe the bug**
Currently, it is possible in OpenSearch to register an asynchronous request in order to rewrite a querybuilder (see [QueryRewriteContext.registerAsyncAction](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/query/QueryRewriteContext.java#L113)). Internally, this makes its way to the static method [Rewriteable.rewriteAndFetch]

[2022-10-17 18:54] mch2 commented on #4806
Looks like a duplicate of #2756.

[2022-10-17 18:54] #4806 closed

[2022-10-17 19:36] vibrantvarun commented on #1448
Hi,
The steps to setup OpenSearch project before running gradlew check.
1) Do not admin user cmd (Command Line prompt). Use any non-root user cmd.
2) Set java 11,8, 9, 10,,12,13,14,17 paths as JAVA_HOME, JAVA8_HOME..etc respectively in system variables and also configure all the above paths in paths environment variable
3) clone the project
4) gradlew clean
5) gradlew check

[2022-10-17 19:37] vibrantvarun commented on #1448
1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':distribution:archives:darwin-arm64-tar:checkExtraction'.

* Try:

==============================================================================

2: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':distribution:archives:freebsd-tar:checkExtraction'.

* Try:

=======

[2022-10-17 20:09] anasalkouz opened #4815 "Edit github workflow to have a new workflow file for Windows trigger, on cron, on manual. It should have a new param to enter the platform of the test."
Right now the cron job is set to 0 0 * * * which will run at midnight UTC, which is 17:00 PDT. This can be modified on further discussion on how frequently and when we should run gradle check on windows.
Additionally, the timeout value is 160 minutes for now.

Opened a draft PR for the infra team to try it out in a Jenkins staging environment and make changes/iterations as needed.

[2022-10-17 20:09] anasalkouz opened #4816 "Edit Jenkinsfile to take the platform param and able to switch runner on the fly."

[2022-10-17 20:11] anasalkouz opened #4817 "Add new packer profile to create a new Windows AMI specifically for gradle check, adding docker, compose, etc."

[2022-10-17 20:48] andrross commented on #4789
@SohamRatnaparkhi So changing the `20` to a `21` [in this test case](https://github.com/opensearch-project/OpenSearch/blob/05a58192433f6e007ade61b4b4f21d0f068d50e0/server/src/test/java/org/opensearch/search/aggregations/metrics/MedianAbsoluteDeviationAggregatorTests.java#L241) would likely fix the test failure, but it would be better (and is much harder :) ) to answer the question of _why_ a value

[2022-10-17 22:12] #1695 closed

[2022-10-17 22:34] kotwanikunal commented on #1868
Reading through #4769 and this, here are my thoughts and what is currently baking -

1. On PR conflicts:
- Agreeably, there have been conflicts for `CHANGELOG.md` for PRs since we started with this effort
- Within the `OpenSearch` repository, do not need re-approvals in case of new commits on a PR, hence the effort is not as extensive with fixing the changelog

2. On backporting:
- I am looking at

[2022-10-17 23:21] seraphjiang commented on #1868
I propose using change log issue to replace existing change log file approach.

Keep the same format as changelog file.

When PR got merged, maintainer and author will decide if it is critical change need to add to change log.

When backport to release branch, it should update item in changelog issue to right version section

With this approach we still has place to take release note but without w

[2022-10-17 23:45] saratvemulapalli commented on #1448
Build Tools, integTest is failing. Tests look very platform specific.
[code]

[2022-10-18 00:43] jmazanec15 commented on #4814
Actually, I believe I made a mistake in my querybuilder class. When the object does not change, I still return a copy, which will result in an error.

Instead, I should follow the geo builder and do:
[code]

[2022-10-18 00:43] #4814 closed

[2022-10-18 01:51] opensearch-ci-bot opened #4819 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-3.0.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/3.0.0/opensearch-3.0.0.yml --component OpenSearch --snapshot**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6232/consoleFull

[2022-10-18 01:56] anasalkouz commented on #1868
Here is my thought regarding the changelog file:
I do agree to keep the changelog file approach and try to avoid any human interaction during the process and I don't expect merging a conflict in the changelog file should take more than few mins to resolve. That being said, I think we need to invest more time to make it more easier for developers and remove an churn by 1) doing some automation impr

[2022-10-18 02:10] saratvemulapalli commented on #1448
Finally I was able to run gradle check with 2+ hrs of runtime
[code]

[2022-10-18 04:49] SohamRatnaparkhi commented on #4789
Okay, I will try and find out the reason too along with changing 20 to a 21.

[2022-10-18 05:50] Bukhtawar commented on #3000
I concur the thought of having a separate API to revisit our freshness and durability semantics and pack optimizations as needed.

I guess the network infrastructure/firewall would potentially limit how long the connection can stay open, this should also factor in inevitable cases where the connections have to be forcibly closed like server maintenance

Do we also plan on supporting a client libra

[2022-10-18 06:34] sachinpkale opened #4820 "[BUG] BufferedChecksumStreamInput.read() throws EOFException instead of returning -1"
**Describe the bug**

read() method of [BufferedChecksumStreamInput](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/translog/BufferedChecksumStreamInput.java) throws EOFException on reaching end of file.

https://github.com/opensearch-project/OpenSearch/blob/1d654851ff2ea50b0fbb07b7602945f3a0e4cc88/server/src/main/java/org/opensearch/index/tran

[2022-10-18 08:11] gbbafna commented on #4675
Thanks @nishchay21 . I think more value can be added if we can ignore such indices from disk based watermark and read-only-delete block .  We need to do similar stuff there and ignore datastream indices from these modifications.

[2022-10-18 10:55] imRishN commented on #4799
Closing as PR is merged

[2022-10-18 10:55] #4799 closed

[2022-10-18 13:12] imRishN commented on #4750
Closing issue, PR merged now

[2022-10-18 13:12] #4750 closed

[2022-10-18 14:54] sbabigian opened #4823 "[BUG] Unable to opensearch-plugin install when plugin repo does not contain .zip of plugin"
**Describe the bug**
When trying to install a plugin that does not have a .zip of the plugin in [the maven repo](https://repo1.maven.org/maven2/org/opensearch/plugin/ingest-user-agent/2.3.0/), it will not install as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `./bin/opensearch-plugin install org.opensearch.plugin:ingest-user-agent:2.3.0`
2. Receive the following 404 error:

[2022-10-18 15:21] mattweber commented on #4814
This is probably still an issue on a list of rewritables.  I am pretty sure I ran across the same issue with rewritable sort builders.

[2022-10-18 15:29] imRishN opened #4824 "[BUG] Failed Integ test testDecommissionStatusUpdatePublishedToAllNodes"
**Describe the bug**
Test testDecommissionStatusUpdatePublishedToAllNodes fails after #4751 got merged.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the integ test

**Expected behavior**
Test should pass

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Host/Environment (please complete the followin

[2022-10-18 15:41] imRishN commented on #4824
Closing as PR got merged

[2022-10-18 15:51] sbabigian commented on #4823
I believe I have just learned that `ingest-user-agent` is bundled as a module, so it needn't be installed as a plugin. For anyone in the future, you can see existing modules in the `modules/` dir.

Would be great to see some feedback from `opensearch-plugin install` that says something like: `Is the plugin you're trying to install already a bundled module?`

[2022-10-18 16:21] mch2 commented on #4102
Thanks @tan31989 I will assign to you. Let me know if you have further questions on the issue.

[2022-10-18 16:32] imRishN commented on #4640
Completed in #4751

[2022-10-18 16:32] #4640 closed

[2022-10-18 16:33] imRishN commented on #4369
Completed in #4604

[2022-10-18 16:33] #4369 closed

[2022-10-18 16:41] andrross commented on #1868
I think the current process of requiring _every_ commit to produce a line in the changelog is a big part of the problem here. We are essentially just duplicating the one-liner header from the commit message into the changelog, filed under the appropriate category. If this is the desired goal, then I think it can be achieved by requiring discipline around the git commit message along with git tooli

[2022-10-18 17:18] anasalkouz commented on #4736
Is this issue exists in 2.x branch?

[2022-10-18 17:44] Bukhtawar commented on #1868
I think its also something that we can templatise or follow best practises https://github.com/torvalds/subsurface-for-dirk/blob/a48494d2fbed58c751e9b7e8fbff88582f9b2d02/README#L88 while writing a commit message. The maintainer can then use his/her discretion to choose what qualifies for a change log and appropriately ensure it gets published

[2022-10-18 17:52] ryanbogan commented on #4357
All Post Release tasks have been completed

[2022-10-18 17:52] #4357 closed

[2022-10-18 19:51] mch2 opened #4829 "[BUG] Precommit checks time out connecting to maven central."
**Describe the bug**
I've had multiple PRs fail precommit checks ([example 1,](https://github.com/opensearch-project/OpenSearch/actions/runs/3275199595/jobs/5392386273), [example 2](https://github.com/opensearch-project/OpenSearch/actions/runs/3267306469/jobs/5372908888)) over the last few days connecting to maven central with no [incidents](https://status.maven.org/) reported.  This has happened

[2022-10-18 21:01] nknize opened #4830 "[Segment Replication][BUG] Failing test: SegmentReplicationIndexShardTests.testSegmentReplication_Index_Update_Delete"
[code]

[code]

[2022-10-18 21:05] nknize opened #4831 "[CI] test failure: search/190_index_prefix_search/search with uppercase regex}"
[code]

[code]

relates #3578

[2022-10-19 00:01] #4162 closed

[2022-10-19 00:27] #4771 closed

[2022-10-19 06:36] tkykenmt opened #4835 "Unlock Japanese completion filter to kuromoji analysis plugin"
**Is your feature request related to a problem? Please describe.**
Lucene offers native auto-completion feature for Japanese using JapaneseCompletionFilter since 9.0[1] . It's powerful feature for implementing auto-completion system in Japanese. By using this feature, users can reduce implementation auto-complete tasks from scratch.

**Describe the solution you'd like**
Unlock this feature such as

[2022-10-19 11:46] isabelleingato commented on #4736
The answer to https://github.com/aws/aws-sdk-java-v2/issues/652 resolved this for me. I had to upgrade org.apache.httpcomponents:httpcore to version 4.4.9.

[2022-10-19 13:50] dblock commented on #4649
@diachedelic You can test it by commenting out that line. Obviously don't do this in production ;)

[2022-10-19 13:52] dblock commented on #4807
I think you want to rename this to "Add option to turn off version in server banner." However, a lot of clients depend on that :(

[2022-10-19 14:00] dblock commented on #1448
For this specific issue, we want _some_ windows CI on GHA that runs on every PR. The complete gradle check with all integration tests is another ask.

[2022-10-19 15:21] imRishN opened #4838 "[Zone Decommission] Fail weight update when decommission ongoing and fail decommission when attribute not weighed away"
**Is your feature request related to a problem? Please describe.**
While triggering weight update for an awareness attribute, we should check if any ongoing decommission action is in process. If yes, we should fail the weight update request as it might lead cluster to an unexpected state where weights would be set to a decommissioned zone or for that matter any such state update. During decommissi

[2022-10-19 17:03] anasalkouz commented on #3957
@imRishN @gbbafna I have update this META issue by adding couple of Zone Decommission issues

[2022-10-19 17:41] frejonb opened #4840 "[BUG] KNN memory circuit breaker limit in opensearch.yaml"
**Describe the bug**
The setting `knn.memory.circuit_breaker.limit` doesn't seem to be respected when set in the `opensearch.yaml`. Even setting it in `/_cluster/settings` does not work unless I remove the setting from `opensearch.yaml`

**To Reproduce**
Steps to reproduce the behavior:
1. Set `knn.memory.circuit_breaker.limit: 56200000KB` in `opensearch.yaml`
2. Warm up an index
3. Check `/_plugi

[2022-10-19 17:43] mch2 commented on #4817
handing this off to @peterzhuamazon who is more familiar with this setup.

[2022-10-19 18:22] dblock commented on #4649
You need a newer JDK, see https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md

[2022-10-19 19:14] saratvemulapalli commented on #4840
Thanks @frejonb settings is something we use everyday, lets start with how K-NN is handling the settings consumer and traceback if OpenSearch has problems.

[2022-10-19 19:26] saratvemulapalli commented on #4836
@dblock @HimaChitalia this request sounds like client support for plugin features.
Does this really have to be Java High Level Rest Client, why not opensearch-java client?

[2022-10-19 19:27] saratvemulapalli commented on #4823
Thanks @sbabigian are you open for contributing this change?

[2022-10-19 19:43] Bukhtawar commented on #4649
The hot paths might as well be outside IOUtils.java as well.

https://github.com/opensearch-project/OpenSearch/blob/d8e7d87daa84db605360970d210b923c3f4b3117/server/src/main/java/org/opensearch/index/translog/TranslogWriter.java#L510

[2022-10-20 00:06] peterzhuamazon commented on #4817
Testing now.

[2022-10-20 05:33] dreamer-89 opened #4844 "Add Github action to ensure code coverage requirements are met"
As part of this issue, we need to add a git action to ensure code coverage requirements are met without which PR merge is blocked. The [codecov integration](https://app.codecov.io/gh/opensearch-project/OpenSearch) is already done. The [codecov configuration](https://github.com/opensearch-project/OpenSearch/blob/main/codecov.yml) defines the config around code coverage. As part of this change, we n

[2022-10-20 05:38] dreamer-89 commented on #4555
Closing this issue and POC work is tracked in https://github.com/opensearch-project/OpenSearch/issues/4536

[2022-10-20 05:38] #4555 closed

[2022-10-20 05:44] dreamer-89 commented on #4628
This issue tracks only this work. Remaining points are already discussed in #4555. More details below.

Uploading SegmentInfos is not needed as defined as alternative above and discussed in #4555

This is already discussed in #4555. A bounded fsync approach will be used which keeps the recovery time bounded.

Discussed in #4555, a combination of saving last N commit points and keeping last M days

[2022-10-20 05:45] dreamer-89 commented on #4536
Existing changes pushed to `remote_store_poc`. This work depends on https://github.com/opensearch-project/OpenSearch/issues/4628 and https://github.com/opensearch-project/OpenSearch/issues/4793 before actual integration can be tested.

https://github.com/dreamer-89/OpenSearch/tree/remote_store_poc

[2022-10-20 07:31] ayushKataria commented on #2756
@mch2 Opened pull request #4773 for this. Let me know feedback for this.

[2022-10-20 09:32] diachedelic commented on #4649
@dblock What version are you using? I am using JDK 18.

[2022-10-20 10:05] gaobinlong opened #4845 "[BUG] The split index's shards cannot be assigned because of the source index's index.blocks.read_only setting"
**Describe the bug**
When executing Split API , if we set the `index.blocks.read_only` setting of the source index to `true`, then the Split API responds slowly and finally return an `action_request_validation_exception` with 400 status code, but the new splitted index is created and only part of the new shards are STARTED, so the new split index's health is `red`. By checking the log, it shows th

[2022-10-20 15:12] SohamRatnaparkhi commented on #4789
Hi, tried searching in the code base as to why code breaks at value = 20. Anyways, So I am making a PR by changing 20 to 21.

[2022-10-20 15:58] peternied opened #4852 "[BUG] flaky test `index/80_geo_point/Single point test`"
**Describe the bug**
Looks like there is a flaky test case `index/80_geo_point/Single point test` inside of org.opensearch.backwards.MixedClusterClientYamlTestSuiteIT.test

                        hits.total: expected Integer [6] but was Integer [5]

**To Reproduce**
Steps to reproduce the behavior:
1. `REPRODUCE WITH: ./gradlew ':qa:mixed-cluster:v2.4.0#mixedClusterTest' --tests "org.opensearch.b

[2022-10-20 18:32] bbarani commented on #3974
Closing this issue since all the tasks are completed for this issue. Feel free to re-open if needed.

[2022-10-20 18:32] #3974 closed

[2022-10-20 18:36] bbarani commented on #417
@nknize @anasalkouz I removed the OpenSearch version tagged to this issue. Feel free to add the appropriate version as needed.

[2022-10-20 18:38] andrross commented on #3663
Resolving this issue again. The inclusive naming deprecation high level approach is detailed in the blog post here: https://opensearch.org/blog/technical-post/2022/10/Adopting-inclusive-language-across-OpenSearch/

[2022-10-20 18:38] #3663 closed

[2022-10-20 18:43] peternied opened #4856 "[BUG] Remove package `org.opensearch.action.support.master`"
**Describe the bug**
Source issue see `ClusterManager" in all Java APIs that are exposed in Java libraries.` https://github.com/opensearch-project/OpenSearch/issues/1684

4 classes AcknowledgedRequest, AcknowledgedRequestBuilder, AcknowledgedResponse, ShardsAcknowledgedResponse in package org.opensearch.action.support.master will not be deprecated in version 2.x, and will be moved to package org.o

[2022-10-20 18:43] peternied commented on #3663
@andrross I've created https://github.com/opensearch-project/OpenSearch/issues/4856 to track these classes that need to be moved as a breaking change.

[2022-10-20 18:56] DSosnovsky opened #4858 "Retrieve uncommitted deleted document id's in custom plugin"
**Is your feature request related to a problem? Please describe.**
I don't understand, how I can retrieve data (deleted documents id) via getCustomTranslogDeletionPolicyFactory() in my custom plugin.
1. I wrote a custom implementation for getCustomTranslogDeletionPolicyFactory() but I don't see/understand exactly which options to retrieve documents metadata as doc id.
2. If it is possible exactly

[2022-10-20 19:25] heemin32 opened #4859 "[BUG] Failing test: org.opensearch.index.store.StoreTests.testCleanupAndPreserveLatestCommitPoint"
[code]

[code]

[2022-10-20 19:59] #3969 closed

[2022-10-20 20:50] heemin32 opened #4861 "[BUG] Failing test: org.opensearch.index.fielddata.SortedSetDVStringFieldDataTests.testSortMissingLastReverse"
[code]

[code]

[2022-10-20 20:59] dblock commented on #4836
@HimaChitalia what are you using? Would an implementation in https://github.com/opensearch-project/opensearch-java work for you?

[2022-10-20 21:05] dblock commented on #4649
That would be 1.8 in your output.

[code]

[2022-10-20 21:46] bbarani commented on #4017
@kartg @anasalkouz  I am closing this issue since we released 2.2.0 already but I would request you to keep this issue up to date during release and close it on time going forward. Make sure to add any retrospective learning on this issue as well.

[2022-10-20 21:46] #4017 closed

[2022-10-21 01:07] moorthi07 opened #4864 "[BUG] Fluent-bit simple post to opensearch throws 'not an ssl/tls record' error"
Case 1:
/fluent-bit/bin/fluent-bit -i cpu -t cpu -o http -p Host=192.168.64.9 -p Port=9200 -p uri /log/ingest -m * -p Format json tls on
fbit Log:
[2022/10/20 21:01:26] [error] [http_client] broken connection to 192.168.64.9:9200 ?

[2022/10/20 21:01:26] [error] [output:http:http.0] could not flush records to 192.168.64.9:9200 (http_do=-1)

[2022/10/20 21:01:26] [ warn] [engine] failed to flush ch

[2022-10-21 03:32] imRishN commented on #4838
PR merged

[2022-10-21 03:32] #4838 closed

[2022-10-21 05:48] Arpit-Bandejiya opened #4865 "[BUG] Unexpected behaviour of auto_expand_replica setting when replica count is enforced"
**Describe the bug**
The bug was found when the following feature is enabled: https://github.com/opensearch-project/OpenSearch/pull/3462/files#diff-013717f93370bf1d9635d1b84aee81e7e003e3fd6c6bb7c74b9890a1327a04b6

There are two bugs that were found related to auto_expand_replica setting

1. The index creation is failing if auto_expand_replica setting is provided since it is validating for only `nu

[2022-10-21 08:12] ketanv3 commented on #4852
Another PR impacted by this - https://github.com/opensearch-project/OpenSearch/pull/4805

[2022-10-21 09:54] pranikum opened #4866 "[Enhancement]: Discuss the Node draining state feasiblity."
**Is your feature request related to a problem? Please describe.**
As part of Decommission request we have added DRAINING state having the exact state when the decommission process fails.
We can check if we need to have this state altogether.

**Describe the solution you'd like**
Remove the DRAINING state and use IN_PROGRESS

**Describe alternatives you've considered**
NA

**Additional context**
N

[2022-10-21 10:38] diachedelic commented on #4649
Thank you, that was silly of me.

I commented out `force(true)` everywhere I could find it (in IOUtils.java, Checkpoint.java and TranslogHeader.java), but it did not improve the performance of index creation.

[2022-10-21 15:50] dblock commented on #4861
https://github.com/opensearch-project/OpenSearch/pull/4867

[2022-10-21 15:50] #4861 closed

[2022-10-21 15:53] dblock commented on #4864
https://docs.fluentbit.io/manual/v/1.0/configuration/tls_ssl says to turn on TLS it's `-p tls=on -p tls.verify=off`, that doesn't seem to match the above command line?

[2022-10-21 16:20] dblock commented on #4649
Thanks @diachedelic, sounds like we'll need more profiling! @andrross or @mch2 do you have any suggestions of how to properly construct a benchmark or an existing benchmark that can be run to narrow this down?

[2022-10-21 17:09] vibrantvarun commented on #1448
**TEST Failing while othe platforms code commented.**
1)
- MultiVersionRepositoryAccessIT. classMethod
- MultiVersionRepositoryAccessIT. classMethod
- MultiVersionRepositoryAccessIT. classMethod
- MultiVersionRepositoryAccessIT. classMethod
- MultiVersionRepositoryAccessIT. testCreateAndRestoreSnapshot
- MultiVersionRepositoryAccessIT. testCreateAndRestoreSnapshot
- MultiVersionRepositoryAccessIT.

[2022-10-21 17:16] #760 closed

[2022-10-21 17:37] moorthi07 commented on #4864
Tried all permutation combinations already. Bye the way -p is for plugin parameter and tls is general config parameter (refer:  https://docs.fluentbit.io/manual/v/1.0/output/http)

[2022-10-21 17:42] dblock commented on #4864
I assume `curl` works to your OpenSearch instance? `curl -XGET --insecure https://192.168.64.9:9200`

[2022-10-21 17:46] dblock opened #4871 "Update CI failure note to include a link to DEVELOPER_GUIDE"
**Is your feature request related to a problem? Please describe.**

When Gradle checks CI fails developers don't know what to do.

**Describe the solution you'd like**

In https://github.com/opensearch-project/OpenSearch/pull/4868 we have added a section to describe what to do with failed tests in CI. Can we add a link to `https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.

[2022-10-21 17:46] dblock commented on #4871
@peterzhuamazon Do you know where to make this change?

[2022-10-21 17:49] moorthi07 commented on #4864
Good suggestion. Tried
 curl -XGET --insecure https://192.168.64.9:9200
returns :
Unauthorized

Any ways to add credentials in curl or opensearch plugin for fbit?

[2022-10-21 17:57] dblock commented on #4864
Reading https://docs.fluentbit.io/manual/pipeline/outputs/opensearch it says `Http_User` and `http_Passwd`? Set those to `admin` and `admin`?

[2022-10-21 17:58] moorthi07 commented on #4864
yes . I found that . I get ,
{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Action/metadata line [1] contains an unknown parameter [_type]"}],"type":"illegal_argum>
Oct 21 03:24:06 docker-dev fluent-bit[3707]:

[2022-10-21 18:07] dblock commented on #4864
Ok, this is a new problem: OpenSearch 2.x deprecated the whole `_type` business, so this is a version compatibility problem. I would do the following:

1. Ensure you got latest fluentbit.
2. Try with OpenSearch 1.x, just to confirm.
3. Open an issue with Fluentbit for OpenSearch 2.x compatibility if such thing doesn't exist (e.g. by using a newer version).

[2022-10-21 18:11] moorthi07 commented on #4864
Same thought here. Great. Thx.
Did you let know the fluent-bit team as well!

[2022-10-21 18:35] moorthi07 commented on #4864
Also this doc and relevant git repo need to be updated.
https://opensearch.org/docs/latest/observability-plugin/log-analytics/

[2022-10-21 18:57] andrross commented on #4831
Fixed by #4869

[2022-10-21 18:57] #4831 closed

[2022-10-21 19:21] dblock commented on #4864
@moorthi07 Care to contribute? That's https://github.com/opensearch-project/documentation-website

[2022-10-21 19:29] Bukhtawar opened #4874 "[BUG] Race in node-left and node-join can prevent node from joining the cluster indefinitely"
**Describe the bug**
A node in an OpenSearch cluster can fail due to many reasons(health-check failure/lagging etc)which triggers a `node-left` cluster state update on the leader which is responsible for removing the connections as a part of applying the new(node-left) cluster state. However it is possible that a data node triggers a `node-join` quickly(before the leader has removed the connection

[2022-10-21 19:59] moorthi07 commented on #4864
Sure. I will update after testing its all working.

[2022-10-21 20:47] #4749 closed

[2022-10-21 21:33] kotwanikunal commented on #4852
Test consistently failing for #4870

[2022-10-21 22:25] peterzhuamazon commented on #4817
Initial PR:
* https://github.com/opensearch-project/opensearch-ci/pull/210

[2022-10-22 00:26] andrross opened #4881 "[BUG] OperationRoutingTests.testWeightedOperationRoutingWeightUndefinedForOneZone failure"
Failure here: https://build.ci.opensearch.org/job/gradle-check/5293/

This test failure appears to be reproducible with the given seed:

[code]

I haven't investigated at all but should be easily fixable given that it is deterministic.

[2022-10-22 01:35] andrross commented on #4881
Maybe not a one-off...another failure here: https://build.ci.opensearch.org/job/gradle-check/5299/

[2022-10-22 06:53] muralikpbhat commented on #4874
Interesting, is there no ordering guarantee in cluster manager processing (it processe node-join before node-left)?

[2022-10-22 07:55] Bukhtawar commented on #4874
Thats right @muralikpbhat, the `node-left` cluster state apply doesn't block on disconnections to complete as is done asynchronously

https://github.com/opensearch-project/OpenSearch/blob/3aef125d0dbf2f29d9bf00b84cb52892a27a5328/server/src/main/java/org/opensearch/cluster/NodeConnectionsService.java#L164-L177

[2022-10-22 10:33] rockybean commented on #4865
I think this is expected. As your max replica count is `5` and your `total awareness attributes ` value is `3` from the exception log.

And `5` is not multiple of `3`.

right?

[2022-10-22 17:35] seraphjiang commented on #1868
Thanks @anasalkouz  @andrross and @Bukhtawar @dblock  for discussion

It is true, change log conflict take mins to resolve, however it then it introduce new commit, and need to re-run CI which takes hours to finish. If this happen again and again when multiple people is committing, developer will be very frustrated.

Think about long term productivity when more and more contribute join the effort

[2022-10-23 00:18] seraphjiang commented on #4769
my proposal is not deprecate changelog in opensearch repo, but deprecate in all repo. i think we should keep this in meta repo to discuss. not moving to specific project discussion and close it.

[2022-10-23 00:41] seraphjiang commented on #1868
I have tested [release note automation](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuring-automatically-generated-release-notes)

it is pretty neat, see my experiment below

https://github.com/seraphjiang/dashboards-anywhere/releases/tag/v0.9.1

[2022-10-23 09:17] kavilla commented on #4769
I think originally when the solution was looked in relied on PRs having correct labelling. But I feel more confident within the project that we utilize labelling that perhaps we can rely on this solution?

But reading the thread as well (sorry I missed it) the ideal state is that a changelog isnt a 1-to-1 to the commit history. Like if a feature came out in 2.x then I don't find much value on chan

[2022-10-23 18:25] heemin32 commented on #4852
Test succeeded in #4805. #4870 will succeed once it is rebased.

[2022-10-24 11:46] rursprung opened #4883 "[BUG] gradle build: docker integration doesn't work if not installed in default location (or using CLI instead)"
**Describe the bug**
the current implementation assumes that docker and docker-compose can be found in specific paths:
https://github.com/opensearch-project/OpenSearch/blob/2310a3d53991eea6c53ffdc3cc28da1846a124a5/buildSrc/src/main/java/org/opensearch/gradle/docker/DockerSupportService.java#L69-L78

however, this is not always the case:
* the applications could be installed in non-default paths
*

[2022-10-24 12:28] rursprung commented on #4589
i had a brief look at this and realised that java's generic type erasure is blocking me from just adding a 2nd API with the same name and `Provider<File>` as an argument - as both are just seen as `Provider` by the compiler.
so i see two options:
* do this as a breaking change on main and just change `Provider<RegularFile>` to `Provider<File>` and change all consumers when they update (from what i

[2022-10-24 13:54] dblock commented on #1868
@seraphjiang I like automation. Try this on a fork of OpenSearch, let's see  how readable the result is? Enable it on main, 2.x and a released version, e.g. 1.3.5. Also can those automated release notes be edited post-fact or will they forever contain typos that developers make in commit messages?

[2022-10-24 13:54] dblock commented on #1868
@andrross I think we want a 1:1 relationship, but we also want the changes to be humanly readable

[2022-10-24 13:55] dblock commented on #1868
Re: 2, it's asking a lot from code reviewers to check commit messages, and for contributors to amend and force-push their changes again and again

[2022-10-24 17:10] peterzhuamazon commented on #4819
Seems like a bit random, trigger again.

[2022-10-24 17:11] peterzhuamazon commented on #4819
The failure is still related to CU, closing this now:
[code]

[2022-10-24 17:51] seraphjiang commented on #1868
tried clone the opensearch repo, unfortunately, it will reset the PR history not clone that as well.

https://github.com/seraphjiang/OpenSearch/releases

we has add release.yml in existing repo, will have a try and update here.
https://github.com/opensearch-project/dashboards-anywhere

[2022-10-24 17:55] Bukhtawar commented on #3045
Closing as fixed https://github.com/opensearch-project/OpenSearch/pull/3621

[2022-10-24 17:55] #3045 closed

[2022-10-24 18:52] dblock commented on #1868
Is this how it would look? https://github.com/seraphjiang/OpenSearch/releases/tag/2.2.0

[2022-10-24 20:10] dblock commented on #1868
Throwing in https://www.conventionalcommits.org/en/v1.0.0-beta.2/ which could become a standard way to write commit messages. This is used in https://github.com/aws/sagemaker-python-sdk and https://github.com/aws/copilot-cli.

[2022-10-24 20:26] dblock commented on #1868
@kotwanikunal I am seeing that we have both Unreleased and 2.x sections in main and 2.x. Was that intentional? Should everything be unreleased?

[2022-10-24 21:41] adnapibar opened #4897 "[BUG] o.o.c.r.OperationRoutingTests.testWeightedOperationRoutingWeightUndefinedForOneZone test failure"
**Describe the bug**
Flaky random test failure

**To Reproduce**
[code]

**Expected behavior**
Test should pass

**Plugins**
None

**Screenshots**
[code]
**Host/Environment (please complete the following information):**
 - OS: macOS Monterey
 - Version: 12.6

**Additional context**
None

[2022-10-24 21:42] #4897 closed

[2022-10-24 22:45] seraphjiang commented on #1868
not exactly, but similar, the format is configuable.

[2022-10-24 22:49] kotwanikunal commented on #1868
It was supposed to be Unreleased for main, 2.x for 2.x. Backporting has led to a mess and inconsistency, with folks not adding the change to 2.x.
Currently `Unreleased` is the only one which has all the correct changes, and I was hoping to get main + backporting in line since that will bring the other branches to a correct state automatically with the helper.

[2022-10-24 22:53] seraphjiang commented on #1868
@dblock this is how it looks without adding labels like feature/bug/enhancement/break

https://github.com/opensearch-project/dashboards-anywhere/releases/tag/v0.8.0

here is release.yml
https://github.com/opensearch-project/dashboards-anywhere/blob/main/.github/release.yml

[2022-10-24 23:24] kotwanikunal opened #4899 "[BUG] Failures with org.opensearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT.test {yaml=search/30_limits/Regexp length limit}"
**Describe the bug**
- Test `org.opensearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT.test {yaml=search/30_limits/Regexp length limit}` is failing for an unrelated change

**To Reproduce**
Re run the test with the following seed -
[code]

**Expected behavior**
- Test should pass

**Plugins**
- minimal build from forked repo

**Screenshots**
If applicable, add screenshots to help explain yo

[2022-10-25 02:51] seraphjiang commented on #1868
another example

https://github.com/opensearch-project/opensearch-dashboards-functional-test/releases/tag/v2.4.0-rc

[2022-10-25 03:22] seraphjiang commented on #1868
this is github's public rest api to generate release note, which we could integrate with our release automation

https://docs.github.com/en/rest/releases/releases#generate-release-notes-content-for-a-release

[2022-10-25 06:07] loxiaopohaiol opened #4901 "[BUG]docker images can't runing on arm machine"
My vm OS is 'Kylin Linux Advanced Server release V10', the docker server version is 19.03.15, and the CPU is ARM. When I run the opensearch by docker(the commond is "docker run -d -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:latest"), the log show that:
![image](https://user-images.githubusercontent.com/48348273/197695744-74ea3466-b3c3-4fa7-bdb1-a900954493

[2022-10-25 06:23] #4901 closed

[2022-10-25 06:44] rursprung commented on #1868
tbh, that sounds wrong. the changelog for 2.x should only live on the 2.x branch - the main branch should only have the changelog for main (i.e. the moment 2.x is branched away the two changelogs start to diverge). otherwise you have a nightmare in maintaining the changelog (as you have now).

i know that i was the one who advocated for the currently used changelog and still think that the _format

[2022-10-25 07:11] tlfeng commented on #4797
Did a very initial benchmark for Searchable Snapshot feature.
I setup an OpenSearch node by myself and use opensearch-benchmark tool to run workload on the custom cluster, the reason not to use a node provisioned by the benchmark tool is, there are some custom configuration to an OpenSearch cluster to use the new feature.

Node Configuration:
1 Added `path.repo: "/tmp/opensearch_backups"` to `conf