[2022-10-25 10:30] ivyxjc opened #4903 "[BUG] /_doc/_mget is not allowed in AWS host opensearch"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dev Tools
2. Call api
[code]
3. It will return error message `{"Message":"Your request: '/_doc/_mget' is not allowed."}`

**Expected behavior**
As same as `GET /_mget`

[code]

**Plugins**

**Screenshots**

**Host/Environment (please complete the following informatio

[2022-10-25 10:51] 19914039 opened #4904 "[BUG]400 Bad Request: {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Action/metadata line [1] contains an unknown parameter [_type]"
Hello, team! I am trying to send cpu metrics from fluentbit to opensearch. Getting error:  [2022/10/25 16:10:07] [error] [output:opensearch:opensearch.0] HTTP status=400 URI=/_bulk, response:
{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Action/metadata line [1] contains an unknown parameter [_type]"}],"type":"illegal_argument_exception","reason":"Action/metadata line [1]

[2022-10-25 12:46] antoniocascais opened #4905 "[BUG]"
**Describe the bug**
A document exists with field `log` and text `FOO`, but when I try to search for `FOO` I get 0 results back.

**To Reproduce**
Steps to reproduce the behavior:
1. Search "FOO" and get nothing back.

**Expected behavior**
I would expect the *existing* document to be found.

**Plugins**

* Query Workbench
* Reporting
 * Alerting
 * Anomaly Detection
 * Observability
 * Index Mana

[2022-10-25 13:51] scrawfor99 opened #4907 "[BUG] Java Heap Space Causing Gradle Check Failures"
When testing a change to the feature/identity repo, I encountered an issue with the gradle check Jenkins process. After the check running for 17 minutes, the build fails with approximately 30 instances of the failure "Java heap space" presumably relating to the heap memory allocation.

Full logs can be found here: https://build.ci.opensearch.org/job/gradle-check/5471/console

**To Reproduce**
Step

[2022-10-25 15:22] macohen commented on #4626
Closing this as https://github.com/opensearch-project/dashboards-search-relevance/issues/2 supersedes it.

[2022-10-25 15:22] #4626 closed

[2022-10-25 16:07] ahopp commented on #1018
Hey @aabukhalil wanted to follow-up here as well. Any progress/is this still in-flight? Trying to understand where we're at.

[2022-10-25 16:30] reta commented on #4907
This is interesting, suppossed to be fixed by https://github.com/opensearch-project/OpenSearch/issues/3973 but ... Gradle cache?

[code]

[2022-10-25 16:31] rursprung commented on #1868
just as a minor clarification: when i wrote "for every commit" i actually meant "for every PR". but that doesn't change a lot as larger features still consist of multiple PRs (leading to multiple entries for one new feature instead of a single entry) and there are lots of PRs which are not relevant for users/operators.

[2022-10-25 16:53] dblock commented on #4903
@ivyxjc Have you opened a support case? You probably should, that's the right route for the managed service.

Please note that OpenSearch is a fork at 7.10, but 1.3 should work.

[2022-10-25 16:55] dblock commented on #4904
This is a dup, see https://github.com/opensearch-project/OpenSearch/issues/4864#issuecomment-1287284114 for details and next steps.

[2022-10-25 16:55] #4904 closed

[2022-10-25 16:57] peternied commented on #4907
We haven't merged from main in a little bit, will see if https://github.com/opensearch-project/OpenSearch/pull/4916 resolves this

[2022-10-25 17:04] dblock commented on #1868
@rursprung @andrross I have a `skip-changelog` label in https://github.com/dblock/create-a-github-issue that could be implemented here for dependabot and backports, see https://github.com/dblock/create-a-github-issue/pull/16/files. WDYT? Anyone wants to make that change here and cleanup the CHANGELOG in main and 2.x?

[2022-10-25 17:05] dblock commented on #1868
@seraphjiang Want to try to PR what you're suggesting into OpenSearch main?

[2022-10-25 17:34] dblock commented on #4824
This failed again in https://github.com/opensearch-project/OpenSearch/pull/4912, reopening and marking as flaky.

[2022-10-25 18:03] VachaShah commented on #4775
[code]

[2022-10-25 19:08] #4775 closed

[2022-10-25 20:09] peternied commented on #4907
@scrawfor99 Can you rebase and see if this issue is resolved?

[2022-10-25 20:18] mch2 commented on #4907
Closing this as it seems to have been fixed.  @scrawfor99 Please re-open if you still hit this issue.

[2022-10-25 20:18] #4907 closed

[2022-10-25 20:26] Poojita-Raj opened #4924 "[META][Windows CI] Getting windows gradle check to green"
Coming from #1448, here is the meta issue tracking all failing tasks/tests on windows gradle check that need to be resolved in order to get gradle check to green.

- [x] #4925
- [x] #4939
- [x] #4940
- [x] ResourceAwareTasksTests - these just hang for me in intellij.
- [x] HierarchyCircuitBreakerServiceTests.testFallbackG1RegionSize
- [x] PluginsServiceTests.testPluginLoadFailure & PluginsServiceT

[2022-10-25 20:29] andrross commented on #4752
Hey @hiteshghia! First off, [the OpenSearch forum](https://forum.opensearch.org/) is probably the best place for this type of discussion. But to answer your question, OpenSearch can work well with update heavy use cases. As with anything performance related, the specifics of your workload will matter a lot. The best way to determine this is to setup a cluster and run experiments with data simulati

[2022-10-25 20:29] #4752 closed

[2022-10-25 20:45] Poojita-Raj opened #4925 "Windows gradle check failure - checkExtraction tasks failing"
On running gradle check on windows, we see the below group of failures for checkExtraction task. We need to modify these extractArchive tasks so they get skipped on windows as these distributions aren't built on windows platform.

 ./gradlew :distribution:archives:darwin-tar:checkExtraction

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':distribution:archi

[2022-10-25 21:30] minalsha commented on #4866
@pranikum  are you planning to contribute to this issue?

[2022-10-25 22:19] mch2 commented on #4924
Running as Administrator is blocked with https://github.com/opensearch-project/OpenSearch/pull/4656. Enforced [here](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/bootstrap/Bootstrap.java#L123).  I bypassed this check and get the following failures in :server:test.  (re-ran a few times to fliter out flaky tests)

HierarchyCircuitBreakerServiceTests.

[2022-10-25 22:50] aabukhalil commented on #1018
no I'm not working on this anymore

[2022-10-25 23:19] rockybean commented on #4905
Can you share your index mappings? These unexpected search result is often caused by incorrect tokenization.

You can get detailed tokenized results via below api.
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-analyze.html

[2022-10-26 00:02] Rishikesh1159 opened #4927 "[BUG] [Segment Replication] Replica shard's translog is not getting purged after flush on index"
**Describe the bug**
With Segment Replication enabled when a flush is done on index, replica shards are not purging their translog and replica's translog size is increasing with new segment files. This can lead to disk running out of space on node very quickly. This only happens with replica shards, primary shards do purge their translog on a flush.

**To Reproduce**
Steps to reproduce the behavio

[2022-10-26 07:56] pranikum opened #4930 "[BUG]: Allow decommission to support delay timeout"
**Describe the bug**
As part of decommission request for graceful decommission we are not allowing delay_imeout to be set by user. This will be required by in case of large cluster. We need to allow delay timeout to be set.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a decommission
2. Try to set delay_timeout
3. Request fails

**Expected behavior**
Delay_timeout should be allowed to

[2022-10-26 10:04] Shivacharangoud opened #4933 "getting all fileds values in a array using painless script"
@kyleconroy @spk @smortex @markharwood @Shivacharangoud

 have an index which data looks like:
[
{"contact_id":1,"data":"yes"},
{"contact_id":2,"data":"no"},
{"contact_id":5,"data":"yoo"}
]

i want to get all this contact_id values in a array like [1,2,5]
how can i do it using painless script and buckets

[2022-10-26 10:24] antoniocascais commented on #4905
Hi @rockybean , thanks for getting back to me.

The analyze looks ok to me:

[code]

And the mappings on the field I'm searching also look good to me:
[code]

Can you see something wrong here?

[2022-10-26 13:15] scrawfor99 commented on #1147
Hi @rajkthakur, just checking in from the security team to see if there is anything you need finalized from us before the upcoming 2.4 freeze.

[2022-10-26 13:35] dblock opened #4936 "[BUG] CHANGELOG is incorrect across branches (main vs. 2.x)"
**Describe the bug**

The CHANGELOG on main contains a 2.x section, which makes no sense because all changes on main are 3.0. So the only section that this CHANGELOG should have is unreleased (3.x). The CHANGELOG on 2.x contains a 2.x section, which  is also incorrect. On 2.x it should be all changes that went onto 2.x.

**Expected behavior**

CHANGELOG on main = all changes in 3.0
CHANGELOG on 2.

[2022-10-26 13:36] dblock commented on #4936
@kotwanikunal LMK if you want to/can take this? I think whatever we are doing isn't working :(

[2022-10-26 13:45] shutlle commented on #3879
Hi, we have same error with OpenSearch 2.2.0 and Jaeger 1.38.1
Any additional information about this issue?

[2022-10-26 16:47] ankitkala opened #4938 "[BUG] CCR 3.0 build failing due to BaseNodeRequest"
We have a CCR build failing while trying to bump the CCR plugin to 3.0 with following error.
[code]

Looks like we've extended `BaseNodeRequest` and `TransportNodesAction` for our stats APIs which has been removed [here](https://github.com/opensearch-project/OpenSearch/commit/fe3994ccdf62735907bc4834f93c71d97636d150#diff-a8affa0470501c9cb284bfbd66f00d493fc72bf05d12e4e2c89bfda6fe814371).

CCR exten

[2022-10-26 16:48] ankitkala commented on #4938
@nknize

[2022-10-26 16:50] Poojita-Raj opened #4939 "checkLicense tasks failing"
On running gradle check on windows, we see the below group of failures for checkLicense tasks. We need to modify these checkLicense tasks so they get skipped on windows as these distributions aren't built on windows platform.

Task :distribution:archives:linux-arm64-tar:checkLicense FAILED
Task :distribution:archives:darwin-arm64-tar:checkLicense FAILED
Task :distribution:archives:freebsd-tar:chec

[2022-10-26 16:51] Poojita-Raj opened #4940 "checkNotice tasks failing"
On running gradle check on windows, we see the below group of failures for checkNotice tasks. We need to modify these checkNotice tasks so they get skipped on windows as these distributions aren't built on windows platform.

Task :distribution:archives:linux-arm64-tar:checkNotice FAILED
Task :distribution:archives:darwin-arm64-tar:checkNotice FAILED
Task :distribution:archives:freebsd-tar:checkNot

[2022-10-26 17:16] scrawfor99 opened #4942 "[BUG] Cannot incorporate automated testing for Windows install with current runningAsRoot() requirements"
As things stand, it is not possible for any team to run a GitHub Action to test a Windows demo configuration. The original merge #4656 incorporated a change which requires all instances of OpenSearch be run as a non-root user. Currently, we have not found a solution for running a Powershell GitHub Action to install the demo configurations as part of testing.

This has become a blocker for https://

[2022-10-26 17:17] scrawfor99 commented on #4942
@cwperks @peternied @dbwiddis

[2022-10-26 17:35] vibrantvarun commented on #4924
@mch2 @Poojita-Raj Docker tests and running gradle check with admin

[2022-10-26 17:53] nknize commented on #4938
This is correct;

Replicate what logic specifically? The `HandledTransportAction` is[ registering the Action](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/support/HandledTransportAction.java#L90) in the same manner as the [TransportNodesAction ctor](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearc

[2022-10-26 17:55] mch2 commented on #4924
Listing project wise stats here, ignored means it is already ignored, not a new ignore.

rest-api-spec - 1,152 passed, 27 ignored.

[2022-10-26 17:57] nknize commented on #4938
I think you're looking at [`BaseNodesRequest`](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/support/nodes/BaseNodesRequest.java) (with an 's'). `BaseNodeRequest` is not in `main`.

[2022-10-26 18:21] derek-ho commented on #3879
@shutlle can you run with --es.version=7? That fixed the issue for me.

[2022-10-26 18:46] peternied commented on #4942
We've depended on that plugin-install workflow to help identify security plugin blockers before they get to the OpenSearch distribution build since it impacts so many more teams, and its caught many subtle errors in the past.

If we are still having trouble figuring out how to get unto the correct execution context in GitHub, what about adding a flag to disable the admin check `--dangerousRunAsAdm

[2022-10-26 19:02] scrawfor99 opened #4943 "[FEATURE/IDENTITY] Incorporate byte stream processing for encryption/decryption"
This request is being filed to trim the amount of features being introduced with pull request https://github.com/opensearch-project/OpenSearch/pull/4730

As is, Principal Identifier Tokens do not have the functionality to be created via byte stream. This functionality is desired for various uses and should be added. You should be able to create a PIT via byte stream which is identical to a counter

[2022-10-26 19:08] scrawfor99 commented on #4924
@mch2 what was your process for bypassing the admin check if you don't mind me asking? Did you incorporate it into a script or did you manually run the tests and just not the check file?

[2022-10-26 19:27] dblock commented on #4942
On Windows "Administrator" and "root" aren't the same thing. For example, you still get elevation prompts. So maybe the feature of disallowing running OpenSearch as root should be implemented differently on Windows and consider, for example, whether OpenSearch can run as `localsystem`. Related to the option to disable that check, for Windows it should probably not be called "root".

[2022-10-26 19:33] scrawfor99 commented on #4942
Excellent idea. I am not as familiar with Windows so I am glad someone with more insight could shine some light. Thank you for your guidance with this.

[2022-10-26 19:34] mch2 commented on #4924
Ran check from intellij with admin:
passed: 15,861
ignored: 113
Failed: 9

The 9 that fail are in ShardIndexingPressureConcurrentExecutionTests.

[2022-10-26 19:34] mch2 commented on #4924
from command line this test passes:
[code]

It consistently fails from intellij.

[2022-10-26 19:35] mch2 commented on #4924
@scrawfor99 for now i've simply bypassed the check in `initializeNatives` with Constants.WINDOWS == false.  We need a better solution here but it helped identify tests that still pass even with admin.

Working on getting a list of failures without admin.

[2022-10-26 19:42] dbwiddis commented on #4942
Sorry for slow replies as I am not on the office today.  I suggest reverting my PR 4656 until we have a better understanding of what we are trying to prevent with root/admin/elevated access.

[2022-10-26 19:46] peternied commented on #4943
@scrawfor99 Would you might updating the roadmap [1] with when you think this should be implemented and provide a link back to this issue?

https://github.com/opensearch-project/OpenSearch/blob/feature/identity/IDENTITY_ROADMAP.md

[2022-10-26 20:58] Poojita-Raj opened #4945 "[BUG] Failing test on gradle check: org.opensearch.qa.verify_version_constants.VerifyVersionConstantsIT.testLuceneVersionConstant"
**Describe the bug**
Gradle check failing on PRs with org.opensearch.qa.verify_version_constants.VerifyVersionConstantsIT.testLuceneVersionConstant test failure. Unrelated to changes. Currently failed in PR #4941 and PR #4944.

Related to latest lucene version upgrade in #4922.

**To Reproduce**
./gradlew ':qa:verify-version-constants:v2.4.0#integTest' --tests "org.opensearch.qa.verify_version_con

[2022-10-26 21:41] owaiskazi19 commented on #4924
Tested `PluginsServiceTests.testPluginLoadFailure & PluginsServiceTests.testPluginFromParentClassLoader` on admin/non-admin user with @vibrantvarun and they passed.

[2022-10-26 21:44] vibrantvarun commented on #4924
[code]

[code]

[2022-10-26 23:11] #4945 closed

[2022-10-26 23:55] rockybean commented on #4905
Hi, @antoniocascais

I test with below script and all is going well.
[code]

Hope this can help

[2022-10-27 04:26] ankitkala commented on #4938
`TransportNodesAction` would send the request to multiple nodes based on the input request and return a multi-node response.
https://github.com/opensearch-project/OpenSearch/blob/fe3994ccdf62735907bc4834f93c71d97636d150/server/src/main/java/org/opensearch/action/support/nodes/TransportNodesAction.java#L244-L294

[2022-10-27 04:57] saikaranam-amazon opened #4952 "[BUG] OpenSearch Persistent Task framework incorrectly cancels the running tasks"
**Describe the bug**
OpenSearch persistent task framework ensures tasks are in running state within the cluster. In case of node drops, these tasks are spun on other healthy nodes.This task framework has clean-up mechanism in-place to cancel the local running task which is not registered on the cluster state. In rare cases, after the node drops and joins the cluster with persistent task running on

[2022-10-27 16:20] elfisher commented on #1133
@imRishN is this being worked on?

[2022-10-27 16:41] reta commented on #4637
JDK-19 support on Jenkins:  https://github.com/opensearch-project/opensearch-build/pull/2808

[2022-10-27 17:12] Rishikesh1159 commented on #4924
Tested `ShardIndexingPressureConcurrentExecutionTests` in isolation. Looks like a flaky test as it was not failing. Marking it as done.
`./gradlew :server:test --tests "org.opensearch.index.ShardIndexingPressureConcurrentExecutionTests.*"`

[2022-10-27 17:27] Bukhtawar commented on #3881
Based on the proposed solution suggested above do we need to just ensure we set the lucene version on the IndexWriter using `IndexWriter#setIndexCreatedVersionMajor` during peer recovery to ensure IndexWriter continues using the older Lucene version for segment creation to support backward compatibility.

The only place I can find being used today is for shrink/split operations during local shard

[2022-10-27 17:29] reta opened #4956 "OpenJDK Update (October 2022 Patch releases)"
**Is your feature request related to a problem? Please describe.**
OpenJDK 19.0.1, 17.0.5, 11.0.17, and 8u351 are released [1]. The Adoptium project has not released binaries for all platforms just yet, track it here [2], [3], [4].

**Describe the solution you'd like**
Update JDKs across all maintenance branches.

**Describe alternatives you've considered**
N/A

**Additional context**
Add any othe

[2022-10-27 17:31] kotwanikunal commented on #4936
Let me take a look at this.
#1868 also has a lot of discussion recently. Let me summarize and move that forward as well.

[2022-10-27 18:29] opensearch-ci-bot opened #4957 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-1.4.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/1.4.0/opensearch-1.4.0.yml --component OpenSearch --snapshot**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6320/consoleFull

[2022-10-27 20:13] andrross commented on #4797
Great work @tlfeng! One nitpick...that `force-merge` step should not be there after creating the searchable snapshot index (it should actually fail with the latest code). Also, can you re-run this with an S3 repository instead of a file system repository? I think everything will be the same except for the initial cluster setup.

[2022-10-27 21:10] #4925 closed

[2022-10-27 21:40] Poojita-Raj commented on #4924
Failing for non - Administrator users:

org.opensearch.gradle.tar.SymbolicLinkPreservingTarIT > testTarDoNotPreserveFileTimestamps FAILED
    java.nio.file.FileSystemException at SymbolicLinkPreservingTarIT.java:66

org.opensearch.gradle.tar.SymbolicLinkPreservingTarIT > testTar FAILED
    java.nio.file.FileSystemException at SymbolicLinkPreservingTarIT.java:66

org.opensearch.gradle.tar.SymbolicL

[2022-10-27 22:02] andrross commented on #4936
@dblock Just to clarify on the expected behavior, does this mean that if I commit a change to main that I intend to backport to 2.x, then the commit on main should not modify the CHANGELOG file and only the backport should modify the CHANGELOG file? And the only time I would modify the CHANGELOG file on main would be when I don't intend to backport it (because it will remain unreleased until the f

[2022-10-27 23:58] grahamplace commented on #1133
Came from: https://forum.opensearch.org/t/runtime-fields-on-opensearch/9837

I'm bummed that opensearch doesn't support runtime fields — they seemed like the solution I needed for my project (was reading about ES, obviously), so I'm disappointed that I'm left without the feature having chosen OS over ES 😞

[2022-10-28 00:10] andrross opened #4962 "[Searchable Snapshot] Add integration test for failure scenarios"
Add more searchable snapshot integration test cases that cover the following:
- failover and recovery happens if a search node becomes unhealthy and there is another healthy search node in the cluster
- cluster goes red when no healthy search node to allocate a remote shard
- local and remote indexes can be allocated together on same node (assuming it has both roles)

[2022-10-28 00:12] andrross opened #4964 "[Searchable Snapshot] Design file caching mechanism for block based files"
Currently searchable snapshots download Lucene files using a chunking approach to only download the data that is needed to service a query. It should use a node-level LRU cache that will use up to a configurable amount of local disk space to avoid re-downloading the same parts of frequently-accessed files. All shards on the node should share the same logical cache, meaning that if one shard is que

[2022-10-28 00:12] andrross opened #4965 "[Searchable Snapshot] Implement FileSystem Tracking LRU Cache with RefCounting"
Implement FileSystem Tracking LRU Cache with RefCounting (Cache should not delete a file being used so when cloning IndexInput refCount needs ++ and when being closed -- the counter) on Top of existing Cache

[2022-10-28 00:13] andrross opened #4966 "[Searchable Snapshot] Finalize behavior of settings API"
Currently, searchable snapshots disallow all settings updates. I think we’ll need to be smarter here and allow some settings to be writable whereas others not. For example, most (all?) search-related settings (e.g. “index.max_result_window”) should be configurable, whereas all write-related settings should not be allowed to change (e.g. “index.refresh_interval”). This logic applies to both changin

[2022-10-28 00:13] andrross opened #4967 "[Searchable Snapshot] Prevent deletion of snapshots that are backing searchable snapshot indexes"
The system is missing the protection to prevent a snapshot from being deleted if it is currently backing a searchable snapshot index. The desired behavior is that a user should delete all such indexes before deleting the snapshot is allowed.

[2022-10-28 00:14] andrross opened #4968 "[Searchable Snapshot] Define additional metrics needed for searchable snapshots"
This task focuses on defining the required metrics needed by searchable snapshots. There are a bunch of questions that need to be answered as a part of the original design discussion on caching [here](https://github.com/opensearch-project/OpenSearch/issues/4964#issuecomment-1312098784).

The goal of this task is to add in any define any new metrics that need to be added in terms of caching, queryi

[2022-10-28 00:18] Yury-Fridlyand commented on #4610
*picture of tumbleweed*

[2022-10-28 01:05] andrross opened #4969 "[BUG] Deterministic failure of AggregationsTests.testFromXContent with specific seed"
This test deterministically fails with the specified seed:

[code]

https://build.ci.opensearch.org/job/gradle-check/5821/console

[2022-10-28 08:51] francescodefalco commented on #4000
Hi,

thank you in advance for you job, I am trying to run the image phoenixsystemsag/opensearch:2.3.0 in docker simulated for s390x but I receiving this error:

![image](https://user-images.githubusercontent.com/38818486/198546290-601d7b6f-6152-4deb-ab73-78204e22c8c5.png)

Did you run the version? If in your case run correctly which is your configuration?

Thank you

[2022-10-28 09:16] antoniocascais commented on #4905
Hi @rockybean .

Once again, thank you for the help.

I have narrowed down my problem: i created 2 new indices, one for env A and one for env B. Then I send logs from my application to those 2 indices (i mean, application running in env A sends to index A, app running in env B sends to index B).
The mappings of these 2 indices are *exactly* the same. However, env A returns results when I search on

[2022-10-28 12:23] #4736 closed

[2022-10-28 14:55] #4927 closed

[2022-10-28 16:13] #4655 closed

[2022-10-28 16:18] Vishalks commented on #869
@techrajdeep Following up on this one more time. Feel free to put in any queries if you have.

[2022-10-28 16:21] nknize commented on #4938
+1, yes you're correct. This is the only class that performs this AsyncAction and it was only used internally in core for mechanisms like Node Stats, HotThead, Snapshot status. Since CCR is effectively mimicking the stats API it makes sense it extended this class.

So, in this pre-extensions era we could do one of two things:

1. re-label the abstract `TransportNodesAction` as `opensearch.api` and

[2022-10-28 16:26] #4291 closed

[2022-10-28 17:21] Poojita-Raj opened #4976 "[BUG][Segment Replication] Failing flaky test SegmentReplicationIndexShardTests.testReplicaReceivesLowerGeneration"
**Describe the bug**
The test case shows flaky failures - org.opensearch.index.shard.SegmentReplicationIndexShardTests.testReplicaReceivesLowerGeneration

**To Reproduce**
REPRODUCE WITH: ./gradlew ':server:test' --tests "org.opensearch.index.shard.SegmentReplicationIndexShardTests.testReplicaReceivesLowerGeneration" -Dtests.seed=25A1BC6ABB78D54B -Dtests.security.manager=true -Dtests.jvm.argline="

[2022-10-28 17:30] kotwanikunal commented on #4936
I had a look at this. I think backporting is creating the biggest issue with achieving this independency.
I was able to successfully test some changes to the existing backport workflow [here.](https://github.com/VachaShah/backport/pull/6/files)
I have reached out to Vacha for a release.
Post that I will clean up the versioning mess.

Sample PRs with the above change:
Original PR: https://github.co

[2022-10-28 18:13] minalsha commented on #4942
PR#4656 was reverted with https://github.com/opensearch-project/OpenSearch/pull/4949.

[2022-10-28 21:07] anasalkouz commented on #1147
@rajkthakur do you still track this for 2.4 release? code freeze on 11/3

[2022-10-28 21:09] anasalkouz commented on #1181
@tushar-kharbanda72 do you still track this for 2.4 release? code freeze on 11/3
Is there anything pending? otherwise, feel free to close it.

[2022-10-28 21:11] anasalkouz commented on #1329
@tushar-kharbanda72 is this still on track for 2.4 release? code freeze on 11/3
Is there anything pending? otherwise, feel free to close it.

[2022-10-28 21:12] anasalkouz commented on #3960
@bharath-techie is this still on track for 2.4 release? code freeze on 11/3
Is there anything pending? feel free to close it or change the label to 2.5

[2022-10-28 21:17] anasalkouz commented on #4487
Hi @reta, I see the PR still on draft version, is this still on track for 2.4 release? code freeze on 11/3.
Let me know if there is anything I can help with.

[2022-10-28 21:18] anasalkouz commented on #4759
@kotwanikunal Can we close this one? since the design already finalized.

[2022-10-28 21:44] reta commented on #4487
@anasalkouz sadly I don't think we could make it into 2.4, ideally we need some changes on Apache Lucene side [1] but it is unlikely they are going to be ready (or even accepted) before the 2.4 release :(

[1] https://github.com/apache/lucene/pull/11875

[2022-10-28 21:45] #4759 closed

[2022-10-28 21:51] kotwanikunal commented on #4033
Implemented as a part of #4892

[2022-10-28 21:51] #4033 closed

[2022-10-28 21:52] dblock commented on #4610
Sounds OK to me!

[2022-10-28 21:52] kotwanikunal commented on #3115
Tracked as a part of #3991 / #3961
Implementation - #4892

[2022-10-28 21:52] #3115 closed

[2022-10-28 21:53] kotwanikunal commented on #3869
Implemented as a part of #4892

[2022-10-28 21:53] #3869 closed

[2022-10-28 21:55] dblock commented on #4000
I believe this was merged into 2.4.0, but didn't make it into 2.3.0 (released Sep 13). I don't see it in https://github.com/opensearch-project/OpenSearch/commits/2.3.

[2022-10-28 21:56] dblock commented on #4000
@peterzhuamazon What's the docker image version that @francescodefalco can try?

[2022-10-28 22:00] dblock commented on #4936
Well, that's a good question. From the end user POV I think that's exactly right, if the feature shipped in 2.4.0 then there's no reason to call it out in 3.0.0.

[2022-10-28 22:05] dblock commented on #4936
@kotwanikunal In your example I think we have the opposite problem: the backport to 2.x is where we want the changelog because that's the version in which it's going to ship. And on main we don't want it because it will ship in 2.x. I think we made a mistake and this approach is not working :(

[2022-10-28 22:14] peterzhuamazon commented on #4000
opensearchstaging/opensearch:2.4.0

[2022-10-28 22:25] minalsha commented on #4930
@pranikum  can you close this issue since you have PR  merged?

[2022-10-29 01:00] iofit commented on #4881
I've submitted https://github.com/opensearch-project/OpenSearch/pull/4980 as an attempt to fix this issue. I've observed that there are different behaviors when using java17 specially with those related to math,

[2022-10-29 04:56] dhruv16dhr commented on #1147
@anasalkouz Yes we are tracking this for 2.4 release. Documentation is pending, we will be closing it before 11/3.
@bharath-techie Please check with @rajkthakur and close this by next week

[2022-10-29 04:57] dhruv16dhr commented on #3960
@anasalkouz Yes this is on track for 2.4 release and will be closing it by next week (before 11/3)
@bharath-techie Please close this before 11/3

[2022-10-29 04:58] bharath-techie commented on #1147
Documentation PR - https://github.com/opensearch-project/documentation-website/pull/1753

[2022-10-29 06:05] imRishN commented on #4720
Closing this issue as it has been implemented in https://github.com/opensearch-project/OpenSearch/pull/4586

[2022-10-29 16:02] #4720 closed

[2022-10-29 19:23] francescodefalco commented on #4000
Hi, from what I see there is not s390x support for that image.
Do I need to do some particular step?

Thank you,

![image](https://user-images.githubusercontent.com/38818486/198849196-423da9c0-d1ef-4cfd-b510-d29641c775fa.png)

[2022-10-30 03:58] dbwiddis commented on #4942
Now that we've addressed the near-term blocker, can we continue this discussion?= on whether "running OpenSearch as root should be implemented differently on Windows"?

I've tried to research the reason that we prevent `root` on other OS's and there seem to be no specific reasons, other than "it's a bad idea and we have enough CVEs that we shouldn't trust it".  And certainly we can change the log

[2022-10-31 01:48] opensearch-ci-bot opened #4983 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-3.0.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/3.0.0/opensearch-3.0.0.yml --component OpenSearch --snapshot**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6352/consoleFull

[2022-10-31 03:38] itiyama opened #4984 "[Optimization] Send all sub-bulk requests to a single shard when there are multiple concurrent bulk requests"
When there are multiple parallel bulk requests from a client with no auto generated id, the coordinator does the following:
1. Generate a new id per document in bulk.
2. Create a per shard request based on the hash of the document.
3. Send out per shard bulk requests.

If any of the shards is slow, all the bulk requests need to wait on the coordinator. The client is also blocked till the coordinat

[2022-10-31 05:07] rockybean commented on #4905
not familiar with field mask functionality and will test on my own env later.

[2022-10-31 05:45] tlfeng commented on #4797
After discovery and lots of experiment, I'm able to make the benchmark runs with a cluster provisioned by the benchmarking tool, instead of an external cluster set up manually.

1. AWS account setting: set an Amazon s3 buckets with proper permission, and set an IAM user to get AWS access key and secret key. (Reference: https://dev.to/mhihasan/elasticsearch-snapshot-and-restore-with-aws-s3-1cbp)

2

[2022-10-31 05:47] ketanv3 opened #4985 "[Search Backpressure] Add support for generic actions in task resource usage tracker"
We can generalize `TaskResourceUsageTracker` to support arbitrary actions (such as cancelling tasks, modifying thread-pools, etc.). These actions are recommended when thresholds are met and `SearchBackpressureService` takes care of executing or discarding the recommended action.

Use-cases to consider:
* There should be some way of comparing dissimilar actions from different trackers
* There shoul

[2022-10-31 10:45] ketanv3 opened #4987 "[BUG] Missing spotless-lib-2.30.0.jar causing build failures"
**Describe the bug**
Gradle checks are failing due to a missing dependency JAR issue (404 error).

[code]

It appears that the JAR has vanished from [this repo](https://repo.gradle.org/ui/native/jcenter/com/diffplug/spotless/spotless-lib/2.30.0/) for version 2.30.0, but is available for other versions.

Failed builds:
* https://build.ci.opensearch.org/job/gradle-check/5935/console
* https://build.

[2022-10-31 11:01] Bukhtawar opened #4990 "[Segment Replication] Evaluate seamless migration from docrep backed index to segrep"
**Is your feature request related to a problem? Please describe.**
We need to evaluate if doc rep backed indices could be moved to segrep seamlessly. Will add more details
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-10-31 11:01] Bukhtawar opened #4991 "[Remote Store] Evaluate snapshot API built on top of remote store repo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-31 16:41] rursprung opened #4999 "Managing Index Setups & Configuration in Microservices Environment"
**Is your feature request related to a problem? Please describe.**
when deploying OpenSearch as part of a larger application fleet in an environment (in our case: kubernetes) where any installation/update must be 100% hands-off (i.e. fully automated) and esp. when the connected applications are microservices (i.e. lots of them, various versions of the same in parallel due to canary upgrades or jus

[2022-10-31 17:08] sumobrian opened #5000 "Establish procedure for putting migration development tools under source control"
There are tools that we the migrations team needs to create to assist with migration validations. These tools may not be ready for public consumption but I want to make sure that we keep them under version control. Given that this is an Open Source project we need to determine the right place for these tools and who should have access.

* Should they be public from the beginning?
* Should they hav

[2022-10-31 17:12] sumobrian commented on #5000
Request sent and pending approval for new migrations umbrella repo to store tools.

[2022-10-31 17:36] kotwanikunal commented on #4561
Putting this on hold pending the discussion outcome from the proposal.

[2022-10-31 18:45] adnapibar opened #5001 "[POC] Streaming Indexing API"
### Problem
Current `_bulk` indexing API places a [high configuration burden](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-indexing-speed.html#multiple-workers-threads) on users today to avoid `RejectedExecutionException` due to TOO_MANY_REQUESTS. This forces the user to "experiment" with bulk block sizes, multi-threading, refresh intervals, etc.

The use HTTP streaming

[2022-10-31 19:39] VachaShah commented on #4755
- 2.4 branch created: https://github.com/opensearch-project/OpenSearch/tree/2.4
- Bumping 2.x to 2.5.0: #5002
- Adding 2.5.0 as bwcVersion on main: #5003
- Adding 2.4 ref to manifests for opensearch-build: https://github.com/opensearch-project/opensearch-build/pull/2827

[2022-10-31 20:41] VachaShah commented on #4755
Looked through the open issues/PRs with label v2.4.0. All of them are being actively worked on.

[2022-10-31 21:47] opensearch-ci-bot opened #5004 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-2.4.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/2.4.0/opensearch-2.4.0.yml --component OpenSearch --snapshot**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6359/consoleFull

[2022-11-01 00:22] saratvemulapalli commented on #4924
For Symlink tests here is the summary so far:
Symlink creation in windows needs elevated permissions: https://docs.oracle.com/javase/7/docs/api/java/nio/file/FileSystemException.html
So we can solve the problem in 3 ways:
- Run as non-admin, instead of creating a symlink, copy the directory/content to the place we need.
- Run as admin and enable symlink permissions(very likely through Java Options

[2022-11-01 04:45] dbwiddis commented on #4942
@cwperks @scrawfor99 I've spent about 20 hours (multi-tasking, but still a long time with a total of 56 GHA trial runs) trying everything I possibly could to lower permissions and execute, and at this point I think it's somewhat impossible.  What I've learned:
 - Github runs as admin with UAC disabled
 - The disabling of UAC prevents the de-elevation through the normal means of de-elevating (runas

[2022-11-01 06:32] VachaShah commented on #4987
@ketanv3 I don't see this issue happening for gradle checks now. Are you still facing this issue?

[2022-11-01 06:43] VachaShah commented on #4985
Thank you @ketanv3 for creating this issue. Would you be working on this proposal?

[2022-11-01 08:59] Arpit-Bandejiya commented on #4865
5(replica)+1(primary) will be checked in the validation. Therefore we expect it to pass.

[2022-11-01 09:36] ketanv3 commented on #4987
This seems to be a transient issue that impacted all builds for a brief period yesterday. I'll go ahead and close this for now.

[2022-11-01 09:36] #4987 closed

[2022-11-01 09:37] ketanv3 commented on #4985
@VachaShah Yes, please assign it to me.

[2022-11-01 11:45] #4930 closed

[2022-11-01 11:54] dblock commented on #4000
I think "support for s390x" means more than just this change here. I've opened https://github.com/opensearch-project/opensearch-build/issues/2836 as an umbrella and to track all child items and will close this one since support was added to the engine itself. Let's take a discussion there?

[2022-11-01 11:54] #4000 closed

[2022-11-01 12:02] dblock commented on #4905
Thanks @rockybean for your help here!

I renamed this issue to a feature request "Search on masked fields", ie. "shouldn't the masking fields option just replace one string (in this case, the ip address) with another string" for now. But isn't that how it works today? When you say "can't search", you mean that you're not finding anything? That's because the text is garbage, field masking today rep

[2022-11-01 12:10] #4956 closed

[2022-11-01 12:12] dblock commented on #5000
We're creating `opensearch-migrations`, a new repo. Let's close this issue here.

[2022-11-01 12:12] #5000 closed

[2022-11-01 12:13] rursprung commented on #4999
thanks for pointing to that repo! yes, it could well be that it's a better fit there - the question just is whether it'll garner as much interaction as it would here? but probably it'd make sense to move it.

i think this plays nicely into what i said in the meeting: there are so many repos, it's hard to keep track of where to open the ticket (and in the central ones there's so much going on that

[2022-11-01 12:20] dblock commented on #4924
@saratvemulapalli The question is, do we support symlinks on windows? that's pretty unusual AFAIK, I would be fine with (3) as well

[2022-11-01 12:26] dblock commented on #4942
@dbwiddis I like the idea to bypass the check, but command line arguments is not standard way of doing things in OpenSearch, so probably an opensearch.yml option is what you're looking for. That primarily because configuration gets distributed across clusters and you don't want to introduce new ways of doing it.

[2022-11-01 12:51] antoniocascais commented on #4905
@dblock in the docs it has the following example (https://opensearch.org/docs/latest/security-plugin/access-control/field-masking/#advanced-pattern-based-field-masking):
[code]

By reading this, I would expect I can still search in the `genres` field. For example, if my `genres` field has a value of `SPOKY FOO MOVIES` I'm expecting that it is masked to
`XXXKY FOO MOVYYY`

Then I'm expecting that i

[2022-11-01 13:05] Vishalks commented on #4967
I am working on this task.

[2022-11-01 16:40] mch2 commented on #4924
Dumping all Files.createSymbolicLink locations:

Src:
SymbolicLinkPreservingUntarTransform.java - looks to be bypassed with https://github.com/opensearch-project/OpenSearch/pull/1433

Test code:
PidFileTests.java
SymbolicLinkPreservingTarIT.java
EvilSecurityTests.java
PluginCliTests.java

[2022-11-01 16:47] lukas-vlcek commented on #1018
Hi,

I noticed that @aabukhalil is no longer working on this. Would it be possible to get access to the code? Was it published anywhere? It would be great if this work can continue. I would be interested in looking at it.

Regards,
Lukáš

[2022-11-01 16:48] kotwanikunal commented on #4936
@dblock @andrross

So an update on the approach that I was suggesting -
1. The backport workflow skips `CHANGELOG.md` which was done as a part of the original PR here - https://github.com/opensearch-project/OpenSearch/pull/4977
2. We add in a changelog helper ([POC for that here](https://github.com/opensearch-project/OpenSearch/pull/4977))  to the backport workflow to do the following -
 a. Extrac

[2022-11-01 17:24] #2747 closed

[2022-11-01 17:30] aabukhalil commented on #4964
I'll be working on this

[2022-11-01 18:00] VachaShah commented on #4985
Thank you!

[2022-11-01 18:27] cwperks commented on #4942
@dbwiddis Thank you very much for looking at this as well. I got what I thought was pretty far with the psexec approach and I'm able to capture output on a Windows workspace, but not within the Github runner. Since its fairly easy to try different approaches asynchronously I plan to try a few more tricks with psexec before declaring that route impossible, but I agree with @dblock that an `opensear

[2022-11-01 19:03] andrross commented on #1868
From [keepachangelog.com](https://keepachangelog.com/en/1.0.0/#bad-practices):

I think our 1:1 requirement that all PRs have a changelog entry results in us implementing this bad practice. The changelog ends up being slightly more readable than a commit log (entries are categorized) but we have no way to filter out the commits that are not useful to users. Ultimately "useful to users" is a judgme

[2022-11-01 19:14] zelinh opened #5022 "Support for multiple customDistributionURLs for test clusters"
**Is your feature request related to a problem? Please describe.**
When we run the BWC tests on the bundle distribution level, we want to set up the test cluster with two bundle URLs with different versions from our distribution build pipeline. However, currently the `customDistributionURL` gradle property only supports one URL now. https://github.com/opensearch-project/OpenSearch/pull/2420

Furth

[2022-11-01 19:15] zelinh commented on #5022
Had offline discussion with @adnapibar, do you have anything to add here?

[2022-11-01 19:23] mch2 commented on #4924
@dblock @saratvemulapalli I think we can safely go the skip route for `SymbolicLinkPreservingTarIT` because we skip other distros on windows and only build a zip - have opened a PR [here](https://github.com/opensearch-project/OpenSearch/pull/5023).

All other instances of createSymbolicLink are already skipped.

[2022-11-01 19:28] zelinh commented on #5022
I was thinking to add a loop and conditional check to add each of the URL respectively.
Maybe like
[code]
So when we have test cluster set up as `version ["1.3.6", "2.4.0"]`, and add new property when running
[code]
the first version `1.3.6` will get into the `distributionDownloadPlugin` class and add the distribution of the first URL; when processing the second version `2.4.0`; the second URL wou

[2022-11-01 19:42] scrawfor99 commented on #4942
Hi @dbwiddis, thank you for spending your time on this issue. Apologies for the late reply as well. I believe that like @dblock and @cwperks that the best route forward is likely a "I know what I am doing" setting. I believe you are aware but I created an issue https://github.com/community/community/discussions/37148 on the GitHub forum asking about this issue and my suspicion is that this may end

[2022-11-01 19:55] mch2 commented on #3881
@Bukhtawar This seems like a possible alternative worth exploring. This setting is not dynamically updatable within [LiveIndexWriterConfig](https://lucene.apache.org/core/9_4_1/core/org/apache/lucene/index/LiveIndexWriterConfig.html), so we'd need to recreate the writer/engine on primaries once all nodes have finished upgrade, maybe not so bad?

At a minimum, we could also block any replica from s

[2022-11-01 19:56] andrross commented on #4936
@kotwanikunal In your example above, the end state is that main has the changelog entry in "unreleased" and the backport branch has the entry in "2.x". Is that right? I think what we want is that the backport branch has the entry, and main has no entry (assuming the backport version gets released).

[2022-11-01 20:23] andrross commented on #4807
@sachinpkale Is this a feature request like what dB said above? Can you provide more clarity here?

[2022-11-01 21:35] andrross commented on #4649
@diachedelic  I'd recommend using [Java Flight Recorder](https://www.javatpoint.com/java-flight-recorder) to profile the VM running OpenSearch. Then just use a simple script calling create index in a loop, something like:

[code]

The profiling data generated by Java Flight Recorder will hopefully show what is being slow.

[2022-11-01 21:41] andrross opened #5030 "[BUG] PitIT.testDeleteAllAndListAllPits test failure"
See failure here: https://build.ci.opensearch.org/job/gradle-check/6141/consoleFull

Not reproducible.

FYI @bharath-techie this looks like a test you recently introduced.

[code]

[2022-11-01 21:49] andrross opened #5031 "[BUG] org.opensearch.snapshots.DedicatedClusterSnapshotRestoreIT.testIndexDeletionDuringSnapshotCreationInQueue flaky"
See error here: https://build.ci.opensearch.org/job/gradle-check/6130/consoleFull

Not reproducible.

FYI @xuezhou25 This looks like it might be a test you recently introduced?

[code]

[2022-11-01 21:57] anasalkouz commented on #1018
I think @macohen is going to follow up on this. Do you know if someone is going to pick this soon?

[2022-11-01 23:55] bbarani commented on #5022
@saratvemulapalli @dblock @adnapibar Do you have any suggestion here?

[2022-11-02 00:06] bbarani commented on #5004
Closing this issue as latest build passed for 2.4.0 here - https://build.ci.opensearch.org/job/distribution-build-opensearch/6372/

[2022-11-02 00:06] #5004 closed

[2022-11-02 00:06] bbarani commented on #4983
Closing this issue as latest build for 3.0 passed here - https://build.ci.opensearch.org/job/distribution-build-opensearch/6369/

[2022-11-02 00:06] #4983 closed

[2022-11-02 00:19] Bukhtawar commented on #3881
Thanks @mch2 I guess the cluster usually operates in a backward compatible mode till all nodes have upgraded. Also primary moves to the newer version before replicas do. So we just need to ensure that in a mixed cluster version upgraded primaries start with older IW version and replicate as usual to the older version replicas. Then when all nodes upgrade we implicitly have all replicas upgraded we

[2022-11-02 00:35] ashwin-pc commented on #1868
Having read through as much of this thread as possible, I dont think i've seen anyone suggest this, so apologies if this was already discussed. Cant we decouple the change-log edits from the PR's responsible for the change (with some automation to make sure that tracking the two becomes easier).

1. We add an automated label `changelog` to every PR that needs a changelog entry (new entry or update

[2022-11-02 02:42] sachinpkale commented on #4990
Does it also include support of seamless migration from SegRep to DocRep?

[2022-11-02 04:12] nandi-github commented on #4967
Can we look into keeping a reference count of active backup in progress. If the count is non-zero both command line and Ux can prevent it from deletion.

[2022-11-02 05:43] muralikpbhat commented on #3881
Thanks Bukhtawar, this is interesting problem and definitely a blocker for Segment replication release.

Doesn't this imply the nodes in the newer version already continue to create segments with older version until all nodes are upgraded? Or are we saying it is just backward compatible(from read perspective), but no new node can be downgraded even if the entire cluster is still not in latest vers

[2022-11-02 05:55] ashking94 opened #5033 "[Remote Store] Primary term validation with replicas - New approach POC"
**Is your feature request related to a problem? Please describe.**

# Primary term validation with replicas

In reference to https://github.com/opensearch-project/OpenSearch/issues/3706, with segment replication and remote store for storing translog, storing translog on replicas becomes obsolete. Not just that, the in sync replication call to the replicas that happens during a write call becomes o

[2022-11-02 06:51] anshu1106 commented on #4735
@anasalkouz , the search request gets routed to weighed away az only in cases there are 5xx returned from remaining azs ie there are no healthy shard copies to serve the request. Since write requests are sent to data nodes in weighed away az until they are decommissioned in case of AZ failures, we are expecting shard copies to be available. This will help in increasing the availability of cluster

[2022-11-02 07:42] iceman91176 opened #5035 "[BUG] search_as_you_type not supporting multi-fields / subfields"
**Describe the bug**
A search_as_you_type field accepts sub-fields in its mapping definition, but they are silently ignored. This issues has bee reported in elasticsearch here (https://github.com/elastic/elasticsearch/issues/56326) and has been fixed here (https://github.com/elastic/elasticsearch/pull/82430)

**To Reproduce**
Create field title of type search_as_you_type with sub-field sortable

[

[2022-11-02 10:45] ashwin-pc commented on #1868
Another suggestion i want to drop in here is GitLabs approach that they documented in this blog post: https://about.gitlab.com/blog/2018/07/03/solving-gitlabs-changelog-conflict-crisis/

[2022-11-02 11:29] Bukhtawar opened #5036 "[Weighted Round Robin] Support for fail open with weights zero"
**Is your feature request related to a problem? Please describe.**
We need to ensure that the last standing copy in the face of (non-retriable)exceptions on other copies if it set with weight zero can fail open and be used to serve search shard traffic

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cl

[2022-11-02 11:30] Bukhtawar opened #5037 "[Weighted Round Robin] Support for stats"
**Is your feature request related to a problem? Please describe.**
We need to add visibility into how many zones have weights zero and how many times have these changes have been made and with https://github.com/opensearch-project/OpenSearch/issues/5036 we need to expose how many times we had to fail open etc.
**Describe the solution you'd like**
A clear and concise description of what you want to

[2022-11-02 11:34] Bukhtawar opened #5038 "[Weighted Round Robin] Support for API versioning"
**Is your feature request related to a problem? Please describe.**
There is a possibility that during zonal code deployments these weights have to be modified. Its possible multiple use cases around new zone provisioning/removal/updates can result in concurrency issues. Then its also possible that we fail over traffic from one zone to another in the face of a zonal outage while a provisioning/depl

[2022-11-02 15:13] nknize commented on #3603
@imRishN Can you have a look at this test? Do we need 15 nodes for this test or could we scale it back to something like 12? three nodes per AZ?  This is pretty demanding for an integration test and I'm wondering if that's what's causing these intermediate timeout failures?

[2022-11-02 16:22] mch2 commented on #4924
BwcTest is the only task within check consistently failing for me now - the following passes (had to retry a few times to rule out flakiness).
[code]

BwcTest fails because. do not have windows builds for prior versions.

[2022-11-02 17:15] adnapibar commented on #5022
Currently the `customDistributionUrl` represents the URL of a single artifact. Do you think we can split it into two parts to construct the Ivy repo?
1) base url e.g. `https://artifacts.opensearch.org`
2) pattern layout e.g. `/core/opensearch/[revision]/[module]-min-[revision](-[classifier]).[ext]`

This way the version can be filled in from the list of supplied versions in the cluster config into

[2022-11-02 17:42] kotwanikunal commented on #4777
Merged with #4870.

[2022-11-02 18:39] anasalkouz commented on #4964
Are we building this with the assumption that the current searcher node is going to only be used for remote index? if no, then we need to think of some complex use-cases where the same node has local index (Hot) and remote index with cache. Which mean we need to build some mechanisms to control the storage usage for hot vs cached data.

[2022-11-02 18:59] dblock commented on #4905
Let's move this into the security repo that implements masked fields. I agree with your expectations. I think next steps would be to write a unit/integration test that reproduces this.

[2022-11-02 19:01] dblock commented on #4936
I think I like it @kotwanikunal as a next step because at least it fixes known problems. So let's do it.

In parallel maybe we should explore automatically generated changelogs from PR titles and enforcing some format thereof suggested by @seraphjiang?

[2022-11-02 19:25] dblock commented on #4924
@mch2 Is it worth trying to produce a 1-time windows reference build manually with an older version to ensure we exercise the upgrade path in tests before we ship anything?

[2022-11-02 19:31] dblock commented on #5022
Adding to @adnapibar's suggestion, the DistributionDownloader needs to get smarter (or less smart depending on how we look at it), and support the feature of "given version X, I can download it". I would leave the custom URL alone.

[2022-11-02 20:33] jklc17 opened #5049 "My"
DCB:ZCD7BJT4Q68KVMEHMJS1RQIT4LVMU1M5Q

[2022-11-02 20:45] macohen commented on #1018
Not very soon, unfortunately. Probably looking at early in Jan at the soonest. @lukas-vlcek, if you're interested in picking this up please go for it. There's no code for the feature yet of which I am aware.

[2022-11-02 20:47] mch2 commented on #4924
I didn't realize bwcTest isn't actually fully executed within check, only a subset, from our [docs](https://github.com/opensearch-project/OpenSearch/blob/main/TESTING.md#testing-backwards-compatibility):

 I was able to just get a full passing check on 2.4 so looking to see if that subset is sufficient.  If not then yeah we should do a manual build and run all of bwcTest.

[2022-11-02 21:22] #5049 closed

[2022-11-02 21:42] andrross commented on #5030
Looks like this was fixed but not backported: https://github.com/opensearch-project/OpenSearch/pull/4632

[2022-11-02 21:55] peternied commented on #3959
@bharath-techie @dhruv16dhr I'm pretty sure that you need the following pull request to be backported to 2.4.  I am going to start the backport process, but wait for your confirmation/approval before merging

- https://github.com/opensearch-project/security/pull/2094
- https://github.com/opensearch-project/security/pull/2223
- https://github.com/opensearch-project/security/pull/2224

[2022-11-02 22:23] mch2 commented on #4924
Looking at a [successful check](https://build.ci.opensearch.org/job/gradle-check/6159/console) run on a 2.4 backport.  The bwc tests are running against 1.3.7 and 2.3.1.  The tests clone & compile the previous major & minor where running bwcTest alone does not for the additional versions it checks.

The following are passing for me on windows. - will edit this as they complete.
[code]

[2022-11-02 22:51] andrross commented on #5030
Backports done

[2022-11-03 00:16] mch2 commented on #4102
Thanks for your interest @techrajdeep! I would suggest filtering by the tag [good first issue](https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) to find these issues.

[2022-11-03 03:40] tlfeng commented on #4797
The plan for adding first class support for testing searchable snapshot workloads to [opensearch-benchmark repository](https://github.com/opensearch-project/opensearch-benchmark).

1. Add a "provision_config_instance".
Used for setting feature flag in jvm options to enable experimental features.
The type should be `mixin`, and the name can be called `feature-flag`.
The below files will be added to

[2022-11-03 03:54] opencmit1 commented on #4967
A snapshot is a backup of data, and it can be restored to this cluster or other opensearch clusters. Therefore, deleting snapshots and deleting indexes should not be directly related.

[2022-11-03 03:56] bharath-techie commented on #3959
@peternied yes that's right , we'll need this PR for 2.4 release

[2022-11-03 07:32] dbwiddis commented on #4942
@scrawfor99 @cwperks @dblock @minalsha

<insert "boom" emoji here>

I got it working!  (At least the hard part.)

As indicated earlier, I was pretty confident (based on run time) that the `psexec` variant was working, but the output wasn't very informative and I didn't have the insight to use the logging switch of the command I was running (the maven wrapper in my tests) to snag the output.

In th

[2022-11-03 08:02] Gaganjuneja commented on #4244
@shwetathareja thanks for reviewing it. Please find my response.

There are a couple of more points -
1) FollowerCheck is very aggressive and it happens every second but we don't want pluggable health checks to be that aggressive.
2) In case full cluster level view is needed then we want to add this to a plugin running on the cluster manager node to maintain the cluster level state and just return

[2022-11-03 09:59] peterzhuamazon commented on #4811
Re-open the issue until gradle check is fully functional in Jenkins.

[2022-11-03 13:54] #1147 closed

[2022-11-03 14:25] dhruv16dhr commented on #3959
@bharath-techie Please close the PRs

[2022-11-03 15:42] peternied commented on #3959
Thanks, the 2.4 backport has been merged.  2.x backport is waiting on a retried CI workflow, I'll continue to shepherd those changes

[2022-11-03 16:15] #3961 closed

[2022-11-03 16:15] #3991 closed

[2022-11-03 16:17] anasalkouz commented on #1181
@nssuresh2007 are you track to deliver this for 2.4 release? Today is the code freeze.

[2022-11-03 17:06] pranikum commented on #4866
Closing the issue. Have pushed the changes as part of
https://github.com/opensearch-project/OpenSearch/pull/4586

[2022-11-03 17:06] pranikum commented on #4866
Closing the issue. Have pushed the changes as part of
https://github.com/opensearch-project/OpenSearch/pull/4586

[2022-11-03 17:06] #4866 closed

[2022-11-03 17:06] pranikum commented on #4866
Closing the issue. Have pushed the changes as part of
https://github.com/opensearch-project/OpenSearch/pull/4586

[2022-11-03 17:38] nssuresh2007 commented on #1181
@anasalkouz Yes, as per the plan, code changes for Milestone 1 of this issue are merged to 2.4.

[2022-11-03 17:44] andrross commented on #4967
@opencmit1 A searchable snapshot is a new feature under development. You can follow the progress in #2919 A searchable snapshot index uses a snapshot instance as its source of data and fetches the data on demand at search time. Deleting that snapshot would render the index inoperable, hence the desire to add this protection.

[2022-11-03 17:48] andrross commented on #4967
@nandi-github Can you explain what "active backup in progress" means here?

[2022-11-03 18:00] Vishalks commented on #4967
@andrross I think what @nandi-github is referring to is the same as what we discussed earlier: If there is any index backed up by the remote snapshot, deny deletion using a reference count for such backed up indices. Eventual consistency in some of the repository implementations might lead to this approach being incorrect.

[2022-11-03 18:03] andrross commented on #4952
@saikaranam-amazon Have you attempted to write an integration test that deterministically reproduces the failure? That would be a great help to start making progress.

[2022-11-03 21:06] mch2 opened #5063 "[BUG] ResourceAwareTasksTests flaky on Windows."
**Describe the bug**
When running gradle check for windows distribution., #4924, The tests in ResourceAwareTasksTests frequently fail on windows.  The tests fail because the CPU time at the end of each test is zero, and the test asserts a positive value. `threadMXBean.getThreadCpuTime(threadId)` [here](https://github.com/opensearch-project/OpenSearch/blob/e23a87b9ac464a1d2a302a51b2e5a31e78d63fce/s

[2022-11-03 21:30] petardz opened #5064 "QueryShardContext in plugins"
**Is your feature request related to a problem? Please describe.**
In ISM plugin we have few situations where we need to be able to convert search queries to Lucene queries:

1. In Rollups we want to support query_string queries but we have no viable way to rewrite incoming QueryStringQueryBuilder's fields.
2. In Transforms we can use a lot of bool queries to match buckets we want to update. Besid

[2022-11-03 21:56] martin-gaievski opened #5065 "[BUG] Cluster crushes after upgrade of one node (rolling upgrade) 2.4.0->3.0.0"
**Describe the bug**
Cluster return

    IO error while waiting cluster
    503 Service Unavailable

after one out of three nodes got upgraded from 2.4.0 to 3.0.0. It's a test cluster, we use core build-tools to construct it and [upgrade the node](https://github.com/opensearch-project/k-NN/blob/main/qa/rolling-upgrade/build.gradle#L52).

**To Reproduce**
We're seeing this as part of our test BWC w

[2022-11-03 22:56] mosajjal commented on #3798
hey @dblock, is there a document somewhere for upgrading Opensearch from version X to version Y, and what's the best compatibility path? we used to have a bunch of good docs for ES-OSS to ODFE and ODFE to Opensearch 1.x but nothing onwards

[2022-11-04 04:45] saikaranam-amazon commented on #4952
@andrross sure. i will work on providing fix for this issue.

[2022-11-04 05:18] andrross commented on #2501
Another failure: https://build.ci.opensearch.org/job/gradle-check/6332/

[2022-11-04 05:30] mch2 commented on #5063
The issue here is that on windows the clock tick is ~15ms.  The actual runnable in the test is completing before that time and so threadMXBean is still set to 0.

We can resolve this by waiting until a full tick is registered inside ResourceAwareNodesAction.doRun
[code]

This will also cause the mem consumed to be out of the existing limits set in the test assertions, so we'd need to adjust the bu

[2022-11-04 06:19] tlfeng commented on #4797
The next steps to fully accomplish the goal in the issue:

1. Post initial benchmarking result here.
I'm going to modify "[nyc_taxis](https://github.com/opensearch-project/opensearch-benchmark-workloads/tree/main/nyc_taxis)" workload with its default scenario "append-no-conflicts" to run the performance test for Searchable Snapshot feature, because currently this workload is run nightly for OpenSe

[2022-11-04 07:04] anantsingh09 commented on #4643
@anasalkouz
Can you please re-open the issue ?
i have tried using elasticsearch-rest-high-level-client:7.5.1 as well as opensearch-rest-high-level-client:2.3.0
i got the bulk upload failure as i stated.
currently i am using opensearch-rest-high-level-client:1.3.0 and opensearch version 1.3.0 and the bulk upload works fine.

[2022-11-04 08:19] #4371 closed

[2022-11-04 13:16] imRishN commented on #4370
This has been completed with https://github.com/opensearch-project/OpenSearch/pull/4320. Closing the issue

[2022-11-04 13:20] imRishN commented on #3497
closing as this is backported to 1.x and 2.x

[2022-11-04 13:20] #3497 closed

[2022-11-04 13:52] #4485 closed

[2022-11-04 13:55] imRishN opened #5074 "[Zone Decommission] Fix ClusterFormationFailureHelper for decommissioned nodes"
**Is your feature request related to a problem? Please describe.**
Once the node is decommissioned, it attempts to join back the cluster after 2 min or start a prevoting round if it was clusterManager eligible node only to fail again. Coordinator attempts to find a reason for the same using `ClusterFormationFailureHelper` and the reason comes out to be `cluster-manager not discovered yet:`. We nee

[2022-11-04 13:57] imRishN opened #5075 "[Zone Decommission] 4xx status code for DecommissioningFailedException"
**Is your feature request related to a problem? Please describe.**
4xx status code for DecommissioningFailedException

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context o

[2022-11-04 15:30] cwperks opened #5076 "BWC Tests are failing on mixedClusterTask"
BWC Tests on the `Security` repo have been failing for the last 3 days on the `mixedClusterTask` which upgrades one of three nodes from 2.4.0 -> 3.0.0 and ensures the upgraded node can join the cluster. I am filing the issue on core repo because on commits where BWC Tests were previously working for `Security` the check is now failing leading me to believe the failure is due to an upstream change.

[2022-11-04 15:48] andrross commented on #4962
Resolving this as it has been merged to 2.4

[2022-11-04 15:48] #4962 closed

[2022-11-04 16:15] mch2 commented on #5063
Have cut a PR here to simply allow zero value on windows.  Given we are directly populating the cpu value from ThreadMXBean I think this is safe.

[2022-11-04 16:57] #5063 closed

[2022-11-04 16:59] andrross commented on #1868
Here's the PR (#5067) for creating the release notes for 2.4 in OpenSearch. I manually merged entries into a single "feature" entry where appropriate, which is desirable in my opinion (breaking the 1-entry-for-every-PR constraint currently enforced). We had some duplicate/incorrect entries split between the [Unreleased] and [2.x] section of the file. Overall it wasn't too bad to clean up.

That PR

[2022-11-04 18:15] #4924 closed

[2022-11-04 18:24] nandi-github commented on #4967
Do you need further clarification or it is good for now ?

[2022-11-04 18:34] andrross opened #5083 "[BUG] ClusterManagerTaskThrottlingIT.testTimeoutWhileThrottling is flaky"
Observed a couple times such as: https://build.ci.opensearch.org/job/gradle-check/6359/

Can usually be reproduced with the following:

[code]

Example failure:

[code]

[2022-11-04 18:35] andrross commented on #5083
@dhwanilpatel Care to take a look since this is a [newly introduced test](https://github.com/opensearch-project/OpenSearch/commit/f0511311e3166cda7ef47fc5ba7e45b61240b94b)?

[2022-11-04 19:05] tlfeng commented on #4797
Close this issue since the goad has been achieved.
Initial benchmark result: https://github.com/opensearch-project/opensearch/issues/4797#issuecomment-1303900574
Plan to support running benchmark for the feature directly: https://github.com/opensearch-project/opensearch/issues/4797#issuecomment-1301606437
More explanation about the initial result and the further plan: https://github.com/opensearch

[2022-11-04 19:05] #4797 closed

[2022-11-04 19:27] #3895 closed

[2022-11-04 19:28] #2919 closed

[2022-11-04 19:32] andrross opened #5087 "[Meta] Promote searchable snapshot out of experimental"
This is a meta task to track the work required to promote the searchable snapshot feature out from behind the experimental feature flag to a production ready feature.

- [x] #4964
- [x] #4965
- [x] #4966
- [x] #4967
- [x] #4968
- [x] #5217
- [x] #5218
- [x] #5243
- [x] #5244
- [x] #5508
- [x] #5981
- [x] #6274

[2022-11-04 20:15] minalsha commented on #5076
@cwperks feel free to assess the failure where it is failing and share. Also, note: do we need compatibility between major verions 2.x and 3.0?

[2022-11-04 21:02] cwperks commented on #5076
We do need compatibility between adjacent major versions to ensure that rolling upgrades are possible.

I believe the issue may be related to this PR: https://github.com/opensearch-project/OpenSearch/pull/5003

I spun up a cluster with using the docker images on opensearchstaging with 2 2.4.0 nodes and one 3.0.0 node and received the following error;

```java.lang.IllegalStateException: Received m

[2022-11-04 21:42] peternied commented on #5076
I've created a pull request to revert the change that is blocking security's backward compatibility tests and I suspect other plugins are impacted. https://github.com/opensearch-project/OpenSearch/pull/5090

Going to use that PR to help drive the getting the branch unblocked

[2022-11-04 22:16] skathiva opened #5114 "[FEATURE] Support for Pointing one ALIAS to another ALIAS"
### Is your feature request related to a problem?
There is no support for pointing one ALIAS to another ALIAS. In current situation, if an INDEX is pointed to multiple ALIASES then any change in INDEX name requires updating of all ALIASES where it is referred.

### What solution would you like?
Add support for pointing one ALIAS to another ALIAS

### What alternatives have you considered?
Apache S

[2022-11-04 22:37] peternied opened #5091 "Version increments don't have a check to prevent downstream failurse"
This doesn't feel right. @peternied says that security repo is running 2.4.0 -> 3.0.0 BWC tests, when 3.0.0 was updated to 2.5.0 security repro broke with: `java.lang.IllegalStateException: Received message from unsupported version: [2.4.0] minimal compatible version is: [2.5.0]`. I think this is expected, the idea is that only latest 2.x will be upgradable to 3.0 when that ships, and this is what

[2022-11-05 02:29] ivyxjc commented on #4903
As mentioned in ![documentation](https://opensearch.org/docs/1.1/opensearch/rest-api/document-apis/multi-get/), there are two ways to use api multi get.
[code]
It means that opensearch should treat `_doc` as a index name when we call the path `_doc/_mget`. However, index name should not start with underscore due to ![index name restrictions](https://opensearch.org/docs/1.1/opensearch/rest-api/inde

[2022-11-05 03:04] diachedelic commented on #4649
I have had a go with the Java Flight Recorder. My benchmark was to create 10 indexes concurrently - and it took about 20 seconds! Even so, nothing jumps out at me when I view the log in JDK Mission Control. There is this:

The maximum amount of memory used was 15.5 GiB. This is 97.1 % of the 16 GiB of physical memory available. Having little free memory may lead to swapping, which is very expensiv

[2022-11-05 03:20] diachedelic commented on #4649
I also noticed this in OpenSearch's output:

I mean, I have 13GB free disk space so it's not like OpenSearch is actually running out of space. But maybe it has something to do with it?

[2022-11-05 06:06] rramachand21 commented on #1133
We will be looking into this and updating this with a more accurate version where this will be available. As usual, opensource contributions are welcome :) If there is interest in contributing to this, please do reach out.

[2022-11-05 15:38] jefftyn opened #5094 "Vulnerability: CVE-2022-42003 & CVE-2022-42889 in opensearchproject/opensearch:1.3.6"
**Describe the bug**

Hi team,

In our trivy scan report there are 1 HIGH and 1 CRITICAL vulnerabilities in opensearchproject/opensearch:1.3.6.
Is there any plan to upgrade the version of libs to fix them? Thanks.

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.o

[2022-11-05 16:42] jklc17 opened #5095 "Mee"
https://www.google.com.my/webhp?tab=kw&authuser=0

[2022-11-05 22:01] Tradunsky opened #5096 "Vector efficient math operations for KNN distance functions"
**Is your feature request related to a problem? Please describe.**
Exact-KNN distance functions use sub-optimal vector math operations. This can contribute to extra time on high vector dimension distance compute.

**Describe the solution you'd like**
Do you think it is possible to use Vector API for math operations in the distance functions?
For example, the following cosine similarity that iterat

[2022-11-05 23:05] Jon-AtAWS opened #5097 "[BUG] Poor performance of regex queries"
**Describe the bug**

The following query:

[code]
Is inefficient and runs for many seconds, especially when there are many fields in the index. When there are also many indices in the query, this can take down the cluster.

**Expected behavior**

This is one clause of a larger query, but because of the way queries are processed, there's no way to force the filtering to occur first. In this case,

[2022-11-06 14:58] reta commented on #5094
@jefftyn the CVEs have been addressed already:
 - https://github.com/opensearch-project/OpenSearch/pull/4785
 - https://github.com/opensearch-project/ml-commons/pull/520
 - https://github.com/opensearch-project/security/pull/2186

[2022-11-07 07:44] deshsidd commented on #5064
fyi @nknize

[2022-11-07 09:34] shwetathareja opened #5098 "[BUG] Async shard fetches taking up GBs of memory causing ClusterManager JVM to spike with large no. of shards (> 50k)"
**Describe the bug**
GatewayAllocator performs async fetch for unassigned shards to check if any node has shards on its local disk. These async fetches are done per shard. When nodes are dropped in the cluster, it results in unassigned shards and GatewayAllocator performs async fetches when nodes try to join back. In a cluster which has large no. of shards in 10s of thousands it results in too man

[2022-11-07 10:35] shwetathareja opened #5099 "[Optimization] TaskBatcher to use ConcurrentHashMap for batching tasks per executor"
**Describe the bug**

In TaskBatcher.java, for batching it maintains a HashMap ```tasksPerBatchingKey``` and uses synchronized block to find duplicates using the batching key (which is based on task executor) and update the tasks for the given key. It can use ConcurrentHashMap instead which will only lock the segment and use computeIfPresent for computing updated tasks.

https://github.com/opensea

[2022-11-07 11:29] shwetathareja opened #5100 "[Optimization] ValidateJoinRequest serialization takes lot of memory in ClusterManager with large cluster state"
**Describe the bug**
ValidateJoinRequest serializes the cluster state and sends it to the node joining the cluster. But, if the cluster state is in 100s of MBs due to large no. of indices, then it takes up lot of memory. It gets worse when there are multiple nodes joining at the same time. This sometimes ends up causing OOM error on the ClusterManager.

https://github.com/opensearch-project/OpenSe

[2022-11-07 12:42] shwetathareja opened #5101 "[Optimization] DelayedAllocationService.findNextDelayedAllocation taking significant time with large no. of unassigned shards"
**Describe the bug**

DelayedAllocationService is the one of the ClusterStateListener.
DelayedAllocationService.findNextDelayedAllocation finds the next time delayed allocation interval would expire and next set of shards can assigned. It iterates over all the shards and during full cluster restart which has 10s of thousands of shards it can add significant overhead.

The below profiling was done

[2022-11-07 14:53] scrawfor99 commented on #4942
Wow @dbwiddis this is great! Thank you so much for spending your time to help with this. It is greatly appreciated and will mean that the previous check for permissions can be reinstated without worry for blocking the workflows. Again thank you very much!

[2022-11-07 16:41] scrawfor99 commented on #4942
@dbwiddis as a follow-up/to clarify, do you recommend we use psexec or PaExec? It seems they both have their pros and cons but I know that you seemed to like the licensing better on Pa butt the install process better on Ps. I could script either but do not know if in your opinion there is one that is an overall better option.

[2022-11-07 17:48] #4865 closed

[2022-11-07 18:54] #5095 closed

[2022-11-07 18:59] dblock commented on #4829
Are you saying we should roll out a mirror/proxy? Maybe! Open that request in opensearch-build? It sounds like it would need some infrastructure, and people to create and maintain.

For this issue here I would definitely go with what @mch2 suggests.

[2022-11-07 19:00] mch2 commented on #2229
Closing this, pls add comments/concerns to #2194.

[2022-11-07 19:00] #2229 closed

[2022-11-07 19:10] rishabhmaurya commented on #5064
Isn’t it already available in plugins via [SearchPlugin#getQueries](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/plugins/SearchPlugin.java#L151)()? where you add your custom QueryBuilder, which in turn allows you to use QueryShardContext by implementing [toQuery](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/op

[2022-11-07 19:10] dblock opened #5115 "Add support for different strategies for doing percentile aggregation"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/OpenSearch/pull/3634, OpenSearch [percentile aggregation](https://opensearch.org/docs/latest/opensearch/metric-agg/#percentile-percentile_ranks) has produced different results across versions on estimation boundaries. Multiple results are correct, but users may be confused by these

[2022-11-07 19:21] dblock commented on #3798
Upgrade docs are always in https://opensearch.org/docs/latest/upgrade-to/upgrade-to/. If that's insufficient, open an issue in documentation-website that explains what you're looking for?

[2022-11-07 19:24] dblock commented on #4643
@anantsingh09 I can reopen. Sounds like client 1.3.0 <> server 1.3.0 works. Which combination of client/server doesn't?

[2022-11-07 19:26] dblock commented on #1868
@andrross Yes, I agree it's not working :( Let's keep looking at @kotwanikunal to figure out best path forward until he tells us otherwise?

[2022-11-07 19:40] mosajjal commented on #3798
yes those docs are mostly for ES to Opensearch, they could use some work for 1.x to 2.x etc. Will open an issue in docs repo, thanks.

[2022-11-07 20:23] andrross commented on #1868
@dblock @kotwanikunal

I've written up an FAQ to be included in the CHANGELOG.md file in #5092

This defines a slight change in the process. First, it specifies not every PR should include a changelog entry (and assumes we'll have a `skip-changelog` label. Second, it defines how the changelog should work with our branching strategy. Please take a look.

[2022-11-07 20:29] elfisher commented on #479
@dhwanilpatel given we are calling the feature "Cluster Manager Task Throttling" can we rename this issue "Cluster Manager Task Throttling"?

[2022-11-07 20:32] andrross commented on #5094
@jefftyn The next 1.3 release is [scheduled for December 8](https://opensearch.org/releases.html) and will include these fixes

[2022-11-07 20:36] #4530 closed

[2022-11-07 21:40] dblock commented on #4903
So is it working as expected? Otherwise I am confused now by the initial report. Can you please edit the above with clear steps of what requests you make and what you get vs. what you expect or otherwise close this?

[2022-11-08 00:42] bowenlan-amzn opened #5120 "Improve the security permission check in cat indices (_cat/indices) API"
**Is your feature request related to a problem? Please describe.**

Today, to be able to call [`_cat/indices`](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/rest/action/cat/RestIndicesAction.java) successfully, you need to have a permission at least with these permissions:
[code]
If the index_patterns is not set to `"*"` but `"log-*"`, `_cat/indices

[2022-11-08 01:23] cliu123 opened #5121 "[BUG] Plugin Build Fails Due to missing `nebula` Dependencies."
**Describe the bug**
https://github.com/opensearch-project/security/actions/runs/3415191485/jobs/5684117326
[code]

[2022-11-08 01:30] ylwu-amzn commented on #5121
We see same issue in ml-commons Github CI today which passed last Friday.

[2022-11-08 01:35] cliu123 commented on #5121
I'm tagging this for 2.4.0 since it's blocking [the last PR of security plugin](https://github.com/opensearch-project/security/pull/2244) for 2.4.0.
@CEHENKLE @bbarani @peterzhuamazon

[2022-11-08 01:35] peterzhuamazon commented on #5121
Break all the build repo manifest checks:
https://github.com/opensearch-project/security/actions/runs/3415205437/jobs/5684070899

[2022-11-08 01:41] opensearch-ci-bot opened #5122 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-3.0.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/3.0.0/opensearch-3.0.0.yml --component OpenSearch**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6431/consoleFull

[2022-11-08 01:50] peterzhuamazon commented on #4817
Completed.

[2022-11-08 01:50] #4817 closed

[2022-11-08 01:53] SuZhou-Joe opened #5124 "Optimize the block judge logic of cat.indices"
**Is your feature request related to a problem? Please describe.**
Today when we cat indices with any single index whose index.blocks.metadata is true, the whole request fails with error `[cluster_block_exception] index [{blocked index}] blocked by: [FORBIDDEN/9/index metadata (api)];`

**Describe the solution you'd like**
Return other indices that are not metadata-blocked.

[2022-11-08 02:55] dblock commented on #5121
The error in the original issue says `org.opensearch.gradle:build-tools:3.0.0-SNAPSHOT` which is 3.0, where are we seeing this for 2.4?

[2022-11-08 03:04] cliu123 commented on #5121
@dblock PRs need to be merged to main(3.0.0) and then backported to 2.4.

[2022-11-08 03:07] SpringYang004 opened #5126 "Trivy scan report about opensearchproject/opensearch:1.3.6"
**Describe the bug**
Hi, team,
There are some vulnerabilities in "trivy scan report". Is there any plan to upgrade the version of libs to fix them? Thanks.
A clear and concise description of what the bug is.

[opensearch-trivy-scan-report.xlsx](https://github.com/opensearch-project/OpenSearch/files/9957279/opensearch-trivy-scan-report.xlsx)

[2022-11-08 03:07] dblock commented on #5121
@cliu123 Just make the PR on 2.x and backport it the other direction.

[2022-11-08 03:09] mch2 commented on #5121
Looks like version 4.4.4 of the publish plugin depends on nebula-core 3.0.0 which is not in maven central.  These are all very old versions of these plugins (latest is v19) but I think we can update to 4.6.0 or 4.10.0 and resolve the issue.

[2022-11-08 03:11] dblock commented on #5121
@mch2 The above seems to imply that it worked before. Was it removed from maven? Weird. But yes upgrading to a newer 4.x should be harmless. Are you on it?

[2022-11-08 03:12] mch2 commented on #5121
@dblock Yeah it must have been removed but I'm not sure how to check that.  Will PR to a 4.x version shortly.

[2022-11-08 03:12] dblock commented on #5121
It just failed in 2.4 [here](https://github.com/opensearch-project/OpenSearch/pull/5123#pullrequestreview-1171362924)

[2022-11-08 03:23] peterzhuamazon commented on #5121
Issue was found as old as April this year:
https://github.com/opensearch-project/OpenSearch/pull/3097#issuecomment-1111325641

[2022-11-08 03:27] peterzhuamazon commented on #5121
Related dependabot:
https://github.com/opensearch-project/OpenSearch/pull/4810

[2022-11-08 05:34] SpringYang004 commented on #5126
vulnerabilities  include ：
                                                 amazon
Package	Vulnerability ID	Severity	Installed Version	Fixed Version
glibc	CVE-2021-3999	MEDIUM	2.26-60.amzn2	2.26-61.amzn2
glibc-common	CVE-2021-3999	MEDIUM	2.26-60.amzn2	2.26-61.amzn2
glibc-langpack-en	CVE-2021-3999	MEDIUM	2.26-60.amzn2	2.26-61.amzn2
glibc-minimal-langpack	CVE-2021-3999	MEDIUM	2.26-60.amzn2	2.26-61.a

[2022-11-08 09:18] MaxKsyunz commented on #5121
What do you think about updating `nebula-publishing-plugin` to 4.9.1? It no longer depends on `nebula-core` and the last available version in 4.x branch.

4.6.0. works because it specifies `latest.release` as required nebula-core version. They moved on from that in [4.7.0](https://github.com/nebula-plugins/nebula-publishing-plugin/releases/tag/v4.7.0) -- 20 days later.

`nebula-core` itself is arc

[2022-11-08 10:56] deshsidd commented on #5064
Thanks @rishabhmaurya, let me try this out.

[2022-11-08 14:14] Jon-AtAWS commented on #5097
So, let's say this is part of a larger query, like (p-code, excuse the lack of syntax)

[code]

And, let's say I know that the time range and field filter will reduce the match set to a few hundred docs, vs. evaluating the cost of the regex as part of the query planning.

Just brainstorming...

1. We could add an "execution_order": <integer> or similar to the clauses. This is likely too hard to gu

[2022-11-08 15:25] dblock commented on #5031
https://github.com/opensearch-project/OpenSearch/pull/5141

[2022-11-08 15:28] peternied commented on #5121
The change hasn't made it into 2.4.0 snapshot builds, reopening this issue until builds in all active branches are fully unblocked

[2022-11-08 15:31] dblock commented on #4069
https://github.com/opensearch-project/OpenSearch/pull/5143

[2022-11-08 15:32] dblock commented on #2064
https://github.com/opensearch-project/OpenSearch/pull/5143

[2022-11-08 15:44] dblock commented on #5083
https://github.com/opensearch-project/OpenSearch/pull/5142

[2022-11-08 15:47] #5121 closed

[2022-11-08 15:48] peternied commented on #5121
The last build for 2.4.0 is more than 3 days ago [1] so https://github.com/opensearch-project/OpenSearch/pull/5127 was not included.

@opensearch-project/engineering-effectiveness does another build need to be triggered manually?

[1] https://build.ci.opensearch.org/job/distribution-build-opensearch/6425/

[2022-11-08 15:49] dblock commented on #5121
I see 2.4.0 auto build disabled in https://github.com/opensearch-project/opensearch-build/pull/2852. Already raised a while ago that we shouldn't be disabling that, so this is another data point. Who knows how to kick it? cc: @bbarani @peterzhuamazon

[2022-11-08 16:01] andrross commented on #5065
@martin-gaievski Can you confirm if this is the same issue documented in #5091 ?

[2022-11-08 16:02] dblock commented on #5083
https://github.com/opensearch-project/OpenSearch/pull/5144

[2022-11-08 16:04] dblock opened #5145 "[BUG] org.opensearch.persistent.PersistentTasksExecutorFullRestartIT.testFullClusterRestart intermittent failure"
**Describe the bug**

See https://github.com/opensearch-project/OpenSearch/pull/5144.

[code]

https://build.ci.opensearch.org/job/gradle-check/6554/console

[2022-11-08 16:22] davidlago commented on #5126
Hi @SpringYang004. TL;DR: yes.

Long answer: we try to follow [OpenSSF's best practices](https://bestpractices.coreinfrastructure.org/en/criteria/0?details=true&rationale=true#0.vulnerabilities_fixed_60_days) and fix all MEDIUM+ vulns within 60 days of publication (see https://opensearch.org/releases.html#maintenance-policy), so we'll update dependencies with vulnerabilities in our upcoming 1.3.7

[2022-11-08 16:22] #5126 closed

[2022-11-08 16:26] dblock commented on #5121
@prudhvigodithi what bad thing would happen if we didn't?

[2022-11-08 16:39] minalsha commented on #3379
Closing this issue as it is being tracked in the work being done on https://github.com/opensearch-project/opensearch-sdk-java/issues/208

[2022-11-08 16:39] #3379 closed

[2022-11-08 16:40] dblock commented on #1908
https://github.com/opensearch-project/OpenSearch/pull/5143

[2022-11-08 16:41] dblock commented on #3603
https://github.com/opensearch-project/OpenSearch/pull/5143

[2022-11-08 16:42] imRishN commented on #4543
@shwetathareja Created a PR for the option 1 - https://github.com/opensearch-project/OpenSearch/pull/5093
Also, I want to call out that this PR would still not be able to restrict the concurrency. I'll create one more PR on top of this PR to gracefully handle the concurrency.
I'll go ahead and close #4684 and will open one for controlling concurrency once we close on approach of #5093

[2022-11-08 16:43] prudhvigodithi commented on #5121
I see the RC is fixed to specific build numbers opensearch:2.4.0.6425, opensearch-dashboards:2.4.0.4275, we can still continue to run the auto builds, but only the downloads with `/latest ` URL could break
Example https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/latest/linux/x64/tar/builds/opensearch/plugins/opensearch-job-scheduler-2.4.0.0.zip
@peterzhuamazon @bbarani

[2022-11-08 16:48] dblock commented on #5121
Latest does not imply "release candidate", and I don't think it should.

[2022-11-08 16:51] dblock commented on #5065
So this is by design. Assuming there's a 2.5 build this should no longer be the issue - @martin-gaievski care to track that down?

[2022-11-08 17:06] martin-gaievski commented on #5065
I want to make sure I got it right - let's skip current state of unreleased 2.4 and missing 2.5, when these are solved compatibility matrix for rolling upgrades will look like this:

for 2.x:
2.4 (and 2.0, 2.1, 2.2, 2.3) -> 2.5 (2.x became 2.5)
1.3 -> 2.5

for 3.0 (main):
2.5 -> 3.0

will all of these version pairs work?

[2022-11-08 17:16] mch2 commented on #4268
Closing - this test was replaced in https://github.com/opensearch-project/OpenSearch/issues/4225

[2022-11-08 17:16] #4268 closed

[2022-11-08 17:23] mch2 commented on #4310
Closing - this was fixed with https://github.com/opensearch-project/OpenSearch/pull/4366

[2022-11-08 17:23] #4310 closed

[2022-11-08 17:25] mch2 opened #5147 "[Meta] Promote Segment Replication out of experimental."
More to come on this list.

- [x] #4478
- [x] #4554
- [x] #5240
- [x] #5242
- [x] #4102
- [x] #6045
- [x] https://github.com/opensearch-project/OpenSearch/issues/6210
- [x] https://github.com/opensearch-project/OpenSearch/issues/6027

Improvements:
- [x] https://github.com/opensearch-project/OpenSearch/issues/5743
- [x] https://github.com/opensearch-project/OpenSearch/issues/6121

Bugs:
- [x] #466

[2022-11-08 17:43] tlfeng commented on #4830
Tried reproducing the test failure, along with another failure of https://github.com/opensearch-project/OpenSearch/issues/4976, but I couldn't.

I used the script mentioned in https://github.com/opensearch-project/OpenSearch/issues/1715#issuecomment-993855335 to run the tests in a loop.

I ran the following commands, but no test failure was found during the loops.
`for i in $(seq 0 1000) ; do echo

[2022-11-08 17:44] dblock commented on #5083
@Bukhtawar @shwetathareja @dhwanilpatel can someone please take this? This one failed 3 times for me in 4 PRs this AM.

[2022-11-08 17:46] dblock commented on #5065
I believe this is correct.

[2022-11-08 17:54] #4637 closed

[2022-11-08 18:04] peterzhuamazon commented on #5121
We have to disable the build at this point for the release but we can introduce -rc input manifests later.

Thanks.

[2022-11-08 18:06] MaxKsyunz commented on #5121
Yup. I'll take a look.

No, I couldn't figure out why `nebula-core` 3.0.0 disappeared.

[2022-11-08 18:21] dblock commented on #2501
https://github.com/opensearch-project/OpenSearch/pull/3633

[2022-11-08 18:22] dblock commented on #4212
https://github.com/opensearch-project/OpenSearch/pull/3633

[2022-11-08 18:25] dhruv16dhr commented on #3959
@bharath-techie @peternied I see that all the security (including backport PRs) are merged and closed
There is nothing pending i believe, we are good for 2.4 release for "Point-In-Time Search OpenSearch Changes". Hence marked all tasks related to PIT backend as closed in this META issue.

[2022-11-08 18:27] dhruv16dhr commented on #4187
@bharath-techie Please close this as changes are merged in

[2022-11-08 18:28] dhruv16dhr commented on #4188
@bharath-techie @Arpit-Bandejiya Please close this task as testing is already completed.
Also link the PR for this issue.

[2022-11-08 18:39] dbwiddis commented on #4938
Can you elaborate on what you mean here?  Since extensions operate (by default) in a separate JVM, extending a class buys you some things but you still have to communicate the results over either transport or REST.  It seems more reasonable to me to create a new package designed for this type of data, in preference to grabbing bits and pieces from the codebase.

[2022-11-08 18:47] uschindler commented on #4637
Do we also pass enable-preview at runtime?

In the patch I only see it passed to javadoc, but why?

[2022-11-08 18:59] chelma opened #5167 "[Proposal] Create Upgrade Simulation Framework"

[2022-11-08 19:02] reta commented on #4637
Not yet, will do that shortly

[code]

[2022-11-08 20:17] uschindler commented on #4637
The problem is because during javadoc you do not pass `--release 17` or like that. So it fails because it can "see" those classes during javadoc, although it won't use them. That's strange, looks like a bug in javadoc to me. I thought the target JDK for compile is still 17, or was this changed to release 19?

[2022-11-08 20:22] #5083 closed

[2022-11-08 20:42] reta commented on #4637
The target is actually set to `11`, but we didn't pass anything to `javadoc` as target

[2022-11-08 20:42] uschindler commented on #4637
As far as I see you do not pass any release version to the compiler. So your java files are marked as 19. Therefore you need java 19 to build javadoc. And therefore it reads all class files from Lucene, also the preview ones.

I doubt that it will work with JDK 20. If you execute compilation with 20 and then enforce javadoc to 19 it will also fail.

So be consistent: pass consistent predefined rel

[2022-11-08 20:48] reta commented on #4637
Fixed that for Javadoc (https://github.com/opensearch-project/OpenSearch/pull/5151), for compiler we use Gradle's source/target compatibility settings.

[2022-11-08 20:49] reta commented on #4637
You use toolchain, correct?

[2022-11-08 20:57] anasalkouz commented on #4991
Hi @Bukhtawar, Could you please add description?

[2022-11-08 20:58] peterzhuamazon commented on #4815
Close this as we dont plan to add gradle check windows to github yet.

[2022-11-08 20:58] #4815 closed

[2022-11-08 20:58] gaiksaya commented on #5121
@peterzhuamazon if we have release candidate ready, docker has the specific tag and urls have the buildNumber in their path, it should be okay to keep building right?

[2022-11-08 21:05] uschindler commented on #4637
That's the correct variant. I did not find the target compatibility in your Gradle file. Gradle does tot automatically pass release to java and javadoc globally, you need to configure it in every task. To be 100% safe, you should also pass 11 as release to javac. This also ensures that you compile against 11 API. Target and source only produce class files for 11 but it compiles against actual java

[2022-11-08 21:08] anasalkouz commented on #4845
@nandi-github Could you look into this?

[2022-11-08 21:08] reta commented on #4637
Thanks @uschindler here we are https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/build.gradle#L163  (OpenSearch build is quite complex) :-)

[2022-11-08 21:08] uschindler commented on #4637
Partially, yes. To compile java 19 classes for mmap. For the main sources we use `--release 11` also on compiler. This will tell javac to compile against a signature file with java 11 class declarations (all versions after java 8 ship with some minimized jar file containing stripped class files without bodies for all versions).

[2022-11-08 21:10] andrross commented on #4649
@diachedelic Can you try this again where you're below that 95% threshold? It is possible that it is related.

[2022-11-08 21:16] anasalkouz commented on #4984
@adnapibar Could you please take a look? since this related to streaming index API

[2022-11-08 21:33] mch2 opened #5156 "[BUG] AnalysisTests.testParseWordListOutsideConfigDirError"
**Describe the bug**
This test consistently fails for me on mac & windows on 2.4 branch.
`./gradlew ':server:test' --tests "org.opensearch.index.analysis.AnalysisTests.testParseWordListOutsideConfigDirError"`

[code]

related - https://github.com/opensearch-project/OpenSearch/commit/877f891f121a6889c736c424bdd8a205c0e8ad69

**Expected behavior**
Test should pass.

[2022-11-08 21:33] anasalkouz commented on #5094
Closing this, since they are already fixed and will be pushed on next release.

[2022-11-08 21:33] #5094 closed

[2022-11-08 21:45] andrross commented on #4215
Closing as a duplicate of #2241

[2022-11-08 21:47] andrross commented on #2241
Another failure here: https://build.ci.opensearch.org/job/gradle-check/6616/

[2022-11-08 21:50] dblock opened #5157 "[BUG] testCoordinatingPrimaryThreadedUpdateToShardLimitsAndRejections is flaky"
**Describe the bug**

[code]

https://github.com/opensearch-project/OpenSearch/pull/5143

[2022-11-08 22:01] adnapibar commented on #5156
Thanks @mch2  - I think the test should create a separate temp directory and create a file in it. Can you try the following on windows ?

[code]

[2022-11-08 22:07] andrross commented on #4215
Reopening, not actually the same test as #2241

[2022-11-08 22:49] #5156 closed

[2022-11-08 22:55] mch2 opened #5161 "[Proposal] Create Upgrade Simulation Framework"
@chelma commented on [Tue Nov 08 2022](https://github.com/opensearch-project/opensearch-build/issues/2865)

### Summary Of Work Being Proposed

It is proposed that the OpenSearch Project create a framework that makes it easy to simulate the results of performing an cluster version upgrade on ElasticSearch/OpenSearch clusters.  This framework will accelerate development of improvements to the use-s

[2022-11-08 22:57] mch2 commented on #5161
The move between repos didn't do what I expected, closing this to be re-opened by @chelma

[2022-11-08 22:57] #5161 closed

[2022-11-08 22:59] dblock opened #5162 "[BUG] org.opensearch.action.bulk.BulkIntegrationIT.testDeleteIndexWhileIndexing flaky"
**Describe the bug**

[code]

https://build.ci.opensearch.org/job/gradle-check/6635/consoleFull

https://github.com/opensearch-project/OpenSearch/pull/5159#issuecomment-1307942146

[2022-11-08 23:42] martin-gaievski commented on #3545
Hi,
We're using a tool that is tailored specifically for k-NN searches https://github.com/opensearch-project/k-NN/tree/main/benchmarks/perf-tool, it calculates latency and recall for search queries. We do have some extensions for OSB that can be used for data ingestion flow, please check https://github.com/opensearch-project/k-NN/tree/main/benchmarks/osb for details. Currently we're working to add

[2022-11-09 01:47] anasalkouz commented on #5120
@davidlago do you see any security concern of doing this change?

@nandi-github Do you thing it's the right thing from customer perspective to list indices that who access to read, which won't give him any visibility if there are other indices on the cluster.

[2022-11-09 01:49] anasalkouz commented on #5114
@nandi-github what do you think? Seems to be a good feature, but we need to avoid infinite loops and may be to put some limitation on the alias depth.

[2022-11-09 01:54] anasalkouz commented on #5065
Closing this on behalf of https://github.com/opensearch-project/OpenSearch/issues/5091

[2022-11-09 01:54] #5065 closed

[2022-11-09 02:05] #1124 closed

[2022-11-09 02:22] andrross commented on #5157
This is a very similar test and failure as mentioned in #4212. I suspect the fix will be the same for both. I'm capturing the notes I've collected on this so far below:

The test expects [`shardIndexingPressure.shardStats().getIndexingPressureShardStats(shardId1)` to return null](https://github.com/opensearch-project/OpenSearch/blob/e61fbacec340c15d4f85c5ba717a0075874e2809/server/src/test/java/org

[2022-11-09 03:37] peterzhuamazon commented on #5121
We have published the latest snapshot.

[2022-11-09 03:40] gaobinlong opened #5170 "[BUG] max_primary_shard_size parameter does not exist in Shrink API"
**Describe the bug**
As the Shrink API's [document](https://opensearch.org/docs/latest/api-reference/index-apis/shrink-index/) says, there is a request parameter named `max_primary_shard_size` which can be used to set the maximum size of a primary shard in the target index, but the parameter does not exist in opensearch actually.

**To Reproduce**
[code]
the response is :
[code]

**Expected behavi

[2022-11-09 04:31] #4187 closed

[2022-11-09 04:31] #4188 closed

[2022-11-09 08:36] tlfeng opened #5172 "[BUG][Searchable Snapshot] Failed to run 'range' query in a large index with error "SearchPhaseExecutionException: all shards failed" through OpenSearch-Benchmark"
**Describe the bug**
The bug occurs when running benchmark for Searchable Snapshot feature, through [OpenSearch-Benchmark](https://github.com/opensearch-project/opensearch-benchmark) tool. Appears in the current `2.4` branch (https://github.com/opensearch-project/OpenSearch/commits/2.4?until=2022-11-08).
For an index that backed by remote snapshot, which with a large amount of data, `range` query

[2022-11-09 09:31] PritLadani opened #5173 "Add search backpressure cancellation at the coordinator level"
**Is your feature request related to a problem? Please describe.**
#1042 aims to build back-pressure support for search requests. As a part of #4575, we have already added cancellation for SearchShardTasks based on resource consumption. This feature aims to cancel the resource guzzling queries. As a part of #3982, we are already tracking the resource consumption of SearchTasks, using which we will

[2022-11-09 11:07] PritLadani opened #5174 "Search Query Runtime Cost Calculation"
**Is your feature request related to a problem? Please describe.**
#1179 aims to build resource tracking framework for search queries. As a part of #3982, we have enabled resource tracking for shard level tasks. However, to support search back-pressure and to build a model for query cost estimation as discussed in #1042, we need coordinator level/query level resource consumption stats.

**Describe

[2022-11-09 11:10] hardened-user commented on #3879
@derek-ho it's work

[2022-11-09 11:32] PritLadani opened #5175 "Top N Resource Intensive Search Queries"
**Is your feature request related to a problem? Please describe.**
Get the top N currently running queries based on the resource consumption by parent and children tasks.

**Describe the solution you'd like**
Based on the resource consumption of parent task and the children tasks, we can score the ongoing queries and expose an API to list down the top N most resource consuming queries and user can

[2022-11-09 15:24] reta commented on #5174
I am not really sure what is being estimated as the "search query cost" here. Based on the description it is deducted as the resource consumption stats, which is post execution of the query. The exactly same query could have drastically different consumption stats over time (fe because new data is being ingested all the time).

What would be useful though is to estimate search query cost before th

[2022-11-09 15:44] Rishikesh1159 commented on #4976
Tried looking through code to reproduce this failure. But couldn't reproduce this anytime. Closing this issue for now. If anyone find this test failing again feel free to reopen the issue.

[2022-11-09 15:45] #4976 closed

[2022-11-09 16:15] dblock commented on #5174
I think the proposal is a little unclear on cost estimation vs. query planning, and so @reta is rightfully confused.

I think the purpose of the proposal is to predict the best way possible the "cost" (consumption of time and space) of an incoming query and use it in backpressure.

I propose to explain the goals by calling the ask here as "runtime cost" and calling the non-runtime aspects of a que

[2022-11-09 16:24] dblock commented on #5167
@chelma I suggest bringing some of this discussion in some presentation form to the community meeting, too!

[2022-11-09 16:52] dblock commented on #3648
I believe this is a feature request. It was added in ES 7.13, https://www.elastic.co/guide/en/elasticsearch/reference/7.13/docs-bulk.html#bulk-api-request-body.

[2022-11-09 16:57] reta commented on #4487
Additional improvements in the pipeline for Apache Lucene:
 - https://github.com/apache/lucene/issues/11676
 - https://github.com/apache/lucene/issues/11677
 - https://github.com/apache/lucene/issues/11700

[2022-11-09 17:25] andrross opened #5176 "[BUG] ShardIndexingPressureIT.testShardIndexingPressureTrackingDuringBulkWrites failure"
Not reproducible:

[code]

[2022-11-09 18:39] #2241 closed

[2022-11-09 18:39] #4215 closed

[2022-11-09 18:52] peterzhuamazon opened #5181 "[BUG] Gradle Check Failed on Windows due to JDK19 pulling by gradle"
Hi,

When running gradle check on windows with main branch/3.x.
[code]

This happens after jdk19 support is added:
* https://github.com/opensearch-project/OpenSearch/pull/4973

Thanks.

[2022-11-09 18:52] peterzhuamazon commented on #5181
@reta ^^

[2022-11-09 19:27] PritLadani commented on #5174
@reta We are not really estimating the query cost here, rather we are just calculating the actual query cost(or call it runtime cost). We are building co-ordinator level view of resource consumption for each search request. As discussed in #1179 and #1181, we want to build the aggregated view of resource consumption stats for any given query. For the same, we want to piggyback the consumption stat

[2022-11-09 21:40] chelma commented on #5167
@dblock Great idea, will do!

[2022-11-09 21:43] chelma opened #5186 "[Proposal] Create Upgrade Simulation Framework"
### Summary Of Work Being Proposed

It is proposed that the OpenSearch Project create a framework that makes it easy to simulate the results of performing an cluster version upgrade on ElasticSearch/OpenSearch clusters.  This framework will accelerate development of improvements to the use-story for upgrades.  Additionally, it will enable cluster administrators to create simulacra of their real-wo

[2022-11-09 21:49] chelma commented on #5186
Oh - accidentally created a duplicate [1].  Resolving this copy.

[1] https://github.com/opensearch-project/OpenSearch/issues/5167

[2022-11-09 21:49] #5186 closed

[2022-11-09 22:04] dblock opened #5187 "Unbundle JDK"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/OpenSearch/pull/4973, where we discussed upgrading bundled JDK from 17 to 19 for OpenSearch 3.0.

- _I have strong reservations about creating any OpenSearch release that bundles a non-LTS version of Java._
- _Seems like a nightmare to include such a thing even if it is LTS version

[2022-11-09 22:12] dblock opened #5189 "[BUG] AwarenessAttributeDecommissionIT.testNodesRemovedAfterZoneDecommission_ClusterManagerInToBeDecommissionedZone is flaky"
**Describe the bug**

[code]

https://build.ci.opensearch.org/job/gradle-check/6709/consoleFull
https://github.com/opensearch-project/OpenSearch/pull/5184#issuecomment-1309288978

[2022-11-09 22:14] andrross commented on #5187
Just want to expand on this a bit. I think bundling _any_ JDK is fraught for all the other reasons listed above. Bundling a non-LTS version that goes end of life in 6 months only exacerbates the problems with bundling but choosing an LTS version does not fundamentally solve them.

[2022-11-09 23:06] andrross commented on #5187
Not sure I agree with this because "always up-to-date" is a moving target that we will rarely hit. Assuming "up-to-date" means the latest patch release, then the latest version of OpenSearch available today (2.3.0) contains an out of date JDK (it is bundled with 17.0.4 but the latest version is 17.0.5).

[2022-11-10 00:29] #5181 closed

[2022-11-10 00:46] tlfeng commented on #5172
It's not a bug. Currently Searchable Snapshot is an experimental feature, it lacks optimization for the search speed. I will update more detail.

[2022-11-10 01:59] tlfeng commented on #5172
It's not a bug. Currently Searchable Snapshot is an experimental feature, it lacks optimization for the search speed. I will update more detail.

[2022-11-10 05:30] diachedelic commented on #4649
I reduced my disk space usage to 81% (below both the high and low watermarks) but I did not see any improvement.

[2022-11-10 05:38] adnapibar opened #5193 "Tests fail due to security manager issue"
**Describe the bug**
I am seeing test fail due to java security manager not able to be installed. I'm using `Amazon Corretto JDK (17.0.5)`

**Expected behavior**
Test should run

**Screenshots**
[code]

**Host/Environment (please complete the following information):**
 - OS: Ubuntu
 - Version 22.04.1

**Additional context**
Add any other context about the problem here.

[2022-11-10 05:49] diachedelic commented on #4649
Here are some benchmark results. Each run consists of creating `count` indexes concurrently.

MacOS build:
[code]
Linux build, running inside the Docker VM:
[code]

[2022-11-10 05:49] #5172 closed

[2022-11-10 07:30] nkumar04 opened #5195 "[BUG] Request to index a large deeply nested doc that can potentially cause stack overflow and node to crash"
**Describe the bug**
User with proper permission to OpenSearch endpoint can create a large deeply nested request that can potentially cause stack overflow and node to crash. For example, see the request below. Current implementation recursively goes inside each nested filed object and tries to parse it.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Use the python script (create_doc.py)

[2022-11-10 07:49] #5193 closed

[2022-11-10 08:12] juntezhang commented on #3968
I believe this issue has been fixed in 2.1.0, so this bug can be closed.

[2022-11-10 08:12] #3968 closed

[2022-11-10 08:55] ashking94 commented on #5033
Draft PR showing prospective changes - https://github.com/opensearch-project/OpenSearch/pull/5061/commits/dc278705527c3c332c6d426ae3a7efe5ac5d0465. In addition to it, we need to place the separate primary term validation call too.

[2022-11-10 09:02] tlfeng commented on #4797
A benchmark result as the baseline, without using snapshot:
[code]

[2022-11-10 10:43] craph opened #5196 "[BUG] Enable to see Shard* Metrics in performance-analyzer API"
Hello,

I'm opening this issue because I think I have a weird behaviour with performance-analyzer.

Previously, in `opendistro-for-elasticsearch:1.13.3` just after starting a docker container and enabling performance-analyzer plugin I was able to see metrics.

**What is the bug?**
Just after I've setup opensearch with docker for benchmark, I'm unable to visualize the Shard* Metrics with Performanc

[2022-11-10 14:40] reta commented on #5187
@uschindler @dblock @andrross we do have no-JDK (min) distributions for every package type already, we could start to promote those instead of bundled version and than decide to phase out packages with bundled JDKs later on (if no one uses them). What do you think guys?

[2022-11-10 15:21] dblock commented on #5195
Thanks for reporting this! I see you have started on a fix, looking forward to it.

[2022-11-10 15:27] dblock commented on #5187
AFAIK a lot of people use the packages with all the plugins and the bundled JDKs, but don't take my word for it. I think we'll continue creating a distribution with a bunch of plugins (extensions) for a very long time and we'd want that distribution to "just work", and I would personally be against making the docker distribution the only way to get a bundled set with everything because not everybo

[2022-11-10 16:13] DarshitChanpura opened #5197 "org.opensearch.test.rest.ClientYamlTestSuiteIT > test {p0=search/30_limits/Regexp length limit} flaky"
Gradle check failed when executing `:rest-api-spec:yamlRestTest` task with following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Checkout `main`
2. Run `./gradlew ':rest-api-spec:yamlRestTest' --tests "org.opensearch.test.rest.ClientYamlTestSuiteIT.test {p0=search/30_limits/Regexp length limit}" -Dtests.seed=199143B1F7094BF6 -Dtests.security.manager=true -Dtests.jvm.argli

[2022-11-10 16:18] dblock opened #5198 "[BUG] DecommissionControllerTests.testTimesOut flaky"
**Describe the bug**

https://github.com/opensearch-project/OpenSearch/pull/5191
https://build.ci.opensearch.org/job/gradle-check/6747/

[code]

[2022-11-10 16:28] cameron-hurd commented on #1583
We were able to resolve the 429 issue by switching to a non-graviton AWS instance type.  The graviton instance would have memory spikes over 85% which triggered 429 responses.

[2022-11-10 17:42] andrross commented on #5198
This was fixed but not backported: #4683

I'll do the backport now.

[2022-11-10 18:14] mch2 commented on #4859
Duplicate of https://github.com/opensearch-project/OpenSearch/issues/4538 that has been fixed with https://github.com/opensearch-project/OpenSearch/pull/4544.

[2022-11-10 18:14] #4859 closed

[2022-11-10 19:39] prudhvigodithi opened #5208 "Integration/BWC tests for OpenSearch native plugins"
**Is your feature request related to a problem? Please describe.**
The [native plugins](https://github.com/opensearch-project/OpenSearch/tree/main/plugins) part of OpenSearch, do not a have a proper Integration/BWC tests framework, like other plugins do have, other plugins here refer to the plugins part of the GH opensearch-project org. The existing gradle check I believe do some basic build and c

[2022-11-10 19:47] prudhvigodithi commented on #5208
Adding @dblock @bbarani @joshpalis @minalsha @peterzhuamazon @gaiksaya.

[2022-11-10 20:11] craph commented on #5196
@dblock is it something that you are already aware of ? 🤔

[2022-11-10 20:57] mch2 opened #5209 "[BUG] Flaky test - testRestoreShardFromRemoteStore"
[code]

Run on windows CI against 2.4.

[2022-11-10 21:35] dblock commented on #1715
Between gradle check 6786 and 6688 (100 builds) the following tests failed more than once:

[code]

Another ~100 failed once.

[2022-11-10 22:16] peterzhuamazon commented on #2447
Hi,

Would extensions have to run on a separate instance/server?
If so, how could single node cluster work with extensions?
I would assume they still able to run locally beside the cluster in a single node right?

Also, what would be the way for version tracking, such as extension track which OS version it supports, or OS track supported extension version through extensions.yml(?).

Thanks.

[2022-11-10 23:53] peterzhuamazon commented on #5208
Thanks @prudhvigodithi for this issue here.
I am thinking what kind of testing can we do for native plugins.
They are checked in gradle check already, ex: repository-s3.

Job Scheduler as a new comer would love some tests as it does not have integTest to start with.
Need to understand the scope of the tests required here.

Thanks.

[2022-11-10 23:59] andrross commented on #4852
Fixed by #4860

[2022-11-11 01:53] Poojita-Raj commented on #4089
Ran 100 times, reproduced failure locally once:

REPRODUCE WITH: ./gradlew 'null' --tests "org.opensearch.search.PitMultiNodeTests.testCreatePitWhileNodeDropWithAllowPartialCreationFalse" -Dtests.seed=892E2A0FCCF769CA -Dtests.locale=en-PH -Dtests.timezone=America/Hermosillo -Druntime.java=14

java.lang.AssertionError:
Expected :0
Actual   :1
<Click to see difference>

	at __randomizedtesting.SeedI

[2022-11-11 02:46] peternied commented on #4852
It looks like the test has been disabled - yay for not failing gradle checks! -  but it has not been fixed.  I think this issue should stay open until the test is fixed or deleted.

[2022-11-11 03:18] heemin32 commented on #4852
The test is not disabled. The confusion is coming from the naming of the test. The test is newly added with new feature of geojson format support for point type in version 2.4. Therefore, it fails with previous version which does not support the geojson format for point type.

Let me separate the two cases out instead of combining it...

[2022-11-11 05:39] opencmit1 opened #5213 "How to use esrally test the performance of opensearch[BUG]"
How to test the performance of opensearch？
I used the esrally tool to test the performance of opensearch, and found it unavailable. The official website suggested using esrally, but it could not be used. The error screenshot is as follows:
[suwei@tdocker ~]$ esrally race \

    ____        ____
   / __ \____ _/ / /_  __
  / /_/ / __ `/ / / / / /
 / _, _/ /_/ / / / /_/ /
/_/ |_|\__,_/_/_/\__, /

[2022-11-11 07:13] tlfeng opened #5214 "Remove deprecated API that uses non-inclusive terminology"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-11 12:04] peternied commented on #4852
@heemin32 Good detail!

I am curious if the test was running against versions of OpenSearch that did not support the feature, then I would expect gradle check to be blocked since the test was merged - do you know how the test presented itself as intermittently failing?

[2022-11-11 14:02] jklc17 opened #5215 "Ok"
https://myaccount.google.com/two-step-verification/authenticator?rapt=AEjHL4OBfjMeGDOjqlWTKpxr4etoilz6gSrlubHggG4Gz3avHOzMzqT_58Rr8RfnwM79K37e9ht7-yyrCc59HA1NtXuU5XFHjw

[2022-11-11 16:36] davidlago commented on #5120
I guess we could leverage the existing `do_not_fail_on_forbidden` config flag [that is used in the Privileges Evaluator](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/privileges/PrivilegesEvaluator.java#L337) and add the `indices:monitor` permissions to the considered patterns [here](https://github.com/opensearch-project/security/blob/main/src/main/

[2022-11-11 16:44] #5215 closed

[2022-11-11 17:55] anasalkouz commented on #1715
I am targeting to close these flakey tests down to zero by Dec 30, 2022. Please if anyone want to help in this effort, feel free to pick one of the flakey test issues in this [list](https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aflaky-test)

[2022-11-11 19:26] aabukhalil commented on #4964
here is my findings for the caching mechanism
[`path.data`](https://github.com/opensearch-project/OpenSearch/blob/4fc5c8d3fe17a87d2dc6e14a4d1c153b2e06e3e0/server/src/main/java/org/opensearch/env/Environment.java#L69) setting is accepted as a list so the data node can be configured statically to use multiple data paths and/or volumes.

## Cache Scope
the file system cache will be data node local ca

[2022-11-11 19:41] adnapibar commented on #1852
Not able to reproduce this locally

[2022-11-11 19:41] adnapibar commented on #1844
Not able to reproduce this locally

[2022-11-11 19:47] dblock commented on #5196
@craph I am not, let's move this to the performance-analyzer repo.

[2022-11-11 19:50] aabukhalil commented on #4964
## Task Breakdown:
- Implement the proposed interface to define the named cache specs, basically transform new yml config to  List<CacheDefintion> POJOs.
- Given Cache max reserved size, current cache occupied size, Implement size reservation logic to be reflected on NodesStats::FileSystemStats, Deciders, Monitoring Service
- Implement FileSystem Tracking LRU Cache with RefCounting (Cache should n

[2022-11-11 20:02] aabukhalil commented on #4964
## Open Questions
Since the cache should not be able to de-reference and delete a file while being used by any IndexInput (since there might be many IndexInputs created and backed by same file). What will happen if the cache is having high throughput concurrent searches where current held files exceed the cache capacity and IndexInput is needed to serve a request ? what if reaching disk size limit

[2022-11-11 20:17] andrross commented on #4852
@peternied My understanding is that in the mixed cluster test case the requests may go to any node. If the requests requiring the new feature happen to hit only the nodes with the newer version of OpenSearch, then the tests will pass. Hence in the case of a compatibility issue you might see intermittent successes and failures.

@heemin32 What action are you taking here?

[2022-11-11 20:28] andrross opened #5217 "[Searchable Snapshot] Capture initial CPU profiling information"
Performance is known to be poor (see #4797) until we implement caching and other optimizations. The task here is to capture an initial profile of the query performance, and document the steps for doing so, with the goal that we'll be able to re-run the profile to measure and validate improvements as we implement the optimizations.

[2022-11-11 20:34] andrross commented on #4964
Thanks @aabukhalil ! I'm still digging into a lot of this, but just wanted to point out [an existing issue](https://github.com/opensearch-project/OpenSearch/issues/1211#issuecomment-922409959) that documents the poor performance of the existing cache in OpenSearch.

[2022-11-11 20:36] heemin32 commented on #4852
@andrross Creating test case for testing all previous formats and creating another test case testing geojson format for only version 2.4 and above. Do you think we need that?

[2022-11-11 20:40] peternied commented on #4852
I am going to close out this issue since its tracking the test failure itself, up to @heemin32 if you'd like to re-work the test case to be more obvious about its dependencies.

This sounds like tests are inherently non-deterministic - seems like something we should try to fix as it might be the root cause of many other intermittent failures.  @andrross Could you open an issue to track separately?

[2022-11-11 20:40] #4852 closed

[2022-11-11 20:56] tlfeng opened #5218 "[Searchable Snapshot] Add first class support to test performance for searchable snapshot in opensearch-benchmark"
**Is your feature request related to a problem? Please describe.**
In issue https://github.com/opensearch-project/OpenSearch/issues/4797#issuecomment-1301606437, I proposed a brief plan for adding first-class support to run performance test for Searchable Snapshot in opensearch-benchmark. New workload is needed to add to the repository of https://github.com/opensearch-project/opensearch-benchmark-

[2022-11-11 21:21] dblock opened #5219 "[BUG] org.opensearch.repositories.s3.RepositoryS3ClientYamlTestSuiteIT/test {yaml=repository_s3/20_repository_permanent_credentials/Snapshot and Restore with repository-s3 using permanent credentials} flaky"
org.opensearch.repositories.s3.RepositoryS3ClientYamlTestSuiteIT/test {yaml=repository_s3/20_repository_permanent_credentials/Snapshot and Restore with repository-s3 using permanent credentials}

  https://build.ci.opensearch.org/job/gradle-check/6782/
  https://build.ci.opensearch.org/job/gradle-check/6779/
  https://build.ci.opensearch.org/job/gradle-check/6778/
  https://build.ci.opensearch.org

[2022-11-11 21:22] dblock commented on #2064
I am going to close this issue and open individual ones for separate RepositoryS3ClientYamlTestSuiteIT failures.

https://github.com/opensearch-project/OpenSearch/issues/5219

[2022-11-11 21:22] #2064 closed

[2022-11-11 21:23] dblock commented on #4069
Breaking out each test failure in the yaml test separately, https://github.com/opensearch-project/OpenSearch/issues/5219

[2022-11-11 21:23] #4069 closed

[2022-11-11 21:23] dblock commented on #4899
https://build.ci.opensearch.org/job/gradle-check/6767/
  https://build.ci.opensearch.org/job/gradle-check/6761/
  https://build.ci.opensearch.org/job/gradle-check/6740/

[2022-11-11 21:24] dblock commented on #5197
https://build.ci.opensearch.org/job/gradle-check/6767/
  https://build.ci.opensearch.org/job/gradle-check/6761/
  https://build.ci.opensearch.org/job/gradle-check/6740/

[2022-11-11 21:24] dblock commented on #5157
https://build.ci.opensearch.org/job/gradle-check/6762/
  https://build.ci.opensearch.org/job/gradle-check/6761/
  https://build.ci.opensearch.org/job/gradle-check/6759/

[2022-11-11 21:25] dblock opened #5220 "[BUG] testNodesRemovedAfterZoneDecommission_ClusterManagerNotInToBeDecommissionedZone flaky"
org.opensearch.cluster.coordination.AwarenessAttributeDecommissionIT/testNodesRemovedAfterZoneDecommission_ClusterManagerNotInToBeDecommissionedZone

  https://build.ci.opensearch.org/job/gradle-check/6771/
  https://build.ci.opensearch.org/job/gradle-check/6731/

[2022-11-11 21:26] dblock opened #5221 "[BUG] org.opensearch.cluster.coordination.AwarenessAttributeDecommissionIT/testInvariantsAndLogsOnDecommissionedNodes flaky"
org.opensearch.cluster.coordination.AwarenessAttributeDecommissionIT/testInvariantsAndLogsOnDecommissionedNodes

 - https://build.ci.opensearch.org/job/gradle-check/6792/
 - https://build.ci.opensearch.org/job/gradle-check/6738/
 - https://build.ci.opensearch.org/job/gradle-check/6825/

[2022-11-11 21:26] dblock opened #5222 "[BUG] org.opensearch.common.settings.ScopedSettingsTests/testValidate flaky"
https://build.ci.opensearch.org/job/gradle-check/6736/
  https://build.ci.opensearch.org/job/gradle-check/6734/

[2022-11-11 21:36] dblock commented on #5219
[code]

[code]

[code]

[code]

[code]

Tells me it's some race condition.

[2022-11-11 22:36] dbwiddis commented on #2447
No. In fact, for most of our development and testing we're using the same server and localhost/loopback interface.  It does provide a lot of flexibility in moving it elsewhere!

Yes, the only issue with running extensions on the same node would be having multiple `java` processes running and the associated resource usage.  It would be entirely possible to start up all the extensions in a single JV

[2022-11-11 22:44] owaiskazi19 commented on #2447
We are tracking the progress and milestones for Extensibility here: https://github.com/opensearch-project/OpenSearch/issues/1422

[2022-11-11 22:47] #3635 closed

[2022-11-11 22:57] owaiskazi19 opened #5224 "[META] Migrate AD backend plugin to AD Extension"
**Is your feature request related to a problem? Please describe.**
Based on https://github.com/opensearch-project/OpenSearch/issues/2447 and https://github.com/opensearch-project/OpenSearch/issues/1422. We are working on migrating Anomaly Detection backend plugin to extension. This issue tracks the features of AD:
- [x] https://github.com/opensearch-project/OpenSearch/issues/3635
- [x] https://git

[2022-11-12 00:24] Poojita-Raj commented on #1565
Test renamed following new naming convention of cluster manager instead of master node.

[2022-11-12 01:59] peternied commented on #5120
Thanks for writing this up, that is a much better user experience.

From a user experience/information disclosure, the scenario is in-line with our existing DNDOF cases.  The filtering logic implemented in the IndexResolverReplacer [1] would need to be updated to handle `GetSettingsRequest` that supports this scenario.

I'll transfer this to the security repository to be triaged by the team and wh

[2022-11-12 02:07] anasalkouz opened #5226 "Add Mechanism to prevent adding new unstable flaky to test"
**Is your feature request related to a problem? Please describe.**
Recently, We observe more flakiness on our tests because of newly created tests or updates on existing tests, like the following 2 examples:
https://github.com/opensearch-project/OpenSearch/issues/5189
https://github.com/opensearch-project/OpenSearch/issues/5031

**Describe the solution you'd like**
I am looking for a mechanism to

[2022-11-12 02:10] anasalkouz commented on #5226
@pranikum @imRishN @xuezhou25
Would like to know your thoughts on this?

[2022-11-12 02:14] anasalkouz opened #5227 "Automated way to report flaky test"
**Is your feature request related to a problem? Please describe.**
Currently, Developers are reporting flaky test issue while working on submitting PRs and testing features.

**Describe the solution you'd like**
Having an automated way to detect flaky failed tests on gradle check, then report this on github issues.

[2022-11-12 11:14] nishchay21 opened #5230 "Add API to check per awareness attribute value health."
**Is your feature request related to a problem? Please describe.**
As of today opensearch only shows health for full cluster however health per awareness attribute is still not seen. We need an API today to monitor the cluster availability status per [awareness attribute](https://opensearch.org/docs/2.0/opensearch/cluster/#advanced-step-6-configure-shard-allocation-awareness-or-forced-awareness) (

[2022-11-14 12:44] imRishN commented on #5220
Although I am not able to reproduce locally, but I believe this seem to be happening when the request lands up in a decommissioned node where the leader won't be discovered. Internally, if the node is not specified for the client then it creates a `RandomizingClient` and sometimes it comes out to be a decommissioned node. We can potentially avoid this by always selecting a node which will always r

[2022-11-14 12:45] imRishN commented on #5220
Will raise a PR to implement this. This PR would resolve #5221 and #5189 as well

[2022-11-14 13:06] dblock opened #5232 "[BUG] org.opensearch.index.shard.SegmentReplicationIndexShardTests.testReplicaReceivesGenIncrease flaky"
[code]

https://github.com/opensearch-project/OpenSearch/pull/5223

[2022-11-14 13:28] ashking94 commented on #5033
Couple of points that can be updated in the proposal -
- We can try to reuse the TransportShardBulkAction call for primary term validation. On the replicas, we can introduce a proxy that can check the primary term validation and return.
- Keeping inSync (in CheckpointState in ReplicationTracker) as false and ClusterManager having inSync as true could introduce confusion from understanding standpoi

[2022-11-14 15:38] lukas-vlcek commented on #1018
@macohen I am interested, feel free to assign me.

[2022-11-14 16:03] ypark2103 commented on #1467
Hi @reta
Any updates on when the dedicated OpenSearch connector for flink will be released?

[2022-11-14 16:12] reta commented on #1467
@ypark2103 https://github.com/apache/flink/pull/18541

[2022-11-14 17:05] ypark2103 commented on #1467
@reta So can you please provide ETA when we will be able to see OpenSearch connector in official flink document and merged to master?

[2022-11-14 17:19] reta commented on #1467
@ypark2103 I wish I could, I have no control over it, the pull request in question is awaiting review from Apache Flink team

[2022-11-14 17:57] andrross commented on #2878
This is actually the desired behavior that was added in #2547

The idea is to do limited retries with the same seed. If it passes on a retry then it is a flaky test, but we don't necessarily want to fail the build in such a case.

[2022-11-14 18:21] kotwanikunal opened #5239 "[BUG] Gradle check retry not working as expected"
**Describe the bug**
- As a part of https://github.com/opensearch-project/OpenSearch/issues/2547 and https://github.com/opensearch-project/OpenSearch/pull/2638/, a retry mechanism was introduced to rerun failed tests during `gradle check`
- With the increased flakiness in tests, one issue that was noticed is the retries do not always run for tests on the build server

Sample runs -
- https://build

[2022-11-14 18:32] andrross commented on #5239
Just as an example, from [this test run](https://github.com/opensearch-project/OpenSearch/pull/2660#issuecomment-1088064862) back in April, if we drill into the report we can see 3 failures of the same test:

![Screen Shot 2022-11-14 at 10 28 04 AM](https://user-images.githubusercontent.com/9160839/201738338-82983c43-354a-48f1-a2ea-bf676a60963e.png)

But it succeeded on the 4 attempt so the overal

[2022-11-14 19:49] mch2 opened #5240 "[Segment Replication] Update shard allocation to evenly distribute primaries."
With segment replication primary shards will be using more node resources than replicas.  While still net less than docrep, this will lead to an uneven utilization of resources across the cluster.

We need to explore updating allocation with segrep enabled to evenly balance primary shards across a cluster.

- [x] Add primary shard balance setting in the cluster. This is needed to provide mechanism

[2022-11-14 20:04] mch2 opened #5242 "[Segment Replication] [BUG] Primary to primary recovery (relocation) breaks with segment conflicts."
From https://github.com/opensearch-project/OpenSearch/issues/4665 & [related](https://github.com/opensearch-project/OpenSearch/issues/3923) .  Primary-Primary recovery operates the same under segment replication as it does today by using Peer recovery.

This process works by copying segments out to the new primary and then any operations received during the copy duration to be replayed, followed b

[2022-11-14 20:51] andrross commented on #5226
[This PR in the Gradle test-retry plugin](https://github.com/gradle/test-retry-gradle-plugin/pull/102) is an interesting idea. The general approach is to identify tests that are added or changed as a part of a commit, then re-run those tests many times as a part of the build. The idea is to catch flakiness immediately so the developer that already has the context can fix them right away. This func

[2022-11-14 20:56] andrross commented on #5227
re: detecting flaky tests

The test-retry plugin shows examples of reporting flaky tests: https://github.com/gradle/test-retry-gradle-plugin#gradle-enterprise

Assuming we get retries working properly (#5239) then flaky tests will have both a failed and a passed outcome in the test report. If we could surface flaky tests directly into the PR (probably in the post where the test outcome is shown) i

[2022-11-14 21:01] #4936 closed

[2022-11-14 21:18] Poojita-Raj commented on #4816
Closing out the issue since we went with a different approach for setting up the windows CI directly on Jenkins instead of using github actions.

[2022-11-14 21:18] #4816 closed

[2022-11-14 21:18] aabukhalil commented on #4965
I will be working on this

[2022-11-14 21:20] reta commented on #5226
@andrross a bit different approach is taken by Jenkins (if I am not mistaken): the tests diff is taken from JUnit XML reports (we also have them). So basically the idea would be:
 - fetch the reports from upstream branch (main, 2.x, ..)
 - compare with the report for current pull request (there could be new test cases in existing suites or completely new test suites)

The question is: when should

[2022-11-14 21:21] aabukhalil opened #5243 "[Searchable Snapshot] IndexInput clones close handling"
When Lucene clones [IndexInput](https://lucene.apache.org/core/7_2_0/core/org/apache/lucene/store/IndexInput.html) it will not close it, it will only close the original IndexInput. So we need to keep track of the cloned IndexInputs and close them when they are not used anymore. Scope here is find how to detect the unused IndexInput, is relying on GC and [Cleaner](https://docs.oracle.com/javase/9/d

[2022-11-14 21:24] aabukhalil commented on #5243
this has been estimated as 5 points

[2022-11-14 21:25] aabukhalil opened #5244 "[Searchable Snapshot] Add Integ test to make there is no resource leak"
Searchable Snapshot and how IndexInput is being used, it has lot of clones, closings and many files handling logic. If we missing closing any file then we will cause resource leaks. We Integ test to make sure there is no resource leak. This is possible (theoretically) by creating remote backed index, do some searches, and then delete the index. And monitor the file descriptor held by process affec

[2022-11-14 21:25] aabukhalil commented on #5244
this is estimated as 3 points

[2022-11-14 21:31] reta commented on #5219
@dblock  I will try to fix this one

[2022-11-15 01:14] mch2 commented on #3881
@muralikpbhat, @Bukhtawar. I understand this idea as the newer version would continue to create segments with the older codec until all nodes are upgraded.  I played around with this a bit with the Lucene demo.  Setting `setIndexCreatedVersionMajor` in iwc will bypass [this](https://github.com/apache/lucene/blob/main/lucene/core/src/java/org/apache/lucene/index/SegmentInfos.java#L166) check Segmen

[2022-11-15 02:06] ryn9 opened #5245 "Implement 'index_details' in Get snapshot API"
**Is your feature request related to a problem? Please describe.**
Currently the Get snapshot API does not provide enough information about the snapshotted indexes

**Describe the solution you'd like**
mimic the 'index_details' query and response options seen in later versions of Elasticsearch

**Describe alternatives you've considered**
N/A

**Additional context**
https://www.elastic.co/guide/en/

[2022-11-15 02:26] ryn9 opened #5247 "Document Clone Snapshot API"
**Is your feature request related to a problem? Please describe.**
The clone snapshot API is not documented

**Describe the solution you'd like**
please document it

**Describe alternatives you've considered**
N/A

**Additional context**
https://www.elastic.co/guide/en/elasticsearch/reference/current/clone-snapshot-api.html

[2022-11-15 02:28] ryn9 opened #5248 "Update Clone Snapshot API to support alternate target repository"
**Is your feature request related to a problem? Please describe.**
The clone api currently requires source and target snapshot to reside in the same repository

**Describe the solution you'd like**
We would like a method to push the target snapshot to an alternate repository

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-11-15 03:14] andrross commented on #5239
Ok, now I do have an example of a test succeeding after retry from just a few minutes ago: https://build.ci.opensearch.org/job/gradle-check/6876/testReport/org.opensearch.index/ShardIndexingPressureConcurrentExecutionTests/ You can see that the test `testCoordinatingPrimaryThreadedUpdateToShardLimitsAndRejections` failed twice but succeeded on the third attempt. You can also observe the retries in

[2022-11-15 06:36] sachinpkale opened #5251 "[Remote Store] Support refresh level durability"
**Is your feature request related to a problem? Please describe.**
- As part of [remote store feature](https://opensearch.org/docs/latest/opensearch/remote) that was introduced in OpenSearch 2.3, segments are uploaded to remote store post each refresh.
- This means remote segment store contains segments that were part of last refresh.
- But the `_remotestore/_restore` API only supports commit leve

[2022-11-15 06:41] sachinpkale commented on #5251
Currently, I am thinking of using the same flow that segment replication uses when replica receives the publish checkpoint.

https://github.com/opensearch-project/OpenSearch/blob/b43e985fa6601a2b44d69a91b138a4462f15fde8/server/src/main/java/org/opensearch/index/store/Store.java#L869-L884

[2022-11-15 10:08] sachinpkale opened #5254 "[Meta] Remote Store: Request level durability - Release Tracking"
**OpenSearch 2.5 Release**
- https://github.com/opensearch-project/OpenSearch/issues/5251
- https://github.com/opensearch-project/OpenSearch/issues/3144
- https://github.com/opensearch-project/OpenSearch/issues/3511
- https://github.com/opensearch-project/OpenSearch/issues/3589
- https://github.com/opensearch-project/OpenSearch/issues/4403
- https://github.com/opensearch-project/OpenSearch/issues/

[2022-11-15 13:40] dblock commented on #5239
I think this is working as expected. I'm closing this, unless someone can show an example where all retries failed and we still reported success.

[2022-11-15 13:41] dblock commented on #2878
I think this is working as expected. I'm closing this, reopen if you can show an example where all retries failed and we still reported success.

[2022-11-15 13:41] #2878 closed

[2022-11-15 13:42] dblock commented on #4881
https://github.com/opensearch-project/OpenSearch/pull/5241#issuecomment-1314323208

[2022-11-15 13:50] dblock commented on #5227
@andrross I had put up https://github.com/opensearch-project/OpenSearch/pull/5200 but it was a hacky-ish way to do it; want to attempt something cleaner?

[2022-11-15 13:54] dblock commented on #5219
@reta Take it! I suspect the root cause is a failure in setup/teardown of tests, but so far I didn't find anything meaningful.

[2022-11-15 15:15] Poojita-Raj commented on #1715
Url | Status | Group | Owner | Reproducible | Note
-- | -- | -- | -- | -- | --
[BUG] DecommissionControllerTests.testTimesOut flaky | Closed | decommission | andrross |   |  
[BUG] AwarenessAttributeDecommissionIT.testNodesRemovedAfterZoneDecommission_ClusterManagerInToBeDecommissionedZone is flaky | assigned | decommission | pranikum | no,100 passing tests on local |  
[BUG] Failed Integ test tes

[2022-11-15 15:28] dblock commented on #4881
@anshu1106 looks like this was introduced in https://github.com/opensearch-project/OpenSearch/pull/4241, can you please take a look?

[2022-11-15 17:14] andrross opened #5257 "[BUG] Non-deterministic behavior of mixed cluster YAML tests"
OpenSearch provides a [mechanism for testing the REST API using a YAML-based DSL](https://github.com/opensearch-project/OpenSearch/blob/b0080eb8dfe905f15a2df92bd3a349222e0df1b3/TESTING.md#testing-the-rest-layer). All the YAML tests are run against the code at build time as a part of the `:rest-api-spec:yamlRestTest`. They are also run as a part of the `:qa:mixed-cluster:v2.4.0#mixedClusterTest` ta

[2022-11-15 17:15] andrross commented on #4852
@peternied Opened an issue here #5257

[2022-11-15 17:33] andrross commented on #5239
@dblock I think we have the opposite problem. The retries are working, but even when a test succeeds on retry we still fail the overall test run. [See here](https://build.ci.opensearch.org/job/gradle-check/6825/testReport/org.opensearch.cluster.coordination/AwarenessAttributeDecommissionIT/) for an example. `AwarenessAttributeDecommissionIT.testInvariantsAndLogsOnDecommissionedNodes` both failed a

[2022-11-15 17:39] andrross commented on #5239
Again looking at [6825](https://build.ci.opensearch.org/job/gradle-check/6825/console), we see the "BUILD SUCCESSFUL" result in the output (tests succeeded on retry):

[code]

The gradle check jenkins run completes with the result ["UNSTABLE"](https://github.com/opensearch-project/OpenSearch/pull/5225#issuecomment-1312288647) and results in a failure of the GitHub action. Is this the right behavio

[2022-11-15 17:51] Bukhtawar opened #5259 "[Remote Translog] Add Tests for Remote Translog Transfer Snapshot"
**Is your feature request related to a problem? Please describe.**
To unblock the follow up PRs I would defer tests in the PR https://github.com/opensearch-project/OpenSearch/pull/4480 to another PR
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2022-11-15 17:56] kotwanikunal commented on #5239
I'll look at other `UNSTABLE` gradle checks to check if it's the same cause.

[2022-11-15 18:58] Poojita-Raj commented on #4554
These are the 4 api changes (updates/additions) we need to fetch metrics related to segment replication:
1. To surface segment replication timing data, our current approach is to follow the existing convention of surfacing timing data (for peer recovery). Timing data is just the time spent on each replication event and a breakdown of time spent in each stage of the replication.

[2022-11-15 18:58] dreamer-89 commented on #5242
Looking into it

[2022-11-15 18:59] ryanbogan opened #5263 "[Feature/extensions] Meta: Merge back to main tracking issue"
This is a tracking issue for merging the feature/extensions branch into main, and then backported to 2.x.

The merge will be performed in four steps, and all functionality will be behind a feature flag.

Meta-issue for experimental release: [139](https://github.com/opensearch-project/opensearch-sdk-java/issues/139)

Sub-issues:
- [x] https://github.com/opensearch-project/OpenSearch/issues/5264
- [

[2022-11-15 19:35] minalsha commented on #5213
@opencmit1  esrally is an Elasticsearch product. For OpenSearch, we use OpenSearch Benchmark. Please see the blog on this: https://opensearch.org/blog/update/2021/12/introducing-opensearch-benchmark/.

[2022-11-15 19:47] dagneyb commented on #211
@adnapibar can you provide details of the impact of this?

[2022-11-15 19:51] owaiskazi19 commented on #3851
@ryanbogan are we good to close this issue?

[2022-11-15 19:51] dblock commented on #5239
I think that if a retry succeeded, the build should be a SUCCESS.

[2022-11-15 19:52] dagneyb commented on #724
@jainankitk please let us know if this is resolved with @saratvemulapalli feedback. If we dont hear back by Nov 22nd, we'll consider this resolved. Thanks!

[2022-11-15 19:54] dagneyb commented on #969
@frotsch can you confirm if this is still an issue? If we don't hear back by Nov 22nd, we'll consider this resolved. Thanks!

[2022-11-15 19:55] #5213 closed

[2022-11-15 19:58] dagneyb commented on #1111
@dblock did this get fixed?

[2022-11-15 20:12] dblock commented on #1111
@dagneyb Nope. It's really a new feature where we want to repor the version of the whole distribution.

[2022-11-15 20:17] kotwanikunal commented on #5239
Fix: https://github.com/opensearch-project/opensearch-build/pull/2902

[2022-11-15 20:36] ryanbogan opened #5264 "[Feature/extensions] Merge to main tracking - Initial extensions framework"
This is a tracking issue for the first merge of feature/extensions into main.

PR/Commit to Cherry-Pick:

- Commit ID: https://github.com/opensearch-project/OpenSearch/commit/be1a605479a8da1809e6d706abbd0b0e59dea16f

- https://github.com/opensearch-project/OpenSearch/pull/3830

This merge contains the following PR's in addition to the one above:

- https://github.com/opensearch-project/OpenSearch/

[2022-11-15 21:21] dblock commented on #5226
I propose new tests be rerun with N random seeds as part of gradle check (or a new gradle check for new tests).

[2022-11-15 21:29] setiah commented on #3757
Tagging https://github.com/opensearch-project/opensearch-ruby/issues/50 here as ruby client is important for ruby users to migrate to OpenSearch.

[2022-11-15 22:33] #3851 closed

[2022-11-16 00:34] ryanbogan opened #5271 "[Feature/extensions] Merge to main tracking - Extension Points, initial REST implementation and registering Transport Actions"
This is a tracking issue for the second merge of feature/extensions into main.

PR/Commit to Cherry-Pick:
- Commit ID: 2a49d5a73c2f71d1560b8cea3364eccd0d417b64
- https://github.com/opensearch-project/OpenSearch/pull/4415

This merge contains the following PR's in addition to the one above:

- https://github.com/opensearch-project/OpenSearch/pull/4029
- https://github.com/opensearch-project/OpenSea

[2022-11-16 00:38] ryanbogan opened #5272 "[Feature/extensions] Merge to main tracking - getSettings() support, ActionListener onFailure(), and initial createComponents support"
This is a tracking issue for the third merge of feature/extensions into main.

PR/Commit to Cherry-Pick:
- Commit ID: b2ba1695f98ff64ff453571a0a36f2db774a5497
- https://github.com/opensearch-project/OpenSearch/pull/4553

This merge contains the following PR's in addition to the one above:

- https://github.com/opensearch-project/OpenSearch/pull/4430
- https://github.com/opensearch-project/OpenSear

[2022-11-16 00:43] ryanbogan opened #5273 "[Feature/extensions] Merge to main tracking - REST, TranportActions, and EnvironmentSettings updates (up to present)"
This is a tracking issue for the fourth merge of feature/extensions into main.

Note: The PR and commit below will be updated if more PR's are merged before this issue is closed.

PR/Commit to Cherry-Pick:

- Commit ID: a41b8f04eea86d9f66d10ba7aa3e1ab79629c20f

- https://github.com/opensearch-project/OpenSearch/pull/4862

This merge contains the following PR's in addition to the one above:

- http

[2022-11-16 01:20] zander312 opened #5275 "[BUG] Logs unable to reach OpenSearch"
## Bug Report

**Describe the bug**
We have Fluentbit sidecars, the logs are unable to reach OpenSearch. We see no errors in Fluentbit logs. We do not understand what is happening because we see no errors in the Fluentbit container logs.

Fluentbit Sidecar Log Message:
[code]

Fluentbit Configmap:
[code]

**Expected behavior**
Ability to send logs to OpenSearch, errors produced when unable to send

[2022-11-16 01:36] wannajob opened #5276 "[BUG] Action/metadata line [1] contains an unknown parameter [_type]\"}],\"type\":\"illegal_argument_exception"
The elastic sink connector shows this error when opensearch upgraded to 2.2.0 from 1.2.4

org.apache.kafka.connect.errors.ConnectException: Exiting WorkerSinkTask due to unrecoverable exception.\n\tat org.apache.kafka.connect.runtime.WorkerSinkTask.deliverMessages(WorkerSinkTask.java:561)\n\tat org.apache.kafka.connect.runtime.WorkerSinkTask.poll(WorkerSinkTask.java:322)\n\tat org.apache.kafka.con

[2022-11-16 02:58] anasalkouz commented on #5175
@PritLadani Can you list all related issues to the  [Meta issue](https://github.com/opensearch-project/OpenSearch/issues/1042) ?

[2022-11-16 03:01] anasalkouz commented on #5124
@SuZhou-Joe provide more details about your use-case? why are you using metadata block feature?

[2022-11-16 03:03] anasalkouz commented on #5248
@ryn9 Could you provide more details about the use-cases? how often do you need this?

[2022-11-16 03:56] SuZhou-Joe commented on #5124
User can block the metadata by using API,I think we should skip the blocked index and return infos in cat.indices?

[2022-11-16 08:01] WinterLily opened #5280 "Alerting for Unique Statistics Pairs"
New OpenSearch user coming from ElasticSearch using ElastAlert as an alerting backbone.

In ElastAlert, we relied heavily on "new_term" type alerting rules for alerting on events such as malware, relying on new (not seen in 7 days) events with unique combinations of source and malware type.

Now that we've moved over to OpenSearch, we're trying to get a similar result from the built-in alerting, t

[2022-11-16 12:16] Shivacharangoud commented on #1133
Is this runtime fields feature available now in opensearch? @rramachand21

[2022-11-16 15:55] dreamer-89 commented on #5242
Of three available fixes, third solution (block old primary from blocking replication) will cause delays on replicas and is not the considered. First solution (bump SegmentInfo counter) is hacky and also identifying ideal bump number is tricky to find.

Based on above, I will be following the second approach for this fix. Below is the rough plan for the same

- [ ] Write integration test which mim

[2022-11-16 18:15] tlfeng commented on #5217
Set up a local OpenSearch 2.4 node manually, with Searchable Snapshot feature enabled, installed the "repository-s3" plugin. Then had a run of the modified "[nyc_taxis](https://github.com/opensearch-project/opensearch-benchmark-workloads/tree/1f85d5c56f586e1dcc787d8093055ba69f79451c/nyc_taxis)" workload with steps for testing Searchable Snapshot, to make my OpenSearch node has got index data and s

[2022-11-16 18:31] #5239 closed

[2022-11-16 19:31] #4899 closed

[2022-11-16 19:39] adnapibar commented on #5197
Fixed by #5278

[2022-11-16 19:39] #5197 closed

[2022-11-16 21:13] #1844 closed

[2022-11-16 21:13] #1852 closed

[2022-11-16 21:41] msfroh commented on #3996
@SViradiya-MarutiTech -- I've been giving this more thought.

I don't think combined fields will help with your use-case. The error message you're getting there seems to be related to the `multi_match` trying to delegate query parsing to each of the underlying fields, including the numeric `year` field (which can't handle the string "2011 Toyota Corolla").

I think your best bet would be add a sep

[2022-11-16 21:41] gregschohn commented on #5167
I like the usage of docker, but it will slightly narrow the scope of what kinds of tests you'd like to run.  I'm thinking of performance tests - confirming that there are no regressions in performance for a given workload across a similarly situated cluster.  Another one, would be to test on windows clusters, once OpenSearch is available for > 1 release.

Those can be future concerns, but it would

[2022-11-16 22:10] dblock commented on #5167
- I think simulation framework doesn't give this proposal justice. This sounds like it's an "upgrade testing framework".
- I would take the goal to supersede and delete the bwc framework code in OpenSearch.
- I'd like to get a tool that can analyze a production cluster and generate an upgrade configuration that I can then run through the migration/upgrade framework to see whether that would work.

[2022-11-16 22:57] peternied commented on #5167
Great proposal thanks for putting this out there!

* I don't think this tool should live inside of OpenSearch - I think it should be part of its own repository.  The way upgrade testing is conducted shouldn't be tightly coupled with the version of OpenSearch.

* Include a mock of the input(s) to the tool, it would help clarify the range of supported scenarios.

We've added a GitHub Action [1] that

[2022-11-16 23:52] jmazanec15 opened #5287 "Can revert of "Cluster manager task throttling feature" be forward ported to 2.x and main?"
We are seeing failure for k-NN of backwards compatibility tests (2.1-2.5): https://github.com/opensearch-project/k-NN/actions/runs/3475055465/jobs/5824919899.

[code]

I believe changes causing this were reverted for 2.4: https://github.com/opensearch-project/OpenSearch/pull/5203. Can this revert be forward ported to 2.x and main?

[2022-11-17 06:02] adnapibar commented on #4124
Related https://github.com/opensearch-project/security/issues/1961

[2022-11-17 06:07] #4124 closed

[2022-11-17 09:32] shwetathareja commented on #5038
@Bukhtawar thats a good point. I think we should think about Optimistic Concurrency Control across all administrative APIs in general which are operated by ClusterManager as order of request queuing from client would be different from how it lands up in master pending tasks queue and eventually executed.

[2022-11-17 14:00] anshu1106 commented on #4881
Raise PR with the fix

[2022-11-17 15:41] ashking94 opened #5291 "[Remote Store] During replica-primary promotion verify translog retention stays off or it is turned off"
**Is your feature request related to a problem? Please describe.**
From the below code, it looks that the translog retention is turned off if retention lease exists for each of the assigned shard of a shard.
https://github.com/opensearch-project/OpenSearch/blob/059b614c9ccf6ea0ec5eccecccd3f560f241db7f/server/src/main/java/org/opensearch/index/shard/IndexShard.java#L694-L706
Since retention lease d

[2022-11-17 17:37] Poojita-Raj commented on #1448
Need to backport changes needed for windows CI to run to both 1.x and 1.3 branch.

These are all the changes that have taken place -

- [x] 1. https://github.com/opensearch-project/OpenSearch/pull/5077 - ResourceAwareTasksTests doesn't exist on 1.x and 1.3 branches so this change doesn't need to be included.
- [ ] 2.  https://github.com/opensearch-project/OpenSearch/pull/5023 - This fix has 2 open

[2022-11-17 17:41] dblock commented on #5280
I'll move this into https://github.com/opensearch-project/alerting, I *think* that's where this belongs, but I could be wrong ;)

[2022-11-17 18:21] peternied commented on #1448
@Poojita-Raj Is there an effort to get OpenSearch 1.3 working on Windows?  As far as I know, support for Windows in only for OpenSearch 2.4+

[2022-11-17 18:38] Bukhtawar commented on #5287
cc: @dhwanilpatel

[2022-11-17 21:39] kartg commented on #5276
hi @wannajob! You're correct - this is happening because mapping types have been removed since OpenSearch 2.0

This isn't a bug within OpenSearch but there's certainly a compatibility issue with the Confluent connector. I didn't see any details on OpenSearch compatibility from their docs, so you may want to reach out to them to confirm.

Alternatively, you could try the Aiven fork - https://github

[2022-11-17 21:39] #5276 closed

[2022-11-17 21:58] kartg commented on #5220
Closing since #5252 has been merged

[2022-11-17 21:58] #5220 closed

[2022-11-17 21:59] kartg commented on #5221
Closing since #5252 has been merged

[2022-11-17 21:59] #5221 closed

[2022-11-17 21:59] kartg commented on #5189
Closing since #5252 has been merged

[2022-11-17 21:59] #5189 closed

[2022-11-17 22:15] minalsha commented on #5272
@ryanbogan  can you add details on what each commit consists of?

[2022-11-17 22:16] minalsha commented on #5264
@ryanbogan can you add details on what each commit consists of?

[2022-11-17 22:30] adnapibar opened #5299 "[BUG] Bulk api silently ignores unknown operations"
**Describe the bug**

The bulk api supports the following actions: `create, delete, index, update`. However, if the request contains an invalid operation then it silently ignores it.

**To Reproduce**

Given the following bulk request

[code]
The `_bulk` api successfully returns

[code]

**Expected behavior**
The api call should fail resulting in a proper error message, something like

[code]

**H

[2022-11-17 23:24] andrross commented on #5187
@reta I suspect the min distributions are of limited value because many or most users consider the plugins an integral part of the product. I think we'd want no-jdk versions of the full distribution before we can promote them. Also, again this is inherited, but we actually go so far as to [consider the no-jdk distributions deprecated](https://github.com/opensearch-project/OpenSearch/blob/main/serv

[2022-11-17 23:44] adnapibar commented on #211
The S3 bucket is managed by elastic, which I don't think should be in the README. Also, the S3 URL can change and in that case the instructions in the README will become inaccurate.

[2022-11-17 23:52] andrross commented on #5217
As expected the profile is dominated by `S3BlobContainer.readBlob`. There are other issues here as well but probably not worth diving into until we have implemented caching to reduce the need to re-fetch data from the remote repository.

<img width="1024" alt="Screen Shot 2022-11-17 at 3 44 05 PM" src="https://user-images.githubusercontent.com/9160839/202584516-ea887f42-2ddd-445b-896a-78b0d897046f

[2022-11-18 00:02] reta commented on #5187
Thanks @andrross

That's a surprising one, thanks for pointing it out

[2022-11-18 00:06] andrross commented on #5299
The API will report [partial failures](https://opensearch.org/docs/latest/api-reference/document-apis/bulk/#response) in other cases. This appears to fail the entire request in one item has an invalid action. Why the difference?

[2022-11-18 00:10] adnapibar commented on #5299
This is invalid request, I don't think we should be processing this request at all. Partial failures happen for valid requests during indexing time.

[2022-11-18 00:14] dreamer-89 commented on #5242
With integration test below

[code]

[2022-11-18 00:20] andrross commented on #5299
What's the behavior if there is a line of malformed JSON or if a line omits the action all together? I think I agree that invalid requests should be rejected completely, but we should be consistent for all invalid cases.

[2022-11-18 00:23] adnapibar commented on #5299
It rejects the request - https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/bulk/BulkRequestParser.java#L155-L273

[2022-11-18 01:28] petardz commented on #5064
@rishabhmaurya I tried your suggested approach by implementing DummyQueryBuilder where in toQuery method I saved QueryShardContext objectto static var. At startup I had to exec _search with this dummy query on each shard. This might be too hacky solution for us. @deshsidd any thoughts?

[2022-11-18 01:35] adnapibar commented on #4562
@mgodwan I want to understand the requirements here, currently the `_nodes/<node_id>/stats` returns the number of failed indexing operations  `indexing.index_failed` which I believe also include the failures during the bulk call.  Are you saying we should have more granular level of stats such as count by types of failures?

[2022-11-18 08:07] anshu1106 opened #5304 "[Weighted Shard Routing] Add request validation for PUT api"
**Is your feature request related to a problem? Please describe.**
Fail PUT call if request payload doesn't have data to set weight for all discovered zones and zones in forced zone value setting.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2022-11-18 22:23] dblock commented on #4212
https://github.com/opensearch-project/OpenSearch/pull/5283#issuecomment-1319863171

[2022-11-18 22:23] dblock commented on #3603
https://github.com/opensearch-project/OpenSearch/pull/5283

[2022-11-18 22:43] joshpalis opened #5310 "[DISCUSS] Relocate Job Scheduler into core as a native plugin"
Upon receiving ownership of the [Job Scheduler](https://github.com/opensearch-project/job-scheduler) project, the OpenSearch core team and the community have made the decision to relocate the project into core as a [native plugin](https://github.com/opensearch-project/OpenSearch/tree/main/plugins). This discussion and our rationalization for this proposal is all documented in this [issue](https://

[2022-11-18 23:10] joshpalis commented on #5310
@prudhvigodithi @nknize @dblock @vibrantvarun @praveensameneni @sean-zheng-amazon @anirudha

[2022-11-19 00:23] kavilla commented on #4218
@ryanbogan I am curious what the feedback provided that made the decision final. Would you be able to provide that insight or link to that convo?

I think it would be good to be have a definition what belongs in core and what doesn't. It would probably be important to have the same alignment with OpenSearch Dashboards.

[2022-11-19 08:07] sbcd90 commented on #5064
hi @petardz , one way to achieve `reading fields from query string query` is to override `getFieldQuery` method in `QueryStringQueryParser`. i tried a small prototype here https://github.com/sbcd90/OpenSearch/blob/ec2a7725ba5643b9b22d159090bb40fcd6752d52/server/src/test/java/org/opensearch/index/search/QueryStringQueryParserExt.java

then we can use a dummy `QueryShardContext` to create constructo

[2022-11-19 19:03] imRishN commented on #3603
I'll take a look to this test and try to fix it

[2022-11-20 06:03] Rishikesh1159 opened #5313 "[BUG][Segment Replication] With Segment Replication enabled new Replica shards are falling behind Primary until an operation happens on index"
**Describe the bug**
With Segment Replication enabled when a new replica shard is recovered/created/added to an existing cluster, then replica shards don't get a checkpoint (latest segments) from primary until an operation is performed on index. So, replica will fall behind until a new operation happens on index.

Explanation:
-> In Ideal Segment Replication scenario, when a refresh happens on ind

[2022-11-20 10:45] frotsch opened #5314 "[BUG] Lucene SimpleText codec is not working - CorruptIndexException"
**Describe the bug**
Lucene SimpleText codec is not working, leads to CorruptIndexException

**To Reproduce**
- Start OS 2.0.0 cluster with docker compose (like described on opensearch.org)
- Create an index with `codec: SimpleText` in index settings
- Add some documents into this index
- Thats working so far. You can query the documents and cluster status is green
- Shutdown the cluster and resta

[2022-11-21 07:08] gbbafna commented on #3945
I think reading the unacknowledged/failed write requests is fine. But we should not lose the acknowledged writes.

[2022-11-21 08:53] ashking94 commented on #3945
That's correct. We, however, should make sure that the sequencing happens correctly not leading to inconsistent state.

[2022-11-21 09:48] deshsidd commented on #5064
Thanks @rishabhmaurya and @sbcd90. @petardz  is working on the changes and should have a PR ready.

[2022-11-21 16:55] andreAbtahi96 commented on #4125
@navneet1v not sure if this is too late. But I suspect a potential issue that is occurring is... test cases are not synced with the updated code base. That inconsistency alone could trigger this issue. I've faced it myself. Where I update a decorator for example on a file, yet the test case was using an older decorator, that would trigger ci to fail. Not sure if that helps 😄

[2022-11-21 17:41] Bukhtawar opened #5322 "[Remote Translog] Add Tests for base contracts for BufferedChecksumStreamInput"
**Is your feature request related to a problem? Please describe.**
https://github.com/opensearch-project/OpenSearch/pull/4480#discussion_r1024423530

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional co

[2022-11-21 18:45] mch2 commented on #5313
@Rishikesh1159 This is because phase 1 of recovery copies from the primary's latest safe commit.  Any segments created after that safe commit will not be copied with recovery & will be copied on the first replication event after the replica is started.

I think its reasonable to force a round of replication here so we are not dependent on the primary receiving consistent index load & refreshing.

[2022-11-21 18:52] peterzhuamazon commented on #1448
Hi, just want to make sure this issue is closed, if all the tasks are completed.

Thanks.

[2022-11-21 19:35] minalsha commented on #4811
Closing this issue since this is addressed and running as confirmed by @peterzhuamazon .

[2022-11-21 19:35] #4811 closed

[2022-11-21 19:44] dblock commented on #1448
Related issue is https://github.com/opensearch-project/OpenSearch/issues/1975. If we break up `gradle check` we can decide which sets need to run on all platforms as part of CI, and which need to be run on cron.

[2022-11-21 19:46] mch2 commented on #1448
Added the following tasks still remaining.
- [ ] Fix gradle check on 1.3/1.x
- [ ] Add GH workflow for windows to gate PRs.  Add unit tests only.

[2022-11-21 19:46] peterzhuamazon commented on #1448
1.x: https://build.ci.opensearch.org/job/gradle-check/7060/
1.3: https://build.ci.opensearch.org/job/gradle-check/7061/
Both windows have some errors here.

[2022-11-21 19:49] Poojita-Raj opened #5323 "Add GH workflow for windows to gate PRs."

[2022-11-21 19:49] Poojita-Raj opened #5324 "Fix gradle check on 1.3/1.x"
These are the failures in 1.x and 1.3 branch from the latest CI runs on windows -

- [x] InternalDistributionArchiveCheckPluginFuncTest. fails on unexpected notice content
- [x] InternalDistributionArchiveCheckPluginFuncTest. plain class files in distribution tar archives are detected
- [x] InternalDistributionArchiveSetupPluginFuncTest. registered distribution provides archives and directory vari

[2022-11-21 19:54] peterzhuamazon commented on #1448
windows:
main: https://build.ci.opensearch.org/job/gradle-check/7152/
2.x: https://build.ci.opensearch.org/job/gradle-check/7153/

[2022-11-21 20:02] dblock commented on #4212
https://github.com/opensearch-project/OpenSearch/pull/5069#issuecomment-1320706981

[2022-11-21 20:03] dblock commented on #4212
This was added in https://github.com/opensearch-project/OpenSearch/pull/1336

[2022-11-21 20:15] #5299 closed

[2022-11-21 21:01] andrross opened #5327 "[BUG] URLDecodeProcessorTests.testTargetField failure"
See https://build.ci.opensearch.org/job/gradle-check/7160/

This is deterministically reproducible with the following seed:

[code]

[code]

[2022-11-21 21:03] #5232 closed

[2022-11-21 22:08] dblock opened #5329 "[BUG] org.opensearch.action.admin.cluster.node.tasks.ResourceAwareTasksTests.testTaskResourceTrackingDuringTaskCancellation flaky"
https://github.com/opensearch-project/OpenSearch/pull/5325#issuecomment-1322685802

https://build.ci.opensearch.org/job/gradle-check/7166/testReport/junit/org.opensearch.action.admin.cluster.node.tasks/ResourceAwareTasksTests/testTaskResourceTrackingDuringTaskCancellation/

[code]

[2022-11-21 22:27] ryanbogan commented on #4218
@kavilla @nknize said offline that he did not have any concerns about moving Job Scheduler to a native plugin and agreed with our decision.  The questions posed above were for further discussion about what belongs in core going forward.

[2022-11-21 23:00] adnapibar commented on #4969
Fixed by https://github.com/opensearch-project/OpenSearch/pull/5285

[2022-11-21 23:00] #4969 closed

[2022-11-21 23:36] adnapibar commented on #4881
Resolved by https://github.com/opensearch-project/OpenSearch/pull/5289

[2022-11-21 23:36] #4881 closed

[2022-11-22 03:21] max-frank opened #5331 "[BUG] Getting security exception due to access denied "java""
I am experiencing similar issues with GCS repositories as were discussed in https://github.com/opensearch-project/OpenSearch/issues/4269 for S3 repositories.

In 2.2.x the GCS snapshots were working fine running with Workload Identity in a GKE cluster, but starting with 2.3.0 i started seeing the same java security policy issues. In 2.3.0 I was still able to take snapshots even though it showed th

[2022-11-22 07:22] skumarp7 opened #5333 "Cross Cluster Replication across 2 k8s cluster is not working"
Hi,

We are trying to establish a cross-cluster replication setup between two Kubernetes clusters. We are unable to establish the connection between the leader and the follower using nodePort using the below APIs documented from the OpenSearch documentation. In our case, we have not enabled security plugin.

We have tried creating an API call to _cluster/settings as:

[code]
and we have also tried

[2022-11-22 09:01] anthonygerrard commented on #1583
Switching from graviton to non graviton instance types fixes this issue

[2022-11-22 14:08] PaulLesur opened #5337 "[BUG] Snapshot restauration fails due to CorruptIndexException"
**Describe the bug**
Indices cannot be restored because of a 1 byte difference in the snapshot.

**To Reproduce**
- Take a snapshot
- Try to restore this snapshot

**Expected behavior**
The snapshot should be restored properly.

**Host/Environment (please complete the following information):**
- Opensearch deployed on Kubernetes
Here are the information about our cluster:
[code]

**Additional cont

[2022-11-22 17:43] adnapibar commented on #1562
This issue is over a year old, it hasn't reoccured and locally not reproducible.

[2022-11-22 17:43] #1562 closed

[2022-11-22 18:05] #5327 closed

[2022-11-22 19:40] dagneyb commented on #724
Closing as we have not heard back.

[2022-11-22 19:40] #724 closed

[2022-11-22 19:41] dagneyb commented on #969
Closing as we have not heard back.

[2022-11-22 19:41] #969 closed

[2022-11-22 19:44] minalsha commented on #1425
@peterzhuamazon  is this an open issue?

[2022-11-22 19:49] minalsha commented on #1585
@Poojita-Raj  can you share an update on this issue?

[2022-11-22 19:57] dagneyb commented on #1840
@lezzago were you able to troubleshoot with the above feedback? Is this still an issue? If we don't hear back by Dec 6th we will consider this resolved.

[2022-11-22 20:02] minalsha commented on #1975
@dreamer-89  can we close this in lieu of meta issue #4053 ?

[2022-11-22 20:07] dblock commented on #1583
@anthonygerrard @cameron-hurd Do you have tickets open with the Amazon managed service on these Graviton-related issues? If so would you mind opening them and/or sending me ticket numbers (dblock[at]amazon[dot]com works), please? There's a team that has looked at similar issues, but I can't tell whether it's the same problem or not from the above.

[2022-11-22 20:22] adnapibar commented on #1722
This seems out of data as it hasn't been reported again in the CI. Not reproducible locally.

[2022-11-22 21:14] anasalkouz commented on #5331
@davidlago Could you look into this? Shall we transfer this to security plugin repo?

[2022-11-23 01:41] dreamer-89 commented on #1975
Thank you @minalsha  for the question. Yes, we can close this issue in favour of #4053. Also, this issue tracked the improvements in gradle check failures with different task split and does not focus on splitting check task itself. From the exercises i performed, it is identified that breaking down gradle check into smaller sub tasks does not improve test failures.

[2022-11-23 01:41] #1975 closed

[2022-11-23 01:47] petardz commented on #5064
Thank you @sbcd90 that helped a lot! I managed to create QueryShardContext object by myself [here](https://github.com/opensearch-project/index-management/pull/616/files#diff-2186f78c3a5350b682a75ada35ac350220bd5768570a737b283fdf8aa6385f8aR64)
@rishabhmaurya do you see any potential issues in this approach?

[2022-11-23 02:26] kmdrn7 commented on #5275
Hi @zander312 , seems like your fluentbit having some trouble when pushing the logs to your es output. you can try enable error tracing on your es output plugin like this for better debugging

[code]

[2022-11-23 09:31] Bukhtawar commented on #5329
cc: @ketanv3

[2022-11-23 09:32] Bukhtawar commented on #5209
cc: @sachinpkale

[2022-11-23 13:05] martinenkoEduard opened #5353 "Please add discussions to this github repository!"
Please add discussions to this github repository!

[2022-11-23 15:55] dblock commented on #5331
@anasalkouz Doesn't look like a security plugin problem.

This plugin hasn't been touched in a long time.

@max-frank I see that the stack says `Caused by: java.lang.SecurityException: access denied ("java.net.SocketPermission" "metadata.google.internal:80" "connect,resolve")`. GCE hosts have [access to `metadata.google.internal`](https://cloud.google.com/compute/docs/metadata/overview) without au

[2022-11-23 16:09] lewijacn commented on #3765
@ankitkala I have been poking around this area as well recently, would love to hear any thoughts you might have on potential improvements we could make

[2022-11-23 16:15] willyborankin commented on #5331
@dblock I added SOCKS5 proxy support for GCS and added this new permission:
[code]
regarding `java.net.SocketPermission" "metadata.google.internal:80" "connect"` it was added 6 yaers ago, so it could be that it needs to be extended to `connect,resolve` at least we use our own solution with such settings in prod env and it works just fine for OS 2.3. I can prepare a fix for it

[2022-11-23 16:22] #4824 closed

[2022-11-23 16:28] dblock commented on #5353
@martinenkoEduard Did any of the existing channels not work for you? What are you thinking about posting?

We have several places where we're doing discussions, starting with [forums](https://forum.opensearch.org/)). We are
 also [working on a public Slack](https://github.com/opensearch-project/project-meta/pull/46). Adding discussions into this repo (1 of 70 in this org) would be one place too ma

[2022-11-23 16:35] penghuo opened #5359 "Plugin security permission exception "org.opensearch.secure_sm.ThreadPermission" "modifyArbitraryThreadGroup""
**Is your feature request related to a problem? Please describe.**
* [SQL plugin depend on hadoop-fs to access s3](https://github.com/penghuo/os-sql/blob/hp/test/maximus-m1/filesystem/build.gradle). when init S3AFileSystem. SQL plugin get exception `"org.opensearch.secure_sm.ThreadPermission" "modifyArbitraryThreadGroup"`
* Try to add permission in plugin-security.policy, it does not work. I think

[2022-11-23 16:36] dblock commented on #5331
@willyborankin Thanks for jumping in!

I think we should let @max-frank confirm that `java.net.SocketPermission" "metadata.google.internal:80" "connect,resolve"` fixes his problem first. Does it? If it does, appreciate a PR from you, @max-frank, please?

For proxy support, I believe this may be necessary, but I don't know if there are consequences of having  `permission java.net.NetPermission "set

[2022-11-23 16:38] willyborankin commented on #5331
@dblock Sure no problem. BTW @max-frank what JDK do you use?

[2022-11-23 16:40] dblock commented on #5359
Curious what is this code trying to do? Why does it need to `modifyArbitraryThreadGroup` at all?

[2022-11-23 16:50] bharath-techie commented on #4259
https://github.com/opensearch-project/OpenSearch/pull/4632/files -- this has the fix and I was not able to reproduce the issue with 500 iters in local. Post 2.x I don't see this issue being tagged as well, we can wait and see if this issue occurs again in future, so will keep it open.

[2022-11-23 18:32] Rishikesh1159 commented on #4212
Looked into this test a bit. The test fails only when rejection count if full i.e rejection count is equal to NUM_THREADS. Two possible for workaround/Questions:
-> Can rejection count be allowed to be equal to NUM_THREADS? is this something we should happening in test? or
-> Should we update logic of asserting to null when all the releasable's are null.

@getsaurabh02 can you please give your tho

[2022-11-23 18:37] andrross opened #5364 "[BUG] InternalEngineTests.testForceMergeWithSoftDeletesRetentionAndRecoverySource failure"
This is reproducible:

[code]

https://build.ci.opensearch.org/job/gradle-check/7223/consoleFull

[2022-11-23 23:04] andrross commented on #2501
#5365

[2022-11-23 23:45] #4967 closed

[2022-11-24 00:37] max-frank commented on #5331
@willyborankin @dblock Thanks for the quick replies. Let give me a bit to check if I can make it work by adding the suggested permissions. I added the additional info about JDK and current policy below:

JDK is:
[code]
which should be default for the official container image i.e.,
[code]

My plugin-security.policy is unchanged from the defaults so:
[code]

[code]

[2022-11-24 01:01] reta commented on #5331
It seems like `permission java.net.SocketPermission "*", "connect";` should be `permission java.net.SocketPermission "*", "connect,resolve";`?

[2022-11-24 01:06] joshpalis opened #5585 "[META] Implement a Communication Mechanism Between Job Scheduler as a Plugin and Anomaly Detection as an Extension"
## Problem
Anomaly Detection currently takes Job Scheduler as a dependency in order to schedule Anomaly Detectors to run for a specified time interval. Job Scheduler has an SPI (Service Provider Interface) design and provides the [JobSchedulerExtension interface](https://github.com/opensearch-project/job-scheduler/blob/main/spi/src/main/java/org/opensearch/jobscheduler/spi/JobSchedulerExtension.ja

[2022-11-24 01:55] reta commented on #5219
https://build.ci.opensearch.org/job/gradle-check/7310

[code]

[2022-11-24 02:27] max-frank commented on #5331
Ok so it seems that `permission java.net.SocketPermission "*", "connect,resolve";` is not necessary. I have tested with fresh clusters with the exact same deployment configuration and in both cases it worked fine. It seems the problem was that somehow the repository config on the original cluster were I experienced this issue got corrupted resulting in these issues.

Note sure how it got corrupted

[2022-11-24 02:43] anasalkouz commented on #472
With 2.4 release, we have deprecated all non-inclusive usages (i.e. master, blacklist and whitelist) and we are planning to remove those deprecated usages on 3.0 release.

[2022-11-24 04:37] PritLadani commented on #5175
@anasalkouz Here are all the open issues related to Search Backpressure: https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aopen+is%3Aissue+backpressure

[2022-11-24 14:20] ankitkala commented on #3765
On #2, I think there were 2 issues that i observed:
1. Reindex process uses apache http async client for operation. Due to some bug in handling callback, reindex process was ending up getting executed on the http callback thread instead of the original thread for reindexing.
2. Regarding the halts in remote reindex process, even though the remote cluster returns the scroll response, the reindex pr

[2022-11-24 14:49] reta opened #5371 "[BUG] Regression in snapshot deletion logic"
**Describe the bug**
One of the random failures of the https://github.com/opensearch-project/OpenSearch/issues/5219 produced an interesting stack trace (see below please):

[code]

The issue seems to be a regression introduced by 7ccb7140458179bf2f8fe298431c795edef4e2c6 and an edge case when remote snapshot repository becomes not available (for example, deleted). I was able to craft a test case wh

[2022-11-24 16:23] pbruski opened #5376 "[BUG] after upgrade to OpenSearch 2.0, finished tasks no longer get stored in .tasks index"
**Describe the bug**
We've upgraded from OpenSearch 1.3 to OpenSearch 2.0. The index mapping of .tasks index didn't get updated to include the cancelled field. Since the mapping on this index is strict, results of finished tasks no longer get stored in the index and are gone from OS as soon as the task is finished. This makes it impossible to track the results of long running tasks.

**To Reproduc

[2022-11-24 21:38] martin-gaievski opened #5379 "[BUG] Failed to create query: Index 0 out of bounds for length 0"
**Describe the bug**
Getting 400 error with "type": "query_shard_exception", "reason": "failed to create query: Index 0 out of bounds for length 0" on search query.

Initially issue reported on ES 7.1, also reproducible on latest OpenSearch 2.4.0. Maybe a lucene bug https://github.com/apache/lucene/issues/11864 -> https://github.com/apache/lucene/issues/9763

I couldn't find exception in logs for

[2022-11-24 23:42] #5331 closed

[2022-11-25 09:39] tntruong723 opened #5380 "Add an API to collect metrics only for a subset of indices"
**Is your feature request related to a problem? Please describe.**
The volume of metrics to be handled increases when the number of indices increases.

**Describe the solution you'd like**
Add an API to collect metrics only for a subset of indices.

**Describe alternatives you've considered**

**Additional context**
I've found that in IndicesStatsResponse class when getIndices is invoked, all Indi

[2022-11-25 16:57] dbwiddis commented on #1303
Hi, @seth-priya, please do take this on!  I had assigned myself #2341 (ppc64le) some time ago but unassigned a few weeks ago when it became clear I didn't have time to do it -- and also the solution in #4001 is clearly a more comprehensive one.

It's all yours!

[2022-11-26 00:24] opensearch-ci-bot opened #5385 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-2.5.0"
***Received Error***: **Error building OpenSearch, retry with: ./build.sh manifests/2.5.0/opensearch-2.5.0.yml --component OpenSearch --snapshot**.
                      The distribution build for OpenSearch has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6509/consoleFull

[2022-11-27 19:13] Rishikesh1159 commented on #4495
Closing this. Please free to reopen @0xf4b1 if you have any more questions.

[2022-11-27 19:13] #4495 closed

[2022-11-27 22:35] morsik commented on #472
@anasalkouz after all this talk being on the other side of Ocean, I still don't see what's non-inclusive in those terms. Sorry. The world is just broken and you're doing wrong thing here.

[2022-11-28 07:42] nssuresh2007 commented on #1181
### Performance comparison after the Search Backpressure changes

**Summary:** We did not see any degradation in performance due to Search BP.

#### Domain Setup

Data nodes: r5d.large, 2 nodes
Master node: r5d.large
nyc_taxis workload
5 primary shards, 1 replica shard

Benchmark command used:

[code]

Baseline: Without Search BP changes
Contender: With Search BP enabled and enforced

#### Detaile

[2022-11-28 08:00] RS146BIJAY opened #5386 "DiskThresholdDecider should consider shard size of all relocating shards on the target node while making relocation decisions"
**Describe the bug**
OpenSearch relocates shards away from the node on which it has breached high disk watermark. While selecting the target node for a relocating shard, DiskThresholdDecider considers that allocating this shard on a node will not bring the target node above the high watermark. Since relocation can happen concurrently, it is possible that DiskThresholdDecider selects the same node

[2022-11-28 11:03] VartikaSharma14 opened #5387 "Cannot connect to Opensearch dashboard"
I am using OpenSearch with docker compose file.
Both services (5601 & 9200) are working fine.

But when I try to  add volumn in opensearch-dashboard service, dashboard is not reachabel.
<img width="723" alt="image" src="https://user-images.githubusercontent.com/99406269/204262269-a6001e2d-339a-4d6c-8ef1-a14e33984566.png">

Can please anyone help!

[2022-11-28 12:42] nssuresh2007 commented on #1181
### How Search BP behaved with Rogue Query:

We added the following rogue query to the nyc_taxis workload (`date_histogram_agg_rogue` below):

[code]

#### Summary

* Without Search BP, the rogue query was occupying lot of heap and eventually brought down one of the nodes.
* When Search BP was enabled, it was able to cancel the tasks from the rogue query and kept the instance from going down.
* Si

[2022-11-28 13:21] cameron-hurd commented on #1583
@dblock we reached out to our AWS support - they mentioned `The GC behavior is different for the domain once G1GC got enabled with the Graviton instance type.`   AWS support did not recommend switching to non graviton but based on the GC statement from them we tried it and it resolved our 429 issue.  We never fully rolled out customers to the graviton cluster as it hit the issue with half the norm

[2022-11-28 14:58] amitmun commented on #1583
@cameron-hurd Can you please make it clear which type of GC causes this and which type resolved this?

[2022-11-28 16:47] colmaengus commented on #5094
When is the next release due? Our security folks are starting to complain.

[2022-11-28 17:44] dblock commented on #5219
@reta Looks like this is a legit bug (thanks for opening https://github.com/opensearch-project/OpenSearch/issues/5371) vs. random flaky test failure. Shall we re-close this one to avoid confusion?

[2022-11-28 17:51] dblock commented on #5379
Appreciate a unit test that reproduces this, maybe with a shorter query :)

[2022-11-28 17:53] dblock commented on #5331
Thanks for bringing this up and working through it with us @max-frank!

[2022-11-28 18:32] reta commented on #5219
Thanks @dblock, the second occurrence (https://github.com/opensearch-project/OpenSearch/issues/5219#issuecomment-1325849190) is not clear to me, I suspect it is still flakyness, I will watch the builds a bit and update you, thanks!

[2022-11-28 19:33] mch2 commented on #5209
Another instance - https://build.ci.opensearch.org/job/gradle-check/7152/testReport/junit/org.opensearch.index.shard/IndexShardTests/testRestoreShardFromRemoteStore_2/.

Having trouble reproing locally.

[2022-11-28 23:28] chelma commented on #5167
Per comments and discussion, changed name to "Upgrade Testing Framework".

[2022-11-29 01:23] joshuali925 opened #5395 "How does OpenSearch handle a plugin's transitive dependencies"
**Is your feature request related to a problem? Please describe.**
Reports scheduler depends on a maven library `com.github.wnameless.json:json-flattener`, which depends on `com.github.wnameless.json:json-base` (declared in its [pom.xml](https://github.com/wnameless/json-flattener/blob/725cd359b0a9e5e6dffc5213a0eed21f5145aec8/pom.xml#L62-L64)).

But putting `json-flattener` in plugin's `build.grad

[2022-11-29 01:26] mch2 opened #5396 "[BUG] OnDemandBlockSnapshotIndexInputTests fail on Windows."
**Describe the bug**
OnDemandBlockSnapshotIndexInputTests.testVariousBlockSize fails on windows.  See https://build.ci.opensearch.org/job/gradle-check/7153/testReport/junit/org.opensearch.index.store.remote.file/OnDemandBlockSnapshotIndexInputTests/testVariousBlockSize/

**Expected behavior**
Test should pass.

**Plugins**
None

**Host/Environment (please complete the following information):**
 -

[2022-11-29 01:27] mch2 commented on #5396
A couple options.
1. If running on windows, force a gc run in the test after the input is closed.
2. We ignore the test on Windows...

[2022-11-29 01:36] sachinpkale commented on #5209
Let me take a look and fix it on priority.

[2022-11-29 01:45] mch2 commented on #5396
Submit a PR to skip this for Windows.

[2022-11-29 02:10] mch2 commented on #5209
Looks like a windows specific issue. I tried deleting in a loop and all files will get deleted. I think files are moving to pendingDeleteFiles and not getting purged until another check.

I've hit this with 1 file remaining. Usually write.lock and 2 files remaining write.lock and .cfe.

[2022-11-29 09:04] anthonygerrard commented on #1583
We've only just raised a support case with Amazon.  No resolution yet.

[2022-11-29 16:07] lewijacn commented on #3765
Much thanks for listing this out, it's very helpful

I definitely agree on point 1, this was one of my own points I've been collecting. It would be a big win to have some form of parallelization on remote reindexing. I don't have a good understanding yet on our limitations with our current implementation for reindexing and what would need to be added/changed to allow for this, but this may be a go

[2022-11-29 16:47] adnapibar commented on #5386
@RS146BIJAY Thanks for reporting the issue, can you please provide details on how to reproduce this or at least a test for this scenario?

[2022-11-29 16:56] adnapibar commented on #5380
Have you tried using a comma separated indices in the url? e.g. `/index1,index2/_stats`

[2022-11-29 18:14] adnapibar opened #5398 "[BUG] Possible Performance issue while upgrading from Elasticsearch-oss 6.8"
### Description
We had a report of a performance degradation in date histogram aggregation query while upgrading from ES 6.8 to OpenSearch.

The issue is to capture the investigations and find out if there is issue.

### Initial Benchmark Results

We performed an initial benchmarking against Elasticsearch-oss 6.8 and OpenSearch 1.3 using the `nyc_taxis` dataset. The initial results so far haven't

[2022-11-29 20:20] mch2 commented on #5209
@sachinpkale Put up a PR to fix this, its not specific to remote store rather buggy delete logic on Windows.

[2022-11-29 21:19] andrross commented on #5380
I'm going to close this as I believe this functionality exists, as described by @adnapibar above. Please reopen if the existing APIs don't work for your use case.

[2022-11-29 21:19] #5380 closed

[2022-11-29 21:20] andrross commented on #5275
Enabling error tracing is probably the right way to tackle this problem. Please reopen if you have more details and think there might be a problem in OpenSearch.

[2022-11-29 21:20] #5275 closed

[2022-11-29 21:28] minalsha opened #5400 "Windows CI support: Add unit tests only to the PR gate - start with buildTools only."
**Is your feature request related to a problem? Please describe.**
coming from #1448  wherein goal is to add unit tests only to the PR gate,  start with buildTools only for Windows.

[2022-11-29 21:29] zander312 commented on #5275
@andrross @kmdrn7 we were able to solve the issue, there were issues with the health of the OpenSearch cluster and we had run out of space for indexes.

However, one thing that concerned me was that we were receiving 200 responses back from the OpenSearch cluster. As you can see from the logs I attached. `HTTP Status=200 URI=/_bulk` We were not receiving the usual errors in FluentBit that we get w

[2022-11-29 22:24] andrross commented on #5275
Check out the [documentation for the bulk API](https://opensearch.org/docs/latest/api-reference/document-apis/bulk/#response). Since it is a batch-style request, you have to look at the per-item responses since partial failures are possible. More detailed status codes are available for each item.

[2022-11-29 23:02] XiaoConstantine opened #5404 "Flattened data type"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As a AWS Opensearch user (we are on AWS ElasticSearch 7.10), we are currently facing the mapping explosion issue.

A bit of investigation leads me to the flattened data type, which seems to be a great feature to avoid mapping explosion, pe

[2022-11-30 00:01] dreamer-89 opened #5406 "[BUG] Client side error while resetting InputStream on S3 retryable errors."
**Describe the bug**
Coming from internal storage ticket bash, during snapshot process the [aws client](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/http/AmazonHttpClient.java#L1284) fails on client side while [resetting the stream](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/internal/SdkBufferedInpu

[2022-11-30 00:51] owaiskazi19 commented on #2763
Tried running the test for 100 times. It passed successfully
[code]

[2022-11-30 00:51] #2763 closed

[2022-11-30 04:09] sachinpkale commented on #5209
Great! Thanks @mch2

[2022-11-30 05:52] #5209 closed

[2022-11-30 08:41] jchrys commented on #5314
Hello, Opensearch!
May I pick this issue?

[2022-11-30 13:28] dblock commented on #1687
@davidlago Do you have a list of CVEs that were mitigated since the fork by JSM? For example, for the log4j RCE Security Manager + JDK >8 prevented LDAP/RMI connections. I think it will be useful to evaluate any replacement.

[2022-11-30 13:36] davidlago commented on #1687
Log4j is the big one that comes to mind. I'll take a pass at some of the ones we've seen and see if I can find others. Regardless... it only takes one :) I mean, even just a high severity/critical one averted/mitigated by it is a good reason to not lower our guard there.

[2022-11-30 13:56] reta commented on #5404
Duplicate of https://github.com/opensearch-project/OpenSearch/issues/1018

[2022-11-30 13:56] #5404 closed

[2022-11-30 14:33] mxptrs-px commented on #4694
I can verify these results.
So the issue is that the performance dropped in Openseach as well as in newer Elasticsearch versions about 30%.

Is there maybe a shared library which was updated to a newer version (e.g. Lucene) when Opensearch was forked, which can cause this performance issue?
Or is there some code which was forked from a newer Elasticsearch version?

[2022-11-30 15:29] ryn9 commented on #5248
@anasalkouz any additional questions?

[2022-11-30 15:35] dblock commented on #5275
Short of transactional support, I think there's a feature request here to supply a parameter to `bulk` to abort on first failure. We also have https://github.com/opensearch-project/OpenSearch/issues/4562 and https://github.com/opensearch-project/OpenSearch/issues/3625. @zander312 if you believe that would help, open an issue?

[2022-11-30 15:39] scrawfor99 commented on #4943
[Update 11/30] I am going to start looking at this today and will update further with what I find about the steps for implementing this.

I do have a design question for everyone in the meantime: What do we want to do about decryption? While encryption should be possible I am not sure that decrypting the JWTs as a byte stream will work in the same way. I think we will need to simply store the byte

[2022-11-30 15:41] dblock opened #5409 "[BUG] org.opensearch.action.admin.indices.create.SplitIndexIT.testCreateSplitIndex flaky"
**Describe the bug**

https://build.ci.opensearch.org/job/gradle-check/7415/
https://github.com/opensearch-project/OpenSearch/pull/5402#issuecomment-1331407839

Not reproducible.

[code]

[2022-11-30 15:43] dblock commented on #5314
@jchrys Don't let anyone stop you!

[2022-11-30 15:54] dblock commented on #4694
@mxptrs-px I don't recommend guessing, but writing a performance benchmark for this, then bisecting it down to a change.

[2022-11-30 15:58] dblock commented on #4694
Btw, does anyone have a good guide to doing this? A walkthrough of finding a performance regression? Maybe we can add it to https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md? @mch2 @andrross @adnapibar

[2022-11-30 16:39] #4943 closed

[2022-11-30 17:43] penghuo opened #5411 "[FEATURE] OpenSearch Spark Connector"
**Is your feature request related to a problem? Please describe.**
Provide OpenSearch Spark connector to read and write data in OpenSearch and OpenSeach Serverless. Elasticsearch provide [spark integration](https://github.com/elastic/elasticsearch-hadoop), [but only few operator could be push down](https://www.elastic.co/guide/en/elasticsearch/hadoop/7.10/spark.html#spark-pushdown). and only suppo

[2022-11-30 18:03] dblock commented on #5411
The OpenSearch spark integration equivalent to ES is https://github.com/opensearch-project/opensearch-hadoop, and is in progress. Do we want to move this issue there and expand on its capabilities, or do you think this is a brand new thing?