[2022-05-02 20:01] #2925 closed

[2022-05-02 20:43] dblock commented on #3120
@reta That symlink problem was a JDK11 thing, wasn't it? Is it still an issue with 17.

@peterzhuamazon Feel free to fix this.

[2022-05-02 20:43] dreamer-89 opened #3131 "Remove pending `_type` usages from the codebase"
Creating this issue to list down pending `_type` usages from code bsae. Quick search on _type reveals below pending issues. More discussion here https://github.com/opensearch-project/OpenSearch/issues/2979#issuecomment-1105861790

- [x] Run bulk index benchmark takes user input for typeName. Code [usage](https://github.com/opensearch-project/OpenSearch/blob/main/client/benchmark/src/main/java/org/

[2022-05-02 20:44] dblock commented on #1144
I'll reopen. Thanks @mitalawachat

[2022-05-02 20:54] dblock commented on #2877
Feels like over-engineering. If there's an API for node status, let me specify which nodes I want instead of trying to organize this for me. But also this is NBD. This isn't health API though, it's a node status API

[2022-05-02 20:58] reta commented on #3120
I think JDK-17 as well (it is mostly because of the JDK packaging), but I could recheck

[2022-05-02 21:04] reta commented on #2877
thanks @dblock , the `_cat/nodes` would have to be extended anyway (to return assigned roles), so this is certainly a good start, the health API could come after if there is a need to do so, I agree.

[2022-05-02 21:29] ylwu-amzn commented on #2877
Agree, currently the `node.role` in `_cat/nodes` response use one char to represent one node role. For example
[code]
`dmr` means the node has three node roles: `data`, `master` and `remote_cluster_client`. If we follow the same format, that seems limiting how many custom roles we can support as we have limited chars (a-z, 0-9). So if we want to support custom roles dynamically (not hard coded in

[2022-05-02 21:47] dblock commented on #2877
Yes, this seems like a silly optimization saving "space". I would change `node.role` to `node.roles` and just put the list there with full names. Can preserve `node.role` as is for bcw.

[2022-05-02 22:39] ylwu-amzn commented on #2877
Thanks, that sounds good to have a new `node.roles` for bwc, another similar option is we can have a new `node.custom_roles` for custom roles only.

[2022-05-02 23:22] peterzhuamazon commented on #3120
Hi,

I think these are two different issues.
JDK11 has a `ja` link which prevent cpio to extract.
As for this JDK linking mentioned by @reta I am not familiar with it.
Do you have any previous issue I can take a look?

Thanks.

[2022-05-02 23:59] reta commented on #3120
@peterzhuamazon it was this one https://github.com/opensearch-project/OpenSearch/pull/1433

[2022-05-03 00:06] saratvemulapalli opened #3136 "Add framework support for default extension points"

[2022-05-03 02:21] rockybean commented on #2607
@anasalkouz  `default_pipeline` only works for index request, not for update request.

You can use `final_pipeline` for your case.
[code]

So I think this is not an issue needed to be resolved. @dblock

[2022-05-03 07:19] sachetalva commented on #3090
Code -> spec should also be possible but this has not been explored yet. From initial investigation there is no direct approach available to generate Smithy models from code. Custom annotations could be created around the request and response handling code in OpenSearch to declare the request and response body parameters. However we would have an additional overhead to maintain code which translat

[2022-05-03 08:29] spapadop opened #3140 "Validate opensearch.yml configuration before deploying it"
Currently, changes to the `opensearch.yml` configuration cannot be validated and as a result errors can only be visible on runtime, i.e after service is restarted to pickup the new config. Many errors like typos or configuration that doesn't make sense could be caught already by a validation script that will run against the current `opensearch.yml` config, before applying it. For reference, apache

[2022-05-03 08:34] sachinpkale opened #3141 "[Remote Store] Add index level setting to enable/disable remote store"
**Is your feature request related to a problem? Please describe.**
As explained in [V1 scope](https://github.com/opensearch-project/OpenSearch/issues/2700#issuecomment-1111206494) of remote store, uploading translog and segments to remote store will be at index level and can be provided while creating the index.

[2022-05-03 08:38] sachinpkale opened #3142 "[Remote Segment Store] Delete merged away segment files from remote segment store"
**Describe the solution you'd like**
Lucene segments are immutable files. Once segments are created, they can be deleted due to various flows, one of the flows could be segment merge. These merged away segments are deleted from local filesystem. To keep remote segment store in-sync with the local filesystem, we need to delete these segments from remote segment store as well.
The delete flow need n

[2022-05-03 08:41] sachinpkale opened #3143 "[Remote Segment Store] Validate checksum of uploaded segment files"
**Describe the solution you'd like**
As segments uploaded to the remote segment store will be used to recover data in case of data loss scenario, it is important to check the integrity of these segment files as they are getting uploaded to the remote segment store.
In this task, we will add a logic to validate checksum of uploaded segment files.

[2022-05-03 10:07] sachinpkale opened #3144 "[Remote Store] Add support to auto restore data from remote store"
**Describe the solution you'd like**
In case of red index where no valid copy of the shard exists, the auto-restore flow will download translog and segments from the remote store.

[2022-05-03 10:10] sachinpkale opened #3145 "[Remote Store] API support to restore data from remote store"
**Describe the solution you'd like**
This will provide manual way for use to restore data from remote store for a given index and shard. It could be a new API or the modification of existing snapshot restore API.

[2022-05-03 10:39] sachinpkale opened #3146 "[Remote Store] Add API to check status of remote store sync"
**Describe the solution you'd like**
Using this API, use will be able to get the remote store sync status. The status will provide details:
- If remote translog is in-sync
- If remote translog is not in-sync, number of operations it is lagging
- If remote segment store is in-sync
- If remote segment store is not in-sync, number of segments to be uploaded, number of segments to be deleted.

[2022-05-03 10:51] sachinpkale opened #3147 "[Remote Store] Add a check to enable remote store only with Segment Replication"
**Describe the solution you'd like**
As per Remote Store [V1 scope](https://github.com/opensearch-project/OpenSearch/issues/2700#issuecomment-1111206494), remote store will be supported only for those indices where Segment Replication is enabled.
This means, if an index is created with `remote_store=true` and `segment_replication=false`, index creation should fail.

[2022-05-03 11:23] sachinpkale opened #3148 "[Remote Store] Performance test setup for 2.3 release"
**Describe the solution you'd like**
A performance test setup integrated with [opensearch-benchmark](https://github.com/opensearch-project/opensearch-benchmark) which will run and report performance numbers on each commit. This will enable us to catch any performance regressions up-front.

[2022-05-03 11:40] sachinpkale commented on #3143
https://github.com/opensearch-project/OpenSearch/pull/3102#discussion_r862730454

[2022-05-03 14:22] dblock commented on #2607
Is this expected? A documentation issue? A feature request? @qracle WDYT?

[2022-05-03 15:23] mbaranczak opened #3156 "[BUG] Calling getMillis() in Painless script is slow"
**Describe the bug**

We had a sorting script that called `getMillis()` on a date field. We noticed that the script was unusually slow for queries that matched a large number of results, and determined that `getMillis()` was the bottleneck. Removing that call resulted in a 10-fold speed-up.

I found this bug report for ElasticSearch 6.5.0, which looks very similar to what I ran into. It says that

[2022-05-03 15:29] dblock commented on #3156
Would love a PR, @mbaranczak, thank you!

[2022-05-03 15:33] kartg commented on #3063
@dblock we're currently [logging the error as a warning](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/bootstrap/BootstrapChecks.java#L167) but this doesn't fail bootstrap/startup.

The next step up from that would be to set `alwaysEnforce` for [MaxMapCountCheck](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/ope

[2022-05-03 16:04] dblock commented on #3063
@kartg But is that the issue with the node? @elvince did it fix your problem?

[2022-05-03 16:30] peternied opened #3160 "Dashboards Anywhere - OpenSearch Management UI?"
**Is your feature request related to a problem? Please describe.**
OpenSearch Dashboards is starting a bold and ambitious project Dashboards Anywhere, where Dashboards will be decoupling itself from OpenSearch as its only backend.  Radical changes in the available features will be possible and required as some UX constructs will not translate well 'without OpenSearch', such as the [Console plugin]

[2022-05-03 16:44] seanneumann commented on #3160
Thanks for opening this issue!

As we think about features/management tools that are specific to a particular BE (e.g. OpenSearch), let's think about how we a) make Dashboards more extensible and b) make those features extensions.

[2022-05-03 17:19] sruti1312 opened #3162 "Support starting process in integration tests"
**Is your feature request related to a problem? Please describe.**
PA reader is a separate process that runs independent of the OpenSearch process. For running/ adding integration tests for Performance Analyzer, it requires spinning up this PA reader process. As of now integTest framework supports spinning up tar/rpm cluster without PA process and does not support starting separate processes.

Add

[2022-05-03 17:19] kartg commented on #1868
Works for me. In that case, we should define what makes a good Changelog entry - it shouldn't end up being just a repeat of the commit message.

[2022-05-03 18:59] joshpalis commented on #3012
Initial benchmarking results. Both tests used the nyc_taxis workload, 2 warm-up iterations, 3 test-iterations, and ran sequentially on a custom EC2 instance of type m5.xlarge

 Test     | Time                        | testExecutionId                      | testResults.operationsSummary.index.latencyMillis.p50 | testResults.operationsSummary.index.latencyMillis.p90 | testResults.operationsSummary.i

[2022-05-03 19:40] reta commented on #3090
@dblock a few thoughts on that, as far as I can tell, the Opensearch core does have a formal, structured models for APIs, in many cases it is buried behind `ToXContent` implementations, fe:

[code]

Having formal models (POJOs) would have made specs generation easier but it is huge amount of work. However, there are different approaches out there which we may loot at. For example, Spring REST Docs

[2022-05-03 19:47] reta commented on #2462
@dblock @nknize since 2.0 release is a bit far from now, would you think we could backport this small change to 1.3.x (to get it as part of 1.3.2)?

[2022-05-03 19:50] peterzhuamazon opened #3168 "[BUG] Core-Plugins installation does not support qualifier fully"
[code]

As you can see despite the zip is `2.0.0-rc1` zip, OpenSearch core still points to `2.0.0` folder to download the zip.
I am not sure if this is a bug or expected to be `2.0.0` folder for `2.0.0-rc1`.
As of now we will hardcode native plugin deployment in production to `2.0.0`.

Thanks.

[2022-05-03 19:51] peterzhuamazon commented on #3168
@nknize @dblock @saratvemulapalli
Thanks.

[2022-05-03 20:17] owaiskazi19 commented on #2981
Design for createComponent with SQL plugin.

SQL plugin requires [ClusterState](https://github.com/opensearch-project/sql/blob/main/plugin/src/main/java/org/opensearch/sql/plugin/SQLPlugin.java#L110) and [ClusterSettings](https://github.com/opensearch-project/sql/blob/main/plugin/src/main/java/org/opensearch/sql/plugin/SQLPlugin.java#L111) for createComponent extension point.
The design needs to b

[2022-05-03 20:37] dblock commented on #3012
What’s the code diff between baseline and POC? What are the changes at a high level?

[2022-05-03 20:44] nknize commented on #3012
https://github.com/opensearch-project/OpenSearch/compare/feature/extensions#diff-7bf77151deacfd9ad7544b9fdbd45f92857371c125950e6d34f485c7bad0b78aR23

I don't see anything in this changeset that would yield that kind throughput improvement.

[2022-05-03 21:57] peternied commented on #1868
@kartg @Poojita-Raj @dblock @getsaurabh02 @elfisher @stockholmux  I've opened https://github.com/opensearch-project/security/pull/1821 - would love your thoughts on how this looks

[2022-05-03 22:42] joshpalis commented on #3012
To answer the diff between `main` and  OpenSearch[`feature/extensions`] is just adding an additional consumer of `onIndexModule` extension point and handing it off to `ExtensionsOrchestrator`.
When we do manual tests, we do see about 5-50ms (depending on the instance type) of latency for each `onIndexModule` invocation.
Logs on OpenSearch (ran on a local developer machine)
[code]
Our tests use Ope

[2022-05-03 23:49] #2936 closed

[2022-05-04 01:55] rishabhmaurya commented on #2820
@rtiruveedulaarkin can you set [profile](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html) as true and post the following debug info for [CardinalityAggregator](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/search/aggregations/metrics/CardinalityAggregator.java#L193) -
[code]

[2022-05-04 05:02] sachinpkale commented on #3148
### Setup

* Tool used: opensearch-benchmark
* OpenSearch Benchmark Test: `nyc_taxis`
* Cluster
    * 3 node cluster with each node - `r5.2xlarge`
* Benchmark node - `r5.2xlarge`
* Non-optimized implementation of Remote Segment Store
* Remote translog is not supported
* GitHub Commit ID: https://github.com/sachinpkale/OpenSearch/commit/6c11fd60396f211d17ccc3a34f466af43ffcea53

### Observations

*

[2022-05-04 05:30] rtiruveedulaarkin commented on #2820
@rishabhmaurya This is the debug info for CardinalityAggregator.

[code]

[2022-05-04 06:49] rursprung commented on #3090
i would strongly suggest the spec -> code path: this allows designing the API first, leading to cleaner APIs for consumers rather than starting it with a technology-specific API which just happens to carry some annotations turning it into something which you can call over HTTP (and might not follow any proper RESTful guidelines).

yes, the initial move will be quite a bit of effort, but it'll ulti

[2022-05-04 07:40] elvince commented on #3063
I have no issue, I just helped to solve an issue.

[2022-05-04 12:21] rhysstubbs opened #3180 "[Question] spatial query deprecation?"
**Is your feature request related to a problem? Please describe.**
No

**Additional context**

Also, elastic search deprecated `geo_polygon` queries in 7.12 ([see here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-geo-polygon-query.html
)) - is the same true for OpenSearch, is this deprecated also?

Excuse what perhaps might seem like a stupid question but I am using O

[2022-05-04 15:11] joshpalis commented on #3012
Benchmarking Test Set 2
| Test     | Time                       | testExecutionId                      | testResults.operationsSummary.index.latencyMillis.p50 | testResults.operationsSummary.index.latencyMillis.p90 | testResults.operationsSummary.index.latencyMillis.p99 | testResults.operationsSummary.index.latencyMillis.p100 | testResults.operationsSummary.index.requestsPerSecond.mean | testResul

[2022-05-04 15:13] joshpalis commented on #3012
Benchmarking Test Set 3
| Test     | Time                       | testExecutionId                      | testResults.operationsSummary.index.latencyMillis.p50 | testResults.operationsSummary.index.latencyMillis.p90 | testResults.operationsSummary.index.latencyMillis.p99 | testResults.operationsSummary.index.latencyMillis.p100 | testResults.operationsSummary.index.requestsPerSecond.mean | testResul

[2022-05-04 16:07] dblock commented on #3012
Check whether in both measurements the JDK used is the same? (on OpenSearch start header it will say what the version of Java is)

[2022-05-04 16:25] joshpalis commented on #3012
JDK 11 is being used for all tests. All test are run on separate EC2 instances with the same test and system configurations

[2022-05-04 16:36] saratvemulapalli commented on #3012
Totally agreed. We are surprised (rather shocked) to see improvements.
Ideally making a network call and holding the IndexModule extension request should end up in higher latency.
We'll spend sometime today to figure out the variance in our test setup. All the commits on `main` are merged to `feature/extensions`.

[2022-05-04 16:51] andrross commented on #3162
Is this something that makes sense as a part of OpenSearch core? To me, managing a separate process to test a plugin is something that should happen at a higher level than core. Can you provide more detail about the solution you have in mind here?

[2022-05-04 17:03] andrross commented on #3160
@peternied I'm a bit unclear about the word "plugin" here. Are you suggesting that the management UI be a plugin to the Dashboards Anywhere product where it can be optionally enabled by the end user if they are using an OpenSearch backend? Or are you suggesting that the management UI be a completely separate product from OpenSearch Dashboards?

[2022-05-04 17:26] andrross commented on #3002
@VachaShah I see that we are using the [upgraded version on main currently](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/build.gradle#L110). Does this mean that plugins are currently broken on main (3.0) because of this?

[2022-05-04 17:33] peternied commented on #3160
Thanks @andrross for asking, by plugin I meant a new Dashboard's plugin that would collect the existing OpenSearch specific functionality and create space for additional features.

[2022-05-04 17:35] andrross commented on #3160
@peternied Should this issue be moved to the [OpenSearch-Dashboards](https://github.com/opensearch-project/OpenSearch-Dashboards/) repo?

[2022-05-04 17:40] peternied commented on #3160
While I mentioned creating a plugin, this issue is really more about what actions OpenSearch as a product might want to take, which is separate from what the Dashboards product's ambitions.  Maybe this is too abstract to take direct action on, but calling it out in case someone has passion for it.

[2022-05-04 17:41] engechas commented on #3104
The only workaround that I'm aware of is to use the reindex or split API to migrate the docs to a new index with more shards or to spread the data across multiple indices.

AFAIK the full index remains read-only until the index is deleted.

I can provide access to a cluster with a full index if that assists with assessing the options.

[2022-05-04 17:41] dblock commented on #3012
Note that we now bundle JDK17 for 2.0 by default, so I would confirm that it's actually using your global JDK11 set via `JAVA_HOME`.

[2022-05-04 17:51] dblock commented on #2462
I think that 1.3.2 ship just sailed, hasn't it?

[2022-05-04 17:52] dblock commented on #3168
Looks like a bug to me 😢

[2022-05-04 17:56] reta commented on #2462
Yes, you are right, I discovered that yesterday at open hours, thanks!

[2022-05-04 21:27] peternied commented on #1266
The readme has security reporting instructions

[2022-05-04 21:27] #1266 closed

[2022-05-04 21:55] engechas commented on #3104
Agreed, this is what we ended up doing

Agreed, the doc limit should not be reached unless through a poor index/shard strategy and/or mismanagement

Not sure if you are referring to on our end or the OpenSearch. I agree better precautions should have been taken from our end. A mechanism in OpenSearch to prevent hitting the Lucene doc limit is a simple idea to add a user safeguard

We have an autom

[2022-05-04 22:52] saratvemulapalli commented on #3168
+1 it is a bug.
I could reproduce the problem via 2.0.0-rc1 tarball.
Opened up a PR #3193 to fix this.

[2022-05-05 00:23] gkamat commented on #3012
If the clusters are still around, we should check the opensearch logs for the latency being reported for the indexing operations on both clusters and compare those.

[2022-05-05 01:32] peterzhuamazon opened #3195 "Release version 2.0.0 (GA)"
This is a component issue for 2.0.0 (GA).
Coming from [opensearch-build 2086](https://github.com/opensearch-project/opensearch-build/issues/2086). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin leve

[2022-05-05 04:01] rockybean commented on #2607
Sorry for above reply. I misunderstood the script.  Both `default_pipeline` and `final_pipeline` are not working when bulk update doc using script.

Will dive deeper.

[2022-05-05 05:14] rtiruveedulaarkin commented on #2820
I have tried with the following query. But OrdinalsCollector is still not used.

[code]

[2022-05-05 10:43] rursprung commented on #1868
from personal experience (we use this format in-house) i can tell you that, while this is a nice idea, it does result in a lot of merge conflicts (as they're all congesting on the same lines in `CHANGELOG.md`). i don't have a good solution for this though.

i do however 100% vote to follow [Keep a Changelog](https://keepachangelog.com/en/1.0.0/) for the actual changelog! i've added some comments t

[2022-05-05 13:06] soosinha opened #3197 "[FEATURE] Provide extension point for translog fetch operations"
Parent issue : cross-cluster-replication#375

This is a tracking issue for providing extension point for translog fetch APIs. The actual logic for the APIs will reside in cross-cluster replication repo which will be implemented by using the extension point in core.

After the logic is moved to CCR repo, the translog fetch methods need to removed from core code which was added in #2886.

[2022-05-05 13:45] rursprung commented on #1406
since i just ran into this issue:

where'd you see that code? i only see the explicit failure implemented here:
https://github.com/opensearch-project/OpenSearch/blob/ae14259a2c4b9dcf203dc46ef217563a33ae2901/buildSrc/src/main/java/org/opensearch/gradle/docker/DockerSupportService.java#L153

[2022-05-05 16:40] peternied opened #3201 "Detection of deprecated API usage in OpenSearch Distribution"
**Describe the Problem**
Several APIs have been deprecated in 2.0.0, calling these APIs will result in an message being logged in the server log indicating this usage.  There are plugin that could be using these deprecated APIs, polluting the server log.  We need a way to discover these usages in the OpenSearch project so the depreciation messages are more useful for users.

This discovery should

[2022-05-05 16:43] joshpalis commented on #3012
Benchmarking Test Set 4. All tests are using OpenSearch feature/extensions branch. First test uses just the feature tarball, second test uses the same feature tarball with the custom plugin installed, and the final test uses the same feature tarball with the custom plugin running on a separate process. System and test configuration for these tests are exactly the same as the previous 3 test sets.

[2022-05-05 16:49] peternied commented on #3201
### [Proposal] Scan logs after distribution integration tests
During the distribution build process integration tests are run, and if there are failures this prompts bugs to be created that block that build from being a release candidate.  By adding a test at the end of the run that scan the log we could be sure that the basic functionality of all plugins is exercised and that functionality does n

[2022-05-05 16:49] rishabhmaurya commented on #2820
do you mind overriding the code to use OrdinalsCollector. This would give us a confirmation that its caused due to value lookup per document and not any other underlying issue.

[2022-05-05 20:39] dblock commented on #3090
It's pretty clear that most people recommend generating code from spec. I agree. I edited this issue to reflect that proposal, leaving history to how we came here.

If anyone wants to take a stab at replacing any part of the code in OpenSearch by code generated from https://github.com/opensearch-project/opensearch-api-specification, you'll be my hero. Re: OpenAPI we need a pipeline that automatica

[2022-05-05 20:41] CEHENKLE commented on #3012
@joshpalis @saratvemulapalli Can we run the tests on rally/OS benchmark to rule out anything wonky being added by the testing framework?

[2022-05-05 20:44] dblock commented on #3180
No stupid questions here. OpenSearch documentation is at https://opensearch.org/docs/latest.

The `geo_polygon` queries have not been deprecated AFAIK. OpenSearch is a fork at Elasticsearch 7.10, so consider them as two different products.

I'll close this, but feel free to ask more questions here or maybe https://forum.opensearch.org/.

[2022-05-05 20:44] #3180 closed

[2022-05-05 20:48] dblock commented on #3162
@sruti1312 Is the PA reader process not started with OpenSearch?

I think it makes sense to support doing work before running certain integration tests, such as starting a thirdparty system in order to test, for example, that export of data to that system works. But is this something you cannot do today in a before all kind of block in PA integ tests?

[2022-05-05 20:51] dblock commented on #2462
Generally those releases are for security fixes only. While backporting other fixes and even features seems nice because one feels like they are doing a no-risk upgrade, it doesn't always work that way.

[2022-05-05 20:52] reta commented on #2462
I agree, thank you

[2022-05-05 20:55] dblock commented on #3104
I'm with @engechas. I vote for a circuit breaker that prevents more documents to be written before users get into the situation of not being able to delete documents in an index. Who cares to PR? :)

[2022-05-05 21:02] joshpalis commented on #3012
Here are the output logs for the POC test (d5f71bd7-2429-4b43-a52b-e1273250ce41). The first 2000 lines of the opensearch output log are pasted here, the original file is too large to post however they are still available on the EC2 instance if needed.

- [Plugin Output Log](https://gist.github.com/joshpalis/3fb377aff26672aeda30e1cc6a73209a)
- [OpenSearch Output Log](https://gist.github.com/joshpal

[2022-05-05 21:08] dblock commented on #1406
Been a while since I wrote this TBH. I did a bit of searching and can't remember what I meant anymore :(

[2022-05-05 21:11] owaiskazi19 opened #3210 "[Proposal] Run gradle check tests in parallel"
**Is your feature request related to a problem? Please describe.**

Currently, the gradle check on the PR runs on ubuntu x64 c518xlarge and takes around 40-45 mins to finish. As a result most of the [flaky](https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aopen+is%3Aissue+label%3A%22Flakey+Random+Test+Failure%22) test failures are encountered because of the timeout or for the cluster

[2022-05-05 22:43] dreamer-89 commented on #1763
Listing down pre and post test coverage with introduction of AWS pertaining to repository-s3 plugin.

### plugin/repository-s3
Today, tests use mocked servers (S3HttpHandler, Minio server) providing S3 compatible APIs for running the S3 integration tests. repository-s3 gradle uses `useFixture` var (true when permanent creds are provided) to govern whether to use mocked servers or actual S3 service

[2022-05-06 00:34] #3168 closed

[2022-05-06 00:34] opensearch-ci-bot opened #3214 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 5057 in gradle_check log for more information.

[2022-05-06 01:10] opensearch-ci-bot opened #3217 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 5069 in gradle_check log for more information.

[2022-05-06 03:22] tlfeng opened #3218 "[BUG] 'Increment Version' workflow doesn't add new BWC Version for 2.0 and 2.x branches"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2022-05-06 08:41] FrBillyD opened #3222 "[BUG] indexCreatedVersionMajor is in the future: 9 Docker version latest"
**Describe the bug**
My Docker OpenSearch node is unavailable since last release upgrade. The error is "indexCreatedVersionMajor is in the future: 9".

**To Reproduce**
Steps to reproduce the behavior:
I don't know. Just use docker-compose pull && docker-compose up -d

**Expected behavior**
My Node1 is unavailable.

**Plugins**
opensearch-security
opensearch-dashboards

**Host/Environment (please

[2022-05-06 11:59] Pythonov opened #3223 "[BUG]"
**Describe the bug**
Hi! Could you please help me?
I'm trying to use custom config.yml for security plugin, but i can't see any changes in UI
For example:

basic_internal_auth_domain:
        description: "Authenticate via HTTP Basic against internal users database"
        http_enabled: true
        transport_enabled: true
        order: 3
        http_authenticator:
          type: basic

[2022-05-06 14:53] aviau opened #3226 "provide a smaller Docker image"
It would be great if OpenSearch provided a smaller docker image than the one currently in the Docker Hub. (https://hub.docker.com/r/opensearchproject/opensearch/tags)

Other databases such as postgres provide alpine-based images that are much smaller.

It may not be possible due to OpenSearch's dependencies, in that case feel free to close this bug.

Cheers,

[2022-05-06 15:06] reta commented on #1763
@dreamer-89 thanks for the summary, afaik, the most interesting tests for us are `xxxThirdPartyTest` (for S3, `s3ThirdPartyTest` but others have the analogous test suites), those exercise end-2-end flows and accept external endpoints.

[2022-05-06 16:35] saratvemulapalli commented on #476
@reta assigned this to you as you've already picked up this work.

[2022-05-06 16:59] dblock commented on #3201
There's probably a better way to introduce a gradle plugin that evaluates calls to deprecated APIs at build time, something like https://discuss.gradle.org/t/what-is-xlint-deprecation-and-how-to-use-it/40270.

[2022-05-06 17:07] opensearch-ci-bot opened #3228 "Jenkins Randomized Gradle Check Failed on 4928270bea6e562b25a9efd5116b1bc0ad9a74d8"
@opensearch-project/opensearch-core team, please take a look at Build 5095 in gradle_check log for more information.

[2022-05-06 17:11] peternied commented on #3201
I like this, it should be an easy mechanism to onboard.

I am not sure if this would cover deprecated configuration settings or non-standard mechanism for API calls.  Do you know if your suggestion would cover all the current issues we'd like to address?

[2022-05-06 17:15] dreamer-89 commented on #1763
Thanks @reta for the reply. Yes, I verified that s3ThirdPartyTest uses actual external service end-points. Verified that tests create relevant artefacts under provided S3 bucket and base path.

[2022-05-06 17:19] dreamer-89 commented on #1763
Jenkins gradle job is updated to export permanent aws account credentials. This results in s3ThirdPartyTest tests (and yamlRestTest `20_repository_permanent_credentials`) using actual s3 end-points.

[2022-05-06 21:01] andrross commented on #3222
Is it possible that this index was created with the OpenSearch 2.0 release candidate? The logs you shared show you're running OpenSearch 1.3.2, but the error message indicates that the index was created with Lucene 9 which is used by OpenSearch 2.0. It is expected that indexes created in a new major version are not compatible with the previous major version.

[2022-05-06 21:47] dblock commented on #3012
The fact that "Baseline - OpenSearch [feature/extensions] + Custom Plugin Installed" is a lot slower than "POC - OpenSearch [feature/extensions], Custom Plugin on a separate process" tells me that the custom plugin introduces some kind of contention. This could be as simple as a log statement that spews a very large amount of log output that needs to be written to disk. Eliminate anything other th

[2022-05-06 21:48] dreamer-89 commented on #2357
Closing this issue, as relevant PR is merged into main.

[2022-05-06 21:48] #2357 closed

[2022-05-06 21:52] dblock commented on #3218
Yeah, not sure it's worth fixing. https://github.com/opensearch-project/OpenSearch/blob/main/.github/workflows/version.yml

[2022-05-06 21:57] dblock commented on #3201
@peternied Do not. I spent all of 30 seconds on Google ;)

[2022-05-06 22:46] kartg opened #3237 "[RFC] Modeling writes as an extensible workflow"
## What's the problem?

Much of the code in the write path for segments is tightly coupled together. For example:

1. The implementation of _index_ and _delete_ operations uses a class hierarchy that _mandates_ that these operations be replicated.
2. The notion of “replication” is coupled to “forwarding” (see Note 2 above)
3. The notion of a “write” is tightly coupled with a translog update.

(I'l

[2022-05-06 23:45] andrross commented on #2578
Thanks everyone for the feedback. We will keep this issue open for one more week (until 5/13/2022) and then close this discussion. We'll continue tracking the various design and implementation tasks in linked issues.

[2022-05-06 23:45] andrross commented on #2900
Thanks everyone for the feedback. We will keep this issue open for one more week (until 5/13/2022) and then close this discussion. We'll continue tracking the various design and implementation tasks in linked issues.

[2022-05-07 02:32] crystaldust commented on #3222
Having exactly the same problem. It seems like that there is a version change on tag `latest`? I guess the `latest` tag becomes version 2.0 rc, then I pulled and used the 2.0 version, while later the `latest` tag becoems 1.x, so all the following actions with `latest` will fail(I will pull the latest image very time run with docker-compose).

@andrross Thanks for the information, I'll try and see

[2022-05-07 11:08] FrBillyD commented on #3222
Hello, I think is that.

[2022-05-07 18:44] Bukhtawar commented on #3237
Few observations

There are few cases today that inherently rely on forwarding writes for correctness, for instance if the primary is partitioned off from the rest of the cluster, it continues to accept writes, once it forwards the request to the replica which meanwhile has been promoted to the primary, it then becomes aware of the problem and hence respond with a failure which otherwise would hav

[2022-05-09 06:16] sachinpkale commented on #3141
Initial implementation is added as a part of commit: https://github.com/sachinpkale/OpenSearch/commit/279e2b196aab5f63cd0d16835c28907fb6f620d6. Adding tests and creating PR with these changes.

[2022-05-09 06:36] Bukhtawar opened #3241 "[Pluggable Translog] Decouple Translog from Engine"
**Is your feature request related to a problem? Please describe.**
As a part of #1319 we want to decouple translog logic from the Engine. This issue is to track the changes involved in decoupling translog.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2022-05-09 06:41] Bukhtawar opened #3242 "[Remote Translog] Add extension points to support remote translog stores"
**Is your feature request related to a problem? Please describe.**
Coming from #1319 we would need to provide an extension to the existing local translog store so that it could be persisted to remote durable compatible stores

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description

[2022-05-09 07:01] rtiruveedulaarkin commented on #2820
I made changes in the code to use OrdinalsCollector. But the performance is the same.

[code]

[2022-05-09 10:55] sachinpkale commented on #3141
PR link: https://github.com/opensearch-project/OpenSearch/pull/3243

[2022-05-09 13:15] SOPHIA2401 opened #3245 "Put Mapping API has an issue."
**Describe the bug**
I'm trying to use the Put mappings API as described in the [OpenSearch documentation](https://opensearch.org/docs/latest/opensearch/rest-api/index-apis/put-mapping/#path-and-http-methods), but I received an error that says "PUT is not allowed use GET."

**To Reproduce**
Steps to reproduce the behavior:
1. Created an OpenSearch domain ( OpenSearch version used 1.1 )
2. Created

[2022-05-09 16:36] Bukhtawar commented on #3245
@SOPHIA2401 I guess you intend to update the mapping on an index or few indices. Have you tried using `PUT /{index}/_mapping/` API instead. I guess the documentation has a buggy `PUT /_mapping`

[2022-05-09 17:26] andrross commented on #3063
The current behavior is that [if you are bound to the loopback address and using a single node cluster](https://github.com/opensearch-project/OpenSearch/blob/19eadb46ba80df1750402a3faad55114823087f2/server/src/main/java/org/opensearch/bootstrap/BootstrapChecks.java#L195), then this is logged as warning but the server can start up. Otherwise, it is being assumed that the server is intended for prod

[2022-05-09 17:28] joshpalis commented on #3012
Benchmarking Test Set 5. Previously, the custom plugin installed into OpenSearch logged every index event operation to an output file. Modifications to the custom plugin has been made to remove any additional logging in order to reduce the amount of information written to the disk and eliminate any performance overhead this may cause. The following three tests have been conducted using the same sy

[2022-05-09 17:37] Bukhtawar opened #3255 "[Remote Translog] Integrate remote translog store with recovery"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-09 17:42] rishabhmaurya commented on #2820
thanks for confirming, I will try to reproduce and dig deeper into it.

[2022-05-09 17:53] kartg commented on #3063
cc @hemna to confirm if adjusting the `max_map_count` value fixed their issue

[2022-05-09 18:23] saratvemulapalli commented on #3002
Another PR related to the same package: https://github.com/opensearch-project/OpenSearch/pull/3250

[2022-05-09 18:47] ylwu-amzn commented on #2877
Thanks all good ideas/suggestions from @reta , @dblock , @andrross and @xinlamzn.

So latest conclusion we have (feel free to comment if I misunderstand or you have different opinion): Seems it's over-engineering to add extra node status/node count stats in health API response. We can extend `_cat/nodes` API in V1.

# Open question: how to extend `_cat/nodes` API?
Currently OpenSearch uses one cha

[2022-05-09 18:59] reta commented on #2877
Thanks @ylwu-amzn , my preference would be Option 3 but instead of `node.custom_role`, I would name it something like `node.extra_roles` / `node.extra_role` - all additional roles node has besides builtin ones.

[2022-05-09 19:28] opensearch-ci-bot opened #3263 "Jenkins Randomized Gradle Check Failed on 8f496633e52d71a92bbbd3952656a532d74566dc"
@opensearch-project/opensearch-core team, please take a look at Build 5180 in gradle_check log for more information.

[2022-05-09 23:42] DoctorOgg commented on #669
so, this may still be an issue: https://forum.opensearch.org/t/trying-to-upgrade-from-elastic-search-received-message-from-unsupported-version/9488/4

[2022-05-10 04:30] sachinpkale commented on #3141
The current setting added as a part of https://github.com/opensearch-project/OpenSearch/pull/3243 need to be changed once we provide more granular settings. Reference: https://github.com/opensearch-project/OpenSearch/pull/3243#discussion_r868189640

We need to finalize following:
- Separate controls for segment and translog
- Do we still need a parent setting for overall remote store feature?
- Wo

[2022-05-10 04:57] sachinpkale commented on #2994
As I think more on this, there are 2 ways to access `RemoteDirectory` in `InternalEngine`:
- Inject another instance of `Store`, called remoteStore into `InternalEngine`. This remoteStore will have instance of `RemoteDirectory`
- `Store` to have instance of `RemoteDirectory` as well.
    - In this approach, instance of Store is created with 2 directories: first directoy is the same way it is creat

[2022-05-10 05:24] SOPHIA2401 commented on #3245
Hello, Bukhtawar.

`PUT /index/_mapping/` worked perfectly fine.
However, I'm unable to use the `PUT /_mapping` API in ES 7.9, 7.10, and OpenSearch 1.1 and 1.2.
So, reporting this bug to keep our OpenSearch documentation up-to-date.

[2022-05-10 05:42] kkhatua opened #3268 "Set a maximum depth for nested queries"
**Is your feature request related to a problem? Please describe.**
A recent review of the dependency libraries showed that CVE-2020-36518 (jackson-databind) can lead to creation of a large depth of nested objects and potentially cause a stack overflow.

**Describe the solution you'd like**
While the immediate fix is upgrading the affected library to a patched version of the library (https://github

[2022-05-10 15:37] dblock commented on #3237
At a high level this makes a lot of sense to me. If you see a refactor increment that would make the code better I would PR that on main. An alternative could be to try and setup the new workflow as proposed without touching the existing implementation, that could be a good start in a feature branch.

[2022-05-10 15:59] dblock commented on #3268
Since #2599 was merged and backported to 2.x, 1.x (please check whether it was released as part of 1.3.2 and 2.0-rc1), do we still need to add a limit, or is it just for general hygiene to avoid issues in the future?

[2022-05-10 16:04] andrross commented on #3222
Please see https://github.com/opensearch-project/opensearch-build/issues/1621 for more discussion on this topic. We will introduce major version labels that can be helpful so that major versions upgrades can be intentional since there are sometimes breaking changes. Also I believe it was a bug for the major version to go forward and then back on the `latest` tag, so that should not happen again. P

[2022-05-10 16:04] #3222 closed

[2022-05-10 16:13] andrross commented on #3201
@peternied Assuming we properly annotate all Java APIs with `@Deprecated` annotations then a compile time tool should surface warnings for most issues. However, I can imagine there being exceptions where a certain behavior is deprecated but there is no change to the API signature. In cases like that something to scan logs for deprecation warnings _could_ be valuable. However, I think the compile t

[2022-05-10 16:14] dblock commented on #3063
If users report that their installation doesn't work and changing this setting makes it work, then yes. Let's see what @hemna says and whether we have other reports like this one?

[2022-05-10 16:32] peternied commented on #3201
@andrross I think you and @dblock are both likely right.  Next step would seem to be a check to see what kind of depreciated API usage we have find the the best mechanism to fix it.  Maybe we could find someone to look into this?

[2022-05-10 16:54] dblock commented on #2064
https://github.com/opensearch-project/OpenSearch/pull/3258#pullrequestreview-966650088

[2022-05-10 16:55] kkhatua commented on #3268
Yes, that is correct. Having a parameter-based limit allows for mitigating the risk.

[2022-05-10 16:57] CEHENKLE commented on #3106
Hey @rursprung !  I agree, standardizing this would keep us from falling into pits, which is always good.

We have a couple of global-ish repos like clients/plugins/meta.  @dblock do you have a thought on where this should go?

At the very least, we could set up the defaults in core (opensearch-project/opensearch) while we figure out the right way to track it against all repos.   @owaiskazi19 can

[2022-05-10 17:04] dblock commented on #3245
@SOPHIA2401 is it a documentation bug or actually some backwards compat was broken?

[2022-05-10 17:09] reta commented on #2877
@dblock I am thinking about it this way: we have to semantically merge `node.role` + these additional roles we are introducing.  Adding `runtime_`, `dynamic_` , `custom_` or `user_defined_`, from my perspective, asks for the followup question: what `node.role` are in this case, are they builtin? system? static? When faceless prefix like `extra_` we just inform: there are some additional roles, bes

[2022-05-10 17:13] DoctorOgg commented on #669
sure, the details are in the forum post, however I will open a new issue

[2022-05-10 17:18] dblock commented on #2877
How about ℜoles? :)

[2022-05-10 17:35] joshpalis commented on #3012
Benchmarking Test Set 6
| Test                                                                       | Time                       | testExecutionId                      | testResults.operationsSummary.index.latencyMillis.p50 | testResults.operationsSummary.index.latencyMillis.p90 | testResults.operationsSummary.index.latencyMillis.p99 | testResults.operationsSummary.index.latencyMillis.p100 | test

[2022-05-10 17:38] owaiskazi19 commented on #2981
As mentioned in the above comment, because of the change in the design we can try using [sendRequest](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/transport/RemoteConnectionManager.java#L199) from RemoteConnectionManager to send a TransportRequest from SDK to OpenSearch to add the node in the RemoteConnectionManager mao.

[2022-05-10 17:47] #2231 closed

[2022-05-10 17:54] andrross commented on #2877
Is the difference between "built in" roles and these "extra" roles important for a user? It strikes me more as an implementation detail that some roles are defined statically in the core and some are defined by plugins, and as a user I don't really care about the distinction. The distinction is important for us developers but a user isn't going to think of an `ml` role as being in a different cate

[2022-05-10 17:58] dblock commented on #3106
I would start doing this work here, then we can expand it into a campaign.

[2022-05-10 18:03] dblock opened #3272 "[BUG] org.opensearch.discovery.DiscoveryDisruptionIT > testNodeNotReachableFromMaster FAILED"
[code]

https://github.com/opensearch-project/OpenSearch/pull/3260#issuecomment-1121460251

[2022-05-10 18:05] dblock opened #3273 "[BUG] org.opensearch.action.admin.cluster.tasks.PendingTasksBlocksIT > testPendingTasksWithClusterNotRecoveredBlock FAILED"
[code]

https://github.com/opensearch-project/OpenSearch/pull/3259#issuecomment-1121460572

[2022-05-10 18:11] saratvemulapalli commented on #3012
@joshpalis could you help understand the diff between Test Set 5 vs Test Set 6.
Also a summary would be great to have.

[2022-05-10 18:20] ylwu-amzn commented on #2877
@andrross Thanks, good point. Built-in roles are mainly for OpenSearch core function, they are hard-coded and can't be changed. Wrong built-in roles will fail to start cluster or impact core function. For custom roles, they are mainly for plugin/extension function and wrong custom role only impact specific plugin, not the core function. But maybe the end user should consider the built-in and custo

[2022-05-10 18:34] rishabhmaurya commented on #2820
can you try enabling [eager_global_ordinals](https://www.elastic.co/guide/en/elasticsearch/reference/current/eager-global-ordinals.html) and compare performance, if its something acceptable for your use case.

[2022-05-10 18:35] dblock commented on #2877
That would be my favorite and most looking forward option.

[2022-05-10 18:47] engechas commented on #3104
I'm interested in contributing to core OpenSearch and this seems like a good starter issue so I can pick up the PR work when I get some time

[2022-05-10 18:58] DoctorOgg opened #3276 "[BUG] Trying to upgrade from elasticsearch 7.0. ” Received message from unsupported version”"
**Describe the bug**

Trying to upgrade from elasticsearch 7.0. ” Received message from unsupported version”

Im working on trying to upgrade an existing cluster (es 7.0.0) to OpenSearch, by using a rolling upgrade process, I have a new OpenSearch node built running 1.3.1 (also tried 1.3.2), and when I start the node up, I'm getting and “Received message from unsupported version” message.

I’m sur

[2022-05-10 19:02] ylwu-amzn commented on #2877
So now we have conclusion for the open question: "how to extend _cat/nodes API?":

**We will add a new filed `node.roles` and put full name of all roles (both built-in and custom roles) there. And we will deprecate `node.role`.**

If anyone has new concerns, please don't hesitate to call out. We are open to tune or change direction.

[2022-05-10 20:18] adnapibar commented on #3276
@DoctorOgg Just wanted to make sure, did you follow the steps outlined in the documentation -https://opensearch.org/docs/latest/upgrade-to/upgrade-to/ ?

[2022-05-10 20:21] DoctorOgg commented on #3276
yes, i was following, however was cut short due to the new node not being able to join the cluster

[2022-05-10 22:23] saratvemulapalli opened #3282 "[Feature/extensions] Gradle check failures"
- [ ] SniffConnectionStrategyTests.testConnectFailsIfNoConnectionsOpened
- [ ] TransportServiceHandshakeTests.testNodeConnectWithDifferentNodeI
[test files](https://github.com/opensearch-project/OpenSearch/files/8665407/test.zip)

[2022-05-10 23:39] dblock commented on #3276
This error is on the ES master? Anything on the node?

What is `35.24.79-beta2`?! Where's that coming from?

[2022-05-10 23:40] DoctorOgg commented on #3276
good question I assumed 35.24.79-beta2 is from OpenSearch, and the log sample submitted is from OpenSearch node I was trying to join.

[2022-05-10 23:44] dblock commented on #3276
Nope. This smells like something gone wrong parsing a version number and coming up with  35.24.79-beta2 (as in `6_0_0_beta2`). Do you have time to replicate this from scratch by booting a 7.0 version out of the box without plugins, then roll-upgrading it to OpenSearch and seeing if it's the same error? If it is, I would roll that to 7.10 first and then to OpenSearch and see if it's a bug in versio

[2022-05-11 04:04] kartg commented on #3237
Thanks @Bukhtawar ! These are exactly the kind of blind spots I was hoping to get feedback on. I'd like to understand this particular behavior more in depth. Are you aware of any reading material to learn more about this? Or could you point me to other resources (code, exceptions, etc.) from where I could start learning?

Would that simplify the Engine?

Decoupling translog behavior from Engine wo

[2022-05-11 04:50] sachinpkale commented on #2900
@andrross We will be using [RemoteDirectory](https://github.com/opensearch-project/OpenSearch/issues/2993) interface to store indexed data to the remote store. Please note that: the Directory interface is not fully opened yet. We have implemented only those methods that are required to store/restore the segments. We will gradually add implementation of more methods.

[2022-05-11 05:48] SOPHIA2401 commented on #3245
Hi @dblock,

I tested the `PUT /_mapping` operation in both the latest version of OpenSearch and the open source versions of ES. This operation is not working and seems like a documentation bug.

[2022-05-11 11:45] sachinpkale commented on #2994
PR link: https://github.com/opensearch-project/OpenSearch/pull/3285

[2022-05-11 12:22] sachinpkale opened #3286 "[Remote Store] Make repository name configurable"
**Describe the solution you'd like**
As remote store depends on repository plugin to store/restore segments to/from the remote store, before creating the index with `remote_store=true`, it is required to create the repository first. As part of the change introduced in https://github.com/opensearch-project/OpenSearch/pull/3285, the repository name is hardcoded. But it takes away the flexibility and

[2022-05-11 13:24] balar06 opened #3287 "Does OpenSearch have any blocking issue with the NFS storage class?"
since Elasticsearch did not recommend the NFS storage class due to latency issues and other factors, seems the same applies to OpenSearch.

Does OpenSearch have any blocking issue with the NFS storage class?

[2022-05-11 13:50] Bukhtawar commented on #3287
Except for obvious performance reasons I am not aware on any blocking issue with NFS. Do you have a thread dump or any metric that might help elaborate?

[2022-05-11 14:00] reta commented on #2922
@andrross thinking about APIs, would it make sense to consider a new attach / detach concept for the index? I believe one of the primarily use cases will be not the creation of the index knowing ahead of time it will be remote but shelving the existing indices (fe by data age or any other compliance requirements) into the remote ones.

The explicit attach API might be helpful when it the index in

[2022-05-11 16:44] saratvemulapalli commented on #3276
Looks like #669 is related.
From 1.3.x line, here is the code which handles min compatibility version:
https://github.com/opensearch-project/OpenSearch/blob/d69b3440e88c3291771166b4738193f0d729ed41/server/src/main/java/org/opensearch/transport/TransportHandshaker.java#L132

As long its running ES 7.x or 6.8 OpenSearch still responds with ES 7.10.2, and let the cluster formation happen.
Some how ES

[2022-05-11 17:22] reta commented on #1526
More context on the issue:
 - `IndexSearcher` has `maxClauseCount` limit, which is what `BooleanQuery` is using in 9.x (see please https://issues.apache.org/jira/browse/LUCENE-8811), this property is also static
 - the idea of having  boolean query clause limit configurable per-query is effectively buried (see please https://issues.apache.org/jira/browse/LUCENE-7880)
 - introducing something like

[2022-05-11 17:46] DoctorOgg commented on #3276
- How can one reproduce this, could you help list down the steps?

steps are listed in the intial bug report

- Is this an existing production cluster and you are trying to migrate to OpenSearch?

this is a staging clusgter, and is exiting, this was a trial run before prod deployment

- Did you consider other upgrade options (assuming a production cluster) like snapshot, restart etc?

snaptshots a

[2022-05-11 18:16] nateynateynate commented on #3287
I am also not aware of any issues, although there are several ways to tune those kinds of mounts at the operating system level. Is there a particular use case that you're using that used to work but now isn't?

[2022-05-11 19:09] dblock commented on #3276
This could be different but I have not tried. @saratvemulapalli or @DoctorOgg is either of you trying a clean setup?

[2022-05-11 19:44] reta commented on #3156
@mbaranczak interesting, here is the `getMillis()` implementation, I believe this slowness comes from the `logDeprecatedMethod` calls?

[code]

@dblock this method is deprecated and should not be used in general, should such deprecated methods in 2.0?

[2022-05-11 19:55] cliu123 opened #3290 "[BUG] The deprecation message of `DeprecatedRoute` doesn't show in the API response"
**Describe the bug**
The [deprecation message](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/rest/RestHandler.java#L199) of `DeprecatedRoute` doesn't show in the API response

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout [the branch](https://github.com/cliu123/security/tree/add_allowlist_configuration_and_deprecate_whitelist)
2. Che

[2022-05-11 20:27] mbaranczak commented on #3156
Is it really necessary to deprecate/remove this method? If `getMillis()` is just an alias for `toInstanct().toEpochMilli()`, what's the harm in keeping it?

And here's another thing: since I'm using OpenSearch in a managed environment, I don't have access to the server log (or wherever this deprecation warning gets written to). So I don't even see the warning. In my use case, `logDeprecatedMethod`

[2022-05-11 20:34] tlfeng commented on #3087
Created a Java project that built by Maven to test the behavior of the Sniffer library:
[code]

[code]

[2022-05-11 20:54] reta commented on #3156
@mbaranczak the deprecation story goes back to Elasticsearch, this is what Opensearch inherited.

I believe you should get them inside `Warning` response header: https://github.com/elastic/elasticsearch/pull/55941/files

[2022-05-11 21:09] mbaranczak commented on #3156
@reta I'm not seeing any warnings in the headers, either. Are the warning headers always on, or is there some switch to turn them on and off?

[2022-05-11 21:27] tlfeng commented on #3290
@cliu123 Thanks for reporting this issue.

As far as I know, there is a warning header added to the HTTP response, and can be retrieved by Java Rest Client. I guess the warning header doesn't meet the protocol, so it isn't shown in browser or curl command, while I need to validate this doubt.
The deprecation log should be written into the log directory, `logs/opensearch_deprecation.log`, and is no

[2022-05-11 21:41] tlfeng commented on #3087
It shows that the node role is not properly retrieved for OpenSearch node of version 2.0.0, the "master" role is set into the properties of the node by mistake.

[2022-05-11 21:54] cliu123 commented on #3290
@tlfeng Thanks for checking this! The deprecation message doesn't even get logged in `logs/opensearch_deprecation.log` in this case.

[2022-05-11 22:33] #3005 closed

[2022-05-11 23:37] dblock commented on #3063
@dzeroc Do open a new issue please.

[2022-05-11 23:39] dblock commented on #2922
Do we think we'd want to permission differently attaching a remote index? Feels like we *are* manipulating index properties (size, location, type, id), no?

[2022-05-11 23:41] dblock commented on #3287
This is a good question either way. Moving this issue into documentation-website, we should document this one way or another.

[2022-05-12 00:03] andrross commented on #2922
Yeah, that's what led me to propose it this way. Also, in any case we'd want the ability to get the current properties of an index, so index settings made sense for that. If we had imperative-style APIs (attach/detach) we'd also need APIs to describe the current attached or detached state, so it's not obvious to me that these properties are different from regular index settings.

[2022-05-12 03:09] lliu0947 opened #3294 "[BUG]The index template does not support configuring ism policy？"
**Describe the bug**
I want to create a data stream and add ism policy to the data stream。How to add an ism policy when creating an index template？ the [index template documentation](https://opensearch.org/docs/latest/opensearch/index-templates/) does not give the corresponding example and the fields supported by the template。

**To Reproduce**
create index template

PUT _index_template/logs-index

[2022-05-12 03:27] lliu0947 opened #3295 "[BUG]The new index after rollover is not managed by ism policy"
**Describe the bug**
I create a data stream and add ism policy to the data stream, but after index rollover, the new index is not managed by ism policy。

Steps to reproduce the behavior:
   1. create  ism policy
   PUT _plugins/_ism/policies/test-ism-api
{
  "policy": {
    "description": "an example of the ism policy",
    "default_state": "hot",
    "states": [
      {
        "name": "hot",

[2022-05-12 12:19] reta commented on #3026
Done

[2022-05-12 12:20] reta commented on #2822
Done

[2022-05-12 12:20] #2822 closed

[2022-05-12 18:21] kartg commented on #3237
@nknize I saw [this PR comment](https://github.com/opensearch-project/OpenSearch/pull/3240#issuecomment-1125026754) from you so I'd love to hear what you think about the ideas here, especially around what value the `Engine` class provides (as discussed above 👆 )

[2022-05-12 21:09] opensearch-ci-bot opened #3298 "Jenkins Randomized Gradle Check Failed on 53bb04e17a815c9d41a1d627029c2b5dc96676fa"
@opensearch-project/opensearch-core team, please take a look at Build 5264 in gradle_check log for more information.

[2022-05-12 21:45] amitgalitz opened #3299 "Making ThreadPool dynamic"
**Is your feature request related to a problem? Please describe.**
Currently the Anomaly Detection plugin utilizes a custom thread pool in order to manage the amount of resources used by the AD plugin. Currently we limit the number of cores AD thread pool can use to `Math.max(1, OpenSearchExecutors.allocatedProcessors(settings) / 2)`. However in OS 2.0-GA we will be utilizing a newer version of th

[2022-05-13 02:02] #3295 closed

[2022-05-13 02:03] #3294 closed

[2022-05-13 04:34] wfscot opened #3300 "Add equivalent to "terms lookup" to fetch list of terms from different index"
**Is your feature request related to a problem? Please describe.**
We would like a feature similar to Elastic's "terms lookup" (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#query-dsl-terms-lookup)

An example of how this might be used:
- Suppose you have an index that represents individual sales with both customerId and productId fields.
- This data co

[2022-05-13 05:01] tlfeng commented on #3290
After calling `/_plugins/_security/api/whitelist` API using your curl command, I saw there is new lines of deprecation notice logged in the 2 files:

logs/opensearch_deprecation.log
[code]
logs/opensearch_deprecation.json
[code]

[2022-05-13 05:59] cliu123 commented on #3290
I realized that I didn't build the latest changes in security plugin. After building on the latest change, I see the deprecation logs in `logs/opensearch_deprecation.log` and `logs/opensearch_deprecation.json` now.
Is it possible at all to feed the deprecation messages to the API response?

[2022-05-13 06:13] tlfeng commented on #3290
😄 Thanks for the update!
I think the same deprecation notice is added in to the HTTP response header, with a warning code 299, but I have no idea how to make it shown in browser and curl command.
The code: https://github.com/opensearch-project/OpenSearch/blob/2.0.0-rc1/server/src/main/java/org/opensearch/common/logging/HeaderWarning.java#L84

I don't have idea either about the other way to show a

[2022-05-13 08:17] Kenshir0 opened #3301 "performance-analyzer.log is not rotated"
**Describe the bug**
We are running a three node cluster on Docker and our monitoring system reported that the node disks were running out of space. After digging out we have noticed that `/usr/share/opensearch/logs/performance-analyzer.log` was not rotated (the file was huge, several GiB).

I went through the documentation and found nothing on the subject.

I have to run this command once in a wh

[2022-05-13 12:51] reta commented on #3299
@amitgalitz somewhat related to https://github.com/opensearch-project/OpenSearch/issues/476 where we made the queue size adjustable at runtime.

[2022-05-13 14:11] mattweber commented on #3300
@wfscot did you try terms lookup in OpenSearch?  Elastic's terms lookup was available before the fork and should exist in OpenSearch.  OpenSearch docs are not great so refer to [elastic's docs for 7.10](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index.html) which is what OpenSearch is based on. For the most part, if you see it in elastic's docs it should work in OpenSearch.

[2022-05-13 15:46] reta commented on #3299
Correct, just highlighting the related work

[2022-05-13 16:05] reta commented on #3290
@cliu123 you should be able to get `Warning` header by by adding

[code]

to `config/log4j2.properties`.

[2022-05-13 16:16] wfscot commented on #3300
My bad! That does indeed work. Thank you!

Lesson learned on the docs. I'll be sure to keep this in mind going forward.  Closing the issue.

[2022-05-13 16:16] #3300 closed

[2022-05-13 17:55] Bukhtawar commented on #2859
Yes weigh away would guarantee that transient network faults don't cause a flip flop till the zonal failure complete heals. For predictability it might be desired we stop routing any traffic to the impacted zone/rack.

Yes the intent is to introduce graceful shutdowns. While I am not sure what you meant by "orchestrating weighting policies during deployments", the idea would be to allow controls t

[2022-05-13 20:01] gsinghk81 commented on #1976
Hi , Can we have the timelines for the availability of filter plugin

[2022-05-13 20:02] mch2 opened #3320 "[Segment Replication] Merge Tracking - Add replication orchestration for a single shard."
Similar to RecoveryTarget during recovery events, we need a way to handle replication for a single Shard.

This component should manage the lifecycle of a replication for a single replica shard.

[2022-05-13 20:04] nknize opened #3321 "[CI] too many disjunctions to expand failure in IntervalQueryBuilderTests.testMustRewrite"
Caught on #3318 the following failure is reproducible:

[code]

[code]

Looks related to #2103. A large test query is being created that is resulting in a 1152 disjunctions which exceeds `IndexSearcher.maxClauseCount` (1024). With the addition of the unordered non-overlapping intervals support we should probably make the test less aggressive here. Is this something you can look at @mattweber?

Tes

[2022-05-13 20:06] mch2 opened #3322 "[Segment Replication]. Implement peer copy as a source of replication."
Segrep needs a service and handlers similar to PeerRecoveryTargetService to manage copying of segments between replicas and primaries.

The service should first fetch the latest checkpoint metadata from a primary shard and then kick off sending of segments back to the replica.

This is similar to the PrimaryShardReplicationSource code written as part of the POC.  This POC code has a lot of duplica

[2022-05-13 21:05] VachaShah commented on #2998
Coming from PR https://github.com/opensearch-project/OpenSearch/pull/2997, the failure was fixed in the PR

[2022-05-13 21:05] #2998 closed

[2022-05-16 01:19] opensearch-ci-bot opened #3331 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 5351 in gradle_check log for more information.

[2022-05-16 12:29] dblock commented on #3156
I don't know why it was deprecated in Elasticsearch. I suppose nobody wants to keep methods that don't actually do anything other than call other methods that do the same thing around. Major versions have other breaking changes, and I think the right thing to do here would be to remove the deprecated method from 3.0 (main). This way it will break hard in a major upgrade instead of causing a silent

[2022-05-16 12:31] dblock commented on #3295
@lliu0947 did you solve your problem? how?

[2022-05-16 12:31] dblock commented on #3294
@lliu0947 did you solve your problem? how?

[2022-05-16 12:37] #476 closed

[2022-05-16 12:40] dblock commented on #1976
@gsinghk81 unless someone says otherwise nobody is currently working on this, so it doesn't have a timeline

[2022-05-16 13:22] mbaranczak commented on #3156
@reta I'm not running my own server, I'm using the Amazon OpenSearch Service. No, I don't see any way to change the log4j properties.

[2022-05-16 16:34] igaloly opened #3342 "Measuring the distance between two distributions of vectors"
I have 2 buckets.
Each bucket holds documents.
Each document has a vector field.
I want to measure the distance between them.
To measure the distance, I need to **take the mean vector out of each bucket**, and calculate the delta between them.

What the best way to save the vectors (`knn_vector` ? spread the vector to discrete field `x0`, `x1`, `x2`?) and perform the calculation of the mean vector

[2022-05-16 17:18] dblock commented on #3342
This feels like a job for https://github.com/opensearch-project/k-nn, https://opensearch.org/docs/latest/search-plugins/knn/index, specifically https://opensearch.org/docs/latest/search-plugins/knn/painless-functions/. Does this help?

This is probably best asked in https://forum.opensearch.org/, GH is for issues/bugs, I'll close the issue for now, but feel free to reopen if you feel like there's

[2022-05-16 17:18] #3342 closed

[2022-05-16 18:00] owaiskazi19 opened #3343 "Create a Github Action to ensure variables in shell scripts are set"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/opensearch-project/OpenSearch/issues/3106 and https://github.com/opensearch-project/OpenSearch/pull/3278#issuecomment-1127698467. Create a Github Action to run on pull request to ensure whether shell scripts variables are set.

**Describe the solution you'd like**
Can use https://github.com/marketplac

[2022-05-16 18:07] owaiskazi19 commented on #3343
`yamlRestTest` takes care of most of the shell scripts.

[2022-05-16 18:09] #3106 closed

[2022-05-16 19:59] reta opened #3345 "[FEATURE] Remove deprecated methods from JodaCompatibleZonedDateTime which are called by scripts"
**Is your feature request related to a problem? Please describe.**
Remove deprecated methods from JodaCompatibleZonedDateTime which are called by scripts

**Describe the solution you'd like**
There are number of deprecated methods in `JodaCompatibleZonedDateTime` which are still available in scripts. Those should be removed since in some cases they pose significant performance overhead (due to dep

[2022-05-16 20:01] #2578 closed

[2022-05-16 20:01] DoctorOgg commented on #3276
alright, was able to clone the cluster, and try an in-place upgrade, which does work, however, quite labor-intensive, it really would be much easier to be able to add new OS nodes to an existing cluster with our tooling than an in-place upgrade. So, i guess I'm off to sort scripting this.  I would still consider this a bug, as adding and replacing machines with ES is an accepted route to upgrade a

[2022-05-16 20:03] #2900 closed

[2022-05-16 20:22] aabukhalil commented on #2000
I'm looking into this.

[2022-05-16 20:54] dreamer-89 commented on #3210
I think this is duplicate of https://github.com/opensearch-project/OpenSearch/issues/1975. Hence, closing this one.

[2022-05-16 20:55] #3210 closed

[2022-05-16 21:21] owaiskazi19 commented on #3210
@dreamer-89 thanks for pointing it out. Can we copy the content from this issue and add it in #1975 for more clarity?

[2022-05-16 22:38] #3156 closed

[2022-05-16 23:36] owaiskazi19 commented on #3002
Hi @cliu123! Coming from https://github.com/opensearch-project/OpenSearch/issues/2987. I tried to change the gradle version [here](https://github.com/opensearch-project/security/blob/main/bwc-test/gradle/wrapper/gradle-wrapper.properties#L3) to 7.3.3-bin and bwc test did pass for me. Can you try it out and let us know if it resolves the issue?

[2022-05-17 02:01] peternied opened #3349 "[Feature] There should be a way to enumerate all routes of OpenSearch"
**Is your feature request related to a problem? Please describe.**
As a plugin developer, we've added several APIs and missed supporting our legacy or new route scheme.  Additionally as an operator of an OpenSearch cluster it is useful to know the available APIs.  (Sometimes I forget if routes are pluralized or if they have an underscore).

**Describe the solution you'd like**
Similar to the `/_ca

[2022-05-17 03:37] lliu0947 commented on #3295
yeah，i have solved it

[2022-05-17 03:37] lliu0947 commented on #3295
yeah，i have solved it

[2022-05-17 05:51] lliu0947 commented on #3294
yeah，i have solved。Do you have plans to migrate the bug fix patch of the higher es version to opensearch？

[2022-05-17 06:48] rursprung commented on #3343
note that my suggestion was not to create a check just for unset variables.

instead, my suggestion was to create a check which ensures that `set -eu -o pipefile` (or whatever is the defined standard for OpenSearch) is present in all `.sh` files.

i do like the ShellCheck action, though, it looks nice!

[2022-05-17 06:56] rursprung commented on #3106
@owaiskazi19 / @dblock: where should we now create a follow-up ticket to apply the same to the other repos? and who'll create the ticket? that ticket should then probably also directly include doing #3343 as well for the others.

[2022-05-17 13:18] #3345 closed

[2022-05-17 13:47] igaloly commented on #3342
I don't see how can I utilize the sources you sent to perform my task.
I'll ask in the forum. Thank you!

[2022-05-17 17:06] reta opened #3351 "[Documentation] Breaking changes in 3.0"
This is a meta issue which lists down all breaking changes in OpenSearch 3.0

## Deprecated code in 3.0+

- [ ] Cleanup deprecated thread pool settings https://github.com/opensearch-project/OpenSearch/issues/2595

[2022-05-17 17:06] reta commented on #3351
@saratvemulapalli fyi, meta for 3.0 breaking changes, thanks!

[2022-05-17 17:20] saratvemulapalli commented on #3351
@CEHENKLE could you help add this to 3.0 roadmap?

[2022-05-17 17:36] dblock commented on #3276
Yes, let's leave this open to track down what the limitation is here and fix it. Feel free to contribute!

[2022-05-17 17:40] mulugetam opened #3354 "Introduce more compression libraries and implementations"
Lucene, and by extension OpenSearch, currently support only zlib and lz4 compression algorithms offering best compression ratio and best speed, respectively. There are a couple of limitations with this:

- Use cases that prefer a middle ground between best compression ratio and best speed, such as that offered by [zstd](https://github.com/facebook/zstd), are not supported.
- The lz4 implementation

[2022-05-17 18:21] CEHENKLE commented on #3351
Done.

[2022-05-17 19:07] jmazanec15 opened #3355 "[BUG] Can DeprecationLogger initialization cause bottleneck?"
**Describe the bug**
More of a question/potential bug than a bug report - but there is not an option
for this. I have been doing a search latency spike analysis for an ES 7.1
cluster for the k-NN plugin that has a pretty heavy search workload and ran
into an issue that I think might also apply to OpenSearch (not sure if relates
to the spike).

The p99 search latencies for search continually rise u

[2022-05-17 19:44] adnapibar commented on #3290
No pending code changes for 2.0.0 release, removing the label.

[2022-05-17 19:52] cliu123 commented on #3290
The expected behavior has been clarified! Thanks @tlfeng @reta! Closing the issue.

[2022-05-17 19:52] #3290 closed

[2022-05-17 19:59] dreamer-89 commented on #1763
Jenkins gradle job is updated with Azure credentials. Gradle check is now running repository-azure tests using actual azure end-points.

[2022-05-17 20:01] dreamer-89 commented on #1763
Closing this issue and creating new one to track GCP integration and enabling back Ec2/ECS credentials related repository-s3 integration tests discussed in previous comment [here](https://github.com/opensearch-project/OpenSearch/issues/1763#issuecomment-1119108064)

[2022-05-17 20:01] #1763 closed

[2022-05-17 20:59] #1349 closed

[2022-05-17 21:01] jainankitk commented on #1957
This issue can be closed. @VachaShah @dblock @andrross

[2022-05-17 21:26] dreamer-89 opened #3362 "Integrate with google cloud for GCP repository integration tests"
### Is your feature request related to a problem? Please describe.
1. Add Ec2/ECS repository-s3 tests which get skipped post integration with AWS S3. Proposal. Add separate task to run Ec2/ECS integration tests.
2. Use GCP end-points for repository-gcp integration tests to exercise actual integration with GCP cloud.

Related #1763

#### Additional context
More details: https://github.com/opensearc

[2022-05-17 22:09] jainankitk opened #3363 "[BUG] Max concurrent requests per node changed from default 5 to 1 in Elasticsearch 7.10/Opensearch 1.0"
**Describe the bug**
Max concurrent search requests per node was changed from default value of 5 earlier to 1 in Elasticsearch 7.10/Opensearch 1.0 as part of [this commit](https://github.com/elastic/elasticsearch/commit/3d69b5c41e235d7962b6dc315aba8b2f4cbe0ef9). This can lead to ShardNotFoundException if the single node has multiple shards for an index, and shards relocate while the coordinator ex

[2022-05-18 01:02] #2595 closed

[2022-05-18 01:34] lliu0947 opened #3365 "Do you have any plans to fix bugs in Apache 2.0 licensed Elasticsearch 7.10.2 itself?"
**Is your feature request related to a problem? Please describe.**
OpenSearch is a community-driven, open source search and analytics suite derived from Apache 2.0 licensed Elasticsearch 7.10.2 & Kibana 7.10.2。There are many bugs to be fixed in Apache 2.0 licensed Elasticsearch 7.10.2，and these bugs may have been fixed in later versions of Elasticsearch, do you plan to migrate the bug fix patch ov

[2022-05-18 05:16] jkowall commented on #3365
Although this sounds reasonable in theory. It represents an issue because of the licensing conflicts. Open search is going to remain apache 2.0 compliant which means the code from non-Apache 2.0 licensed projects cannot not be used directly or the license will be tarnished. Therefore the code must be fixed separately. If there's a specific bug that you're running into you should file a bug report.

[2022-05-18 05:21] jkowall commented on #3363
This is why massive commits are a big problem. No one can review that PR that you posted.

[2022-05-18 05:55] Bukhtawar commented on #3363
Not sure if it was reviewed in smaller chunks and then stashed together, but that always carries a risk of missing out on tiny but crucial details

[2022-05-18 06:15] gbbafna opened #3367 "[META] Making all copies of shards spread evenly across all Awareness Attribute"
**Is your feature request related to a problem? Please describe.**

In cloud HA deployments , customer usually deploy over  multiple zones.  zone is usually the `awareness.attributes` in there . However, there is no enforcement of all copies spread evenly across all zones . This can cause uneven distribution of shards and also create shard hotspots. Failure in a single zone might also cause data l

[2022-05-18 12:54] reta commented on #3354
@mulugetam there is an issue on Apache Lucene to support ZSTD [1], [2], plus somewhat unrelated to index storage but ZSTD [3] for snapshots. I believe the main concern is related to usage of the JNI bindings, I suspect your implementation is also using that? Thank you.

[1] https://issues.apache.org/jira/browse/LUCENE-8739
[2] https://github.com/apache/lucene/pull/439
[3] https://github.com/opense

[2022-05-18 14:51] Gayu1134 opened #3370 "Question"
Logstash for opensearch

i have installed opensearch and opensearch dashboards , its working fine
i need to add kafka in logstash, referred (https://opensearch.org/docs/latest/clients/logstash/index/#install-logstash) that link was not helpful for installing in aks  ,kindly share step by step process

[2022-05-18 17:33] #1957 closed

[2022-05-18 18:20] saratvemulapalli opened #3379 "[Feature/extensions] getNamedXContent - Add support for extensions"
Add extension framework support for getNamedXContent extension point.

[2022-05-18 18:31] joshpalis commented on #3379
Design to add support for default extension point - getNamedXContent.

[2022-05-18 18:57] joshpalis commented on #3379
Design for default extension point support for getNamedXContent.

Extension Point Purpose :
-  When plugins override getNamedXContent() with their own implementation, they are able to register custom parsers for NamedObjects within the NamedXContentRegistry. XContent Registry entries consist of a category class and object name that is mapped to a reader that provides the ability to deserialize a p

[2022-05-18 19:26] nknize opened #3382 "[Upgrade] OpenSearch 2.0 to Lucene 9.2"
[Lucene 9.2 Release Vote](https://t.co/5iFsv4RIHz) has started. This means Lucene 9.2 is on track to be released before OpenSearch 2.0 GA. OpenSearch 2.0 RC1 was [released with Lucene 9.1](https://github.com/opensearch-project/OpenSearch/blob/2.0.0-rc1/buildSrc/version.properties#L2). I propose upgrading 2.0 branch and release OpenSearch 2.0 GA w/ Lucene 9.2.

[2022-05-18 19:29] nknize opened #3383 "[BUG] Lucene Snapshot Github Action Failing"
There was an error in the OpenSearch Lucene Snapshots github action when trying to [publish latest lucene-9.2.0-snapshot](https://github.com/opensearch-project/OpenSearch/runs/6495589643?check_suite_focus=true#step:6:67). The error is below:

[code]

This needs to be looked at so we can quickly build an updated 9.2. snapshot in prep for upgrading main and 2.x branches ([and possibly 2.0](https://g

[2022-05-18 20:03] cliu123 commented on #1868
There've been the [release drafter](https://github.com/opensearch-project/security/blob/main/.github/workflows/release-drafter.yml) to generate [draft release notes](https://github.com/opensearch-project/security/releases/tag/untagged-7f7ae5bb3441abd9f61f) capturing all merged PRs. The release notes are generated by CI pipeline on each PR merge and avaialble for publishing releases. Do we still ne

[2022-05-18 20:10] jainankitk opened #3384 "[TEST] Missing unit/integration test for validating max concurrent search requests per node"
**Describe the bug**
There is no unit/integration test for validating correct value of max concurrent search requests per node. Recent regression was reported for that #3363

**Expected behavior**
There should be test to validate that the behavior is as expected

**Related PR**
#3364

[2022-05-18 20:11] jainankitk commented on #3363
This issue can be closed after backports are merged in favor of separate issue for adding test #3384

[2022-05-18 20:37] dblock commented on #3349
The RESTful API should be generated from spec (https://github.com/opensearch-project/OpenSearch/issues/3090), making this easy.

[2022-05-18 20:39] dblock commented on #3295
@lliu0947 how did you solve it?

[2022-05-18 20:40] dblock commented on #3294
@lliu0947 how did you solve it? what bug fix patch?

OpenSearch cannot copy non-APLv2 code from ES 7.10+, but feel free to reimplement any fixes independently and PR them into OpenSearch.

[2022-05-18 20:49] dblock commented on #3106
We often run these as campaigns. Do you want this to be OpenSearch-wide? Also apply to Dashboards? Only plugins?

[2022-05-18 20:54] dblock commented on #3365
@jkowall is 100% correct

Please do not copy non-APLv2-licensed code from ES 7.10.2+, but feel free to reimplement any of the fixes independently. When making pull requests, if referencing ES, please confirm that the code is not copied from ES.

[2022-05-18 20:54] #3365 closed

[2022-05-18 20:56] dblock commented on #3354
This is awesome @mulugetam, looking forward!

[2022-05-18 20:59] dblock commented on #3354
@reta on JNI, I think the issue is primarily native code, not the bindings themselves, as Lucene is strongly opposed to including native code? This isn't a limitation of OpenSearch, we have plugins, such as k-nn, that use native libraries.

I don't love JNI btw as it requires one to write JNI bindings in C. I would prefer to replace all native boilerplate code written in OpenSearch with https://gi

[2022-05-18 21:00] dblock commented on #3370
Moving this to documentation-website. You might also want to ask for help in https://forum.opensearch.org/, maybe someone has a cookbook that we can turn into documentation?

[2022-05-18 21:02] dblock commented on #1676
@prudhvigodithi should be able to answer ^

[2022-05-18 21:04] reta commented on #3354
thanks @dblock, yeah I think the native code + JNI bindings (as the consequence) is the concern for Apache Lucene (as per discussion thread), I am just curious what the compression implementation was used, as you said, OpenSearch has no such limitations or / and constraints.

[2022-05-18 21:11] dblock commented on #3382
@nknize Let's PR that update when Lucene 9.2 gets released and see whether we've started the release process for the distribution already, which would then require doing a reset and changing the release date

[2022-05-18 21:14] dblock commented on #1868
@cliu123 I think the automation you propose produces complete unreadable garbage right now between backport PRs, DCO messages, etc. So it would solve having release notes continuously available, but it wouldn't help making these notes useful

[2022-05-18 21:20] prudhvigodithi commented on #1676
Hey @jmazanec15 [opensearch.pluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip), this will publish the generated distribution plugin zip's to maven repo, is `lang-painless` zip part of any plugin bundle task? If so yes this `opensearch.pluginzip` can be used to publish to maven repo with right maven coordinates.

[2022-05-19 02:30] #2245 closed

[2022-05-19 02:48] HyunSeaHoon opened #3395 "[BUG] java.io.OptionalDataException error in OpenSearch 2.0 rc"
**Describe the bug**
I am collecting data with OpenSearch with Logstash.
OpenSearch throws java.io.OptionalDataException error during service operation.

This did not happen in the OpenSearch 1.3 operating environment.

The occurrence of errors is irregular, and errors sometimes disappear after a certain period of time has passed.

Data collection is collected in different indexes depending on the

[2022-05-19 04:57] sachinpkale opened #3397 "[Remote Store] Handle transient and permanent un-availability of the remote store"
**Describe the solution you'd like**
When remote store is un-available, either we need to stop ingestion in order to keep the durability guarantees or ingestion continues and data is back-filled once remote store is available. There are various scenarios that need to be considered while handling these failures. This task describes all such scenarios and provide implementation.

[2022-05-19 05:13] sachinpkale opened #3398 "[Remote Segment Store] Upload segments_N file after each refresh"
**Describe the solution you'd like**
Unlike segments files, `segments_N` (SegmentInfos) file is not immutable. It is updated after each refresh and keeps information of each segment by name along with other metadata.
If we just upload file to remote segment store based on file name, we will miss out on the latest changes to the `segments_N` file.

[2022-05-19 05:29] mch2 commented on #2700
Hi @sachinpkale.

There are a few other requirements that are worth calling out for this to work with segment replication.  While we don't have the first wave of segrep merged into main yet from our feature branch, we have a general idea of the files that need to be copied to/from a store.

Primaries will need to include a byte[] of its current SegmentInfos object in addition to the segments.  The

[2022-05-19 06:32] baleshkumar opened #3399 "Where to start to understand OpenSearch code better before start contributing"
Hi Team,

I want to contribute to OpenSearch and before I do that I need to learn how code is structured, important classes/packages/modules (along with their responsibilities), how request flows etc.

I have checked the developer guide but it only provide first level of details like high project layout. Could someone please share the document link of any other tips to understand the code please.

[2022-05-19 06:53] mitalawachat opened #3400 "[Design Proposal] Admission Control - Workload management to improve cluster stability [WIP]"
### GOAL

Document proposes design for admission-control to improve cluster stability. For more information on overview please refer: [Feature Proposal](https://github.com/opensearch-project/OpenSearch/issues/1144) (https://github.com/opensearch-project/OpenSearch/issues/1144)

### REQUIREMENTS

Limit the number of requests per node which reaches the OpenSearch thread-pool for execution.

### TENE

[2022-05-19 07:46] rursprung commented on #3106
i'd suggest to do it consistently for everything under @opensearch-project, i think it applies to all of them.

[2022-05-19 07:57] lliu0947 commented on #1640
I have the same problem when executing ./gradlew test

[2022-05-19 10:07] Bukhtawar opened #3402 "Support for decommissioning and recommissioning a zone"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-19 13:50] elfisher commented on #3098
Definitely.

[2022-05-19 15:37] xinlamzn commented on #3051
looks like you need to know the fields for bucket ahead at ingestion time. what is the benefit over Rollup?

[2022-05-19 17:39] ryanbogan opened #3408 "[Feature/extensions] Unit Tests for ExtensionsOrchestrator"
ExtensionsOrchestrator needs unit tests to ensure it is functioning properly

Meta issue here: #1632

[2022-05-19 17:55] mch2 commented on #3383
Looks like #3396 [fixed](https://github.com/opensearch-project/OpenSearch/actions/runs/2352771731) the issue.  Closing.

[2022-05-19 17:55] #3383 closed

[2022-05-19 18:15] sruti1312 commented on #3162
@dblock PA reader process is an independent process and not started with OpenSearch. Maybe we can start the process using before all. Will try this approach and update this issue.

[2022-05-19 20:21] minalsha commented on #1276
@ryanbogan  whats tasks are pending to prevent closing this issue?

[2022-05-19 21:36] jmazanec15 commented on #3355
Looking into this a little bit closer, I do not think it will impact OpenSearch. I think the main problem is that the Deprecation Logger gets created for each search which can become costly (still not sure why on this one).

However, in ES 7.10, it was changed so that [AbstractIndexOrdinalsFieldData](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/ind

[2022-05-20 01:32] prudhvigodithi opened #3412 "[BUG] OpenSearch app is not able to pick up empty `node.roles=` environment variable to run as coordinating node."
**Describe the bug**
Coming from the issue https://github.com/opensearch-project/opensearch-build/issues/2129, OpenSearch app is not able to pick up empty `node.roles=` environment values, to allow to run as coordinating node. This works fine when added to `opensearch.yml` as `node.roles: []`, but not able to pick when passed as environment variable. However when passed a specific role as `node.ro

[2022-05-20 01:37] prudhvigodithi commented on #3412
Workaround using docker helm
https://github.com/prudhvigodithi/helm-charts/blob/coordinating-role/charts/opensearch/values.yaml#L11
https://github.com/prudhvigodithi/helm-charts/blob/coordinating-role/charts/opensearch/values.yaml#L45

`curl -XGET https://localhost:9200/_cat/nodes?h=nodeRole -u 'admin:admin' --insecure` shows right role as coordinating node.

would be good to just pass just `node.

[2022-05-20 06:34] sachinpkale commented on #2995
PR link: https://github.com/opensearch-project/OpenSearch/pull/3403

[2022-05-20 11:24] shwetathareja commented on #3045
@Bukhtawar Network partitioning could still be an issue in case multiple nodes are partitioned like 2 nodes hosting primary & replica both gets partitioned (e.g. in case of index with 1 shard).

One option I am thinking is lets say, there is a background monitor which maintains count of no. of nodes in the cluster always and when no_master _block is applied, data nodes exchange this count and will

[2022-05-20 13:58] anshu1106 opened #3413 "[BUG] Incorrect awareness attribute count captured in decisionExplanationString in AwarenessAllocationDecider"
**Describe the bug**
In some scenarios, when allocation decision is **No** by AwarenessAllocationDecider. No Allocation explanation reason message is showing incorrect number of awareness attributes when forced zone awareness is enabled.
For ex - A domain with 3 availability zones and forced zone awareness set  as `“cluster.routing.allocation.awareness.force.zone.values” = “a,b,c”` gives shard not

[2022-05-20 14:27] reta commented on #3412
@prudhvigodithi I believe this is the expected behavior: `node.roles=` means the value is not set. I think the correct behavior would be to pass empty list instead `node.roles=[]`.

[2022-05-20 14:30] prudhvigodithi commented on #3412
hey @reta, I have tried as well and added to the above `To Reproduce` block it says as  `java.lang.IllegalArgumentException: unknown role [[]]`
[code]
I believe OpenSearch environment variable parsing logic needs to be fixed to look for empty string ?

[2022-05-20 14:41] reta commented on #3412
I don't think so, it is difficult to distinguish between variable not set and variable not passed at all - in both cases there is no value. May be supporting `[]` notation to denote empty value would make sense?

[2022-05-20 14:47] prudhvigodithi commented on #3412
@reta ideally since this works `node.roles=master, data` (passing as environment variable) and sets right master and data role, setting `node.roles=""` to empty string should allow to set the coordinating role.

[2022-05-20 14:49] reta commented on #1640
@MaxKsyunz would you like to submit a pull request? thank you!

[2022-05-20 16:10] Cindyqi8506 opened #3415 "[UX] Point in time search (WIP)"
### **Overview**

OpenSearch Dashboards `Point in time` (PIT) search feature allow `users` (including but not limited to Developers, DevOps, and Data Analyst) to create and manage point in time search from OpenSearch Dashboards `stack management`, `discover,` `visualize` and `dashboard`. It helps user maintain a fixed data set which can be re-used by different queries in order to achieve consisten

[2022-05-20 16:40] ahopp commented on #3415
Hey @Cindyqi8506 this is great! Couple of questions;

RE: "Create new PIT based on selected index pattern" within the "Visualize Flow", how do you imagine the "change PIT" capability to work when there is 2 dozen PITs available? I'm trying to imagine how this will scale overtime and I think we should annotate some of our thoughts if we're still WIP for this scope. Similarly we need to handle the "

[2022-05-20 16:43] ahopp commented on #3402
@Bukhtawar Can you provide some details and additional context? We'll need more context the the title provides.

[2022-05-20 17:00] dblock commented on #3412
Isn't the current behavior that "absence of node.roles = coordinator node"? IMO `node.roles=` should just produce an error?

[2022-05-20 17:12] owaiskazi19 commented on #2981
Changing the node [here](https://github.com/opensearch-project/OpenSearch/blob/feature/extensions/server/src/main/java/org/opensearch/extensions/ExtensionsOrchestrator.java#L181) to localNode of OpenSearch resolved the error. Moved the sendRequest in handlePluginRequest for a better approach.
Currently looking into
[code]

[2022-05-20 17:58] reta commented on #3412
@dblock nope (surprisingly), here is how it works [1], citing Elasticsearch documentation here:

[code]

But:

[code]

[1] https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html

[2022-05-20 18:18] reta commented on #3355
Thanks for the insights @jmazanec15,  It seems like the `log4j` always inspects stack to find out the caller,  no matter if logger is referenced by name or class (just sooner or later, stack is walked). It looks like `AbstractIndexComponent` just makes the `deprecationLogger` a mandatory field but 90% of the subclasses (at least in core) do not use it. May be we could make it as "opt-in" and only

[2022-05-20 18:34] anirudha commented on #1629
we need to see how to - showcase visualizations and UI changes in visualize

[2022-05-20 18:41] Cindyqi8506 commented on #1147
Here is the UX proposal for Point in time search:  [UX] Point in time in OpenSearch Dashboards (WIP) #3415, please review and comments, thanks.🤗

[2022-05-20 19:43] reta commented on #1629
@penghuo my apologies if I am missing something, but I suspect the idea to use `hashCode()` relies on the fact that it returns an unique value for each key. This is particularly not true for Java's String impelementation, simple example:

[code]

There are some in depth details in here [1] but should not rely on hash code uniqueness [2].

[1] https://dzone.com/articles/what-is-wrong-with-hashcode-

[2022-05-20 19:53] prudhvigodithi commented on #3412
Hey @reta yes empty node.roles, passes the default roles to the node, but passing env value  `node.roles: [ ]` or `node.roles:` (adds default `roles [master, remote_cluster_client, data, ingest]` ) fails to pick up as coordinating node.

[2022-05-20 23:57] MaxKsyunz commented on #1640
@reta thanks for interest! My change got me past the error but I didn't think it was PR-worthy -- it doesn't address the root cause.

[2022-05-21 00:56] opensearch-ci-bot opened #3421 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 5516 in gradle_check log for more information.

[2022-05-23 03:53] crystal-lee commented on #3098
some one has already finish it.    https://github.com/soosinha/opensearch-analysis-ik
only need update the dependency of opensearch and complie. it worked ok

[2022-05-23 03:53] #3098 closed

[2022-05-23 05:50] gbbafna commented on #3367
Requesting community and also pinging @shwetathareja @dblock  to provide feedback on above .

[2022-05-23 12:30] dblock commented on #3415
Moving this to https://github.com/opensearch-project/OpenSearch-Dashboards.

[2022-05-23 14:06] smlx commented on #3412
Since Opensearch configuration is YAML, the configuration via environment variables should support whatever YAML supports. For environment variables the obvious solution to this is to use JSON encoding since it is almost YAML equivalent while also being whitespace-insensitive which lends itself well to single-line environment variables.

The problem is that for `node.roles` (and possibly other var

[2022-05-23 17:22] rishabhmaurya commented on #2820
I did a quick experiment using [this](https://gist.github.com/rishabhmaurya/33c852f692e3dbd14ed998629a888b2d) script and found that using execution hint could be atleast 10x slower for low cardinality cases, and >15x slowed for high cardinality cases  ([script](https://gist.github.com/rishabhmaurya/6e296e674214b262bef416cc8d55130a) for high cardinality)-
and when eager global ordinals are enabled,

[2022-05-23 17:24] mch2 commented on #3322
#3409 lays out a way to do this on the target side.

[2022-05-23 18:30] Bukhtawar commented on #3367
Thanks @gbbafna for opening this issue
Some initial thoughts
1. I see value in doing both, starting with a validation exception post enabling the settings `enforce_awareness_attribute_balance` (suggested name)
2. The auto_balance seems very similar to `auto_expand_replica` : 0-all, and looks like a good reasonable extension to 1.
3. The behaviour with both 1 and 2 at the time of index creation wit

[2022-05-23 19:01] adnapibar commented on #3402
@Bukhtawar Can you provide more details ?

[2022-05-23 19:29] dblock commented on #3395
@adnapibar ^ says _The occurrence of errors is irregular, and errors sometimes disappear after a certain period of time has passed._

[2022-05-23 19:36] adnapibar commented on #3399
@baleshkumar thanks for showing interest and we welcome you to contribute to OpenSearch.  I think the best way to learn is to work on an issue, we have a bunch of issues tagged as [good first issue](https://github.com/opensearch-project/OpenSearch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+) , feel free to pick one.

The  https://github.com/opensearch-project/OpenSearch/blob/main

[2022-05-23 19:46] adnapibar commented on #3363
PR and associated backports are merged, closing the issue

[2022-05-23 19:46] #3363 closed

[2022-05-23 20:14] dblock commented on #1144
This feels like a more upstream and generic version of #1329, or at least something that sits ahead of it. My question is, if back-pressure is implemented well in all paths, do we still want admissions control? How do you see these two features co-exist?

Can admissions control be imagined as a cluster-wide, and eventually consistent feature, improving load balancing? In an asynchronous world I wo

[2022-05-23 20:49] dblock commented on #3162
Sorry, what is "PA reader process" and where can I read about it? Are you talking about perftop? The documentation at https://opensearch.org/docs/latest/monitoring-plugins/pa/index/ doesn't mention anything about any "independent reader processes".

[2022-05-23 20:55] dblock commented on #3412
I think @prudhvigodithi's suggestion of supporting `[]` as a value is the simplest one. I'd want to see that PR before judging whether there are other side effects.

[2022-05-23 21:04] dblock commented on #3399
I'm going to close this issue, thanks @adnapibar. @baleshkumar feel free to ask more specific questions here/or on forums as well (https://forum.opensearch.org/)

[2022-05-23 21:04] #3399 closed

[2022-05-23 21:24] reta commented on #3367
Thanks @gbbafna , I clearly see the benefits but there are some concerns as well. Primarily, the basic premise I have seen in many deployments is that clusters are quite dynamic by nature, with that:
1. The `auto_balance_xxx` (2nd approach) should probably disable the manual replica management. In this regards I sound @Bukhtawar 's concern related to `auto_expand_replica`. It seems to me the numbe

[2022-05-23 21:45] adnapibar commented on #3395
@dblock Yes agree! But I think we need more details that can help us to reproduce this error.  Also, does this error happen with other API calls during the time? I see one discussion on es 7.9 reporting similar issue (not with logstash) https://discuss.elastic.co/t/temp-downtimes-optionaldataexception-500-on-all-apis-aws/257571 which may be completely unrelated.

[2022-05-23 21:46] dreamer-89 commented on #3131
Closing this issue and target remaining type removal in #2979 post `2.0` release.

[2022-05-23 21:46] #3131 closed

[2022-05-24 00:25] reta commented on #2592
@owaiskazi19 I will take it, too annoying :-\

[2022-05-24 02:23] HyunSeaHoon commented on #3395
Thank you for your interest.

Our service collects logs with logstash, stores them with ElasticSearch, and retrieves logs with a NodeJS-based web server.

We are changing from using ElasticSearch (with or without the Opendistro plugin) service to OpenSearch service.

logstash uses OSS version 7.16.2 and the output plugin uses logstash-output-elasticsearch (11.2.3).

The web server uses the javascr

[2022-05-24 03:34] mch2 commented on #2700
An alternative to pushing the SegmentInfos bytes in my previous comment is that with remote store enabled we change the behavior of a refresh to instead perform a Lucene commit.  This way we continuously push an updated commit point / segments_N file to the remote store.  We can disable the fsync on the local directory implementation to make commits less expensive because segments will be durably

[2022-05-24 04:12] HyunSeaHoon commented on #3395
Thank you for your interest.

Our service collects logs with logstash, stores them with ElasticSearch, and retrieves logs with a NodeJS-based web server.

We are changing from using ElasticSearch (with or without the Opendistro plugin) service to OpenSearch service.

logstash uses OSS version 7.16.2 and the output plugin uses logstash-output-opensearch (1.2.0).

The web server uses the javascript

[2022-05-24 05:40] gbbafna commented on #3367
Thanks @Bukhtawar , @reta for your feedbacks.

Makes sense. We can break this into two parts and start with `enforce_awareness_attribute_balance` first.

Agreed. For search use cases, replica count can be a multiple of zone attribute values , so as to scale for reads. We can have `auto_balance_xxx` as well as `count_per_awareness` setting  on index level for same.

In case of 2, replica count will

[2022-05-24 08:35] sachinpkale commented on #3148
### Setup
- Tool used: opensearch-benchmark
- OpenSearch Benchmark Test: nyc_taxis
- Cluster
    - 3 node cluster with each node - r5.2xlarge
- Benchmark node - r5.2xlarge
- Non-optimized implementation of Remote Segment Store
- Remote translog is not supported
- GitHub Commit ID: https://github.com/opensearch-project/OpenSearch/commit/b1c36fa43e2b79614bfad95fe7e7bfea244cabde

|

[2022-05-24 14:54] #2927 closed

[2022-05-24 17:18] #3109 closed

[2022-05-24 17:58] saratvemulapalli opened #3434 "[Feature/extensions] Add support to register a setting dynamically"
**Is your feature request related to a problem? Please describe.**
Settings is a way to configure OpenSearch and plugins.
All settings in the system are registered during bootstrap[1]

Settings are registered only when SettingsModule is constructed.
This solution does not work for extensions, as extensions are bootstrapped after TransportService is up and Transport has a dependency on settings.

*

[2022-05-25 05:37] gbbafna commented on #3367
The validation setting `enforce_awareness_attribute_balance`  is enforced only at the time of index creation and updation . So for the above mentioned case, the existing indices would remain as it is . Only the update calls to those will have the awareness checks . It is not the ideal user experience, but better than the existing behavior. We are putting that responsibility to the user to modify r

[2022-05-25 05:51] jainankitk commented on #3384
In favor of PR #3437, we probably don't need test for PR #3364

[2022-05-25 15:51] peternied opened #3440 "[BWC] How should support be handled for OpenSearch / Plugins versions?"
With the release of 2.0.0, plugin branches are migrating to versions 2.1 and 3.0.  Is there a recommendation for common settings for backwards compatibility?

[2022-05-25 15:52] peternied commented on #3440
I've made this statement and cannot find documentation to substantiate it.  Does someone have a link, or is this something we need to codify?

[2022-05-25 16:12] sachinpkale commented on #2700
@mch2 Thanks for the heads up.

I am inclined towards the first approach. In remote store, we can have another file (with suitable prefix/suffix to `segments_N`) which is re-uploaded at each refresh.
I would like to understand one thing though: is `segments_N` updated in memory at each refresh and not fsynced or it is only updated at commit? I will definitely check it from my side but if you alrea

[2022-05-25 18:07] owaiskazi19 commented on #2981
Resolved the above issue. It was mainly because of using Enum in the CreateComponentRequest. Currently looking into https://github.com/opensearch-project/opensearch-sdk/issues/6

[2022-05-25 18:31] saratvemulapalli commented on #3440
Trying to understand the context.
Is the question tailored to plugins backwards compatibility testing?

Branching strategy is documented in https://github.com/opensearch-project/.github/blob/main/RELEASING.md#opensearch-branching. Are you looking for something similar:
- Documented
- Automated testing [1]

[1] https://github.com/opensearch-project/opensearch-build/issues/90

[2022-05-25 20:03] kkhatua commented on #3162
The PA Reader process is a sidecar that runs alongside OpenSearch process and primarily interacts with the PA Plugin. It's also referred to as the RCA process (hence the separate `performance-analyzer-rca` repo). It was meant to separate out the heavy lifting that the plugin otherwise would have done within the OSrch process, including gathering system metrics, and also processing these to provide

[2022-05-25 20:04] dblock commented on #3162
@kkhatua Where can I find the documentation on how to use this?

[2022-05-25 20:43] minalsha commented on #211
@adnapibar what is needed for this issue to be resolved? I am unable to understand the problem here.

[2022-05-25 20:45] minalsha commented on #766
Hi @ketanv3 , could you please provide an update on the fix for this issue?

[2022-05-25 20:47] #799 closed

[2022-05-25 20:48] minalsha commented on #980
@saratvemulapalli  could you please look into this? Thanks

[2022-05-25 20:53] ryanbogan commented on #1276
@minalsha I don't think there are any tasks left for this issue

[2022-05-25 20:59] minalsha commented on #1350
@chenqi0805  are you able to repro this issue in 2.0?

[2022-05-25 21:57] #1276 closed

[2022-05-25 22:18] peternied commented on #3440
[Recapping from offline conversation with @saratvemulapalli]

* In future release of OpenSearch, the BWC tests versions targets will be supplied from as part of the distribution build, so all plugins will need to be updated to pull those versions from gradle properties.  Plugins running BWC tests on there own is an option for early failure detection.

* To setup these BWC tests for a plugin on its

[2022-05-25 22:23] peternied opened #3442 "What is the support model for OpenSearch?"
As we are in the process of releasing version `2.0.0`, what is the support model for the latest version and the previously supported versions of OpenSearch?

[2022-05-25 23:31] sruti1312 commented on #3162
Performance Analyzer RCA framework RFC: https://github.com/opensearch-project/performance-analyzer-rca/blob/main/docs/rfc-rca.pdf.

Currently, we can visualize the metrics collected through the framework through Perftop or API's.
https://opensearch.org/docs/latest/monitoring-plugins/pa/index/

[2022-05-25 23:57] Bukhtawar commented on #2700
@mch2 based on the alternative proposal wouldn't it create bi-modal code paths which would couple itself up with the storage layer? I wouldn't recommend this. Lucene commit as @sachinpkale pointed out is certainly expensive and might need modifications in the OpenSearch flush flow as well.

[2022-05-26 03:52] tlfeng commented on #1548
Nearly all the usage of `master` terminology in internal variable, method and class names have been replaced by `cluster manager`, so close the issue.

[2022-05-26 03:52] #1548 closed

[2022-05-26 05:15] mch2 commented on #2700
It's only updated & flushed to disk on a commit.

@Bukhtawar.  Sorry, I meant conceptually to perform more frequent commits instead of the existing refresh behavior, not splitting the code path of a refresh.  I'd be curious how much more expensive commits are with fsyncs turned off.  This would mean we could always write & re-read SegmentInfos from a stable _N file.

If we don't have a function on

[2022-05-26 07:06] tlfeng commented on #3087
My following plan is to:
1. Remove the support of old versions of Elasticsearch server, and make it support all OpenSearch versions correctly.
2. Update unit test correspondingly.

About the unit test, I found there is a [shell script](https://github.com/opensearch-project/OpenSearch/blob/2.0.0-rc1/client/sniffer/src/test/resources/create_test_nodes_info.bash) to generate the response of Nodes Inf

[2022-05-26 12:31] dzeroc opened #3446 "[BUG] documented docker-compose.yml in official guides doesn't work"
Hi,

I'm experiencing that documented docker-compose.yml in official guides doesn't work.

Environment:
OS - Ubuntu 22.04 LTS
Docker Engine - Community - Version:  20.10.15
Docker Compose version v2.5.0

$ cat /proc/sys/vm/max_map_count
262144

I followed [this](https://opensearch.org/downloads.html) and then [this](https://opensearch.org/docs/latest/opensearch/install/docker/#start-a-cluster).

R

[2022-05-26 13:07] dblock commented on #3442
We have https://opensearch.org/faq#q3.28, and I reopened https://github.com/opensearch-project/project-website/issues/661 to publish this.

[2022-05-26 13:07] #3442 closed

[2022-05-26 13:17] dblock commented on #3162
@sruti1312 @kkhatua "PA is an agent", but there's no documentation on how to install or start the agent, so I still don't understand what's required for this issue other than "start an arbitrary process in integration tests". The requirements therefore are completely unclear regarding what you're trying to solve with this issue.

- Does anything need to be installed on top of OpenSearch and where

[2022-05-26 13:21] sachinpkale commented on #2700
@mch2 If we take remote store out of the picture, where are we planning to store SegmentInfos bytes[]? Will it be in memory of primary? Can we create a new file which is appended with new data (or if we want this file immutable, we can replace the file) each time refresh happens? This way, nothing changes once remote store comes into picture.

[2022-05-26 14:07] elfisher commented on #3367
A few questions:

What else is this used for?

Is this on indexing, rebalancing, some other operation or multiple?

How is the AZ count specified?

If user enables balanced_across_awareness_attribute , the total copy needs to be a multiple of all possible values of awareness attribute. If not , we will do one of the following
Reject the create/update index
Auto expand the replica count as per need

[2022-05-26 15:34] sruti1312 commented on #3162
PA Setup instructions for tar: https://opensearch.org/docs/latest/opensearch/install/tar/
RPM: https://opensearch.org/docs/latest/opensearch/install/rpm/

Docker starts up the PA agent process without additional setup.

[2022-05-26 15:43] peternied commented on #3440
@dblock I'll create a pull request in that repo to document then after it is merged this issue should be closed out.

[2022-05-26 16:21] getorca commented on #2083
Just ran into this as well trying to migrate from ES to opensearch. I guess the work around is to use a long?

[2022-05-26 17:30] dreamer-89 commented on #1975
Taken from #3210

To reduce the flaky tests, we can run the Verification tasks in a parallel manner. The tests can be run on either Jenkins or GHA (only if the time is less here as Github provides a 2 x86_64 CPU cores and a 7 GB RAM instance). The current tasks are
[code]

As a POC when ran BWC test independently on GHA (smaller instance) there was an improvement in the time and a little less of t

[2022-05-26 19:35] AMoo-Miki opened #3453 "Sanitize HTML in HTTP error messages"
**Describe the bug**
Some HTTP error responses include unsanitized user inputs. Since the responses are JSON objects with `content-type: application/json`, this is not a security vulnerability but common security scanner raise a false-positive.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `curl "https://.../<script>cross_site_scripting.nasl</script>.asp" --verbose`
2. See `<script>cro

[2022-05-26 21:41] aabukhalil commented on #2000
### Root cause:
Right now, when timeout cancellation Runnable is created in [QueryPhase.java](https://github.com/opensearch-project/OpenSearch/blob/e6475255dea2345807e79b44a9f03e23bfe2a5d7/server/src/main/java/org/opensearch/search/query/QueryPhase.java#L259-L269), it uses `searchContext.getRelativeTimeInMillis()` as `startTime` and to check if time has passed the timeout (multiple calls).  `searc

[2022-05-27 00:00] cliu123 opened #3455 "[BUG] Plugin build with OpenSearch 2.1.0 fails: `Could not find org.apache.lucene:lucene-core:9.2.0-snapshot-ba8c3a8`"
**Description**
Failing GAH: https://github.com/opensearch-project/security/actions/runs/2393711485
The same build passed 7 days ago: https://github.com/opensearch-project/security/actions/runs/2393711485

**Exception**
[code]

**Additional context**
The [Lucene version](https://github.com/opensearch-project/OpenSearch/blame/f76fd5d500e1d63a7af38cb24a7cedf5d64e8098/buildSrc/version.properties#L2)

[2022-05-27 00:21] mch2 commented on #3455
Looks like security is not using the RepositoriesSetupPlugin that sets the maven repo to use for snapshot versions of Lucene.  You'd need to either apply the plugin like [this](https://github.com/opensearch-project/common-utils/blob/4557ed1ee9c05ab8baee9424f74e0c9e7e5aa812/build.gradle#L65) or define the snapshot repository in your gradle file
[code]

[2022-05-27 01:19] opensearch-ci-bot opened #3456 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 5620 in gradle_check log for more information.

[2022-05-27 04:36] mitalawachat commented on #1144
Yes I was proposing admission-control to be executed before request reaches OpenSearch threadpool for execution. Backpressure and circuit-breakers are triggered later.

To achieve it I was thinking we can place a netty handler at [Netty4HttpServerTransport](https://github.com/opensearch-project/OpenSearch/blob/main/modules/transport-netty4/src/main/java/org/opensearch/http/netty4/Netty4HttpServerT

[2022-05-27 05:24] sachinpkale opened #3457 "[Remote Store] Upload index metadata to remote store"
**Describe the solution you'd like**
Along with segments and translog of shards of given index, we should start storing index metadata as well which will help restore data for an index even if cluster state was lost in an outage.

[2022-05-27 09:59] gbbafna commented on #3367
This is used to distribute the shards across the AZs/racks. If there are 2 copies of a shard and 2 zones, 1 zone will have 1 copy of shard.

This is on operations which create/modify index .

Assuming `cluster.routing.allocation.awareness.attributes` specifies `zone` as the attribute,  AZ count is specified via `cluster.routing.allocation.awareness.force.zone.values` .

Below settings illustrate s

[2022-05-27 10:04] gbbafna opened #3461 "Validation of shard copies to be a multiple of unique values of awareness attribute"
**Is your feature request related to a problem? Please describe.**

In cloud HA deployments , customer usually deploy over multiple zones. zone is usually the awareness.attributes in there . However, there is no enforcement of all copies spread evenly across all zones . This can cause uneven distribution of shards and also create shard hotspots. Failure in a single zone might also cause data loss

[2022-05-27 10:20] lobsterdore opened #3463 "[BUG] Restoring Indices Loses ISM Policy Associations"
**Describe the bug**
This is for OpenSearch as a service on AWS. I am working on tearing down the OS Domains overnight to save money.

The process (detailed in 'To Reproduce') restores pretty much everything apart from the ISM config for the restored indices, I cannot seem to restore any of the '.opensearch' indices as this results in a 403, so I am not sure how to bring back restored indices with

[2022-05-27 11:50] ywilkof commented on #2083
We have a use case: we are trying to save the result of XXHash algorithm as a number property, and the output of the algorithm is of type unsigned long. These are too big for the long range and these indexing operations fail as a result.

[2022-05-27 12:01] #2592 closed

[2022-05-27 12:05] vedavidhbudimuri opened #3467 "Support for run_time fields"
Need support for dynamically computed fields and should be able to perform aggregations over them.

script_fields wouldn't be of help as we can't perform further operations like aggregations or sorting on the scripted fields.
Elasticsearch has rolled out support for this type of use-cases, by a feature called `run_time` fields.

Would like to know how to solve such use cases in OpenSearch or would

[2022-05-27 15:04] reta commented on #2083
@ywilkof may I ask you please to share a bit more how you use `the result of XXHash algorithm`, do you search by it fe? The possible options (since the `unsigned_long` is absent) depend on the way this property is being used, thank you.

[2022-05-27 15:05] reta commented on #2083
Correct, assuming the value fits into `signed long` interpretation

[2022-05-27 17:07] reta commented on #2999
@Poojita-Raj taking it if no one is working on it

[2022-05-27 17:17] reshippie opened #3468 "[BUG] repository-s3 plugin doesn't work outside of AWS"
**Describe the bug**
Trying to add a snapshot repository fails on our bare-metal clusters.  I am trying to add an S3-compatible endpoint as our data store, but I get the following stack trace:
[code]
It looks like the plugin is attempting to access EC2 resources for authentication, which is not possible.  I have saved the proper credentials in the the local keystore.

**To Reproduce**
Steps to rep

[2022-05-27 17:23] kapilt commented on #3468
Per standard sdk config I would suggest env cars for credentials to your local s3 compatible store

[2022-05-27 17:53] reshippie commented on #3468
Adding the following to `opensearch.service` had no effect.
[code]
The official documentation at https://opensearch.org/docs/latest/opensearch/snapshot-restore/#amazon-s3 makes no mention of environment variables, except for getting the credentials into the keystore when using Docker.

[2022-05-27 18:33] cliu123 commented on #3455
@mch2 Thank you so much for the suggestions! That works.

[2022-05-27 18:33] #3455 closed

[2022-05-27 19:25] #3112 closed

[2022-05-27 21:04] aysee opened #3469 "On The Fly Encryption Feature Proposal"
## Feature Proposal

This document is a proposal of On The Fly encryption feature that allows OpenSearch to encrypt search indices on the Directory level using different encryption keys per index.

## Why we need it
Enterprise customers require additional controls over data they store in multi-tenanted cloud services. Data encryption with a customer provided key is one of the features these custom

[2022-05-27 21:18] tlfeng commented on #3453
Hi @AMoo-Miki , I created a PR https://github.com/opensearch-project/OpenSearch/pull/3459 to resolve the issue, please take a look when you have time. 😁

[2022-05-28 11:30] willyborankin commented on #3354
Compression for snapshotting I added here: https://github.com/opensearch-project/OpenSearch/pull/2996. @mulugetam Do you implement Lucene codes with ZSTD compression support? It would be grate.

[2022-05-28 15:35] willyborankin commented on #2155
@CEHENKLE and @kartg if you are still interested in refactoring cloud repositories. I can help with it. Wdyt?

[2022-05-28 17:59] nishp77 commented on #3268
Hi team, I'm very new this project and I would like to ask you if you could tell the best way to begin and get to know general overview of it (architecture). I didn't jackson was a parser for java until now, I would like to ask on jackson-databind what is really is? I did some googling but don't know about the underneath of the library

[2022-05-29 04:25] tlfeng commented on #3463
Hi @lobsterdore,

It looks like the problem of "restoring indices with their previous ISM policy assignment" is about the usage of Index Management plugin, so I will transfer the issue to the repository https://github.com/opensearch-project/index-management for their developers to give a better answer.

Before that, I could give you some ideas.
1. According to the document https://opensearch.org/d

[2022-05-30 11:45] gbbafna commented on #3045
Wouldn't that return 5XX to the call and should be okay ? Even in the current scenario of `no_master_block` , it would return a 5XX to the reads.  With `metadata_write`,  the writes would go through  and even the reads when it lands on the partitioned nodes.

[2022-05-30 14:23] reta commented on #2603
@dblock do you think we could have `opensearch-testcontainers` repository under OpenSearch organization? I should be able to submit the pull request for implementation, thank you!

[2022-05-30 14:53] louzadod commented on #3395
It happened with 2.0.0 official release too. I migrated my cluster on 8h30 and the problem started 9h50 and took 1h do stop. It recovered from the error alone (no intervention).
It is critical for us and now it is difficult to revert my upgrade.

[2022-05-30 15:00] lukas-vlcek opened #3476 "[BUG] Docker & Docker compose installed from Homebrew not recognized"
**Describe the bug**

I am trying to setup dev environment on Mac M1 and I have docker installed from Homebrew (`brew install docker docker-compose;`). When I start `assemble` task I get an exception about missing Docker binaries like this:

[code]

I think the issue is that `brew` by default installs binaries into different location. See:

[code]

[code]

The exception seems to be coming from `Do

[2022-05-30 16:28] Bukhtawar commented on #3045
@tharejas I think reads would return 5xx as @gbbafna also pointed if both primary and replica shards are partitioned off, however in this case we won't have divergent writes to start with which would otherwise impact data consistency. Do you still have concerns with the proposed change without additional monitoring in place?

[2022-05-30 18:25] #3382 closed

[2022-05-31 02:08] pytomtoto opened #3479 "[BUG] [ILM] index pattern not work"
**Describe the bug**
I have a index pattern "*,-code*"
to include all index and exclude "code*"

when I use this index pattern to ILM .
I Found it's not work.
[code]
ILM Policy always include all index。

**To Reproduce**
Steps to reproduce the behavior:
like this
create * and -somestring

**Expected behavior**
I want the policy pass some index

**Plugins**
Please list all plugins currently enabled

[2022-05-31 02:46] pytomtoto commented on #3479
Maybe i just set priority to change the index's Policy

[2022-05-31 02:52] HyunSeaHoon commented on #3395
The same symptoms appear in the full version of Opensearch 2.0.

The environment file used for testing is attached.

[ostest.tar.gz](https://github.com/opensearch-project/OpenSearch/files/8801600/ostest.tar.gz)

It still happens as a result of checking for the following:
- 5. After the vm.max_map_count value was changed, I did not experience the symptom that an OptionalDataException error occurred

[2022-05-31 05:37] tlfeng commented on #3446
Hi @dzeroc, thanks for your detailed steps to reproduce!
I followed the steps in the page https://opensearch.org/downloads.html and changed the docker image tag from latest to 1.3.2, but I didn't find the issue you described, and the cluster started finally.

Seeing from the error, looks like the 2 nodes can not detect each other.
In the sample configuration, there are only two master-eligible nod

[2022-05-31 06:14] tlfeng commented on #3479
Hi @pytomtoto ,

Probably this is a feature request for Index Management plugin.
In their user guide (https://opensearch.org/docs/latest/im-plugin/ism/policies/), it's not mentioned that "index_patterns" supports excluding targets with the syntax `-`.
I will ask the team to transfer the issue to [index-managment](https://github.com/opensearch-project/index-management) repository to let the develop

[2022-05-31 07:48] tlfeng commented on #3395
Hi @HyunSeaHoon Thank you so much for providing such detailed steps to reproduce, appreciate your time.
And thanks @louzadod for reporting the issue as well.
I will discuss the issue with the other maintainers, and take it as a high priority.

[2022-05-31 11:55] dzeroc commented on #3446
I've just upgraded docker engine as your environment and it works!!!!!  (tag 2.0.0)

Indeed I upgraded also kernel and rebooted vm but I can't figure out if it was related.

Thank you

[2022-05-31 11:59] dhwanilpatel commented on #479
Hello,

I am going to pick this up again to take this changes to completion. Major feedback on last PR (#554) was to break the changes into multiple PRs for ease of review. Below is plan on how I will be breaking changes into multiple PR.

- [ ] Basic Throttler Framework / Exponential Basic back off policy.
- [ ] Changes required in Master node to perform throttling.
- [ ] Changes required in Data

[2022-05-31 17:09] martin-gaievski opened #3482 "[BUG] Plugin build with OpenSearch 2.1.0 fails at random with: ```Could not GET 'https://d1nvenhzbhpy0q.cloudfront.net/snapshots/lucene/org/apache/lucene/lucene-queries/9.2.0-snapshot-ba8c3a8/lucene-queries-9.2.0-snapshot-ba8c3a8.jar'. > peer not authenticated```"
**Describe the bug**
Local builds of k-NN plugin fail at random after switching to core OpenSearch 2.1.0 in scope of this PR https://github.com/opensearch-project/k-NN/pull/411. Part of the change was adding gradle plugin 'opensearch.repositories' as part of main k-NN gradle build script.

**Exception**
[code]

**To Reproduce**
- Get the latest k-NN main from https://github.com/opensearch-project/

[2022-05-31 17:45] louzadod commented on #3395
There are [breaking changes](https://github.com/opensearch-project/OpenSearch/issues/2480) in the bulk API. Probably Logstash Output Plugin needs some adjustment.

[2022-05-31 18:01] mch2 opened #3483 "[Segment Replication] Update IndexShard recovery path to work with Segment Replication."
Replicas currently use peer recovery when starting up but this has limitations with segment replication.

Peer recovery goes through the following steps when bringing up replicas.
1. Attempt to copy segments.  We can flag this for segrep to always do a file based recovery.
2. Mark the replica as initialized on the primary.  At this point the replica will start receiving new operations and write th

[2022-05-31 20:06] #2926 closed

[2022-05-31 20:19] aabukhalil commented on #1536
I'm looking into this.

[2022-05-31 21:47] tlfeng commented on #3446
@dzeroc I'm so glad that the cluster started successfully in your machine! 🎉
Well I don't believe the docker engine can be a matter with only a "patch" version difference. 😄
I will take a look at the output log, and give update if I got other ideas.

[2022-05-31 21:53] owaiskazi19 commented on #2981
Resolved https://github.com/opensearch-project/opensearch-sdk/issues/6. The issue was because of creating a new transport object for the new CreateComponentRequest which resulted in a new ConnectionManagerMap.

[2022-05-31 22:44] minalsha commented on #221
@nknize how should we take this forward so that respective teams can pick up and we make progress on this meta issue?

[2022-05-31 22:46] minalsha commented on #404
This is a dependency we need to get rid of but we are still using it for Search. @anasalkouz  is this something you can look into since it is related to Search?

[2022-05-31 22:51] minalsha commented on #560
@elfisher  could you please determine how this should be prioritized?

[2022-05-31 22:53] minalsha commented on #566
@nknize  can we close this issue if it is done?

[2022-05-31 22:54] #566 closed

[2022-05-31 22:58] nknize commented on #566
It wasn't done but it is stale so good call out. We need V_EMPTY for now and after some time going through versioning I don't think it's an issue keeping it around so I'm closing and labeling w/ `wontfix`. Thx for circling back!

[2022-05-31 23:01] minalsha commented on #637
@dblock @tlfeng  is this still an issue? Do we need to follow up on this?

[2022-06-01 00:33] mch2 commented on #2700
@sachinpkale For node-node replication the byte[] isn't written to disk, we pull the primary's latest SegmentInfos in memory, ensure all segments it references are incRef'd for the duration of the copy event and then serialize it over the wire.

We could, this is what the snippet above does.  I would prefer we write the object directly to the remote store and avoid the extra flush to the local dis

[2022-06-01 03:18] HugoKuo opened #3484 "[BUG] 400 Bad Request: {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Action/metadata line [1] contains an unknown parameter [_type]""
The filebeat shows this error after upgrading the OpenSearch to 2.0.0

2022-05-31T23:38:55.864Z	ERROR	[elasticsearch]	elasticsearch/client.go:224	failed to perform any bulk index operations: 400 Bad Request: {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Action/metadata line [1] contains an unknown parameter [_type]"}],"type":"illegal_argument_exception","reason":"Action/me

[2022-06-01 13:14] louzadod commented on #3395
The architecture we adopted is as follows:
[Filebeat] --> [Logstash] --> [OS Client Nodes] --> [OS Data Nodes]

When the problem happens, the logs from Logstash to OpenSearch Client Nodes stops flowing. I assumed the problem was on Logstash and tried to restart it. After LS restart, logs were not flowing again.

Only when I restarted the OS Client Nodes, the logs started to flow again. It looks li

[2022-06-01 16:15] jmazanec15 commented on #3355
@reta  Still, for some reason, the get logger by name is much more expensive - perhaps because it is [getting the context](https://github.com/apache/logging-log4j2/blob/rel/2.17.1/log4j-api/src/main/java/org/apache/logging/log4j/LogManager.java#L666) of the log manager class and not the class that is passed in.

By the way, I confirmed that this was the cause of the gradual latency increase. I thi

[2022-06-01 19:20] dreamer-89 commented on #3484
On closer look, `_type` field is defined with `omitEmpty` tag in [BulkMeta](https://github.com/elastic/beats/blob/7.12/libbeat/esleg/eslegclient/bulkapi.go#L55) struct, which means if _type is nil then _type should be absent in converted json bulk request.

@HugoKuo Can you please share one beat event which is been used for ingestion to OpenSearch.

[2022-06-01 21:09] saratvemulapalli commented on #2598
Cool. I'll close this one for now. Feel free to re-open if we need it.

[2022-06-01 21:09] #2598 closed

[2022-06-01 22:28] dreamer-89 commented on #850
@tlfeng : Thanks for the deep dive and summary of actions to be done. With jenkins still choice of infra; I think we are unblocked on #1320

[2022-06-02 16:43] tlfeng commented on #3453
The solution:
In the comment https://github.com/opensearch-project/OpenSearch/pull/3459#discussion_r886100693, it's found that invalid HTTP method from user input can contains HTML script as well.

The PR #3459 filtered out the unescaped HTML special characters in both URI and HTTP method.
If the URI is valid, the error message remains.
If the URI is not valid, the change is:
old error message: `{

[2022-06-02 16:56] #2999 closed

[2022-06-02 17:23] dreamer-89 commented on #1975
Just had discussion with @peterzhuamazon @prudhvigodithi @zelinh around feasibility of having existing gradle check on github (for existing developer experience) but running the multiple jobs in different docker container. Each job runs mutually exclusive subset of verification tasks which are run with gradle check today.

Today, gradle check runs a subset of verification tasks; say A, B, C, ....,

[2022-06-02 18:09] reta commented on #2999
@scaswell-tsys do you have the opportunity to verify the IRSA flow? (it was tested successfully on AWS EKS)

[2022-06-02 20:51] shdubsh opened #3492 "[BUG] ‘bash -e’: No such file or directory"
**Describe the bug**
After converting scripts to use /usr/bin/env, scripts fail to execute due to flags set in shebang line.  This issue was introduced in PR #1047.

**To Reproduce**
Steps to reproduce the behavior:
1. Build debian package via gradle
2. Install on Debian Buster (dpkg -i)
3. Observe:
[code]

**Expected behavior**
The package should execute install scripts without error and complete

[2022-06-02 21:08] peterzhuamazon commented on #1975
@dreamer-89 Correction:
it does not need to be multiple workflow, but multiple container within each run.

[2022-06-02 22:46] joshpalis opened #3495 "[Feature/Extensions] getNamedWriteables - Add support for extensions"
Add extension framework support for getNamedWriteables extension point.

[2022-06-02 22:47] joshpalis commented on #3495
Design for default extension point support for getNamedWriteables.

Extension Point Purpose :

- When plugins override getNamedWriteables() with their own implementation, they are able to register custom parsers for Named Objects that implement the Writeable class within the NamedWriteableRegistry. Similar to the NamedXContent registry, the Named Writeable Registry entries consist of a category cl

[2022-06-02 22:53] minalsha commented on #3495
Love the details @joshpalis . TY

[2022-06-02 23:57] anasalkouz commented on #2922
I think what customer need is to create index backed by existing snapshot, which they will use the Create Index API?
but why we need to extend Snapshot Restore API? what the use-case for this?

[2022-06-03 03:09] tlfeng commented on #1684
The plan to resolve this issue is:
- In `2.x` branch:
1. Add `@deprecated` annotation to all public and protected class/method/field names, which contain master word.
2. Add alternative class/method/field that replace "master" with "cluster manager".
3. No new test will be added.
- In `main` branch:
1. Replace all public and protected class/method/field name that contains  "master" word with "clus

[2022-06-03 03:31] imRishN opened #3497 "[BUG] Cluster fails to rebalance itself when skew_factor in NodeLoadAwareAllocationDecider is set to 0"
**Describe the bug**
After a partial outage in a cluster with 3 availability zone setup and `skew_factor` set to `0`, we expect that all shards get assigned again once the cluster recovers assuming cluster had indices with `n` primary and `1` replica. But we see transiently that shards remain unassigned even after cluster has recovered and all nodes are up.

**To Reproduce**
Steps to reproduce the

[2022-06-03 05:49] thom-vend opened #3498 "[BUG] inappropriate http 429 when trying to index on read-only indice (using aws and ultrawarm node)"
**Describe the bug**
If you try to add a document on a read-only index, migrated on ultra warm node,
the cluster will reply to you with an HTTP error code 429 and:
`TOO_MANY_REQUESTS/12/disk usage exceeded flood-stage watermark, index has read-only-allow-delete block`

It seems inappropriate as for example logstash output plugin for opensearch retry indefinitely on http 429 and 503
See: https://gi

[2022-06-03 18:24] #3492 closed

[2022-06-03 19:52] nknize commented on #3484
@dreamer-89 is right. The error is tripped from the [BulkRequestParser](https://github.com/opensearch-project/OpenSearch/blob/9ce845500c3901342d3cc000aa42d0a0afb8c38c/server/src/main/java/org/opensearch/action/bulk/BulkRequestParser.java#L225).

The new [errorOnType](https://github.com/opensearch-project/OpenSearch/pull/2215/files#diff-267f51eb18d39f5fffd66c9bd03d4e05b07ccce914ac9d7510b5b67587c4cb

[2022-06-03 20:53] kartg commented on #2155
@willyborankin we're definitely still interesting in refactoring these plugins. Would you be willing to attempt a first pass with one of the plugins, and we can iteratively refactor the rest?

[2022-06-04 00:10] dreamer-89 opened #3506 "[Bug]: Failed gradle check job reported as success on github"
### Describe the bug

Gradle check failure https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/5766/artifact/gradle_check_5766.log has legit failures but job marked as succeeded on jenkins. It can be a legit gradle bug or scripts we have written but need some deep dive.

Identified in https://github.com/opensearch-project/OpenSearch/pull/3505

### To reprod

[2022-06-04 00:49] dreamer-89 commented on #2296
An issue is identified with OpenSearch 2.0 where elastic/beat client integration broke. As per discussion, rest layer versioning is a required feature and is getting tracked separately in https://github.com/opensearch-project/OpenSearch/issues/3035

[2022-06-04 01:06] Bukhtawar commented on #3498
Hi @thom-vend I guess this issue isn't specific to AWS. Flood stage watermark returning 429 seems correct based on the throttling it does. 429 is the standard error code for resource overload like memory, disk etc and might indicate a transient or a prolonged overload.
Wanted to confirm if better documentation should help here

[2022-06-04 04:51] tlfeng commented on #3506
Similar to issue https://github.com/opensearch-project/OpenSearch/issues/2878. I also found that gradle check passes even if YAML REST API BWC test failed. 😄

[2022-06-04 05:05] dreamer-89 commented on #3506
Thanks @tlfeng for sharing this. Closing this issue in favour of #2878

[2022-06-04 05:05] #3506 closed

[2022-06-04 05:08] dreamer-89 commented on #2878
This issue can result in failure to identify changes, which actually break backword compatibility. Thus, adding `high-priority` label.

[2022-06-04 10:34] flavienbwk commented on #1483
Our society has a serious problem with intellectual honesty: biased by ultra-minority political opinions from people who just yell loudly.

It's even worse here: OpenSearch engineers, only witnessing their [close surrounding](https://github.com/opensearch-project/OpenSearch/issues/1483#issuecomment-1010005537) is bothered by this "black/white terminology", are totally disrupting the roadmap with a

[2022-06-04 21:20] Jon-AtAWS opened #3507 "[Feature Request] Package and export all cluster configuration, including plugins"
**Is your feature request related to a problem? Please describe.**

Create an API that packages all configuration necessary to recreate the cluster, either for mirroring the cluster to a different location, or for HA/DR. At present, the _snapshot API exports a portion of the config (and data) needed. However, much of the plugin configuration is missing, necessitating its recreation via a large num

[2022-06-05 12:59] opensearch-ci-bot opened #3510 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 5781 in gradle_check log for more information.

[2022-06-06 09:47] sachinpkale opened #3511 "[Remote Store] Delete data from remote store (translog and segments) on index delete"
**Describe the solution you'd like**
When an index is deleted, corresponding translog and segment data should be deleted from remote translog and remote segment store.

[2022-06-06 13:09] dipenpatel235 opened #3512 "opensearch monitor ctx.result not return valid formate data"
**Describe the bug**
I have cleated opensearch cluster and implementing the opensearch alerting monitor.
i have used ctx.result to get data but ctx.result not respond with the proper formate data. please look at the data.

`
{
    0={_shards={total=327, failed=0, successful=327, skipped=0
        }, hits={hits=[
                {_index= filebeat-2022.04.10, _type=_doc, _source={agent={hostname= li

[2022-06-06 13:22] opensearch-ci-bot opened #3514 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 5788 in gradle_check log for more information.

[2022-06-06 16:01] penghuo commented on #1629
Good point. Instead of using String.hashcode for string, I think using globalOrdinal for string value. But not verified yet.

[2022-06-06 18:55] saratvemulapalli commented on #2650
Thanks @reta !
@gressc do you have any other questions, if not can we close this issue?

[2022-06-06 20:41] #3087 closed

[2022-06-06 21:38] tlfeng commented on #3087
PR https://github.com/opensearch-project/OpenSearch/pull/3487 resolves the issue, and the change has been backported into 2.x and 2.0 branches, by PR https://github.com/opensearch-project/OpenSearch/pull/3521 and https://github.com/opensearch-project/OpenSearch/pull/3522.

[2022-06-07 00:07] KnowledgeGarden opened #3523 "Setting number of shards and replicas in 2.0 needs to be documented"
**Is your feature request related to a problem? Please describe.**
The online documentation for the 1+ version is explicit on ways to configure number of shards and replicas.
The online documentation for the 2.0 version has no such example. Perhaps it is the case that setting those values was moved to some other API, but

- It's not at all easy to find by using search around the repo
- It's not do

[2022-06-07 02:43] thom-vend commented on #3498
Hi @Bukhtawar,

When used with logstash opensearch output plugin it would be a different behaviour and make it not retry infinitely!

[2022-06-07 03:56] wessRay commented on #3222
Hi there, I have changed the tag to use `1.3.2` instead of `latest`, but when i started up the cluster it's still stuck on `java.lang.IllegalArgumentException: indexCreatedVersionMajor is in the future: 9`

any solution for this?

[2022-06-07 08:09] amalgamm commented on #3395
Hi! Any update on this one?
I've got the same problem after upgrading from 1.2.4 to 2.0.0. I've got 2 data nodes and 1 master node. Several times during a day this stuff happens on random node. Cant read or write to this node until restart. Also no related warning or errors in +-5 minutes period.
Writing data directly to data nodes with fluent-bit (opensearch input), reading with grafana and opens

[2022-06-07 08:42] olwe0002 opened #3526 ""Failed to update the monitor" after updating existing monitor config (and selecting notification channel)"
After updating to Opensearch 2.0.0 (via Helm Chart 2.0.1), there is a new error in place:

On updating an existing monitor config, e.g. selecting a channel on a notification entry and click on "Update", the following message occurs:

`[illegal_state_exception] Can't get text on a START_OBJECT at 1:1552`
depending on the monitor config sometimes a different line number:
`[illegal_state_exception] C

[2022-06-07 10:35] JustinasKO commented on #3395
Same happens here. Multiple times a day Logstash fails to sent logs to OpenSearch cluster. Started happening after upgrade to V2.
Is downgrading back to v1.3.2 an option? maybe some other workaround?

[2022-06-07 13:22] louzadod commented on #3395
The only workaround that is helping me a lot is to schedule restart hourly for the client nodes. This reduced the problem a lot, but of course is an ugly workaround.

[2022-06-07 15:16] #2650 closed, assigned to nobody

[2022-06-07 16:44] dreamer-89 commented on #3512
@dipenpatel235 Can you please share the repro steps ?

[2022-06-07 18:40] minalsha commented on #3343
@owaiskazi19  any proposed solutions you have that you can document so that someone can pick it up?

[2022-06-07 20:04] anasalkouz opened #3532 "Testing non-Amazon clients and libraries"
**Is your feature request related to a problem? Please describe.**
Currently, we don't have any automated mechanism to test OpenSearch releases against 3rd party clients or libraries that we don't have any control on. For example: After we released 2.0, an [issue](https://github.com/opensearch-project/OpenSearch/issues/3484) reported that filebeat shows an error after upgrading the OpenSearch to 2

[2022-06-07 22:33] dutsuwak commented on #3468
I am getting the same behavior on the same version (1.3.1), without even using a custom endpoint, just with the default one. Is this a known bug?

[2022-06-08 00:14] xuezhou25 commented on #3526
Hi @olwe0002, looks like you are working on updating the monitor and this is more of alerting issue. Will transfer this issue to alerting repo.
@opensearch-project/transfer-request

[2022-06-08 04:22] dipenpatel235 commented on #3512
@dreamer-89

1) I have installed opensearch version 7.10.2.
2) zeek vesion 2.13.0 on client sensor.
3) installed filebeat (7.10.2), and metricbeat(7.10.2) on sensors. and filebeat collect log of zeek and sending to the Elasticsearch
4) created Alert > monitor  > write query for generate alert > sending to webhook
5) then received data on webhook that i have show.

![image](https://user-images.gith

[2022-06-08 05:17] dreamer-89 opened #3535 "Identify existing integration with external clients and patch which are needed for 2.0.1 release"
### Summary
As part of this issue, we need to identify integration with external clients which might currently be broken with OpenSearch 2.0. Integration can be broken because of how clients interpret engine version(beats) or communication mechanism(logstash). Once integration points are identified, patch the ones which are important.

### Background
As part of #3484, we identified that OpenSearch

[2022-06-08 08:37] willyborankin commented on #2155
Sure will prepare PR during this week

[2022-06-08 08:44] willyborankin commented on #3354
@mulugetam This is perfect. I misread your comment about LZ4 looks really good. Regarding lz4 and InputStream, I can implement it like it was done for Kafka here: https://github.com/apache/kafka/tree/99b9b3e84f4e98c3f07714e1de6a139a004cbc5b/clients/src/main/java/org/apache/kafka/common/compress.

[2022-06-08 08:48] willyborankin commented on #3354
Maybe it makes sense to add a global parameter such this:
`cluster.compression_type: ` which defines compression type both for indexes and snapshotting. WDYT?

[2022-06-08 12:51] reta commented on #3354
@willyborankin what would be the benefit to compress LZ4 indices with LZ4 again while snapshotting?

[2022-06-08 13:06] reta commented on #3354
Ok, let me go back to your original question:

cluster.compression_type: which defines compression type both for indexes and snapshotting.

Let say the indices are compressed with LZ4 / ZSTD, what would be the benefit to compress them again with LZ4 / ZSTD while snapshotting? I am trying to understand this part.

[2022-06-08 13:11] willyborankin commented on #3354
The idea is to set this parameter in case you want to use the same compression for indexes and snapshotting otherwise use lets say a granular settings for indexes and snapshotting separately.

[2022-06-08 16:06] chandu54 opened #3538 "Support for unsigned_long as same as in elastic search"
**Is your feature request related to a problem? Please describe.**
Yes. We had a requirement where we need to ignore the sign (+/-) while searching the data.

**Describe the solution you'd like**
Provide unsigned_long data type as same as in elastic search.
Refer https://www.elastic.co/guide/en/elasticsearch/reference/current/number.html
**Opensearch Doc**: https://opensearch.org/docs/latest/searc

[2022-06-08 16:17] saratvemulapalli commented on #2480
Closing this issue as 2.0 is out.

[2022-06-08 16:47] lukas-vlcek opened #3539 "[BUG] Upgrade minio image to more recent version"
**Describe the bug**

**tl;dr:**

Shall we upgrade minio image version?

**More details:**

The minio image version used in fixtures is quite dated:
https://github.com/opensearch-project/OpenSearch/blob/81a77aaae66fc993d52c461164ebcefcd6fd2124/test/fixtures/minio-fixture/Dockerfile#L1

As of writing when docker compose of the minio fixture is run we can see three containers being started like this

[2022-06-08 18:05] #3440 closed, assigned to nobody

[2022-06-08 21:29] tlfeng opened #3542 "Deprecate package 'org.opensearch.action.support.master'"
**Is your feature request related to a problem? Please describe.**
A part of issue https://github.com/opensearch-project/OpenSearch/issues/1684.
To support inclusive language, the `master` terminology is going to be replaced by `cluster manager` in the code base.

The goal for this issue is:
1. Deprecate the package `org.opensearch.action.support.master`, which is the only package contains "master

[2022-06-08 21:30] tlfeng opened #3543 "Deprecate public or protected class that contains "master" terminology in 'server' and 'test/framework' directory"
**Is your feature request related to a problem? Please describe.**
A part of issue https://github.com/opensearch-project/OpenSearch/issues/1684.
To support inclusive language, the `master` terminology is going to be replaced by `cluster manager` in the code base.

The goal for this issue is:
1. Deprecate the public/protected classes that has "master" in the names. The involved classes are located

[2022-06-08 21:33] tlfeng opened #3544 "Deprecate public or protected method and variable that contains "master" terminology in 'server', 'client/rest', 'client/rest-high-level' and 'test/framework' directory"
**Is your feature request related to a problem? Please describe.**
A part of issue https://github.com/opensearch-project/OpenSearch/issues/1684.
To support inclusive language, the `master` terminology is going to be replaced by `cluster manager` in the code base.

The goal for this issue is:
1. Deprecate the public/protected methods and variables that have "master" in the names. The involved metho

[2022-06-08 22:54] saratvemulapalli commented on #3539
@lukas-vlcek assigned this to you as you've already picked it up.

[2022-06-08 23:43] martin-gaievski opened #3545 "[RFC] Lucene based kNN search support in core OpenSearch"
This document proposes integrating [Lucene 9.0’s recent addition of Approximate Nearest Neighbor search](https://issues.apache.org/jira/browse/LUCENE-9004) into OpenSearch.

## Problem Statement

k-NN Search has gained popularity over recent years with the growing use of ML. A few applications include recommendation systems, NLP services, and computer vision.

A brute force nearest neighbor search

[2022-06-09 04:13] lucabusin opened #3546 "[BUG] The location field generated by logstash GeoIP filer does not get recognised as GeoJSON type (geo_point)"
**Describe the bug**
The geoip filter in logstash generates a `geopoint.location` field, among others, that should be recognised as `geo_json` field but is instead split into 2 separate fields, `geopoint.location.lon` and `geopoint.location.lat` as numbers. This prevents the location to be used in map visualisations.

**To Reproduce**
Steps to reproduce the behavior:
1. Add this to the logstash fi

[2022-06-09 05:05] xuezhou25 commented on #3523
Hi @KnowledgeGarden , Could you add the example link of the documentation?
Please transfer this issue to OpenSearch [documentation-website](https://github.com/opensearch-project/documentation-website) @opensearch-project/opensearch-triage

[2022-06-09 05:39] sachinpkale opened #3547 "[Remote Store] Move repository fetch logic from IndexService to RemoteDirectoryFactory"
This adds support for https://github.com/opensearch-project/OpenSearch/pull/3460#discussion_r892279084

[2022-06-09 09:19] JustinasKO commented on #3395
Yes as temp workaround we run 'DELETE _plugins/_security/api/cache' this solves the problem till next cache expire.

[2022-06-09 15:26] sachinpkale opened #3548 "[Remote Store] Inject the RemoteStoreRefreshListener in the indexShard constructor"
This change resolves https://github.com/opensearch-project/OpenSearch/pull/3460#discussion_r893517102 and https://github.com/opensearch-project/OpenSearch/pull/3460#discussion_r893490049

This change also involves creating `NoOpRemoteStoreRefreshListener` for replicas. Based on primary/replica, corresponding implementation of RemoteStoreRefreshListener will be injected.

[2022-06-09 18:55] kotwanikunal commented on #2412
@minalsha I don't think this was prioritized and is being actively looked into.
@CEHENKLE / @anasalkouz

[2022-06-09 19:10] reta opened #3553 "Update merge on refresh and merge on commit defaults in Opensearch (Lucene 9.3)"
**Is your feature request related to a problem? Please describe.**
The Apache Lucene 9.3 made merge-on-refresh enabled by default [1].

[1] https://github.com/apache/lucene/pull/921/files

**Describe the solution you'd like**
The Opensearch merge policy has to be updated in order to accommodate this change.

**Describe alternatives you've considered**
N/A

**Additional context**
Related to https:/

[2022-06-09 19:10] reta commented on #3553
@nknize fyi

[2022-06-09 19:16] cliu123 opened #3554 "[BUG] OpenSearch 2.1.0 SNAPSHOT recent changes fail security plugin integration tests"
**Describe the bug**
JSON is not parsed properly by Jackson.

**To Reproduce**

- The failing GHA: https://github.com/opensearch-project/security/runs/6807080046?check_suite_focus=true

- One of the failing tests: https://github.com/opensearch-project/security/blob/f431ec2201e1466b7c12528347a1f54cf64387c9/src/test/java/org/opensearch/security/dlic/rest/api/RolesMappingApiTest.java#L51
- Running th

[2022-06-09 19:53] cliu123 commented on #3554
Security plugin has to downgrade to OpenSearch 2.0.0 because of this issue: https://github.com/opensearch-project/security/pull/1882

[2022-06-09 20:29] tlfeng commented on #3554
@reta 😄 It's not likely related to the parsing change in Node Sniffer, because the change is limited to the Sniffer, and Sniffer is a separate library based on Rest Client, which is not used by security plugin. All json format data is parsed by `fasterxml.jackson` in the code.

[2022-06-09 20:55] cliu123 commented on #3554
@reta @tlfeng Thanks for checking the issue! Security plugin has downgraded to OpenSearch 2.1.0 where this issue doesn't exist. Please let us know when the root cause gets identified and the issue gets fixed. We're happy to verify the fix.

[2022-06-09 21:09] reshippie commented on #3468
We finally made it work.
I don’t remember how I initially created /etc/opensearch/opensearch.keystore but when I run /opt/opensearch/bin/opensearch-keystore create it puts the new keystore file in /opt/opensearch/config

So I removed all of the credentials from the keystore, made sure it was created in the /opt/opensearch subdirectory on every node, then copied that into /etc/opensearch, reloaded

[2022-06-09 21:09] #3468 closed

[2022-06-09 21:30] nknize commented on #3222
Looks to me like `node1` was upgraded to OpenSearch 2.0 and now you're trying to downgrade back to 1.3.2. If you fired up a docker instance running OpenSearch 2.0 pointing to `/home/opensearch/node1/data:/usr/share/opensearch/data` then the segments in that data directory will be upgraded for you to Lucene 9. This is how "rolling upgrades" work. Simply changing the label back to 1.3.2 will change

[2022-06-09 21:57] aabukhalil commented on #1536
I think that Shard Idle feature by itself is causing inconsistent search performance even without the adaptive replica selection (when cluster has low search traffic or when `_routing` is used and that happened to me in the past and I had hard time figuring out that explicitly setting `refresh_interval` solve high percentile latency ).

With combination of Adaptive Replica Selection, it is causing

[2022-06-09 22:11] xuezhou25 commented on #3554
👀

[2022-06-09 23:25] xuezhou25 commented on #3554
In my point of view, the error `JsonParseException` is not the fail reason because there is the same error in 2.0.0.
The actual cause for the test failure is PR#[3524](https://github.com/opensearch-project/OpenSearch/pull/3524), commit https://github.com/opensearch-project/OpenSearch/commit/fc8803fe5f34b948a888365851cc46e320b40f81.
In create document API:
In version 2.0.1 and above, "type" paramet

[2022-06-10 08:10] satyajitg28 commented on #3286
Ideas and concerns around this:
1. Any hard-coded or predetermined name of the repository can conflict with an already existing repository that the customer might have.
2. For a configurable name or a name that the customer wants to choose, we might have to expose it as a non-dynamic (not update-able) cluster setting, and hence, the repository name has to be initialised in the settings file (yml)

[2022-06-10 08:15] deltaguita commented on #3098
@crystal-lee
How to update and compile?
Thx!

[2022-06-10 08:40] dbonf opened #3557 "[BUG] opensearch crashes on closed client connection before search reply"
**Describe the bug**
In some circumstances, when running a search operation, if the client TCP connection is closed before the search operation is completed, opensearch crashes with:
[code]

**To Reproduce**
Steps to reproduce the behaviour:

We can consistently reproduce this behaviour in several environments.

1. run the long running search query, e.g. `curl -s "http://localhost:9200/myindex*/_s

[2022-06-10 11:05] dbonf commented on #3557
this could be similar to https://github.com/elastic/elasticsearch/issues/71453

[2022-06-10 12:41] elfisher commented on #3469
Thanks for putting this proposal together @aysee! I'm a big fan of expanding the encryption options within OpenSearch to make it more flexible. There are a couple of things that come to mind we might want to think more about from an experience perspective (@setiah would want your thoughts on this too).

1. On the key management side it looks like there would be a need to have both a remote key man

[2022-06-10 18:28] Rishikesh1159 opened #3558 "Implement Replaying on new checkpoints received by replica shard"
With issue https://github.com/opensearch-project/OpenSearch/issues/3110, ReplicationCheckpoints will be validated and sent for processing by onNewCheckpoint().  But if a new checkpoint is received to replica shard while previous checkpoint is in progress, the new checkpoint should be replayed after processing current checkpoint. This implementation is not present currently.

The scope of this issu

[2022-06-10 19:31] dtaivpp commented on #2877
@reta or @dblock can we tag this for 2.1 release? I talked with @ylwu-amzn and it is ready to roll.

[2022-06-10 20:19] reta commented on #2877
Sorry for that @dtaivpp , lost this one somehow, looked and commented

[2022-06-10 20:22] dtaivpp commented on #2877
@reta all good I cant keep track of any of it 😅

[2022-06-10 21:18] kotwanikunal commented on #3067
Next steps:
- Identify if there are additional APIs with an atomic approach.
- Define an approach for the possible solution if there are other APIs found as a part of the first step.

[2022-06-10 22:05] #3554 closed

[2022-06-10 22:06] cliu123 commented on #3554
Thanks @xuezhou25 @dreamer-89 @tlfeng helping with this issue!

[2022-06-10 22:55] tlfeng commented on #3554
Draw a conclusion here, looks like security plugin have to do nothing with the test, since the behavior of "type" parameter in the REST API is changed back to the same as 2.0.0 in the commit https://github.com/opensearch-project/OpenSearch/commit/6462a546240f6d7a158519499729bce12dc1058b, "type" is not allowed as a parameter.

[2022-06-11 00:55] opensearch-ci-bot opened #3562 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 5902 in gradle_check log for more information.

[2022-06-13 03:27] zenbones opened #3564 "Fluent bit fails to insert documents into a data stream"
After creating a data stream 'foobar' an index will get created with a name like .ds-foobar-00001, but you can add docs to the data stream with a POST foobar/_doc, and search against the foobar index, while the actual data stream indexes are hidden behind this virtual construction. All that works, thank you. But if I setup a fluent bit forwarder with the es plugin, forwarding to index foobar, I ge

[2022-06-13 05:35] Bukhtawar opened #3565 "[BUG] Test Failure org.opensearch.qa.verify_version_constants.VerifyVersionConstantsIT#testLuceneVersionConstant"
[code]

[2022-06-13 07:01] cliu123 commented on #3554
A quick clarification on the conclusion: The fix in security plugin tests were a part of [the version bump PR](https://github.com/opensearch-project/security/pull/1881).

[2022-06-13 08:37] Bukhtawar commented on #3565
Possibly relates to https://github.com/opensearch-project/OpenSearch/pull/3537
/cc @nknize

[2022-06-13 09:56] kristoflarcher opened #3566 "Java Appender for OpenSearch"
Hi,
  I was used to ship logs my java applications  directly to Elasticsearch
( using this kind of lib : https://jitpack.io/#skuppa/logback-elasticsearch-appender )
Since I switched to Opensearch  : i cant find any java libraries that do the job.

Will you manage to develop an Opensearch java log appender  working with log4j.logback ?

Regards

[2022-06-13 14:55] #3565 closed

[2022-06-13 15:23] amitgalitz commented on #3395
Experienced the exact same error on a OS 2.0 cluster without Logstash. It occurred after indexing close to 1 billion documents with elasticsearch python client (7.10.0). Same exact python code didn't show the error on 1.3 OS and also the error doesn't happen consistently on OS 2.0 either.

[2022-06-13 17:50] brijos commented on #2877
Adding a meta issue to track the engineering work as well as future documentation and blog posts.

[2022-06-13 20:22] zenbones commented on #3564
Never mind. Found the terraform resource aws_opensearch_domain which does not require the additional saml provider.

[2022-06-13 20:31] saratvemulapalli commented on #3495
Thanks @joshpalis for detailed notes.

To give out a summary, we are trying to run plugins as a standalone process.
`getNamedWriteables` adds support to understand messages transported by plugins.
Unfortunately when we'd like to run them as extensions, we do not have the class definitions to deserialize the messages (Because OpenSearch wouldn't not understand it or has the capability to decrypt it

[2022-06-13 20:54] aabukhalil commented on #3395
I will be looking into this.

[2022-06-13 22:24] jmazanec15 commented on #3355
Im still not sure why it is so much more expensive. It looks like it might be a combination of log4j's LoggerManager.getLogger(String name) causing more stack walks than LoggerManager.getLogger(Class class) and [the size of the resolved method table in OpenJDK-11](https://bugs.openjdk.org/browse/JDK-8221393).

That being said, I am not sure what the action items should be (if any). In general, I t

[2022-06-13 22:30] aysee commented on #3469
Thank you @elfisher for your feedback and questions!

**Key management**

A simple answer is that we can make an abstraction layer for a key store communication - define an SPI, make it pluggable, and configurable. If we define basic operations like data encryption key generation and data key decryption, we can support multiple key stores. However, the devil is in the details and multiple key stor

[2022-06-13 23:38] dblock commented on #1144
@mitalawachat I understand why admissions control is better _in theory_ than the existing backpressure/cb methods, but you still have to show at least anecdotal examples where those are net worse than a whole new admissions control feature - note that multiple ways to prevent the cluster from overloading may have disadvantages for users to reason about

[2022-06-13 23:41] dblock commented on #3467
AFAIK there's nobody working on this, but it's a good feature!

[2022-06-13 23:56] dblock commented on #2603
Sorry for the delay @reta, @CEHENKLE @bbarani  you're cool with a new `opensearch-testcontainers` repo?

[2022-06-14 01:11] opensearch-ci-bot opened #3575 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 5957 in gradle_check log for more information.

[2022-06-14 03:37] sachinpkale commented on #3145
We have decided to go with a separate REST endpoint.
PR link for adding rest endpoint for restore: https://github.com/opensearch-project/OpenSearch/pull/3576

[2022-06-14 04:44] Bukhtawar commented on #3497
Resolved by #3563

[2022-06-14 04:50] xuezhou25 commented on #3562
Solved by 92b3cbb0e5827b1eebf0d61f7eaf2211e9be22ab

[2022-06-14 04:50] #3562 closed

[2022-06-14 08:59] CEHENKLE commented on #1018
@anasalkouz heya Anas -- what's the latest on this?

[2022-06-14 09:07] CEHENKLE commented on #1018
(question is also for @macrakis) :)

[2022-06-14 10:40] yyyogev opened #3578 "[BUG] Uppercase Regex in String queries search"
Regex search on analyzed fields doesn’t work with capital letters now as if the analyzer saves them lower cased, or doesn't use the standard analyzer for some reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an index and add a doc containing uppercase letters to it (e.g `message: this is a TLS handshake`)
2. Perform this search request:
`{"query": {"bool": {"must": [{"query_str

[2022-06-14 12:44] reta commented on #3578
@yyyogev could you please share the mapping for `message` field?

[2022-06-14 13:04] opensearch-ci-bot opened #3579 "[BUG] Test Failure org.opensearch.cluster.routing.allocation.decider.DiskThresholdDeciderIT.testHighWatermarkNotExceeded"
@opensearch-project/opensearch-core team, please take a look at Build 5977 in gradle_check log for more information.

[2022-06-14 13:32] reta commented on #3578
@yyyogev OK, in this the assumption is that you use standard analyzer [1] for the `message` field as well, which includes [Lower Case Token Filter](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/analysis-lowercase-tokenfilter.html). As such, the behavior your are observing is expected. There are three options to align search with the ingestion:
- use `"analyzer":"standard"` (as you d

[2022-06-14 13:44] yyyogev commented on #3578
This behavior was different at ES 6.8, is there documentation for this change of behavior anywhere?

[2022-06-14 14:04] Bukhtawar commented on #3497
Re-opening to ensure we close on backport

[2022-06-14 15:13] reta commented on #3578
I am not aware on any changes to be fair on search side, perhaps there are differences on ingestion side (mappings).

[2022-06-14 15:38] olwe0002 commented on #3526
thanks. Seems like this transfer did not work. So I created the issue there too - https://github.com/opensearch-project/alerting/issues/470 and will close it here.

[2022-06-14 15:38] #3526 closed

[2022-06-14 15:38] dblock commented on #2598
I'm reading this issue and it sounds like OpenSearch generates `opensearch-min-2.0.0-SNAPSHOT.x86_64.rpm` and it should really be `opensearch-min-2.0.0-SNAPSHOT.arm64.rpm`. To work around this we are doing renaming in opensearch-build? As @saratvemulapalli points out in https://github.com/opensearch-project/OpenSearch/issues/2598#issuecomment-1075590534, we should make this change here and not ren

[2022-06-14 16:13] dblock commented on #3498
If the index becomes read-only, then you could see it as a permission denied? 403 Forbidden?

[2022-06-14 16:21] Bukhtawar commented on #3498
403 is easy to confuse with auth failures, other than that its should be fine @dblock

[2022-06-14 16:42] dblock commented on #3545
I like having choices, and appreciate having to think about memory/performance tradeoffs, so +1 to exposing a Lucene implementation.

Regarding the questions, I can speak to (2). We had implemented brute-force k-nn with euclidean distance, then LSH, then [nn-descent](https://www.cs.princeton.edu/cass/papers/www11.pdf) at [Artsy](https://github.com/artsy). The distance measure works differently for

[2022-06-14 16:48] dblock commented on #3546
Do you have a ticket with the Managed AWS OpenSearch support yet? I think you should open one.

[2022-06-14 16:50] peterzhuamazon commented on #2598
Hi @dblock,
It should be x64 not arm64 for x86_64, tho it really does not matter as that is not the product we will release anyway.
Plus the manifest will also use the existing name of the file so it will not mess up anything is the build.

Thanks.

[2022-06-14 16:52] peterzhuamazon commented on #2598
Also @dblock I fear the changes might somehow cause the min rpm to not able to install like in OSD, and that is why I am very hesitate to even change this, see:
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1401

[2022-06-14 18:23] dblock commented on #3469
How will this feature interact with snapshots? Specifically, should one be able to take a snapshot without decrypting?

[2022-06-14 18:28] dblock commented on #3354
This is tangentially related to encryption, #3469, just putting it on the radar here so we can think of consistent behavior in indexes vs. snapshots.

[2022-06-14 18:29] xuezhou25 commented on #3579
[code]

[2022-06-14 18:34] xuezhou25 opened #3584 "[BUG] Test Failure org.opensearch.index.engine.NRTReplicationEngineTests.testUpdateSegments"
**Describe the bug**
Comes from https://github.com/opensearch-project/OpenSearch/pull/3568#issuecomment-1154722879

**To Reproduce**
[code]

**Host/Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2022-06-14 18:45] minalsha commented on #2811
IS this blocking your team? @jmazanec15

[2022-06-14 18:48] minalsha commented on #2915
@akamachi95  please feel free to open up this issue again or ask any follow up question. for now we will close this issue since we havent heard from you.

[2022-06-14 18:48] #2915 closed

[2022-06-14 23:02] kavilla opened #3586 "[BUG] exception: Reason: java.io.OptionalDataException"
@StefanSa commented on [Fri Jun 03 2022](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1673)

**Describe the bug**
All this time v2 ran without a problem.
As of today, opensearch-dashboard can no longer be started.

error message:
[code]

**To Reproduce**
systemctl start dashboards

**OpenSearch Version**
v2.0

**Dashboards Version**
v2.0

**Screenshots**

If applicable, add s

[2022-06-14 23:23] dreamer-89 commented on #850
Generated codecov report on local machine and uploaded on server against forked repository. The results shows ~70% code coverage.

https://app.codecov.io/gh/dreamer-89/OpenSearch/

<img width="1171" alt="Screen Shot 2022-06-14 at 4 06 47 PM" src="https://user-images.githubusercontent.com/79435743/173705045-279667a0-2b73-49c2-a072-0e8a8dd63853.png">

[2022-06-15 02:27] sachinpkale commented on #3145
This issue is where we should be having discussion around the restore API. Following are the points where we decided to not go with snapshot restore API:
- Snapshot restore API requires `snapshot_id` as one of the path parameters. In remote store, as we don't have snapshot IDs, we need to provide dummy snapshot id which is not user friendly API behavior.
- Snapshot restore restores only segments d

[2022-06-15 04:25] sachinpkale commented on #2700
@mch2 Please take a look at commit: https://github.com/sachinpkale/OpenSearch/commit/b195a2a3daf6267c1aca53c675311d65935b2872#diff-45c1ec7b5c456e144972500c9883018f4e74f4e7d054c448bf44ef308dbbb8e6R116-R123. In this commit, we are uploading intermediate `segments_N` file after each refresh. Let me know if this works.

[2022-06-15 06:46] ganilmca opened #3587 "How to enable "hostNetwork: true" in opensearch helm charts in kubernates"
Hi All,

If anyone does know how to enable "hostNetwork: true" in opensearch helm charts please let us know.
when we deployed the opensearch cluster by adding "hostNetwork: true" in statefuleset.yaml file, then we were getting the indentation error, we don't know how to use this one in our helm charts.

Does it support it or not?

Please help to resolve this one.

Thanks
Anil

[2022-06-15 09:54] sachinpkale opened #3589 "[Remote Segment Store] Add cluster UUID in remote segment store path"
**Describe the solution you'd like**
Currently, segments are stored under `index-name/shard-id` path. This change proposes to add cluster UUID to the path.

[2022-06-15 12:57] yyyogev commented on #3578
Doesn't seem so, this is the mapping for the doc in ES 6.8:
`
{
    "_doc": {
        "properties": {
            "message": {
                "type": "text",
                "fields": {
                    "keyword": {
                        "type": "keyword",
                        "ignore_above": 256
                    }
                }
            }
        }
    }
}`

and this is at OS 1

[2022-06-15 13:06] opensearch-ci-bot opened #3590 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 6024 in gradle_check log for more information.

[2022-06-15 13:06] dblock commented on #3145
Could I please have some more eyes on the API proposal, maybe @andrross? Just want to make sure it doesn't conflict with things like https://github.com/opensearch-project/OpenSearch/issues/2922, and I assume this is in line with https://github.com/opensearch-project/OpenSearch/issues/1968.

[2022-06-15 16:08] willyborankin commented on #3354
@dblock answered

[2022-06-15 16:09] willyborankin commented on #3469
The idea is good
But:
- When Lucene starts merge of segments for the shard it will break encryption which leads to data-loss
- When you will change/roll a key it will break your encryption partially, in memory data most probably be ok, on the disk no which leads to partial data-loss
- If you send this data to the snapshot switching the key will  leave your snapshot useless, which leads to data-los

[2022-06-15 17:08] mitalawachat commented on #1144
Hi @dblock,

We've actually implemented a version of admissions-control in the Amazon Managed OpenSearch Service and it has been available for around two years. It has helped a great deal in cluster stability, especially on smaller instance types with limited resources. On t2/t3 EC2 instance types it had shown 75%-85% reduction in node drop across various regions, and ~70% node drops reduction on

[2022-06-15 17:41] dblock commented on #3545
I think as long as I can choose the metric, the default should always match Lucene. 💯 .

[2022-06-15 19:11] ylwu-amzn commented on #2877
PR merged. Close this issue. Thanks a lot for your help!

[2022-06-15 19:53] reta commented on #3578
@yyyogev I was really curious to find out why, here is the thing: 6.8.x used default search analyzer (== `standard`) whereas it has changed by [1] to only use analyzer if it is specified at search (query) time.

[1] https://github.com/elastic/elasticsearch/pull/61013/files

[2022-06-15 21:23] yyyogev commented on #3578
And if not then it doesn't use any analyzers at all?

[2022-06-16 04:35] Bukhtawar opened #3599 "Move Translog implementation to a module"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-16 04:36] Bukhtawar opened #3600 "[META] Provide extension points for Remote Translog"
**Is your feature request related to a problem? Please describe.**
We have Translog Reader and TranslogWriters, we need to provide extension support for remote translog

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2022-06-16 04:37] Bukhtawar opened #3601 "Remote Translog plugin implementation for S3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-16 05:14] Bukhtawar commented on #1319
Sub-tasks for this Meta Issue
https://github.com/opensearch-project/OpenSearch/issues/3241
https://github.com/opensearch-project/OpenSearch/issues/3600
https://github.com/opensearch-project/OpenSearch/issues/3601
https://github.com/opensearch-project/OpenSearch/issues/3599

[2022-06-16 07:07] sachinpkale opened #3602 "[Remote Store] Add wrapper for RestHighLevelClient that provides methods for accessing the Remote Store API."
**Describe the solution you'd like**
As per the discussion: https://github.com/opensearch-project/OpenSearch/pull/3576#discussion_r897958755, this change will add rest high level client for remote store.

[2022-06-16 13:12] reta commented on #3355
Thanks for the analysis, @jmazanec15 , as for me, this option looks like a solid solution:

There are just a few classes, at least in core I found 2, which do use `deprecationLogger`. Another observation is that `deprecationLogger` is used only by classes inherited from `AbstractTokenFilterFactory`, so I think we could move it up from `AbstractIndexComponent` to `AbstractTokenFilterFactory` - not

[2022-06-16 14:05] reta opened #3603 "[BUG] org.opensearch.cluster.allocation.AwarenessAllocationIT.testThreeZoneOneReplicaWithForceZoneValueAndLoadAwareness flaky"
**Describe the bug**
New flaky test after https://github.com/opensearch-project/OpenSearch/pull/3563 got merged:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
On CI, the test is  flaky, see please https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_6061.log for example.,

**Plugins**
Standard.

**Screenshots**
If a

[2022-06-16 15:13] GeorgeAp opened #3604 "[BUG] NPE when minBound/maxBound is not set before being called"
**Describe the bug**
A `NullPointerException` occurs when the methods `minBound()` and `maxBound`
https://github.com/opensearch-project/OpenSearch/blob/8844f0590a96a791f56902b9c3e004d3beb91d10/server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/HistogramAggregationBuilder.java#L228-L236
are called before they are set in `DoubleBounds`

https://github.com/opensearch-project/Ope

[2022-06-16 16:38] adnapibar commented on #3000
Here is a proposal for the above mentioned RFC,

Current State
---

The OpenSearch `bulk` API Provides a way to perform multiple `index`, `create`, `delete`, and `update` actions in a single request. The node that receives the request is referred to as the coordinating node as it manages the life of the request and assembles the response. This can be a dedicated node or one of the data nodes in th

[2022-06-16 17:01] peternied opened #3607 "[BUG] Existing BWC examples do not support more than one revision"
**Describe the bug**
All OpenSearch components should be running backwards compatibility tests to ensure compatibility as incrementing version numbers and modify features.

In the Security codebase as we are focusing on `2.1` the process to setup the cluster for BWC is hardcoded to allow for a single previous and current version.  This prevent us from following the [guidance to support](https://gi

[2022-06-16 19:04] reta commented on #3000
@adnapibar thanks a lot for formalizing the proposal, I was thinking about possible streaming mode implementation and I think the [Chunked Transfer Encoding](https://en.wikipedia.org/wiki/Chunked_transfer_encoding) may not be what we should be looking at. To be clear - chunking transfer does work, even the back pressure should be feasible to support, but what does not for bulk ingestion is error p

[2022-06-16 20:23] #3604 closed

[2022-06-16 20:35] cliu123 opened #3614 "[BUG] Lucene 9.3 dependency missing fails plugins to compile against OpenSearch 3.0"
**To Reproduce**
Failing [GHA](https://github.com/cliu123/security/runs/6925776029?check_suite_focus=true)

**Error**
[code]

[2022-06-16 20:44] kotwanikunal commented on #3579
Also in #3568 #3595 #3576

[2022-06-16 21:19] adnapibar commented on #3000
@reta Thanks for the feedback. I was suggesting that each chunk to be an individual operation that can be handled atomically by the server and a corresponding response to be sent as chunked encoding. It doesn't have the same semantics as the bulk request which handles batches of operations. While there are lots of implementations details that I'm unaware at this point, I would appreciate to hear d

[2022-06-16 21:24] mch2 commented on #3614
This is the same as #3455 , please see https://github.com/opensearch-project/OpenSearch/issues/3455#issuecomment-1139168466

[2022-06-16 21:26] cliu123 commented on #3614
Thanks @mch2 !

[2022-06-16 21:26] #3614 closed

[2022-06-16 22:00] jmazanec15 commented on #2811
@minalsha Not blocked but would be nice to have.

[2022-06-16 22:28] cliu123 opened #3615 "[BUG] org.opensearch.cluster.coordination.CoordinationStateRejectedException upgrading 2.0.1 to 3.0"
**Describe the bug**
Nodes cannot join back to the cluster after upgrading from 2.0.1 to 3.0.0.

**To Reproduce**
Failing GHA: https://github.com/cliu123/security/runs/6926965970?check_suite_focus=true

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Error logs**
[code]

[2022-06-16 22:31] mattweber commented on #3000
I agree with @reta about http2 and/or websockets.  When I had originally read this issue that is what I immediately thought of.  With 2-way communication it would be easier for OpenSearch  to notify the client of its state, ie. low heap, full queue, etc.

[2022-06-16 22:51] jmazanec15 commented on #1676
It seems like there are several other plugins that might have this issue (i.e. cant bring up cluster on mac):
1. https://github.com/opensearch-project/anomaly-detection/blob/main/build.gradle#L616
2. https://github.com/opensearch-project/alerting/blob/main/alerting/build.gradle#L82
3. https://github.com/opensearch-project/asynchronous-search/blob/main/build.gradle#L117

I am wondering if, [given t

[2022-06-16 22:55] amitgalitz commented on #1676
+1 on this issue, Anomaly Detection is experiencing the exact same bug.

[2022-06-16 23:41] kotwanikunal commented on #3600
@Bukhtawar Can you please add more details to the issue?

[2022-06-16 23:41] kotwanikunal commented on #3601
@Bukhtawar Can you please add more details to the issue?

[2022-06-16 23:57] kotwanikunal commented on #3599
@Bukhtawar Can you please add more details to the issue?

[2022-06-17 05:13] tlfeng commented on #3579
The test failure is caused by the commit https://github.com/opensearch-project/OpenSearch/commit/fc541544bef481f307623ef9f9b011b18c88b779 / PR https://github.com/opensearch-project/OpenSearch/pull/3537 that upgrades Lucene version to 9.3.
The solution may be similar to https://github.com/opensearch-project/OpenSearch/pull/3591 / https://github.com/opensearch-project/OpenSearch/commit/055a9fc44bfc1

[2022-06-17 06:29] sachinpkale commented on #3148
### Setup
- Tool used: opensearch-benchmark
- OpenSearch Benchmark Test: nyc_taxis
- Cluster
  - 3 node cluster with each node - r5.2xlarge
- Benchmark node - r5.2xlarge
- Remote translog is not supported
- GitHub Commit ID: https://github.com/opensearch-project/OpenSearch/pull/3620/commits/678196b140a2a48126f5ef4dd5144963b1d0055a

### Observations
- Indexing performance improved after deleting st

[2022-06-17 09:07] msillence commented on #3484
I'm still seeing this issue with 2.0.1

[2022-06-17 09:39] msillence commented on #3484
pubsubbeats now works with 2.0.1 if you set `"compatibility.override_main_response_version" : true`

[2022-06-17 11:20] opensearch-ci-bot opened #3622 "Jenkins Randomized Gradle Check Failed on 0dd18f7ee5200864aea25dec352efbf6b2c33434"
@opensearch-project/opensearch-core team, please take a look at Build 6099 in gradle_check log for more information.

[2022-06-17 12:28] opensearch-ci-bot opened #3623 "Jenkins Randomized Gradle Check Failed on 4cde722784ba07b73eadd4cc8460438941cad466"
@opensearch-project/opensearch-core team, please take a look at Build 6100 in gradle_check log for more information.

[2022-06-17 12:39] reta commented on #3584
Could be fixed once https://github.com/opensearch-project/OpenSearch/pull/3561 is in

[2022-06-17 16:23] saratvemulapalli commented on #1676
@amitgalitz @jmazanec15 I see it as a workaround to help install default modules for a test distribution(`INTEG_TEST`/ new distribution) to run tests on MacOS.
The `ARCHIVE` test distribution already is bundled with all default modules (including lang-painless) but its not available on MacOS yet[1].
cc: @bbarani

My thoughts, I would rather have it supported the right way rather than putting in a

[2022-06-17 16:47] jmazanec15 commented on #1676
In general, it creates a lot of extra effort for someone to rampup on the project. They have to figure out a system that will sync mac dev environment with linux. Also, makes running debuggers more difficult. Overall, makes the bar to contribute higher.

https://github.com/opensearch-project/opensearch-build/issues/38 seems to be focused on supporting the bundle as a whole on Mac. I am wondering i

[2022-06-17 16:53] mch2 commented on #3584
This is happening after the test flushes the primary, the `shard.lastCommittedSegmentInfos` is not equal to the `shard.latestSegmentInfos.`

the `shard.segments()`  method computes off of the lastCommittedSegmentInfos.  I haven't yet been able to figure out what set of conditions under this seed cause this mismatch.

[2022-06-17 16:55] dreamer-89 commented on #3484
Thank you @msillence for the confirmation.

@Wadlazky @HugoKuo : Can you please try OpenSearch `2.0.1` with `compatibility.override_main_response_version` set to true.

[2022-06-17 17:07] kotwanikunal commented on #1868
After a dive into the discussion and release-drafter, it looks like release-drafter [does not directly support](https://github.com/release-drafter/release-drafter/issues/404#issue-556814039) multiple drafts on multiple branches.
There is a [workaround available](https://github.com/release-drafter/release-drafter/issues/656#issuecomment-806184887) which can possibly support multiple draft notes. Th

[2022-06-17 17:11] saratvemulapalli commented on #1676
Absolutely, I feel the pain as well :).

Yeah that would be a nice intermediate step which unblocks this, I love this idea.
Which is btw already available from OpenSearch, its just that opensearch-build has to publish the artifact.
Is this something your team could consider ? @bbarani @peterzhuamazon

[2022-06-17 17:12] dreamer-89 commented on #3535
Discussed this internally with the team. Integration with external clients is already covered as part of https://github.com/opensearch-project/OpenSearch/issues/3532 and performing integration with all external clients is not possible. Instead work on specific bugs opened on repository to track individual breaking integration. Closing this issue in favour of https://github.com/opensearch-project/O

[2022-06-17 17:12] #3535 closed

[2022-06-17 18:06] reta commented on #3557
I was looking into this one, so far was not able to reproduce but it seems like the problem is that `onShardFailure` is called more than once for the same `shardIndex`, this is happening when the number of requests per node is throttled:

[code]

[2022-06-17 18:32] #2000 closed

[2022-06-17 18:37] dblock commented on #3615
Is this consistently reproducible? Did you try to debug it? The error looks suspicious:

[code]

could be related to master/clustermanager/leader renaming?

[2022-06-17 18:53] reta commented on #3557
It seems like I have gotten a 100% test for it .... assigning to myself

[2022-06-17 19:04] dblock opened #3625 "Add idempotency support for bulk request API"
**Is your feature request related to a problem? Please describe.**

Coming from #3000, where we say _current _bulk indexing API places a [high configuration burden](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-indexing-speed.html#multiple-workers-threads) on users today to avoid RejectedExecutionException due to TOO_MANY_REQUESTS. This forces the user to "experiment" wi

[2022-06-17 19:06] dblock commented on #3000
+1, the persistence of a connection is not really the problem (can be achieved with keep-alive today), it's the need to have to reason about the size of bulk requests to avoid sending too many requests

Also, while it's not possible to follow the progress of each separate request in the bulk API (that would be streaming), I think we should also consider possible ways to improve upon that, e.g. htt

[2022-06-17 19:10] dblock commented on #1868
@kotwanikunal This proposal just says that the CHANGELOG would be edited by humans with every PR, thus you don't have to build any automation at all on branches to collect release notes, solves the problem you describe above

[2022-06-17 19:17] japrogramer commented on #1069
I would like to control the content-type header with a custom header. Opensearch returns an array of values for this heather but the client, Hasura, does not support an array for this header. https://github.com/hasura/graphql-engine/issues/8598

[2022-06-17 19:43] aysee commented on #3469
@dblock @willyborankin thank you for your questions and feedback. I'm replying to both of you because there is a certain overlap in Snapshot related functionality that both of you brought up.

**Snapshots**
Snapshots are currently out of the scope of this proposal. When OpenSearch creates a snapshot, it will decrypt an index and will store index data in plain text. Decryption happens automatically

[2022-06-17 20:24] mch2 commented on #3584
Ah ok, I think you are right @reta #3561 could fix this.  A merge is kicking in on the primary causing the mismatch.

For the sake of this test we want to assert the replica has been updated with the provided segments, I don't think asserting `engine.segments()` is necessary if we have already asserted against the passed in segments, will update to fix this.

[2022-06-17 20:31] kotwanikunal commented on #1868
I was referring to the mechanism used by plugins mentioned in the previous comment. The release-drafter approach does not make it any easier for us in terms of maintenance.
Currently its difficult to compile these notes as they are and as a path forward, I was proposing labelling PRs to make it easier to classify even with the CHANGELOG. What do you think about that?

[2022-06-17 20:51] #3584 closed

[2022-06-17 21:00] dreamer-89 commented on #3484
A brief note on the fix deployed.
Initially typed end-points were added back but later reverted as it was identified that integration is breaking at multiple places due to version check mismatch (more details in https://github.com/opensearch-project/OpenSearch/pull/3530). So, adding back typed end-points was not sufficient. Instead, [version override cluster setting](https://github.com/opensearch-

[2022-06-17 21:29] bbarani commented on #1676
@saratvemulapalli Can you please clarify the artifact that you are referring in the above comments? Are you referring to opensearch-min artifact?

[2022-06-17 21:32] saratvemulapalli commented on #1676
Correct, opensearch-min artifact for MacOS (darwin).

[2022-06-17 22:15] kotwanikunal opened #3628 "[BUG] Performance test fail for OpenSearch core"
**Describe the bug**
Performance test for OpenSearch core are failing with the exception

[code]

**To Reproduce**
Steps to reproduce the behavior: Start the execution of any performance test

**Expected behavior**
Performance test completes successfully and returns the results

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help explain y

[2022-06-17 22:21] kotwanikunal commented on #3628
The root cause for the failure seems to be a combination of the environment and dependencies.
Infrastructure setup is done using the latest `aws-cdk` which is running on a node 10 environment. This configuration is causing failures similar to the ones mentioned [here](https://github.com/aws/aws-cdk/issues/20678) and [here](https://github.com/aws/aws-cdk/issues/20739).

One of the solutions is to u

[2022-06-17 22:29] kotwanikunal commented on #3628
Submitted a request for an image with node 16 support - https://github.com/opensearch-project/opensearch-build/issues/2211

[2022-06-17 23:38] dblock commented on #1069
@japrogramer Thanks. We're looking for a PR that can be merged (see https://github.com/opensearch-project/OpenSearch/pull/1096 for comments on a previous attempt).

[2022-06-17 23:41] dblock commented on #1868
I don't see the point in labelling PRs if the said PR *must* also include a 1-line change in the appropriate section of the CHANGELOG in progress.

[2022-06-17 23:44] dblock commented on #1676
Does a cross-platform build for MacOS work on MacOS? If so we can probably add to the existing Jenkinsfile a "mac" build that's good enough?

[2022-06-18 00:42] opensearch-ci-bot opened #3629 "Jenkins Randomized Gradle Check Failed on 2.x"
@opensearch-project/opensearch-core team, please take a look at Build 6114 in gradle_check log for more information.

[2022-06-18 00:53] kotwanikunal commented on #1868
The proposal I had was something on the lines of -
- Add label checker for improving the current scenario (even manually generating the notes for that matter)
- Parallely/Later work on generating CHANGELOG for PRs in a format where the changelog generation itself is automated by a GHA which looks at the label and adds the changes (PR title/link) to the right location in the changelog

I know the p

[2022-06-18 15:10] prudhvigodithi commented on #1676
or we can just run the distribution build on macOS ec2 jenkins agent, then the logic `PLATFORM ` `uname -s` will be inferred as `Darwin`
https://aws.amazon.com/ec2/instance-types/mac/

[2022-06-18 18:54] eslam-gomaa opened #3630 "[BUG] Creating anomaly detector stucks at initializing state"
**Describe the bug**
Hi
I believe that this is not a bug, I'm just asking for guidance

When creating anomaly detector, it stuck at the initializing state for many days !  (some stuck for infinity)
And after a bit of investigation I found that this only happens when the index patter used with the detector has very few data steam

Is there specific configuration I need to consider in my case ? 🤔

[

[2022-06-19 20:01] willyborankin commented on #3469
I agree they need to be independent, some customers could use encrypted file systems and store encrypted snapshots in clouds, using their own keys or build-in functionality provided by clouds.

Thank you for your explanation now it is clear.

Got it.

I especially asked this question due to the problem I thought existed for merging procedure.
But I'm for switching IV each 64 GB, instead of limitin

[2022-06-20 11:20] JustinasKO commented on #3395
Upgraded to version 2.0.1 on Friday and turned off all scheduled cache purge. There were no issues for some time but on Sunday got same error again. So issue still exists but appears less frequently.

[2022-06-20 12:15] Sandy381 opened #3631 "[BUG]"
**Unable to create proper roles based access for a particular index-pattern in Opensearch Roles Management**

Unable to create proper roles based management in Opensearch Roles & User Management.
I create a particular role with restricted access to only a single index pattern with user mapped to it. My goal is that particular user should only see only selected single index pattern data & should no

[2022-06-20 13:20] opensearch-ci-bot opened #3632 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 6142 in gradle_check log for more information.

[2022-06-20 14:50] asknacho commented on #72
It's starting to get some traction! C'mon! This works like a charm when mixing ES with a recommendation engine. 🚀

[2022-06-20 15:10] yyyogev commented on #3578
@reta is there a way to use some analyzer (standard or a custom one) without specifying it in each and every request?

[2022-06-20 15:30] elfisher commented on #1319
@Bukhtawar I saw this didn't have the 2.1 tag. Is this still targeting 2.1?

[2022-06-20 16:18] #3322 closed

[2022-06-20 16:46] reta commented on #3578
For regex specifically - yes

You could use the `case_insensitive` in your query to overcome that

To be honest, I was not able to find the other way around by just looking into code, could you please try the other options listed here [1]?

[1] https://www.elastic.co/guide/en/elasticsearch/reference/7.10/specify-analyzer.html#specify-search-analyzer

[2022-06-20 17:57] bbarani commented on #1676
We are currently explore this option. We will update this thread soon with our findings.

CC: @prudhvigodithi @saratvemulapalli @jmazanec15 @dblock

[2022-06-20 18:15] louzadod commented on #3395
Hi @JustinasKO . I also tried 2.0.1 and confirmed that it does not fix this issue.

[2022-06-20 19:42] pjfitzgibbons commented on #1422
Could you tell us - what is the plan for "updating" a plugin?   Assuming plugin-X is not fully complete on first release, how can users of the plugin update that plugin on their own instance of Core and Dashboard?