[2022-06-20 21:16] mch2 commented on #3142
I'd imagine we could reuse these incremental updates as snapshots vs needing a separate snapshot/restore flow.  Should we provide some way of marking specific incremental uploads so they are not deleted?

[2022-06-20 21:26] owaiskazi19 opened #3635 "[Feature/extensions] Run AD backend plugin as an Extension to create a detector"
**Is your feature request related to a problem? Please describe.**
To move forward with Anomaly Detection backend plugin as an extension, we plan to start with creating a detector as the first feature to pick up. Currently, we are targeting the detector without scheduling the job for it (removes the dependencies of Job Scheduler) and without auth user(removes the dependencies of Common Utils).To i

[2022-06-20 22:48] prudhvigodithi commented on #1676
Hey @jmazanec15, can you please test with `opensearch-min-2.0.1-darwin-x64.tar.gz`
https://ci.opensearch.org/ci/dbc/Playground/distribution-build-opensearch-pgodithi/2.0.1/0/darwin/x64/builds/opensearch/dist/opensearch-min-2.0.1-darwin-x64.tar.gz
**NOTE: This is not a final darwin published artifact, this is to just test the OpenSearch min darwin format.**

[2022-06-20 23:16] jmazanec15 commented on #1676
Yes it works!

[code]

Just to be sure, this will get published to something like
[code]

correct?

[2022-06-21 00:26] gaiksaya opened #3636 "Release version 2.1.0"
This is a component issue for __2.1.0__.
Coming from [opensearch-build#1818](https://github.com/opensearch-project/opensearch-build/issues/1818). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-06-21 02:17] navneet1v opened #3637 "[Feature] Publish ARCHIVE test distribution to Maven Local"
**Describe the bug**
mavenLocalPublish Zip of OpenSearch Core repo doesn't contain the core plugins(geo) present in the repo. This is leading to the failure of integration test on all the platforms(macOs, AmazonLinux2 etc).

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the [OpenSearch repo](https://github.com/opensearch-project/OpenSearch/tree/main).
2. Run `./gradlew publishToMav

[2022-06-21 02:40] navneet1v commented on #1676
Similar [issue](https://github.com/opensearch-project/OpenSearch/issues/3637) but happening for all the OS versions with mavenLocalPublish. Can someone please take a look at this too?

[2022-06-21 08:42] galion96 commented on #3395
Same here, latest fix didn't seem to have any impact. Still get a node randomly failing which causes this error. In that case I have to restart the node as a tmp fix.

I have installed it via helm chart if it means anything

[2022-06-21 10:18] imRishN opened #3639 "[RFC] API for decommissioning/recommissioning zone and weighted zonal search request routing policy"
**Is your feature request related to a problem? Please describe.**
#3402 aims to build support for decommissioning and recommissioning a zone based on the value assigned to a zonal value. Similarly, #2859 aims to build support for weighted zonal search request using weighted round robin mechanism. We need to have a consistent and precise API structure finalised for the same.

_Scope of this issue

[2022-06-21 11:21] prudhvigodithi commented on #1676
@jmazanec15 mostly yes, but will post an update here, if anything changed.
Thank you

[2022-06-21 12:19] reta commented on #3578
Correct, if using `regexp` as specialized query is not an option - disregard it please, at worst - you could try to lowercase query **before** sending it to Opensearch.

[2022-06-21 12:47] jiten1551 opened #3640 "[BUG] 403 forbidden from REST client with Apache interceptor that generates Sigv4 with compression and chunked transfer encoding enabled"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. create openSearch domain in (AWS) which support IAM based  AuthN/AuthZ
2. send signed request to opensearch cluster using java rest client (https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html)
3. create rest-client in java with compre

[2022-06-21 13:14] yyyogev commented on #3578
This creates another problem, if we have lowercasing the query, it breaks the search for terms of type keyword since these might be save with uppercase letters

[2022-06-21 13:38] elfisher commented on #3553
@reta is there anything we should consider documenting regarding this change? Does it have performance implications for users or anything else we should cover in opensearch.org/docs?

[2022-06-21 13:45] reta commented on #3578
@yyyogev I see, we have limited number of choices than (at this moment), specifying `analyzer` seems to be the simplest one

[2022-06-21 13:52] reta commented on #3553
@elfisher yes, I will submit the documentation update for 2.1.0 / 2.2.0. Trying to find out the best place for it and not sure 9.3 will be released before 2.1.0 is out. In general, the change should have only positive performance implications, but we are providing the option to disable it.

[2022-06-21 16:55] yyyogev commented on #3578
@reta we tried this already and it doesn't work as well.. I specified the search analyzer for the whole index with these settings:
`{
  "dodo": {
    "settings": {
      "index": {
        "number_of_shards": "1",
        "provided_name": "dodo",
        "creation_date": "1655830029877",
        "analysis": {
          "analyzer": {
            "default_search": {
              "type": "standard"

[2022-06-21 17:12] reta commented on #3578
@yyyogev I meant the approach you mentioned in the issue, `analyzer` at query time:

{"query": {"bool": {"must": [{"query_string": {"query": "message:/TLS/", "analyzer":"standard"}}]}}}

[2022-06-21 17:17] yyyogev commented on #3578
@reta this solution has the same problem.. it would lowercase keywords won't find keywords with uppercase letters

[2022-06-21 19:26] dblock commented on #1422
@pjfitzgibbons Extensions will work like in VSCode or any other sane system, where they will declare a minimum (and sometimes a max) version of OpenSearch required. Then you'll be able to upgrade them to a newer release assuming it's compatible with your current version of OpenSearch at runtime, without restarting a cluster. Does this answer your question?

[2022-06-21 20:17] saratvemulapalli commented on #3615
@cliu123 did you try running opensearch-min without security plugin?
OpenSearch 3.0.0 is passing bwc tests with 2.0.1.
Ref: https://github.com/opensearch-project/OpenSearch/blob/main/.ci/bwcVersions

[2022-06-21 21:19] cliu123 commented on #3615
@saratvemulapalli Are there any passing BWC test runs from 2.0.1 to 3.0.0? I don't see any BWC runs in GitHub actions in this repo. Would you please share a pointer to the passing test run? I'd like to use it to investigate the failures in the security repo.

[2022-06-21 21:20] pjfitzgibbons commented on #1422
@dblock Yes, understood.  Is there a specific task above that you believe implicitly includes upgrading functionality (or version detection or ... ?)

[2022-06-21 21:43] owaiskazi19 commented on #1422
Hey @pjfitzgibbons! You can find more details for API Versioning here: https://github.com/opensearch-project/OpenSearch/issues/2447

[2022-06-21 21:48] saratvemulapalli commented on #3615
Sure, here is our testing process for bwc: https://github.com/opensearch-project/OpenSearch/blob/main/TESTING.md#testing-backwards-compatibility

We dont use Github workflows for testing, instead we use jenkins infra.
Here is one successful run on a PR: https://github.com/opensearch-project/OpenSearch/pull/3618#issuecomment-1158357646
Logs: https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/

[2022-06-21 22:05] jmazanec15 commented on #3545
Im not sure on  default:
[code]

I think it should be:
[code]

If a user wants to skip building knn specific index structures (which can be expensive to build) for cases like painless scripting, I think they should be able to set "knn.enabled = false" and have it default to true.

[2022-06-22 04:13] saikaranam-amazon commented on #3639
@imRishN Could we please add req(/res) for obtaining current status of Recommission/Decommission as well?

[2022-06-22 04:25] #3557 closed

[2022-06-22 05:45] tlfeng commented on #1683
I decided to add back the old usages of the public classes or interfaces that contains `whitelist` in the name, and deprecate them before directly replacing them, while keeping the new usages with `allowlist` name.

[2022-06-22 07:47] mirisu2 opened #3648 "[BUG] Is it possible to use dynamic_templates"
**Describe the bug**
If I set the type statically (like second test-2) it works as expected. But I would like to be able to set type dynamically, because it is not known what fields will be in the future.
The first example test-1 doesn’t work as expected.
Maybe I didn't configure something else? Or maybe I did something wrong? Is it even possible to use dynamic_templates?

**To Reproduce**
[code]

[2022-06-22 12:56] lukas-vlcek opened #3649 "[BUG] Custom POM configuration for ZIP publication produces duplicit tags (url, scm)"
**Describe the bug**

As an plugin author I want to configure top level POM values for project `<url>` and `<scm>` tags.
But the generated POM file contains duplicated tags, one with the custom value and second with `unknown` value.

This also leads to the following validation error:
[code]

**To Reproduce**

The following is the publishing task configuration in my plugin `build.gradle`:
[code]
An

[2022-06-22 13:02] opensearch-ci-bot opened #3650 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 6216 in gradle_check log for more information.

https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_6216.log

[2022-06-22 14:01] Wadlazky commented on #3484
Thanks all for taking care of it.
I tried `compatibility.override_main_response_version: true` in `opensearch.yml` and it works.
OpenSearch from 1.3.2 to 2.0.1
Filebeat 7.12.1

[2022-06-22 15:33] adnapibar opened #3651 "Support for HTTP/2 (server-side)"
**Is your feature request related to a problem? Please describe.**

OpenSearch currently only supports HTTP/1 which is a single request/response protocol. HTTP/2 allows multiple requests to be in progress at the same time on a single connection with the mechanism of streams. There are workarounds with HTTP/1 such as to maintain multiple open connections or to send fewer large requests (e.g. bulk A

[2022-06-22 17:02] CayvonH opened #3652 "[BUG] Opensearch 2.0 maxClauseCount Errors"
**Describe the bug**
Upgrade to Opensearch 2.0 causing:
[code]

When searching in opensearch-dashboards with a lucene query such as `A OR B OR C OR D` this expansion error occurs but if I split the query to something like `A OR B` I can get passed the expansion error. The total number of fields in the index is ~2000. Elasticsearch 7.10.2 has no issue with the same index.

**To Reproduce**
Steps to

[2022-06-22 17:22] adnapibar commented on #211
Currently the dataset for the benchmarking is downloaded from the S3 bucket hosted by Elastic (http://benchmarks.elasticsearch.org.s3.amazonaws.com/corpora/geonames/documents-2.json.bz2).

The issue is to host the dataset in an OpenSearch managed bucket.

[2022-06-22 17:38] #3320 closed

[2022-06-22 18:47] saratvemulapalli commented on #3615
Sure let me take a stab at this.

[2022-06-22 19:12] saratvemulapalli commented on #3640
@jiten1551 I am trying to understand the ask.
Are you trying to use the Rest High Level Client to communicate with a domain in Amazon OpenSearch service?
Our client is agnostic of a service provider.

[2022-06-22 19:14] saratvemulapalli commented on #3649
@prudhvigodithi could you take a look at this?

[2022-06-22 19:24] CayvonH commented on #3652
Just tested with Opensearch 1.3.3, this version does not have this issue. Perhaps the cause is the lucene upgrade? Easier steps to reproduce:
[code]

Where `index.json` is just:
[code]

[2022-06-22 19:32] mattweber commented on #3652
This probably due to [LUCENE-8811](https://issues.apache.org/jira/browse/LUCENE-8811).

[2022-06-22 19:42] reta commented on #3649
@saratvemulapalli @prudhvigodithi I will take it, found the problem

[2022-06-22 20:28] jmazanec15 commented on #3545
My problem is more around having users submit an empty map for default knn:
[code]

My feeling is, use knn default when "knn" is not specified:
[code]

If a user does not want to build knn structures, do something like:
[code]

[2022-06-22 21:28] saratvemulapalli commented on #3615
The setup has problems with settings, very likely it didnt disable security.
[code]

[2022-06-22 21:41] dreamer-89 commented on #2979
Closing this one as most of the changes have been completed except type validation removal from MapperService which needs more discussion (pointed below). Will open a separate issue to track that (and other type related usages if any). Closing this one as remaining changes have been merged.

[2022-06-22 21:41] #2979 closed

[2022-06-22 22:20] martin-gaievski commented on #3545
I have a doubt regarding such approach. I think we're making an assumption that if knn structure not specified then we do not want to perform knn on that data, but example with painless script shows that it's not always the case. Having ```"knn.enabled": false``` and the script at the same time looks a bit counterintuitive.

[2022-06-22 22:20] anandpatel9998 opened #3657 "[Question] Order of initialization in Node.java"
**Describe the Question**
In [Node.java](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/node/Node.java), on line [598](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/node/Node.java#L598) It is trying to get getDirectoryFactories from all the plugins and later those directory factories are being used to

[2022-06-22 22:50] #3628 closed

[2022-06-22 23:36] andrross commented on #3145
I think a little more detail here would be useful, even if not everything is implemented initially. The initial questions I have are: how is a user expected to use the restore API? A remote store-backed index can be created by defining the appropriate index settings, but then how does a user get to the point of restoring that backed-up data to a new index? (i.e. do they delete the index and then l

[2022-06-23 04:00] saratvemulapalli commented on #3637
@navneet1v INTEG_TEST distribution does not have modules installed.
Use ARCHIVE distributions if the plugin depends on a module.

[2022-06-23 04:40] jiten1551 commented on #3640
Yes I'm trying to use Rest High Level client.
I did some debugging found out that compression logic in RestClient.java file returns uncompressed HTTP request. and only returns compressed content when getContent() (ContentCompressingEntity) is called.

[2022-06-23 04:46] navneet1v commented on #3637
Hi @saratvemulapalli
Please let me know then how I can do this:
1. How to publish the ARCHIVE distribution in the maven Local?

[2022-06-23 05:05] tlfeng opened #3663 "[BUG] Compatibility issue with plugins about class 'org.opensearch.action.support.master.AcknowledgedResponse'"
**Describe the bug**
Similar issue: https://github.com/opensearch-project/OpenSearch/issues/3683 and https://github.com/opensearch-project/OpenSearch/issues/3688
Introduced by PR https://github.com/opensearch-project/OpenSearch/pull/3593 / commit https://github.com/opensearch-project/OpenSearch/commit/223d472e6d8ea4454cb05fba7271d213430a1a4e, which aims to resolve issue #3542

The change of class

[2022-06-23 05:30] tlfeng commented on #3650
[code]
[code]

[2022-06-23 06:34] ganilmca opened #3664 "Not able to add RPM packages to the opensearch image"
Hi Team,

We are not able to add the sysstat , procps and other rpm packages to the opensearch images.
Can you please tell us how to add the packages to the image?.  When we try to add this we are getting the below issues.

error: Failed dependencies:
        /etc/cron.d is needed by sysstat-10.1.5-19.el7.x86_64
        libsensors.so.4()(64bit) is needed by sysstat-10.1.5-19.el7.x86_64
        sys

[2022-06-23 12:06] Ripolin opened #3666 "Unable to use Systemd module with tar distribution"
Why use of Systemd module is limited to RPM and DEB installations ?

To me there is no relationship between Sytemd and package managers and it could be possible to use Systemd module for installations using tar distribution.

https://github.com/opensearch-project/OpenSearch/blob/7005b9eb42f66912507b8f973b79734c260bdfe9/modules/systemd/src/main/java/org/opensearch/systemd/SystemdPlugin.java#L75

[2022-06-23 12:56] sachinpkale commented on #3145
Let me add `Lifecycle of data in Remote store` section in the design proposal. It would be incremental approach but would be able to cover V1 details under it.

We will definitely have the documentation for `_remotestore` APIs. Let me create a tracking issue for the same. If you look at the API spec added in PR :https://github.com/opensearch-project/OpenSearch/pull/3576, I have provided a link to

[2022-06-23 13:14] sachinpkale opened #3667 "Add OpenSearch documentation for remotestore APIs"
**Describe the solution you'd like**
Add documentation for the APIs that are created for remote store.

[2022-06-23 13:43] louzadod commented on #3395
While making changes in the security information (user, roles and so on) via OS Dashboards, the problem appeared again.
I had to restart again my clients do get back to normal promptly. One possible cause may be the security plugin.

[2022-06-23 14:35] louzadod commented on #3395
I'm also trying another workaround from my side. There were new internal users that were missing in the `skip_users` section of `config.yml` (security).
The implication was the following exception on client nodes:

[code]
I updated this information and no exception being raised. Let's see what happens.

[2022-06-23 14:54] andrross commented on #3145
How does this scenario happen? Also, how does the user discover which indices can be recovered via the remote store?

[2022-06-23 15:08] sachinpkale commented on #3145
Here, data loss is referred to red index with no valid shard copy exists. We also want to make this process automated and this automated recovery can be enabled/disabled at runtime. https://github.com/opensearch-project/OpenSearch/issues/3145. I will update the section with these details as well.

As of V1, we will not support a separate API to get all the indices with remote store enabled. But as

[2022-06-23 15:55] dblock commented on #3666
@peterzhuamazon do you know anything about this?

[2022-06-23 16:00] andrross commented on #3145
Restoring a snapshot to an existing index requires closing or deleting the existing index first, right? Would that be required here as well, or will this API behave differently from snapshot restore?

[2022-06-23 16:20] sachinpkale commented on #3145
That's correct, for this API as well, existing index needs to be closed before restoring. In case of red index, the state of changes to closed.

[2022-06-23 17:39] tlfeng commented on #3663
The problem will be resolved for now after the backport PR https://github.com/opensearch-project/OpenSearch/pull/3670 merged.
I will think of the correct way to deal with the class `AcknowledgedResponse` and related classes.

[2022-06-23 18:04] saratvemulapalli commented on #3637
@navneet1v are you specifically looking to export this to Maven local ?
Why aren't you relying on DistributionDownloadPlugin which is part of gradle plugin `opensearchplugin` ?

[2022-06-23 18:23] reta commented on #3545
@martin-gaievski we may consider different name for field type, it seems like Elasticsearch had introduced it (as xpack feature) [1], I am afraid we call for a trouble .... :(

[1] https://www.elastic.co/guide/en/elasticsearch/reference/7.10/dense-vector.html

[2022-06-23 18:44] martin-gaievski commented on #3545
I see where you're coming from. We actually wanted to have a name that is recognizable by community. We've reviewed multiple options and ```dense_vector``` is the name we got consensus for from PM team and I trust them in this territory.

[2022-06-23 18:55] reta commented on #3545
No objection from my side, we have similar dilemma with `flattened` [1] to avoid any possible legal issues ...

[1] https://github.com/opensearch-project/OpenSearch/issues/1018

[2022-06-23 21:07] peterzhuamazon opened #3674 "[BUG] testCreateEmptyDirNoPermissions when running gradle check in docker container"
Just grab a centos7 docker container like this one:
https://hub.docker.com/r/opensearchstaging/ci-runner/tags?page=1&ordering=last_updated&name=ci-runner-centos7-gradle-check-v1

Export these envvar:
JAVA11_HOME="/opt/java/openjdk-11
JAVA17_HOME="/opt/java/openjdk-17"
JAVA8_HOME="/opt/java/openjdk-8"
JAVA_HOME="/opt/java/openjdk-17"

Check out main or 2.0 branch, run `./gradlew check --no-daemon -

[2022-06-23 21:19] mch2 opened #3675 "Update 2.1 release branch to use released Lucene version 9.2."
**Describe the bug**
Branch is currently using a snapshot version of lucene 9.3.  We should lock the 2.1 release to the latest released version of Lucene which is 9.2.

[2022-06-23 21:26] mattweber opened #3677 "Add support using sandbox functionality in official releases"
**Is your feature request related to a problem? Please describe.**
Not being able to use sandbox features unless using a snapshot.  Snapshots are not published for all release formats, ie. docker images so it is not easy to experiment/test/play with sandbox features.

**Describe the solution you'd like**
I would like sandbox features built and shipped with official releases and then have some sort

[2022-06-23 21:43] owaiskazi19 commented on #3674
Looks like we can restrict this test for docker. Just like did [here](testCreateEmptyDirNoPermissions) for Windows. @reta since you have worked on something similar for docker [here](https://github.com/opensearch-project/OpenSearch/issues/2592). WDYT?

[2022-06-23 21:47] cliu123 commented on #3615
@saratvemulapalli Would you please check or provide the logs upgrade from 2.0.1 to 3.0.0 without security plugin? I don't see the related logs in https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_6087.log. Did I miss anything?

[2022-06-23 21:54] #3649 closed

[2022-06-23 22:20] tlfeng opened #3683 "[BUG] Classes that extend class 'o.o.action.support.master.TransportMasterNodeAction' should not have to implement abstract method 'clusterManagerOperation()'"
**Describe the bug**
Similar issue: https://github.com/opensearch-project/OpenSearch/issues/3663 and https://github.com/opensearch-project/OpenSearch/issues/3688
Introduced by PR https://github.com/opensearch-project/OpenSearch/pull/3617 / commit https://github.com/opensearch-project/OpenSearch/commit/60d7a098492c184e0b2a6fb0492d8c57b7626a54, which aims to resolve issue #3542

The problem:
To depr

[2022-06-23 23:02] mch2 commented on #2200
Closing this issue as outdated given we now have a separate engine implementation for segrep - #2355 is the latest tracking issue.

[2022-06-23 23:02] #2200 closed

[2022-06-23 23:27] peterzhuamazon commented on #3218
@tlfeng this would fail the main branch gradle check:
[code]

This does not happen in 2.0 which uses gradle 7.3.3, the issued main branch is using gradle 7.4.2.

Thanks.

[2022-06-23 23:27] peterzhuamazon commented on #3674
We unblock this temporarily by not using container, but ec2 instance directly to run gradle check.

[2022-06-23 23:31] mch2 commented on #2212
Reviving this issue as the first phase of segrep is nearly merged into main.  Tracked with #2355.  When that issue is complete we will have a basic implementation with primary shards as the source of replication (all functionality in POC branch feature/segment-replication).

Thanks for all the input here, I'd like to convert this issue to a meta issue and split the issue of supporting failover int

[2022-06-23 23:43] adnapibar commented on #3625
There is a utility class for thread safe bulk processing with controls on when to flush, number of concurrent requests and retry policies - [BulkProcessor.java](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/bulk/BulkProcessor.java)

This can be used with a high level rest client, for example

[code]

[2022-06-23 23:49] mch2 opened #3685 "[Segment Replication] Support enabling/disabling segment replication for an existing index."
**Is your feature request related to a problem? Please describe.**
Segrep right now can be enabled only during index creation.  This means converting an existing index to use segrep requires a full reindex.

**Describe the solution you'd like**
Support converting an existing index to use segment replication without reindexing.

**Describe alternatives you've considered**
None

**Additional context

[2022-06-24 00:04] tlfeng commented on #3683
The temporary solution has been applied to `2.1` branch by the PR #3682

[2022-06-24 00:06] tlfeng opened #3688 "[BUG] Classes that implement class 'o.o.cluster.support.master.LocalNodeMasterListener' should not have to implement abstract method 'onClusterManager()' and 'offClusterManager()'"
**Describe the bug**
Similar issue: #3663 and #3683
Introduced by PR https://github.com/opensearch-project/OpenSearch/pull/2519 / commit https://github.com/opensearch-project/OpenSearch/commit/79eb3b04922f4d4688372b93550ded9feffd7338, which aims to resolve issue https://github.com/opensearch-project/OpenSearch/issues/1548

The problem:
2 abstract methods `onMaster()` and `offMaster()` of interface

[2022-06-24 00:10] mch2 commented on #2229
Hey folks, thanks for all of the feedback here.  My apologies for leaving questions unanswered this long.  I understand a few of these have been answered on PRs, but will answer here anyway.

This is correct.

 Not with the initial version, but it is desired as a follow up. I've created issue https://github.com/opensearch-project/OpenSearch/issues/3685 so this is not lost.

This would require a re

[2022-06-24 00:12] peterzhuamazon commented on #3218
@reta ever since gradle upgrade to 7.4.2 I have seen such issue above on 3.0.0/main when running gradle check.
This does not happen in 2.0 branch with 7.3.3 gradle.

Running `./gradlew check -Dtests.coverage=true --no-daemon --no-scan`.

Thanks.

[2022-06-24 00:32] peterzhuamazon opened #3689 "[BUG] Gradle Check failed on RPM signature check"
2.0 branch, 2502198e6d1d94630a7a12a015efe00b5798b2ca

./gradlew check -Dtests.coverage=true --no-daemon --no-scan

[code]

When checking the rpm file directly on the server:
[code]

There should not be any license here as core doesnt sign rpms to start with.
I wonder why gradle check is trying to check the license.

Thanks.

[2022-06-24 00:45] CEHENKLE commented on #3218
Hey @dreamer-89 Would you mind picking this up?  I understand this is one of the blocking issues to help get coverage out which I know we're all keen to see

[2022-06-24 00:56] #3675 closed

[2022-06-24 00:59] tophercullen opened #3690 "Upgrade AWS SDK used by the repository-s3 plugin to allow use of IMDSv2"
**Is your feature request related to a problem? Please describe.**
Currently, repository-s3 plugin does not support IMDSv2 due to (I assume) using an older bundled AWS SDK. This means the plugin does not function while using IAM roles and IMDSv2 is enforced.

**Describe the solution you'd like**
Upgrade the AWS SDK used by the plugin.

**Describe alternatives you've considered**
Use AWS static key

[2022-06-24 01:06] dreamer-89 commented on #3218
Looking into this.

[2022-06-24 01:19] opensearch-ci-bot opened #3691 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 6287 in gradle_check log for more information.

[2022-06-24 02:09] dreamer-89 commented on #3218
This failure is different than the one this issue is intially reported (auto update Version.java for 2.x branches). From failure trace above, seems like lock contention among different gradle processes is causing the failure.

This failure is not reproducible locally (ubuntu) with [latest changes](https://github.com/opensearch-project/OpenSearch/commit/304d830275fdbe5f8095a7285ca66266987c727a) fro

[2022-06-24 02:23] reta commented on #3218
I have not seen it yet, but I will take a look, thanks @dreamer-89 for troubleshooting

[2022-06-24 02:24] reta commented on #3218
Seems to be https://github.com/gradle/gradle/issues/20055

[2022-06-24 02:27] peterzhuamazon commented on #3218
@reta Update: resolved if you dont use AL2/CentOS but only use Ubuntu.

[2022-06-24 02:30] dreamer-89 commented on #3218
Seems happening on [AL2 specific instances](https://github.com/gradle/gradle/issues/20055#issuecomment-1099619015) that is what used here as well.

[2022-06-24 02:31] reta commented on #3218
Thanks a lot @peterzhuamazon !

[2022-06-24 02:32] peterzhuamazon commented on #3689
Update: resolved if you dont use AL2/CentOS but only use Ubuntu.

[2022-06-24 02:32] #3689 closed

[2022-06-24 04:51] sachinpkale commented on #3145
- I think even with the automated flow, we will need the API due to following reasons:
    - API gives more control to user on what to restore and when. Out of X red indices, user may want to restore few of the important indices first.
    - We will be providing few performance knobs to user (like async upload to remote translog) which will impact the durability guarantees. In such cases, we may n

[2022-06-24 05:25] tlfeng commented on #3688
The temporary solution has been applied to `2.1` branch by the PR https://github.com/opensearch-project/OpenSearch/pull/3687 / commit https://github.com/opensearch-project/OpenSearch/commit/8aadcc056513a2edf21978d2c9a2f41756d8366c

[2022-06-24 15:54] saratvemulapalli commented on #3637
@navneet1v Thanks a lot for that information.
That makes more sense. I think what you are looking for is a publish ARCHIVE distribution to maven which includes all modules.

Couple of ideas:
- Can you consume opensearch tarball, setup the cluster manually (i.e install your plugin) and run remote IntegTests overriding the regular URLs[1].
- Longer term, I see value in publishing ARCHIVE distributio

[2022-06-24 16:30] lukas-vlcek opened #3692 "[BUG] zipGroup is hardcoded to "org.opensearch.plugin""
**Describe the bug**

I am not sure if I fully understand how the pom.xml is meant to be used when OpenSearch plugins are distributed/pushed into maven repository. What concerns me is that I can see that the `zipGroup` variable is hardcoded to `"org.opensearch.plugin"` (it propagates to `GroupId` later).

See

https://github.com/opensearch-project/OpenSearch/blob/304d830275fdbe5f8095a7285ca6626698

[2022-06-24 17:19] #1756 closed

[2022-06-24 17:30] saratvemulapalli commented on #3692
Thanks @lukas-vlcek for opening this one. I think it was originally authored to publish opensearch-project plugin zips.

But the ask makes a lot of sense.
@prudhvigodithi @reta do you think we can set GroupId if the project doesn't set it?

[2022-06-24 17:44] prudhvigodithi commented on #3692
Hey @lukas-vlcek thanks for opening this one, also by default the plugin behavior is to pick up the generated zips from `/build/distributions/` folder and publish them to local maven (on the file system) `/build/local-staging-repo` , considering your example is it something ok for your plugin?
https://github.com/opensearch-project/OpenSearch/blob/304d830275fdbe5f8095a7285ca66266987c727a/buildSrc/s

[2022-06-24 17:57] navneet1v commented on #3637
Hi @saratvemulapalli
I can go ahead and consume the Tarbell and setup the cluster but the problem is the cluster should have new code which I am adding on the OpenSearch. So I need to check how it will work.

Is there a specialized instruction that I can follow to create the new cluster using tarbell.

[2022-06-24 17:59] mch2 commented on #2332
Closing this as outdated.  Replicas will fail & be removed from rotation when a failure occurs. https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/indices/replication/SegmentReplicationTargetService.java#L112

[2022-06-24 18:00] lukas-vlcek commented on #3692
Perhaps we should make it clear in the documentation. It seems that some users of our plugin got the impression that they can [use public mvn repo for dependency management](https://github.com/aiven/prometheus-exporter-plugin-for-opensearch/issues/64#issuecomment-1160590695) on their side.

[2022-06-24 18:00] mch2 commented on #2333
This issue only applies when using a remote store as the source of replication.  When copying from primary shards we still require fsyncs when segments related to a new commit point are received.

[2022-06-24 18:08] prudhvigodithi commented on #3692
Thanks for the suggestion I would love to improve the documentation as much as possible, just want to better understand your use case, you wanted to publish the generated zips to https://repo1.maven.org/maven2/?

[2022-06-24 18:39] saratvemulapalli commented on #3690
Thanks for opening this up. I've sent out a PR.

[2022-06-24 19:13] saratvemulapalli commented on #3637
@navneet1v you should be able to build your own tarball using `./gradlew assemble`.
Take a look at: https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md#build

[2022-06-24 20:21] tlfeng commented on #3688
Close the issue. As the `onMaster()` and `offMaster()` method name have been restored in all branches.
PR https://github.com/opensearch-project/OpenSearch/pull/3686 for `main` branch, and PR https://github.com/opensearch-project/OpenSearch/pull/3693 for `2.x` branch.

[2022-06-24 20:21] #3688 closed

[2022-06-24 20:56] dreamer-89 opened #3695 "[Segment Replication] Review existing snapshot and restore compatibility with SegRep"
As part of this issue, we want to identify if SegRep enabled cluster have any issues with snapshot and recovery. In case there are issues, identify changes needed to make it compatible. Concretely, we want to test snapshot/restore in below scenarios:
1. Snapshot & restore on segrep **disabled** cluster.
2. Snapshot & restore on segrep **enabled** cluster.
3. Snapshot on docrep cluster and restore

[2022-06-24 21:05] ryanbogan opened #3696 "[Feature/extensions] Remove plugin directory code from ExtensionsOrchestrator"
Unnecessary code for reading plugin directories needs to be removed from ExtensionsOrchestrator.  Unit tests will also be restructured to reflect this change.

[2022-06-24 21:11] opensearch-ci-bot opened #3697 "Jenkins Randomized Gradle Check Failed on 560052aff23525cd8bb13781297d96b3528b5bf7"
@opensearch-project/opensearch-core team, please take a look at Build 6312 in gradle_check log for more information.

[2022-06-24 23:11] dblock commented on #3640
See https://github.com/opensearch-project/OpenSearch/pull/3665#issuecomment-1166056937 for a suggested fix.

[2022-06-25 00:43] opensearch-ci-bot opened #3700 "Jenkins Randomized Gradle Check Failed on 2.x"
@opensearch-project/opensearch-core team, please take a look at Build 6323 in gradle_check log for more information.

[2022-06-25 01:12] #3690 closed

[2022-06-25 04:35] navneet1v commented on #3637
After discussing with @saratvemulapalli I was able to get an alternative way in which I can create the local TAR for the opensearch code. The idea was to use the commands provided here: https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md#build to generate the tar for the specific platform. Once this is generated It can be easily accessed on this path:
`<OpenSearch-Repo-Pa

[2022-06-25 12:35] dblock opened #3702 "Build an uber/fat jar of the client"
**Is your feature request related to a problem? Please describe.**
In https://github.com/opensearch-project/OpenSearch/pull/3665 we'd like to give the client with the changes to someone to try. How does one build an uber/fat jar of it?

**Describe the solution you'd like**
A gradle task that builds an uber/fat JAR of the client.

[2022-06-25 13:31] sachinpkale commented on #3548
PR link: https://github.com/opensearch-project/OpenSearch/pull/3703

[2022-06-25 14:50] Bukhtawar commented on #3242
Duplicate https://github.com/opensearch-project/OpenSearch/issues/3600

[2022-06-25 14:50] #3242 closed

[2022-06-25 14:53] Bukhtawar opened #3704 "Introduce TranslogWriter remote extensions"
**Is your feature request related to a problem? Please describe.**
Meta Issue : #3600

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature

[2022-06-25 14:53] Bukhtawar opened #3705 "Introduce TranslogReader Remote Extension"
**Is your feature request related to a problem? Please describe.**
Parent #3600

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature reques

[2022-06-25 15:55] pgtgrly commented on #3702
@jiten1551 and I were able to build uber jars using [Gradle Shadow plugin](https://imperceptiblethoughts.com/shadow/)
and running the shadowJar command.
Ref Commit for adding the plugin: https://github.com/jiten1551/OpenSearch/commit/d18e0d88b26a9148d870ae0c14c5506cefac3755

[2022-06-25 17:04] Bukhtawar opened #3706 "[Discuss] Writes on NRT Replica with Remote Translog"
**Is your feature request related to a problem? Please describe.**
For a remote translog in `NRTReplicationEngine` we ideally don't need to forward requests to the replica since the translog has already been durably persisted to a remote store. However in the event of a network partition where the primary and replica gets partitioned off, during this period, the primary might continue to ack write

[2022-06-26 15:39] prudhvigodithi commented on #3692
Raised a [PR](https://github.com/opensearch-project/opensearch-plugins/pull/153) with some more documentation improvement.
Thank you

[2022-06-26 17:14] dreamer-89 commented on #1975
Ideally tests related tasks (which brings in flakyness) in gradle check should be splitted based on type of tasks which provisions specific resources such as single,multi-node cluster, container etc so that different tasks have logical resource separation. The other option is to split based on individual projects (qa, plugins, server, modules etc) which makes split intuitive.

[2022-06-26 17:18] dreamer-89 commented on #1975
From a quick analysis in existing [flaky test failures](https://github.com/opensearch-project/OpenSearch/labels/Flakey%20Random%20Test%20Failure?page=2&q=is%3Aopen+label%3A%22Flakey+Random+Test+Failure%22), 80-90% of the tests falls in `:server:internalClusterTest` bucket. This is already identified previously [here](https://github.com/opensearch-project/OpenSearch/issues/1715#issuecomment-9982093

[2022-06-26 17:48] dreamer-89 commented on #1975
Ran internalClusterTest separately 50 times where task failed 23 times out of which ~20 failed alone due to `testHighWatermarkNotExceeded`. This test is [notoriously flaky](https://github.com/elastic/elasticsearch/issues/62326) and muted. This needs more deep dive.

[code]

[2022-06-26 18:56] imRishN commented on #3639
@saikaranam-amazon updated the req/res for both update/get calls for recommission/decommission

[2022-06-26 23:04] amitmun commented on #3089
We see exactly the same behavoir with OpenSearch 1.2.4 on RHEL and currently working on creating an environment to recreate this in order to try and resolve it. Everything works for a while until GC starts to go wild and almost all requests fail (including simple requests like getting a single doc by ID). Restarting is the only workaround we currently have.
@dvas0004 - have you found out the root

[2022-06-27 01:34] dreamer-89 commented on #3579
Another occurrence https://github.com/opensearch-project/OpenSearch/pull/3646

This test has started failing more often recently.

[2022-06-27 02:07] dreamer-89 commented on #1975
Ran test again after muting `testHighWatermarkNotExceeded`.
[code]

[2022-06-27 04:54] opensearch-ci-bot opened #3707 "Jenkins Randomized Gradle Check Failed on 88bfef2f4a46da1f35a2b10174a2d6a613ca35f4"
@opensearch-project/opensearch-core team, please take a look at Build 6353 in gradle_check log for more information.

[2022-06-27 06:18] saratvemulapalli commented on #3637
Feel free to reopen this.
credits to: @Rishikesh1159 who built `customDistributionUrl`

[2022-06-27 06:19] #3637 closed

[2022-06-27 08:04] Bukhtawar opened #3709 "Remove direct Translog interaction from Engine"
[**Is your feature request related to a problem? Please describe.**
We are exposing `Translog` directly from the `TranslogManager`, Ideally all operations to `Translog` should go via the manager itself

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solu

[2022-06-27 08:10] Bukhtawar opened #3710 "Introduce TranslogManagerFactory for creating translog module"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-27 11:37] dvas0004 commented on #3089
@amitmun the server displaying these symptoms is in production so it's difficult to reproduce properly. What we have noticed is that "closing" older indices using [the close api](https://opensearch.org/docs/1.1/opensearch/rest-api/index-apis/close-index) seems to keep this under control...

[2022-06-27 12:52] rursprung commented on #3692
thanks so much @lukas-vlcek for working on this! i didn't realise that this hadn't been tested by any 3rd party plugin yet and isn't fully working for that use-case 🙈

yes, this is exactly the use-case: we use gradle to manage everything (incl. building docker images, assembling k8s files, etc.) as it allows proper dependency management (with a ton of enterprise-y tools around it, as you can imagi

[2022-06-27 13:03] reta commented on #3692
@rursprung I second your concerns, I believe using `org.opensearch.plugin` as group makes a lot of sense for official OpenSearch plugins but cuts off the community plugins right away. We should let others to publish ZIP under their own group identifiers, sharing the publish rights under `org.opensearch.plugin` is very risky (at least).

How could it work with CLI? We do have community plugins list

[2022-06-27 13:59] Shams-yang opened #3712 "Allow a field to be used such as _doc_count in aggregation"
Allow a field to be used such as _doc_count or something as mentioned in https://github.com/opensearch-project/index-management/issues/57 ，so that we can uesd in ISM rollup.

[2022-06-27 14:35] #3110 closed

[2022-06-27 15:24] dreamer-89 opened #3713 "Add failure analytics for OpenSearch"
**Is your feature request related to a problem? Please describe.**
Today, CI gradle check fails often due to existing flaky tests. Issues are created to track these failures ([Meta issue](https://github.com/opensearch-project/OpenSearch/issues/1715)).  There is no existing mechanism to answer below questions:
1. Identify top hitter for prioritization.
2. Identify commit introduced a flaky test or

[2022-06-27 15:52] reta commented on #2603
@CEHENKLE @bbarani any thoughts from your side? thanks!

[2022-06-27 16:30] nknize commented on #3578
On the OpenSearch side we should add `case_insensitive` support like we did for [RegexpIntervalsSourceProvider](https://github.com/opensearch-project/OpenSearch/pull/2237).

In the meantime I think in this situation you'll want to use the PatternAnalyzer at query time. In the pattern analyzer the Lowercase TokenFilter is used to auto lowercase your query string so it matches the default lowercased

[2022-06-27 16:38] andrross commented on #2922
Snapshot restore is essentially an API for creating an index. Extending snapshot restore to create a searchable snapshot-type index makes a lot of sense, as a lot of the options in the API are still relevant (such as the renaming options, restoring partial snapshots, etc). Really the unresolved question here is whether there is a single API that can work with regular snapshots as well as the more

[2022-06-27 16:43] tlfeng commented on #3683
Close the issue. The `masterOperation()` method name have been restored in all branches.
PR https://github.com/opensearch-project/OpenSearch/pull/3681 for `main` branch, and PR https://github.com/opensearch-project/OpenSearch/pull/3714 for `2.x` branch.

[2022-06-27 16:43] #3683 closed

[2022-06-27 17:07] jayaddison opened #3715 "Feature request: sorting using the output of multiple script scores"
Hello OpenSearchers :wave:

As part of planning migration away from using [`function_score`](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html) -- based on a sense from elastic/elasticsearch#42811 that it may be deprecated in future -- I'm looking for alternative query workflows to support search operations that involve a combination of script eval

[2022-06-27 19:06] CEHENKLE commented on #2603
Sure!  I'll go cut the tickets etc to go create the repos unless you've already done it, @dblock

[2022-06-27 20:09] sachinpkale opened #3719 "[Remote Store] Create abstraction CompositeStore which will encapsulate local and remote store"
**Describe the solution you'd like**
As per the comment: https://github.com/opensearch-project/OpenSearch/pull/3703#discussion_r907584127, a `CompositeStore` will encapsulate local and remote store

[2022-06-28 00:45] CEHENKLE commented on #2603
Would you prefer opensearch-project/opensearch-testcontainers or just opensearch-project/testcontainers ?

[2022-06-28 00:55] CEHENKLE commented on #2603
(Ticket Cut)

[2022-06-28 00:59] dblock commented on #2603
@reta ^

[2022-06-28 02:43] reta commented on #2603
@CEHENKLE `opensearch-project/opensearch-testcontainers` would be preferred (to me), if @dblock has no objections

[2022-06-28 06:10] saikaranam-amazon commented on #3639
Thanks @imRishN

- Can we store additional information to reflect the `updated-at` timestamp for the changes? (and this can be part of the response payload for all the GET calls)

[2022-06-28 06:19] Bukhtawar commented on #3639
@saikaranam-amazon could you help elaborate on why that might be needed?

[2022-06-28 06:39] saikaranam-amazon commented on #3639
As we have two APIs to update the weights of the search traffic and decommissioning entire zone(without any additional checks/wait time), the later operation might incur instability for some of the inflight operations.
with `updated-at` field, customer can make conscious decision (to decommission zone) based on the current updated weights timestamp for search traffic and can further help in automa

[2022-06-28 06:41] saikaranam-amazon commented on #3639
sure @Bukhtawar
update above.

[2022-06-28 06:58] ggt commented on #3395
My problem is almost 3-4 times a day at hh:50 or hh:51 if it could help to identify!

[2022-06-28 07:45] YuyaAbo opened #3725 "Support field collapsing with search_after"
**Is your feature request related to a problem? Please describe.**

I cannot sort a collapsed field with collapse and paging with search_after. In Elasticsearch, since version 7.14, collapse and search_after can be used together only for the same field (ref https://www.elastic.co/guide/en/elasticsearch/reference/7.14/release-notes-7.14.0.html).

**Describe the solution you'd like**
It would be gre

[2022-06-28 14:03] msoler8785 commented on #3395
I suspect this PR to be the culprit, but I don't know enough to pinpoint the problem: https://github.com/opensearch-project/security/commit/ef0d40a339ef651fce8a4e44b1af39eca765c438

[2022-06-28 15:31] dblock commented on #3692
+1 on making the hard-coded group configurable, and we can see what the next problem is after that?

[2022-06-28 15:42] dblock commented on #2922
@andrross what is your strong opinion about what to go with?

[2022-06-28 15:45] saratvemulapalli commented on #1629
@penghuo this issue is tagged 2.1.0.
We are code freeze for 2.1. I'll move this issue to 2.2.0, let me know if you think otherwise.

[2022-06-28 15:48] saratvemulapalli commented on #2589
@anasalkouz / @tlfeng  this issue is tagged 2.1.0.
I know we had revert couple of PRs. Is it safe to assume we will not completely ship in 2.1?

[2022-06-28 15:51] saratvemulapalli commented on #2985
@kotwanikunal this issue is tagged 2.1.0.
Is this something you are taking care of ? We are code freeze for 2.1, ring the bells if this is a blocker.

[2022-06-28 15:59] dreamer-89 commented on #1975
Ran complete gradle check but got only 3 failures.
[code]

[2022-06-28 16:01] dreamer-89 commented on #1975
Separating out internalClusterTest from gradle check did not help much. On the contrary, running entire gradle check failed only thrice when run in continuation 50 times. Not sure if lesser failures can attribute to beefier instance type `c5.24xlarge` usef for experimentation.

[2022-06-28 16:20] kotwanikunal commented on #2985
@saratvemulapalli This issue is open because we are waiting on https://github.com/opensearch-project/opensearch-benchmark-workloads/issues/43. This affects the performance tests generally, and not just for v2.1.0.
The feature request is still pending and might not be available anytime soon.

@dblock Any concerns if we drop the version label from this issue given its general nature?

[2022-06-28 19:58] mirisu2 opened #3733 "[BUG] Failed to parse mapping [_doc]: No handler for type [flattened] declared on field"
Hi,
I would like to use type `flattened` to prevent mapping explosion like [this ](https://www.elastic.co/guide/en/elasticsearch/reference/current/flattened.html#flattened)example. I got an error while creating `_index_template`
[code]
**To Reproduce**
[code]

**Expected behavior**
I expect to create `_index_template` with `"type": "flattened"` configuration.

**Plugins**
opensearch-alerting
opens

[2022-06-28 20:27] rishabhmaurya opened #3734 "TimeSeries optimizations in OpenSearch"
**Is your feature request related to a problem? Please describe.**
Dedicated architecture for TimeSeries in OpenSearch to offer low cost and better performance for such use cases.

**Describe the solution you'd like**
# TSDB Design Proposal

This document proposes an alternate approach to store and query TimeSeries data in OpenSearch. It presents definition and representation of TimeSeries data, a

[2022-06-28 22:43] peterzhuamazon commented on #1975
Please let me know if I need to switch from c518xlarge to c524xlarge.

Thanks.

[2022-06-29 01:59] peterzhuamazon commented on #3666
Hi @Ripolin @dblock .

Sure, there is no limit saying you can only use systemd with deb/rpm.
However, deb/rpm have pre/post scripts and setup folder structure/configs specifically, so the corresponding systemd service scripts can execute without issues.

You can certainly write a service script yourself for things like tar, but that relies on you to setup rules for that script.
It is easy to tweak

[2022-06-29 02:14] reta commented on #3733
@mirisu2 `flattened` is Elasticsearch X-Pack feature, not supported by OpenSearch, see please [1]

[1] https://github.com/opensearch-project/OpenSearch/issues/1018

[2022-06-29 05:44] pgtgrly commented on #3702
@dblock, Sure Will update the guide and raise PR latest by EoD 5 July 2022

[2022-06-29 06:40] HugoKuo commented on #3484
confirmed it's working with 2.0.1 now.

[2022-06-29 09:22] sachinpkale commented on #3579
Failing for https://github.com/opensearch-project/OpenSearch/pull/3703

[2022-06-29 11:22] Ripolin commented on #3666
Hi @peterzhuamazon and thx for your response

I exactly do what you say ;p

Indeed I create my own Systemd service of type "notify", init env var ```OPENSEARCH_SD_NOTIFY``` with ```true``` value and add systemd module in my installation (by default this module is not present in TAR distribution).

The problem is it only works after edit ```bin/opensearch-env``` file to modify ```OPENSEARCH_DISTRIB

[2022-06-29 13:25] mirisu2 commented on #3733
Does anyone know, is it possible to prevent to index part of fields?
![image](https://user-images.githubusercontent.com/13135139/176446288-fad82935-8ade-4185-96d9-5953801eaefe.png)
If I got it right, by the documentation, if i define something in `dynamic_templates` block, it doesn't override fields I defined in the `properties` block. But this `_index_template` doesn't work properly :(  The field

[2022-06-29 16:31] andrross opened #3739 "Storage Roadmap"
This is a more specific plan expanding on the ideas introduced in the [High Level Vision for Storage](https://github.com/opensearch-project/OpenSearch/issues/2578) issue. The goal of this plan is to have a place to discuss the bigger picture as we design and implement the incremental features along the way.

**Phase 1: [Add Remote Storage Options for Improved Durability](https://github.com/opensea

[2022-06-29 16:51] #2993 closed

[2022-06-29 16:52] #2994 closed

[2022-06-29 16:52] #3548 closed

[2022-06-29 18:21] mch2 commented on #3483
Updated description here with more detail.

I'm thinking if we avoid using peer recovery it would look something like this:

1. In `SegmentReplicationTargetService` we add a new method to recoverShard.
2. Replica fetches the translog uuid from primary.
3. Replica calls store.createEmpty, creates its xlog using the uuid from step 1, and starts its engine.  Creating the empty store will make a commi

[2022-06-29 18:23] dblock opened #3740 "Add CI on whether a change will break plugins"
**Is your feature request related to a problem? Please describe.**
In https://github.com/opensearch-project/OpenSearch/pull/2692 we have backported a Gradle upgrade to 7.4.2 that broke plugins. It was late in the game for 2.1 release and shouldn't have. Had I known that it will break plugins we wouldn't have merged it.

**Describe the solution you'd like**
Add CI that attempts to run tests for one

[2022-06-29 18:29] #3408 closed

[2022-06-29 18:33] dblock commented on #3740
@ylwu-amzn you'll probably have a lot of thoughts on this one!

[2022-06-29 19:43] kartg commented on #3483
Posting questions below to help me understand this better:

Would this mismatch become a problem even earlier? As the replica performs segment replication, it will copy over the primary's translog UUID (as a part of the segment user data) which would mismatch with the replica's translog UUID

If the replica has existing segment files and/or a translog, would these be ignored / overwritten?

To con

[2022-06-29 19:52] #2981 closed

[2022-06-29 21:07] saratvemulapalli commented on #3615
@Rishikesh1159 could you take a look at this.

[2022-06-29 21:10] Rishikesh1159 commented on #3615
Sure

[2022-06-29 21:28] ylwu-amzn commented on #3740
hi, @dblock thanks for creating this issue to improve our release process. I think plugin team should be aware of such breaking changes as early as possible. Adding CI to run some/all plugins can help catch any breaking part easily. Just have some concern that that means OpenSearch core CI will take much longer time and sometimes the breaking change is expected like change `master` to `cluster_man

[2022-06-29 21:28] mch2 commented on #3483
It would actually cause problems on restarts as well.  The engine reads the last commit, fetches the uuid, then [opens the xlog](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/engine/NRTReplicationEngine.java#L393) with the uuid.  This call will validate the uuid passed with what is stored in a pre-existing xlog, and [throw if there is a mismat

[2022-06-29 22:30] downsrob commented on #3740
While running the entirety of CI takes a long time, just doing build and unit tests likely would take less time than the OpenSearch core tests which would run in parallel. Plugin integration tests are also very flaky, so I think that introducing CI in core to build and maybe run unit tests would help catch these issues immediately. Also, the breaking change would be caught by the person introducin

[2022-06-29 23:03] mch2 commented on #3483
Threw together a draft to see how this works.  Looks like it is but needs more tests.

[2022-06-30 01:22] peterzhuamazon commented on #3666
@Ripolin if you are talking about that `notify` thing, yeah that is only supported in DEB/RPM.
When I 1st create opensearch/dashboards rpm from tar I see the same issue.
My solution is just create the bundle rpm from core rpm instead of core tar.

If you think the above setup is not ideal, would you mind raise a PR to fix it?
@dblock I have no concerns to allow `notify` available in tarball.
Any c

[2022-06-30 11:52] louzadod commented on #3395
The [assumption I wrote above](https://github.com/opensearch-project/OpenSearch/issues/3395#issuecomment-1164488766) is wrong. I removed all `org.opensearch.OpenSearchSecurityException` and the problem keeps happening.

Here are my current actions now:
* increased `cache.ttl_minutes` to 6 hours
* daily cache flush

@tlfeng , one important difference about the [way you ingest data](https://github.c

[2022-06-30 13:28] nanolonny commented on #3484
Working for me too in 2.0.1 with compatibility.override_main_response_version set to true.  Does not work without this.  Please update documentation: https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/
I went through a whole lot of pain dealing with this issue before coming across this Github issue.  Updating the main documentation will surely spare others.

[2022-06-30 14:24] mirisu2 opened #3748 "[BUG]"
**Describe the bug**
Is it possible to use `copy_to` param to copy value from one field to another? or is there another way to achieve what I wanted?

**To Reproduce**
[code]

**Expected behavior**
I expect a value was copied from one field to another. But i got an error.
[code]

**Plugins**
opensearch-alerting
opensearch-anomaly-detection
opensearch-asynchronous-search
opensearch-cross-cluster-re

[2022-06-30 14:59] mattweber commented on #3023
@minutolc,

I was in same boat and found that If all you need is support for indexing, it is a single line change:
https://github.com/elastic/elasticsearch-hadoop/blob/main/mr/src/main/java/org/elasticsearch/hadoop/rest/Resource.java#L121

Just change that line to:

[code]

Then just use `_doc` as the type as things should start working.  I am using this with spark and its working just fine.

Hope

[2022-06-30 14:59] forestmvey opened #3749 "[BUG] `fuzziness` parameter differs in types dependant on relevance functionc"
**What is the bug?**
Parsing accepts types `fuzziness` and `Object` dependent on relevance function. This is confusing for developers and when `fuzziness` is not used as type, an incorrect implementation can be placed on top of the API.

[QueryStringQueryBuilder](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/query/QueryStringQueryBuilder.java#

[2022-06-30 15:25] zehonghuang commented on #3739
I‘m so happy to see this Roadmap. I have been bothered for alternative Searchable Snapshots recently.  💯

[2022-06-30 16:58] dreamer-89 commented on #1975
#### c5.24xlarge
Has only 3 failures out of 50 runs
[code]

#### c5.18xlarge
Job running for more than a day. Instance/test is having issues which cause frequent test suite timeouts (20 mins) and overall job runs for > 1 hr. `ps -ef` shows bunch of fixture processes active even after terminating script running gradle check. Rebooting the instance and retrying again.
[code]

[2022-06-30 17:08] reta commented on #3748
@mirisu2 `copy_to` is not supported for `object` types, see please [1]

[1] https://github.com/elastic/elasticsearch/issues/23064

[2022-06-30 17:27] tlfeng commented on #3395
Hi @louzadod Thank you so much for providing the important information of using "Bulk API"!
I also ask @amitgalitz for detail, he mentioned that he used bulk API as well, with python client. So I will have a try today.

[2022-06-30 17:41] dbwiddis commented on #3002
This appears to have been a bug in Gradle 6.X which was fixed in Gradle 7: https://github.com/gradle/gradle/issues/13333

The failing github action in the link was running on Gradle 6.9.

Believe no action is required here other than to ensure Gradle 7.x+ is used to build.

[2022-06-30 17:46] dbwiddis commented on #2987
See comments on #3002. The root cause was a bug in Gradle 6.x which was fixed in Gradle 7; the newest version of the plugin above removed a (now deprecated graceful fallback).   TLDR:  this plugin version can be upgraded as long as Gradle 7+ is used for the build.  Why was the GHA cited above building on 6.9?

[2022-06-30 19:35] mirisu2 commented on #3748
@reta Yes, you are right. Unfortunately I was inattentive. It was my fault.
https://www.elastic.co/guide/en/elasticsearch/reference/current/copy-to.html
![image](https://user-images.githubusercontent.com/13135139/176762428-da8f49dd-8207-42fd-81dc-1fb405c86f24.png)

[code]

[2022-06-30 19:35] #3748 closed

[2022-06-30 19:35] mirisu2 commented on #3748
issue is resolved

[2022-06-30 19:44] dbwiddis commented on #3002
Identified3 plugins using 6.x gradle wrapper.  Will submit PRs to update.

[2022-06-30 20:02] GeorgeSanchezTR opened #3752 "Directly Specify Term Vector to Index in OpenSearch"
**Is your feature request related to a problem? Please describe.**
Directly specify the term vector to be indexed with a passage
Here is a sample from anserini using a Lucene index
https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/collection/JsonVectorCollection.java

**Describe the solution you'd like**
For documents to be indexed

**Describe alternatives you've consider

[2022-06-30 20:36] msoler8785 commented on #3395
I am also using the Bulk API with the elasticsearch-net client.  I followed the advice above and changed the
ttl in my `opensearch.yml` config to `plugins.security.cache.ttl_minutes: 1440`.

This decreased the frequency of errors drastically.  I then implemented logic to detect the error and call the flush cache api in my app before retrying. It's super hacky but it's getting me by for now.

[code

[2022-06-30 20:59] peterzhuamazon commented on #1975
Seems like I can start the next step by switching to c524xlarge.

[2022-07-01 01:03] dreamer-89 commented on #3484
Thanks @nanolonny for pointing this and apologies for delay on documentation part. Certainly updated doc will save a lot of time and effort. There is some discussion happened on [PR](https://github.com/opensearch-project/OpenSearch/pull/3530#issuecomment-1150161108)

Pinging @alicejw-aws @hdhalter for visibility.

[2022-07-01 01:05] dreamer-89 commented on #3484
Documentation issue tracking this: https://github.com/opensearch-project/documentation-website/issues/741

[2022-07-01 04:38] zehonghuang commented on #3739
Hi，
"Ultrawarm has built everywhere", what's its meaning? Will searchable snapshot only run on AWS?

[2022-07-01 05:05] sachinpkale opened #3754 "[Remote Store] Integration of remote translog and remote segment store"
**Describe the solution you'd like**
- Once remote segment store and remote translog are implemented, the next step is to make sure that both of these stores are in sync.
- Today, translog and segment store on local work together in order to provide consistent experience of the indexed data. This involves purging the translog only after commit is successful and all the segment files are fsynced to

[2022-07-01 05:05] ankitkala commented on #2872
Closing this issue as we'll track this as part of  Segment Replication for CCR: https://github.com/opensearch-project/OpenSearch/issues/3020

[2022-07-01 05:11] ankitkala commented on #3020
Just to add, we'll also track the changes for `CCR as core component` as part of this issue: https://github.com/opensearch-project/OpenSearch/issues/2872

[2022-07-01 09:33] wkruse commented on #3586
Looks like a duplicate of #3395.

[2022-07-01 09:56] Ripolin commented on #3666
@peterzhuamazon OK I'll do a PR soon :thumbsup:

[2022-07-01 11:26] wkruse commented on #3395
Right now everyone, who is using OpenSearch 2.x (we are running OpenSearch 2.0.1) with Security Plugin and Logstash 7.16.2 with OpenSearch output plugin, is probably losing data. And because it happens sporadic, it could go completely unnoticed.

[2022-07-01 17:13] joshuali925 commented on #1629
The two PRs mentioned this issue were backported to 2.x before 2.1 was cut. The backport commits 32cfe530baa and c7656f1de4a are already in `2.1` branch

[2022-07-01 17:49] Rishikesh1159 commented on #1629
Yes as @joshuali925 mentioned this feature is present in feature 2.1 branch

[2022-07-01 19:31] andrross commented on #3739
Much of the implementation of Ultrawarm will be applicable here, so that code will be ported over where appropriate.

Definitely not. We intend to build this on top of the existing repository interface, so any object store for which there is a repository implementation will be supported (AWS, Azure, GCP, HDFS, etc).

[2022-07-01 20:40] setiah opened #3757 "[Meta] Migrations to OpenSearch"
The purpose of this issue is track any gaps or issues users face in migrating their workloads to OpenSearch or within OpenSearch (for example, version upgrades). Since Migrations is a broad topic, this meta issue would be helpful in capturing and linking back all migration related pieces together at one place.

The scope of Migrations includes but is not limited to -

* Migration from previous Ela

[2022-07-01 20:43] setiah commented on #3757
One area of improvement is lack of a good documentation that can serve as a migration guide. Created this issue for tracking https://github.com/opensearch-project/documentation-website/issues/745

[2022-07-01 20:52] setiah commented on #3757
Some other areas called out by the community that lack migration support -

1. Migration of x-pack plugins to OpenSearch plugins. For instance, migrating x-pack Security to OpenSearch Security plugin, same for alerting and others.
2. Missing Spring Data integration https://github.com/spring-projects/spring-data-elasticsearch/issues/1918

[2022-07-02 07:07] zehonghuang commented on #3739
It would be beneficial to reduce cost of storage. I will keep following this function.
Thank you for replying to my question.

[2022-07-02 23:20] msoler8785 commented on #3395
So I'm beginning to think that this may be caused by an incompatibility with the Elasticsearch version of the clients.  I implemented my own bulk index client and haven't experienced these issues.

Originally I was using elasticsearch-net client version 7.12.  I'm not using Logstash but I imagine it is using the Elasticsearch versions of the client libraries internally and is running into the same

[2022-07-03 02:40] zenbones opened #3758 "Can't index message from fluentbit es handler"
I created an index template like this...

[code]

...and then created a data steam...

`PUT _data_stream/foobar`

...and then attempted to add some documents in exactly he same way the es output from fluentbit would...

[code]

...and  get this error...

[code]

Am I missing something? Is the documentation missing something?

[2022-07-04 06:40] sachinpkale opened #3759 "[Remote Store] Integration test scenarios"
**Describe the solution you'd like**
List down various integration test scenarios for the remote store implementation. This includes remote translog as well as remote segment store.

[2022-07-04 09:59] Bukhtawar opened #3760 "[BUG] Simple query string with too many characters can cause stack to overflow"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Host/Environment (please

[2022-07-04 11:55] alexgnatyuk commented on #3578
@reta @nknize we believe that reverting the change (aligning the behavior with the way it worked before the fix) should be the way to go in this case because:

1. the initial fix was needed only for fields with the type of `wildcard`, which OpenSearch doesn't support. There is no real reason for this code to exist in the OpenSearch.
2. the fix changes make the regex search case sensitive in a very

[2022-07-04 12:16] ggt commented on #3395
I can confirm, it solved my issue with: `plugins.security.cache.ttl_minutes: 1440` in opensearch.yml!

[2022-07-04 12:59] daxxog commented on #3395
@msoler8785  I do remember seeing [this change](https://github.com/opensearch-project/OpenSearch/pull/3031) in OpenSearch 2.

[2022-07-04 13:13] reta commented on #3757
Add flattened field type -  https://github.com/opensearch-project/OpenSearch/issues/1018
Support for unsigned_long as same as in elastic search  - https://github.com/opensearch-project/OpenSearch/issues/3538
Adding 'dense_vector' field type - https://github.com/opensearch-project/OpenSearch/pull/3659

[2022-07-04 15:24] ankitkala opened #3765 "Optimise the remote reindex for higher throughput"
**Is your feature request related to a problem? Please describe.**
Current implementation of Remote Reindex is very slow. This issue is to track the improvements we want to do to improve the re-indexing speed.

**Describe the solution you'd like**
We don't have a proposal ready yet. Will update this issue when the proposal ready.

[2022-07-04 19:51] Bukhtawar opened #3766 "Remote Translog pruning"
**Is your feature request related to a problem? Please describe.**
This is a meta issue and we would like to discuss various approaches when and how should operations on the remote Translog be pruned

It can be done as a background task to periodically detect unreferenced readers and clean up files as may be needed.

For remote Translog there is going to be just one store common for all shard copi

[2022-07-05 03:29] sachinpkale opened #3767 "Spotless check config should report * used in imports"
**Is your feature request related to a problem? Please describe.**
Many times, IDEs convert multiple imports from the same package to `*`. This is generally called out in PRs. It would be helpful if spotless check can detect and report it.

[2022-07-05 10:59] sachinpkale opened #3768 "[Remote Store] Restore API to support shard level restore"
**Is your feature request related to a problem? Please describe.**
As per the changes in https://github.com/opensearch-project/OpenSearch/pull/3642, restore API supports restoring the complete index. As index data can be huge, we should also support restoring only a part of index based on shard IDs.

[2022-07-05 12:36] oded-dd opened #3769 "[BUG] Index size on opensearch is bigger then elasticsearch"
**Describe the bug**
Opensearch - _.fdt lucene file storage is much bigger then the same index on Elasticsearch

**To Reproduce**

While comparing between docs size on opensearch (2.0.1) vs elasticsearch (7.10.2) we came with the following results:

**Scenario:**  Indexing identical dataset.

The dataset is comprised of the same data, the same index mapping, and the same settings

In this scenario

[2022-07-05 14:03] nickytd opened #3770 "[BUG] Index API (exists) always returns 200 response code in opensearch 2.0.1"
**Describe the bug**
HEAD call always returns 200 OK instead of 404 as described in the [documentation](https://opensearch.org/docs/1.1/opensearch/rest-api/index-apis/exists/)

**To Reproduce**
Steps to reproduce the behaviour: Send an HEAD request with an arbitrary index name
curl -I <opensearch url>/xyz-*

**Expected behavior**
404 response code when no such index exists

**Host/Environment (ple

[2022-07-05 16:08] AmiStrn commented on #3578
@reta  I agree with @alexgnatyuk here. this seems like a really easy fix if the code introduced in Elasticsearch 7.9 is reverted since it is an x-pack feature that is using it.
It is a bug, really, that has gone unnoticed for a while.
users should not have to be explicit about this for the regex's in their query since many times they will be using OpenSearch-dashboards and not have that level of k

[2022-07-05 16:19] nknize commented on #3000
I think the streaming index API *should* be a new API. Like segment replication it should start as experimental behind a feature flag so we can benchmark default parameters and API semantics before promoting it as a first class bulk ingest mechanism. As you touch on in the `durability levels`, we're exploring durability under different configurations and looking at introducing new durability contr

[2022-07-05 16:33] dblock commented on #3666
Neither do I :(

[2022-07-05 16:35] dblock commented on #3538
AFAIK nobody is working on this @chandu54, please feel free to contribute a PR!

[2022-07-05 16:49] reta commented on #3578
I am totally with you  @AmiStrn @alexgnatyuk (https://github.com/opensearch-project/OpenSearch/issues/3578#issuecomment-1162136277), need @nknize confirmation this is away to go

[2022-07-05 17:13] setiah commented on #3757
Snapshotting plugin configurations for simple restore like data for easy migration of plugins https://github.com/opensearch-project/OpenSearch/issues/3507

[2022-07-05 17:50] dbwiddis commented on #3002
Closing this issue:
 - The version is already updated in OpenSearch and has been shown not to have issues with Gradle 7+
 - PR submitted to opensearch.build to upgrade there
 - data-prepper already upgraded
 - perftop has older version but doesn't build due to other compatibilities; project appears currently unmaintained to address these

[2022-07-05 17:50] #3002 closed

[2022-07-05 18:22] VijayanB opened #3775 "Support geo_point as an object using GeoJSON format"
**Is your feature request related to a problem? Please describe.**
geo_point doesn't accept GeoJSON format with type "Point"

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Manually convert GeoJSON into previously supported geo_point format

**Additional context**
Indexing GeoJSON Point as geo_shape is expensive and geo_shape doesn't support all aggregatio

[2022-07-05 20:59] opoplawski opened #3779 "[BUG] ism query triggers stream of StackOverflowError errors - hangs server"
**Describe the bug**
I applied some ISM conditions to various indexes.  Now whenever I do almost any ISM operation the server spews a steady stream of StackOverflowError messages and needs to be killed with SIGKILL to stop.

**To Reproduce**
Steps to reproduce the behavior:
1. curl -X GET "https://SERVER/_plugins/_ism/explain/*beat-*"

**Expected behavior**
Return information about the indexes.

*

[2022-07-05 21:55] jasonkemm opened #3781 "[BUG] Regex Query for Non Existent Field Fails with IllegalArgumentEcxeption"
**Describe the bug**
Regex Query on Non Existent Fields return an IllegalArgument Exception after upgrading to OpenSearch 2.0.0/1

This is important when using rolling indexes if you change fields as indexes may not retain the exact same mappings.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Following Query against one of your indexes:
[code]
2. See error

**Expected behavior**
se

[2022-07-05 21:56] saratvemulapalli opened #3782 "Dependabot does not scan for versions in versions.properties"
**Is your feature request related to a problem? Please describe.**
Coming from: https://github.com/opensearch-project/OpenSearch/pull/3772#issuecomment-1175484840
Dependabot does a great job of automatically upgrading dependent libraries while checking CVE databases.

For OpenSearch we use `versions.properties`[1] as a version catalog for all gradle projects within the repository.
Dependabot workf

[2022-07-05 23:21] amitgalitz commented on #3395
I ran the exact same python script (repeatedly calling bulk api) once utilizing elasticsearch-py (7.10.0) and once using openearch-py client (2.0.0). On the first attempt (elasticsearch client) to index 1b docs (~111gb), data went missing and I got the same exceptions as mentioned above with only 1b docs (~105gb) indexed. Using the opensearch-py client the exception didn't occur. Since so far this

[2022-07-06 05:38] pgtgrly commented on #3702
Created a PR: https://github.com/opensearch-project/OpenSearch/pull/3785

[2022-07-06 13:26] ashking94 opened #3786 "[Remote store] Replication handling for remote translog for primary & replicas"
**Is your feature request related to a problem? Please describe.**
Segment replication along with remote store for segments and translog makes creation of translog optional on replicas since translog is added for durability on the replicas. Now if we store the translog on remote store (like s3) durably, we can eliminate the need for translog on the replicas. On shard failures or failovers, the tra

[2022-07-06 14:38] reta commented on #3781
@jasonkemm the behavior change is introduced by Apache Lucene [1], [2]. I don't think it is related to non-existent field but the notion of character classes. I created an issue [3] on Apache Lucene side.

[1] https://github.com/apache/lucene/commit/1efce5444dd40142c55c5a3a30eeebc7b86796c3
[2] https://github.com/apache/lucene/commit/819e668ce2fcfcf86b652a191cdbe0fad0a8ffce
[3] https://issues.apach

[2022-07-06 16:16] dreamer-89 opened #3787 "[Segment Replication] [BUG] Document update action fails segment replication"
**Describe the bug**
Existing update documents (update/delete) cause segment replication failures.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mch2/wireAfterCopy branch
2. Run `testDeleteOperations` test
3. Fails with below stack trace.

[code]

**Expected behavior**
Delete operations related tests should pass

This is a part of the process of merging our feature branch - feature/s

[2022-07-06 16:20] dreamer-89 commented on #3787
The tests fails during segment replication step. Existing flow has one validation step to verify that `MetadataSnapshot` on replica should match exactly with primary for already present segments on replica.

[2022-07-06 16:26] dreamer-89 commented on #3787
From failure trace, `Replication diff` is misleading as the underlying method used for evaluate difference `MetaDataSnapshot.recoveryDiff` surfaces identical files to caller rather than the one which are [missing](https://github.com/mch2/OpenSearch/blob/wireAfterCopy/server/src/main/java/org/opensearch/index/store/Store.java#L1159) in replica snapshot.
[code]

[2022-07-06 16:52] rishabh6788 commented on #2412
Checked out the opensearch repo and ran ` ./gradlew :distribution:archives:linux-tar:assemble`. While trying to untar the tar.gz file present in `distribution/archives/linux-tar/build/distributions/` I am facing `implausibly old time stamp 1970-01-01 00:00:00` error for all the files related to opensearch.

After doing some deep-dive the issue seems to be coming from [here](https://github.com/open

[2022-07-06 17:29] Bukhtawar commented on #2212
The leader does something similar today to choose which nodes have an up to date copy to assign a primary to. We might need to modify this to factor in checkpoints.
https://github.com/opensearch-project/OpenSearch/blob/4d3da00c1235fbceb65239336a027936ec781dc2/server/src/main/java/org/opensearch/gateway/AsyncShardFetch.java#L134

[2022-07-06 17:37] dreamer-89 commented on #3787
The actual cause of failure is generation of segment files getting generated with delete operation.

Wrote a quick test on lucene library which confirms that delete operations creates .liv files (storing info about live documents).

[code]

[2022-07-06 17:52] reta commented on #2412
@rishabh6788 the `isPreserveFileTimestamps` comes from Gradle's `org.gradle.api.tasks.bundling.Tar` task, with default value being `true`. It was changed to `false` in this commit [1] to support reproducible builds (to eliminate dates factor), probably have to be reverted :(

[1] https://github.com/opensearch-project/OpenSearch/commit/6da253b8fff9a9d9cbbf65807efa7aeaddc9c9d3

[2022-07-06 18:37] w39hh commented on #3395
We are using 2.0.0, and are also using the Java client 2.0.0 (opensearch-rest-client and opensearch-rest-high-level-client) and have been experiencing the same issues as others on this thread. So not sure it is a client incompatibility. As with others happens intermittently. We are running a 3 node cluster, and problem may occur only once in a few days or within hours.

[code]

[2022-07-06 18:56] reta commented on #2412
Indeed it does not, @nknize @andrross any concerns with reverting some parts of https://github.com/opensearch-project/OpenSearch/pull/1995?

[2022-07-06 20:04] reta commented on #3651
@adnapibar @dblock would you mind if I pick it up? Did some work on Netty + HTTP/2 integration before

[2022-07-06 22:44] dreamer-89 commented on #3695
Wrote segment replication integration tests for snapshot in commit below
https://github.com/dreamer-89/OpenSearch/commit/91aa30335d0bc6e07e2527546cc3cfff8d10e458

This is built on top of commit https://github.com/mch2/OpenSearch/commit/f99689403869de5a069358d8490752ed134d8cbf. Waiting for a working segrep changes before trying out a manual snapshot test.

[2022-07-06 23:07] anandpatel9998 commented on #1651
I think the JDK issue mentioned in the description is incorrect. https://bugs.openjdk.org/browse/JDK-8190429

[2022-07-07 00:28] andrross commented on #2412
Reverting #1995 will break reproducible builds, right? Is there any way around this short of recommending that users supply `--warning=no-timestamp` to the tar command?

[2022-07-07 00:36] peterzhuamazon commented on #2412
It does not prevent the untar just warnings.
That is why I was not particularly concern on the 1st place.
It will just default back to 1970 if no timestamp.

[2022-07-07 02:21] reta commented on #2412
Yes, it will

Correct, it just floods the output

[2022-07-07 05:10] ashking94 commented on #3706
Well, I was thinking about this problem and realised that this would exist with segment uploads as well. Below is an use case -
1. Writer 1 creates segments and issues a write to storage. Filename - f1- contents C1
2. Writer 1 dies.
3. Writer 2 wakes up and issues a write to storage. Filename - f1- contents c2
4. With no OCC, we really can’t ensure that c1 does not override c2. Even if the file na

[2022-07-07 05:51] gswdkks commented on #3395
Indeed, I solved the issue as well, when I set this configuration!

[2022-07-07 08:46] lliu0947 opened #3798 "[BUG]The master node does not join the cluster"
**Describe the bug**
Deploy an opensearch cluster with 3 master nodes using helm chart，However, through the _cat/nodes api query, there is only one master node, and when the machine where the master node is located goes down, the remaining two master nodes will not be re-elected, and the entire cluster will be unavailable.
**To Reproduce**
Steps to reproduce the behavior:
1. master.yaml
clusterNam

[2022-07-07 17:51] zenbones commented on #3758
The issue is the addition of _type by the es appender which must be set to _doc,

[2022-07-07 17:51] #3758 closed

[2022-07-07 20:44] peterzhuamazon opened #3814 "[BUG] General error during semantic analysis: Unsupported class file major version 61"
This happens on old branches with gradle 6.6.1 and jdk17.
It somehow would go away if you reset JAVA_HOME.
Not very consistent fix it happens to me once but then happens multiple times on gradle check by just running
`./gradlew clean`.

https://build.ci.opensearch.org/job/gradle-check/267/console
https://build.ci.opensearch.org/job/gradle-check/270/console
......

[code]

[2022-07-07 20:55] reta commented on #3814
@peterzhuamazon Gradle 6.6.x  does not support jdk-17 :(

[2022-07-07 20:56] dblock commented on #3814
You're running this on an older version of the code, @peterzhuamazon ?

[2022-07-07 21:04] peterzhuamazon commented on #3814
Some feature branches is having 6.6.1.

[2022-07-07 21:05] peterzhuamazon commented on #3814
This now seems like an issue where feature branches are old and no-supported we should remove the useless feature branch as some of them have not been touches for 6months.

Will close, thanks.

[2022-07-07 21:05] #3814 closed

[2022-07-07 21:19] andrross commented on #1059
Closing this issue as this work is being tracked in the storage roadmap (#3739). Please feel free to comment there or reopen if there are additional questions.

[2022-07-07 21:19] #1059 closed

[2022-07-07 21:20] andrross commented on #740
Closing this issue as this work is being tracked in the storage roadmap (#3739). Please feel free to comment there or reopen if there are additional questions.

[2022-07-07 21:27] dreamer-89 opened #3815 "Review guidelines for licensing files"
Coming from https://github.com/opensearch-project/OpenSearch/pull/3774, there are no specific guidelines around reviewing licensing terms and conditions. Today, [LicenseAnalyzer](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/precommit/LicenseAnalyzer.java#L50) (runs as part of [precommit task](https://github.com/opensearch-project/OpenSearc

[2022-07-07 23:27] dreamer-89 opened #3818 "[Segment Replication] Add test support for segrep integration tests"
### Summary
Creating this issue to track the work needed to have test framework for testing SegRep feature; which is currently an experimental feature and runs behind a feature flag ([recent](https://github.com/opensearch-project/OpenSearch/pull/3037) great work from @kartg that allows feature toggle without any code deployment and controlled via system property). Thus, enabling segrep needs a fea

[2022-07-07 23:52] andrross commented on #3770
This appears to be a bug related to the wildcard. For example, `HEAD /non-existent-index` will return a 404, but `HEAD /non-existent-index*` will return a 200.

[2022-07-08 00:06] andrross commented on #2412
My inclination is to keep reproducible builds (and the resulting warning from the untar command) as opposed to reverting #1995. The untar warnings can be suppressed with `--warning=no-timestamp` but including real timestamps breaks reproducible builds with (to my knowledge) no alternate workaround.

[2022-07-08 00:29] martin-gaievski commented on #3545
We want to step back a little and make additional evaluation of possible solutions. In particular, functionality of ```dense_vector ``` can be implemented as part of k-NN plugin with a main benefit that it can be done under existing ```knn_vector``` type.

[2022-07-08 01:35] #3798 closed

[2022-07-08 16:15] andrross commented on #3652
I'm closing this because it looks like it is working as intended with new behavior for maximum clause count in Lucene 9. Please reopen if you think we should do anything differently here.

[2022-07-08 16:15] #3652 closed

[2022-07-08 16:39] dreamer-89 commented on #3818
#### Proposal
1. Create a new `Test` [type task](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html) which launches tests to run in separate JVM. The definition of task should look something like
[code]
2. Use System.setProperty() inside the test class (or parent class) and reset after exit. As our tests are running in parallel today, we need to isolated these tests by usin

[2022-07-08 16:51] Rishikesh1159 opened #3823 "[Segment Replication] Review Cross Cluster Replication compatibility with Segment Replication Enabled"
**Is your feature request related to a problem? Please describe.**
As part of this issue, we want to identify if Segment Replication enabled cluster have any issues with Cross Cluster Replication. In case there are issues, identify changes needed to make it compatible.

**Describe the solution you'd like**
-> Run clusters in local with segment replication enabled and test if CCR (Cross Cluster Rep

[2022-07-08 16:58] andrross commented on #3615
@cliu123  You can see the the backward compatibility tests being run as a part of that gradle check:

[code]

Are there specific logs that you're looking for? I don't think the test output logs a whole lot when the tasks succeed.

[2022-07-08 17:11] jasonkemm commented on #3781
@reta I'll give it a go and report back.

[2022-07-08 18:38] peterzhuamazon commented on #850
Hi @dreamer-89 this is complete for now:
* https://github.com/opensearch-project/opensearch-build/issues/2193

[2022-07-08 19:08] Poojita-Raj opened #3832 "[BUG] [Segment Replication] local checkpoint falling behind global checkpoint"
**Describe the bug**
Occasionally, with segment replication enabled, we see the below bug during the process of adding/refreshing/deleting documents:

` java.lang.AssertionError: supposedly in-sync shard copy received a global checkpoint [0] that is higher than its local checkpoint [-1]`

**To Reproduce**
Steps to reproduce the behavior:
1. Create an index with segment replication enabled
2. Try o

[2022-07-08 19:25] Poojita-Raj opened #3834 "[BUG] [Segment replication] Search requests to index hang indefinitely"
**Describe the bug**
Upon indexing documents to an index with segment replication enabled, sometimes search requests sent to that index hang indefinitely. This behavior is noticed both before and after refreshing the index.

**To Reproduce**
Steps to reproduce the behavior:
1. Run gradle with 2 nodes
2. Create an index with segment replication enabled
`curl -X PUT "localhost:9200/my-index-000001?p

[2022-07-08 20:22] andrross commented on #3770
Actually, this seems to mirror the behavior of the `GET` variant where `GET /non-existent-index` will return a 404 whereas `GET /non-existent-index*` will return a 200 with an empty list in the response body. Both APIs allow for specifying the [`allow_no_indices=false` parameter](https://opensearch.org/docs/latest/opensearch/rest-api/index-apis/get-index/#url-parameters) which will result in the e

[2022-07-08 23:56] Rishikesh1159 commented on #1868
Just wanted to document how I generated 2.1.0 release notes, so that this process might help in automation or for next release.
Steps:
[code]
-> In second line of above command block, when using --since the date should be selected carefully. You should select the date when opensearch version bumped from MajorVersion.x to new version, example ([2.x version bump to 2.1](https://github.com/opensearch

[2022-07-09 00:05] Rishikesh1159 commented on #789
Just wanted to document how I generated 2.1.0 release notes, so that this process might help in automation or for next release.
Steps:

* `git checkout origin/2.1`
* `git log --pretty=format:"* %s" --since=3-23-2022 > release-notes/opensearch.release-notes-2.1.0.md`
* Manually organize file sections
  * Add Date / Version section (copy + modify from previous release)
  * Enhancements/Bug fixes/Mai

[2022-07-10 14:19] AmiStrn commented on #3578
@nknize can you please update here? green light for us to make these changes?

[2022-07-10 14:35] mattweber opened #3838 "[BUG] gradle check not generaating expected file"
Build for #3837 failed with message:

[code]

https://build.ci.opensearch.org/job/gradle-check/362/

[2022-07-10 18:40] dreamer-89 commented on #1320
Code coverage report upload was handled as part of [public jenkins migration work](https://github.com/opensearch-project/opensearch-build/issues/2193). Since, the work is already completed, closing this issue.

[2022-07-10 18:40] #1320 closed

[2022-07-11 01:03] lucabusin commented on #3546
Hi, @dblock
Sorry.
No I haven't. I'll do that. So you are saying that what I've done looks ok from what you can see?

[2022-07-11 07:39] ankitkala commented on #1147
@Bukhtawar How the PIT query handle deleted documents in the segment.
For example, if a PIT query was created at time `t`,  search would skip all deleted documents in the segments irrespective of whether it was marked as deleted before or after the PIT creation time `t` right? Just wanted to know how we're handling it.

[2022-07-11 11:44] abseth-amzn commented on #1707
Hello all,
I am working on supporting custom plugins with Amazon's managed OpenSearch service. It would be desirable to allow customers to upgrade their domain's core version without requiring them to provide updated custom plugins every time, especially for patch version upgrades for the core. I have read through the above mentioned comments and see following options for the path forward:
1. Intr

[2022-07-11 12:09] dblock commented on #1707
Thanks for a thoughtful proposal @abseth-amzn! Tl;dr I would prefer (3) + (1) and I think it's a similar amount of work as just (1).

Longer story:

My preference would be for the longest term solution, aka (3) where plugins specify, for example, `~> 2.x` by default (compatible with any 2.x version) and lock that down only if they find an incompatibility for whatever reason (e.g. `>= 2.0, <= 2.3`)

[2022-07-11 12:14] #3838 closed

[2022-07-11 13:10] LucasCiocari commented on #3395
Has anyone with this problem updated to 2.1.0 and verified if it still happens?

Adding ttl_minutes does not solve the problem, it just alleviates it.

[2022-07-11 14:55] hauck-jvsh opened #3842 "Adds option to do not abort the query when highlighting"
I have an index with very large texts inside a field, and when a search with highlighting is made against it, the following error is returned:

I think that it will be better if the query can execute and only the highlight is disabled. Another option is to add an max_analyzed_offset option to the highlighter and ignore all after this option similar to what is done in the current Elasticsearch vers

[2022-07-11 16:21] brijos commented on #3757
This is what we are tracking as migration blockers for language and ingestion clients....

Hadoop client - https://github.com/opensearch-project/opensearch-clients/issues/23
Logstash 8 support - https://github.com/opensearch-project/logstash-output-opensearch/issues/132
Logstash Filter plugin support - https://github.com/opensearch-project/opensearch-clients/issues/4

[2022-07-11 17:41] peternied opened #3846 "OpenSearch requests should know the identity of the caller"
**Is your feature request related to a problem? Please describe.**
OpenSearch extensions need to know the identity of the caller and existing architecture requires depending on the [security plugin](https://github.com/opensearch-project/security) to get identity information.  This creates an additional complication dependency or a source of runtime failure.  Neither are easy to manage when compare

[2022-07-11 19:17] mch2 commented on #3760
Have been trying to reproduce this but getting overflow before rewrite step.

[code]

Queries with 1024 or less clauses should succeed, but this fails when the queries are nested further.

For example this unit test will succeed:
[code]

At 1025+ iterations it will fail gracefully with `org.apache.lucene.search.IndexSearcher$TooManyClauses: maxClauseCount is set to 1024`

Where this fails with SO:

[2022-07-11 21:22] #1323 closed

[2022-07-11 21:27] CEHENKLE commented on #2603
@reta Question from our OSPO team:  "Want to make sure I understand, did we start from the Elastic integration to create the OpenSearch integration?"

[2022-07-11 21:43] peternied opened #3850 "[Extensions] When actions are delayed and run asynchronously they should be associated an identity"
**Is your feature request related to a problem? Please describe.**
There are many long running / scheduled / asychronous processes within OpenSearch and plugins,  When these tasks are executed they do not have the context of who triggered them.  For management purposes it would be useful to know if there was a specific user/process causing instability, or to allow for restricted permissions of the

[2022-07-11 21:50] andilem commented on #3395
We are still having this problem with 2.1.0.
Looks like it happens after each TTL timeout as mentioned here: https://github.com/opensearch-project/security/issues/1927.

[2022-07-11 22:10] minalsha opened #3851 "[Extensions]Have all development work behind a feature flag or configuration"
**Is your feature request related to a problem? Please describe.**
As we are working on Extensions, lets ensure that we are tracking all the development for extensions behind a feature flag or configuration to ensure current plugin architecture is not impacted.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consider

[2022-07-11 22:10] dblock commented on #3546
Am I wrong to read this as something specific to the managed service? Can you reproduce the same problem in OpenSearch OSS?

[2022-07-11 22:11] minalsha commented on #3851
#1422

[2022-07-11 22:20] reta commented on #2603
@CEHENKLE Not entirely - the API is similar (to Elasticsearch test container) but this is brand new implementation, with security enabled / disabled, HTTP(s) and self-signed certificates support.

[2022-07-11 22:48] CEHENKLE commented on #2603
@reta thanks....will continue to nudge this along (we're close)

[2022-07-11 23:22] martin-gaievski commented on #3545
The new section "Revised Approach" has been added, mainly it suggests exposure of Lucene HNSW implementation through existing _knn_vector_ field

[2022-07-12 03:02] dreamer-89 commented on #3832
Looking

[2022-07-12 05:41] tlfeng commented on #3395
I'm still trying to reproduce to bug locally, and hope it can help me locate the problem.
From the above discussions, I think the key to reproduce the bug is sending bulk API request with a client.
Based on the feedback from @w39hh (https://github.com/opensearch-project/OpenSearch/issues/3395#issuecomment-1176549127), I wrote a sample code to use Java high level rest client 2.0.0 to send bulk API

[2022-07-12 06:19] nickytd commented on #3770
Thanks @andrross,
in my opinion there shall be no "assumed" parameters hidden in the implementation of an API. Predictability is far better option and keeping parity between "index exist" and "get index" is a better option to me. The caller of the API needs to properly set the parameters in accordance to the spec. So I am for the second option: keeping the same options and behaviours between "exis

[2022-07-12 12:59] hauck-jvsh commented on #3842
Do you guys needs more info? I can link the Elasticsearch issue here or it is forbidden?

[2022-07-12 15:28] dblock commented on #3842
You should feel free to link issues. If you want to contribute a fix, and if ES has fixed this issue, please feel free to reimplement and confirm that you have not been looking at any non-APLv2-compatible-licensed code.

[2022-07-12 17:26] dreamer-89 commented on #3832
I wasn't able to reproduce when starting server and manually doing ingestion, deletion & occasional refreshes.

Writing a test to perform these operations at a larger scale.

[2022-07-12 18:06] reta opened #3865 "[FEATURE] Introduce Spring Data Opensearch"
**Is your feature request related to a problem? Please describe.**

Taking into account how widely popular Spring Data Elasticsearch is, it is highly likely that community would seek the first class support of the OpenSearch integration In scope of this issue and multiple discussions with Spring Data Elasticsearch team (@sothawo), the decision has been made to host the integration on OpenSearch si

[2022-07-12 18:14] Bukhtawar opened #3866 "Safety/correctness checker for OpenSearch software"
**Is your feature request related to a problem? Please describe.**
With deep changes being made to core espl in the Engine with the new [segment based replication strategy](https://github.com/opensearch-project/OpenSearch/issues/2229) and it's integration with [remote segment store and translog](https://github.com/opensearch-project/OpenSearch/issues/1968), it becomes imperative that we re-evaluat

[2022-07-12 18:55] #3539 closed

[2022-07-12 18:59] saratvemulapalli commented on #1975
Coming from https://github.com/opensearch-project/opensearch-build/issues/1572, @dreamer-89 I see you are assigned to this. Are you planning on to picking this up ?

[2022-07-12 19:08] dreamer-89 commented on #1975
@saratvemulapalli : Thanks for sharing this. The intent behind this task was to break down gradle check in order to reduce the flaky test failures (apologies issue title doesn't match with the intent). Probably we can track https://github.com/opensearch-project/opensearch-build/issues/1572 on separate issue ?

The next steps on this issue is to perform one more round of experiment to compare flaky

[2022-07-12 19:26] saratvemulapalli commented on #1975
Thanks for more information. @dreamer-89
May be lets organize this (if we haven't already) and link them back to 1 meta issue:
1. Take care of flaky tests
2. Proposal to split gradle check in to multiple smaller tasks.
3. Add support for new tests in CI (starting with Packaging tests)

[2022-07-12 19:34] dreamer-89 commented on #3832
@Poojita-Raj : I am not able to reproduce this failure locally. I tried manually running server and wrote one integration test (below) without any success. Can you share more insights around how reproduce this ?

[code]
Branch: https://github.com/dreamer-89/OpenSearch/commits/segrep_snapshot (note, needed to pull in delete doc related fix).
OS: macOS

[2022-07-12 21:36] minalsha commented on #3767
@dbwiddis did this for opensearch-sdk repo. Sync up with him on his PR and it would be similar for OpenSearch

[2022-07-12 21:38] kotwanikunal opened #3869 "[Searchable Snapshot] [Design Proposal] Block Based Storage"
This document outlines a proposal for implementing new block based storage and caching mechanisms without any external dependencies. This is a WIP. Please feel free to leave comments below with any thoughts or suggestions!

## Overview

Lucene utilizes [IndexInput](https://lucene.apache.org/core/9_1_0/core/org/apache/lucene/store/IndexInput.html) and [IndexOutput](https://lucene.apache.org/core/9_

[2022-07-12 21:42] minalsha commented on #2312
@dblock based on above discussion, how should we proceed for this issue? Should we swap AdoptOpenJDK for new JDK(Temurin) ?

[2022-07-12 21:47] minalsha commented on #2412
@andrross / @kotwanikunal  can one of you summarize the issue and next steps for this issue?

[2022-07-12 21:50] minalsha commented on #2561
@VachaShah  can you share which bot is in question here and next steps for this issue?

[2022-07-12 21:51] joshpalis commented on #2417
@minalsha No, this issue is outdated now as these tests were related to the initial version of the SDK

[2022-07-12 21:51] minalsha commented on #2603
Hi @CEHENKLE , assigning this issue to you since you are handling it. Thanks

[2022-07-12 21:53] minalsha commented on #2665
@bbarani , @peterzhuamazon thoughts on this?

[2022-07-12 21:55] minalsha commented on #2690
@bbarani @peterzhuamazon  is this already addressed in the new Jenkins setup?

[2022-07-12 21:55] minalsha commented on #2693
Closing in lieu of https://github.com/opensearch-project/opensearch/issues/3084

[2022-07-12 21:55] #2693 closed

[2022-07-12 22:08] andrross commented on #2412
@minalsha The "reproducible builds" feature is the capability to deterministically produce the same output of a build given the same input. One example of non-determinism is using build-time timestamps on file timestamps when creating the build artifacts. A maintainer for OpenSearch in Arch Linux created a pull request (#1995) against OpenSearch core to change the gradle build settings to make the

[2022-07-12 22:26] reta commented on #2312
@minalsha we use Temurin for JDK-8/11/17, sadly JDK-14 is only available from AdoptOpenJDK (it is used for BWC tests)

[2022-07-12 22:45] reta commented on #2412
I think there is a value in reproducible builds, but may be we need a bit different approach then just zeroing timestamps: may be we could always set the timestamp out of the last commit? In this case, whenever the same change set is being build - it is reproducible build. If it sounds like a thing to try, I could try it out, @andrross wdyt?

[2022-07-12 22:51] andrross commented on #2412
@reta Totally agree that zeroing out timestamps seems odd. But we are following the recommended approach from the [Gradle documentation](https://docs.gradle.org/current/userguide/working_with_files.html#sec:reproducible_archives) to create reproducible builds. I'm not opposed to using the commit time like you described, but would just worry if it introduced a lot of complexity.

[2022-07-12 22:56] reta commented on #2412
I am thinking about it as a simple change, if it is not - I will not spend time on it (Gradle is always full of surprises) ....

[2022-07-13 00:30] tlfeng opened #3872 "[BUG] Test failure in org.opensearch.indices.replication.SegmentReplicationTargetServiceTests.testShardAlreadyReplicating"
**Describe the bug**
First seen in PR https://github.com/opensearch-project/OpenSearch/pull/3863#issuecomment-1182074587

[code]

**To Reproduce**
The test failure in the method `testShardAlreadyReplicating` can be reproduced by running the test cases in the whole class.
The either random seed can reproduce the test failure.
`./gradlew ':server:test' --tests "org.opensearch.indices.replication.Seg

[2022-07-13 03:11] gaoyan0204 opened #3877 "[BUG]"
**Describe the bug**
I'm in opensearch_ dashboards.yml Set i18n.locale: "zh-CN", but the language is English. opensearch_ dashboards version is 2.1

[2022-07-13 05:09] tlfeng commented on #3877
Currently changing the language for OpenSearch Dashboards doesn't work, and there is an open issue for it: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/772. There is another open issue aims to solve it https://github.com/opensearch-project/OpenSearch-Dashboards/issues/943, you could share your opinion there.

About installing the plugin. "x-pack" plugin is not supported in Op

[2022-07-13 07:12] gaoyan0204 commented on #3877
When can support changing to language？
Or can you tell me how to customize the language conversion plug-in？

[2022-07-13 08:01] dvas0004 commented on #3089
FYI issue is still occuring...
A heap histo follows for when the heap memory is at 95% follows (WARNING.. verbose output, only first few lines pasted below, rest will be attached to file : [heap_histo.txt](https://github.com/opensearch-project/OpenSearch/files/9100182/heap_histo.txt)

[code]

[2022-07-13 08:49] nickytd commented on #3770
We can close the issue and the changes should be provided by the API maintainers. At least the docs in golang client shall reflect these details and also the examples published on opensearch.org.

[2022-07-13 08:50] #3770 closed

[2022-07-13 10:52] kdbmadhavi opened #3878 "Open search roles and users in not working for any index pattern expect *"
I was trying to create new user ans role for certain indices
i used https://opensearch.org/docs/latest/security-plugin/access-control/users-roles/ document
I created the role where i specified required index-pattern, user and mapped role, it always ended up showing up
{"statusCode":403,"error":"Forbidden","message":"no permissions for [indices:data/read/search] and User [name=aicasino, backend_rol

[2022-07-13 12:52] Bukhtawar commented on #3866
cc: @mch2 @sachinpkale @ashking94 @kartg @andrross @reta @nknize
Looking for thoughts on adding this framework.

[2022-07-13 13:00] niravpi opened #3879 "[BUG]For ES version after 6.0.0 the index seems to be created with " index.mapper.dynamic " attribute which ideally it should not have"
**Describe the bug**
For ES version after 6.0.0 seen some specific case where the index seems to be created  with " index.mapper.dynamic " attribute which should not happened as while I am trying the change this setting getting below error
[code]
But where as I can see that some index which are created in the 1.0.0 version are having this settings which we are not able to change or remove

Sample

[2022-07-13 13:48] dipenpatel235 opened #3880 "i have create a index roll-over and delete policy but data not deleted"
**Describe the bug**
policy has been apply but data not deleted.

**please look at policy..**

{
    "policy": {
        "policy_id": "Data-rollover",
        "description": "hot warm delete workflow",
        "last_updated_time": 1657718012858,
        "schema_version": 12,
        "error_notification": null,
        "default_state": "hot",
        "states": [
            {
                "name"

[2022-07-13 14:23] Bukhtawar opened #3881 "[Segment Replication] Support for mixed cluster versions (Rolling Upgrade)"
**Is your feature request related to a problem? Please describe.**
Once we enable [segment based replication](https://github.com/opensearch-project/OpenSearch/issues/2229) for an index, we would need to solve version upgrades leading to mixed version clusters.
We can have an index with primary on OS 3.x whose replica might be on OS 4.x this itself is not a problem since next major versions have Lu

[2022-07-13 15:52] dbwiddis commented on #3767
See https://github.com/opensearch-project/opensearch-sdk/pull/18 for an implementation.   Easy copy/paste (and then fix the errors it finds.)

[2022-07-13 17:12] dreamer-89 commented on #3872
Another occurence
https://github.com/opensearch-project/OpenSearch/pull/3863

[2022-07-13 17:43] #3640 closed

[2022-07-13 17:45] dblock commented on #3640
The original issue is still present, we don't know how to sign Sigv4 chunked requests. The workaround is now to `setChunkedEnabled(false)`.

[2022-07-13 18:44] #3084 closed

[2022-07-13 18:44] #3696 closed

[2022-07-13 20:36] #2412 closed

[2022-07-13 21:58] ananzh opened #3892 "[BUG] gradlew run returns error `error: warnings found and -Werror specified`"
**Describe the bug**
`./gradlew run` returns error `error: warnings found and -Werror specified`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. pull down OpenSearch
2. run `./gradlew run`

**Expected behavior**
no error

**Plugins**
NA

**Screenshots**
NA

**Host/Environment (please complete the following information):**
 - OS: ubuntu
 - Version: main
 - JDK14

**Additional context**

[2022-07-13 22:23] ildarmf commented on #3648
+1

[2022-07-13 23:54] andrross opened #3895 "[Searchable Snapshot] [Design Proposal] Remote Searchable Snapshots"
This document outlines a proposal for implementing remote searchable snapshots. Please feel free to leave comments below with any thoughts or suggestions!

## Goal

Users should be able to search indexes within snapshots in remote repositories without downloading all index data to disk ahead of time. The goal represents phase 2 under the [storage roadmap proposal](https://github.com/opensearch-pro

[2022-07-14 00:20] dreamer-89 commented on #3832
Thanks to @mch2. The issue is reproducible when a replica is started during indexing operation on primary.

[code]

[2022-07-14 03:55] sachinpkale commented on #3767
Great! Thanks @minalsha and @dbwiddis. I will take a look and make required changes.

[2022-07-14 07:42] abseth-amzn commented on #1707
Thank you @dblock! To clarify, following could be the path forward based on the examples above:
1. Relax the patch version check for plugins as OpenSearch follows SemVer.
2. Enable plugins to declare the range of core versions they are compatible with (does not include patch version).
3. If a plugin does not specify the compatibility range then default to (1)

[2022-07-14 10:15] FabioFlorey opened #3897 "[BUG] OpenSearch is not visible on the intranet (I can visit it locally, on the machine)"
**Describe the bug**
After I run podman-compose -p ProjectName up I expect the project to create a network and for opensearch dashboards to be visibile in the intranet, however, it doesn't happen. The project runs flawlessly (I can curl both 9200 and 5601) but podman network ls doesn't see any network created by OpenSearch.

**Expected behavior**
OpenSearch Dashboards must be up and visible from t

[2022-07-14 12:38] shwetathareja commented on #3879
@dblock : this code path has not changed in OpenSearch 2.0, It might still be there. I will take a look at this one.

[2022-07-14 13:25] reta commented on #3866
+1 to look into [Jepsen](https://github.com/jepsen-io/jepsen), Elastic has formal TLA+ models published (AL 2.0) [1] which could be quite helpful, although no updates since 2019.

[1] https://github.com/elastic/elasticsearch-formal-models

[2022-07-14 13:57] reta opened #3901 "Update to Gradle 7.5"
**Is your feature request related to a problem? Please describe.**
Gradle 7.5 is out [1]

[1] https://github.com/gradle/gradle/releases/tag/v7.5.0

**Describe the solution you'd like**
Update to Gradle 7.5

**Describe alternatives you've considered**
Keep using Gradle 7.4.2

**Additional context**
N/A

[2022-07-14 14:51] brijos commented on #3865
I'll begin the process of creating a new repo. FYI @VachaShah

[2022-07-14 16:57] #2417 closed

[2022-07-14 16:58] dblock commented on #2312
Let'd close this. We've decided that OpenSearch will continue using a vendor neural JDK.

[2022-07-14 16:58] #2312 closed

[2022-07-14 17:15] #3666 closed

[2022-07-14 17:26] dblock commented on #1707
Yes. I think (1) is an independent change from (2), and (1) is a breaking change that would need to be introduced in a major version of OpenSearch.

[2022-07-14 17:37] #3901 closed

[2022-07-14 17:38] peternied opened #3905 "[BUG] JarHell enforcement during integration tests is blocking test development for the security plugin"
**Describe the bug**
Kafka's clients production `org.apache.kafka:kafka-clients:3.0.1` and test ` org.apache.kafka:kafka-clients:3.0.1:test` jars contain overlapping classes in `org.apache.kafka.common.message`.  When attempting to build or run tests `JarHell` is detecting this an erroring out.  This is preventing the Security team from authoring test cases.

**To Reproduce**
Steps to reproduce th

[2022-07-14 17:40] sachinpkale opened #3906 "[Remote Segment Store] Failure handling"
## Goal

Identify failure scenarios that can occur while uploading or restoring data to/from the remote segment store and propose a solution to handle these failures. In order to provide durability guarantees, we need to ensure persistence and integrity of data in the remote store.

## Invariant

Following is the invariant that we track for remote store feature (remote translog + remote segment st

[2022-07-14 18:13] mgodwan opened #3908 "[BUG] Forward compatibility for BulkResponse in Java Client"
**Describe the bug**
Today, BulkResponse in Opensearch throws an exception in case it is not able to recognize a property. This makes the client to not be forward compatible to any new fields which a new version of server can add, and prevents the API from evolving without breaking the client.

CP: https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/actio

[2022-07-14 18:21] andrross commented on #3866
I think this is great idea @Bukhtawar. What do you think the best way to get started is? We could start from the TLA+ models referenced above and modify as necessary (if anything is out of date from 2019). Or we could start fresh and build on top of that.

[2022-07-14 18:23] w39hh commented on #3395
@tlfeng When the issue occurs for us, it is not related to a Bulk API request.  We have applied the mitigations

- plugins.security.cache.ttl_minutes: 1440
- restart every 3 hours

But we still get the issue, although much less frequently, but typically once a day.  I have added a much larger portion of the stack trace in the event it helps. (**** = removed text)

[code]

[2022-07-14 20:18] #3674 closed

[2022-07-14 20:26] peternied commented on #3905
I have created a pull request, https://github.com/apache/kafka/pull/12407 with the source of the issue, but I am uncertain of the release timeline or how quickly we can use the updated in the middle of the security dependency tree.

This leaves 3 potential options to work around in order of effort:
1) Security plugin overrides the JarHell.java functionality and rolls this back this patch when the

[2022-07-14 21:42] dblock commented on #3905
I think #1 or #3 are fine since they are temporary anyway.

[2022-07-15 00:35] #3082 closed

[2022-07-15 01:17] dreamer-89 commented on #3113
@kotwanikunal : Is there any documentation you compiled as part of this issue ? Will be super useful for users and will assist in understanding design of remote searchable snapshots.

[2022-07-15 04:10] sachinpkale commented on #3866
I completely agree with the proposal to add correctness checker. We started listing down failure scenarios of remote segment store and realized that there are many corner cases and almost impossible to cover them manually.

[2022-07-15 05:59] gbbafna opened #3917 "[Design Proposal] Decommissioning and recommissioning a zone"
## Goal

This doc proposes a high level and low level design to support for decommissioning and recommissioning a zone . For more info on feature proposal, please refer: https://github.com/opensearch-project/OpenSearch/issues/3402 .

## Requirements
### Functional

1. Decommission abdicates elected cluster-manager if it belongs to decommissioned zone
2. Decommission removes nodes belonging to a sp

[2022-07-15 06:33] rursprung commented on #1707
with this you mean a semver definition like `> 2.0.0, < 2.8`, right? then this would be great news as it'd solve 99% of the problems encountered as plugins can then start using that once they upgrade to the opensearch version which supports this and then don't have to deal with it again until the next major release

[2022-07-15 08:09] zopyx opened #3918 "OS neither starting on Mac M1 nor on Linux"
`docker-compose up``

Mac M1:

[code]

Linux/Ubuntu (reproduced on 2 different systems):

`OpenSearch Dashboards server is not ready yet`:

[code]

[2022-07-15 08:27] ashking94 commented on #3706
The above scenario has detailed and elaborated further in #3906 by @sachinpkale.

[2022-07-15 12:06] lukas-vlcek commented on #3918
Hi @zopyx

I think the first issue to address would be

Did you consult https://opensearch.org/downloads.html specifically https://opensearch.org/docs/latest/opensearch/install/important-settings/ ?

[2022-07-15 12:08] zopyx commented on #3918
Doubt...the M1 issue has nothing to do with memory (as the traceback indicates) and my Docker installation has 8 GB configured.

[2022-07-15 12:26] gbbafna commented on #3639
Thanks @imRishN .

should we have `Zone Decommission` API synchronous ? The `Get commission status` API essentially will output the state preserved in cluster state.  By making API sync , the status API need can be avoided .

If users want to know the status of `decommission`, `_cat/nodes`, `_cat/master` and `_cluster/health` should be able to provide the granular details .

[2022-07-15 12:55] lukas-vlcek opened #3922 "[Discuss] Upgrading the MinIO image version? Can we use the latest image?"
**Is your feature request related to a problem? Please describe.**

MinIO is used in test fixture. As of writing the version of the container image is hardcoded to some specific hash. The upstream project does [frequent releases](https://github.com/minio/minio/releases) (doing several public releases during a single week is no exception). This release cadence means that we use "outdated" MinIO ima

[2022-07-15 13:23] Bukhtawar commented on #3639
When we decommission the zone it is possible that traffic hasn't be DRAINED in which case it might take longer and calls getting timed out. The `GET` API can perform more exhaustive checks on traffic drain, there could be more graceful checks in future around ongoing snapshots, shard relocation etc which would take time to complete. Having a `GET` API would help extend for other cases as well.

[2022-07-15 14:45] ashking94 commented on #3706
Continuing further on the original point of discussion - **Avoiding divergent writes with segment replication & remote translog**

## 1. Context

Along with segment replication, we plan to have only one source of truth for storing the translog in remote store. Currently, in NRT segment replication mode, the segments are replicated asynchronously and the primary is responsible for forwarding the wr

[2022-07-15 15:23] Bukhtawar opened #3923 "[Segment Replication] Peer recovery checkpoint publication invariants"
**Is your feature request related to a problem? Please describe.**
With Segment replication the primary publishes checkpoints on OpenSearch refresh/flush, however soon after the relocation hand-off is complete the peer primary source gets into replica mode which ensures that it is no longer responsible for global checkpoint tracking and the peer primary target should take over. However it's possib

[2022-07-15 15:42] Bukhtawar commented on #3906
Potential Solution: Use primary term to differentiate between segments uploaded from different primaries. This can be achieved by adding the primary term in the remote directory path or by adding primary term prefix to the segment file name. This assumes that each primary has unique primary term.

We need to potentially handle cases during a peer recovery where the peer primary source(relocating)

[2022-07-15 15:47] Bukhtawar commented on #3866
@andrross I guess we could start from the existing models that are there and see if they need an update or need more comprehensive cases for remote store and recent engine changes that we are making

[2022-07-15 17:03] penghuo commented on #3734
@rishabhmaurya Nice doc!

One question, How do we propose to query the TSDB?
Taken examples from [PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/), let's say http_requets_total metrics has 4 dimensions (job, group, stage, method),
1.we want to select particular timeseries from http_requets_total metrics. e.g. `http_requests_total{job="prometheus",group="canary"}`.
2.we want t

[2022-07-15 17:21] alicejw-aws commented on #831
Hi @vamshin, do they need to install the Geospacial plugin before they can access the "Import Vector Map" option in the Dashboards? Just want to add that as a prerequisite in the docs, if it's required. (Geospacial plugin mentioned in related issue here: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1408)
thanks

[2022-07-15 17:40] Shivamdhar commented on #831
@alicejw-aws please find the attached custom geoJSON file having 5 US counties as features.

Please note the file should have .json or .geojson extension. I wasn't able to upload that here, hence sharing .txt file. Let me know if you need any help : )

[usa-county.txt](https://github.com/opensearch-project/OpenSearch/files/9122874/usa-county.txt)

We can also extract any custom geoJSON using this

[2022-07-15 19:42] alicejw-aws commented on #831
Thank you Shivam @shivamdhar! this is perfect! it's exactly what i was looking to include in the docs.

[2022-07-15 20:08] andrross commented on #3706
_Caveat: I'm certainly not an expert on this part of OpenSearch so please correct me wherever I'm wrong_

One nitpick that might help clarify things is to replace the phrase "no op replication" with something like "primary term validation". If I understand correctly, you wouldn't need to send the document over the wire and instead would just be asking the replicas "is the primary term x?".

One co

[2022-07-15 20:35] reta commented on #3706
A few comments from my side.

I think this is the right thing to do, even in case of primary with no replicas: when the connection with master is lost (split brain etc), it looks right for the primary to go into readonly mode and not accepts writes anymore.

It looks clever to store the `CurrentPrimaryTerm` (under `Base64UUID/IndexUUID/ShardID`) and check it before every write operation (so the pr

[2022-07-15 21:15] andrross commented on #2923
Closing this as we did develop a rough prototype on a user fork to help answer some of the unknowns here: https://github.com/andrross/OpenSearch/tree/remote-snapshot-experiment-2

The overall project is tracked in the meta issue (#2919)

[2022-07-15 21:15] #2923 closed

[2022-07-15 21:16] kotwanikunal commented on #3114
There will be overlap and I will work with the currently defined interfaces to enable a read-only mechanism for the searchable snapshot use case.

[2022-07-15 21:16] kotwanikunal commented on #3114
Design proposal: https://github.com/opensearch-project/OpenSearch/issues/3869

[2022-07-15 22:02] marcio-pessoa commented on #3798
Hi dears. What can I do to solve this issue?

[2022-07-15 22:24] peternied commented on #3846
To support user identity, there needs to be an authentication system that can check with an identity store (local/remote).  The identity store would resolve the user identity to a reference that can be passed around within OpenSearch to the request handlers.
![image](https://user-images.githubusercontent.com/2754967/179318918-3cbb5740-24a0-41ad-8717-182f33cfe666.png)

[2022-07-15 23:03] owaiskazi19 commented on #3918
Looks like OpenSearch is working on M1. @zopyx can we close this issue?

[2022-07-16 00:18] cdsap opened #3927 "[BUG] Incorrect configuration task buildNoJdkRpm"
**Describe the bug**
The configuration of the task buildNoJdkRpm is:

[code]

The current configuration was setting the incorrect parameter jdk to true. This configuration was causing in incremental build scenarios the execution of the tasks. After setting the correct parameter tasks are UP-TO-DATE.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `./gradlew clean assemble`
2. Execute

[2022-07-16 00:18] dbwiddis commented on #2341
Hi @Avimitin. Not sure if you've made any more progress on this.  I spent the last few days looking into this.  I was of course able to reproduce the initial failure in the `Architecture` class but after adding the `riscv64` entry as you did, have not been able to reproduce the later error.  After making the same architecture change, I was successfully able to build on a [GNU Compile Farm RISC-V 6

[2022-07-16 00:39] dbwiddis commented on #1303
FYI, commentary on the above gradle check errors in #2341.

TLDR: I believe they are Gradle and/or OpenJ9 bugs that may be fixed by upgrading version(s).

[2022-07-16 00:56] nitincd opened #3928 "[Feature Request] Implement a log pattern processor that generates patterns on incoming log data"
As a user, I find it tough to parse through millions of lines of log data and separate out expected log events from unusual and unexpected ones. A log pattern processor would help by identifying patterns in the log data that would help spot outliers.
The initial pattern can be a simple one like the punctuation signature of a log line, that could help identify

Punctuation Pattern
It would be an ad

[2022-07-16 01:06] #3434 closed

[2022-07-16 02:55] hydrogen666 opened #3929 "[Segment Replication] Replicate *.liv file may cause performance issue"
In document replication scenario, *.liv file are only be written to disk when  flush operation (Lucene commit) is performed. But in segment replication, the *.liv file must be written every refresh (by setting `writeAllDeletes` to true in `DirectoryReader#open` method).

It may not cause any problem in append-only scenario (no delete will be issued in old segment). But in update scenario, as long

[2022-07-16 08:41] Bukhtawar commented on #3706
Thanks @andrross for the observation, Here is how we intend to solve the above, but before that some context on how doc repl does it, below are the sequence of steps.

1. An isolated primary indexes operations to Lucene and writes to it's local translog
2. Once it forwards the request to the replicas it then realises, it's partitioned off
3. The isolated primary would fail to ack this request to t

[2022-07-17 13:26] AmiStrn commented on #3113
This is what I expected when I read the title. was expecting a document:)

[2022-07-18 02:36] Avimitin commented on #2341
Sorry for the late response. I don't know much about Java Eco-system, so I don't take much time to discover that problem. I am glad that this issue has been fixed. And I will retry building it after the new version is released.

[2022-07-18 06:13] Bukhtawar commented on #3706
/cc: @itiyamas @muralikpbhat

[2022-07-18 07:06] sachinpkale commented on #3706
Thanks @ashking94 for the detailed approaches.

Regarding: `Using remote store that guarantees read-after-write consistency` approach, I have few questions: Are we thinking to use the same remote store that will be used to store translog or this can be a different store? If it is the same, then will this approach make read-after-write a prerequisite for stores to be considered for remote translog?

[2022-07-18 08:55] ashking94 commented on #3706
@sachinpkale Yes, we are thinking to use the same remote store that will be used to store translog. Read-after-write is not just a requirement for primary term validation, but has to be a mandate for storing remotely as we want subsequent reads (after writes) to give us the data written so far, else we can get into an inconsistent state in case of auto restore/failovers/recoveries and likewise.

[2022-07-18 10:17] Bukhtawar commented on #3483
1. So when a recovery begins on the new shard, can it start with fetching the latest commit point on the primary or maybe create one, user data has from the primaries' commit has the translogUUID.
2. Copy the segment into the new shard from the commit in (1)
3. From the seqNo in the last commit start a PRRL on the primary.
4. Copy LuceneChangesSnapshot and write to the new shard's txlog
5. New wri

[2022-07-18 11:33] denisvll commented on #3395
Faced same issue after upgrade from 1.3

so, I've found how to reproduce this bug locally

I used vm (4cpu, hdd)
cluster was created by official docker compose file

1. create cluster
[code]

2. run fill.sh script to send sample data to the index
[code]
3. run in infinity loop on  purge cache url
[code]
4. run in infinity loop  on _nodes stats
[code]

4 `java.io.OptionalDataException` will appear

[2022-07-18 15:27] pranikum opened #3933 "Need Support for multi node cluster setup on local."
**Is your feature request related to a problem? Please describe.**
Currently we only have option to run a single node cluster on local for Opensearch. While testing we need to have provision to create a multi node cluster on local with zonal configuration. This will assist in testing features which requires multi node setup.

Background
With [2859](https://github.com/opensearch-project/OpenSearch/

[2022-07-18 17:53] mch2 commented on #3483
I think we actually can reuse PeerRecovery here as it exists today with some tweaks and solve this.  The xlog is not created until the [cleanFiles](https://github.com/opensearch-project/OpenSearch/blob/3d4d5ca16547e891768729f8ead0b6941f5cc63f/server/src/main/java/org/opensearch/indices/recovery/RecoveryTarget.java#L401) step, which is after segment copy.  We can read the uuid at that point from us

[2022-07-18 18:06] Bukhtawar commented on #3483
I think we should define "in-sync" in this context. My guess is if the shard can recover ALL operations independently from its local segment store + xlog, it should be marked as in-sync. Even in steady state, the replica might not have operations(in xlog) indexed into Lucene which it would always try to wait on primary's refresh to be able to get them in a searchable state.

Sorry I couldn't catch

[2022-07-18 18:08] Rishikesh1159 commented on #3823
Tested running CCR plugin (Gradle check/integTests) against all segment replication changes. All the testing to verify this is done on local machine.

Setup:
-> Cloned opensearch repo locally and cherry picked all segment replication commits into 2.x branch. Resolved few merge conflicts in the process.
-> Publish this to MavenLocal.
-> Clone Cross cluster replication and common-utils plugin repos

[2022-07-18 18:09] kotwanikunal commented on #3113
@dreamer-89 This issue was related to the current mechanisms of OpenSearch snapshots. I do have compiled notes and previous documents which do cover the underlying files and actual snapshot process within OpenSearch.
@AmiStrn I'll try to find the right location to publish it and put this out soon.

[2022-07-18 18:10] mgodwan commented on #3933
There is a docker distribution target which can be built locally to test such scenarios using docker compose.

`:distribution:docker:composeUp`

https://github.com/opensearch-project/OpenSearch/blob/main/distribution/docker/docker-compose.yml

[2022-07-18 18:27] dbwiddis commented on #2341
You can probably rebuild it from source right now by changing the Architecture class as you did in [this comment](https://github.com/opensearch-project/opensearch/issues/2341#issuecomment-1063596683).  Just use a newer version of Gradle which should use a newer, non-bugged JVM.

It would be very helpful to know if you run into any other issues.

[2022-07-18 18:41] navneet1v commented on #3933
When building the any plugin these arguments are supported not sure why they are not supported with the main OpenSearch Repo.

[2022-07-18 19:21] Bukhtawar commented on #3823
/cc : @ankitkala

[2022-07-18 21:05] dblock commented on #3798
@marcio-pessoa are you having the same problem? If you're using a configuration out of the box, open a new issue in https://github.com/opensearch-project/helm-charts please.

[2022-07-18 21:06] dblock commented on #3798
@lliu0947 Did you solve your problem? How?

[2022-07-18 21:11] marcio-pessoa commented on #3798
Hello dears, the problem happened when I updated the cluster from version 1.3.4 to 2.1.0. After a few minutes, the problem was fixed automatically.

[2022-07-18 21:31] #3892 closed

[2022-07-18 22:02] macrakis commented on #1018
# [Design Proposal] The *flat* data type in OpenSearch
## Summary
JSON objects whose components are not indexed are a proposed new field type in OpenSearch; we call them **flat** objects, and their mapping type is **flattened**. Subfields within the JSON are accessible using standard dot path notation in DSL, SQL, and Painless, but are not indexed for fast lookup.

Flat subfields support exact mat

[2022-07-18 22:08] owaiskazi19 commented on #3767
@sachinpkale I raised the PR for the issue. I hope you didn't work on it.

[2022-07-18 23:39] andrross commented on #3706
For this I was thinking of relying on transactional properties of the remote store. I think it's unlikely that any of the remote object stores used in OpenSearch would be able to meet that contract. Given that we can accept uncommitted reads (the current behavior), we probably don't need such a strong guarantee.

[2022-07-18 23:46] andrross commented on #3706
Some comments on "Using remote store that guarantees read-after-write consistency":

It publishes the new primary term to the remote store.

For this to work properly I think you might need proper check-and-set semantics in the remote store (i.e. conditional write). The above describes two steps: 1) read and validate, then 2) write new value. Imagine the new primary is having a bad day and there's

[2022-07-19 01:26] pavan02 opened #3941 "[BUG] Resolve Indices API: Doesn't throw Index not found exception for certain scenarios, doesn't support `_all`"
**Describe the bug**

1. Resolve API doesn't throw index not found exception
`curl -XGET https://localhost:9200/_resolve/index/random?ignore_unavailable=true&allow_no_indices=false -u 'admin:admin' --insecure` empty results are returned

      however for request with `random*`
      ```curl -XGET https://localhost:9200/_resolve/index/random*?ignore_unavailable=true&allow_no_indices=false -u 'admi

[2022-07-19 02:09] mch2 commented on #3483
Hmm thats true.  I was thinking at least after a recovery that set of docs should be also searchable.  I'm also worried about the refresh taking a while after the initial recovery.  Will punt this for now until we have benchmarks, if we need to implement its fairly straight forward to do from a listener.

I meant with remote store we don't care about the durability concern we do today.  With that

[2022-07-19 02:44] rishabhmaurya commented on #3734
good question and I'll be updating doc for better understanding of the logic.

The idea is to perform linear scan on matching TSIDs instead of each doc. So, in this case, all TSIDs matching `{job="prometheus",group="canary"}`, will be iterated over. Lets take the best case, `job` is dimension_1 and `group` is dimension_2, so now we know anything starting with `TSID(encode(dimension_1=prometheus) +

[2022-07-19 03:02] gbbafna opened #3942 "[Discusss] Plugins should use system indices instead of dot indices"
**Describe the bug**

ES introduced concept to system indices to supercede dot indices in ES version 7 . There are following benefits to use system indices :

1. Dedicated read and write pool
2. Prioritized recovery for system indices
4. Enable automated upgrade of indices .
5. There are some dot indices that do not necessarily fit the mold of a normal system index; instead they store data that th

[2022-07-19 04:39] sachinpkale commented on #3906
@Bukhtawar Thanks for pointing out peer recovery use-case. Just by having primary term as disambiguator may not work. Basically, the idea is to make sure a segment file will not be overwritten in the remote segment store. We also need to have some mechanism which will allow to compare files based on primary term and generation in order to resolve conflicts.

This is what I am thinking. Prefix (or

[2022-07-19 04:47] Bukhtawar commented on #3906
<PrimaryTerm>_<NodeId>
NodeId will just be used as disambiguator and will not play any role in resolving conflicts.

Thanks Sachin, I'm on the fence for using just the `NodeId` as disambiguator since it really depends on the implementation details f.e. we could have two processes share it or realistically two threads on the same JVM and still cause a conflict

Having said that we can always have u

[2022-07-19 05:16] Bukhtawar commented on #3706
It publishes the new primary term to the remote store.

@andrross the check and set semantics is probably not needed since as discussed it's fine for translogs to have dirty writes we just need to guarantee we don't ack it back. So essentially what we need is write to translog in a primaryTerm(which could be stale) but ensure we do a read on the primary term again(this could be another metadata on

[2022-07-19 06:55] Bukhtawar commented on #3706
Given there could be rough edges using a new "remote store" protocol with a mix of cluster state primitives and distributed store locking espl when file system stores lack optimistic concurrency control properties, it seems safer and optimal to use No Op replication protocol which already has been battle tested and relies on a consensus among all writers per request before making a call on acknowl

[2022-07-19 07:23] wl02302677 opened #3944 "Write spark dataframe to opensearch"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am evaluating that converting es to opensearch, and my team use spark to process data.
I want to know if I can directly write spark dataframe to opensearch, just like we did on elasticsearch?
I just started following this project but did

[2022-07-19 07:31] ashking94 opened #3945 "[Remote Store] Translog fetch logic during replica promotion to primary & other cases"
**Is your feature request related to a problem? Please describe.**
As part of Remote store work, the translogs would be stored in remote store in the following path - `Base64UUID/IndexUUID/ShardID/PrimaryTerm`. With segment replication, there is a possibility that the replicas can be lagging in terms of the segment generation. **Now, given there is no replicas available locally due to storing tran

[2022-07-19 07:41] ashking94 opened #3946 "[Remote Store] Validation of Peer Recovery esp. Translog replay part"
**Is your feature request related to a problem? Please describe.**
As part of remote store work, we will start storing the translogs remotely. Peer recovery has a stage where it downloads the translogs from the primary and replays it on the target shard. Given translogs are not stored locally, we would need to make use of abstractions created in #3945.

**Describe the solution you'd like**
This st

[2022-07-19 07:45] Bukhtawar commented on #3946
Peer recovery uses PRRL(peer recovery retention leases) on the LuceneChangesSnapshot so the translog files aren't involved. Do you still want to pursue this?

[2022-07-19 07:49] ashking94 commented on #3946
Ah, Ok. Then we could have a common issue for keeping checklist of what all things must be validated as part of this effort. We can create a generic issue if it does not exist already.

[2022-07-19 07:49] #3946 closed

[2022-07-19 07:54] ashking94 opened #3947 "[Remote Store] Validation checklist"
**Is your feature request related to a problem? Please describe.**
This issue will serve as the check list of all validations that must be done to ensure we are covering it from all angles. This is WIP and will continue to have the list expanded.

**Describe the solution you'd like**
 - [ ] Peer recovery validation
 - [ ] Failovers
 - [ ] Primary - Primary recovery
 - [ ] Replica promotion to prim

[2022-07-19 10:16] muralikpbhat commented on #3706
I agree that no-op replication is more safer, but it introduces the dependency from primary to replica on the write path, which otherwise doesn't have to be there in case of NRT with remote storage.

I get the challenges involved in depending on the properties of remote store. Couple of requirements here: read-after-write and uniqueness guarantee for primary term. Since primary term uniqueness is

[2022-07-19 10:18] ashking94 commented on #3706
Thanks @andrross & @Bukhtawar for ideating on this.

Adding on to @Bukhtawar's point, we can revise *the flow when the replica promotion happens* -> Initialising shard (in Primary mode) can fetch the common path (`Base64UUID/IndexUUID/ShardID/PrimaryTerms`) and list all the primary terms in the folder -> It can proactively fail itself if it sees that there are primary terms bigger than it's own ->

[2022-07-19 11:18] Bukhtawar commented on #3706
Thanks @muralikpbhat yes thats a good point. While tagging improves and helps with the performance it certainly makes the correctness and failover or propagation delays depend on the support for these feature across various cloud providers and their supported consistency models.

We would rely on the no master block to kick in after X seconds(this time can be relaxed to include GC pauses as well).

[2022-07-19 12:38] elfisher commented on #1018
@dblock I think we should move the design proposal @macrakis pasted here into the issue summary as it is a pretty comprehensive proposal for the feature. Do you have any issue with that? I can make the change.

[2022-07-19 15:18] macrakis opened #3950 "Update Japanese and Korean language analyzers"
**Is your feature request related to a problem? Please describe.**
The current Japanese (kuromoji) and Korean (seunjeon) language analyzers / tokenizers are out of date.

**Describe the solution you'd like**
Update to the latest versions.

[2022-07-19 17:02] andrross commented on #3944
Generally speaking the OpenSearch indexing APIs are very similar to recent versions of ES. How do you plan on writing from Spark to OpenSearch?

[2022-07-19 17:04] downsrob commented on #3734
If your TSID is based on n dimensions, will you only be able to support queries which filter based on all n dimensions?
And will the queries for all dimensions need to be exact matches? I would imagine that you lose the ability to support range queries on numeric dimensions after the dimensions are encoded.

[2022-07-19 17:21] rishabhmaurya commented on #3734
No, as explained in the example above, one can filter on subset of dimensions and aggregate on others. All TSIDs matching the dimensions filter in the query will be iterated over.

If its numeric field with high cardinality, then its not a dimension in time series. Usually, dimension represents some aspect of a device/machine emitting logs, it doesn't makes lot of sense for it to be numeric with u

[2022-07-19 17:25] #2588 closed

[2022-07-19 18:05] carlos-neto-trustly commented on #3395
The bug described in this issue is also happening to me.

My OpenSearch infra context is:

Component       | Version
:--             |:--
OpenSearch      | 2.0.1
Amazon Linux    | 2
Logstash        | 7.16.2 (_[logstash-oss-with-opensearch-output-plugin](https://opensearch.org/docs/latest/clients/logstash/index/#docker)_)

---

My workaround solution was to create a script that checks the log inges

[2022-07-19 18:33] minalsha commented on #3950
@macrakis  what exactly is out of date and could you please share some additional details to help us investigate?

[2022-07-19 18:35] minalsha commented on #3918
@zopyx  we are closing thisissue but please feel free to reopen if there are any open issue with it. Thanks

[2022-07-19 18:35] #3918 closed

[2022-07-19 18:40] minalsha commented on #3905
Extensions team vote for #3 which is the easiest path forward. Let us know if any help is needed from core team. Thanks

[2022-07-19 18:41] #3927 closed

[2022-07-19 18:43] minalsha commented on #2072
@windbeneathyourwings  are you still working on contributing to this issue? Thanks

[2022-07-19 18:48] minalsha commented on #1833
@balar06 how can we reproduce this issue? Do you still see this issue on latest OpenSearch 2.1 or OpenSearch 1.3.4 ?

[2022-07-19 18:49] minalsha commented on #1840
@lezzago  are you still seeing this issue?

[2022-07-19 18:55] minalsha commented on #1928
@ankitkala  I am closing this issue since you have PRs merged. Feel free to reopen if you still have any questions to discuss. thanks

[2022-07-19 18:55] #1928 closed

[2022-07-19 18:59] minalsha commented on #1929
@ankitkala  what is causing JarHell? Is it conflicting with Java Mockito?

[2022-07-19 19:55] andrross commented on #3706
I think this point is the crux of the issue. Keeping the dependency from primary to replicas means that slow or otherwise misbehaving replicas can impact indexing, as you can only be as fast as your slowest replica. "No-op replication" will improve things substantially compared to the status quo given that the replicas only have to do a trivial validation (hence the "no-op"), but completely breaki

[2022-07-19 22:00] tlfeng commented on #3543
Progress update:
The following classes that have been deprecated and alternative classes have been created:
- in `sever` directory:
LocalNodeMasterListener
final MasterNodeChangePredicate
NotMasterException
NoMasterBlockService
UnsafeBootstrapMasterCommand
MasterNotDiscoveredException
RestMasterAction

The work is done by the following PRs:
Rename classes: https://github.com/opensearch-project/Ope

[2022-07-19 22:51] fatcloud233 opened #3952 "[BUG] Existing shard allocator doesn't use the directory implementation provided by IndexStorePlugin"
**Describe the bug**

I'm working on a per-index at rest encryption plugin, basically using [`IndexStorePlugin`
](https://opensearch.org/javadocs/1.2.4/OpenSearch/server/build/docs/javadoc/org/opensearch/plugins/IndexStorePlugin.html
), provide customized implementation of `org.apache.lucene.store.Directory` and encrypt/decrypt index files.

It works fine when the OpenSearch cluster is running, ho

[2022-07-20 01:47] balar06 commented on #1833
later I haven't faced this issue.

[2022-07-20 03:04] gbbafna opened #3953 "[Zone Decommission] APIs to decommission and storing the metadata"
**Design Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3402

**Feature Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3917

**Describe the solution you'd like**

APIs to decommission and storing the metadata in cluster state .

[2022-07-20 03:05] gbbafna opened #3954 "[Zone Decommission] Abdicating the cluster manager if in decommissioned zone"
**Design Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3402

**Feature Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3917

**Describe the solution you'd like**

Abdicating the cluster manager if in decommissioned zone .

[2022-07-20 03:07] gbbafna opened #3955 "[Zone Decommission] Graceful decommission"
**Design Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3402

**Feature Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3917

**Describe the solution you'd like**

Graceful decommission. Verify no REST request and search requests are served by zone being decommissioned .

[2022-07-20 03:08] gbbafna opened #3956 "[Zone Decommission] Removal of nodes in decommissioned zone"
**Design Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3402

**Feature Proposal**

https://github.com/opensearch-project/OpenSearch/issues/3917

**Describe the solution you'd like**

1. Remove all the nodes in  decommissioned zone.
2. Make sure that they don't join back again . We can add one more Join Validator in [here](https://github.com/opensearch-project/OpenSearch/blob/

[2022-07-20 03:18] gbbafna opened #3957 "[Meta] Decommissioning and recommissioning a zone"
**Is your feature request related to a problem? Please describe.**

There are use-case where decommissioning a zone/rack might be beneficial

 1. In a multi-zone deployment setup it might be good to support zonal deployment rather than a rolling restart per node, which might be too slow for a big cluster and might take sufficiently longer. In such a case zone serves a unit of deployment
 2. Andon

[2022-07-20 03:20] itiyama commented on #3706
1. What if the user is fine with paying the cost of storing a checkpoint in a store that supports conditional writes? We should keep that option in mind for extensibility in future while implementing any of the approaches above. Support for conditional writes of a checkpoint(term+ generation combination) can bring in a lot of simplicity and (maybe) performance gains as the checkpoint will be small

[2022-07-20 05:19] ankitkala commented on #1929
Correct. Objenesis jars which are packaged with secureMock cause this issue. I'll close this issue now as we got around this by relying on integ tests entirely.

[2022-07-20 05:19] #1929 closed

[2022-07-20 07:22] dhruv16dhr opened #3959 "[META] Point In Time Search Issue List"
**Is your feature request related to a problem? Please describe.**
This is a meta issue for all work/tasks related to Point-In-Time Search

**Describe the solution you'd like**
To provide Point-In-Time Search capability to OpenSearch users

- [ ] [OpenSearch Feature Proposal](https://github.com/opensearch-project/OpenSearch/issues/1147)
- [ ] OpenSearch Design Proposal
- [ ] [OpenSearch Dashboards

[2022-07-20 08:25] muralikpbhat commented on #3706
Great points. I am also supportive of beginning with no-op replication. However, it would be ideal to have the design such a way that a remote storage developer can actually implement this differently if desired.  Is it possible to abstract this out and give no-op replica as base implementation which can be overridden ?

[2022-07-20 09:44] ashking94 commented on #3706
Thanks @itiyama for the critical points.

Addressing to couple of points -

Noted.

In line with @Bukhtawar's response [here](https://github.com/opensearch-project/OpenSearch/issues/3706#issuecomment-1188928548), the stale writer would fail and auto restore (enhancement to #3145 ) would kick in reviving the red index - thus adhering to durability tenet.

This would be taken care as part of #3766.

[2022-07-20 10:27] bharath-techie opened #3960 "[Design proposal] [In progress] Point in time search"
## Overview
Today, in OpenSearch, if you run the same search query at different points of time, chances are you will get different result as data is constantly changing. However, in real world scenario when analysing data or trying to provide a consistent user experience to your end users you may want the result from a query not to change while the context remains the same and control when changes

[2022-07-20 13:44] elfisher commented on #3367
@gbbafna is this tracking 2.2? Can we add two labels to this? 1/ "roadmap" to highlight this improvement on the project roadmap 2/ the version of OpenSearch this is targeting? Thanks!

[2022-07-20 13:46] elfisher commented on #1147
Can we add labels for "roadmap" and the version of OpenSearch this is targeting? I can add it to the overall project roadmap in the right column once that is done.

[2022-07-20 13:47] elfisher commented on #3639
Can we add labels for "roadmap" and the version of OpenSearch this is targeting? I can add it to the overall project roadmap in the right column once that is done.

[2022-07-20 13:47] elfisher commented on #1329
Is this still on track for 2.2?

[2022-07-20 16:05] ankitkala commented on #3823
Yep. Overall testing looks good to me. Segment replication for replica doesn't break logical cross-cluster-replication.

[2022-07-20 16:23] ankitkala commented on #3615
Can someone please help with this issue? Its blocking security plugin version bump to `3.0`.
We want to build `cross-cluster-replication` for `3.0` and since we've a dependency on `security` plugin,  we're blocked as well.

[2022-07-20 16:23] andrross commented on #3944
What exactly does this mean? If Spark has some tooling or connector that interfaces with ES then an OpenSearch equivalent would need to be implemented in order to guarantee compatibility long term.

[2022-07-20 16:54] kotwanikunal opened #3961 "[Searchable Snapshot] Implement the IndexInput classes for block-based storage"
**Is your feature request related to a problem? Please describe.**
- The snapshot mechanisms in OpenSearch restore the entire index including the segment files for restoring an index
- Searchable snapshot adds support for searching an index without downloading the entire files to disk
- The above described protocol needs a new mechanism which will download parts of the file as required by the quer

[2022-07-20 17:50] mch2 commented on #2355
Closing bc merge is complete, recovery path updates is not a merge.  Tracked in meta issue.

[2022-07-20 17:50] #2355 closed

[2022-07-20 17:52] wl02302677 commented on #3944
This document is what I actuall means in ES:
https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html

And I found the discussion about that function is open in issue 23:
https://github.com/opensearch-project/opensearch-clients/issues/23

[2022-07-20 17:57] lezzago commented on #1840
Sorry, I missed this message.

@reta I am still seeing this issue. I have changed the version of junit to test this.

[code]

[2022-07-20 17:59] cliu123 commented on #3615
The BWC test failure still persists: https://github.com/cliu123/security/runs/7434973804?check_suite_focus=true.
Looks like node failed to join back to the cluster after upgrading. @CEHENKLE Could anyone take a look?

[2022-07-20 18:14] dbonf opened #3962 "[BUG] opensearch crashes on closed client connection before search reply when total ops higher compared to expected"
**Describe the bug**
Issue described in https://github.com/opensearch-project/OpenSearch/issues/3557 is still there also with opensearch 1.3.4.

In some circumstances, when running a search operation, if the client TCP connection is closed before the search operation is completed, opensearch crashes with:

[code]

The problem was supposedly solved with https://github.com/opensearch-project/OpenSea

[2022-07-20 18:40] mattweber commented on #3944
@wl02302677 I was just going to mention the client issue.  That has link to single line code change required to get elastic client working with open search 2x.  I’m using it just fine to do exactly what you are asking.

[2022-07-20 21:06] tlfeng commented on #3542
Progress update on 07/19/2022:
To achieve the goal to deprecate the package `org.opensearch.action.support.master`, and use `org.opensearch.action.support.clustermanager` instead,
the following classes that have been deprecated and alternative classes have been created:
MasterNodeOperationRequestBuilder
MasterNodeReadOperationRequestBuilder
MasterNodeReadRequest
MasterNodeRequest
TransportMasterNo

[2022-07-20 21:49] tlfeng commented on #3688
A new unit test is added (https://github.com/opensearch-project/OpenSearch/blob/0e96a878a5ab1ffec3ee04f15fe976d34c9905dc/server/src/test/java/org/opensearch/cluster/service/ClusterApplierServiceTests.java#L340) to validate the backwards compatibility for the abstract methods `onMaster()` and `offMaster()`.

[2022-07-20 23:04] tlfeng commented on #3683
I have got a solution from @andrross to properly deprecate the abstract method 'masterOperation()'.
[code]

The below is wrong because it will break any child classes.
[code]

[2022-07-20 23:09] tlfeng commented on #3544
Progress update on 07/20/2022:
**Completed:**
public methods and variables in `server` directory are deprecated and renamed by PR https://github.com/opensearch-project/OpenSearch/pull/3647.

**Remaining:**
a few public methods and variables in `client/rest`, `client/rest-high-level` and `test/framework` are pending to be deprecated and renamed. There is no blockers.

[2022-07-20 23:20] andrross commented on #3962
@reta Just FYI, since you worked on the original issue.

[2022-07-20 23:25] penghuo commented on #3734
More thoughts on aggregation.

TopK of multiple dimension is very generic use case in metrics query. But, comparing with term aggregation,  [the OpenSearch multi terms aggregation is slow](https://github.com/opensearch-project/OpenSearch/pull/2687). [Base on the perf result](https://github.com/opensearch-project/OpenSearch/issues/1629), hash(d1, d2, ... dN) is the major contributor.
The TSIDs matc

[2022-07-21 01:48] wl02302677 commented on #3944
@mattweber Thanks for your respond! I will try to use this method to get the connection between spark and elasticsearch, I think that is the solution what I looking for.

[2022-07-21 08:54] gbbafna commented on #3367
Yes, we are tracking 2.2 for this.  @Bukhtawar , can you please help with same as I don't have permissions ?

[2022-07-21 10:32] juntezhang opened #3968 "[BUG] Shards cannot be recovered (stays unassigned) after rolling upgrade from OpenSearch 1.2.1 to 2.0.1"
**Describe the bug**
We updated the Docker image from OpenSearch 1.2.1 to OpenSearch 2.0.1. A rolling upgrade was performed where 1 node is shutdown per time and then upgraded, and then restarted. After upgrading all nodes to OpenSearch 2.0.1, we see that some shards cannot be recovered. They stay unassigned.

After retrying to initalize the unassigned shards with the Reroute API (POST `_cluster/r

[2022-07-21 12:16] pranikum commented on #3933
I have not tried the docker compose yet though. However gradle command still has benefits. We can configure the size of cluster and zones just based on command line properties.

For docker compose we need to update the file every time based on the cluster size. Also we can use debugging capabilities easily. Not sure on docker approach though for that. I hope that can be done with some more configu

[2022-07-21 14:38] elfisher commented on #3367
Thanks! I see it now. Can we also open [an issue](https://github.com/opensearch-project/documentation-website/issues/new?assignees=&labels=enhancement%2C+untriaged&template=FEATURE_REQUEST_TEMPLATE.md&title=%5BFEATURE%5D) in the docs repo to track any documentation updates that might need to happen for this?

[2022-07-21 14:56] elfisher commented on #560
@soosinha thanks for sharing this proposal! We'll track this issue, and if you if you are interested in contributing this let us know.

On the proposal itself, adding more metrics to understand cross cluster search stats would be useful. I'm not sure this needs to be a separate plugin versus extending the existing stats/cat APIs. Why are you thinking a separate plugin? Thanks!

[2022-07-21 15:19] rramachand21 commented on #1329
This (milestone 2) will come in 2.3 - we are merging in the changes for resource tracking framework in 2.2 (milestone 1)

[2022-07-21 15:57] CEHENKLE commented on #479
@dhwanilpatel Hey, how's it going?  Can we we help at all?

[2022-07-21 16:37] elfisher commented on #1329
Thanks @rramachand21!

[2022-07-21 16:40] dblock commented on #3942
I think we'd be open to making a similar change in OpenSearch (without looking at any non-APLv2 code).

[2022-07-21 16:42] dblock commented on #1018
No issues with that! Sounds great.

[2022-07-21 16:45] dblock commented on #1833
Let's close.

[2022-07-21 16:45] #1833 closed

[2022-07-21 16:52] dblock commented on #3962
@dbonf Want to try to turn this into a unit test and artificially cause `totalOps > expectedTotalOps` (and a failure)?

[2022-07-21 16:54] #3558 closed

[2022-07-21 16:56] mch2 opened #3969 "[Segment Replication] Experimental Release Tracking"
This issue tracks work required to complete an experimental release of Segment Replication.

- [x] #4392
- [x] #4295
- [x] https://github.com/opensearch-project/OpenSearch/issues/4216
- [x] https://github.com/opensearch-project/OpenSearch/issues/4178
- [x] https://github.com/opensearch-project/OpenSearch/issues/4205
- [x] #2333
- [x] #3989
- [x] #4007
- [x] #2873

- [x] #3923
- [x] #3483
- [x] htt

[2022-07-21 17:55] rishabhmaurya commented on #3734
thanks @muralikpbhat, you got the crux right and these are some good questions and I'll try to update doc to make them more clear.

At the time of query as well, we will be encoding the dimensions to its bytesref representation. If a query is filter on partial dimensions, then full TSID cannot be generated, so in this case all matching (matching with partial TSID) TSIDs will be iterated over. We d

[2022-07-21 18:05] ryanbogan opened #3972 "Integrate CreateIndexRequest into extensions"
CreateIndexRequest functionality needs to be integrated with ExtensionsOrchestrator and the sdk.

[2022-07-21 18:22] rishabhmaurya commented on #3734
thanks for bring this up @penghuo

TopK of multiple dimension is very generic use case in metrics query. But, comparing with term aggregation, https://github.com/opensearch-project/OpenSearch/pull/2687. https://github.com/opensearch-project/OpenSearch/issues/1629, hash(d1, d2, ... dN) is the major contributor.
The TSIDs matching solve the problem of generate the docIds set, but it may not help sol

[2022-07-21 18:32] dreamer-89 opened #3973 "[Bug]: gradle check failing with java heap OutOfMemoryError"
**Describe the bug**
Gradle check fails with java heap out of memory error.

**To Reproduce**
Gradle check continuously and it fails with java heap error. Possibly a resource leak introduced recently.

**Expected behavior**
Gradle check should not fail with heap error.

**Host/Environment (please complete the following information):**
 - OS: ubuntu

### Related
https://github.com/opensearch-projec

[2022-07-21 18:52] Bukhtawar opened #3974 "[Remote Store] Experimental Release Tracking"
#### OpenSearch 2.3 Release
- [x] https://github.com/opensearch-project/OpenSearch/issues/2993
- [x] https://github.com/opensearch-project/OpenSearch/issues/3141
- [x] https://github.com/opensearch-project/OpenSearch/issues/2994
- [x] https://github.com/opensearch-project/OpenSearch/issues/2995
- [x] https://github.com/opensearch-project/OpenSearch/issues/3145
- [x] https://github.com/opensearch-p

[2022-07-21 19:18] CEHENKLE commented on #1018
@dblock @macrakis @elfisher Done.

[2022-07-21 19:23] elfisher commented on #1018
Thanks @CEHENKLE!

[2022-07-21 19:56] dblock commented on #3973
Maybe we can start by splitting the gradle check into 2 and keep dividing and conquering until we find the culprit?

[2022-07-21 19:59] dblock commented on #1018
I think for posterity we might want to do this not by replacing the original content, but adding *Update* ... and linking and copy-pasting something from below, just so it doesn't look like I did all the work on that proposal (@macrakis did ;)).

[2022-07-21 20:42] cliu123 commented on #3615
@amitgalitz also got BWC test failures when upgrading to 3.0.0 with job-scheduler plugin installed but without security plugin installed: https://github.com/opensearch-project/job-scheduler/runs/7415033030?check_suite_focus=true.

[2022-07-21 21:02] CEHENKLE commented on #2603
https://github.com/opensearch-project/opensearch-testcontainers created, PR raised to add you as a maintainer, @reta  :)

Almost there :)

[2022-07-21 21:43] larry-benchling opened #3975 "[BUG] Security plugin raising ConcurrentModificationException from health endpoint"
**Describe the bug**
While calling the health check endpoint, we intermittently are receiving `java.util.ConcurrentModificationException` exceptions from the security plugin that are surfacing as a `security_exception` error with the `Unexpected exception cluster:monitor/health'`  message. This started happening after upgrading to OpenSearch 2.0.1.

Full stack trace from logs:

[code]

**To Reprod

[2022-07-22 03:17] navneet1v opened #3980 "Implementation of GeoBounds Aggregation on Geo Shape field"
### Description
This issue tracks the implementation of GeoBounds Aggregation on Geo Shape field.

### Tasks:
- [x] Refactor code of GeoBounds Aggregation on GeoPoint from server to modules/geo folder.
- [x] Backport the refactor code to 2.x branch
- [x] Implement the GeoBounds on GeoShape field
     - [x] Implement the code to convert the geobounds returned from doc value to internal aggregation.

[2022-07-22 04:29] dbwiddis commented on #1855
I'm running into this issue trying to do `./gradlew check` on `anomaly-detector`:
[code]
Completely separately from gradle, I get a 403 error in my browser trying to visit any of the paths at `https://artifacts.opensearch.org/snapshots/core/opensearch`.

[2022-07-22 04:35] navneet1v commented on #1855
The issue is happening because there is no Snapshot available for macbook(darwin here) or it is not getting published. Try to run the same command in a linux environment to fix this error.

This issue is tracked here: https://github.com/opensearch-project/opensearch-build/issues/2350

[2022-07-22 09:59] #3733 closed

[2022-07-22 13:02] lukas-vlcek commented on #3692
FYI: I did not start on this yet, I will have a change to start on it in one week (after vacation). If that is too long feel free to take it in the meantime.

[2022-07-22 13:25] elfisher commented on #1694
@mch2 beat us to making the experimental release. 🎉 https://github.com/opensearch-project/OpenSearch/issues/3969

I've added it to the roadmap.

[2022-07-22 14:22] ankitkala commented on #3823
Hey @Rishikesh1159 , I had few followup questions.

1. While running the Integ tests, was Segment Replication enabled for all the indices(i.e. setting enabled by default)? Just want to ensure that our test passed with CCR on leader indices with Segment replication enabled.
2. Can you also do a quick test where leader index also has replicas doing segment copy. For CCR, we try to load balance where

[2022-07-22 14:55] ankitkala opened #3983 "[Discuss] Performance benchmarking improvements for Opensearch"
Currently we have a very basic performance test suite([link](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/perf-test.jenkinsfile#L21 )) where we execute a single workload `nyc_taxis` on a single node cluster and capture the metrics. I wanted to open a discussion for process improvements in benchmarking Opensearch(periodically as well as during every release).

[2022-07-22 16:32] #3483 closed

[2022-07-22 16:59] windbeneathyourwings commented on #2072
@minalsha Yes, I still plan on building an open search adaptor unless someone takes it on before able to prioritize.

[2022-07-22 17:31] CEHENKLE commented on #2603
Okay!  repo up, @reta there's an invite waiting for you to be a maintainer :)

Resolving this, see you at https://github.com/opensearch-project/opensearch-testcontainers :)

[2022-07-22 17:31] #2603 closed

[2022-07-22 17:37] #3842 closed

[2022-07-22 17:56] andrross commented on #3968
@juntezhang I believe this is an [issue that has been fixed in Lucene 9.2](https://issues.apache.org/jira/browse/LUCENE-10518). OpenSearch 2.1.0 has been released and uses Lucene 9.2. Can you try upgrading to OpenSearch 2.1 and see if that resolves your issue?

[2022-07-22 18:10] #2772 closed

[2022-07-22 18:21] dbwiddis commented on #1855
Thanks, @navneet1v! The workaround probably would have worked except my local build is 3.0.0-SNAPSHOT and I went down the road of trying to simply change the version in the bulid file, but that broke other things.

But using an ubuntu VM works for now and if there's a longer term plan to enable darwin builds that works.

[2022-07-22 18:28] navneet1v commented on #1855
On the long term plan I am not aware of you can try following the https://github.com/opensearch-project/opensearch-build/issues/2216, @saratvemulapalli can provide details on this.

[2022-07-22 19:01] mch2 opened #3988 "[Segment Replication] Update shard promotion algorithm to consider replica checkpoints."
With segment replication we would like to avoid situations replicas contain a segment that is different from the primary's version.  After a read-only replica is promoted as the new primary, we will need to index operations that exist in its xlog that do not exist in the index and make them searchable.  The presence of these ops in the replica's xlog means the previous primary had indexed the op,

[2022-07-22 19:13] mch2 opened #3989 "[Segment Replication] Swap newly assigned primary to writeable engine."
As part of #2212, after a new primary has been selected we will need to convert its engine from an NRTReplicationEngine to InternalEngine.

The logic we are looking for here is similar to IndexShard's [resetEngineToGlobalCheckpoint](https://github.com/opensearch-project/OpenSearch/blob/d63d4322bb6d4421cd0b1a4623d7e738cc036855/server/src/main/java/org/opensearch/index/shard/IndexShard.java#L3969).

[2022-07-22 19:41] juntezhang commented on #3968
Thank you @andrross , I will check by updating to OS 2.1.0 and will report back. It looks like this is the issue indeed.

[2022-07-22 20:08] kotwanikunal opened #3991 "[Searchable Snapshot] Implement the Directory classes for block-based storage"
**Is your feature request related to a problem? Please describe.**
- The snapshot mechanisms in OpenSearch restore the entire index including the segment files for restoring an index
- Searchable snapshot adds support for searching an index without downloading the entire files to disk
- To enable the custom block based mechanism [1], need custom directory implementation

**Describe the solution yo

[2022-07-23 00:14] itiyama commented on #3706
Let us be clear on why we are choosing the No-op replication approach. We rely on that approach because it is an existing mechanism of handling divergent writes and we don't want to build a new protocol at this point as any new protocol introduces complexity. The approach relies on primary replica interaction for its correctness. When the only copy of the data is lost, it marks the shard as unassi

[2022-07-23 01:05] itiyama commented on #3589
Why not index-uuid. Indices can be deleted and recreated with the same name

[2022-07-24 02:58] reta commented on #2603
Thanks a lot @CEHENKLE ! Got the invitation, pull request on its way!

[2022-07-24 16:27] reta commented on #3962
@dbonf thanks for details, I will take a look shortly

The `totalOps > expectedTotalOps` should never happen, but I believe there is several flows which cause "over counting" (nested calls?) which I will try to reconstruct.

@dblock I added a test case as part of [1] which I thought is the same problem (turned out there is more than one flow). I will try to reproduce the exact failure (as per stac

[2022-07-24 18:44] hauck-jvsh commented on #3395
This is also happening with me.

[2022-07-25 00:33] saratvemulapalli opened #3995 "Remove Joda and Joda Wrappers"
**Is your feature request related to a problem? Please describe.**
Coming from: https://github.com/opensearch-project/OpenSearch/pull/3935#issuecomment-1187906150

Joda was a standard implementation for versions < Java 8.
Since Java 8, we use Java.time but we still use Joda for BWC to talk to old nodes.
But since we have already moved to using JDK 17 in 2.0, we do not need any Joda wrappers becaus

[2022-07-25 06:25] SViradiya-MarutiTech opened #3996 "Add Support combined_fields in OpenSearch"
# Use Case

Currently when i want to search number field with provided free search text using multi_match, I get `number_format_exception`. what we checked in latest version of Elastic Search(7.17) it is possible to search using `combined_fields`. As AWS does not support combined_fields, we can not use combined_fields and as multi_match has problem with number field, we would not be able to upgrad

[2022-07-25 06:44] Bukhtawar commented on #1707
Security patches are common and requires a faster deployment cycle to mitigate the security threats. I wanted to gather thoughts on relaxing patch version compatibility checks across the board, so that deploying security patches become seamless.
With providing explicit compatible semver I feel we should keep the patch version out and have ranges defined up to the minor versions only `>2.0, <2.8`

[2022-07-25 09:26] dbonf commented on #3962
@reta for example with few indices with one replica, two shards each and several thousand documents, few nodes, this query (designed to be slow to trigger the bug):
[code]
killed before the response triggers the crash, this is especially problematic when the application has retries in its logic so will kill many nodes in few seconds.

[2022-07-25 12:23] shwetathareja commented on #1707
Yes, there shouldn't be any breaking changes in plugin interfaces in minor version releases. But there are lot of internal classes/ objects exposed through these interfaces e.g. DiscoveryPlugin which has bunch of methods and expose other internal classes like TransportService/ NetworkService etc. and similarly ClusterService is exposed in a different ClusterPlugin interface. These internal classes

[2022-07-25 12:53] Bukhtawar commented on #1707
Good point! The way forward I see with this is a clear documentation on `opensearch.api/opensearch.internal` on Java docs and strong BWC checks to ensure these contracts are honoured at patch and minor version bump ups.
Any plugin user before they can specify semVer ranges for compatibility need to ensure via some gradle checks that they don't strictly depend on anything that is not `opensearch.ap

[2022-07-25 13:08] ankitkala opened #3998 "[Discuss] Long term plan for cross-cluster-replication"
There have been multiple discussions around cross-cluster-replication which we'd like to reconcile and present a long term plan for CCR plugin.

---

**Full cluster replication with failover:**
Currently cross-cluster-replication supports only index level replication. We eventually want to build the support for full cluster replication with failover capabilities. This'd allow users to have a backu

[2022-07-25 13:12] ankitkala commented on #3998
@Bukhtawar @nknize @mch2 @sachinpkale

[2022-07-25 13:16] ankitkala commented on #3983
@dblock @muralikpbhat

[2022-07-25 13:22] Bukhtawar commented on #3998
Thanks @ankitkala for the doc
Could you please re-structure the issue a bit to give some context to the problem, call out approaches, short term vs long term and caveats with them as applicable. Feel free to break it into multiple issues as discussions on each sub-topic might become overwhelming and the focus lost

[2022-07-25 14:22] pantovad opened #4000 "add support for s390x architecture"
**Is your feature request related to a problem? Please describe.**
OpenSearch does not support IBM s390x platform which is understandable. However, with some slight changes we manage to run it successfully on IBM LinuxONE and benefit from impressive performance this platform provides. The only issue preventing us to have the OpenSearch server fully portable without the need to do additional change

[2022-07-25 15:14] hauck-jvsh opened #4002 "[BUG] The index setting "ignore_malformed" is not working properly"
**Describe the bug**
The "ignore_malformed" option should allow inconsistent data to be indexed, losing only the malformed fields, but it is ignoring the entire item.

**To Reproduce**
1. Create an empty index with the setting "ignore_malformed": "true".
2. insert the following data {
    "name":"test 1",
    "other_field":"string content"
}
3. insert the following data {
    "name":"test 2",

[2022-07-25 16:44] mch2 commented on #1118
Closing this as outdated.  Translog functionality is already documented in #1319 .

[2022-07-25 16:44] #1118 closed

[2022-07-25 16:59] mch2 commented on #3636
Some notes from an in-person retrospective:

1. CI & testing with plugins earlier.  Usually late breaking issues to main repo after freeze date.  Auto incrementing versions  https://github.com/opensearch-project/opensearch-build/issues/1375 should help here.
2. Automate release notes - https://github.com/opensearch-project/opensearch-build/issues/438
3. Calling out some steps that don't apply to t

[2022-07-25 17:01] #3636 closed

[2022-07-25 17:09] ankitkala commented on #3998
Sure, Let me do that.
I agree it might be overwhelming to discuss all the topics on this single issue. This serves mostly as a reconciliation of all the issues to provide the big picture.
There already exists separate issues for most sub-topics. For areas where we haven't done any scoping(like full cluster replication, decoupling from security), we can start the issues as soon as we have some clar

[2022-07-25 17:13] dreamer-89 commented on #3818
@reta @nknize @mch2 : What do you advise on approach for executing segment replication tests ?

[2022-07-25 17:27] CEHENKLE commented on #1018
Good point, @dblock .  Will do it that way going forward.

@aabukhalil Can you pick this up?

[2022-07-25 17:29] aabukhalil commented on #1018
@CEHENKLE yes I will be working on this

[2022-07-25 18:08] andrross commented on #4000
Thanks for the contribution!

@dblock Do you have any thoughts here?

[2022-07-25 19:58] freeflyerme opened #4004 "List OpenSearch compatibility in Breaking Changes"
**Is your feature request related to a problem? Please describe.**
Once upgraded to OpenSearch 2.1.0, remote clients from a 1.X. cluster, and OpenSearch Dashboard are no longer compatible.

**Describe the solution you'd like**
Clearly list incompatibility of 2.1.0 with previous remote clients and older OpenSearch dashboard under the "Breaking Changes" section: https://opensearch.org/docs/latest/br

[2022-07-25 20:58] shdubsh opened #4005 "[BUG] /usr/share/opensearch/bin/systemd-entrypoint: 6: set: Illegal option -o pipefail"
**Describe the bug**
OpenSearch unable to start after fresh install:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build deb package
2. Install artifact on debian buster host
3. Run `systemctl start opensearch.service`
4. Systemd reports `Job for opensearch.service failed because the control process exited with error code.`
5. Check logs `sudo journalctl -xe`

**Expected behavior**

[2022-07-25 21:06] mch2 opened #4007 "[Segment Replication] Swap primary engine to NRTReplicationEngine during handoff."
Separating this out from #3989.  We will need to handle primary demotion to replica and swap its engine from an InternalEngine to NRTReplicationEngine.

[2022-07-25 21:21] naveentatikonda commented on #3615
k-NN plugin also has same issue with BWC Tests when we are trying to upgrade from 2.1.0 to 3.0.0-SNAPSHOT. But, the interesting thing is Restart Upgrade BWC Tests are working and Rolling Upgrade BWC Tests are failing.
The link to GitHub Action - https://github.com/naveentatikonda/k-NN/runs/7508740179?check_suite_focus=true

[2022-07-25 22:03] naveentatikonda commented on #3615
@cliu123 @amitgalitz In the above logs it says that you are trying to upgrade from 7.10.2 to 3.0.0. I think we cannot upgrade directly from 7.x to 3.0.0. Could you pls try to upgrade from 2.x to 3.0.0-SNAPSHOT?

[code]

[2022-07-26 00:51] #4005 closed

[2022-07-26 00:51] andrross commented on #4005
Thanks for the contribution @shdubsh

[2022-07-26 07:26] pantovad commented on #4000
FYI the OpenSearch/Dashboard Docker images for s390x are publicly available at:

- https://hub.docker.com/repository/docker/phoenixsystemsag/opensearch
- https://hub.docker.com/repository/docker/phoenixsystemsag/opensearch-dashboards

The only missing feature is under Dashboards Reporting plugin (PNG reports) as no Chrome/Chromium available for s390x (used by Puppeteer NodeJS module).

[2022-07-26 10:42] Wild-Soul opened #4010 "[BUG] Empty geometry when building MultiPolygon using RestHighLevelClient."
**Describe the bug**
When trying to create the geometry, MultiPolygon, by providing coordinates, it's not working.

Scenerio:
I had a bunch of coordinates that I wanted to provide to the MultiPolygonBuilder in order to get a ShapeBuilder.

**To Reproduce**
1. Create an instance of org.locationtech.jts.geom.Coordinate[].
2. Create a multipolygon builder using the above coordinates.
       `ShapeBui

[2022-07-26 13:23] reta opened #4011 "OpenJDK Update (July 2022 Patch releases)"
**Is your feature request related to a problem? Please describe.**
OpenJDK 18.0.2, 17.0.4, 15.0.8, 13.0.12, 11.0.16, 8u342 are released  with vulnerabilities and exposure (CVE) fixes [1]. The Adoptium project has not released binaries for all platforms just yet, track it here [2], [3], [4].

**Describe the solution you'd like**
Update JDKs across all maintenance branches.

**Describe alternatives

[2022-07-26 13:58] #3553 closed

[2022-07-26 14:37] saikaranam-amazon commented on #3639
Regarding the `Put` call for Decommission API
[code]
How are responding regarding failures in executing the call? - ( May be let's track `FAILED` as a status value. )

[2022-07-26 14:49] Bukhtawar commented on #3706
Any new changes in replication protocol will need a TLA+ model irrespective IMO.
Having said that, yes we are digressing on that algorithm but also making the leasing stronger to check on master block/reachability during every lease refresh and failing to ack back writes once we are unable to renew the lease or the lease is almost close to expiring. Its possible that the writer thread is in-flight

[2022-07-26 14:58] saikaranam-amazon commented on #3639
Regarding the `Get` call for commission status
[code]
Can we have the list of values under `zones` as key? - and are we not foreseeing any async operations that can be captured under the `status` field similar to Decommission call?

[2022-07-26 15:40] andrross commented on #2064
Another failure here: https://build.ci.opensearch.org/job/gradle-check/977/

[code]

[2022-07-26 15:51] #3579 closed

[2022-07-26 16:11] andrross commented on #4000
@dbwiddis Can you take a look as well? I think this might be relevant to some of the things you've been looking at.

[2022-07-26 16:32] itiyama commented on #3706
1. I do not have any correctness concerns if you are building a TLA+ model for this protocol. The model you shared has the downside of coupling primary and replicas and upside of reduced latency for writes. None of the models are simple anymore :)
2. If you are already doing the hard work of getting the lease right for single primary case, why not do it for primary+replica case. That will also all

[2022-07-26 17:02] dbwiddis commented on #4000
@andrross thanks for the tag.  I have been looking into adding support for other architectures, see #1303 and #2341.  Currently blocked by conditionals in the build scripts that assume only two architectures, that I haven't had time to dig into, see draft PR I'm spending a few spare cycles on in #3930.

@pantovad have you been able to build locally on s390x architecture without any other changes t

[2022-07-26 17:26] dbwiddis commented on #4010
Looking into the `MultiPolygon` class it appears to hold a list of polygons, and you don't directly build one from coordinates.

My suggestion (completely untested but hopefully pointing you in the right direction) would be to try something along the lines of:
[code]

[2022-07-26 17:35] mch2 commented on #3989
Checklist for me as I go through this...

- [x] Write an integ test to test replica is promoted as new primary during failover.
    - Test should fail the primary, promote a new replica, index on the new replica and see that other replicas receive cps.
- [x] Write a test to commit SegmentInfos on the replica storing checkpoints.
- [ ] Commit 1 when failover recognized passing the test.
- [ ] Write

[2022-07-26 18:44] dbwiddis commented on #1840
It looks like if the JAR filename doesn't change, the workflow does not check the new SHA.  It appears to only handle added/removed jars by filename, not by file content.

https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/buildSrc/src/main/java/org/opensearch/gradle/precommit/UpdateShasTask.java#L66-L84

[2022-07-26 19:06] andrross commented on #3663
Since Java doesn't really offer a clean way to change only the return type of a method in a non-breaking way, it's my opinion that we can probably do this as a breaking change. We'll have to proactively reach out to all the plugins in opensearch-project, but it should be as simple as a find-and-replace in the import statement, i.e. replace

[code]

with

[code]

At a minimum we should identify all

[2022-07-26 20:29] pantovad commented on #4000
@dbwiddis sure I had to patch Gradle setup. It was a minimal effort and dirty approach just to get the server.jar built (due to SystemCall Filter change - see patch below for v1.3.2).
The rest of the OpenSearch artifacts were portable (thanks to pure Java and JNA) with exceptions (JNI used but no s390x native libs available):
- sqlite-jdbc in performance-analyzer-rca - had to build - available at

[2022-07-26 21:18] peterzhuamazon opened #4017 "Release Version 2.2.0"
Release Version 2.2.0

This is a component issue for __2.2.0__.
Coming from [opensearch-build#2271](https://github.com/opensearch-project/opensearch-build/issues/2271). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on

[2022-07-26 21:18] JeffH-AWS opened #4018 "[BUG]"
**Describe the bug**
By default, the contents of `/opensearch-2.1.0/plugins/opensearch-security/tools/` do not have executable permissions after unpacking the archive.

**To Reproduce**
Steps to reproduce the behavior:
1. Download OpenSearch tarball (`wget https://artifacts.opensearch.org/releases/bundle/opensearch/2.1.0/opensearch-2.1.0-linux-x64.tar.gz`
2. Unpack the archive `tar -xvf opensearch

[2022-07-26 21:26] mch2 commented on #3818
@dreamer-89 I prefer option 1 of isolating these tests to a separate task where we pass the jvm flag, as long as they are included with check & run in a separate jvm.  All ITs for features under FeatureFlags will need the same setup, so maybe we enable all the features defined in that file and isolate tests to a separate package to easily include all ITs? wdyt?

I want to say maybe we could simply

[2022-07-26 21:50] dbwiddis commented on #3950
Looks like the versions are tied to the Lucene dependency version:
https://github.com/opensearch-project/OpenSearch/blob/7694a27ea380c866fba0fe9b36a19308cd125378/plugins/analysis-kuromoji/build.gradle#L38

https://github.com/opensearch-project/OpenSearch/blob/7694a27ea380c866fba0fe9b36a19308cd125378/plugins/analysis-nori/build.gradle#L38

Currently kuromoji is on 9.1.0 (#2487) and nori is on 9.0.0

[2022-07-26 21:52] dbwiddis commented on #3950
Actually, those were the latest code changes, but the dependency should have been updated with the latest Lucene version used in the build.   There is no way to independently upgrade those plugins.

[2022-07-26 22:35] dreamer-89 commented on #3988
Set of crude steps for this task
- [ ] Write a unit test with 1p and 2 replica on different checkpoints. Fail primary and check replica is promoted irrespective of which of checkpoint state.
- [ ] Update AysncShard.fetchData to include the checkpoint info
- [ ] Ensure unit tests above passes
- [ ] Milestone 1. Primary promotion with segrep happy path works
- [ ] Update PrimaryShardAllocatorTests t

[2022-07-27 02:01] hauck-jvsh commented on #4002
Should I try to make a fix?

[2022-07-27 09:28] Wild-Soul commented on #4010
Yes there is a constructor that access a  List<PolygonBuilder> .
So first I had to build the polygons and then provide them to MultiPolygonBuilder.
That's working fine.

 But maybe this feature can be added to build the MultiPolygon using coordinate, if it's possible. Same goes for all Multi* shape builders.

 Thanks for the help

[2022-07-27 13:41] reta commented on #1840
But the version is part of JAR file, the file name should change ...

@lezzago I see that you git working tree is in conflict (unfinished merge / rebase), I think it may explain the behaviour you see.

[code]

[2022-07-27 15:26] andrross opened #4024 "[FEATURE] Feature Flag Behavior"
I just wanted to open a discussion about the [feature flag mechanism](https://github.com/opensearch-project/OpenSearch/blob/d8e2e757e348e45a55fddfc67560f1091ab2fbf5/server/src/main/java/org/opensearch/common/util/FeatureFlags.java) that has been recently introduce into OpenSearch. The goal of this mechanism is to allow integration of not-ready-for-primetime features into the main branches (and the

[2022-07-27 15:27] andrross commented on #4024
@kartg @mch2 I'm interested in your opinions here

[2022-07-27 15:45] ferrero1987 commented on #3222
on docker hub what would be the equivalent of opensearchproject/opensearch:latest? latest refers to what 1.3.4, 2.1.0 or another?

[2022-07-27 16:36] Rishikesh1159 commented on #3923
Checklist to things to do:

- [ ] Understand Current Peer recovery Process.
- [ ] Look for any references of already written test cases in Peer recovery that might help to reproduce the issue.
- [ ] Write a test case unit test/Integ test reproducing this issue.
- [ ] Add condition/logic to check on primaryMode.
- [ ] Make sure test case written in above step passes.

[2022-07-27 18:00] dreamer-89 opened #4025 "Add git hooks to automatically fix checkstyle errors, dco check etc"
**Is your feature request related to a problem? Please describe.**
Today, a lot of PRs fail initial gradle check failures due to checkstyle errors. This leads to developer adding a separate commit specifically to fix checkstyle errors.

**Describe the solution you'd like**
Add git hook which automatically runs gradle checkstyle before git push. This is advantageous as it
1. Saves developer time an

[2022-07-27 18:10] mch2 commented on #4024
@andrross Thanks for raising this.  I like the idea of transitioning to a yml setting from a usability perspective as long as we document very clearly that these are expert settings that should not be enabled in a production setting.

With that said, I understand the intention behind enforcing cluster & data consistency but I'm not sure its worth it for experimental/test only situations?

[2022-07-27 18:49] dblock commented on #72
@asknacho @hronom want to try to contribute this feature?

We cannot take non-APLv2 code, but happy to merge a PR if someone wants to reimplement this functionality, confirming that they aren't copying/looking at non-APLv2 code.

[2022-07-27 19:13] dblock opened #4027 "Delete rest-api-spec"
**Is your feature request related to a problem? Please describe.**

The actual spec portion of https://github.com/opensearch-project/OpenSearch/tree/main/rest-api-spec is AFAIK unused, and likely incorrect. Looking at, for example, https://github.com/opensearch-project/OpenSearch/commit/931813f8cf512260430101495905bcd0b7602c11, we update the tests, but we don't make changes to the spec.

**Describ

[2022-07-27 19:14] dblock commented on #4027
@reta Do you have any thoughts whether ^ is accurate?

[2022-07-27 19:28] dblock commented on #3983
👍

[2022-07-27 19:39] dblock commented on #4002
@hauck-jvsh Please!

[2022-07-27 19:48] reta commented on #4027
:+1:  @dblock you are very right, the spec seems to be out of sync and needs cleanup (it also references ealsticsearch all over the place) ....

[2022-07-27 19:53] reta commented on #3983
It would be great to have the details of the benchmark runs to be exposeable (publicly) and comparable so to spot obvious regressions easily (inspired by [1] and [2]).

[1] https://elasticsearch-benchmarks.elastic.co/
[2] https://home.apache.org/~mikemccand/lucenebench/

[2022-07-27 20:39] andrross commented on #4024
That's fair. We'd just want to clearly document this, i.e. "If nodes within a cluster have differing feature flags enabled, or if you later access data with a feature flag disabled that was enabled at index time, then behavior is undefined."

[2022-07-28 05:10] ankitkala commented on #3983
Agreed.

cc: @kotwanikunal @travisbenedict

[2022-07-28 05:18] ankitkala commented on #3983
Another aspect for focus can be ease of doing performance tests for developers. Current scripts for perf requires provide the bundle manifest which contains the link to the artifacts. Support for perf tests using locally built artifacts(OS and plugins) would be super helpful.

[2022-07-28 05:21] minalsha commented on #3950
For OpenSearch 2.0, 2.0 we did upgrade to Lucene 9 and these dependencies@st should have been upgraded. Next steps would be to validate with customer on what version of OpenSearch they are using. @macrakis  as discussed today, closing this issue but feel free to open it if you have additional information from customer.

[2022-07-28 05:21] #3950 closed

[2022-07-28 05:28] ankitkala commented on #4024
Moving these flags to yml sounds like a decent option. Essentially these would be static setting which customer can modify and restart the OS process.

Can we define the feature flags as combination of static/dynamic and cluster/index level settings instead?
- Depending on the feature, index level setting can provide a finer control to the customer where he can experiment with the feature on a par

[2022-07-28 07:10] navneet1v commented on #4025
This can be a really good time saver. The only thing which I feel little problematic is setting up the hooks path. So I can setup the hooks path per repo, rather than setting it up at the global level?

[2022-07-28 09:50] imRishN commented on #3639
Updated the API contract above, including `FAILED` as a status value

This makes sense to have a list under the same key. Updated the details

[2022-07-28 17:04] kotwanikunal opened #4033 "[Searchable Snapshots] [Low Level Design] Block Based Storage"
This document outlines the low level design proposal for implementing block-based storage. High level design document and proposal: #3869

## Overview

Block based file system will enable fetching parts of the Lucene IndexInput files from the snapshot within the repository instead of downloading the entire file on disk — only download the bytes accessed by the query.

*BlockedIndexInput*
The solut

[2022-07-28 17:05] kotwanikunal commented on #3114
Published the detailed design here: #4033

[2022-07-28 17:05] #3114 closed

[2022-07-28 17:28] nknize opened #4034 "[Refactor] *Plugin classes in modules/ source module to *Module classes"
**Is your feature request related to a problem? Please describe.**
OpenSearch modules only differ from plugins in that they are installed by default. Aside from that the same plugin scaffolding is used between the two. This makes navigating the source tree difficult. For example, if I'm looking at [IngestUserAgentPlugin](https://github.com/opensearch-project/OpenSearch/blob/00db112f32d947e758d7d5f

[2022-07-28 17:29] andrross commented on #4024
@ankitkala I think we're kind of intentional about making this a two step process. For example, segment replication is an index setting, but a user must enable the feature flag for that index setting to be available. But once it is enabled, a user can experiment on a per-index basis. Making the overall feature flags dynamically configurable to avoid needing to restart the process is definitely som

[2022-07-28 17:58] sbcd90 commented on #3615
hi @naveentatikonda , yes for `job-scheduler` its the same issue. i tried upgrading from `2.x` to `3.0.0` & faced the issue i linked.
today i'll test again to see if the issue is fixed.

[2022-07-28 18:42] qreshi commented on #3615
I seemed to have run into the same issue with `Notifications` as well when upgrading to `3.0.0`. The plugin passes all other tests and can come up with 3.0 but the BWC test fails with the same error.

[2022-07-28 18:45] AmiStrn commented on #4033
Quality design! Thanks @kotwanikunal

What about the snapshots themselves? today we can create a snapshot under any name, containing any subset of the indices from the cluster. And to make matters more complex - several snapshots could contain the same index. Will this feature require the snapshot to be named a certain way? or that it contains only one index?

[2022-07-28 19:14] mch2 opened #4036 "[Segment Replication] Trigger segment copy after initial recovery."
Coming from - https://github.com/opensearch-project/OpenSearch/issues/3483

After recovery completes today replicas will be in-sync in that all docs are made durable on replica shards, but ops copied will not be searchable.  Replicas will require an additional refresh cycle to catch up to primaries.  We can mitigate this by triggering a segrep copy event after recovery completes, before marking th

[2022-07-28 19:42] kotwanikunal commented on #4033
Thanks @AmiStrn!
The mechanism that we are currently designing will restore the metadata for the indices within the snapshot when that property is passed in and will skip restoring the segment files.
It will use the same properties as the current snapshot restore process - naming conventions/alias conventions and other restrictions.
Once the metadata restore is complete, the new file system will b

[2022-07-28 19:51] laysauchoa commented on #3343
Hi @owaiskazi19! I am a first time contributor to this project. I'm familiar with GitHub actions, but I am not sure if my PR is correct. Would be possible to guide me a bit on this? I'd love to contribute to the OpenSearch project. Many thanks!

[2022-07-28 20:00] andrross commented on #4034
Just thinking out loud, but what about getting rid of the different source tree all together by moving modules under the plugin directory? The "installed by default" property feels like an external configuration and not something fundamental about the module itself. In this proposal we'd have all plugins under the same source tree and then a configuration defined somewhere in a build file (presuma