[2021-11-01 12:15] pgtgrly commented on #837
The template request defined in the issue is internally called Put ComposableIndexTemplateAction.
THe request is routed to RestPutComposableIndexTemplateAction which extends BaseRestHandler. From here the request is translated to ComposableIndexTemplate and passed to TransportPutComposableIndexTemplateAction. Here MetadataIndexTemplateService [validates the priority of the added template](https://

[2021-11-01 12:31] dorzgi commented on #1405
I've resolved the issue by moving `plugins.security.disabled: true` to `docker-compose.yml` as `plugins.security.disabled=true`.

It seems like the custom configuration mount is loaded after the image is up.

[2021-11-01 12:31] #1405 closed

[2021-11-01 13:06] opensearch-ci-bot opened #1477 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 924 in gradle_check log for more information.

[2021-11-01 15:39] CEHENKLE commented on #1304
I've reopened it, thanks.

[2021-11-01 15:56] getsaurabh02 commented on #1446
**Shard Indexing Pressure Stats**

* GET /_nodes/_local/stats/shard_indexing_pressure
    * To get the node level stats for Rejection counts. This API is also used by CW to publish metrics to customer account.

* GET /_nodes/stats/shard_indexing_pressure
    * To get the shard level breakup of indexing stats and rejections for every node. This only includes the hot shards i.e. shards which have ac

[2021-11-01 17:55] andrross commented on #1211
It's pretty clear that in isolation the cache used in OpenSearch is not particularly performant. I think the next steps here are to benchmark the performance in the full system, ensure we're capturing all the right cache-level metrics, and then prototype cache replacements and measure the impact. We're probably not going to pick this up in the short term but if there is more data suggesting that t

[2021-11-01 17:57] setiah opened #1480 "#1393"

[2021-11-01 17:57] #1480 closed

[2021-11-01 18:08] opensearch-ci-bot opened #1481 "Jenkins Randomized Gradle Check Failed on 31ca16f6071606978c203d7f1e8f02a199a29482"
@opensearch-project/opensearch-core team, please take a look at Build 932 in gradle_check log for more information.

[2021-11-01 18:31] ben-manes commented on #1211
@maosuhan opened https://github.com/elastic/elasticsearch/issues/69646 which indicated a bottleneck due to this cache. It is not a theoretical problem, but there isn't a lot of details for how to reproduce so as to not blindly jump to the conclusion that the cache should be improved to resolve that lock contention.

[2021-11-01 19:52] tlfeng opened #1483 "Change the "Blacklist / Whitelist" nomenclature"
## Goal of the enhancement
Coming from https://github.com/opensearch-project/OpenSearch/issues/2589

Replace non-inclusive terminologies "blacklist" and "whitelist" throughout this repository with inclusive ones.

## Context
#### What is “inclusive language”?
Inclusive language is designed to avoid excluding people on the basis of gender, sexual preference, age, race, ability, etc. By using langua

[2021-11-01 19:59] tlfeng opened #1484 "Replace "blacklist/whitelist" terminology in code comments, and internal variable, method and class names"
**Is your feature request related to a problem? Please describe.**
Replace "blacklist/whitelist" terminology in the code base, but only the places that won't impact the backwards compatibility.

A part of #1483

**Describe the solution you'd like**
Replace all the "blacklist/whitelist" terminology with "**denylist/allowlist**" in the following location:
- code comments
- Internal variable, method

[2021-11-01 20:02] andrross commented on #1165
We don't seem to have any metrics on how frequently this issue manifests, but it appears to happen when the filesystem in use is not a local disk (i.e. EBS).

[2021-11-01 20:23] andrross commented on #1385
I'll take a look at this

[2021-11-01 20:33] kartg commented on #1242
11/12 exit criteria: Outline an optimization for the increase in JVM GC usage. Implementation is out of scope and will be picked up in a following sprint.

[2021-11-01 20:34] saratvemulapalli opened #1486 "Do we really need modules?"
**Is your feature request related to a problem? Please describe.**
Looking through the code base, I see all modules are plugins but handled separately spread across the code base.
All modules are taken care very similarly as plugins but we have duplicate code for handling plugins and modules.
Ref: https://github.com/opensearch-project/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server

[2021-11-01 20:34] saratvemulapalli commented on #1486
Tagging @nknize for thoughts.

[2021-11-01 20:37] kartg commented on #1385
By 11/12, we're aiming to reproduce the issue and outline scope of change.

This shouldn't repro in Opensearch since we forked from Elasticsearch 7.10.2

[2021-11-01 20:47] cjcjameson opened #1487 "Make bouncycastle dependency abstracted"
**Is your feature request related to a problem? Please describe.**

The problem is that security scans complain about bouncycastle from time-to-time. Perhaps we can upgrade / fix the CVEs, but perhaps we can workaround the security issue by removing bouncycastle

**Describe the solution you'd like**

@wjcarpenter can give more details, but some abstraction?

**Describe alternatives you've consider

[2021-11-01 20:52] wjcarpenter commented on #1487
Also, if you want to use BouncyCastle's BCFIPS provider for other things in the same environment/classpath, the two providers don't get along well. Working around it is kind of inconvenient.

The Search Guard plugin directly uses org.bouncycastle.crypto.generators.OpenBSDBrcypt from the BC provider, which is not present in the BCFIPS provider.

[2021-11-01 23:02] peternied commented on #1317
@mch2 Are you on target for the tomorrows date, there are a number of items in CI/CD that are still open

[2021-11-01 23:42] mch2 commented on #1317
Hey @peternied, we are planning on freezing and cutting the 1.2 branch tomorrow from 1.x.

Once that happens I'll PR the manifest file update to opensearch-build & bump the version on 1.x to 1.3.

[2021-11-02 06:11] eirsep commented on #1147
Currently doing a POC to add an API for PIT disk utilization i.e. segments retained by PIT Ids. I am trying to put out stats **similar to cat segments**, but for Points In Time.

[2021-11-02 08:53] Semenchuk1997 commented on #1385
Here is my cluster props
![image](https://user-images.githubusercontent.com/28215686/139815436-d939234f-baba-4b5d-baec-d20cac90f06e.png)

[2021-11-02 09:57] bertrandda opened #1490 "[BUG] Can't search_after empty value"
**Describe the bug**
When we list items with two attributes as sorting keys and last item request has null/empty sort value, next request with `search_after` does not work with js clients.
Last item in first request response has sort value `"sort" : [-9223372036854775808, 1635414030931]` but in js max value is 2^53, `search_after` can't send [-9223372036854775808, 1635414030931] (client rounds up

[2021-11-02 11:38] #1100 closed

[2021-11-02 13:51] Bukhtawar commented on #1486
I think modules are ways to organise non-core features better while plugins on the other hand are customized extensions to functionalities written in either modules or core. Plugin authors are free to extend them in ways without having to worry about the functionality itself.

[2021-11-02 17:26] andrross commented on #1385
OpenSearch forked from Elasticsearch 7.10.3, and the change to support pathPrefix is [included in OpenSearch 1.0](https://github.com/opensearch-project/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/main/java/org/opensearch/index/reindex/ReindexRequest.java#L475-L478) for remote reindexing operations. If I attempt to reproduce the error as shown I get:

[code]

The `external`

[2021-11-02 18:54] owaiskazi19 commented on #974
All the modules have Spotless as code formatting plugin now. Closing this issue.

[2021-11-02 18:54] #974 closed

[2021-11-02 18:54] kangman opened #1493 "[BUG] links on old repo opendistro-for-elasticsearch broken."
**Describe the bug**
documentation from the old repo should be updated to fix the links. .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/main/release-notes/opendistro-for-elasticsearch-release-notes-1.6.0.md
2. Click on any of the security links
3. See error 404

**Expected behavior**
Should see a page/document ren

[2021-11-02 19:03] elfisher commented on #1467
Hey @davidshtian thanks for sharing this request. For now, the alternative is to use the Elasticsearch Flink connector that is compatible with v7.10.

With that said, adding a dedicated OpenSearch connector would be a welcome contribution. I'll tag this as help wanted and see if someone could help. If you'd be interested in helping, let us know.

[2021-11-02 19:04] #1450 closed

[2021-11-02 19:04] elfisher commented on #1468
Hey @davidshtian with the [built-in security features](https://opensearch.org/docs/latest/security-plugin/index/), is this proxy still necessary?

[2021-11-02 19:11] anasalkouz commented on #1493
@opensearch-project/transfer-request

[2021-11-02 20:33] owaiskazi19 commented on #1362
Closes by https://github.com/opensearch-project/OpenSearch/pull/1370

[2021-11-02 20:34] #1362 closed

[2021-11-02 20:42] adnapibar commented on #1481
[code]

[2021-11-02 20:45] adnapibar commented on #1481
This is fixed in #1460

[2021-11-02 20:45] #1481 closed

[2021-11-02 20:53] adnapibar commented on #1477
Started by timer (Nov 1, 2021 12:33:00 PM)

[code]

[2021-11-02 21:41] adnapibar commented on #1486
+1

The main idea on this design is that,
- modules are actually core features but may need different permissions, so that is why they are separated.
- plugins are features that fulfill a specific need for a subset of users.

The underlying implementation is same for both modules and plugins. However, I think, having the distinction in the code based on the purpose is a good idea.

[2021-11-02 21:51] adnapibar commented on #1477
Both failures are not reproducible  using the same seed on `Mac OS X 11.6 (x86_64)` and `Amazon Linux 2 (Linux 5.4.141, x86_64) `

[2021-11-02 22:00] adnapibar commented on #1470
Started by timer with commit hash 9a87e0d64647c31bad808f5e8af9e3855dbe8500

[code]

[2021-11-02 22:01] adnapibar commented on #1470
Failure is not reproducible using the same seed on Mac OS X 11.6 (x86_64) and Amazon Linux 2 (Linux 5.4.141, x86_64)

[2021-11-02 22:45] saratvemulapalli commented on #1240
Adding on this:
Couple of different options:

Short term: Update the zip in the artifacts repository for distribution downloader to pick it up. Downsides: This is manual and needs hand holding for every release.

Long Term 1: Skip downloading the zip via distribution downloader when an external cluster is provided for integration tests.  Downsides: This only works for integration tests but not BWC

[2021-11-03 06:00] setiah commented on #1487
What is a better alternative to bouncycastle we are considering here, which is less prone to CVE flagging?

Also could you please elaborate a bit more on the issue here

[2021-11-03 10:06] pkalliok-aiven opened #1499 "[BUG] more informative error messages for double slashes in API call URLs"
**Describe the bug**

If you request (by accident?) a URL with an empty index name, you get a pretty random answer:
[code]

It would be better to explicitly complain about the double slash or empty index component, I suggest the following error message:

**To Reproduce**
Steps to reproduce the behavior:
1. start OpenSearch locally
2. curl -X PUT -H 'Content-type: application/json' localhost:9200//

[2021-11-03 12:43] reta commented on #1477
`java.lang.Exception: Test abandoned because suite timeout was reached.` seems like no particular test to blame for but the overall suite execution has exceeded 20mins, I think a good improvement would be to add a reasonable timeout  to `xxx.actionGet()` calls (there are many in the ShardIndexingPressureSettingsIT) to at least better understand the failing flow, @adnapibar what do you think?

[2021-11-03 13:21] reta commented on #1286
**Is your feature request related to a problem? Please describe.**
At least since Apache Lucene 6.x, there is a new experimental low-level API which allows to parallelize execution of the search across segments. As of latest Apache Lucene 8.10.1, the API is still marked as experimental (see please [1]). The community feedback on this feature is looking positive so far (see please [2]), there are h

[2021-11-03 13:24] Semenchuk1997 commented on #1385
Without `external` field the response the same.

I saw the message as yours in the code. However, in the Dev Tools the message the same as in my screenshots above

[2021-11-03 16:35] andrross commented on #1385
Can you clarify how you're running your OpenSearch cluster? Is it hosted in AWS OpenSearch Service or are you running the instance yourself?

[2021-11-03 17:36] #1258 closed

[2021-11-03 17:58] tlfeng commented on #1000
Resolved by #1403

[2021-11-03 17:58] #1000 closed

[2021-11-03 19:13] setiah opened #1501 "How to setup https/ssl with nodejs client"

[2021-11-03 22:01] adnapibar commented on #1447
@melokk97 can you give more details on how to reproduce this.  I tried to repro this using both OpenSearch 1.1.0 linux-tar and docker image and I'm able to successfully register the snapshot repository.

[2021-11-03 23:44] tlfeng commented on #472
## Goal of the enhancement
Replace non-inclusive terminology "master" throughout this repository with inclusive one.

## Context
#### What is “inclusive language”?
Inclusive language is designed to avoid excluding people on the basis of gender, sexual preference, age, race, ability, etc. By using language that avoids expressions which imply or express ideas that have prejudice to any particular gr

[2021-11-04 05:37] ronniepg opened #1502 "[BUG] Rolling Upgrade from Elasticsearch Basic to OpenSearch fails in cluster validation"
Rolling Upgrade from Elasticsearch 7.8.1 Basic (NOT Elasticsearch OSS) to OpenSearch 1.1.0 fails in cluster validation with the following error
`java.lang.IllegalArgumentException: Unknown NamedWriteable [org.opensearch.cluster.metadata.Metadata$Custom][licenses]`

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Elasticsearch 7.8.1 (or greater) Basic cluster with xpack security disabled

[2021-11-04 11:23] DanielGillett commented on #1501
Thanks Setiah for starting this issue.  I sent you this via email and I'm now posting the issue I have here.

I am trying to create a client to use/interact with OpenSearch and when I go to run my client against OpenSearch, I get errors relating to 'ca_certs_path'.  ...I'm not trusted.

Let me start by explaining the basics...
- Windows 10
- Bash
- docker-compose (fround from https://opensearch.or

[2021-11-04 15:02] peternied opened #1504 "[Pull Request Checks] Migrate pull request checks into a jenkinsfile"
Combine gradle precommit and checks into a single workflow.  Then switch the jenkins job to use this file so pull request configuration is managed in this repository.

There is also room for improvement as the `gradle precommit` check can fail and when this happens the more intensive `gradle check` will also fail and maybe not provide useful results.  Maybe there is a way to reduce resource usage

[2021-11-04 15:55] dblock commented on #1504
The Jenkinsfile could live in this repo, too.

[2021-11-04 16:22] nknize opened #1507 "[BWC] Temporarily disable BWC Tests until branch versions are synced"
- [x] 1.1 bumped to 1.1.1 (#1503)
- [x] 1.2 updated to include 1.1.1 for bwc testing (#1505)
- [x] 1.x updated to include 1.1.1 for bwc testing (#1509)
- [x] main updated to include 1.1.1 for bwc testing (#1506)
- [x] 1.x bumped to 1.3.0 (#1494)
- [x] main updated to include 1.3.0 (#1510)

[2021-11-04 18:19] peterzhuamazon commented on #1504
Before we can resolve the issue where PR builder is able to run on pipeline this is not solvable at this point https://github.com/opensearch-project/opensearch-build/issues/851

[2021-11-04 18:20] peterzhuamazon commented on #1504
I dont want to introduce more issues by using precommit to trigger gradle check directly in freestyle.

[2021-11-04 21:57] setiah commented on #1501
Thanks for the details.

The nodejs client is unable to connect to OpenSearch cluster because by default the client does not trust the "self-signed certificates" used on the server side, causing it to throw errors like
[code]
To make it work, you will need to set the certification authority in client ssl configuration to the root-ca.pem file.

[code]
See ^ in example - https://opensearch.org/docs/

[2021-11-04 22:44] anasalkouz commented on #1286
Moving content of the last comment to the body of the issue

[2021-11-04 23:35] adnapibar commented on #1490
@bertrandda  It is a problem on JS that it cannot handle 64-bit integer. Having said that, you can try using the `missing` parameter in the sort field and set it to the JS `Number.MIN_SAFE_INTEGER`.

For instance, you can modify your query to

[code]

[2021-11-05 01:55] anasalkouz commented on #1122
Close this on behalf of #1123

[2021-11-05 01:55] #1122 closed

[2021-11-05 02:01] anasalkouz commented on #1118
@mch2 can you post your findings and close the issue.

[2021-11-05 13:43] MadhavVij opened #1513 "[BUG] search_phase_execution_exception after upgrading to OpenSearch"
**Describe the bug**
After we upgraded from Elasticsearch cluster to Opensearch (1.0) on AWS, we started getting the following error for some of our queries:
`RequestError(400, 'search_phase_execution_exception', 'failed to create query: field expansion matches too many fields, limit: 1024, got: 1667')
`
We tried changing the max_expansion_clause under AWS Opensearch cluster settings but that didn

[2021-11-05 13:50] #1507 closed

[2021-11-05 17:55] Rishikesh1159 commented on #1513
I will look into this.

[2021-11-05 17:57] meghasaik commented on #1499
Picking this up

[2021-11-05 18:02] anasalkouz commented on #1502
Hi @ronniepg , we do only support the upgrade from ElasticSearch OSS to OpenSearch. [https://opensearch.org/docs/latest/upgrade-to/upgrade-to/#upgrade-paths](https://opensearch.org/docs/latest/upgrade-to/upgrade-to/#upgrade-paths)

[2021-11-05 18:20] anasalkouz commented on #1502
Closing the issue. feel free to re-open if you have other thoughts.

[2021-11-05 18:20] #1502 closed

[2021-11-05 18:53] bertrandda commented on #1490
It seems to work, `missing` parameter is what I searched. Thanks @adnapibar

[2021-11-05 18:53] #1490 closed

[2021-11-05 19:24] xuezhou25 commented on #1299
Looking into this

[2021-11-05 19:52] setiah opened #1514 "Improve logging for failures due to client missing certs"
**Describe the issue**
When client does not trust the self-signed certificates used on the server side, it fails to connect to security enabled OpenSearch with error https://gist.github.com/setiah/ecd58925379bf711a207196fecc4d10d

This error is not helpful. The proposal is to improve the messaging to provide informative and actionable messaging to user around the potential configuration issue and

[2021-11-05 20:36] adnapibar commented on #1473
@downsrob is this still an issue? I tried running the tests and everything's passing, can you confirm?

[2021-11-05 21:03] #1318 closed

[2021-11-06 14:21] dblock opened #1515 "[BUG] Link checker is failing"
**Describe the bug**

Link checker is failing in CI.

https://github.com/opensearch-project/OpenSearch/actions/runs/1427836732

[code]

[2021-11-08 08:13] Semenchuk1997 commented on #1385
Amazon OpenSearch Service

[2021-11-08 10:30] melokk97 commented on #1447
@adnapibar for hadoop:
- Install hadoop 3.1.2
- make `hdfs dfs -mkdir /user/opensearch` and `hdfs dfs -chown elasticsearch /user/opensearch`
As for the opensearch, I described above: install opensearch, install plugin hdfs and try to register hdfs repo

[2021-11-08 14:35] eirsep commented on #1147
Have verified that its possible to get PIT segments info on the lines of cat segments api.
https://github.com/eirsep/OpenSearch/tree/pit_poc

It would give important insights into a PIT's disk utilization.

[2021-11-08 15:51] adnapibar commented on #1473
The tests are currently suppressed with `awaitsFix` to get CI working.  The tests still fail otherwise.

[2021-11-08 18:17] adnapibar commented on #1473
Stack trace of one of the failing tests
[code]

[2021-11-08 21:44] anasalkouz commented on #221
Hi @setiah, do you have plan to add missing javadocs for this list of modules? how to track the progress?

[2021-11-08 21:46] anasalkouz commented on #404
Hi @saratvemulapalli, I see PL already submitted to replace elasticsearch dependencies. Could you please close the issue if there is nothing else pending.

[2021-11-08 21:48] anasalkouz commented on #417
Hi @nknize, what is remaining into this meta issue?

[2021-11-08 21:50] anasalkouz commented on #420
Hi @adnapibar, I see couple of PL already merged to address the issue, anything else pending? can you close the issue?

[2021-11-08 21:52] anasalkouz commented on #476
Hi @rguo-aws, what is pending on this feature?

[2021-11-08 21:53] anasalkouz commented on #477
Hi @rguo-aws, can you please look into this?

[2021-11-08 21:55] anasalkouz commented on #479
Hi @dhwanilpatel, are you actively working on this? could please provide some updates?

[2021-11-08 21:58] anasalkouz commented on #491
Hi @itiyamas, did you finish the documentation for the new setting? could please close the issue?

[2021-11-09 00:18] xuezhou25 commented on #1299
Hi @cracanut1
I think change the command `"span_field_masking"` to `"field_masking_span"` can solve your problem.
Since OpenSearch is a fork from Elastic search v7.10.2 and Elasticsearch changed this name after v7.15.0 from [there](https://github.com/elastic/elasticsearch/commit/bb37e09d92e0deacd7a2c40d038bccdead3d969a), we can only support the old name.

[2021-11-09 00:26] #1299 closed

[2021-11-09 00:43] thunderstumpges opened #1517 "[Feature Request] Support for FIPS 140-2 enforced mode."
In some customer service contracts (especially Government contracts), there is a requirement to run all services in [FIPS 140-2](https://csrc.nist.gov/csrc/media/publications/fips/140/2/final/documents/fips1402.pdf) compliant/enforced mode.

[Elasticsearch supports this](https://www.elastic.co/blog/configuring-elasticsearch-in-a-fips-140-2-environment) currently in their xpack security plugin.

We

[2021-11-09 00:49] anasalkouz opened #1518 "Segment Level Search Timeout"
This is can be implemented after we finish the concurrent search on segment level #1286

[2021-11-09 00:49] wjcarpenter commented on #1487
The CVE is just one of a few reasons for wanting to swap out BouncyCastle. For example, an organization might have a policy dictating which Java crypto providers were acceptable for applications they use. One very important reason is the desire to use only FIPS 140-2 certified providers, for which the normal BouncyCastle BC provider is not acceptable. BouncyCastle does have a FIPS 140-2 certified

[2021-11-09 00:54] anasalkouz opened #1519 "Parallel Fetch"
Parallel fetch of document fields to improve timings for large recall.

[2021-11-09 01:03] anasalkouz commented on #1120
I have added the high level idea, we will add more details soon.

[2021-11-09 01:07] wjcarpenter commented on #1487
It's probably the case that the majority of consumers are fine with using BC. It's just that when you need to replace it, you're really stuck. There is no workaround other than modifying the Search Guard source code.

[2021-11-09 16:51] samirmajen opened #1520 "[BUG] java.lang.IllegalArgumentException: unknown setting [node] please check that any required plugins are installed"
**Describe the bug**
Running the latest version of opensearch (1.1.0) as a helm template in kubernetes gives the following error in the logs:

uncaught exception in thread [main]
java.lang.IllegalArgumentException: unknown setting [node] please check that any required plugins are installed, or check the breaking changes documentation for removed settings
        at org.opensearch.common.settings.A

[2021-11-09 18:10] saratvemulapalli commented on #1240
We have decided to go with Long term 1 for 1.2 which should anyway be done.

Double clicking on it:
The problem is the integration tests in plugins use `testClusters` in the build scripts even though when they would like to use remote endpoints. This is causing the integration tests in Jenkins CI to have the published artifacts even though the test clusters need not be setup.

Example: Looking at

[2021-11-09 18:23] getsaurabh02 commented on #1473
The Node Stats Request parameters are preserved under the version check and this shouldn’t be the cause of this issue directly. These serialization constructs are already well tested under Open Search Integration and Backward Compatibility Tests, which ensures safe node communication for homogeneous and heterogeneous clusters. Here it seems to be related to the test setup.

Error here shows except

[2021-11-09 19:03] saratvemulapalli commented on #1240
To test the above solution I did a quick POC in AD.

Added
[code]
The tests start to run on Darwin (which usually doesnt because darwin artifacts are not published yet for OpenSearch).
The tests now fail due to Jar hell, but its still progress.
[code]

[2021-11-09 19:31] Kevc1 opened #1522 "Add max_primary_shard_size as a rollover action in State Management Policy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We need a way to rollover our indices if the shard size is >50gb as recommended by AWS.  This option exists in Elasticsearch and would be very beneficial to have available in Opensearch.

**Describe the solution you'd like**
A clear and con

[2021-11-09 19:35] anasalkouz commented on #1520
@opensearch-project/transfer-request

[2021-11-09 19:45] Kevc1 opened #1523 "Add max_primary_shard_size as a rollover action in State Management Policy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We need a way to rollover our indices if the shard size is >50gb as recommended by AWS.  This option exists in Elasticsearch and would be very beneficial to have available in Opensearch.

**Describe the solution you'd like**
A clear and con

[2021-11-09 19:45] CEHENKLE commented on #1523
Oops -- Moved wrong issue :/

[2021-11-10 03:19] malpani opened #1526 "Dynamic max boolean clause counts"
**Is your feature request related to a problem? Please describe.**
As query shapes evolve, there have been multiple requests by users ato dynamically change limits on max clauses allowed for a boolean query. Today, this is a static setting `indices.query.bool.max_clause_count` that defaults to 1024. Any change requires a yml change and rolling restart of the cluster which is not convenient

On hit

[2021-11-10 13:58] jbaudisc opened #1528 "High level REST client index() is not respecting the indexRequest.setRequireAlias(true) method call"
The following code:

[code]
Expected behaviour:
Should throw a `RuntimeException` (because of `indexRequest.setRequireAlias(true)`) and in our tests ("test-index") does not exist.

How it worked:
However, it did not throw an Exception but instead created a new index named "test-index" (default behaviour).

It seems it does not take `indexRequest.setRequireAlias(true)`; call into account. Checking

[2021-11-10 20:07] anasalkouz commented on #1473
Hi @downsrob, do you have any update on the test failures? is this a blocker for 1.2 release?

[2021-11-10 20:13] downsrob commented on #1473
@anasalkouz These tests are still failing, though we have added the AwaitsFix annotation to enable our CI to pass. At this point it seems like a test failure only, and is not a blocker for 1.2.

[2021-11-10 20:58] nknize commented on #1473
I believe SNAPSHOT binaries are built every evening? (@dblock or @peterzhuamazon  can confirm). I also think the plugin pick up the latest snapshot when running the test. This is definitely a serialization mismatch somewhere in the transport layer. If it's the result of a PR not being backported we need to find that PR and backport it. Once the fix is merged the plugin tests should pass after the

[2021-11-10 23:13] saratvemulapalli commented on #1517
Thanks for reaching out.
I'll move this to our security plugin team.

Also @setiah probably you might interested!

[2021-11-10 23:46] downsrob commented on #1473
This error only seems to occur when the test distribution is set to ARCHIVE, and the gradle task is integTest. If the test distribution it is set to INTEG_TEST then the normal snapshots are used then the test will pass.

I have been able to replicate this error on multiple plugins, Index Management, Alerting, and Anomaly Detection. Here is the code for an empty test to replicate:
[code]
Testing it

[2021-11-11 03:48] dbbaughe commented on #1371
@CEHENKLE Can you move this to index management

[2021-11-11 05:08] getsaurabh02 commented on #1473
Thanks for sharing the details @downsrob, I was able to however successfully run the below empty test case as you had mentioned in the `OpenSource` code base. It did not run into any issues related to the cleanup. Also other `ITs` and `bwc` tests in OS which depend upon the abstract offerings of ``OpenSearchIntegTestCase``are running through. So still wondering what is specific here with the plugi

[2021-11-11 05:59] xuezhou25 opened #1531 "Rename field_masking_span to span_field_masking"
**Is your feature request related to a problem? Please describe.**
 According to customer confusion from this issue [#1299](https://github.com/opensearch-project/OpenSearch/issues/1299)
In Span Queries group, queries are like `span_containing` `span_first` `span_within` etc. Currently the `field_masking_span` query is the only one that end with `_span` instead of starting with `span_`.

**Describe

[2021-11-11 06:03] shashank-sachan opened #1532 "ConnectionError: getaddrinfo EMFILE"
**Describe the bug**
We are trying to replace the elasticsearch NPM with opensearch NPM in our project (using AWS opensearch 1.0 cluster).
We are connecting to AWS opensearch from AWS lambda.
Now in case of high load we start getting _ConnectionError: getaddrinfo EMFILE_ error.

`
ConnectionError: getaddrinfo EMFILE *******.us-east-1.es.amazonaws.com
    at ClientRequest.onError (/opt/nodejs/node_

[2021-11-11 06:14] xuezhou25 commented on #1396
🙋‍♀️

[2021-11-11 07:33] jbaudisc commented on #1528
PR: https://github.com/opensearch-project/OpenSearch/pull/1533

[2021-11-11 08:03] adnapibar commented on #1473
Instead of EOF now I'm seeing a message not fully read error.

[code]

[2021-11-11 10:52] 66545shiwo opened #1535 "[BUG]IllegalArgumentException: unknown setting [node]"
**Describe the bug**
Hello,
I install OpenSearch using Helm by default config , but got an error :
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]

I only change "image" and "storageclass"  config in values.yml file

**Host/Environment (please complete the following information):**
 - Kubernertes:  1.20.6
 - Helm:  v3.5.0

[2021-11-11 10:54] 66545shiwo commented on #1535
Opensearch Chart Version:
[code]

[2021-11-11 15:11] nknize opened #1536 "[Performance] Adaptive Replica Selection + Search Idle introduces inconsistent search performance"
[Adaptive Replica Selection](https://github.com/elastic/elasticsearch/pull/26128) (ARS) is a default feature where search requests are routed to an optimal node based on a computed "Node Score" (function of queue size, response time, and service time). The intent of the behavior is to avoid routing search requests to busy nodes with the idea of improving search response time.

[Shard Idle](https:/

[2021-11-11 18:44] mch2 commented on #1413
@nknize I believe this can be closed with #1440 ?

[2021-11-11 18:51] mch2 commented on #787
Closing this as CLI tool is merged to 1.x and will be released with 1.2.

[2021-11-11 18:51] #787 closed

[2021-11-11 18:57] setiah commented on #221
Hey @anasalkouz adding javadocs for all modules is a behemoth effort which we need to divide and conquer with the help from community. Evaluating other priorities, we need to bring this in our sprint planning and conquer module-by-module and parallelize where possible. For some modules like `server`, which are huge in themselves, might need to be further  split this into sub-tasks. As we add javad

[2021-11-11 21:31] Rishikesh1159 commented on #1513
@MadhavVij in order to reproduce issue, can you provide more information about search queries (like sample queries) which are failing and information about data (like sample dataset or size and configuration)? Also are you using OpenSearch Dashboards as client or any different tool?

[2021-11-11 21:35] andrross commented on #1385
I've confirmed that path prefix support for remote reindex is implemented in OpenSearch 1.0. I'm not sure what is the causing the error that you're seeing, but at this point I think [AWS support](https://console.aws.amazon.com/support/home#/case/create?issueType=technical) is the right place to get assistance with Amazon OpenSearch Service.

[2021-11-11 22:25] adnapibar commented on #1473
@downsrob and I looked into the distribution that is being downloaded for integration tests and it is out of date. The deserialization failure is due to the new fields missing.

[2021-11-11 22:31] VachaShah commented on #1108
The warning is being logged from: https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/cluster/metadata/IndexNameExpressionResolver.java#L368

Tried to apply custom log level while logging deprecation warnings and change the log level of the deprecation log but that would result in this warning not being printed if the log level threshold is lower.

Raised

[2021-11-11 22:46] downsrob commented on #1473
@getsaurabh02 A lot of this is guessing, but from what I have pieced together it looks like when the test distribution is set to ARCHIVE, it seems to use a different artifact from the store. These artifacts have additional modules installed which are needed for plugins. These artifacts can also be used for backwards compatibility testing, and so they are meant to be stable and we don't build them

[2021-11-11 23:23] dblock commented on #1108
This entire method should then be deprecated. Who is calling it?

[2021-11-11 23:44] VachaShah commented on #1108
Found a lot of instances that use the IndexNameExpressionResolver which uses the check method for system indices access.

[2021-11-12 03:52] setiah commented on #1487
Thanks for the details. It makes sense to make the crypto providers configurable (yet with strong/popular defaults). A FIPS 140-2 provider also seems to be a popular feature ask on security plugin side https://discuss.opendistrocommunity.dev/t/opendistro-fips-140-compliance/2103

Since the looks to be on Security plugin side, i'll transfer this issue to the security repo for further follow up.

[2021-11-12 03:56] setiah commented on #1487
@CEHENKLE seems like I don't have permissions to transfer issue to security repo. Could you please help with this?

[2021-11-12 17:02] meghasaik commented on #1499
Was able to reproduce the bug by using the steps mentioned by user.

[2021-11-12 17:17] peterzhuamazon commented on #1477
Seems like no errors anymore. Thanks.

[2021-11-12 17:17] #1477 closed

[2021-11-12 17:17] peterzhuamazon commented on #1470
Seems like no errors anymore. Thanks.

[2021-11-12 17:17] #1470 closed

[2021-11-12 18:04] peterzhuamazon commented on #1473
This is now fixed by sending https://github.com/opensearch-project/opensearch-infra/pull/131.
Thanks.

[2021-11-12 18:37] anasalkouz commented on #1385
Closing the issue, please feel free to re-open the issue incase you still have any questions or concerns.

[2021-11-12 18:37] #1385 closed

[2021-11-12 18:45] adnapibar commented on #1473
Closing this issue as no fix is required in OpenSearch.

[2021-11-12 18:45] #1473 closed

[2021-11-12 18:51] dblock commented on #1473
How do we prevent this problem in the future? Distribution downloader could maybe throw warnings on snapshot builds for artifacts older than X?

[2021-11-12 18:54] adnapibar commented on #1413
Closing this as fixed by #1459

[2021-11-12 18:54] #1413 closed

[2021-11-12 19:35] xuezhou25 commented on #1396
I am not able to reproduce this. need some advice.😵‍💫

[2021-11-13 13:07] opensearch-ci-bot opened #1542 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1071 in gradle_check log for more information.

[2021-11-13 21:44] unhipzippo commented on #768
I suspect that the "containers fail to start properly" and "sed cannot do its thing" are the same root cause.

See the following block in  [opensearch-docker-entrypoint.sh](https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/config/opensearch/opensearch-docker-entrypoint.sh):

[code]

The "sed -i" is an attempt to modify the opensearch.yml file "in place" -- But accordi

[2021-11-15 05:44] Rishikesh1159 commented on #1513
@MadhavVij did you try increasing value of "max_clause_count" under Advance Cluster Setting of Cluster Configuration in your AWS OpenSearch Console?

[2021-11-15 06:38] melokk97 commented on #1447
One dependency seems to be missing. I added the line `// https://mvnrepository.com/artifact/com.google.guava/failureaccess
implementation group: 'com.google.guava', name: 'failureaccess', version: '1.0.1'
` to the file `build.gradle` (https://mvnrepository.com/artifact/com.google.guava/failureaccess/1.0.1) and this solved my problem

[2021-11-15 12:47] quangmaubach commented on #1278
Hi team, is there any guidance/suggestion for this issue? Should I start working on some PR for this?

[2021-11-15 12:47] quangmaubach commented on #1279
Hi team, is there any guidance/suggestion for this issue? Should I start working on some PR for this?

[2021-11-15 13:03] dblock commented on #1279
No need to ask for permission! Comment here if you're working on it so we don't duplicate work.

[2021-11-15 14:39] MadhavVij commented on #1513
All search queries which are failing are Multi-Match queries (some are wrapped in nested queries) and then combined using DisMax query.

Example:
[code]

Note: The query type in the example is phrase, but we see the error with the default query type as well.

These queries were running without any issues with Elasticsearch. We did change the max_clause_count from 1024 to 2048 a while back (on Elas

[2021-11-15 15:14] matthewdeanmartin commented on #1513
@Rishikesh1159  - I work with Madhav. We've attempted to increase the max_clause_count both via the AWS console and with Terraform. Neither appear to have any effect on the cluster, but the console reports the higher max_clause_count.

[2021-11-15 15:47] peternied commented on #1317
@mch2 Until Friday the 12th at noon PST, any tests that use distribution downloader were running against old bits and need to be rerun.  Can you please see if your team was impacted, rerun the tests, and then mark the tests run as completed in https://github.com/opensearch-project/opensearch-build/issues/954?

[2021-11-15 18:23] anasalkouz commented on #551
Hi @dhwanilpatel, seems this issue already addressed into #494. Closing the issue, please feel free to reopen incase anything still missing.

[2021-11-15 18:23] #551 closed

[2021-11-15 18:30] CEHENKLE commented on #626
@ryanbogan Can we resolve this?  Thanks!

[2021-11-15 18:39] anasalkouz commented on #985
Hi @Bukhtawar, what is the update on this enhancement? what is the next step?

[2021-11-15 19:25] #670 closed

[2021-11-15 19:28] kartg commented on #1242
We slipped in picking this up. We'll start work on this soon

[2021-11-15 19:41] kartg commented on #1515
Seems like https://github.com/opensearch-project/OpenSearch/pull/1539 has fixed this. Closing this issue.

[2021-11-15 19:41] #1515 closed

[2021-11-15 19:59] ryanbogan commented on #626
@CEHENKLE Yeah we can

[2021-11-15 20:05] kartg opened #1544 "Develop a proof-of-concept implementation for Segment Replication"
**Is your feature request related to a problem? Please describe.**
This is a follow up task to https://github.com/opensearch-project/OpenSearch/issues/1123

**Describe the solution you'd like**
Develop a proof-of-concept (POC) of segment replication in a feature branch

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/opensearch-project/OpenSearch/issues/1

[2021-11-15 20:07] #1127 closed

[2021-11-15 20:07] #1126 closed

[2021-11-15 20:07] kartg commented on #1544
Assigning to @mch2

[2021-11-15 20:10] kartg commented on #1396
Update: We will attempt to dig into the test to find a hypothesis for why the snapshot is intermittently missing.

@nknize can you link to other instances where this failure has occurred, so we can get more data to try and identify a pattern?

[2021-11-15 20:12] #1135 closed

[2021-11-15 20:14] #1146 closed

[2021-11-15 20:20] mch2 commented on #1544
@kartg would like to give this a try

[2021-11-15 20:54] tlfeng opened #1547 "Add alternative usage for the configuration that contains "blacklist/whitelist" terminology"
**Is your feature request related to a problem? Please describe.**
Replace "blacklist/whitelist" terminology in configurations, where the backwards compatibility will be impacted.

A part of #1483

**Describe the solution you'd like**
1. Replace the old usages that having "blacklist/whitelist" in configurations with "**denylist/allowlist**", then create duplicate usages with the old terminology fo

[2021-11-15 21:56] tlfeng opened #1548 "Replace "master" terminology in code comments, and internal variable, method and class names"
**Is your feature request related to a problem? Please describe.**
Replace "master" terminology in the code base, but only the places that won't impact the backwards compatibility.

A part of #472

**Describe the solution you'd like**
Replace all the "master" terminology in the following location:
- "master branch" in documents
- code comments
- internal variable, method and class names

Any APIs

[2021-11-15 21:58] tlfeng opened #1549 "Add alternative usages for the REST APIs and configurations that contain "master" terminology"
**Is your feature request related to a problem? Please describe.**
Replace "master" terminology in REST APIs and configurations, where the backwards compatibility will be impacted.

A part of #472

**Describe the solution you'd like**
1. Replace the old usages that having the word "master" with "cluster manager" in REST APIs and configurations, then create duplicate usages with the original name f

[2021-11-15 22:53] peternied opened #1550 "OpenSearch 1.2.0 Release run Performance test cases manually"
Due to https://github.com/opensearch-project/opensearch-build/issues/126, performance tests are not run via automation and instead must be started manually, here are the high level steps:

- [ ] Create performance test clusters
- [ ] Trigger performance test cases
- [ ] Confirm all tests were successful
- [ ] Publish performance test data

Follow up; Fork with all changes for the manual deployment

[2021-11-15 23:39] anasalkouz commented on #624
Hi @Bukhtawar, Could you elaborate more about this issue? we don't know if this issue is really happening or you think it could happen. Are you able to reproduce it? or this is something you anticipated that it will break based in your understanding of the code.

[2021-11-15 23:39] spaceghostcowboy commented on #1463
How do you assemble an Open Search Windows distribution? Is there a more appropriate way to discus this?

[2021-11-16 00:00] anasalkouz commented on #477
Closing this issue, @rguo-aws feel free to reopen if this is still needed

[2021-11-16 00:00] #477 closed

[2021-11-16 00:06] anasalkouz commented on #1144
Hi @mitalawachat, could you please elaborate more? what do you mean by early layer? what is the mechanism that currently in use to restrict incoming request? what do you want to change?

[2021-11-16 00:14] Bukhtawar commented on #624
I have observed this happening while making bw incompatible change and can also be reproduced with a small code change on one node hat serializes message in a format that cannot be read or deserialized on the other node

[2021-11-16 00:16] anasalkouz commented on #1142
Hi @tushar-kharbanda72, Disk water mark has default setting, but can override them based on your use-case. So, I am still not sure what are you suggesting? can you elaborate more?

[2021-11-16 00:24] anasalkouz commented on #615
Hi @Bukhtawar, could you please provide more input why do you think this is something good to implement? If we delete partial of the query results, this might lead to more confusion to customer. In my opinion, it's better to delete all matched results or none.

[2021-11-16 00:33] VachaShah opened #1551 "Upgrade guava dependency"
**Is your feature request related to a problem? Please describe.**
Some guava dependencies in OpenSearch are pretty old, example https://github.com/opensearch-project/OpenSearch/blob/main/distribution/tools/keystore-cli/build.gradle#L38. Upgrade to a recent version across all instances in the repo.

**Describe the solution you'd like**
Upgrade guava to a recent version (30.1.1-jre or 31.0.1-jre) i

[2021-11-16 00:41] VachaShah opened #1552 "Upgrade Apache Ant Core"
**Is your feature request related to a problem? Please describe.**
Upgrade apache ant core to 1.10.12 in `buildSrc`.

**Describe the solution you'd like**
Upgrade apache ant core to 1.10.12 in `buildSrc`.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-11-16 00:45] anasalkouz commented on #1143
Pending more inputs from the community before make it a priority.

[2021-11-16 00:49] VachaShah opened #1553 "Upgrade commons-codec via hadoop"
**Is your feature request related to a problem? Please describe.**
The dependency of commons-codec coming in from hadoop (`repository-hdfs` and `hdfs-fixture`) is quite old.

**Describe the solution you'd like**
Upgrade this to a more recent commons-codec version in the above modules.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-11-16 00:53] Rishikesh1159 commented on #1513
@MadhavVij @matthewdeanmartin - This seems to be an issue with the AWS OpenSearch Service offering, please open a ticket against AWS OpenSearch team.  [AWS support](https://console.aws.amazon.com/support/home#/case/create?issueType=technical) is the right place to get assistance with Amazon OpenSearch Service.

[2021-11-16 00:53] anasalkouz commented on #1125
I would prefer to keep such metrics out of the core engine, it might be a good idea to extend the functionality using a plugin.
Move this to pending more input from community.

[2021-11-16 00:56] VachaShah opened #1554 "Upgrade commons-io in repository-hdfs plugin"
**Is your feature request related to a problem? Please describe.**
`repository-hdfs` uses an ancient version of commons-io 2.4.

**Describe the solution you'd like**
Upgrade this to a more recent commons-io version.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-11-16 01:02] anasalkouz commented on #476
Please feel free to re-open if there is pending work

[2021-11-16 01:03] anasalkouz commented on #404
Closing the issue, please feel free to re-open if needed

[2021-11-16 01:08] anasalkouz commented on #631
Closing this issue. @Bukhtawar, please feel free to reopen incase you are able to reproduce it.

[2021-11-16 01:45] anasalkouz commented on #854
Pending more input from the community to prioritize the feature.

[2021-11-16 01:46] tlfeng opened #1556 "Replace or remove the "slave" terminology used in a test data"
**Is your feature request related to a problem? Please describe.**
Replace or remove the non-inclusive terminology from the code base.

**Describe the solution you'd like**
There is only 1 usage in the code base that can be replaced or removed, which is a test data:
https://github.com/opensearch-project/OpenSearch/blob/15e9f137622d878b79103df8f82d78d782b686a1/modules/mapper-extras/src/test/resourc

[2021-11-16 01:49] anasalkouz commented on #696
Hi @abbashus , can you close this issue? since you already have an RFC submitted as separate issue.

[2021-11-16 01:52] anasalkouz commented on #806
Hi @shwetathareja , are you actively working on this? could you please update the issue?

[2021-11-16 01:58] anasalkouz commented on #72
Pending more votes from the community to prioritize it.

[2021-11-16 02:01] anasalkouz commented on #491
Closing the issue, feel free to re-open if needed

[2021-11-16 02:01] #491 closed

[2021-11-16 05:48] saratvemulapalli commented on #404
@anasalkouz some how i missed this.
I know we have taken care of Securemock, mocksocket and JNA.
But did we also remove the geolite test data dependency?

[2021-11-16 06:42] AmiStrn commented on #854
Perhaps return said values given an index pattern - rather than specific index. Wdyt?

[2021-11-16 12:31] DanielHajduk2-TomTom opened #1557 "[BUG] PUT _plugins/_ism/policies/{id} API is not Idempotent but it should be!"
**Describe the bug**
PUT methods should be Idempotent by design. Currently when you upload the same policy twice in version 1.1.0, you get bounced back with an error about conflicting versions which makes no sense.

**To Reproduce**
Steps to reproduce the behavior:
1. PUT a policy _plugins/_ism/policies/something
2. PUT the same policy again _plugins/_ism/policies/something
3. Get an error that:

[2021-11-16 14:35] aterreno opened #1558 "[BUG] can't login in dashboard running locally on docker"
Hi there,
 I am trying to login into dashboards from localhost, my docker-compose.yml is pretty vanilla like:

[code]

 I checked on the container running the dashboards,
[code]

[code]

but on http://localhost:5601/app/login

entering kibanaserver:kibanaserver won't work, giving me back a 401

please note I am running opensearch with plugins.security.disabled=true, if it's any related at all.

th

[2021-11-16 16:46] ynuyasha opened #1559 "WARNING: Illegal reflective access by io.protostuff.runtime.PolymorphicThrowableSchema"
**Describe the bug**
when i start container with node.roles: [data,ingest] i receive this warning:

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by io.protostuff.runtime.PolymorphicThrowableSchema (file:/usr/share/opensearch/plugins/opensearch-anomaly-detection/protostuff-runtime-1.7.4.jar) to field java.lang.Throwable.cause
WARNING: Please consi

[2021-11-16 17:40] peternied commented on #1317
@dblock removed the `enhancement` label as it doesn't seem to fit this issue to complete the release.  Let me know if you have other thoughts.

[2021-11-16 17:46] peternied commented on #687
@nknize @mch2 What is the state of this issue? OpenSearch was marked as feature complete per https://github.com/opensearch-project/OpenSearch/issues/1317

[2021-11-16 17:55] peternied opened #1560 "OpenSearch 1.2.0 Performance regression of 10% compared to 1.1.0"
We are seeing 10%+ regression across the board compared to the OpenSearch 1.1.0 release.

| Area                         | Movement | Additional Reference                    |
| ---------------------------- | -------- | --------------------------------------- |
| Indexing Requests Per Second | Down 10% |                                         |
| Mean Index Latency           | Up 11%   | p50 9%,

[2021-11-16 17:56] #696 closed

[2021-11-16 18:03] Poojita-Raj commented on #992
Looking into this.

[2021-11-16 18:17] CEHENKLE opened #1561 "[BUG] ClusterRerouteIT.testDelayWithALargeAmountOfShards (random test failure)"
**Describe the bug**
Random test failure.  :(  Please dig in and figure out what went wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_992_reports.zip](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_992_reports.zip)

[2021-11-16 18:17] CEHENKLE opened #1562 "[BUG] SharedClusterSnapshotRestoreIT.testSnapshotCanceledOnRemovedShard (Random test failure)"
Describe the bug
Random test failure. :( Please dig in and figure out what went wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_736_reports.zip](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_736_reports.zip)

[2021-11-16 18:18] CEHENKLE opened #1563 "[BUG] MinimumMasterNodesIT.testThreeNodesNoMasterBlock (random test failure)"
**Describe the bug**
Random test failure :(  Please dig in and figure out what went wrong :(

[https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/1079/artifact/gradle_check_1079.log/*view*/](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/1079/artifact/gradle_check_1079.log/*view*/)

[2021-11-16 18:20] CEHENKLE opened #1564 "[BUG] InstallPluginCommandTests.testOfficialPluginSnapshot (Random Test Failure)"
**Describe the bug**
Random test failure. :( Please dig in and figure out what went wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1087_reports.zip](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1087_reports.zip)

[2021-11-16 18:21] CEHENKLE opened #1565 "[BUG] StableClusterManagerDisruptionIT.testStaleClusterManagerNotHijackingMajority (Random Test Failure)"
**Describe the bug**
Random Test Failure.  Please dig in, and figure out what went wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1066_reports.zip](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1066_reports.zip)

[2021-11-16 18:22] CEHENKLE opened #1566 "[BUG] :test:fixtures:s3-fixture:composeUp (random test failure)"
**Describe the bug**
Random Test Failure. Please dig in, and figure out what went wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1067_reports.zip](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1067_reports.zip)

[2021-11-16 18:23] CEHENKLE opened #1567 "[BUG] FsHealthServiceTests.testFailsHealthOnHungIOBeyondHealthyTimeout (Random test Failure)"
**Describe the bug**
Random Test Failure.   Please dig in, figure out what's wrong :(

[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1068.log](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1068.log)
[https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1068_reports

[2021-11-16 18:40] MadhavVij commented on #1513
@Rishikesh1159  Thanks for the guidance, I have opened an issue with AWS Support team.

[2021-11-16 18:42] Rishikesh1159 commented on #1556
I will look into this.

[2021-11-16 19:09] tlfeng commented on #1567
Most recently found in [#1541](https://github.com/opensearch-project/OpenSearch/pull/1541#issuecomment-967747854)

[2021-11-17 08:31] manuel-pancorbo opened #1570 "search_after queries are not performing as expected"
#### Disclaimer: the origin of this issue was a [post](https://discuss.elastic.co/t/search-after-queries-are-not-performing-as-expected/289174) in ElasticSearch discuss.

**Is your feature request related to a problem? Please describe.**

We began to use the search_after parameter for solving our issues related to pagination consistency. This works fine until we realized that our query slow log st

[2021-11-17 16:27] ryanbogan commented on #1276
OpenSearch cluster instances have been launched but there is still an error when performing Mensor testing

[2021-11-17 16:35] dblock opened #2395 "Pickup Java version from .properties in OpenSearch gradle check"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/issues/74#issuecomment-956496829. Use different JDKs depending on which branch of OpenSearch is being built.

### Describe the solution you'd like

OpenSearch has CI defined in a private freestyle project that runs gradle check on OpenSearch#main, branches and PRs.

[2021-11-17 17:12] saratvemulapalli commented on #1240
Long Term 1 is now implemented and taken care of in the plugins.

The issue is still open to take care of Long term 2, which is `opensearch.testclusters` gradle plugin should accept a URL to override distribution downloader ivy repository and download the min artifact from a custom place.

[2021-11-17 17:18] ananzh commented on #1532
Hi @shashank-sachan thanks for creating this issue. I think there are some confusing parts regarding your questions. First, I see you are referring Plugins elasticsearch: “^16.5.0” which is not nodejs. Seems this plugin (only this one has the 16.5 version) ? So could you help us to confirm what is this 16.5.0 es plugin? Second, from google search, EMFILE error means that the OS is denying your pro

[2021-11-17 17:23] saratvemulapalli opened #1572 "Propose high level design thoughts for plugin sandboxing"
**Is your feature request related to a problem? Please describe.**
As we start on to think about the problem: https://github.com/saratvemulapalli/OpenSearch/blob/feature/sandboxing/sandboxing-design.md#problem

Propose high level design ideas, pros and cons for each in the design doc.

Meta issue: https://github.com/opensearch-project/OpenSearch/issues/1422

[2021-11-17 17:34] saratvemulapalli opened #1573 "Document existing interfaces/extension points for plugins"
**Is your feature request related to a problem? Please describe.**
While learning about the plugin architecture and to improve it we would need to understand the existing interfaces and resources plugins have access to.

This issue covers documentation of the existing interfaces.

Meta: https://github.com/opensearch-project/OpenSearch/issues/1422
Problem statement: https://github.com/saratvemulapa

[2021-11-17 17:42] shashank-sachan commented on #1532
Hi @ananzh,
This is the elasticsearch npm - https://www.npmjs.com/package/elasticsearch/v/16.5.0

Now I cannot change the ulimit because I’m not running this on any Linux server. Code is running inside the AWS lambda and it’s connecting to AWS managed opensearch server (previous known as AWS managed elastic search)

[2021-11-17 18:06] nknize commented on #687
This was fixed at the lucene level in the latest release. Closing.

[2021-11-17 18:06] #687 closed

[2021-11-17 18:38] kartg commented on #1513
Closing this out

[2021-11-17 18:38] #1513 closed

[2021-11-17 18:41] Rishikesh1159 commented on #1240
I will work on this.

[2021-11-17 18:57] mch2 commented on #1560
@peternied taking a look at this data it looks like index & query latencies are up across the board.

Looking to see what went on here but it looks like the bundle for [1.1 ](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.1.0/opensearch-1.1.0.yml)contains different components than [1.2](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.2.0/o

[2021-11-17 19:52] peternied commented on #1560
Working with Marc to investigate, `OpenSearch-1-2-0--982-x64-disable`
going to inspect this host configuration and see if we can pull slow logs or see other issues

[2021-11-17 20:12] peternied commented on #1560
We are going to deploy min versions for testing, using the 1.1.0 release min version, `https://ci.opensearch.org/ci/dbc/builds/1.1.0/405/x64/bundle/opensearch-min-1.1.0-linux-x64.tar.gz`

[2021-11-17 20:14] peternied commented on #1560
Started a CDK deployment for the min version of 1.2.0 following the performance setup process, as soon as that is done will repeat for 1.2.0.

Note we are using build `982` to make sure we have side-by-side comparisons with the other tests results.

[2021-11-17 20:16] mch2 commented on #1560
Working on getting rally set up to run min comparison locally will report back

[2021-11-17 20:20] peternied commented on #1560
New environment is up, starting on the 1.1.0
[code]

[2021-11-17 20:26] peternied commented on #1560
Both environments are now up
[code]

[2021-11-17 20:42] manodupont commented on #768
Im curious about this issue. I am wondering if this bug was already on some older versions ?!

[2021-11-17 21:14] peternied commented on #1560
### `OpenSearch-1-2-0--982-x64-disable` Investigation notes:

Checking the logs
[code]

Looking for any unexpected errors, warnings, or exceptions.  Nothing stands out that was cause any issues
[code]

[2021-11-17 21:29] Poojita-Raj commented on #805
Looking into this.

[2021-11-17 21:31] peternied commented on #1560
### `OpenSearch-1-2-0--982-x64-disable` Investigation notes continued:

Checking the installed plugins
[code]

Disabling observability for testing as its new for 1.2.0
[code]

Will kick off tests against this instance as well

[2021-11-17 21:35] anasalkouz commented on #803
Hi @itiyamas, I am closing the issue for now, since there is no clear steps to reproduce it. Feel free to re-open if you have more details to add.

[2021-11-17 21:36] anasalkouz commented on #977
Seem the fix already merged. closing the ticket. please feel free to re-open if needed.

[2021-11-17 21:36] #977 closed

[2021-11-17 21:42] anasalkouz commented on #1280
Closing this issue, since the recommendation to do the contribution to Apache Commons Codec. Feel free to reopen the issue if needed

[2021-11-17 21:42] #1280 closed

[2021-11-17 21:43] bluepeter opened #1574 "Can we use Cognito on a ECS-hosted OpenSearch Dashboard (vs AWS OpenSearch) with an AWS OpenSearch Service backend?"
- We are using AWS OpenSearch Service for OS hosting
- We wish to use a customized OS Dashboard hosted on ECS/Docker (versus the one hosted on AWS OpenSearch Service)
- We have configured the OpenID plugin to Cognito and it is logging in and redirecting back with an auth code, but we get the following:

Is it possible to do this? Any pointers? (Or other spots where we can discuss this?)

[2021-11-17 21:48] peternied commented on #1560
Additional data from our internal service:

While default query / distance_amount_agg were marginally impacted, index too a bigger hit and range, autohisto_agg, date_histogram_agg were double or worse

### OpenSearch 1.1, test run `b61240fa-52f6-4dd9-819c-4ac432f69b6a`
<html>
<body>

Operation Type | P50 | P90 | P99 | P100
-- | -- | -- | -- | --
default | 51.149 | 54.791 | 57.001 | 57.167
distance

[2021-11-17 22:56] CEHENKLE commented on #1278
Hey @quangmaubach !  I'm sorry for the delay in responding.  Yeah!  I think this sounds really interesting  :)

To make sure I understand -- are you thinking about implementing this as a plug-in, or adding it to Core (I think the latter, but I want to confirm).  If you're thinking about it as an extension to core, then yes. it will get into our managed service when they pick up the open source ver

[2021-11-17 23:04] peternied commented on #1560
After deploying the min instances, they needed to be manually started, that has been done.

[2021-11-17 23:05] andrross commented on #1536
I'll note that I'm very new to these features, but the issue is tagged with the "discuss" label so I'd figure I'd share my thoughts :)

Given that the stated goal of Shard Idle is to "automatically optimize bulk indexing in the default case when no searches are performed" then it seems like the root of the problem here is that the node made the decision to transition its shards to "search idle" ba

[2021-11-17 23:28] peternied commented on #1560
Started up the `percolator` test case to get data more quickly against these four configurations: 1.1.0-min, 1.2.0-min, 1.2.0-No obserability, 1.2.0-plain

[code]

[2021-11-17 23:31] peternied commented on #1560
While waiting for results, saw a difference between the number of Queued tasks

### OpenSearch 1.2.0 - Queued task are not rising above 20
![image](https://user-images.githubusercontent.com/2754967/142298866-a2d0b852-2fc8-42f0-95fe-9f5eefe4b09d.png)

### OpenSearch 1.1.0 - Queued task are not rising above 140
![image](https://user-images.githubusercontent.com/2754967/142298902-5c6ade3b-3811-4cf1-9

[2021-11-17 23:36] nknize commented on #1536
Hmm.. this would need to be added to the coordinating node logic.

 It would be interesting to add something like `lastSearchRequestNodeTime` to the routing table and when computing ARS send a "ping" to all nodes pending idle transition nodes if `lastSearchRequestTime - lastSearchRequestNodeTime` is between some time window (e.g., < 30s > 15s). Of course this adds overhead when recommending an exp

[2021-11-17 23:59] mch2 commented on #1560
[code]

[2021-11-18 01:25] opensearch-ci-bot opened #1576 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1121 in gradle_check log for more information.

[2021-11-18 01:55] peternied commented on #1560
Details on how queries that regressed are executed, using [nyc_taxis](https://github.com/elastic/rally-tracks/tree/master/nyc_taxis) dataset executed by [ESRally client](https://github.com/elastic/rally).

Range query from 1.1 vs 1.2 showed >100% increase in latency (https://github.com/opensearch-project/OpenSearch/issues/1560#issuecomment-972099825)

Operation info from the test
[code]
[From](htt

[2021-11-18 02:12] malpani commented on #1526
Summarizing the review of https://github.com/opensearch-project/OpenSearch/pull/1527 with @reta and @nknize
1. Push back on making this a dynamic setting as it would provide users an easy way out to raise this limit instead of relooking at their query.
2. A query utilizing large number of clauses will cause interference with well behaved queries
3. If making dynamic, folks felt it should be expose

[2021-11-18 02:55] mch2 commented on #1560
The percolator results are inconclusive.  We are going to run additional tests overnight with the nyc_taxis dataset and the same configurations.

[code]

The regression appears for both architectures (arm/x64) and with/without security enabled, so for these tests we will pick a configuration with security enabled and use x64.

We are also going to run against older builds of 1.2 between Sept 14th

[2021-11-18 05:25] brightsup opened #1577 "aws.amazon.com OpenSearch Resource - Product Brief Outdates and Article Links 404"
**Describe the bug**
Broken article links and old product brief on OpenSearch Resource page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Amazon OpenSearch Service (successor to Amazon Elasticsearch Service)](https://aws.amazon.com/opensearch-service/resources/?whats-new-ess.sort-by=item.additionalFields.postDateTime&whats-new-ess.sort-order=desc)
2. Scroll to ...

- Documentation -

[2021-11-18 06:53] skkosuri-amzn commented on #1560
I compared 1.1 and 1.2 performance runs and on queries being slow on 1.2:  performance test created `nyc-taxis`  index with 5 shards on 1.1 and with 1 shard on 1.2 test runs respectively. This index has ~165millon docs. So on 1.1 with 5 shards (4.5 GB each) the query ran faster than 1.2 with single (23GB) shard. We need to rerun the 1.2 performance test with 5 shards and compare again.

[2021-11-18 09:57] warrickhill opened #1578 "Ingest remove processor to support wildcards and excludes"
**Is your feature request related to a problem? Please describe.**
When receiving a doc to index it could contain fields I do not wish it index / store. Ingest pipelines have the handy "remove" processor however you must know the name of the field you want removed, wildcards do not work.

**Describe the solution you'd like**
I would like the ingest "remove" processor to support wildcards and exclu

[2021-11-18 10:21] manodupont opened #1579 "[BUG] Docker stack not running correctly when mounting config folder"
I am trying to launch a stack with docker :
This is the docker-compose.yml

[code]

As soon as you launch that, you get this error

[code]

Any idea would be very helpful.

If you want to reproduce you will need to have the certs installed etc ...., just follow the steps in there : https://github.com/flavienbwk/opensearch-docker-compose

which is using the exact same docker-compose as I posted her

[2021-11-18 13:42] reta commented on #624
@Bukhtawar I think this is related, https://github.com/elastic/elasticsearch/issues/75334, right?

[2021-11-18 15:38] unhipzippo commented on #768
Haven't checked how this might have been enabled in earlier incarnations of the software (e.g. OpenDistro, Elasticsearch), but if you check the history, this particular block was only added to OpenSearch 2 months ago.

[2021-11-18 16:36] Bukhtawar commented on #624
Looks similar to me @reta

[2021-11-18 16:59] peternied commented on #1560
While the test methodology is slightly different, here is a comparison between 1.1 (one shard) vs the original results from 1.2 (one shard).

range, autohisto_agg, date_histogram_agg are all significantly closer, +100% variance has dialed down to +-2% for P50 latencies.

indexing latency is heavily skewed biased towards the 1.1 results

## OpenSearch 1.1 x64 with security - 564636b0-30b1-4318-b63f

[2021-11-18 17:16] choudharydivyanshu777 opened #1580 "Metricbeat Connection issue with Opensearch - Version mismatch"
I am trying to ship Metrics using Metricbeat to opensearch in an openshift platform  but facing issue in connection of metricbeat with opensearch.
I deployed metricbeat using following manifest:
[code]
But getting following repeated errors in metricbeat pod, it searches for template then gets template and again same cycle repeats in logs of pod.
[code]
Strange thing is version of elasticsearch is

[2021-11-18 18:38] #1551 closed

[2021-11-18 18:45] rawpixel-vincent opened #1583 "[BUG] 429 too many requests"
**Describe the bug**
we're using the aws hosted opensearch service, for about 10 days from now we started to get 429 too many requests response from the elasticsearch api (fwict only from search endpoint) - it happened even we haven't seen any increase in the number of requests - we have been working since then to reduce the number of requests - the search request queued is steady at 0 with eventu

[2021-11-18 19:17] rawpixel-vincent commented on #1583
I'm sorry there is no step to reproduce, but I'm facing that issue while there is no obvious reason I should, so hopefully someone who knows what is going on can give me some insight

[2021-11-18 19:25] peternied commented on #1560
In order to have a basis of comparison for 1.1 and rule out test configuration differences, I've triggered 4 new tests against the OpenSearch 1.1, the should be complete in ~8 hours
- efe7ef60-4a6c-498e-a50e-78da62adaf0a OpenSearch-1-1-0--RC-x64-disable
- 50243fa9-f4e6-4886-9cd8-5201e8b3852d OpenSearch-1-1-0--RC-x64-enable
- d6bc9610-2c1e-474e-80e4-44f3820a461b OpenSearch-1-1-0--RC-arm64-disable
-

[2021-11-18 20:42] Poojita-Raj commented on #1567
Also found in #1584

[2021-11-18 20:55] elfisher commented on #1018
@dblock and @nknize is this in Lucene already? I couldn't tell from the Lucene docs. If it isn't should it be contributed there and then pulled into OpenSearch? Seems like it could add value in Lucene too.

[2021-11-18 21:10] aw-was-here commented on #1108
FWIW, under OpenDistro 1.13.2:

* single node -> no spam
* 3-node master+1 node kibana -> 5 messages every 30 seconds on every ES node

I was planning on doing 1.11.0 (what we currently have deployed) -> 1.13.2 (wait 2 weeks) -> OpenSearch 1.x.x but this log spam is going to make it nearly impossible.  Is there anything we can do to shut it up?

[2021-11-18 22:55] VachaShah commented on #1554
Completed using #1571

[2021-11-18 22:56] VachaShah commented on #1552
Completed using #1571

[2021-11-18 22:56] #1552 closed

[2021-11-18 22:56] #1554 closed

[2021-11-19 00:31] nknize commented on #1560
Some quick observations:

In [IndexingPressureService.java#L29](https://github.com/opensearch-project/OpenSearch/blob/1.2/server/src/main/java/org/opensearch/index/IndexingPressureService.java#L29):
[code]
This is called from [TransportBulkAction.java#L215](https://github.com/opensearch-project/OpenSearch/blob/c459282fd67ddb17dcc545ec9bcdc805880bcbec/server/src/main/java/org/opensearch/action/bulk

[2021-11-19 00:34] Poojita-Raj opened #1585 "[BUG] OpenSearchLoggerUsageTests not updated to reflect log4j2 functionality"
**Describe the bug**
In OpenSearchLoggerUsageTests, the expected behaviour of the logger in certain tests is incorrect. Specifically for checkFailOrderOfExceptionArgument tests, which should pass.

**To Reproduce**
<img width="558" alt="image" src="https://user-images.githubusercontent.com/20815824/142516681-d7981ae9-e69f-48cb-b145-3ee88ccc3bbb.png">
The above line results in a failure as shown be

[2021-11-19 00:51] andrross commented on #1585
The following code produces the expected result of the substituting the parameter in the format string while still printing the exception stack trace:

[code]

[code]

The checks done by `OpenSearchLoggerUsageChecker` force developers to write the above log statement with a more verbose syntax:

[code]

I think we should relax the checks done by OpenSearchLoggerUsageChecker unless there's a good r

[2021-11-19 01:00] opensearch-ci-bot opened #1586 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1139 in gradle_check log for more information.

[2021-11-19 02:18] rishabhmaurya opened #1588 "Jigsaw integration"
# Jigsaw integration OpenSearch

[RFC: Modularization in OpenSearch](https://quip-amazon.com/4KCYAPfSHwkP) gives some background on why we should consider modularizing OpenSearch codebase.
**This proposal addresses following problems related to OpenSearch codebase and its plugins framework -**

1. Strong encapsulation: the server module in OpenSearch is weakly encapsulated and all packages are exp

[2021-11-19 04:09] mch2 commented on #1560
I ran the stackoverflow dataset against a single node for 1.2 min and 1.2 min [without ShardIndexingPressure](https://github.com/nknize/OpenSearch/tree/performance/1.2-regression).  Each of these ran 2 warmup iterations and 3 test iterations.

These are the high level results.

There is a ~20% drop in p50, p90, and p99 index latency with ShardIndexingPressure removed.  There is also a 23% drop in

[2021-11-19 04:33] getsaurabh02 commented on #1560
Hi @nknize, Thank you for sharing this detail. However the atomic reference updates what is being discussed above exists even in version 1.1 and are executed by default. This came in along with the [Indexing Pressure](https://github.com/opensearch-project/OpenSearch/blob/1.1/server/src/main/java/org/opensearch/index/IndexingPressure.java#L89) changes for all [bulk indexing operations](https://gith

[2021-11-19 05:00] peternied commented on #1560
Here are measurements back for the entire test matrix between 1.1 and 1.2 with the full distribution.

#### Query Latency
I confidently say that the previous comparisons around query latency were overblown, while there is drift in performance, single shard vs multi-shard had a dramatic impact and the numbers are +-20% Clearest confidence indicates that these test should be run with a 5 shard setup

[2021-11-19 06:46] nknize commented on #1560
Ah! Thanks for clarifying that @getsaurabh02 and that logic consistency makes sense (javadocs would help make this more clear).

Based on the latest [benchmarking above](https://github.com/opensearch-project/OpenSearch/issues/1560#issuecomment-973717864) we need to dig further into the source of the added indexing overhead. Those benchmarks w/ the [PR revert](https://github.com/opensearch-project/

[2021-11-19 08:40] getsaurabh02 commented on #1560
Hi @nknize I think having a nightly CI which could benchmark and compare the results with previous build should be a way to detect any regressions in general. Since we had incrementally pushed out the changes in the feature/1.x branch, we would have detected any such think much ahead in time, even before the backport to 1.2 branch.

For ``bulkShardRequest.ramBytesUsed()`` while I understand the co

[2021-11-19 10:43] Bukhtawar commented on #1560
Can we run a JMH benchmark test for https://github.com/opensearch-project/OpenSearch/blob/c459282fd67ddb17dcc545ec9bcdc805880bcbec/server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java#L212 with and without the SIP settings on

[2021-11-19 12:25] pgtgrly opened #1590 "OpenSearch Smithy IDL Model - RFC"
**Is your feature request related to a problem? Please describe.**
Currently OpenSearch only provides partial definitions for the available OpenSearch APIs in https://github.com/opensearch-project/OpenSearch/tree/main/rest-api-spec/src/main/resources/rest-api-spec/api. These APIs are defined here as JSON documents and describes only the URL path for the operation and the Query parameters that it a

[2021-11-19 15:09] chenwei182729 opened #1591 "[BUG] NoSuchMethodError: java.nio.file.Path.of(Ljava/lang/String;[Ljava/lang/String;) on Java 1.8"
There are something wrong when i run openseach on jvm 1.8

1. jvm

[code]
2. os

[code]
3. openstack version
`opensearch-1.1.0-linux-x64.tar.gz`
4. error info

[code]

[2021-11-19 15:09] dblock commented on #404
I am pretty sure we haven't. Do you know where this is and how it's used @saratvemulapalli?

[2021-11-19 15:25] dblock commented on #1108
I don't know about workarounds, but possibly there's a way to disable the logger in log4j configuration?

@VachaShah is working on a solution in https://github.com/opensearch-project/OpenSearch/pull/1537

[2021-11-19 15:29] dblock commented on #1588
This is pretty ambitious and would be a significant improvement to the codebase, so I 👍 .

[2021-11-19 15:31] getsaurabh02 commented on #1560
We (myself and @mch2) ran the Rally Tests again today, to compare the 1.2 changes with and without the shard indexing pressure commit. This was done using the same branch and just isolating one ShardIndexingPressure commit.

Since the previous tests were done against different distributions, it was not equivalent setup. Here numbers are pretty much similar, and definitely not alarming as called ou

[2021-11-19 15:34] dblock commented on #1590
Do we have instances of such?

[2021-11-19 15:35] dblock commented on #1590
I like the proposal and I think you should PR it. It looks like there are no downsides except that we all have to learn to author a different spec?

The change in OpenSearch would imply the same change in plugins as we want to publish a combined API spec for the entire distribution. See https://github.com/opensearch-project/opensearch-build/issues/702. Does this make it easier/harder/different?

[2021-11-19 15:40] dblock commented on #1560
Specifically, what distributions did we run this against the first time? Sounds like there was a distribution that was 20% better?

[2021-11-19 15:45] getsaurabh02 commented on #1560
@dblock What I understood in the previous setup from @mch2 which reported 20% degradation, one test setup was run from the checking out the local branch and building the distribution locally after reverting the commit, while other was downloaded from the archived directly.

So this time we used the same setup branch was checkout locally for both the tests, while one had the commit reverted.

[2021-11-19 16:35] saratvemulapalli commented on #404
Yup, looks like its not.
Ref: https://github.com/opensearch-project/OpenSearch/blob/main/modules/ingest-geoip/build.gradle#L48

[2021-11-19 16:42] will3942 commented on #1583
We are seeing the same with the same graphs and no change in the number of requests on a cluster with 1 x m6g.large.search node.

<img width="1241" alt="Screenshot 2021-11-19 at 08 40 25" src="https://user-images.githubusercontent.com/1151860/142659403-f924f7c1-1e2b-4e72-9059-4ecb474ecac1.png">

[2021-11-19 17:46] nknize commented on #1560
So we can verify using the official build process (matching jdks, etc) we're going to run the benchmarks again but with the CI built tarballs instead of local checkouts.

[2021-11-19 20:43] zelinh opened #1593 "[BUG] New Mend (formerly Whitesource) integration is not working correctly - autoclosed"
**Describe the bug**

We previous installed a WhiteSource Github app for CVEs scan. However, it doesn't work correctly at this time. We just get informed from WhiteSource support that they are using Java 8 for their integration with Github.com. Although we currently began to support Java 11, it would still cause the gradle resolution failed.

**To Reproduce**
N/A

**Expected behavior**
A clear and

[2021-11-19 23:01] vamshin commented on #1532
@shashank-sachan we do not own the elasticsearch-js client. We would recommend migrate to opensearch-js client

[2021-11-19 23:42] peternied commented on #1560
Following up on where we are at with the Overall 1.1 vs 1.2 comparisons,  we have the additional run data with 5 shards instead of 1 shard from the performance test.  This netted a large reduction in ALL latency numbers, how we shard can have dramatic impacts on performance.

### Indexing Latency P90 milliseconds
Shard Count | 1 | 5
-------------- | - | -
x64 Disabled | 3221 |  734.9
arm64 Disable

[2021-11-20 03:29] peternied commented on #1560
OpenSearch 1.2 Indexing Backpressure Removed vs Normal Distribution

Looking over these results, they are within in the 5% error percentage, no 20% outliers.  This aligns with the earlier findings indicating that Indexing Backpressure presence does **not** have an impact on the overall performance. 🍾  @getsaurabh02 @nknize

### Indexing Latency milliseconds delta
|               | P50  | P90  | P9

[2021-11-20 03:58] shashank-sachan commented on #1532
@vamshin I’m not reporting issue on elasticsearch-js. I’m reporting issue with opensearch-js only.
If you see original issue where I have mentioned in case of high load, there is an issue with opensearch-js.

[2021-11-20 04:29] kavilla commented on #1532
Hi @shashank-sachan! I think one thing to note is that the opensearch-js client was forked from the new client where you the elasticsearch-js client you are referencing is the deprecated client. Perhaps there is an optimization somewhere in the deprecated version or there is a missing header or a leak in a new client.

Would you be able to check if the non-deprecated client works as well under a h

[2021-11-20 05:07] nknize commented on #1560
Excellent news @peternied!!!

So to summarize, the initial reported 20% indexing degradation was the result of a difference in the benchmarking configuration between the 1.1 and 1.2 build? The initial issue above indicates the 1.2.0 distro was built from CI. Were we comparing that distro build against a 1.1.0 built from a local branch checkout? Thereby leading to different jvm and machine configs?

[2021-11-20 09:06] Bukhtawar commented on #1585
The support for exception parameterization(as the last one) was added in http://www.slf4j.org/faq.html#paramException. I think the checker needs to be reflective of this support

[2021-11-20 13:22] peternied commented on #1560
Yes, with a slight correction, it was between a 1.2 min built by our CI vs a local build of `performance/1.2-regression` branch.

[2021-11-22 03:03] radove commented on #1583
We experienced the same issue. I ended up increasing the hardware specs for now and it reduced the issue. I wish I didn't have to as we're trying to be budget friendly.  AWS talks about it at this link: https://aws.amazon.com/premiumsupport/knowledge-center/opensearch-resolve-429-error/

[2021-11-22 03:18] rawpixel-vincent commented on #1583
something changed because of opensearch, with the same metrics and instances, we never had that issue before

[2021-11-22 05:31] GaneshJayaram97 opened #1597 "Master Eligible Node didn't rejoin after ES cluster rolling restart"
**Elasticsearch version **

**JVM version (java -version)**

OpenJDK Runtime Environment 18.9 (build 11.0.12+7-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.12+7-LTS, mixed mode, sharing)

**ES Cluster Topology**

2 Data Nodes

**Describe the bug**
       We formed a cluster with 5 nodes and while performing a rolling restart observed that previous master node (before rolling restart) is not rejo

[2021-11-22 06:06] pgtgrly commented on #1590
Yup, One such [example in the PoC](https://github.com/pgtgrly/OpenSearch/blob/smithy-specification/smithy-specification/model/_global/search/search.smithy#L171) would be the search within Search API, we noticed that the several parameter can be passed as both query parameter and within the body.

Will get back to you regarding the second part

[2021-11-22 08:05] vivainio opened #1598 "Needed: easy way to setup service as plain HTTP (for development)"
I would like to set up OpenSearch container image in development environments using plain HTTP.

This does not work out of the box, as the service defaults to HTTPS and crashes when plain old HTTP connection is attempted.

**Describe the solution you'd like**

In docker-compose.yml, I would like to be able to say "security.usehttp=true" or somesuch, and things should just work.

**Describe alterna

[2021-11-22 10:55] IMS94 commented on #1598
Similar concern is discussed in #1393

[2021-11-22 18:02] mch2 commented on #1317
I don't have permission to update this issue to click those boxes.  Everything under the Release section has been completed.

[2021-11-22 18:12] andrross opened #1599 "[RFC] Pluggable Storage / Warm Tier"
Propose a change to implement tiered storage (e.g. Ultrawarm) on top of a pluggable object store architecture.

[2021-11-22 18:43] CEHENKLE commented on #1560
<html>
<body>
In the 1.2 build of OpenSearch we are seeing a reproducible performance impact from the <a href="https://github.com/opensearch-project/OpenSearch/commit/11237da62fc8020b643d9f9d004a3e9de77a2f16">backpressure indexing feature</a> of ~2-3%.  I believe given the benefit of the feature this is an acceptable trade-off and we should release 1.2, but we should continue to<a href="https://gi

[2021-11-22 19:27] CEHENKLE commented on #1132
@imRishN  I've resolved this issue, but please feel free to re-open it and provide more information.

[2021-11-22 19:27] #1132 closed

[2021-11-22 20:20] reta commented on #1599
I think there are too many issues on the subject, see please https://github.com/opensearch-project/OpenSearch/issues/1059, https://github.com/opensearch-project/OpenSearch/issues/740, https://github.com/opensearch-project/OpenSearch/issues/1052 :-)

[2021-11-22 21:48] setiah commented on #1598
@vivainio you can disable security (hence HTTPS) via docker environment variables when running docker by setting `plugins.security.disabled=true`. Running the below command worked for me on Mac, (haven't tried windows). It automatically pulled the docker image and spinned up a cluster with http access.

Reference: How to disable security - https://opensearch.org/docs/latest/security-plugin/configu

[2021-11-22 22:03] meghasaik commented on #520
I will look into this.

[2021-11-22 22:36] CEHENKLE commented on #1120
Thanks @anasalkouz ....more details would be very useful in this case!  More details about the problem you're trying to fix in particular would be good :)

Thanks again,
/C

[2021-11-22 22:37] CEHENKLE commented on #1304
@rramachand21  Any further thoughts on this?   Thanks!

/C

[2021-11-23 01:55] meghasaik commented on #520
Hi @Bukhtawar, Can you elaborate on more steps to reproduce this?

[2021-11-23 09:29] scratchings commented on #768
I believe this is the same as issue  #1579

[2021-11-23 09:32] scratchings commented on #1579
This causes the same issue for swarm mode in Docker where opensearch.yml is mounted as a 'config' and thus is read-only. #1579 is the same problem.
The sed command attempts to modify the stock opensearch.yml to reflect features requested by environment variables. This is not appropriate (or in these cases is not possible) when someone has specified a custom opensearch.yml file.

[2021-11-23 13:08] robinboening commented on #768
Thanks for the investigation. It makes a lot of sense to me now.

I just jumped the gun and created a PR, avoiding the `-i` option and using `tee` instead: https://github.com/opensearch-project/opensearch-build/pull/1130

[2021-11-23 13:13] SebastianGode opened #1605 "API-Key generation API is missing"
**Is your feature request related to a problem? Please describe.**
Instead of using normal user+password authentication I would like to have an never expiring API key as Elasticsearch also offers.
https://www.elastic.co/guide/en/elasticsearch/reference/7.16/security-api-create-api-key.html
Currently I have not found any way to generate such a key as the security plugin does not have such an option

[2021-11-23 13:32] gijs007 commented on #768
It might be worth looking at an application called homeassistant, to see how they handle this. I have a Docker container running homeassistant, which exposes a configuration.yaml file, which can be edited from outside the container.

[2021-11-23 18:17] tlfeng commented on #472
Hi all,

We proposed to use "ClusterManager" as the replacement to the node role "master", after hearing opinions from PR #564.

"leader" is a concise name, but the responsibilities of the "master" node are not well represented in that.
Although “ClusterCoordinator” describes the responsibilities of the "master" node, which is explained by @muralikpbhat in https://github.com/opensearch-project/Ope

[2021-11-23 18:44] andrross commented on #1599
Closing this issue as it's a duplicate and not helpful :)

[2021-11-23 18:44] #1599 closed

[2021-11-23 19:04] jamshid commented on #472
All for inclusive language and retiring dated computer terms like master and slave, even though it is a bit [ironic](https://www.huffingtonpost.co.uk/amp/entry/amazon-staff-investigation_n_4335894/) here.
But I'm worried this going to be one of the ways that elasticsearch and the opensearch fork diverge, become incompatible? I guess that's not a concern of the OpenSearch team?

[2021-11-23 19:05] sharp-pixel commented on #472
Hi, I will start working on proposed changes. Thanks for constructive input!

[2021-11-23 19:37] reta commented on #1246
@dlvenable picking this one up if you don't mind

[2021-11-23 19:47] anasalkouz commented on #1597
Is this reproducible with OpenSearch? are you trying to upgrade to OpenSearch and which version?

[2021-11-23 19:59] zelinh commented on #1593
WhiteSource integration can't scan all libraries comprehensively currently. @bbarani and I are reaching out to WhiteSource support separately for this same issue. However, we got different respond from them. Barani was told that the issue is because of an unsupported Gradle version v6.6.1 which is necessary for our project build, while I was told it's related to java version. We are keeping contac

[2021-11-23 20:04] anasalkouz commented on #1591
Track if we are missed running tests for plugins in Java 1.8

[2021-11-23 20:25] mch2 commented on #1317
Created suggestion - https://github.com/opensearch-project/opensearch-build/issues/1140.

[2021-11-23 20:30] anirudha commented on #1591
can you pls add steps to reproduce this issue, thanks

[2021-11-23 20:43] joshuali925 commented on #1591
notebooks is merged into observability, but I'm able to confirm the issue on 1.2 observability. We will look into this, as a workaround could you try running it with `JAVA_HOME= ./bin/opensearch`? This worked for me as it's going to use the JDK bundled in OpenSearch, which is JDK 15

[2021-11-23 21:08] dblock commented on #1133
@rramachand21 are you working on this?

[2021-11-23 21:33] VachaShah commented on #1593
@zelinh One of the recent PRs #1603  had a successful WhiteSource run https://github.com/opensearch-project/OpenSearch/runs/4296697988. Was any fix done for this?

[2021-11-23 21:53] anirudha commented on #1591
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/file/Path.html#of(java.lang.String,java.lang.String...)

is only available in java 11 onwards which is used by many plugins
https://sourcegraph.com/search?q=context:global+repo:github.com/opensearch-project/+%5CbPath%5C.of%5C%28&patternType=regexp

[2021-11-23 22:15] zelinh commented on #1593
WhiteSource integration check on PR passes if there is no new vulnerability introduced in the PR. However, the general CVEs scan with WhiteSource integration in this repo is not working correctly and not showing the right number of libraries. There might be package manager version issue on WhiteSource side. We are escalating this issue with WhiteSource support and waiting for them to help us.

[2021-11-23 22:15] anirudha commented on #1591
https://github.com/opensearch-project/opensearch-plugins/issues/64
pending for java support on plugins

[2021-11-23 22:22] jcgraybill commented on #1591
Looks like affected plugins are reports-scheduler, notebooks, observability - from that list above. (Everything else is test, unreleased, or data-prepper.) Pls create issues and fix in all three for the 1.3 release.

[2021-11-23 22:24] owaiskazi19 commented on #1344
Since we have removed `ReindexFromOldRemoteIT`test file here: https://github.com/opensearch-project/OpenSearch/pull/1359. We will not see this issue anymore.

[2021-11-23 22:24] #1344 closed

[2021-11-23 23:05] saratvemulapalli commented on #1591
@joshuali925 / @anirudha I see notebooks plugin is already being built for 1.8. But we are using it with JDK 14.
Ref: https://github.com/opensearch-project/notifications/blob/main/notifications/build.gradle#L78
(I couldn't find a repo for observability)

Integration tests are being run with JDK 14.
Ref: https://github.com/opensearch-project/notifications/blob/main/.github/workflows/notifications-t

[2021-11-24 02:46] dblock commented on #1591
Let's sort this all out for 1.3, starting with https://github.com/opensearch-project/opensearch-plugins/issues/64 across all plugins.

[2021-11-24 13:52] Bukhtawar commented on #520
You could use one of the the TaskCancellation [integ tests](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/node/tasks/CancellableTasksIT.java#L97) in tandem with a [ScriptedBlockPlugin](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/search/SearchCancell

[2021-11-24 16:19] dblock commented on #1246
Are we going to want to upgrade all plugins? If so after #1609, let's create an issue in https://github.com/opensearch-project/opensearch-plugins/issues similar to https://github.com/opensearch-project/opensearch-plugins/issues/64 and add it to 1.3.0 campaigns?

[2021-11-24 17:18] reta commented on #1246
@dblock yeah, I think we should update all projects to 7.3, I will create the issues shortly, thank you!

[2021-11-24 17:30] dblock commented on #1246
👍  if you want to create sub-issues too, you can do this by following https://github.com/opensearch-project/opensearch-plugins/blob/main/META.md and the .meta collection for Java plugins in https://github.com/opensearch-project/opensearch-plugins/tree/main/plugins

[2021-11-24 17:37] saratvemulapalli commented on #1573
Closing this as its documented in the blog post: https://github.com/opensearch-project/project-website/pull/526

[2021-11-24 17:37] #1573 closed

[2021-11-24 18:49] kartg commented on #992
Change merged

[2021-11-24 18:49] #992 closed

[2021-11-24 18:50] kartg commented on #1499
Looks like all of the related changes are merged. Closing this issue out.

[2021-11-24 18:50] #1499 closed

[2021-11-24 19:00] zelinh commented on #1593
I just got notice from WhiteSource team after their team review, it turned out to be a part of a bigger problem with how they manage versions of all the scanners in WhiteSource integration. They had an epic ticket for this and will keep us updated with the progress.

[2021-11-24 19:00] #1317 closed

[2021-11-24 19:06] Poojita-Raj commented on #1583
Looking into this.

[2021-11-24 19:16] VachaShah commented on #1593
Thank you for the update @zelinh ! Since the WhiteSource is failing and not scanning correctly, can we disable it till we have a fix so that PRs like #1594 are not blocked?

[2021-11-24 19:22] zelinh commented on #1593
I think we can disregard the WhiteSource check for now and keep merging PRs. I don't have access to disable it. Any objections? @bbarani @dblock

[2021-11-24 19:23] kartg commented on #1317
Post mortem will be performed once folks are back from Thanksgiving break.
Release tag - https://github.com/opensearch-project/OpenSearch/releases/tag/1.2.0

[2021-11-24 19:27] anasalkouz commented on #1133
Thanks for putting up this proposal. Downside of this feature, clients will start taking the easy path and use schema on reads even for fields that are being used frequently. we should think of some field usage and guardrails to avoid abusing the feature.
Could you explain more about the usage of those fields? for example, can I use those fields in the aggregation. does the field searchable? or th

[2021-11-24 20:14] namrataa-p commented on #1598
@vivainio I had similar requirements and following docker-compose.yml worked for me on Windows.
[code]

Found the `DISABLE_INSTALL_DEMO_CONFIG, DISABLE_SECURITY_PLUGIN, DISABLE_SECURITY_DASHBOARDS_PLUGIN` vars from [scenario-2-no-demo-certsconfigs--disable-security-on-both-opensearch-and-opensearch-dashboards](https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/README.m

[2021-11-24 22:04] reta opened #1610 "Concurrent Searching: aggregations support"
**Is your feature request related to a problem? Please describe.**
The https://github.com/opensearch-project/OpenSearch/issues/1286 brings experimental support of the concurrent segment search for query phases (regular search). This feature request targets experimental support of the concurrent segment search for aggregations as well.

**Describe the solution you'd like**
The aggregations still re

[2021-11-24 22:12] reta commented on #1246
Sorry @dblock , it is taking me a bit longer to fix all the migration issues, will get to plugins shortly

[2021-11-25 06:23] GaneshJayaram97 commented on #1597
Hi @anasalkouz,

We are using opendistro for elasticsearch and we will be moving to opensearch soon as opendistro has been deprecated in favour of opensearch

Opendistro version :  1.13.0
ES version : 7.10.2

[2021-11-25 08:41] GaneshJayaram97 commented on #1597
Hi @anasalkouz,

The issue is again reproduced in another setup

Attaching the details along with thread and heap dump

[Details](https://www.dropbox.com/sh/lbayrujawdun7cx/AADcWJ-4-gcPhHw4NYYKXqNpa?dl=0)

[2021-11-25 12:38] vivainio commented on #1598
I can confirm that the environment variables (and docker-compose.yml) suggested by @namrataa-p work correctly. This ticket can be closed. I hope that this ticket will show up in google results for the next person having the problem :).

[2021-11-25 13:48] tushar-kharbanda72 commented on #1179
_Got time this week to think more on this. Sharing my high level thoughts about the solution I'm thinking:_

If we want to have E2E tracking of a search requests resource utilisation we have 2 major things to handle:

- Track all memory allocations when search request is executing (Work done on Search ThreadPool across different threads). Should work for all Shard Search phases and Search request

[2021-11-25 13:50] tushar-kharbanda72 commented on #1179
I need to run a performance benchmark to see if it hurts the performance under normal/high load. Will create a patch and should be able to get some results on this by next week.

[2021-11-25 21:18] Aarif1430 opened #1611 "[BUG]"
**Describe the bug**
<html>
<body>

OSError: [Errno 38] Function not implemented. I started seeing this error after upgrading to python3.9.
--
<br class="Apple-interchange-newline">
</body>
</html>
<img width="398" alt="image" src="https://user-images.githubusercontent.com/19341315/143500330-4d4a8acc-9ef8-4cb3-bc6f-f170fddc82ed.png">

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy an

[2021-11-25 22:52] dblock commented on #1246
Seriously, you're doing amazing work.

[2021-11-25 22:53] dblock commented on #1598
Before we close this, shouldn't we publish this somewhere in a repo and/or add to [the documentation](https://github.com/opensearch-project/documentation-website)?

[2021-11-26 11:07] inf17101 opened #1612 "Add new notebooks via API"
**Is your feature request related to a problem? Please describe.**
We want to automate the creation of opensearch notebooks via api requests.
I cannot find any way to do this. We have tried to pull a notebook from opensearch-notebooks index and change existing text and then indexed again the same notebook with a different name. The notebook is created, we can see in the WebUI, but the changes are

[2021-11-26 11:13] inf17101 opened #1613 "Change layout of notebooks"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to change the background color in notebooks. It always uses the background color and design from the selected theme mode (dark mode or white).

**Describe the solution you'd like**
It would be very nice to have a button to change the background color of the notebook.

[2021-11-26 11:16] inf17101 opened #1614 "Add multi column layout to notebooks"
**Is your feature request related to a problem? Please describe.**
Currently, there is no possibility to add multiple columns for paragraphs inside notebooks.
So you only have one row and you can append paragraphs only in one existing column (at the top or bottom).

**Describe the solution you'd like**
It would be great to have the possibility to have a multi column layout in notebooks.
Then you c

[2021-11-27 06:54] namrataa-p commented on #1598
@dblock the `DISABLE_SECURITY_PLUGIN, DISABLE_SECURITY_DASHBOARDS_PLUGIN` environment variables should be part of the documentation at the least.
I would have liked it if this info was present under [docker](https://github.com/opensearch-project/documentation-website/blob/main/_opensearch/install/docker.md)/[docker-security](https://github.com/opensearch-project/documentation-website/blob/main/_op

[2021-11-27 08:50] vivainio commented on #1598
It would be best if these options were in commented out environment blocks in sample docker compose file: https://opensearch.org/docs/latest/opensearch/install/docker/#sample-docker-compose-file

[2021-11-28 00:13] Babas-1 commented on #1598
Yes please! I spent many hours digging for this solution. Please add it to the docker compose file so others do not have to.

[2021-11-28 18:35] gautamkct opened #1615 "Opensearch Webcrawl feature"
Hi Team,

Wondering if opensearch support Web crawling out of box or any plans to inlcude in near future.

Thanks
Gautam Sharma

[2021-11-28 21:40] setiah commented on #1615
It doesn't today, but that's a great feature ask. Having a crawler to automatically pull new content and ingests in an OpenSearch cluster would be very useful for website search use case and compliment https://github.com/opensearch-project/OpenSearch/issues/1219 nicely

[2021-11-29 01:34] AmiStrn commented on #1612
Hi @inf17101
The notebook feature is a plugin. Perhaps add these issues to https://github.com/opensearch-project/dashboards-notebooks
? There are a few you have opened in this repo that may belong there.
This would help get tge relevant people involved:)

[2021-11-29 05:10] GaneshJayaram97 commented on #1597
Hi @anasalkouz,

Any updates on this issue ?

[2021-11-29 07:41] inf17101 commented on #1612
Hi @AmiStrn
Thanks for your reply, I have opened the issues again at the dashboard-notebooks repo, like you have suggested.
I thought it is also suitable here, because API and dashboard features are maybe a core feature not plugin specific.

[2021-11-29 14:45] inf17101 opened #1616 "Saved Objects API as productive feature"
Are you planning to introduce the Saved Objects API as a fixed productive feature or is the Saved Objects API exactly like Elastic since a few versions experimental?

If it is experimental, will it be available always and continuously and eventually be passed over as a productive feature?

We want to import and export changed versions of visualizations and dashboards and for the purpose of automat

[2021-11-29 17:19] yacinelazaar opened #1617 "[BUG] Self signed admin certs not working proper"
Im not quite sure about this one. I have self signed certs for nodes and admin and the opensearch cluster boots fine and show green status.
When i try to restore a snapshot using admin certs i get “Unauthorized”
![image](https://user-images.githubusercontent.com/1111396/143913101-4f64f4a3-dd7c-429d-8c85-a86997d1f223.png)

Yet when I run the security admin tool, the certs are accepted. how come?
![

[2021-11-29 18:08] dblock commented on #1598
yes please, anyone can do it - @vivainio and @Babas-1 too

[2021-11-29 18:26] saratvemulapalli commented on #1617
Thanks for reaching out.
Will move this to our security plugin repository.

[2021-11-29 19:01] setiah opened #1618 "Simplify and secure getting started experience with OpenSearch"
The getting started experience for OpenSearch with the default security enabled distribution is not ideal. Users start with either insecure demo configurations or have to go through a lengthy manual setup process before hitting their first curl request. The client side setup required is sometimes not well documented as well (see opensearch-project/opensearch-js#621 opensearch-project/OpenSearch#13

[2021-11-29 19:34] kartg commented on #1531
PR merged. Closing this issue.

[2021-11-29 19:34] #1531 closed

[2021-11-29 19:34] #1246 closed

[2021-11-29 19:35] dblock commented on #1246
@dlvenable https://github.com/opensearch-project/OpenSearch/pull/1609 was merged to main, please give it a whirl

Thanks @reta!

[2021-11-29 19:36] owaiskazi19 opened #1619 "[META] Build OpenSearch SDK for extensions"
**Is your feature request related to a problem? Please describe.**
Currently plugins are tightly coupled with OpenSearch making it complex to independently ship enhancements. Running plugin as a separate process will uncover advantages like dynamic loading of plugins and OpenSearch cluster not getting affected even if plugin fails.

1. Startup script to run TransportService. https://github.com/ope

[2021-11-29 19:49] #626 closed

[2021-11-29 19:51] reta commented on #1246
Thanks a lot @dblock! I tested it on Widows as well, no issues attributed to Gradle 7 :-)

[2021-11-29 19:52] reta commented on #1246
@dblock you would like to see it in 1.x, right?

[2021-11-29 21:31] anasalkouz commented on #970
Seems this is OpenSearch Dashboard specific issue.

[2021-11-29 21:39] kartg commented on #614
Next steps - look into the use cases where we would force an execution and understand why this is needed. Once we know why a forced-execution is required, we can assess if a solution is possible to the queue-over-limit problem

[2021-11-29 21:47] anasalkouz commented on #614
@Bukhtawar, do you know why forced-execution is required?

[2021-11-29 21:57] anasalkouz commented on #1040
Hi @Bukhtawar, Could you clarify if this is still needed? specially after #1041. Are you looking to run the check more frequently?  Could you elaborate more?

[2021-11-29 22:15] dblock commented on #1246
Yes, that's why I labeled this "backport 1.x" and the newly added bot made a PR all automagically 🥳

[2021-11-29 23:11] peternied commented on #1560
This issue was ultimately determined to be a configuration mismatch between the 1.1.0 and 1.2.0 performance testing setups.  Closing this as we have shipped 1.2.0

[2021-11-29 23:11] #1560 closed

[2021-11-30 00:12] Babas-1 commented on #1598
It might be good to also have logstash in the docker compose file or mention in the documentation how to connect it to the docker image that the compose file initiates.

[2021-11-30 01:36] andrross commented on #618
Can you more clearly define the problem that is solved by reducing the number of segments that are created on low traffic shards? What is the use case that optimization is targeting?

[2021-11-30 01:39] andrross commented on #614
More specifically, the code linked above specifically says "we can not allow a stuffed queue to reject execution here". Allowing a queue to grow unbounded is obviously not good, but why are executions not allowed to be rejected in this case currently?

[2021-11-30 02:15] dlvenable commented on #1246
Thank you for making this change @reta !

@dblock , I tried building Data Prepper on Gradle 7.3 using OpenSearch build-tools 2.0.0-SNAPSHOT. The build succeeded. Data Prepper uses the following Gradle plugins from OpenSearch:
* `opensearch.testclusters`
*  `opensearch.build`
* `opensearch.rest-test`

I tried the `1.3.0-SNAPSHOT` and it failed. Perhaps the backport bot missed the SNAPSHOT build.

[2021-11-30 02:18] reta commented on #1246
@dlvenable thanks a lot for checking, the backport has not been merged just yet, see please https://github.com/opensearch-project/OpenSearch/pull/1623, thank you!

[2021-11-30 07:50] QiAnXinCodeSafe opened #1625 "There is a vulnerability in Apache PDFBox 1.8.16,upgrade recommended"
https://github.com/opensearch-project/OpenSearch/blob/231c29f418f23a8417def56d43b94533d8643c41/plugins/ingest-attachment/build.gradle#L65

CVE-2019-0228 CVE-2021-27807 CVE-2021-31811

Recommended upgrade version：3.0.0-alpha2

[2021-11-30 07:51] QiAnXinCodeSafe opened #1626 "There is a vulnerability in Protocol Buffers 2.5.0,upgrade recommended"
https://github.com/opensearch-project/OpenSearch/blob/231c29f418f23a8417def56d43b94533d8643c41/plugins/repository-hdfs/build.gradle#L70

CVE-2015-5237

Recommended upgrade version：
3.4.0

[2021-11-30 07:53] QiAnXinCodeSafe opened #1627 "There is a vulnerability in RESTEasy 3.0.19.Final,upgrade recommended"
https://github.com/opensearch-project/OpenSearch/blob/231c29f418f23a8417def56d43b94533d8643c41/qa/wildfly/build.gradle#L45

CVE-2017-7561 CVE-2020-14326 CVE-2020-1695 CVE-2018-1051 CVE-2016-6348

Recommended upgrade version：3.11.5.Final

[2021-11-30 09:09] viceice opened #1628 "Publish docker images to ghcr.io"
**Is your feature request related to a problem? Please describe.**
Docker hub has pull limits, ghcr.io not.

**Describe the solution you'd like**
Additionally publish the docker images to ghcr.io.

**Describe alternatives you've considered**
manually re-publish to ghcr

**Additional context**

no

[2021-11-30 13:42] wstejka opened #1629 "Add multi terms aggregation feature"
**Is your feature request related to a problem? Please describe.**

I'd like to have an aggregation feature that lets me sort by a number of a document or a metric aggregation on a composite key and get top N results.
This feature was already implemented in the 7.15 version of Elastic Search.
Here you go link to the documentation:

https://www.elastic.co/guide/en/elasticsearch//reference/master/se

[2021-11-30 18:22] saratvemulapalli opened #1631 "https://github.com/opensearch-project/OpenSearch/issues/1618"

[2021-11-30 18:25] saratvemulapalli opened #1632 "POC for interfaces for new Plugin Service"

[2021-11-30 18:28] setiah opened #1633 "Provide a certificate management tool for opensearch distributions"
Provide a certificate management tool that helps users create self-signed certificates and install them on OpenSearch by configuring all keystore and truststore settings. The idea is to replace install_demo_configurations.sh tool with this tool as self-signed certificates are relatively more secure than demo certs and qualify as better default. It is important that the ease of use is maintained fo

[2021-11-30 19:36] anasalkouz commented on #1612
Closing this issue. Since another issue already opened in dashboard-notebooks repo. Please feel free to reopen if anything required from opensearch core.

[2021-11-30 19:36] #1612 closed

[2021-11-30 20:49] dblock opened #1635 "Document how NOTICE.txt are assembled for every artifact"
**Is your feature request related to a problem? Please describe.**

We are legally required (per [Apache license](https://apache.org/dev/licensing-howto.html)) to (re)publish certain third-party licenses and we do so in NOTICE.txt for OpenSearch and OpenSearch dashboards. We need documentation on how each repo generates such a file, then how these are concatenated during the packaging process so w

[2021-11-30 23:42] dblock commented on #1631
Looks like a fluke :)

[2021-11-30 23:42] #1631 closed

[2021-11-30 23:42] dblock commented on #1612
@anasalkouz Link?

[2021-12-01 01:23] opensearch-ci-bot opened #1636 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1277 in gradle_check log for more information.

[2021-12-01 04:35] tlfeng commented on #1567
The failed test is introduced by commit https://github.com/opensearch-project/OpenSearch/commit/f7e2984248f81b6bd1e0c38a3506af150da996cc

[2021-12-01 08:48] mann2108 opened #1637 "[BUG] Windows build broken"
**Describe the bug**
I am trying to run OpenSearch on my local windows machine, and after running `gradlew.bat run` it's throwing an error.
![image](https://user-images.githubusercontent.com/44433995/144201415-16f3ae8b-bde8-472a-9f9d-0a7cabb9edd5.png)

Also, gradlew.bat check command throwing an error. Please find an attached snapshot for your reference.
![image](https://user-images.githubusercont

[2021-12-01 15:17] dblock commented on #1637
Looks like there are a couple of problems on Windows.

1. A CR/LF mismatch between *nix/windows that causes spotless checks to fail. Care to try running the suggestions above (`./gradlew.bat :benchmarks:spotlessApply`) and PRing the changes?
2. Failure in `:distribution:processOutputs` with igest:geoip. This needs debugging, likely a .tar.gz vs. .zip problem.

We don't run CI regularly on Windows,

[2021-12-01 15:53] rramachand21 commented on #1304
@CEHENKLE updated the overview section

[2021-12-01 18:24] #1542 closed

[2021-12-01 18:24] #1576 closed

[2021-12-01 18:24] #1586 closed

[2021-12-01 18:24] #1636 closed

[2021-12-01 18:38] kartg commented on #1556
Change merged, backport pending. Leaving this issue open until that is complete.

[2021-12-01 19:57] reta commented on #1061
@jkowall @itiyamas @Bukhtawar trying to summarize the discussion points and possible future developments on the subject of metrics / tracing / stats:
1) **Metrics**. The existing OpenSearch stats APIs provide a lot of insights into the internals of the each node and cluster in general. But the stats lack the semantics of rich metric types (fe histograms, ...) so it is difficult to catch outliers.

[2021-12-01 21:09] jmazanec15 opened #1676 "[BUG] Unable to install lang-painless module when testDistribution is set to INTEG_TEST for k-NN"
**What is the bug?**
For k-NN, I am trying to run integ tests on Mac. To do this, I first switched [testDistribution](https://github.com/jmazanec15/k-NN-1/blob/build-on-mac/build.gradle#L205) from ARCHIVE to INTEG_TEST. Otherwise, it cannot find the OpenSearch artifact:
[code]

After making the above switch, it is able to download, but fails with the following error (k-NN has a dependency on lang-

[2021-12-01 21:13] saratvemulapalli opened #1640 "[BUG] Gradle configure registers `destructiveDistroTest.docker` task twice"
**Describe the bug**
Gradle scripts are configuring `destructiveDistroTest.docker` task twice and we see warning with run.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout OpenSearch
2. Run `./gradlew spotlessJavaCheck`

**Expected behavior**
`destructiveDistroTest.docker` should be configured once.

[2021-12-02 00:59] opensearch-ci-bot opened #1641 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1296 in gradle_check log for more information.

[2021-12-02 01:24] opensearch-ci-bot opened #1642 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1297 in gradle_check log for more information.

[2021-12-02 13:20] RobinGoussey opened #1644 "Docker: Keystore resets on restart"
Hi,

I am trying to use s3 backups in opensearch (Docker compose, plain compose, no swarm), for that I need to store properties in the keystore. That all works, but whenever you restart the container the opensearch.keystore is reset, which means the snapshot credentials are gone.

I could mount /usr/share/opensearch/config, although this would mean you have to put all necessary files ready in that

[2021-12-02 15:37] elfisher commented on #1598
Agreed. It would be nice to have an optional compose that includes Logstash, FluentD/Bit, or Data Prepper, etc... Let's track that as a separate request and discuss it further.

[2021-12-02 18:25] owaiskazi19 opened #1646 "POC: Startup script to initialize TransportService"
**Is your feature request related to a problem? Please describe.**
The purpose of this main script is to run the plugin independently and check all the dependencies a native plugins has on OpenSearch. Finding the right set of dependencies will help us to understand if we can pull out plugins from the current tightly coupled architecture.

- [x] Pull OpenSearch dependencies in independent plugin

*

[2021-12-02 19:15] andrross opened #1647 "[BUG] Performance regression in `top_hits` aggregation"
I believe I have isolated a regression in performance of the `top_hits` aggregation between ES 7.9 and ES 7.10.2 (which means the regression is present in OpenSearch 1.0 as well).

**To Reproduce**
I added the following operation to the default `nyc_taxis` track in es rally:

[code]

After populating both a 7.9 and 7.10.2 cluster with the `nyc_taxis` dataset, I then ran a race with the following c

[2021-12-02 19:41] Poojita-Raj commented on #1583
@rawpixel-vincent Hi, could you please state which version of OpenSearch you're using - 1.0, 1.1 or 1.2?

[2021-12-02 19:58] reta commented on #1647
@andrross do you mind to check the return of the `top_hits_agg` for both distributions? I suspect we may run into https://github.com/elastic/elasticsearch/issues/65624, thank you.

[2021-12-02 20:21] rawpixel-vincent commented on #1583
Hi, @Poojita-Raj,
thank you for looking into this,
as stated in the description of the issue we use:

we are stuck with this until https://github.com/opensearch-project/opensearch-js/issues/187 has landed

[2021-12-02 20:56] reta commented on #1640
Interesting, seems to be an old / known issue:

https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/test/DistroTestPlugin.java#L121

[2021-12-02 21:48] Poojita-Raj commented on #1583
Hi @rawpixel-vincent,

Since you're using elasticsearch currently, this is an issue with the AWS OpenSearch Service offering. Please open a ticket against the AWS OpenSearch team. [AWS support](https://console.aws.amazon.com/support/home#/case/create?issueType=technical) is the right place to get the assistance required to resolve this issue.

Hope this helps!

[2021-12-02 23:52] ylwu-amzn opened #1649 "Is it possible to remove "modifyThreadGroup" checking from SecureSM?"
**Is your feature request related to a problem? Please describe.**
We are developing a new ML plugin with Tribuo library. But found the KMeans algorithm can't run due to this exception.

[code]

Have tried adding "modifyThreadGroup" permission in plugin security policy file, doesn't work.

Copy description from https://github.com/oracle/tribuo/issues/158,

Kmeans depends on ForkJoinPool to run the

[2021-12-03 00:07] andrross commented on #1647
I do indeed get different results for the query in question here, so it looks like the referenced bug may be a factor.

[2021-12-03 00:18] saratvemulapalli commented on #1240
[`opensearch.testclusters` gradle plugin](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/testclusters/TestClustersPlugin.java) takes few arguments like: `testDistribution`, `version`, `numberOfNodes` etc.
We should expose another parameter `testDistributionUrl` and feed it to the testclusters plugin -> `OpenSearchCluster.java`-> `OpenSearchN

[2021-12-03 03:15] setiah opened #1650 "Replace `admin:admin` default credentials"
**Is your feature request related to a problem? Please describe.**
The default `admin:admin` credential is too weak and a sure-fire way to get hacked. Though the documentation recommends users to change the default passwords, it can be easily missed. Such weak defaults can be very easily exploited and lead to massive data leaks (remember [Equifax attack](https://www.forbes.com/sites/kateoflahertyu

[2021-12-03 05:31] Bukhtawar commented on #1619
Would be great to see the evaluation of advantages and downsides of running plugins as independent processes. Would this  mean memory commitments in general?

[2021-12-03 05:45] Bukhtawar opened #1651 "Node drops out with OutOfMemoryError for reasons other than the VM having run out of memory"
**Describe the bug**
Node can drop out for OutOfMemory errors other than the VM OutOfMemory like
[code]
This is coming from the implementation limits of StringUTF16.

[code]
https://bugs.openjdk.java.net/browse/JDK-8230744

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Nodes should not drop off the c

[2021-12-03 06:50] rawpixel-vincent commented on #1583
thank you I have a ticket opened in aws support so they can look into that opensearch service bug

[2021-12-03 14:35] reta commented on #1649
@ylwu-amzn I afraid that just dropping some checks from the SecureSM could solve your immediate issue with `modifyThreadGroup` but it is very likely may fail other security checks later on. Probably more robust solutions to explore could be:
1) Supply own `ForkJoinWorkerThreadFactory` (using `java.util.concurrent.ForkJoinPool.common.threadFactory` system property) to use `SecurityManager`'s `Threa

[2021-12-03 17:25] nknize commented on #1147
This can get expensive. I see the objective is to optimize resource consumption :heavy_check_mark: .  I think this is a specialized use case for archival or time based analysis use cases and not the normal search use case so this should be configured through an Index Scoped setting.

Segment replication will heavily change this design as it will push a lot of the PIT burden on the storage layer.

[2021-12-03 17:51] itiyamas commented on #805
There are cases when this issue would go unnoticed over a long period of time due to replica recoveries since these issues could occur in some edge cases and may not occur deterministically. This stat would help with just identifying those issues. Fixing them would involve carefully inspecting why those corruptions happen in the first place.

[2021-12-03 18:00] eirsep commented on #1147
I agree that segment retention is expensive, but this is exactly what scrolls do today.  The resource consumption is being optimised _only in comparison to Scrolls_(i.e. being able to share PIT Id across queries while scrolls create different contexts per scroll).

(Among other things) PIT would be a replacement for scrolls and hence be the pagination solution for Opensearch, which is also an impo

[2021-12-03 18:38] kartg commented on #1583
Closing this out

[2021-12-03 18:38] #1583 closed

[2021-12-03 18:42] saratvemulapalli commented on #1486
Thanks @Bukhtawar @adnapibar , I definitely understand the logical sense of having modules.
But internally modules are just extending/implementing Plugin class/interfaces.

But looks we would still prefer having dedicated code for handling modules.
Thanks for the thoughts!

[2021-12-03 18:42] #1486 closed

[2021-12-03 19:06] anasalkouz opened #1653 "Update github bug template"
Currently, the github issue template has the following section for host/environment details.
**Host/Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 22]

But it lack the details of OpenSearch version, this will help to avoid any confusion and help the engineers to reproduce the issue quickly. Here is an example of issue that cause a lot of confusion bec

[2021-12-03 19:07] ryanbogan commented on #1276
Tests have begun and the results are being compiled.  Metrics being recorded are Latency (ms), Throughput (req/s), and Operation Counts.

[2021-12-03 20:09] nknize commented on #1647
I'm curious about the referenced bug fixes. While they are something we should consider looking at those fixes are related to `nested` documents. But it looks like that doesn't apply to the [nyc_taxi data](https://github.com/elastic/rally-tracks/blob/master/nyc_taxis/index.json)?

[2021-12-03 20:20] reta commented on #1647
@nknize I was just checking the recent changes (and bugfixes) related to aggregation, you may be right, but the difference in  aggregation results returned between these those two runs (as confirmed by @andrross) is exactly what was observed in https://github.com/elastic/elasticsearch/issues/65624

[2021-12-03 20:38] andrross commented on #1647
I think I spoke too soon about the results being wrong. The results are indeed different, but in this case the query is looking for the "top hit" on the `dropoff_datetime` field. In the case producing the difference, the data contains multiple entries with equivalent `dropoff_datetime` values and the different versions of the software end up returning a different document. I don't think that is ne

[2021-12-03 20:52] dblock commented on #1240
@Rishikesh1159 are you still looking into this?

[2021-12-03 21:12] reta commented on #1647
Ah ... thanks @andrross , we probably could just profile this particular aggregation using 7.9 and 7.10 via `curl` or alike, may be something obvious is going to surface right away.

[2021-12-03 21:16] #1637 closed

[2021-12-03 21:17] dblock commented on #1637
@mann2108 This should be now fixed on main.

[2021-12-03 22:29] nknize commented on #1147
:+1:

A storage engine w/ verisoned backups (e.g., S3 buckets w/ versioning) can be used to restore files from backups. I think this along w/ Lucene sequence IDs enables this feature without having to retain as many historic segments. A storage engine w/o versioning (e.g., local NFS, or smb) could possibly use the segment retention logic provided by this feature.

[2021-12-04 09:12] Ashleycho35 opened #1656 "What do I need to w"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-04 12:23] dredwilliams commented on #1650
Agreed -- the inability to change the admin password in particular without wiping the internal user database is a problem.

[2021-12-05 18:56] Rishikesh1159 commented on #1240
@dblock Yes I am working on this.

[2021-12-05 20:09] Craigacp commented on #1649
Tribuo doesn't use the common ForkJoinPool, we use a separate instance, but we also don't expose the construction of that FJP. What would we need to do to make it work with SecureSM?

[2021-12-05 21:04] reta commented on #1649
@Craigacp would you consider the option to keep the construction sealed but make it aware of the presence of the SecurityManager (and use customized ForkJoinWorkerThreadFactory)? I will be more than happy to submit the pull request.

[2021-12-05 21:34] AmiStrn commented on #1650
It seems like this is assuming use of the security plugin. It should be optional to use the security plugin.

I believe this should be mobed to the security plugin repo here - https://github.com/opensearch-project/security

[2021-12-06 01:41] Craigacp commented on #1649
I would like it to work, but I don't want to take a dependency on `SecureSM`. Preferably I'd like Tribuo not to know about `SecurityManager`s at all given they are deprecated for removal in Java 17, but I guess that's unavoidable. According to https://github.com/openjdk/jdk/blob/jdk-17-ga/src/java.base/share/classes/java/util/concurrent/ForkJoinPool.java#L812 the `DefaultForkJoinWorkerThreadFactor

[2021-12-06 01:58] reta commented on #1649
I believe in case of Tribuo, not the `DefaultForkJoinWorkerThreadFactory` but `DefaultCommonPoolForkJoinWorkerThreadFactory` is used, since this constructor is being called https://github.com/openjdk/jdk/blob/jdk-17-ga/src/java.base/share/classes/java/util/concurrent/ForkJoinPool.java#L2595

Correct, that is an idea.

[2021-12-06 02:11] Craigacp commented on #1649
No, we use this constructor https://github.com/openjdk/jdk/blob/jdk-17-ga/src/java.base/share/classes/java/util/concurrent/ForkJoinPool.java#L2397, here https://github.com/oracle/tribuo/blob/main/Clustering/KMeans/src/main/java/org/tribuo/clustering/kmeans/KMeansTrainer.java#L205. So we pull in `DefaultForkJoinWorkerThreadFactory` rather than `DefaultCommonPoolForkJoinWorkerThreadFactory`. We don'

[2021-12-06 03:21] reta commented on #1649
Oh, you are right, the `DefaultForkJoinWorkerThreadFactory` is used, not the `DefaultCommonPoolForkJoinWorkerThreadFactory`, I believe that `DefaultCommonPoolForkJoinWorkerThreadFactory` would actually address the issue right away since the context it creates grants the `modifyThreadGroup` permission. I will try to reproduce the issue and update you shortly.

[2021-12-06 13:32] mann2108 commented on #1637
@dblock Thanks 👍🏼

[2021-12-06 14:06] reta commented on #1246
@dblock could you please add `2.0` label to this issue? Thank you.

[2021-12-06 14:16] eirsep commented on #1147
Ack.
Thanks for elaborating! So, segment replication feature would have to handle how Scrolls would function which is currently doing segment retention (prolly by using versioned backups as you've mentioned). Hence, by extension, PITs will get handled too as PITs are simply re-using that idea.

[2021-12-06 15:54] elfisher commented on #1523
@CEHENKLE could you help move this issue to the Index Management repo?

[2021-12-06 16:58] andrross commented on #1647
I profiled ES7.9 versus OpenSearch 1.2. It looks like OS1.2 is possibly spending more time doing decompression.

![ES7.9](https://user-images.githubusercontent.com/9160839/144888453-1b062b14-62fd-440f-b699-37e51ac8d3e2.jpg)

![OpenSearch 1.2](https://user-images.githubusercontent.com/9160839/144888460-5db20505-febb-4075-ba91-5a42cba6bf2f.jpg)

[2021-12-06 16:59] andrross commented on #1647
Also, I've tested this "top hits" query against ES7.11 and ES7.15 and both appear to exhibit the regressions relative to ES7.9.

[2021-12-06 17:04] reta commented on #1649
@Craigacp I have now clear understanding why this exception happens and why permission checks referred in https://github.com/oracle/tribuo/issues/158 did not help. One of the solution to which seems to work:

[code]

And than we could use a different constructor to supply own `ForkJoinWorkerThreadFactory`, which is essentially needed only for JDK11+ with the presence of the `SecurityManager`.

[co

[2021-12-06 17:21] reta commented on #1647
Interesting, seems to be https://issues.apache.org/jira/browse/LUCENE-9486, ES 7.9 is using Lucene 8.6 whereas 7.10 is on 8.7 where this feature has been delivered.

[2021-12-06 17:26] Craigacp commented on #1649
So the issue is that the FJP pool threads are created with only the "getClassLoader" and "setContextClassLoader" permissions in `DefaultForkJoinWorkerThreadFactory`, and the solution is to run the doPrivileged in the access control context of the Tribuo codebase, rather than the narrower one used by default?

Is there any downside to using that thread factory at all times?

[2021-12-06 17:47] reta commented on #1649
Correct, with the permission granted to the `Tribuo` codebase.

There are slight differences in the context class loader configuration (comparing to default one) which may cause issues in certain deployments. Keeping it is opt-in option would help to fallback to the default FRJ factory.

[2021-12-06 18:07] Craigacp commented on #1649
Hmm. I'm trying out the custom factory and it's not working for me. I get an identical error message to before. I believe my policy file is correct as when I comment out other things in the permissions I'm assigning to the Tribuo clustering jar then I get different error messages from earlier in the code (e.g. creating the provenance by reflectively accessing the host object).

[code]

Any idea wh

[2021-12-06 18:21] andrross commented on #1647
@reta Is there something peculiar about the top hits query that causes the higher fetch times to manifest as significantly slower queries? Why are the other query-focused performance tests not also impacted?

[2021-12-06 18:45] reta commented on #1649
@Craigacp hm, I suspect the policy is not precise, I did that (since `TestKMeans` in test classes), and exception is gone:

[code]

Would you mind to share a brach (or something) so I could replicate the same setup? Thank you.

[2021-12-06 18:50] CEHENKLE commented on #1656
@Ashleycho35 Hi!  It looks like your issue might have gotten cut off while you were writing it.  Can you tell us more about what's going on?  Thanks!

[2021-12-06 18:52] CEHENKLE commented on #1646
Hey @owaiskazi19 !  Can you add a more details to the template?

Thanks!
/C

[2021-12-06 18:57] reta commented on #1647
@andrross very good question but I don't know to be honest, what is interesting is that the aggregation is using global ordinals which kick in particular for `keyword` fields, would you mind to share the complete query snippet behind `top_hits`? thank you.

[2021-12-06 19:13] Craigacp commented on #1649
It's here -  https://github.com/Craigacp/tribuo/tree/kmeans-securesm. You can run it like this:

[code]

after compiling with `mvn clean package`, downloading `opensearch-secure-sm-1.2.0.jar` into the Tribuo folder, and then fixing the paths in `tribuo.policy` to be wherever you check out Tribuo.

[2021-12-06 19:45] juanpi-meli commented on #1059
Hi team! Any update regarding this thread?

[2021-12-06 19:59] reta commented on #1649
@Craigacp ah nailed it, it comes from `SecureSM` protection domain, needs that:

[code]

This is basically the OpenSearch server security policy.

[2021-12-06 20:13] Craigacp commented on #1649
Ah, ok. It's surprisingly difficult to find the OpenSearch security policy file on the internet. Is there a canonical location for it?

WRT the custom FJP factory approach, I think I'd prefer that we have a custom thread factory inside Tribuo rather than exposing a constructor which accepts a FJP or a `ForkJoinWorkerThreadFactory`. If we accepted the factory then we couldn't provenance it, and we

[2021-12-06 20:19] reta commented on #1649
https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/resources/org/opensearch/bootstrap/security.policy

No object, the only advice would be to have a check if the SecurityManager is present or not (since you already depend on it through `AccessController`):

[code]

thank you!

[2021-12-06 20:50] reta commented on #1647
Relevant discussions on mailing lists and tickets:
 - https://lists.archive.carbon60.com/lucene/java-user/442988
 - https://issues.apache.org/jira/browse/LUCENE-9917

[2021-12-06 20:52] Craigacp commented on #1649
Ok, I'll add that check in too.

[2021-12-06 21:18] reta commented on #1276
Interesting findings [1] for Apache Solr deployments (which could be quite relevant to OpenSearch as well), quoting for completeness:

I think benchmarking against GraalVM distributions could be an interesting experiment.

[1] https://twitter.com/karlstoney/status/1456616777325158405

[2021-12-06 21:35] andrross commented on #1647
@reta I've been benchmarking against OpenSearch 1.2, which is using [Lucene 8.10.1](https://github.com/opensearch-project/OpenSearch/blob/1.2.0/buildSrc/version.properties#L2) and it shows comparable performance to all the ES versions greater than 7.9.

Here's the [quick test I'm running](https://gist.github.com/andrross/c9e228ec0636d4cce4ef00352dfd413d) against the 4 versions on my machine (all p

[2021-12-06 21:52] owaiskazi19 commented on #1632
Dependencies on PluginsService for repository-s3 plugin to run independently
[code]

[2021-12-06 22:06] tlfeng commented on #1059
Include @andrross (the author of issue [#1599](https://github.com/opensearch-project/OpenSearch/issues/1599)) for visibility.

[2021-12-06 22:42] ylwu-amzn commented on #1649
Thanks for the quick fix @reta  and @Craigacp ! I planned to try custom thread factory but found Tribuo doesn't expose interface to specify thread factory. That will be perfect as @Craigacp added the custom thread factory in Tribuo. That will unblock our integration for KMeans.

@Craigacp , when/how do you plan to release this patch? A patch version 4.1.1 and included in 4.2.0?

And I think KNN al

[2021-12-06 22:43] dblock opened #1661 "CircuitBreakingException could provide more information to what's actually too large"
**Is your feature request related to a problem? Please describe.**

A cluster was hitting a circuit breaker.

[code]

After doing heap dumps the suspect was

[code]

It seems that number of segments was huge, and maintaining metadata for all those segments was consuming too much memory.

Can the error message just tell us that?

**Describe the solution you'd like**

In this case the error message

[2021-12-06 22:44] ylwu-amzn commented on #1649
Oh, never mind, I see your PR already fixed KNN part. Perfect!

[2021-12-06 22:50] ylwu-amzn commented on #1649
As Tribuo team fixing by adding custom thread factory. We don't need to change OpenSearch SecureSM now. Close this issue.

[2021-12-06 22:50] #1649 closed

[2021-12-07 03:05] setiah commented on #1650
@CEHENKLE I don't have permissions to transfer issues to the security plugin repo. Could you pls do that?

[2021-12-07 08:10] Bukhtawar commented on #1661
I had opened something similar a while back https://github.com/elastic/elasticsearch/issues/58404

[2021-12-07 13:12] jkowall commented on #1061
@reta OpenTracing is deprecated, it should use OpenTelemetry if anything, but yes, I agree that autoinstrumentation is not a good idea and manually adding the code could add overhead depending on where you instrument in the code.

I agree that focusing on Metrics and Stats are a better approach. @AmiStrn was working on this earlier in the project, but we switched to other work when we realized tha

[2021-12-07 17:50] reta commented on #1647
@andrross so the change came with https://github.com/opensearch-project/OpenSearch/commit/31c026f25ccbbc02bb643351338786297a2dff6a where the upgrade to Lucene 8.7.0 happened and basically switched to new compression.

I did experiment and rebuilt OpenSearch 2.0 SNASPHOT with Lucene86Codec, the latencies went back to Elasticsearch 7.9.x levels:

**Elasticsearch 7.9.x**
|Metric|Task|Run #1 |Run #2 |

[2021-12-07 18:45] sharp-pixel opened #1667 "Support for Apple Silicon (arm64) archive distribution build"
**Is your feature request related to a problem? Please describe.**
The archive distributions support x86-64 builds but not arm64.

**Describe the solution you'd like**
Add darwin-arm64-tar and no-jdk-darwin-arm64-tar flavors for the archives distribution.

**Describe alternatives you've considered**
Build darwin-tar and use Rosetta 2

**Additional context**
While building on a MacBook Pro 2021 (M1

[2021-12-07 18:51] saratvemulapalli opened #1669 "Remove Deprecated TransportClient"
**Is your feature request related to a problem? Please describe.**
`TransportClient.java` is deprecated and should be removed and adopt using High Level Rest Client.

https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/client/transport/TransportClient.java

There are a lot of references where TransportClient is used, all of the uses cases should be moved

[2021-12-07 19:04] andrross commented on #1567
@tlfeng Can you easily reproduce the failure?

[2021-12-07 19:29] tlfeng commented on #1567
Hi Andrew, I couldn't. Although decreasing some of the time interval can caused the assertion failed, it's not likely the same case in CI.
[code]

I guess there might be 3 possible causes:
1. The wait time in the assertion statement is not enough for the code `disruptFileSystemProvider.injectIODelay.set(false);` ("Fix file system disruption") processing.
2. The file system somehow is not back to n

[2021-12-07 20:40] peterzhuamazon opened #1670 "Release version 1.1.1"
This is a component issue for release 1.1.1.
Coming from [release issue 1.1.1](https://github.com/opensearch-project/opensearch-build/issues/870), release version 1.1.1. Please follow the following checklist.

<details><summary>How to use this component issue</summary>
<p>

## This Component Issue
This component issue captures the state of the OpenSearch release, on component/plugin level, its ass

[2021-12-07 20:40] peterzhuamazon opened #1671 "Release version 1.1.1"
This is a component issue for release 1.1.1.
Coming from [release issue 1.1.1](https://github.com/opensearch-project/opensearch-build/issues/870), release version 1.1.1. Please follow the following checklist.

<details><summary>How to use this component issue</summary>
<p>

## This Component Issue
This component issue captures the state of the OpenSearch release, on component/plugin level, its ass

[2021-12-07 20:41] peterzhuamazon commented on #1671
Duplicated to #1670

[2021-12-07 20:41] #1671 closed

[2021-12-07 20:41] peterzhuamazon opened #1672 "Release version 1.1.1"
This is a component issue for release 1.1.1.
Coming from [release issue 1.1.1](https://github.com/opensearch-project/opensearch-build/issues/870), release version 1.1.1. Please follow the following checklist.

<details><summary>How to use this component issue</summary>
<p>

## This Component Issue
This component issue captures the state of the OpenSearch release, on component/plugin level, its ass

[2021-12-07 20:42] peterzhuamazon commented on #1672
Duplicate to #1670

[2021-12-07 20:42] #1672 closed

[2021-12-07 22:39] adnapibar opened #1674 "Remove LegacyVersion.V_6.x Constants and Deprecated Code in OpenSearch 2.0"
This is a clean up meta issue to track the removal of all `LegacyVersion.V_6.x` constants and code that are deprecated to be removed in OpenSearch 2.0.

- [x] #1658
- [x] #1681
- [x] #1686
- [x] #1691
- [x] #1787
- [x] #1794
- [x] #1804
- [x] #1807
- [x] #1869
- [x] #1216
- [x] #1639
- [ ] Remove copy_settings parameter from split and shrink API
- [x] #1761
- [ ] Remove boost parameter on field ma

[2021-12-08 00:37] codebrain commented on #1065
Lucene 9 was released yesterday.
https://lucene.apache.org/core/corenews.html#apache-lucenetm-900-available

[2021-12-08 00:58] VachaShah opened #1675 "[BUG] Gradle clean failing after a failed gradle check"
**Describe the bug**
I am facing the following error in `./gradlew clean` after a failed gradle check:

[code]

The `./gradlew check` fails with the following error:

[code]

I tried cleaning up docker containers but this issue keeps happening. Not sure if there is some problem with my environment or a bigger issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `./gradlew check` on Ope

[2021-12-08 01:20] saratvemulapalli commented on #1676
@jmazanec15 Modules are only installed for `INTEG_TEST` test distribution.
Ref: https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchNode.java#L725
Manually installing a module will also fail because its not a plugin.

The rootcause of the problem is 1.3.0-SNAPSHOT opensearch min artifact is not available for darwin.
`https:

[2021-12-08 01:40] andrross commented on #1647
Thanks @reta ! I was just working on setting up a similar experiment this morning :)

I'm also not sure what we should be doing here. It looks like there was an intentional decision to increase compression performance that the cost of slower reads in some cases, and for whatever reason this case seems to be particularly bad with the new codec.

[2021-12-08 05:46] tlfeng commented on #1567
Hi @Bukhtawar, do you have any thoughts about the test failure?
It can not be easily reproduced, but it failed several times in the gradle `check` task in our Jenkins CI. The most recent seems on the last Sunday in the daily "gradle check build".

[2021-12-08 09:23] Bukhtawar opened #1677 "Introduce Cluster block to restrict ALL read/write traffic on indices on overload"
**Is your feature request related to a problem? Please describe.**
There isn't an index block today that can restrict ALL read and write traffic on indices, throw `TOO_MANY_REQUESTS` and yet allow resources to be released(index deletes)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise

[2021-12-08 15:56] reta commented on #1647
I think the one thing we could certainly do is to document our findings in the official documentation. The other thing we could do it to benchmark / profile `Lucene87Codec` to understand where this overhead is coming from and why. Also, another option to consider could be to allow tuning of the codec on Opensearch side, not sure how useful it would be in practice. @nknize @dblock do you guys have

[2021-12-08 16:11] saratvemulapalli commented on #1676
Closing this. Feel free to reopen if the comment does not help.

[2021-12-08 16:31] pmarjou22 commented on #1059
Has anyone tried a setup including [s3fs-fuse]( https://github.com/s3fs-fuse/s3fs-fuse) for this ?

[2021-12-08 16:50] xuezhou25 commented on #1396
`java.lang.IllegalStateException*: Cannot cleanup [test-repo] - a snapshot is currently running in [SnapshotsInProgress[test-snap]]`

From my point of view, this failure is because when creating a snapshot, `setWaitForCompletion(false)`
https://github.com/opensearch-project/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/internalClusterTest/java/org/opensearch/snapshots/SharedC

[2021-12-08 17:02] Bukhtawar commented on #1567
Adding more delay here should help I guess, assuming this is the only assertion failing

https://github.com/opensearch-project/OpenSearch/blob/e983facc161e8f0ee0e77ed0c51e0850e31d296d/server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java#L239-L244

[2021-12-08 17:30] andrross commented on #1567
Maybe just increase that 2x multiplier in the `waitUntil` step to 3x or 4x to give the FsHealthService a couple more chances to observe a healthy state?

Also, super minor, but I'd also remove this assertion:

https://github.com/opensearch-project/OpenSearch/blob/e983facc161e8f0ee0e77ed0c51e0850e31d296d/server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java#L239

As long as the t

[2021-12-08 18:01] tlfeng commented on #1675
I also suffered from the `./gradlew clean` failed after `./gradlew check` was interrupted or failed, maybe only a system reboot can recover. 😒 Since then, I tried avoiding using Ctrl+C to terminate the `./gradlew check` process, in case the cleaning up procedure of a test is not triggered. 😅

[2021-12-08 18:20] saratvemulapalli commented on #1674
Just saw this issue, can we also take care of `TransportClient` ?
Here is an issue I opened up yesterday: #1669

[2021-12-08 18:23] tlfeng commented on #1567
Thanks @Bukhtawar and @andrross for providing suggestions on resolving the test failure.

I realized that it's a bit duplicate to have double assertion statements to check the File System health status around the 2 `waitUntil()`. That's a good point 👍 😁

Further, I'm curious is it necessary to have the steps to restore the file system status? Or just a good habit to restore the status after a test

[2021-12-08 18:31] adnapibar commented on #1674
Thanks @saratvemulapalli !

[2021-12-08 18:31] andrross commented on #1567
This is the critical line that must happen after each test invocation:

https://github.com/opensearch-project/OpenSearch/blob/e983facc161e8f0ee0e77ed0c51e0850e31d296d/server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java#L188

The actual disrupted filesystem is an instance local to a single test invocation, so as long as that static teardown method is called to reset the underly

[2021-12-08 18:36] VachaShah commented on #1675
I tried that too, but the `':qa:remote-clusters:clean'` and `':distribution:docker:integTest'` keeps failing for me in the gradle check.

[2021-12-08 18:50] tlfeng commented on #1675
That's so annoying even the problem is not solved after system reboot. 🙁
I think the ultimate solution for the issue should be enhancing those tests so that they can start whatever the current status is. and also don't leave leftover. My comment mainly aims to prove the issue is present, instead of being closed. 😏

[2021-12-08 20:20] nknize opened #1679 "Remove LegacyESVersion.V_6_1_x constants"
In prep for supporting Lucene 9, this issue tracks the removal of the now defunct `LegacyESVersion.V_6_1_*` along w/ all deprecated features associated with this version.

[2021-12-08 20:22] nknize opened #1680 "Remove LegacyESVersion.V_6_1_x constants"
In prep for supporting Lucene 9, this issue tracks the removal of the now defunct LegacyESVersion.V_6_2_x along w/ all deprecated features associated with this version.

[2021-12-08 20:31] VachaShah commented on #1088
Snapshot upgrade tests are present in [`qa/repository-multi-version`](https://github.com/opensearch-project/OpenSearch/tree/main/qa/repository-multi-version) which test snapshot restore between current and backwards compatible versions.

[2021-12-08 20:31] #1088 closed

[2021-12-08 21:14] tlfeng commented on #1653
There is a plan to [Standardize organizational issue templates](https://github.com/opensearch-project/.github/issues/9)
Based on that, it's not recommended to modify the issue template for single repository in the `opensearch-project` organization.
It's better to modify the issue template here https://github.com/opensearch-project/OpenSearch/tree/main/.github/ISSUE_TEMPLATE, and remove the templat

[2021-12-09 00:21] tlfeng opened #1683 "Replace "blacklist/whitelist" terminology in Java APIs"
**Is your feature request related to a problem? Please describe.**
Replace the "blacklist/whitelist" terminology in all Java APIs, including field, method, class, and package names.
The "Java APIs" refers to those packaged in Java libraries and are published to Maven (https://search.maven.org/search?q=g:org.opensearch https://mvnrepository.com/artifact/org.opensearch)

Impact:
All plugins, clients

[2021-12-09 00:23] tlfeng opened #1684 "Replace "master" terminology in Java APIs"
**Is your feature request related to a problem? Please describe.**
Replace the "master" terminology in all Java APIs, including field, method, class, and package names.
The "Java APIs" refers to those packaged in Java libraries and are published to Maven (https://search.maven.org/search?q=g:org.opensearch https://mvnrepository.com/artifact/org.opensearch)

Impact:
All plugins, clients and tools th

[2021-12-09 05:11] #1679 closed

[2021-12-09 05:55] GaneshJayaram97 commented on #1597
Hi @anasalkouz,

Kindly provide any updates

Thanks,
Ganesh

[2021-12-09 13:47] oded-dd commented on #1059
Is there a plan to make UltraWarm part of the community, or should we abandon the project.

What is in opensearch without S3 support?

[2021-12-09 14:05] reta commented on #1675
@VachaShah Sad to admit, but I also see a similar problems from time to time when build fails, the majority of them (for me) are related to the fact that some files are created by `root` user (everything points - Docker to blame), so the cleanup tasks cannot remove or overwrite them. If you still have the problematic build available, could you please share the owners of the files/folders:

[code]

[2021-12-09 15:02] reta opened #1687 "[RFC] Replace Java Security Manager (JSM)"
**Is your feature request related to a problem? Please describe.**
It has been announced a while ago that `SecurityManager` is going to be phased out from the JDK. The first step, the deprecation of the SecurityManager (JEP-411), has been landed in JDK 17 and issues the following warnings on OpenSearch builds or server startup:

[code]

The JDK 18 pushes it even further and now fails on startup (s

[2021-12-09 16:27] dblock commented on #1647
Is there an option to make this configurable at node/cluster level?

Generally, documenting is always a good idea. Other ideas include a blog post that posts the above benchmarks, explains the trade-off and why it was a good one.

[2021-12-09 17:26] nknize opened #1688 "Remove LegacyESVersion.V_6_3_x constants"
In prep for supporting Lucene 9, this issue tracks the removal of the now defunct LegacyESVersion.V_6_3_x along w/ all deprecated features associated with this version.

[2021-12-09 17:56] dblock opened #1689 "Remove support for Java 8"
**Is your feature request related to a problem?**

Because [Lucene 9 requires JDK 11+](https://cwiki.apache.org/confluence/display/LUCENE/Release+Notes+9.0), remove support for Java 8.

Uncomment commented code in https://github.com/opensearch-project/OpenSearch/pull/2321 for killing child processes that uses JDK9+ `ProcessInfo`.

[2021-12-09 17:59] dblock commented on #1687
@nknize suggested we remove security manager in 2.0, labelling issue as such - once we have agreed here on what to do for this issue let's open a campaign parent issue in https://github.com/opensearch-project/opensearch-plugins/

[2021-12-09 18:10] reta commented on #1687
@dblock would you mind if I submit a small patch for 1.3.x so it could be run on JDK 18? Thank you

[2021-12-09 18:33] reta commented on #1647
thanks @dblock

Not at the moment, OpenSearch uses the latest Lucene Codec: https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/codec/CodecService.java#L63

:+1: I think we need a bit of work here on OpenSearch side to match the Apache Lucene findings

[2021-12-09 18:39] #1556 closed

[2021-12-09 18:56] reta commented on #1689
@dblock this is great, I am wondering if we've ever done comprehensive benchmarking for JDK-8 vs JDK-17 for OpenSearch? I think we have all pieces in place to do that now, and it would be awesome to do that in the scope of this issue, wdyt?

[2021-12-09 20:48] VachaShah commented on #1675
@reta I don't have the problematic build available but for me as well, it is the same problem. The build folders created under `root` user and the cleanup is not able to perform any actions on them.

[2021-12-09 20:52] reta commented on #1675
Thanks @VachaShah , I will try to look into it shortly, but for now the workaround I have to use is `sudo` + manual remove :-(  (if it helps)

[2021-12-09 20:58] dblock commented on #1687
I'm A-OK with anything non-breaking on 1.x.

[2021-12-09 20:59] dblock commented on #1689
Benchmarking is being actively worked on in #1276, add comments to that issue.

[2021-12-09 21:31] reta opened #1690 "[BUG] Flaky org.opensearch.search.aggregations.bucket.composite.GeoTileGridValuesSourceBuilderTests.testBWCBounds test"
**Describe the bug**
The flaky `org.opensearch.search.aggregations.bucket.composite.GeoTileGridValuesSourceBuilderTests.testBWCBounds` (recent one) is the culprit of many build failures [1], [2], [3]

[1] https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1415.log
[2] https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_ch

[2021-12-09 22:02] nknize commented on #1687
You mean something like adding support to disable the security manager via `-Djava.security.manager=disable`?  I suspect tests will blow up since the test infrastructure leverages a custom SecurityManger via `SecureSM`. That's going to be more impactful. I'd love some thoughts from @rmuir  or @uschindler on this as they are much closer to the JDK security bits than us.

[2021-12-09 22:25] stockholmux commented on #1111
Is this fixed for the upcoming 1.1.1 release?

[2021-12-10 00:38] rmuir commented on #1687
I think the issue is written up correctly. You'll want to set `-Djava.security.manager=allow` from startup scripts (e.g. `.bat`/`.sh`), and from gradle when running tests? Otherwise `System.setSecurityManager()` will fail.

Lucene uses a custom security manager too, no issues on JDK18. we just initialize it differently than opensearch, right at JVM startup time: `-Djava.security.manager=org.apache

[2021-12-10 01:03] opensearch-ci-bot opened #1693 "[CI] o.o.cluster.ClusterHealthIT.testHealthOnMasterFailover test failure"
@opensearch-project/opensearch-core team, please take a look at Build 1420 in gradle_check log for more information.

[2021-12-10 01:26] rmuir commented on #1687
Separately, as far as alternatives, I can suggest a few things:

1. Keep the [SystemCallFilter](https://github.com/opensearch-project/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/main/java/org/opensearch/bootstrap/SystemCallFilter.java). This is unrelated to security manager and will stop RCE dead in its tracks, as it disables `fork()/exec()` etc completely in an irreversibl

[2021-12-10 01:47] rmuir commented on #1687
Another win for stuff like `ingest-attachment` would be to just run the tika server (separate service/container) and have this plugin call out to it with a REST call. IMO it would be better security for using tika and they provide such a server these days. Then the tika could run in its own stricter separate sandbox.

but that strategy won't work for all the code: There's no one-size/fits-all solu

[2021-12-10 01:48] CEHENKLE opened #1694 "OpenSearch Segment Replication [RFC]"
# RFC - OpenSearch Segment Replication

## Overview

The purpose of this document is to propose a new shard replication strategy (segment replication) and outline its tradeoffs with the existing approach (document replication). This is not a design document; it is a high level proposal to garner feedback from the OpenSearch community.  It is also pertinent to note that the aim of this change is no

[2021-12-10 01:58] kartg commented on #1123
RFC published as #1694

[2021-12-10 13:12] reta commented on #1687
Thank you very much, @rmuir

That is right.

[2021-12-10 14:19] stockholmux commented on #1483
Hey - just noticed that this was on the roadmap for 1.3 yet it's marked "breaking." The body of this issue does describe what's happening but if you just look at the roadmap it's alarming to see "breaking" on a minor release.

Can we remove that tag?

[2021-12-10 14:32] lukas-vlcek commented on #1685
Hi, can you please tell me where do you get this plugin from?
The original plugin that is located here https://github.com/vvanholl/elasticsearch-prometheus-exporter requires Elasticsearch. Are you using any fork of this plugin? Can you point me to it?

[2021-12-10 16:00] owaiskazi19 opened #1695 "POC: Integrate SQL plugin with SDK"
**Is your feature request related to a problem? Please describe.**
- [x] Interface with SDK
- [x] Dependencies on PluginsService for SQL plugin to run independently
[code]
- [x] Integrate plugin extensions with SDK

Need to remove the above mentioned to run repository-s3 as an independent process.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**

[2021-12-10 16:54] dblock commented on #1483
@stockholmux I think we want the non-breaking changes in 1.3, so for now I removed breaking instead.

[2021-12-10 17:25] tlfeng commented on #1693
The test failure in gradle check log:
[code]

[2021-12-10 17:31] ryanbogan commented on #1276
Results for min distribution of OpenSearch 1.2:
Note: arm versions of JVM 14 and 15 are no longer available so I was only able to perform tests for the x64 versions.  The arm test for JVM 11 is still running so that will be updated later.

[2021-12-10 17:32] ryanbogan commented on #1276
**Java 8: x64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform:

[2021-12-10 17:33] ryanbogan commented on #1276
**Java 8: arm64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transfor

[2021-12-10 17:35] ryanbogan commented on #1276
**Java 14: x64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform

[2021-12-10 17:37] ryanbogan commented on #1276
**Java 15: x64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform

[2021-12-10 17:38] ryanbogan commented on #1276
**Java 17: x64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform

[2021-12-10 17:39] ryanbogan commented on #1276
**Java 17: arm64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transfo

[2021-12-10 17:43] ryanbogan commented on #1276
**Java 11: x64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform

[2021-12-10 18:04] srakshit opened #1699 "Improve OpenSearch ISM documentation"
The OpenSearch ISM documentation doesn't clearly explain that only one transition is checked and only one action is performed in each cycle.

For transitions, if you defined -> transitions: [A, B, C, D] ISM will go through this list sequentially and find the first transition that evaluates to true and transition to the given state in that transition and then goes to sleep before checking the 2nd t

[2021-12-10 18:46] gautamkct commented on #1615
Thanks @setiah for adding this to [1219 ](https://github.com/opensearch-project/OpenSearch/issues/1219)

[2021-12-10 18:48] andrross commented on #1563
Another failure (different test within same class) here: https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/1429/artifact/gradle_check_1429.log/*view*/

[code]

[2021-12-10 19:12] jackson-theisen commented on #1513
@matthewdeanmartin @Rishikesh1159 I am running into the exact same issue. Setting the config via console or Terraform results in the value being reflected as you expect in the console, but running a `GET _cluster/settings?include_defaults=true` in dev tools shows that the config doesn't actually get updated. Confirmed and reproduced multiple times. A blue/green deployment after setting the config

[2021-12-10 20:41] nknize opened #1703 "[CI] o.o.cluster.remote.test.RemoteClustersIT.testHAProxyModeConnectionWorks multiple failures"
Multiple PR test failures (most [recent](https://github.com/opensearch-project/OpenSearch/pull/1698#issuecomment-991270666) for the following:

[code]

[code]

Note:
[code]

[RemoteConnectionInfo](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/transport/RemoteConnectionInfo.java) logging is useless. (**todo**: add `toString` support for logging)

[2021-12-10 22:04] opensearch-ci-bot opened #1706 "Jenkins Randomized Gradle Check Failed on c0f838439041b18b511ec6c5b42bac033ff1753f"
@opensearch-project/opensearch-core team, please take a look at Build 1444 in gradle_check log for more information.

[2021-12-10 22:11] dbbaughe commented on #1699
@CEHENKLE Can move this to ISM repo or documentation website repo, either or should be fine to see this updated.

@srakshit Correct on the actions/steps, but not sure what you mean for the transitions.
If you define transitions: [A,B,C,D] then yes, ISM will iterate through this list of transitions until it finds one that evaluates to true and then stop, set the next state to be the one defined in

[2021-12-10 22:14] matthewdeanmartin commented on #1513
@jackson-theisen  A support person took the bug, an engineer confirmed it is an issue and they said it is now in their backlog to fix. We downgraded our instance to the non-OpenSearch instance. We were lucky that this was only a dev instance, so destroying it was merely inconvenient.

Thanks for filing a bug with them, hopefully it will get some priority if they see several people have this issue.

[2021-12-10 22:19] peternied opened #1707 "[opensearch-plugin] Cannot install old patch version of plugins on newer opensearch builds"
[code]

This is blocking us from consuming the redistribution artifacts for patch releases.

[2021-12-10 22:35] davidlago commented on #1707
Is this intentional or accidental? i.e. would we want to at least allow for patch version variability and have plugins work with any 1.2.x version of core?

[2021-12-10 22:37] davidlago commented on #1707
Ah I see... I misunderstood, so this issue is to actually address this so that we _can_ install old patch version of plugins 👍

[2021-12-10 22:41] andrross commented on #1693
Another occurrence here: https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/1445/

[2021-12-10 23:08] dblock commented on #1707
A plugin version 2.1.0 will not start on OpenSearch 2.1.1 by design. Let's revisit this design.

[2021-12-10 23:39] andrross commented on #1566
Another instance of same failure: https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/1447

[2021-12-11 01:46] opensearch-ci-bot opened #1708 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1450 in gradle_check log for more information.

[2021-12-11 02:02] andrross commented on #1693
The assertion that fails is here:

https://github.com/andrross/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/internalClusterTest/java/org/opensearch/cluster/ClusterHealthIT.java#L393

which is asserting that the response to the get health call is a success, and it fails with with a MasterNotDiscoveredException. I was able to semi-regularly reproduce this error on my Mac, and

[2021-12-11 17:25] peternied commented on #1707
Removing v1.2.1 tag, we had to do a full rebuild for 1.2.1 to work around this issue.

[2021-12-13 13:22] dblock opened #1709 "[BUG] OpenSearch does not error when binding to an occupied port"
**Describe the bug**

OpenSearch doesn't seem to care that a port is already bound to and silently doesn't respond.

**To Reproduce**

Run a TCP server on port 9200.

[code]

[code]

Start OpenSearch 1.2.0.

[code]

Try to connect to the node.

[code]

This is because the TCP server responds and closes the connection, not OpenSearch.

[code]

Shutdown the TCP server.

[code]

So OpenSearch clearly

[2021-12-13 16:27] ryanbogan commented on #1276
**Java 11: arm64**
<html>
<body>
<div class="awsui-table-heading-container" style="color: rgb(22, 25, 31); font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transfo

[2021-12-13 16:31] reta commented on #1690
Closing, seems to be gone after https://github.com/opensearch-project/OpenSearch/commit/b74d71fb747cc2873d4c2ffae825944da4d06e1b

[2021-12-13 16:31] #1690 closed

[2021-12-13 16:37] lrynek opened #1711 "Add 'key' field to 'function_score' query function definition in explanation response"
**Is your feature request related to a problem? Please describe.**
When trying to extract current function value from `_explanation` part of OpenSearch JSON response (i.e. for debugging or logging purposes), I can do it only with text matching of a script body (and only with those functions that operates on script language, the filter ones are out of reach).

**Describe the solution you'd like**
I

[2021-12-13 17:46] dblock opened #1712 "[BUG] Auto-backport is failing: permission denied"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Label an issue backport 1.x.
2. See failed job.

https://github.com/opensearch-project/OpenSearch/runs/4509880595?check_suite_focus=true

[2021-12-13 17:46] dblock commented on #1712
@VachaShah Do you know how to fix this?

[2021-12-13 17:56] saratvemulapalli opened #1713 "[BUG] OpenSearch clone causing unexpected diffs via git"
**Describe the bug**
After cloning OpenSearch, git shows random files (mostly binaries) as diffs, even though its a freshly checked out repository.

[code]

I haven't dug deeper but very likely its because of `.gitattributes`.
I see this happening on multiple platforms.
Coming from https://github.com/opensearch-project/OpenSearch/pull/1696#issuecomment-992718663

**To Reproduce**
Steps to reproduc

[2021-12-13 18:05] saratvemulapalli commented on #1713
Linux:

[code]

[2021-12-13 19:36] anasalkouz opened #1715 "[Meta] Fix random test failures"
PRs were blocked by transient gradle check errors multiple times. Provide a plan to stabilize the tests.

- [x] https://github.com/opensearch-project/OpenSearch/issues/4069
- [x] #2434
- [x] #2242
- [x] #2241
- [x] #2311
- [x] https://github.com/opensearch-project/OpenSearch/issues/1908
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1907
- [ ] https://github.com/opensearch-project/O

[2021-12-13 19:55] itiyamas commented on #1694
This is a great starting point for segment replication.

A major cost of indexing is merging and I am sure that the performance gains seen are also due to savings on merge costs. Additionally, merging is a write operation and if you want to segregate readers and writers at some point- merging belongs with the writers. Agreed that there are ways to do merging on every node, but that defeats the pur

[2021-12-13 20:39] jainankitk opened #1716 "Excluding some attribute from allocation filter overrides the existing exclusion attributes"
**Describe the bug**
Excluding some attribute from allocation filter overrides the existing exclusion attributes. Same is the case for include/require as FilterAllocationDecider recreates the filters from the difference passed to settings update consumer

**To Reproduce**
Steps to reproduce the behavior:
Exclude an ip from cluster settings:

[code]
Exclude another attribute say zone:
[code]
Even t

[2021-12-13 22:03] saratvemulapalli commented on #1708
@peternied @peterzhuamazon This issue is not adding any value.
Can we add some more information like PR#/link to download logs/failure signature?

[2021-12-13 22:08] reta commented on #1694
Great start indeed @CEHENKLE , just a comment regarding segment merging:

This is not entirely true, Lucene does support parallel search over segments, and on OpenSearch side we are working on experimental support of that functionality as well (https://github.com/opensearch-project/OpenSearch/pull/1500)

[2021-12-14 11:48] dblock opened #1722 "[BUG] PrimaryAllocationIT intermittently fails"
**Describe the bug**

[code]

https://github.com/opensearch-project/OpenSearch/pull/1721

https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1478.log

[2021-12-14 14:27] dblock commented on #1703
failed in https://github.com/opensearch-project/OpenSearch/pull/1723 again

[2021-12-14 15:20] KlavsKlavsen opened #1724 "[BUG] auditlog complaints ALL THE TIME in logs"
**Describe the bug**
A clear and concise description of what the bug is.
I get these error messages in log output (in opensearch 1.2.1 installed via helm chart on k8s):
[code]
and
[code]
I just installed it and ran graylog against it.. don't know if its related to what graylog does?

[2021-12-14 17:26] dblock commented on #1724
Any indication whether graylog causes this? Maybe help confirm that by turning it off/on and asking in https://community.graylog.org/ first?

[2021-12-14 18:21] andrross commented on #1715
I did a quick experiment overnight on my dev machine where I ran the `internalClusterTest` all night in a loop:

[code]

Results:

[code]

[code]

All 3 failures were caused by "Suite timeout exceeded (>= 1200000 msec)."

From this I'll make a couple hypotheses:

1. There is a bug in the logic of ShardIndexingPressureSettingsIT that sometimes causes it to hang and fail with the overall test timeou

[2021-12-14 18:26] anasalkouz commented on #1656
Closing this, due to lack of details. @Ashleycho35  feel free to reopen once you fill in the details

[2021-12-14 18:26] #1656 closed

[2021-12-14 19:36] anasalkouz commented on #1677
Hi @Bukhtawar, Can you elaborate with more details? is this overlap with indexing back pressure? what is the use-case that you want to solve with this feature?

[2021-12-14 19:43] anasalkouz commented on #1689
@elfisher, do you how many clients are currently using Java 8?

[2021-12-14 20:01] adnapibar commented on #1709
Did you explicitly set the port to 9200 in the [opensearch.yml](https://github.com/opensearch-project/OpenSearch/blob/main/distribution/src/config/opensearch.yml#L59) ?

I believe by default it takes the next free port starting at 9200. So in this case, it looks like the service started at 9201

[code]

[2021-12-14 20:03] andrross commented on #1689
According to [this website](https://endoflife.date/java), active support for Java 8 ends in March 2022, while security updates will continue to 2025. I'm in favor of removing support for Java 8 for new versions with the end of active support approaching, unless doing so is a significant barrier to adoption of new OpenSearch versions.

[2021-12-14 20:07] saratvemulapalli commented on #1715
Another flaky test:
Coming from: https://github.com/opensearch-project/OpenSearch/pull/1725
[code]

[2021-12-14 20:15] saratvemulapalli commented on #1572
Started updating the design in the meta issue.
Closing this.

[2021-12-14 20:15] #1572 closed

[2021-12-14 20:24] reta commented on #1675
Ok, @VachaShah at least this particular issue is clear, the `composeUp` needs  `preProcessFixture` to be executed before, otherwise the folders:

[code]

won't exists and will be created by `Docker` under `root` user:

[code]

The fix is on the way

[2021-12-14 21:45] rmuir commented on #1687
I've also made my opinion loudly clear on twitter that removing SecurityManager without replacement is a bad idea for java right now. At least providing a "replacement" first (ideally enabled by default), to help protect server-side apps against the worst vulnerabilities, is really needed. Java is filled with security landmines.

Doubt anything will change on the java side, but I tried. I don't ha

[2021-12-14 22:17] saratvemulapalli commented on #1713
Re-opening issue:

Linux is seeing problems:
[code]

[2021-12-14 22:42] VachaShah commented on #1675
Thank you @reta for looking into this!

[2021-12-14 22:42] reta commented on #1687
Thanks @rmuir , I think the large part with respect to "what the replacement should be" is still unknown, as it is dictated by Project Loom that is not there yet. But I do 💯 agree on the point: removing `SecurityManager` without replacement is a bad idea.

[2021-12-14 23:36] dblock commented on #1709
Oh good point. That's weird behavior but I understand what's going on now.

[2021-12-14 23:36] #1709 closed

[2021-12-15 01:30] rmuir commented on #1687
if you think of the entire internet (not just opensearch), i really do feel that something similar to the openbsd `pledge()` api would be at least a minimal replacement. process-wide: drop permissions to fork/exec (RCE), maybe drop network `connect()` permissions to hosts you don't need, maybe drop permissions to file paths you don't need. In many cases, perhaps the OS can enforce the functionalit

[2021-12-15 10:46] KlavsKlavsen commented on #1724
its graylog that does something stupid :(

[2021-12-15 10:46] #1724 closed

[2021-12-15 11:36] peternied opened #1733 "OpenSearch releases have an un-platformed zip and tar.gz"
Looking at 1.2.1 from https://github.com/opensearch-project/OpenSearch/releases there is a zip file and tar.gz file with little other information.  Should these files be more verbosely named and what is the platform story around them?

Thanks to @dvonlehman for asking about these artifacts

[2021-12-15 11:39] peternied commented on #1733
Nevermind, that is source code!

[2021-12-15 11:39] #1733 closed

[2021-12-15 12:54] uncycler opened #1734 "[BUG] repository-azure plugin hangs in OpenSearch >= 1.2.0"
**Describe the bug**
Since 1.2.0, the repository-azure plugin stop working correctly. The PUT command to create the new repository hanging forever and the thread pool queue is filling up with 120 generic tasks and the master node is eating all the cpu resources it got:

[code]
Nothing is logged. Is there anyway to enable debug logging on plugins?

Also, if you look at transactions/sec metrics in t

[2021-12-15 14:04] juntezhang commented on #1734
This bug is serious and prevents from upgrading to OpenSearch 1.2.1 to fix the log4j2 REC issue. I also created a thread on the forums: https://discuss.opendistrocommunity.dev/t/snapshot-stuck-in-in-progress-in-all-but-shows-as-succeeded-in-status/8014/2

[2021-12-15 14:28] elfisher commented on #1689
@vijayanB and @gaiksaya do you know which java version the high-level rest and opensearch-java clients use?

[2021-12-15 14:36] PaulLesur opened #1735 "[BUG] Failure to add Azure snapshot repository"
**Describe the bug**
We get 500 when we try to register an Azure storage container as a snapshots repository

**To Reproduce**
Follow these steps:
[code]
The request returns :
[code]

**Expected behavior**
Get a 200.

**Plugins**
- azure repository plugin
- disabled: security plugin

**Host/Environment (please complete the following information):**
 - Docker image: opensearchproject/opensearch:1.2

[2021-12-15 15:18] reta commented on #1734
@juntezhang looking into it

[2021-12-15 15:40] dblock commented on #1724
@KlavsKlavsen Care to add some detail for the next person that runs into this? Thanks

[2021-12-15 15:45] reta commented on #1734
@juntezhang any exceptions on the server side (`logs/` folder) you could share?

[2021-12-15 15:54] juntezhang commented on #1734
@reta there are no exceptions logged by OpenSearch. It just hangs.

[2021-12-15 16:12] PaulLesur commented on #1735
Probably a duplicate of #1734

[2021-12-15 16:14] peternied commented on #1708
@saratvemulapalli I've looked into this, its baked into part of the gradle check workflow, it should be disabled now.  Please ping me if you see anymore.  If we would like bugs to get filed on failures we should create a proposal and make sure it would be useful for OpenSearch

[2021-12-15 16:15] peternied commented on #1708
Actually - I take that back please contact @opensearch-project/engineering-effectiveness if you need support

[2021-12-15 16:37] reta commented on #1734
Could you please capture the thread dumps for the Opensearch server process? I think the issue is figured out

[2021-12-15 16:38] reta commented on #1735
@PaulLesur yes, that is the same reason

[2021-12-15 16:41] #1735 closed

[2021-12-15 17:05] nknize commented on #1276
What's the hardware configuration for this test (OS, processor, RAM)?  Can you run the benchmarks across different Operating Systems that may have variations in default glibc installations?

[2021-12-15 18:44] dreamer-89 commented on #1715
Looking into it.

[2021-12-15 19:08] reta commented on #1734
@PaulLesur @juntezhang so the issue is closely related to https://github.com/FasterXML/jackson-databind/issues/3322 and in the nutshell, Azure Blob APIs V12 heavily relies on the fact that empty XML elements / attributes are going to be nullified.

However, sadly, it highly depends on XMLInputReader instance being picked up at runtime: the Woodstox does that, whereas the default one from JDK `com.

[2021-12-15 21:00] chipzzz commented on #1018
@aparo this link no longer there https://github.com/aparo/opensearch-flattened-mapper-plugin  :(

[2021-12-15 22:10] maumrsms opened #1738 "[BUG] Can not create monitor in the coordinating cluster when it involves remote indices"
**Describe the bug**
Hello team! I've been running some tests to check if [this Opendistro bug](https://github.com/opendistro-for-elasticsearch/alerting/issues/386), is already fixed in Opensearch and, as far as I checked, it is not. I managed to replicate the same situation in Opensearch 1.2.0.
Also tried adding the monitor using the [alerting API](https://opensearch.org/docs/latest/monitoring-pl

[2021-12-15 23:26] #1108 closed

[2021-12-16 00:16] aw-was-here commented on #1108
For those of you that need a fix now, this issue was already discussed by the community a while back:

https://discuss.opendistrocommunity.dev/t/upgrading-from-odfe-1-11-0-to-1-12-0-deprection-logs-complain-about-a-lot/4389/4

[2021-12-16 02:47] andrross commented on #1647
I believe [this Lucene issue](https://issues.apache.org/jira/browse/LUCENE-9917) actually does fix the regression. I didn't realize that the testing tool was [setting `BEST_COMPRESSION` by default](https://github.com/opensearch-project/opensearch-benchmark-workloads/blob/main/nyc_taxis/test_procedures/default.json#L13) for the given workload, but when I run the test against in index that has been

[2021-12-16 07:53] KlavsKlavsen commented on #1724
@dblock unfortunately I have no idea what its doing and haven't solved it. I rolled up a seperate opensearch instance - doing nothing to it - to see if that caused any of these logs and it didn't.. So its the "use" of opensearch (which here is done by graylog) - thats causing it.. )

[2021-12-16 13:03] mattlorimor opened #1743 "Release including log4j 2.16.0"
A release including the already-merged log4j bump to 2.16.0 should probably be created sooner rather than later: https://www.praetorian.com/blog/log4j-2-15-0-stills-allows-for-exfiltration-of-sensitive-data/

[2021-12-16 14:14] nknize opened #1744 "[CI] o.o.cluster.ClusterHealthIT.testHealthOnMasterFailover test failure"
Could be a flakey test. Documenting to see if this repeatedly fails on CI.

[code]

[code]

[2021-12-16 14:26] nknize commented on #1693
Another failure on #1742 PR.

[code]
[code]

[2021-12-16 14:26] nknize commented on #1744
Closing as duplicate of #1693

[2021-12-16 14:27] #1744 closed

[2021-12-16 14:55] dblock commented on #1743
Actively working on it, ETA is ASAP, please see https://github.com/opensearch-project/opensearch-build/issues/1333.
closing as dup

[2021-12-16 14:55] #1743 closed

[2021-12-16 15:16] dblock commented on #1707
@nknize can you please comment on what you think the intended design here is? Can we relax this limitation given semver?

[2021-12-16 17:01] mattlorimor-bnch commented on #1743
@dblock - Thanks! Apologies, hadn't seen the build!

[2021-12-16 17:20] andrross commented on #1567
@tlfeng Just came across a failure of this test in an unrelated PR. I see the updated error message, so it appears the additional retry time didn't fix it in this case.

[Gradle Check 1532](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1532.log)

[code]

[2021-12-16 17:41] nknize opened #1746 "[CI] o.o.gateway.RecoveryFromGatewayIT.testReuseInFileBasedPeerRecovery"
Failed on unrelated PR #1742. Not reproducible locally. Opening to track if this continues to fail.

[code]

[code]

[2021-12-16 18:00] dreamer-89 commented on #1715
A simple plan to begin with can involve below steps:

1. Analysis.
   Analyze last X failed Jenkins builds (X=20), identify failed tests and count frequency of failure. This will help in priortizing the right failure.

2. Replication
    Failures identified above may need more deep dive for root causes; and also the ability to reproduce those failures locally. The expectation from this step is to

[2021-12-16 18:38] nknize commented on #1707
The inherited implementation is based on the inherited (legacy?) "requirement" that plugins are bundled in the monolithic repo and there's always a 1:1 core to plugin version relationship.

In theory I agree it should not be a requirement OpenSearch wants/should carry forward and (on the surface) the project desires to move forward supporting something like semver range syntax (e.g., `~1.2.3 is >=

[2021-12-16 18:46] Rishikesh1159 commented on #1570
I will work on this

[2021-12-16 18:47] meghasaik commented on #1661
I will look into this.

[2021-12-16 18:47] dblock commented on #1743
@mattlorimor-bnch No apology needed, there's a lot going on!

[2021-12-16 18:48] peterzhuamazon commented on #1747
Talked to the team it is more of a core issue, transfer to OpenSearch.

[2021-12-16 18:50] dblock commented on #1707
@nknize so you don't recommend we make this change if I read this correctly?

[2021-12-16 18:55] nknize commented on #1707
I don't recommend a change to introduce uncontrolled leniency on patched version checks, period. I'd be happy to discuss / review a change to introduce semver range checks on patched versions if someone wants to churn out that PR in time for 1.2.3.

[2021-12-16 19:13] reta opened #1748 "[plugin] repository-azure: revert the fix for https://github.com/opensearch-project/OpenSearch/issues/1734 once upstream solution is available"
**Is your feature request related to a problem? Please describe.**
Revert the fix for https://github.com/opensearch-project/OpenSearch/issues/1734 once upstream solution is available (see please https://github.com/Azure/azure-sdk-for-java/issues/26064).

**Describe the solution you'd like**
Rely on built-in navigation over the paged content (blobs)

**Describe alternatives you've considered**
Keep

[2021-12-16 19:15] andrross commented on #1647
To be clear, the fact that the Lucene change mitigates the regression means that OpenSearch 1.2 has the fix because it uses Lucene 8.10.1 and no action is needed to address this within OpenSearch. I think we can close this issue. However, there are a few things we should consider:

- Document the change in performance of `BEST_COMPRESSION` (better compression ratio, slower fetch) so anyone coming

[2021-12-16 19:16] dblock commented on #1734
Let's talk about a release for this in https://github.com/opensearch-project/opensearch-build/issues/1365? Will a release of just the plugin with version 1.2.2.1 work?

[2021-12-16 19:19] reta commented on #1734
@dblock I think technically it will work, but from the code perspective, it will go to 1.2 branch, could we track the release of the plugin to particular commit? (wondering how we could match binary and source artifacts since it is the same repository).

[2021-12-16 19:36] dblock commented on #1734
We'll increment the version and make a tag like we always do. 1.2 is just the line for all the 1.2.x releases.

[2021-12-16 20:23] dblock commented on #1734
Scratch my idea of incrementing a version to 1.2.2.1, there are waaay too many assumptions in OpenSearch about a 3-digit version to fix in a patch release.

Can I have everybody's opinion on this thread, @reta @uncycler @juntezhang - which one do you think we should do:

1. Build another 1.2.2, pluck `repository-azure-1.2.2.zip` out of it, sign it, and replace only the zip in our existing 1.2.2 di

[2021-12-16 20:31] peternied commented on #1734
I vote for option 2 follows our semver principles.  4 hours ago when we didn't release OpenSearch 1.2.2 to maven we would have had other options.

[2021-12-16 20:34] peterzhuamazon commented on #1734
Since we also release on maven I vote for 2 as we cannot override now:
https://aws.oss.sonatype.org/content/repositories/releases/org/opensearch/plugin/repository-azure/1.2.2/

[2021-12-16 20:38] reta commented on #1734
+1 for 2nd option (sorry @dblock), just to clarify, the release of 1.2.2 without this bugfix was by intention

[2021-12-16 20:59] stockholmux commented on #1734
I both love and hate a 1.2.3. Having a shadow release is madness and against semver. On the other hand, I dislike releasing so often, wolf crying comes to mind.

[2021-12-16 21:08] reta commented on #1734
Sorry about that, the timing with log4j is not good

[2021-12-16 21:09] juntezhang commented on #1734
I think option 2 is probably cleanest and most transparent, but I can image
you would like to combine it with more features or bug fixes and not do 3
releases within 1 week. I think those who want to have this fix can fork it
and install the plugin from file. Or switch to snapshots to FS instead.
Anyway, thanks for the quick fix and looking forward to the release (at
some point).

On Thu, Dec 16,

[2021-12-16 21:10] #1734 closed

[2021-12-16 21:17] reta commented on #1734
@nknize @dblock do you think guys it is worth extracting the repository plugins off the main repo? (it looks doable in general)

[2021-12-16 21:22] reta commented on #1647
:+1:

Should be part of https://github.com/opensearch-project/OpenSearch/issues/1276, I really like the way Apache Lucene and Elasticsearch guys publish the benchmarks every day.

:+1: this is interesting but would certainly help to detect issues like that

[2021-12-16 22:55] dblock commented on #1734
I would be ok with this, but we are telling everyone to upgrade to 1.2.2 because of log4j, and there’s nothing to upgrade to for users of this plug-in

[2021-12-16 22:55] dblock commented on #1734
I was going to suggest that. There’s no reason for these plugins to be tied to OpenSearch IMO. Appreciate if you could open an issue either way.

[2021-12-16 23:14] reta opened #1754 "[plugin] repository-azure: extract to separate repository"
**Is your feature request related to a problem? Please describe.**
Right now `repository-xxx` plugins are part of the core and as such, follow the same release cycles as the OpenSearch itself. In such a model it is difficult to contribute bugfixes and enhancements in a timely manner.

**Describe the solution you'd like**
It would be beneficial to extract `repository-azure` or all `repository-xxx`

[2021-12-16 23:16] reta commented on #1754
@dblock I think it would be safe to target it to `1.3.0`? I will try to pick it up shortly and get a fair understanding of the efforts, thank you

[2021-12-16 23:18] reta commented on #1734
Done, https://github.com/opensearch-project/OpenSearch/issues/1754

[2021-12-16 23:42] nknize opened #1756 "[CI] o.o..search.aggregations.metrics.TDigestStateTests.testMoreThan4BValues failure"
The following failed on unrelated PR #1752. Possible rounding error. This will need to be addressed separately from the PR:

[code]

[code]

`assertTrue(v >= prev);`  fails w/ following values:
`v=3.1138788538165313E-4`
`prev=3.113878853816532E-4`

[2021-12-17 00:11] andrross commented on #1715
I think it is a good idea to collect this data. It might be a bit hard to separate out the failures that were caused by the change in the PR that triggered the build. Setting up a test machine to run checks continually should be able to get similar data, and will have the benefit of running against a static code base.

We've probably seen enough of these to know they aren't reproducable when re-ru

[2021-12-17 00:21] dblock commented on #1734
@reta @uncycler @juntezhang  care to confirm that @reta's fix works in https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.2/102/linux/x64/builds/opensearch/core-plugins/repository-azure-1.2.2.zip ?

If you need an OpenSearch with the plugin, https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.2/102/linux/x64/builds/opensearch/dist/opensearch-min-1.2.2-linux-x64.tar.g

[2021-12-17 06:13] abhishek-v commented on #1018
Is there any plan to support this functionality in the near future?

[2021-12-17 10:01] uncycler commented on #1734
I confirm that the updated plugin is working as expected.

[2021-12-17 17:41] reta commented on #1707
@nknize @dblock my five cents, given the recent issues with plugins and CVEs, all at the same time:
 - In general, I think it would make sense for OpenSearch core 1.2.x to accept any OpenSearch 1.2.x plugin (in more general sense, differences in minor releases should not be rejected). The reasoning behind it: no major or breaking changes are expected, so in general, it should be safe. Also, it is

[2021-12-17 17:57] reta opened #1762 "[plugin] repository-azure: add configuration settings for connect/write/response/read timeouts"
**Is your feature request related to a problem? Please describe.**
The Azure Repository Plugin supports only single `timeout` setting which translates to operation timeout in Azure SDK v12. However, there are connect/write/response/read timeouts which could be fine tuned for a particular environment but there is no convenient way to configure those right now.

**Describe the solution you'd like**

[2021-12-17 21:07] dblock commented on #1754
I think this technically breaks backwards compatibility, doesn't it? @nknize WDYT?

[2021-12-17 21:09] reta commented on #1754
It shouldn't, we will be releasing a fully compatible versions with the core, but just outside the core, but let @nknize clarify :-)

[2021-12-17 21:18] anasalkouz opened #1763 "Propose better integration test that exercise real cloud plugins"
**Is your feature request related to a problem? Please describe.**
We need to enhance our integration tests to exercise the usage of real cloud plugins Like Azure, Google Cloud ..etc. This is was clearly needed after we received the repository-azure plugin issue as regression if OpenSearch 1.2 release.

1. Define account creds in Jenkins secret store. Export same in jenkins file as environment var

[2021-12-17 21:30] andrross commented on #1276
Just want to clarify, by "JVM versions" mentioned in the task description does it refer to finding the best _distribution_ (i.e. Oracle vs Adopt vs Corretto, etc)? The test results posted above are for Java versions, and unless I missed, I don't see the distribution specified.

As for Java _versions_, I would think the obsolete non-LTS versions (14, 15) would be non starters for a runtime JVM due

[2021-12-17 21:45] andrross opened #1764 "Add fetch phase to search profile"
**Is your feature request related to a problem? Please describe.**
A significant performance regression exists for some use cases in the fetch phase between ES 7.9 and OS 1.0. The root cause was a change to the Lucene codec and it has been mitigated by a change within Lucene that is present in OS 1.2. See issue #1647 for more details. I was able to profile the JVM using Java Flight Recorder and th

[2021-12-17 21:55] andrross opened #1765 "Document performance changes for `BEST_COMPRESSION` since ES 7.9"
**Is your feature request related to a problem? Please describe.**
Lucene 8.7 (newly introduced in OS 1.0) and newer [changed its compression codec](https://issues.apache.org/jira/browse/LUCENE-9486), which results in significantly improved compression ratio but somewhat slower read times. This can result in increased query times in OpenSearch when configuring an index for `BEST_COMPRESSION`. User

[2021-12-17 22:24] #1688 closed

[2021-12-17 22:50] nknize opened #1767 "[CI] o.o.transport.netty4.OpenSearchLoggingHandlerIT fails w/ stack overflow"
First discovered in PR #1691

The following failure is reproducible going back to  commit 821417b9abec4a8d0e3ae4f25ee79c9ff15a110c. I was not able to reproduce it in the commit prior b74d71fb747cc2873d4c2ffae825944da4d06e1b.

[code]

The failure is a nasty stackOverflow exception in the form of:

[code]
Looks like this might cause a node to fail resulting in nearly 1GB worth of transport logs dump

[2021-12-17 23:19] saratvemulapalli commented on #1715
Another one, coming from: https://github.com/opensearch-project/OpenSearch/pull/1766

[code]

[2021-12-17 23:26] peternied commented on #1768
@setiah can you fill this task in more? If there is work needed in the OpenSearch-Build please create tasks with acceptance criteria that can be worked on to so we can drive this to resolution.

[2021-12-18 00:56] #1647 closed

[2021-12-18 02:36] gai6948 opened #1769 "Documentation on how to install plugins on K8s deployment"
**Is your feature request related to a problem? Please describe.**

I cannot find instructions on how to install plugins when deployed on k8s (Helm), how to do the **restart**?

**Describe the solution you'd like**

A page in the documentation website showing the steps of "installing a plugin" and restarting opensearch pods.

[2021-12-18 02:48] #1769 closed

[2021-12-18 02:49] gai6948 commented on #1769
Found the settings in the helm `values.yaml`

[code]

[2021-12-18 06:28] sholtomaud opened #1770 "Amazon Managed Prometheus as a data source"
We need to be able to query prometheus data, and opensearch is our target search system.

We would like a data source integration between these two aws managed systems.

There are community open source options, however our enterprise does not support the use of community plug ins for reasons of supportability.

[2021-12-18 12:14] tmoody1 commented on #1747
I think you can close this actually.
Later versions of the helm chart seem to set limits correctly