[2021-01-30 04:45] nknize opened #2 "[PURIFY] Remove all trace of XPack code from High Level Rest Client"
This meta issue tracks removal of references of Elastic licensed classes from the `client/high-level-rest` module.

- [x] @nknize ~~EQL~~  (PR: #2)
- [x] @nknize~~Enrichment Processor~~ (PR: #3)
- [x] @nknize ~~Async Search~~ (PR: #5)
- [x] @nknize ~~CCR~~ (PR: #6)
- [x] @nknize ~~Graph~~ (PR: #7)
- [x] @nknize ~~ILM~~ (PR: #11)
- [x] @adnapibar  ~~License Tools~~ (PR: #15, #25)
- [x] @nknize ~~Mi

[2021-02-01 18:45] adnapibar opened #23 "[TEST] Fix Unit and Integration Tests as part of Removal of XPack code"
This meta issue tracks fixing all the tests which are failing as part of the removal of references of Elastic licensed code (CR #2)

- [x] @adnapibar Compile Issues (#29)
- [x] Build Tools Integration Tests (Gradle Task :build-tools:integTest)

**REST High Level Client Tests (Gradle Task :client:rest-high-level:test)**
  Tests with failures:
- [x] org.elasticsearch.client.RequestConvertersTests.te

[2021-02-01 19:13] saratvemulapalli opened #24 "CI for search"
- [x] Add a CI workflow to run for every commit on search #35
- [ ] Run unit tests and integration tests in CI
- [ ] Remove github actions CI
- [ ] Remove Elastic CI references (running on elastic jenkins)

[2021-02-02 00:21] adnapibar opened #27 "Remove all references to x-pack from build, distribution and qa directories."
There are several places in the fork that references the use of x-pack. We need to clean those up from the repository.

[2021-02-02 22:00] harold-wang opened #30 "Four 'rest-api-spec:yamlRestTest' failures"
Below are 4 failed rest-api-spec:yamlRestTest and can be reproduced with below commands:

./gradlew ':rest-api-spec:yamlRestTest' --tests "org.elasticsearch.test.rest.ClientYamlTestSuiteIT.test {p0=mget/71_source_filtering_with_types/Source filtering -  exclude field}" -Dtests.seed=359B040C58EE47C -Dtests.security.manager=true -Dtests.locale=es-MX -Dtests.timezone=SystemV/PST8PDT -Druntime.java=15

[2021-02-02 23:36] adnapibar opened #32 "Fix checkstyle issues"
Fix checkstyle issues in the repository, mostly caused by unused imports.

[2021-02-03 14:30] #32 closed, assigned to nobody

[2021-02-03 14:34] nknize opened #34 "[TEST] Failure in DeleteDataStreamRequestTests.testDeleteSnapshottingDataStream"
[code]
[code]

[2021-02-03 21:49] setiah opened #38 "[TEST FAILURE] 3 Bwc test failures in IntegTests"
Failures

[code]

Reproduce by `./gradlew check`

Platform
[code]

[2021-02-03 22:13] saratvemulapalli opened #39 "[TEST] Failures in IndexingMemoryControllerTests"
Couple of tests failing in IndexingMemoryControllerTests.

- [ ] org.elasticsearch.indices.IndexingMemoryControllerTests.testSkipRefreshIfShardIsRefreshingAlready
- [x] org.elasticsearch.indices.IndexingMemoryControllerTests.testTranslogRecoveryWorksWithIMC

Reproduced by `./gradlew ':server:test'`

[2021-02-03 23:23] tlfeng opened #40 "[PURIFY] Remove DataStreams"
Remove "Data Steams" codes, according to the discussion in PR https://github.com/opendistro-for-elasticsearch/search/pull/36

Basically revert the PRs: https://github.com/opendistro-for-elasticsearch/search/pull/28 https://github.com/opendistro-for-elasticsearch/search/pull/37

[2021-02-04 03:30] #34 closed, assigned to nobody

[2021-02-04 05:40] adnapibar opened #44 "[TEST] Packaging Test Failures"
The qa directory contains tests which run against several operating systems. This Issue lists the current test failures.

**Task**:  `./gradlew packagingTest`

- `org.elasticsearch.packaging.test.CronEvalCliTests > test10Install FAILED`

[2021-02-04 19:12] #27 closed, assigned to nobody

[2021-02-04 22:22] harold-wang opened #45 "Update version info in vesion.properties"
These information needs update in
build-boolstrap/version.properties
buildSrc/version.properties
main/version.properties

elasticsearch=7.10.3-SNAPSHOT
elasticsearch     = 7.10.3

Otherwise it will shows up in logs.

[2021-02-04 22:53] harold-wang opened #46 "Update CONTRIBUTING.md to remove license statatement"
Update CONTRIBUTING.md to remove license and elastic.co related statement

Contributing to elasticsearch
=============================

Elasticsearch is an open source project and we love to receive contributions from our community — you! There are many ways to contribute, from writing tutorials or blog posts, improving the documentation, submitting bug reports and feature requests or writing code

[2021-02-05 00:21] setiah opened #47 "Remove ReloadSearchAnalyzers"
ReloadSearchAnalyzers code is removed as part of x-pack removal but some code outside of x-pack still lingers and causes test failures.  relates to #23

[2021-02-05 03:30] #47 closed, assigned to nobody

[2021-02-05 05:06] adnapibar opened #49 "[PURIFY] Remove x-pack command line tools from package tests."
The list of command line tools are at https://www.elastic.co/guide/en/elasticsearch/reference/7.10/commands.html
Remove the following tools from packaging tests that are part of x-pack

- elasticsearch-certgen
- elasticsearch-certutil
- elasticsearch-croneval
- elasticsearch-migrate
- elasticsearch-saml-metadata
- elasticsearch-setup-passwords
- elasticsearch-syskeygen
- elasticsearch-users

see `

[2021-02-05 05:10] adnapibar opened #50 "[PURIFY] Remove `Default` distribution and only create OSS distribution."
The Default distribution is governed by Elastic license and hence needs to be removed and only create OSS distribution.

### Clean up `distribution` (@setiah)

- [x] Clean up non OSS distributions in Docker. - https://github.com/opendistro-for-elasticsearch/search/blob/main/distribution/docker
- [x] Clean up non OSS flavors in Elasticsearch Distributions. - https://github.com/opendistro-for-elasti

[2021-02-05 05:10] nknize opened #51 "[TEST] AnalyticsAggsIT"
The Analytics plugin is licensed XPack. The transport layer still exists in the High Level Rest Client and will need to be removed. Below are the current failures:

[code]

[code]

[code]

[code]

[code]

[code]

[2021-02-05 05:49] tlfeng opened #52 "[QUESTION] Consider reverting RefreshPolicy to HLRC"
All the usage of `withRefresh()` has been removed in the commit https://github.com/opendistro-for-elasticsearch/search/commit/4d4f1981e319049e606489e88274cafcbe154369 (remove all trace of x-pack security), and the code used for parsing the `refresh` parameter in High Level Rest Client. Probably we could bring it back.

**Reason**
Also written in my comment https://github.com/opensearch-project/Ope

[2021-02-05 17:17] harold-wang opened #53 "elasticsearch-head cannot connect to OpenSearch"
Popular elasticsearch App (https://github.com/mobz/elasticsearch-head) could not connect to OpenSearch.

I did not check other elasticsearch appliations yet, official Kibana also failed to connect due to xpact license issue. Not sure if this will affect all the elasticsearch App, will update with more findings.

[2021-02-05 20:04] #38 closed, assigned to nobody

[2021-02-05 20:04] #30 closed, assigned to nobody

[2021-02-08 05:33] setiah opened #57 "[TEST] FreezeUnfreezeIT"
Below 3 tests are failing with Freeze/Unfreeze x-pack code. We need to remove the corresponding x-pack remnants of the freeze index feature

-  org.elasticsearch.client.IndicesClientIT.testFreezeAndUnfreeze
-  org.elasticsearch.client.documentation.IndicesClientDocumentationIT.testFreezeIndex
-  org.elasticsearch.client.documentation.IndicesClientDocumentationIT.testUnfreezeIndex

Parent issue #23

[2021-02-08 21:30] #52 closed, assigned to nobody

[2021-02-08 21:57] harold-wang opened #60 "IT Failure "testSearchWithBasicLicensedQuery""
2> REPRODUCE WITH: ./gradlew ':client:rest-high-level:asyncIntegTest' --tests "org.elasticsearch.client.SearchIT.testSearchWithBasicLicensedQuery" -Dtests.seed=F3C6E01D8FF57C4A -Dtests.security.manager=true -Dtests.locale=is-IS -Dtests.timezone=America/Paramaribo -Druntime.java=15
  2> java.lang.AssertionError:
    Expected: searchHit id should be "2"
         but:  was "1"
        at __randomized

[2021-02-08 23:02] #46 closed, assigned to nobody

[2021-02-08 23:29] nknize opened #61 "[PURIFY] Remove SearchIT.testSearchWithBasicLicensedQuery"
Basic license is no longer applicable so this test needs to be removed.

[2021-02-09 00:15] #61 closed, assigned to nobody

[2021-02-09 05:20] #49 closed, assigned to nobody

[2021-02-09 05:27] #51 closed, assigned to nobody

[2021-02-09 08:46] #40 closed, assigned to nobody

[2021-02-09 15:17] nknize opened #67 "[PURIFY] Remove x-pack feature flag from yaml test"
Yaml test suite includes `x-pack` `no-x-pack` feature flags for configuring test suites w/ or w/o x-pack license. These feature flags should be removed as a part of xpack removal.

[2021-02-09 18:22] #67 closed, assigned to nobody

[2021-02-09 18:55] adnapibar opened #69 "Disable the tests that use elastic url to download plugins."
~~Remove~~Disable the tests that use the elastic artifacts url (these are unit tests and do not actually download from these urls)

Relates #71

https://github.com/opendistro-for-elasticsearch/search/blob/main/distribution/tools/plugin-cli/src/test/java/org/elasticsearch/plugins/InstallPluginCommandTests.java

[2021-02-09 19:20] harold-wang opened #70 "Remove elastic.co related link docs"
Remove elastic.co related link docs in RestHighLevelClient.java  and others.

 /**
     * Asynchronously deletes a document by id using the Delete API.
     * See <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete.html">Delete API on elastic.co</a>
     * @param deleteRequest the request
     * @param options the request options (e.g. headers), use {@link RequestO

[2021-02-09 19:31] adnapibar opened #71 "Modify plugin cli to disable install elastic official plugins by name"
Currently the plugin cli allows installation of a plugin by name in which case it downloads the plugin artifacts from the official elastic repository. We need to ~~remove~~ disable this feature (as per Nick's comment below).

Related #100

[2021-02-09 20:21] harold-wang opened #72 "Reimplement functionality similar to PinnedQueryBuilder"
PinnedQueryBuilder is removed as part of removal x-pack, this is a track ticket to develop similar functionality in OpenSearch.

https://github.com/elastic/elasticsearch/blob/v7.10.2/client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java#L1385

[2021-02-09 23:11] harold-wang opened #75 "client:rest-high-level:checkstyleTest FAILED"
[ant:checkstyle] [ERROR] /home/ubuntu/search/client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java:98:15: Unused import - org.elasticsearch.test.hamcrest.ElasticsearchAssertions.assertFirstHit. [UnusedImports]
[ant:checkstyle] [ERROR] /home/ubuntu/search/client/rest-high-level/src/test/java/org/elasticsearch/client/SearchIT.java:99:15: Unused import - org.elasticsearch.test.h

[2021-02-09 23:22] adnapibar opened #77 "Add rest-api-specs for data stream APIs"
The test `org.elasticsearch.client.RestHighLevelClientTests.testApiNamingConventions` fails as it is not able to find the rest api specs for the data stream hlrc APIs. The specs were part of x-pack and have been removed.

We need to add specs for these APIs by reverting the changes in fe12217c

[2021-02-10 00:31] #75 closed, assigned to nobody

[2021-02-10 01:36] #60 closed, assigned to nobody

[2021-02-10 01:40] harold-wang opened #79 "ClientYamlTestSuiteIT test case failure"
REPRODUCE WITH: ./gradlew ':rest-api-spec:yamlRestTest' --tests "org.elasticsearch.test.rest.ClientYamlTestSuiteIT" -Dtests.method="test {p0=cat.templates/10_basic/Sort templates}" -Dtests.seed=923C938CF01174A6 -Dtests.security.manager=true -Dtests.locale=tr-TR -Dtests.timezone=Asia/Bahrain -Druntime.java=15

org.elasticsearch.test.rest.ClientYamlTestSuiteIT > test {p0=cat.templates/10_basic/Sort

[2021-02-10 02:49] #77 closed, assigned to nobody

[2021-02-10 07:12] tlfeng opened #80 "Remove UnusedImports after x-pack feature flag removed from yaml test"
Some unused imports need to be removed after the commit https://github.com/opendistro-for-elasticsearch/search/commit/a40924f0e7c08cac831f29fee0b12419a3582471 which removed x-pack feature flag from yaml test

[code]

[code]

[2021-02-10 15:46] #80 closed, assigned to nobody

[2021-02-10 20:17] #79 closed, assigned to nknize

[2021-02-10 22:31] #69 closed, assigned to nobody

[2021-02-11 00:09] harold-wang opened #83 "Search Benchmark testing"
Here is some information collected for search benchmark test:
1> macrobenchmarking framework
https://github.com/elastic/rally

2> Elasticsearch Microbenchmark Suite
https://github.com/opendistro-for-elasticsearch/search/tree/main/benchmarks

3> Mensor
https://prod.mensor.searchservices.aws.dev/

4> benchmarks from elastic co
https://elasticsearch-benchmarks.elastic.co/#tracks/pmc/nightly/default
.

[2021-02-11 15:55] #45 closed, assigned to nobody

[2021-02-11 19:15] #57 closed, assigned to nobody

[2021-02-11 19:25] CEHENKLE opened #86 "Verify that gradle licensing header check exists"
Let's make sure there's a gradle check that will not allow any source code to go in that does not have a valid license in it,

Update to add a check for SPDX-License-Identifier:  Apache-2.0

[2021-02-11 19:25] CEHENKLE opened #87 "Marking files with licensing information"
To make sure we're being fully transparent about the licensing, we want to mark all the files in repo with  the correct licensing attribution.

To do this, we want to go through the code base and ensure that each source code file is clearly marked with the licensing (and copyright attribution) in comment headers at the top using SPDX (https://spdx.github.io/spdx-spec/appendix-V-using-SPDX-short-id

[2021-02-11 21:09] saratvemulapalli opened #89 "[TEST] Build backward Compatibility failing (buildBwcOssZip)"
Gradle task `:distribution:bwc:maintenance:buildBwcOssZip` is failing for specific version (6.8.14).
[code]

Can be reproduced by:
`./gradlew :distribution:bwc:maintenance:buildBwcOssZip`

[2021-02-12 00:02] #2 closed, assigned to nobody

[2021-02-12 00:15] adnapibar opened #90 "Recreate certs in the tests for ssl-config library"
The certs used in the tests for the ssl-config library has 'xpack' in the context name.  Let's remove those and recreate new certs for testing.

https://github.com/opendistro-for-elasticsearch/search/tree/main/libs/ssl-config/src/test/resources/certs

[2021-02-12 00:17] #23 closed, assigned to nobody

[2021-02-12 00:23] #86 closed, assigned to nobody

[2021-02-12 00:58] setiah opened #91 "Remove Elastic repo urls from DistributionDownloadPlugin"
These URLs are used for setting up download service.

[code]

- [x] Ivy repository for releases
- [ ] Ivy repository for snapshots

[2021-02-12 21:18] nknize opened #95 "Release Process and Versioning"
## What is our release cadence

Going forward, we will try encouraging a time based “release train” model with a process that is similar to, but slightly modified, the Apache way of releasing (e.g., Lucene’s release process).  This means we strive to have regularly scheduled and loosely planned releases which provides a sense of “predictability” for our customer base. To minimize merge conflicts,

[2021-02-13 19:54] tlfeng opened #98 "[DOCS] Test failure in DocsClientYamlTestSuiteIT"
### Introduction to the test
Code snippets in the documents (especially in `docs/reference`)  are tested by this class.
Can be excuted by Gradle task `./gradlew :docs:integTest`

The work is being done in [oss-docs](https://github.com/opendistro-for-elasticsearch/search/tree/oss-docs) branch

To skip a code snippets being tested, we can exclude the file here:
https://github.com/opendistro-for-elas

[2021-02-14 21:15] adnapibar opened #100 "Use new official plugins artifacts download URL in Muted Tests."
This issue is to use the new plugins artifacts download URL (whenever it's available) in the muted tests e.g. in `org.elasticsearch.plugins.InstallPluginCommandTests`

[2021-02-15 18:59] #71 closed, assigned to nobody

[2021-02-18 16:32] adnapibar opened #105 "Version compatibility and BWC Testing"
Currently the BWC tests are run to test the upgrading from each supported version to the current version.

See
- https://github.com/opendistro-for-elasticsearch/search/blob/main/server/src/main/java/org/elasticsearch/Version.java
- https://github.com/opendistro-for-elasticsearch/search/blob/main/.ci/bwcVersions

As the versioning will change for this fork (#95 ), we need to make sure we can run th

[2021-02-18 18:23] harold-wang opened #106 "Change elastic.co from http netty4 test"
Update the elastic.co in all the document in the same folder.
           // Test pre-flight request
            try (Netty4HttpClient client = new Netty4HttpClient()) {
                final FullHttpRequest request = new DefaultFullHttpRequest(HttpVersion.HTTP_1_1, HttpMethod.OPTIONS, "/");
                request.headers().add(CorsHandler.ORIGIN, "elastic.co");
                request.headers().a

[2021-02-18 18:27] harold-wang opened #107 "Update the link point to elastic co in ClientYamlSuiteRestApiTest.java"
Below URL needs to be changed in  ClientYamlSuiteRestApiTest.java
    private static final String REST_SPEC_COUNT_API = "{\n" +
        "  \"count\":{\n" +
        "    \"documentation\":{\n" +
        "      \"url\":\"https://www.elastic.co/guide/en/elasticsearch/reference/master/search-count.html\",\n" +
        "      \"description\":\"Returns number of documents matching a query.\"\n" +

[2021-02-18 20:18] peternied opened #108 "Automated the approval workflow checks"
Documenting and automating the approval process according to [CONTRIBUTING.md](https://github.com/opendistro-for-elasticsearch/search/blob/main/CONTRIBUTING.md)

Automated checks
- [X] Squash / merge is already covered by the repo settings
- [X] Require ~2~ 1 approval(s) before merge
- [x] Require DOC signature https://developercertificate.org/
- [ ] ... other requirements

[2021-02-18 22:59] #24 closed, assigned to peternied

[2021-02-19 19:24] #89 closed, assigned to nobody

[2021-02-19 23:32] #83 closed, assigned to nobody

[2021-02-20 01:01] adnapibar opened #111 "Docker compose tasks are failing"
The following gradle tasks are failing and needs to be fixed.

- :distribution:docker:composeUp
- :qa:remote-clusters:composeUp

[2021-02-22 18:50] peternied opened #113 "Separate backwards compatibility testing in CI workflow"
In the `./gradlew check` process the build tasks for backwards compatibility of the previous version of elasticsearch are run.  During CI runs it would be better to block this part of the workflow until after the more basic tests are run.

[2021-02-22 20:03] nknize opened #114 "Fork or replace elasticsearch dependencies"
The elasticsearch build relies on the following libraries independently built by elastic.co:

* [JNA](https://github.com/elastic/jna-build)
* [SecureMock](https://github.com/elastic/securemock)
* [MockSocket](https://github.com/elastic/mocksocket)
* Geolite2DB - Being tracked in a dedicated issue: https://github.com/opensearch-project/OpenSearch/issues/404

This issue is to track the tasks needed

[2021-02-23 00:59] harold-wang opened #116 "REST API x_pack user name and password update"
public class DockerYmlTestSuiteIT extends ESClientYamlSuiteTestCase {

    private static final String USER = "x_pack_rest_user";
    private static final String PASS = "x-pack-test-password";

Above x_pact prefix should be removed.

[2021-02-23 03:09] setiah opened #118 "Render search javadoc with gradle"

[2021-02-23 20:08] setiah opened #122 "[DOCS] Fix failures in :docs:integTest"
_Issues_
- [x] **unknown setting [script.painless.regex.enabled]**
- [x] **unknown setting [reindex.remote.whitelist]**

_More details_
[code]

[2021-02-23 23:12] harold-wang opened #125 "CI failure in first run in Jenkins"
This is used to track a CI failure http://34.200.117.156/job/Search/job/PR-121/1/, some RestAPI failed due to failure to connected ES instance. It passed in second run. http://34.200.117.156/job/Search/job/PR-121/2/

[2021-02-24 02:37] harold-wang opened #127 "Update Contribution.md"
Update developer guideline document to reflect:

1. Accurate information and compliance with  ALV2.0 license
2. Details information to help developer to get code, make build, raise issue, submit feature or make contribution.

[2021-02-24 23:53] #122 closed, assigned to nobody

[2021-02-25 04:53] adnapibar opened #138 "[TEST] Build Tool IntegTest Failure"
`./gradlew check` has been failing because of the following

[code]

[2021-02-25 21:44] setiah opened #140 "[DOCS] Cleansify painless-api-reference which autogenerates documentation for some xpack content"
[code]

[2021-02-26 05:46] nknize opened #146 "[Duplicate] Make snapshot deletion faster"
Opened on behalf of @AmiStrn from logz.io as a duplicate issue of  elastic/elasticsearch/issues/61513 from Elasticsearch.

[2021-02-28 04:42] nknize opened #155 "[DISCUSS] Review new license header"
This is to start the process of gathering a consensus and approval from the community on a new license header for all newly created source files for the OpenSearch code-base going forward.

The posed preference: just like it's predecessor the proposed header follows the [Apache Software Foundation license header and Copyright Notice](https://www.apache.org/legal/src-headers.html) by substituting `

[2021-02-28 21:50] adnapibar opened #156 "CheckLicenseMetadata check is failing for RPM distributions."
CheckLicenseMetadata check is failing for RPM distributions.

`./gradlew :distribution:packages:aarch64-oss-rpm:checkLicenseMetadata`

[2021-03-01 22:52] saratvemulapalli opened #159 "[Proposal] Plugins Migration: ODFE Plugins as First Class OpenSearch Plugins"
This issue proposes ODFE Plugins as first class OpenSearch plugins.
Also gives an outline for plugins on how to migrate to OpenSearch.

Starting with ODFE Anomaly Detection: https://github.com/opendistro-for-elasticsearch/anomaly-detection

Build:
- [x] Anomaly Detection plugin running with search
- [ ] Anomaly Detection plugin running after rename.

[2021-03-02 00:52] nknize opened #160 "[Rename] Rename from org.elasticsearch to org.opensearch"
This meta issue is created to track progress toward renaming from elasticsearch to the new opensearch project. This will be done in incremental PRs and tracked from this single issue:

* [x] .ci (#411)
* [x] .idea (#161)
* [x] benchmarks (#163)
* [x] buildSrc (#182)
* [x] distribution (#218, #316)
* [x] gradle (#276)

### Client
- [x] client/benchmark (#190)
- [x] client/client-benchmark-noop-api-

[2021-03-03 22:28] abbashus opened #189 "Rename classes with *ES* or *Es* to *OpenSearch*"
For example ESTestCase to OpenSearchTestCase

[2021-03-05 05:41] adnapibar opened #211 "Create geonames benchmark data S3 bucket."
We need to create a bucket and update the README accordingly

https://github.com/opendistro-for-elasticsearch/search/tree/main/client/benchmark#bulk-indexing

[2021-03-05 20:03] setiah opened #221 "[Meta] Add javadocs"
**Description**
This is a meta issue to track javadoc progress for all modules that are currently missing javadocs. Once javadocs are added, we can enable `missingJavadoc` task as part of gradle checks, to enable strict javadoc validation.

**How to reproduce**
<_Needs update once #721 is merged_>
1. Clone the repo (default `main` branch) ~~and switch to remote `javadoc` branch~~ (Note: `javadoc`

[2021-03-09 00:18] #140 closed, assigned to nobody

[2021-03-09 22:50] CEHENKLE opened #245 "Adding in templates"
We removed issues/PR templates.  We want to restore them to make it easy for people to send us enhancements/bugs/PRs. :)

[2021-03-12 06:21] #98 closed, assigned to nobody

[2021-03-16 20:26] stockholmux opened #338 "Wrong name on build hamster"

[2021-03-17 06:26] #245 closed, assigned to nobody

[2021-03-17 20:07] nknize opened #358 "[Re-version] Mute InternalSettingsPreparerTests that reference legacy yaml files"
Legacy search includes unit tests for checking for old `yaml` extensions that are no longer relevant to opensearch and refer to a future 5.x version. These tests will be muted and need to be removed.

[2021-03-17 20:21] setiah opened #360 "[Rename] elasticsearch references in docs which are not under docs/ directory"
For example,

It appears that /rest-api-spec/src/main/resources/rest-api-spec/test/README.asciidoc  and /rest-api-spec/README.markdown contains ‘elasticsearch’ -- Kyle Davis

[2021-03-17 20:50] stockholmux opened #362 "Replace tagline"
Some responses include the tagline 'You know, for search'. Given this is a new project, we should change this. I suggest 'Glad you found us.' which is the headline on the home page.

I believe the tagline is stored in [MainResponse.java](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/elasticsearch/action/main/MainResponse.java#L116). It appears this tagline is

[2021-03-18 21:00] adnapibar opened #400 "[BUG] Rename to OpenSearch has the distribution gradle task failing."
**Describe the bug**

As part of the renaming to OpenSearch work we find the `opensearch_distributions` gradle task is failing. Currently this is commented out in the build files - https://github.com/opensearch-project/OpenSearch/pull/397

**To Reproduce**
Uncomment the section for task `opensearch_distributions` in `OpenSearch/qa/remote-clusters/build.gradle`
Run `./gradlew clean`

The following

[2021-03-18 22:24] saratvemulapalli opened #404 "Geolite Database dependency"
Geolite database is used for testing GeoIP feature in OpenSearch, it has sample data to test against.
It uses mmdb  format built by Maxmind (https://dev.maxmind.com/geoip/geoip2/geolite2/).

Today we just depend on Elastic to get this information and we have to build our own sample data to remove the dependency.

[2021-03-19 15:23] nknize opened #417 "[Version] Rebase versioning to 1.0.0 with bwc support"
This issue documents the rebase of the versioning from the forked predecessor version 7.10.2* to OpenSearch 1.0.0.

### Existing Version Implementation

Versioning is essentially implemented as a class wrapper around a version id integer that provides a semantic API for relating between versions. The logic for the version id integer is XXYYZZAA where:

    * XX is major version
    * YY is minor v

[2021-03-19 18:56] adnapibar opened #420 "[BUG] Fix thirdPartyAudit gradle task for test/frameworks for OpenSearch."
**Describe the bug**
Currently the thirdPartyAudit task is failing for the test:framework module after renaming to OpenSearch.

[code]

**To Reproduce**

From the root directory, run

`./gradlew :test:framework:thirdPartyAudit --stacktrace`

**Expected behavior**
Task should pass.

[2021-03-20 02:37] setiah opened #430 "Setup Maven and Ivy repos for OpenSearch"
Some tests in BuildPluginIT.java depend on Maven and Ivy repos of OpenSearch

[2021-03-22 04:42] #362 closed, assigned to tlfeng

[2021-03-22 04:45] #338 closed, assigned to nobody

[2021-03-22 04:46] #189 closed, assigned to nobody

[2021-03-22 14:06] #160 closed, assigned to nknize

[2021-03-22 14:08] #156 closed, assigned to nobody

[2021-03-22 15:29] #111 closed, assigned to nobody

[2021-03-22 16:49] #50 closed, assigned to nobody

[2021-03-22 16:55] #105 closed, assigned to nobody

[2021-03-22 16:56] #44 closed, assigned to nobody

[2021-03-22 16:57] #138 closed, assigned to nobody

[2021-03-22 17:44] saratvemulapalli opened #441 "Test Failures on main"
Creating an issue to track all test failures on main

Reproduce with:
`./gradlew check`

**Tests with failures:**
- [x] - docker compose tests as in `qa`

- [x] org.opensearch.qa.die_with_dignity.DieWithDignityIT.testDieWithDignity #466

`:distribution:tools:keystore-cli` Muted by #469
- [x] org.opensearch.common.settings.UpgradeKeyStoreCommandTests.testKeystoreUpgrade
- [x] org.opensearch.common.

[2021-03-22 18:36] #108 closed, assigned to peternied

[2021-03-23 01:33] setiah opened #449 "Fix precommit check failures with missingJavadoc task"
**Describe the bug**
The `missingJavadoc` task in [javadoc branch](https://github.com/opensearch-project/OpenSearch/tree/javadoc) currently works well when run on its own (i.e. `./gradlew missingJavadoc`) but fails the precommit checks due to some wrangled gradle build logic. This can be reproduced by running `./gradlew precommit` on `javadoc` branch. The `validateNebulaPom` task, which is part of

[2021-03-23 18:01] #118 closed, assigned to nobody

[2021-03-25 22:34] #155 closed, assigned to nobody

[2021-03-25 22:39] #125 closed, assigned to nobody

[2021-03-27 06:00] adnapibar opened #468 "[UPGRADE] Minimum metadata format version for opensearch-keystore."
**Describe the bug**

The `opensearch-keystore` tool is currently failing to load and update older versions of keystores created using the `elasticsearch-keystore` tool.

This results in couple of failing tests for bwc and upgrade of the older versions of keystore files.

[code]

**To Reproduce**

Run `./gradlew :distribution:tools:keystore-cli:check`

**Expected behavior**

No test failures.

**A

[2021-03-29 19:25] Jon-AtAWS opened #472 "Change the "Master" nomenclature"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/opensearch-project/OpenSearch/issues/2589.

**Describe the solution you'd like**
Change all code, parameters, APIs, and documentation to refer to "leader" nodes instead of "master" nodes.

The goal is to have a consistent term to refer to this node function, while avoiding offensive language.

**Descr

[2021-03-30 05:18] setiah opened #473 "Supporting community contributed clients on OpenSearch"
The community contributed clients for Elasticsearch may not directly work for OpenSearch due to the refactoring and namespace changes. This issue tracks the task to support some popular clients on OpenSearch. We look forward to active community participation in closing this gap.

[2021-03-31 18:05] rguo-aws opened #476 "Create a new type of threadpool queue "SifiResizableBlockingQueue" to dynamically adjust write/search queue size in runtime."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Create a new type of threadpool queue "SifiResizableBlockingQueue" to dynamically adjust write/search queue size in runtime. This would allow other plugin to adjust write/search queue without restarting the OpenSearch process

**Describe alternatives you've considered**
n/a

**Additional contex

[2021-03-31 18:30] rguo-aws opened #477 "Add new threadpool executor with EWMA enabled"
**Is your feature request related to a problem? Please describe.**
The executor of our new SiFi resizable search queue is OpenSearchThreadPoolExecutor which unfortunately does not keep track of queueSize/EWMA execution time.

**Describe the solution you'd like**
We should ideally Add EWMA enabled threadpool executor for search/write queue to keep track of EWMA time of each request.

**Describe alt

[2021-04-01 00:35] #106 closed, assigned to nobody

[2021-04-01 00:49] #116 closed, assigned to nobody

[2021-04-01 05:05] getsaurabh02 opened #478 "[Meta] Shard level Indexing Back-Pressure"
**Is your feature request related to a problem? Please describe.**
Elastic search today provides few gating mechanism to protect a node when under a duress, via the concepts of queue rejections and circuit breakers. However, queue sizes are fixed, isolated and do not effectively represent the total work required to be done. Similarly, Circuit breakers acts as a last line of defence, are mostly too

[2021-04-01 10:25] dhwanilpatel opened #479 "Cluster Manager Task Throttling"
### **Is your feature request related to a problem? Please describe.**
For many cluster activities, data nodes submits tasks to master node. Like for put-mapping, create-index, shard started, etc. Sometimes due to **some bug or issue** Data nodes floods the master node with **too many tasks**, as a result we can see the spikes in pending task in master queue. This can affect master's performance,

[2021-04-02 05:45] mgodwan opened #485 "Cluster health should distinguish RED from "no master""
**Is your feature request related to a problem? Please describe.**
A RED cluster health means that there is either no master or else at least one primary is unassigned. However, since 7.0 there seems to be no simple way for clients to distinguish these two cases, and it would be useful to do so. For example:

a per-node health check should verify the node-level property of cluster membership, but

[2021-04-02 06:15] ashwinpankaj opened #487 "Constraints to de-prioritize nodes from becoming shard allocation targets"
**Is your feature request related to a problem? Please describe.**

In clusters where each node has a reasonable number of shards, when a node is replaced, (or a small number of node(s) added); all shards of newly created indexes get allocated on the new empty node(s). It puts a lot of stress on the single (or few) new node, deteriorating overall cluster performance.

This happens because the inde

[2021-04-05 11:00] itiyamas opened #491 "Decouple throttling limits for new and old indices"
Is your feature request related to a problem? Please describe.

When there are a lot of relocations in the cluster e.g. as a result of zone outages, shards created for new index are starved till ongoing recoveries complete, leading to yellow index. The new index remains yellow for longer duration. This increases the potential of dataloss even with a single node outage.

This happens because both n

[2021-04-05 11:11] harmishlakhani opened #492 "Unsafe Bootstrap Command with user defined cluster wide read_only block setting"
**Is your feature request related to a problem? Please describe.**
Sometimes Opensearch cluster faces quorum loss (half or more than half of master eligible nodes are lost). We have opensearch-node unsafe-bootstrap command which allow us to bootstrap cluster (but with some data loss). Many times Cx would not know about this data loss. One way to fix this is by restoring cluster from snapshot.

**D

[2021-04-05 11:51] dhwanilpatel opened #494 "Timeout on cat/stats APIs"
### **Is your feature request related to a problem? Please describe.**
On few Stats/Cat API, master undefinetly waits for response from data nodes. If cluster have bad node and is not able to respond to master calls, then such API calls stays in master memory. Frequent calls of such API will cause **memory pile up on master**.
We should make master resilient to such API calls when there is bad nod

[2021-04-06 18:00] adnapibar opened #500 "[Version] Rebase version for OpenSearch to 1.0.0"
This is the meta issue to track the effort for rebase versioning for OpenSearch as discussed in #417. The versioning work is being done in the feature branch `opensearch/rebaseVersion`. All PRs for this issue need to be created against this feature branch.

**Tasks**

- [x] Task `:rest-api-spec:yamlRestTest` FAILED (PR #501)
     - java.lang.IllegalArgumentException: unable to consistently parse [

[2021-04-07 18:13] itiyamas opened #504 "[BUG] Replica allocation throttled even when node_concurrent_incoming_recoveries limit is not breached"
**Describe the bug**
From the documentation,
[code]
Node initial primaries recoveries are counted towards total incoming recoveries on a node, which then throttles the replica recoveries into that node. This is incorrect as per the documentation since both limits are separately counted. Additionally, I don't see any reason why the two limits should interfere with each other.

**To Reproduce**
Step

[2021-04-08 05:02] meetshah777 opened #506 "Inefficiencies while fetching the delayed unassigned shards during cluster health"
**Is your feature request related to a problem? Please describe.**
During cluster health, to return the delayed_unassigned_shards count, OS iterates through all of the shards to filter for unassigned shards and adds them to an array and fetches the delayed unassigned shards count from the array. Normally this is not a problem, since the number of unassigned shards should be negligible. However, du

[2021-04-08 20:05] #100 closed, assigned to adnapibar

[2021-04-09 12:24] soosinha opened #511 "Make Remote Reindex plugin extensible for adding custom interceptor"
**Is your feature request related to a problem? Please describe.**

The remote index plugin only supports basic auth which is the authentication method in core Opensearch. We need to support other auth mechanisms like IAM and fetch the ephemeral credentials before invoking the remote reindex call. Also, we need to track metrics on the basis of whether the remote reindex call is successful or not.

[2021-04-09 17:24] #400 closed, assigned to nobody

[2021-04-09 20:09] #500 closed, assigned to nknize, adnapibar, harold-wang

[2021-04-09 20:32] #441 closed, assigned to adnapibar, abbashus, harold-wang

[2021-04-10 00:34] #90 closed, assigned to nobody

[2021-04-12 05:23] Bukhtawar opened #520 "Task Cancellation Enhancement"
**Is your feature request related to a problem? Please describe.**
The task cancellation results in a ban on child tasks and marking the task cancelled in the task manager, however if the child tasks continue to run without checking on the cancellation(it does so at some points) via `CancellableTask#isCancelled`, the list task API continues to show the task on the task manager without an indicatio

[2021-04-12 14:22] jainankitk opened #521 "Preventing increase in cluster pending tasks with number of shards during relocation"
**Is your feature request related to a problem? Please describe.**

We have observed that during forced relocation on a cluster with high number of shards(7K), the shard-started event(relocation complete status update task) takes a huge amount of time to execute(close to 4 seconds). With more number of relocation going on in the system due to forced relocation- this causes an increase in the pendi

[2021-04-12 18:16] nknize opened #524 "[DISCUSS] Required number of PR review approvals"
Opening this as a community discuss issue to solicit some thoughts and feedback.

Before PR's are allowed to be merged the OpenSearch repository enforces a **one** approval requirement while the OpenSearch-Dashboards repository enforces **two**. The technical reason behind this was to test the CI load under two different requirements. The most costly CI task is `./gradlew check` since it runs full

[2021-04-12 18:27] dblock commented on #524
@nknize what would be the non-technical reasons/advantages to ask for more than one approval?

[2021-04-12 18:35] bbarani commented on #524
I would recommend a 2 PR review to prevent malicious code. Especially for scenarios like these. https://www.zdnet.com/article/open-source-software-how-many-bugs-are-hidden-there-on-purpose/

[2021-04-12 18:43] nknize commented on #524
That's a good question @dblock! I'm curious what others think here and @bbarani raises one good reason. Another might be to try to discourage "buddy commits"?  I'm all for low friction, but I've seen a one approval requirement resulting in back-channeling a buddy to approve your PR so it can be quickly merged?

[2021-04-12 19:21] mikemccand commented on #524
I don't think there should be a hard minimum on the number of approvals required for change!

Rather, it should be at the discretion of the committer who pushes the change.  And each committer here can gracefully learn over time where that threshold/bar should be.

E.g. some PRs can and should go in, immediately, with zero approvals, such as a trivial change fixing a typo in a comment or exception

[2021-04-12 19:27] nknize commented on #524
So refreshing to see this kind of healthy dialogue in the open!

Great question!!! There's a WIP [discuss issue for that!](https://github.com/opensearch-project/OpenSearch/issues/95) that needs fixing and input from you folks that are much smarter than me!

SUCH an important point about OSS and transparency here! These definitely are not one-way doors and there is always room for improvement.

Ooo

[2021-04-12 20:04] mikemccand opened #528 "Confirm OpenSearch is running with a strongly configured JVM security manager by default"
Spinoff from #524:

The JVM security manager is an awesome security tool!  It is effectively a self-imposed jail, allowing you to express what things your JVM process is and is not allowed to do.  Tutorial: https://docs.oracle.com/javase/tutorial/essential/environment/security.html

I think Elasticsearch enabled the security manager by default, but I'm not certain.  @rmuir might know?

For this is

[2021-04-12 20:05] mikemccand commented on #524
+1, these are vital ground rules for building a healthy truly open community.

OK I opened #528 for this!

[2021-04-12 20:06] adnapibar opened #529 "[DISCUSS] Publish docker images to container registry."
Opened this issue to start a discussion on which container registries we should publish the OpenSearch docker images to. There are several options including Amazon ECR, Docker Hub (default and most popular), and GitHub Container Registry (public beta).  I would like to see community response on this.

Once we decide which one(or more), we can open separate issues to work on.

[2021-04-12 20:12] Bonitas commented on #529
I prefer GitHub. The pull limit on Docker is unfortunatly really annoying. Also, I expect even better integration into the GitHub ecosystem.

[2021-04-12 20:13] louwers commented on #529
Docker Hub for sure.

[2021-04-12 20:24] rmuir commented on #528
@mikemccand I took a look, it seems to be unconditionally enabled (also in tests). Look for calls to `System.setSecurityManager`, that is what turns it on. This is because policy processing is complex (e.g. involves user-configurable paths from yaml configs etc).

few notes about how it works from my memory:
* The core policy files are here: https://github.com/opensearch-project/OpenSearch/tree/ma

[2021-04-12 20:30] davido commented on #529
Docker Hub to start with.

[2021-04-12 21:27] aparo commented on #529
Docker Hub is the most common, but why don't publish it on different hosts?

[2021-04-12 21:31] rmuir commented on #528
I will try to do a pass on this stuff tonight and really confirm policies etc are good. cc @uschindler

[2021-04-12 21:35] uschindler commented on #528
I can definitely say that in the main security policy the folowo g lines are obsolete, according to: https://github.com/apache/lucene/blob/releases/lucene-solr%2F8.8.1/lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java#L385

The other stuff there is from pre Java9 early access releases. This is IMHO obsolete:

[code]

The second one may be moved to tests. Lucene core no longer used ra

[2021-04-12 21:40] uschindler commented on #528
BTW, the policy files have wrong license header, @nknize

[2021-04-12 22:03] dgomesbr commented on #529
Public ECR for overcoming the Docker hub pull limits.

[2021-04-12 22:04] DavidSpek commented on #529
Just stopping by to say that I would recommend against using the ECR public gallery. It is missing very many basic features for a public container registry, like viewing the digest hash in the UI or more importantly a publicly accessible endpoint to list the latest tags. See https://github.com/aws/containers-roadmap/issues/1262.

This has already caused problems for using automation tools such as

[2021-04-12 22:06] dgomesbr commented on #472
Suggesting `Main` instead of `Leader` as standard following https://github.com/github/renaming

[2021-04-12 23:11] rmuir commented on #528
I took a pass through all the files (core policies mentioned above, and every `plugin-security.policy`) and didn't see anything unexpected.

If you are worried about network connectivity, you can just `git grep SocketPermission` to your own satisfaction, but it looks reasonable to me.

[2021-04-12 23:24] rmuir commented on #524
I agree with @mikemccand, there should be one mandatory reviewer, and that's the automated one (github action, bot, whatever calling the appropriate gradle)

Java is so ripe for static analysis, but lots of projects don't even fail on warnings from `javac` (I haven't checked the setup here). At apache lucene, we also use the `ecj` compiler to do a separate pass since it has a bunch of additional c

[2021-04-13 00:39] nknize commented on #528
Opened PR #531 to fix the license header on the security policy files.

[2021-04-13 04:15] nknize commented on #524
I agree with this. The more "fail early" checks that can be automated the better, and leave the overall logic flow to human review.

There's quite a bit poached from lucene's build but a lot more that I think could be leveraged. Another area that could use some help. Spotless is used here so that helps for code consistency, and there's a [feature branch](https://github.com/opensearch-project/opens

[2021-04-13 04:45] ace03uec commented on #529
- Dockerhub should have a maintained copy, since it's the default for most projects.
- Pushes can be also be made to other registries for convenience. (Like rate limits etc)

[2021-04-13 07:08] DavidSpek commented on #529
Just remember that ECR also has rate limits according to the announcement.

“ Anyone who pulls images anonymously gets 500 GB of free data bandwidth each month after which they can sign up for or sign in to an AWS account. Simply authenticating with an AWS account increases free data bandwidth to 5 TB each month when pulling images from the internet.”
https://aws.amazon.com/about-aws/whats-new/202

[2021-04-13 08:03] geekygirldawn opened #532 "Create a community repo in the opensearch-project GH org"
Since there is no good place to file an organization-wide GitHub issue, I'm putting it here :)

Now would be a good time to create a separate “community” repo where you can put all of things that are common across both projects, like community meetings, governance, guiding principles, etc. Here’s a nice, simple [example from the Contour project](https://github.com/projectcontour/community).

I am

[2021-04-13 08:04] davidshtian opened #533 "Docs for OpenSearch?"
**Is your feature request related to a problem? Please describe.**
Yes, I believe users need to have docs to guide them install, configure and tune OpenSearch.

**Describe the solution you'd like**
Docs for users to read.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-04-13 09:35] rursprung commented on #95
you have the link to the apache versioning docs and they're talking about semver. would it make sense to also explicitly state that you'll be following https://semver.org/?

note that i'm all in favour of doing semver! i had already outlined my ideas here: https://discuss.opendistrocommunity.dev/t/versioning-concept-for-the-fork/5297/4

[2021-04-13 12:16] Hakky54 opened #535 "Extend RequestOptions with query params"
**Describe the feature**:
_Support for setting url query paramters within the RequestOptions object_

Recently I came to a point where I wanted a smaller search response. The reason why I wanted it was because of network latency, big search responses and not needed fields within the search response. By discarding specific fields the response would be smaller measured in kb.

This option is unfortu

[2021-04-13 13:01] geekygirldawn opened #537 "Maintainer areas of responsibility"
It would be great if we could also add people's areas of responsibilities to the new [MAINTAINERS file](https://github.com/opensearch-project/OpenSearch/blob/main/MAINTAINERS.md). This helps people understand which of these maintainers is responsible for a particular area. We could add this as a new column to the existing table or as a separate section of the file. I'm happy to do if someone wante

[2021-04-13 15:15] adnapibar commented on #529
Thanks everyone for taking part in the discussion. I agree that it's not a one vs other decision and we may eventually publish to multiple registries. However, the discussions do give us an idea where to focus our immediate efforts on and with the help of the community we will able to provide more options to our customers quickly afterwards.

[2021-04-13 16:20] adnapibar opened #538 "[TEST] Packaging Test Failures for OpenSearch Distributions"
**Describe the bug**

The packaging tests use Vagrant virtual machines to verify that installing and running OpenSearch distributions work in supported operating systems.

Currently packaging tests are failing for OpenSearch distributions.

**To Reproduce**

- Make sure Vagrant is installed
- Run `./gradlew packagingTest`
- Or run a specific individual packaging test

- [x] packaging tests for tar

[2021-04-13 16:50] jkowall opened #539 "[Proposal] Query Profiling"
### Requirements - What kind of business use case are you trying to solve?

- Fixing performance issues on OpenSearch is difficult, this is due to limited observability within the database itself.
- In order to take action or understand the performance and behavior of the database we need to understand the workload that a specific node or cluster is running.
- This data would be collected in a sam

[2021-04-13 16:54] sharp-pixel commented on #472
I believe the context is very different between master/main branch in a repo and master/leader node. Master nodes are not the main nodes in the cluster.

[2021-04-13 16:56] sharp-pixel commented on #472
@Jon-AtAWS , you mention code and parameters, should we update cluster settings and APIs as well (e.g. /_cat/master)?

[2021-04-13 17:28] Jon-AtAWS commented on #472
Ideally, we would change from master/(slave - implied) terminology across the board. So, yes, changing the _cat APIs as well.

Also, I agree "main" doesn't really fit for me. The function of the nodes is to hold and broadcast state, so "manager" is a close second for me.

[2021-04-14 05:49] jvmlet opened #542 "Spring Data for ElasticSearch support / collaboration"
Hello
What are OpenSearch team plans with  respect to  [SpringData for ElasticSearch]( https://github.com/spring-projects/spring-data-elasticsearch) support ?
Would you be interested in supporting smooth integration by  contributing  directly to  the repo/ forking it/ designing common abstraction over ES and OS  with DATA ES team ? ([back reference](https://github.com/spring-projects/spring-data-e

[2021-04-14 05:52] itiyamas opened #543 "[DCO checks] Merge commits fail DCO checks"
**Describe the bug**
Merge commits in my [PR](https://github.com/opensearch-project/OpenSearch/pull/505#issuecomment-817507888) fail DCO checks. The PR was created on an old revision. Git provides an option to "Update branch" on the PR. When I clicked it, the DCO checks started failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fork from Opensearch- let's call it Opensearch/it

[2021-04-14 06:01] mihirsoni commented on #543
To avoid merge commits use the `git pull --rebase` and if still prefer the merge you may want to sign the merge commit using `--amend`

[2021-04-14 06:10] ytfi commented on #472
The terminology 'control plane' used in the kubernetes project might be more accurate than main.

---
https://kubernetes.io/docs/concepts/overview/components/

[2021-04-14 06:15] itiyamas commented on #543
Got it. Will try it. However, I believe that the github option is much simpler and anyone would rather click the easier "Update Branch" option, than doing a rebase or amend on their dev boxes. As a result, other folks may also run into the same issue that I faced. Any way of fixing that issue?

[2021-04-14 06:19] ruanwenjun opened #544 "Getting Started"
Hi, is there any document about how to get started with OpenSearch. Specifically, how can I deploy, thanks.

[2021-04-14 06:26] mihirsoni commented on #543
Agreed. That is down side. Github Website currently doesn't support signing [AFAIK](https://docs.github.com/en/github/authenticating-to-github/signing-commits). So to use that, you may still use GH `Update feature` branch and then sign locally with `--force` push on local branch.

[2021-04-14 06:54] itiyamas commented on #543
I tried using --force push option. Somehow my PR is lost now. The page results in a `Github error.`

[2021-04-14 07:41] jainankitk opened #545 "RestHighLevelClient#bulk error: [org.opensearch.common.ParsingException: Failed to parse object: expecting field with name [error] but found [message]]"
**Describe the bug**
See the following exception for few request on the cluster:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screensho

[2021-04-14 09:21] geekygirldawn commented on #537
@CEHENKLE - Maybe this is something that you could help me with?

[2021-04-14 09:25] geekygirldawn commented on #532
@stockholmux Maybe this is something you could help me do?

[2021-04-14 10:12] itiyamas commented on #524
I think we should define maintainer areas of responsibility as suggested here #537.

We have good documentation on how and when to create a PR. But what happens once the PR is raised is missing. e.g. after how long should I wait to follow-up for starting gradle checks or what is the criteria to start it? How is a reviewer selected for a particular module? Once a PR is approved by seasoned reviewer

[2021-04-14 11:02] itiyamas commented on #545
Can you clearly mention what is the client version that you are using here?
A clear set of steps to reproduce this error would also help!

[2021-04-14 11:56] jkowall commented on #544
Hello @ruanwenjun try looking at the dev guide https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md

There will be a packaged build soon, but for now you must build OpenSearch and OpenSearch Dashboards yourself.

[2021-04-14 13:05] j-klemm commented on #529
Agree with @davido that Docker Hub makes sense in the short term. Although Amazon ECR will be helpful for those of us keeping things in the Amazon ecosystem.

[2021-04-14 13:05] soosinha opened #550 "Remove whitelist check for Remote Reindex"
**Is your feature request related to a problem? Please describe.**
The current functionality of reindexing from a remote cluster requires the user to whitelist the IP address of a host from the remote cluster in the the opensearch.yml of the local cluster. This setting cannot be modified dynamically using cluster settings. So this is a pain point for the user as IP address needs to be changed in t

[2021-04-14 13:23] dhwanilpatel opened #551 "Cancellable transport calls to data node for Cat/Stats API."
### **Is your feature request related to a problem? Please describe.**
On few Stats/Cat API, master collects data from the data nodes. If there is bad node in cluster and if it is not able to respond to this master calls, then this calls will be piled up on data node. Now data node was already in bad shape and was not able to respond to master node calls, then such pile up calls from this Stats/Ca

[2021-04-14 13:38] nknize commented on #537
This is interesting. What's the motivation? I can see the natural human desire to classify "typical duties" to understand and maybe communicate a complex community dynamic but I'm curious the unintended consequences of imposing these types of labels or "job jar" classifications on contributors (or potential and flyby contributors). My "area of expertise" is spatial indexing and analysis. Does that

[2021-04-14 14:10] stockholmux commented on #532
@geekygirldawn First, I don't have the ability to create a new repo directly. It's a process (like everything). I have the ability kick the process off, but I don't have a button to click.

Secondly, I'm generally supportive. One blocker is that we had a community repo for Open Distro that was recently moved to become a [sample-code repo](https://github.com/opendistro-for-elasticsearch/sample-code

[2021-04-14 14:11] nknize commented on #543
I think this topic should be captured in the [CONTRIBUTING.MD](https://github.com/opensearch-project/OpenSearch/blob/main/CONTRIBUTING.md) if it isn't already.

Just a few quick notes and maybe some helpful tips. Try to avoid using `--force`. Instead use `--force-with-lease` (here's a good [blog post](https://blog.developer.atlassian.com/force-with-lease/) on the topic).

Also, I've shared with th

[2021-04-14 14:19] adnapibar commented on #87
@CEHENKLE Can this be closed  (Resolved by #510) ?

[2021-04-14 14:20] itiyamas commented on #543
Thanks for the suggestions, Nick- really helpful! I am assuming that the above suggestions are not going to help with merge commits issued via "Update Branch" option on github. Please confirm.

[2021-04-14 14:22] adnapibar commented on #91
This is resolved by #483 - can this be closed?

[2021-04-14 14:24] spotrh commented on #532
I don't think having a repo for "documentation that spans all of OpenSearch" is a bad thing, though, I do wonder if people who just go to a single OpenSearch subproject will think to look for it in a separate repo. I suppose pointing to it from all the subproject READMEs could work (but notably, Contour does not do this).

[2021-04-14 14:27] spotaws commented on #532
Reposting from my aws account (too many accounts):

I don't think having a repo with docs that span the entire OpenSearch community is a bad idea, though, I do wonder if people visiting a specific OpenSearch project repo will think to look for a separate repo for community docs. We could point people there from all the READMEs, but Contour doesn't do that, as an example.

[2021-04-14 14:31] itiyamas commented on #521
Original stalled issue created with Elastic: https://github.com/elastic/elasticsearch/issues/27427

[2021-04-14 14:47] nknize commented on #532
It would be great if the docs lived on opensearch.org (asciidoc, markdown, whatever) w/  concrete implementation in the project-website or separate {to_be_named} repo.

Something [like this](https://lucene.apache.org/site-instructions.html)

[2021-04-14 14:52] getsaurabh02 commented on #537
I agree with @nknize idea of not classifying experts or area owners. However, at the same time we should also think of how to increase traction of maintainers on PR which let's say is already reviewed by a fellow reviewer, and is awaiting merge. Pinging/tagging on the PR is one option, but is again debatable. Else should we have more explicit labels/tags classifying a feature/area to help maintain

[2021-04-14 14:52] stockholmux commented on #532
@spotaws Good point. One thing I learned from Open Distro is that github orgs with lots of repos that move frequently are confusing for new folks. This will be the case once the Open Distro plugins get integrated into the same org.

I'm wondering if a `start-here` repo  ([example](https://github.com/dwyl))might make sense? Pinned at the top of the org (along side `opensearch-project/OpenSearch` an

[2021-04-14 15:26] jkowall commented on #544
You can assign to me, or just close this as we've fixed this in #549 thx!

[2021-04-14 15:27] jkowall commented on #550
While we are at it, we should probably rename "whitelist" to "allowedlist" :)

[2021-04-14 15:33] geekygirldawn commented on #532
Most of the projects that I contribute to have a community repo, so I do think it's something that people know to look for, and is pretty much a standard at this point. It's a great place to start defining roles and helping people understand how they can get involved and eventually move up in the project ([Contributor Ladder](https://github.com/cncf/sig-contributor-strategy/blob/master/contributor

[2021-04-14 15:34] jkowall opened #554 "[BUG] Cannot run OpenSearch "A problem occurred evaluating project ':benchmarks'.""
**Describe the bug**
The gradle run process is not working. I have tried on clean installations of Ubuntu 20.04.02 and 20.10

**To Reproduce**
Steps to reproduce the behavior:
1. Install ubuntu version
2. apt install git openfdk-14-jre
3. git clone https://github.com/opensearch-project/OpenSearch.git
4. ./gradlew --stacktrace run
 (works as expected, downloaded Gradle 6.6.1)

[code]

**Expected be

[2021-04-14 15:46] geekygirldawn commented on #532
I'd recommend that this be just markdown, not runnable code. All of these will change frequently in the first few months as the community grows and you start to build out all of these things with the community's help.

I think the best way to visualize this is through examples, and use the best of what works for other projects.

This is a [good example of a meeting schedule](https://github.com/pro

[2021-04-14 15:51] geekygirldawn commented on #532
@jcgraybill said ...

I've not seen this issue in other communities that I've been a part of. Generally, one of the first things in the community repo README should be details about communications and where to go for discussions, which in this case would be the forums.

[2021-04-14 15:58] stockholmux commented on #532
@geekygirldawn OK. Personally, I don't have any problems with the content of what is being proposed. I do think there is some value in having the principles duplicated on each README though (for visibility).

Prior to launch the team decided that the website was the [holder of the canonical principles copy](https://github.com/opensearch-project/project-website/blob/main/_data/principles.yml) (alth

[2021-04-14 15:59] spotaws commented on #532
I think "no code" is fine for a community documentation repo.

[2021-04-14 16:00] geekygirldawn commented on #532
@stockholmux said ...

I think most of the runnable code in those repos is for automation of various tasks, which isn't something we'd need. I think a no-code policy in this repo makes total sense.

[2021-04-14 16:13] jcgraybill commented on #532
It looks like a lot of the docs we're talking about hosting in a community repo are thing we'd want to also make available on the website. Governance docs, SOPs, meeting schedules, principles & tenets. If we use the [project website](https://github.com/opensearch-project/project-website) as their home, it seems like we get both: easy to edit & discuss, and easy to read.

[2021-04-14 16:15] adnapibar commented on #554
@jkowall How many CPUs have you got on that machine?

[2021-04-14 16:29] nknize commented on #537
I really truly hope so! For now the way the automated tooling is set up makes this a bit tricky. Then there's the added headache of requiring gradle check for simple PRs like documentation changes. Under the automation approach, a 40 minute CI job will be kicked off when a maintainer approves a spelling correction in README. :man_facepalming:

In the meantime, contributors have to wait for a small

[2021-04-14 16:34] ruanwenjun commented on #544
@jkowall Cool

[2021-04-14 16:34] #544 closed

[2021-04-14 16:35] nknize commented on #532
:100:  Something [like this](https://lucene.apache.org/site-instructions.html)

Also, there is a wealth of good developers that sparsely visit forums for various reasons. :raised_hand_with_fingers_splayed:   I'm often "guilty" of this and have to be pinged to weigh in on implementation questions or bugs. My personal reasoning (whether right or wrong) is that the code lives in the repo and I like t

[2021-04-14 16:36] peterzhuamazon commented on #543
Update Branch option did not work as it does not add your sign-off.
This is purely a GitHub issue, and we have reduce the occurrence of Update Branch by disabling `Require branches to be up to date before merging` in the repo settings.

If needed, we can add the lines that Nick proposed to CONTRIBUTING.MD as guideline.

[2021-04-14 16:37] nknize commented on #543
:point_up: what @peterzhuamazon said. :)

[2021-04-14 16:45] geekygirldawn commented on #532
I think it's important to think about the difference between building a community of users (which OpenDistro has done) and building a community of contributors, which is what I'm hoping we'll do here. Users tend to go to the website and forums. Contributors tend to live in the repo and expect to find things there. It's 2 completely different audiences and 2 different communities, and we need to me

[2021-04-14 16:55] stockholmux commented on #532
I'm less convinced that `project-website` should be merged with this effort. As a new person approaches the repo, it could be quite confusing to see all the required Jekyll stuff.

The other issue is the change model - the website repo should be able to change rapidly with pretty light weight reviews. Changes to documents like governance or principles are the opposite - almost never changing and c

[2021-04-14 16:59] itiyamas commented on #543
Got it. Closing it.

[2021-04-14 16:59] #543 closed

[2021-04-14 17:12] jcgraybill commented on #532
Great point. I'd expect that especially in the early days while these communities are coming together, there's probably going to be considerable overlap between the two. I'd love to not rush into drawing boundaries and pushing people who could happily exist as both-contributors-and-users for a good long period of time into choosing a side, or optimizing for one group at the expense of the other. H

[2021-04-14 17:14] abbashus commented on #430
@setiah can this be closed? Did we have the `http://s3.amazonaws.com/artifacts.opensearch.org/maven` and `http://s3.amazonaws.com/artifacts.opensearch.org/ivy` repos setup?

[2021-04-14 17:22] abbashus commented on #360
The content renaming was fixed by #432.
The url renaming and leftover renaming is fixed by #530.

[2021-04-14 17:33] nknize commented on #532
100%!  I'm curious how having that info in a markdown or asciidoc on a repo that's also referenced by the website does not technically achieve that? IMHO, it feels like the best of both worlds. Contributors can reference it in the repo and users can reference that same doc (w/ CSS sugar) on the website?

Like Jules I'm very curious what other seamless approaches are taken by other orgs and communi

[2021-04-14 17:38] jkowall commented on #554
@adnapibar Changed the VM to use 2 CPUs and all is working. Probably should add that to requirements if we think that's necessary.

Let me know, I can submit a PR.

[2021-04-14 17:50] rmuir commented on #554
This happens to me as well on real hardware (2 cores, 4 threads). Its definitely a bug in the build. I work around it by adding `-Ptests.jvms=4`. Super strange since i already have that exact line specified in `~/.gradle/gradle.properties`...

[2021-04-14 18:10] shwetathareja commented on #492
@harmishlakhani can you please update the description of the issue with these details as it is not clear why we want to introduce read_only block during unsafe-bootstrap

[2021-04-14 20:18] dblock commented on #95
What does Lucene do in terms of release process and versioning? @nknize

[2021-04-14 20:34] mihirsoni commented on #95
Hi @dblock Lucene follows the main being always next major version.

i.e if it starts with 1.0 the main will be 2.0 and have corresponding branch for 1.x. All new features goes in to main and then get back ported to 1.x.

[2021-04-14 22:31] jkowall commented on #554
When I changed my VM to 2 CPUs it worked fine.

[2021-04-14 22:31] #554 closed

[2021-04-15 06:00] soosinha opened #560 "[Discuss] Metrics Plugin for Cross Cluster Search"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to track the cross cluster request/connection metrics. The connection from local to remote cluster is tracked in the local cluster using the remote cluster alias provided in the settings. But there are no metrics tracked along with the connection. We would like APIs to obtain the following information:
- T

[2021-04-15 06:47] itiyamas commented on #487
If it is disabled by default due to
- a stability issue, let us enable it by adding more tests.
-  a performance problem you foresee, let us add more JMH benchmarks to work around it or solve the performance problem.
- the fact that some use cases may not work well, let us identify those and find a solution for all use-cases.

[2021-04-15 06:48] swartz-k opened #561 "[Discuss] Easy Way to Deploy in Single/Cluster Mode."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Support an easy way to start OpenSearch in local machine or K8S, such as docker compose、Helm Chart or something

**Describe alternatives you've considered**
Support Helm Chart and docker deploy docs

[2021-04-15 06:56] swartz-k commented on #560
Maybe Prometheus Metrics and Traces will be helpful？

[2021-04-15 08:23] geekygirldawn commented on #532
My focus is more on the contributor side than on users, so I mostly care about what we have in the repo, since that tends to be the focus for contributors.

With that said, I think pulling some of content from the community repo onto the website might make sense for some common items, but this should be done a bit carefully. Knative has been pulling all of the content from the community repo to di

[2021-04-15 09:39] geekygirldawn commented on #537
@nknize I think maybe we're talking about 2 different things. I'm definitely not talking about putting people into "job jars" or "stove-piping". The motivation for my suggestion is to help the rest of us outside of Amazon better understand the maintainers and what they are likely to be working on. The key here is likely and not exclusively. Having a bit more info helps the rest of us:
* understand

[2021-04-15 12:55] ahoogol opened #562 "Lightweight Elasticsearch"
Our team is developing and supporting a desktop application that can be installed on a wide range of systems from weak to strong and works offline (without internet or any network) in these systems.
The application requires a search engine with all the features of Lucene with an independent language API such as elasticsearch. The search engine should be installed offline with the application in th

[2021-04-15 16:14] philoserf opened #563 "Cut an initial GitHub release"
As a OpenSearch user
In order to use the source
I need a release target

[2021-04-15 16:52] stockholmux commented on #561
@swartz-k This is for Open Distro, but would something like the steps listed [here](https://opendistro.github.io/for-elasticsearch/downloads.html#try) meet your need if they applied to OpenSearch?

[2021-04-15 16:58] stockholmux commented on #533
@davidshtian I know there are folks working on this type of documentation and more. Let me ask you this:

What's the priority for you as far as docs? Is it just install/configure/tune?

[2021-04-15 18:10] #535 closed

[2021-04-15 18:57] nknize commented on #563
Can you expand a bit on "release target"? e.g., Are you wanting a date the artifacts will be available in maven central? We currently have a PR open to merge the [opensearch/rebaseVersion](https://github.com/opensearch-project/opensearch/tree/opensearch/rebaseVersion) feature branch to main which will be backported to 1.x then version bumped to 2.0.0 in main.

You can build the artifacts yourself

[2021-04-15 20:08] mikemccand commented on #524
Some quick followups/corrections about my statement from above:

  * It is Kibana (NOT Elasticsearch) that has the "phone home" feature
  * This feature is indeed *enabled* by default as described here: https://www.google.com/url?q=https://www.elastic.co/guide/en/kibana/master/telemetry-settings-kbn.html%23telemetry-general-settings&sa=D&source=hangouts&ust=1618598703063000&usg=AFQjCNH9NoIuADga_Vg

[2021-04-15 21:33] nknize opened #566 "[Version] Remove unused V_EMPTY version label"
This issue is created as an offshoot of https://github.com/opensearch-project/OpenSearch/pull/555#discussion_r614403704. It appears the `V_EMPTY` version and companion id variable is not used anywhere and can be removed. We opted to take care of this in a follow up issue to ensure there aren't any adverse side effects.

[2021-04-15 21:50] swartz-k commented on #561
Sure. But if possible we wanna deploy it on k8s, so Helm may be needed too. And also we would like to contribute and make this project more successful.

[2021-04-16 05:52] adnapibar opened #567 "Remove the OSS string from OpenSearch distributions"
**Description**

Current distributions of OpenSearch contains the string `oss` which is a remnant of the distribution flavors from Elasticsearch. Previously, we have removed the flavor support (#104) along with the `default` flavor.

We should remove the `oss` tag from all the distributions to avoid any ambiguity.

[2021-04-16 11:55] DarkPegions opened #568 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-16 13:24] davidshtian commented on #533
Thanks for the reply~ For docs, it would be better to have at least _install - configure - management - tuning_ covered.

[2021-04-16 13:41] geekygirldawn commented on #563
@nknize I think most people would expect to find releases published on GitHub here: https://github.com/opensearch-project/OpenSearch/releases

Since the README says that the project is currently in the Alpha stage, I would expect to see an alpha release (or likely several with point release updates) published at the GitHub link above.

[2021-04-16 14:03] dblock commented on #114
We've initially forked, but chose to, for now, archive securemock, mocksocket and jna-build.

- mocksocket can likely be upstreamed to Mockito (https://github.com/opensearch-project/securemock/issues/2)
- jna-build output can likely be replaced by jna proper )https://github.com/opensearch-project/jna-build/issues/3)

[2021-04-16 15:06] adnapibar commented on #568
@DarkPegions did you create this issue by accident?

[2021-04-16 15:09] rmuir commented on #563
you just need to push a tag to do this.

[2021-04-16 15:27] nknize commented on #563
ah! That's what was meant by release target! Thank you for proposing this. I think it's a simple great idea!

[2021-04-16 15:34] nknize opened #570 "Introduce new sandbox module"
A real nice feature of Lucene that keeps the innovation moving forward is the sandbox module. I'd like to propose adding one here to provide contributors a safe package location to try out `@opensearch.experimental` features.

Aside from ensured security (as a by product of the release process) this module will not have any other guarantees; no backwards compatibility, no long term support, can be

[2021-04-16 15:39] mikemccand commented on #570
+1 this is a great idea!  Lucene's sandbox module has been a real innovation amplifier over the years.  Just look at the git history...

E.g. Lucene's dimensional points started there!

[2021-04-16 16:54] nelsonVE commented on #529
Docker Hub 100%

[2021-04-16 17:55] jklc17 opened #571 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-16 17:57] #571 closed

[2021-04-16 22:02] jklc17 opened #573 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-16 22:02] #573 closed

[2021-04-17 06:11] DarkPegions commented on #568
Yes it was accident

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Rabi Panda ***@***.***>
Sent: Friday, April 16, 2021 12:07:12 PM
To: opensearch-project/OpenSearch ***@***.***>
Cc: DarkPegions ***@***.***>; Mention ***@***.***>
Subject: Re: [opensearch-project/OpenSearch] [BUG] (#568)

@DarkPegions<https://github.com/DarkPegions> did you create this issue

[2021-04-17 07:56] forNoor commented on #562
This is a great suggestion
OpenSearch can be a search engine for all desktop applications.
I think that this suggestion should apply in OpenSearch architecture

[2021-04-17 08:13] forNoor commented on #562
I looked at the latest version of Elastic.
Its size in Windows is about 500 MB.
The modules folder has a volume of 175 MB
And a JDK folder with a volume of 260
This size is really large

[2021-04-17 12:56] danesh110 commented on #562
Although ElasticSearch can be used in some clients, it is actually a server-based search engine and is designed, optimized and tested for servers and not recommended to be used on the client-side.
I think a client-based search engine is an essential need for many apps.
If it was possible to have OpenSearch on the client-side with the same API as the server-based version, it would be very nice and

[2021-04-17 15:41] umpa385 commented on #529
agreed on docker hub, especially for alpha. Easy to spin up and test

[2021-04-17 15:59] jklc17 opened #574 "Maybe OP can be updated -- to mention the :00-:10 and :30-:40 plan?"
Maybe OP can be updated -- to mention the :00-:10 and :30-:40 plan?

_Originally posted by @pradyunsg in https://github.com/pypa/warehouse/issues/3411#issuecomment-376792786_

[2021-04-17 17:53] #568 closed

[2021-04-17 20:33] aparo commented on #562
@ahoogol What are you suggesting cannot be done with ES/OS code.
If you check on source code, you'll find that by design every action is a cluster/node one. It's not possible remove cluster/node code from ES/OS codebase. It's by-design distributed.
My suggestion is to use a simpler implementation at top of Lucene to achieve what you need.

[2021-04-17 20:42] morsik commented on #472
@Jon-AtAWS words are not offensive by themselves! It's time to start learn that finally!
There is nothing offensive in word "master" which here refers *only* to software. Don't change things that work. Don't bring stupid naming, because someone told you so.

Eh, this talk again…

Simple example: If I shout at friend in a friendly-laughy-way: "hey, stupid!" it won't be offensive. But If I should: "

[2021-04-18 17:53] shwetathareja commented on #487
+1 lets enable this setting by default as there is value for customers to keep it enabled, it would prevent hot node issues and un-necessary shard movements as shards are evenly distributed for newly created index across all nodes. The setting would provide extra control to customers in case they see some degradation. At later point, we should see to deprecate this setting altogether.

[2021-04-19 06:12] ahoogol commented on #562
@aparo Thanks for your reply.
You are right, at first glance, it is better to use another implementation at top of Lucene.
But which implementation can easily bring these important advantages:

1. From a desktop application point of view, switching between ElasticSearch instances in client and server is as simple as changing a http url but in Lucene this is not possible to use it as server.
2. We

[2021-04-19 13:16] dblock commented on #562
@ahoogol I see a parallel with the discussion between, say, SQLite and MySQL. Would you want the engine to be embedded into a desktop/client application (SQLite), or are you thinking it could be a pre-requisite to be installed (MySQL)?

[2021-04-19 13:31] sercasti commented on #472
I think this issue should be closed and ignored.

If you change it to "manager", someone else will show up saying "I was raped by my manager 7 years ago, this word is offensive to me, change it"

If you change it to "leader", someone else will show up saying "my mother was abducted by a cult, and murdered by their leader, this word is offensive to me, change it".

Every minute we spend with this s

[2021-04-19 14:22] stockholmux commented on #472
On behalf of the maintainers of the project I agree that the term 'master' may be offensive to some people. [This project is committed to being a community where everyone can join and contribute. This means using inclusive and welcoming language](https://github.com/opensearch-project/OpenSearch/blob/main/CODE_OF_CONDUCT.md). The repo defaults to main for the branch and, in a similar vein, supporti

[2021-04-19 14:25] dblock commented on #472
Thanks @stockholmux. I would kindly ask for future comments to please be limited to technical arguments, and we really appreciate all your suggestions and thoughts and contributions.

[2021-04-19 14:35] Jon-AtAWS commented on #472
Thanks for the replies, folks. I appreciate that this is a possibly difficult, and politicized discussion. I want to encourage everyone to stick with the technical. And I want to +1 @stockholmux's comment above on a commitment to inclusivity.

[2021-04-19 14:45] morsik commented on #472
@Jon-AtAWS sorry, but I just don't see how "inclusivity" connects with some people's personal problems with wrong understanding of word in this context. And @sercasti has point here. Any word can be offensive to anyone. If "world" decides one day that >any other word< is offensive, will we go with this bullshit over and over again?

You can't make everyone's happy - that's unwritten rule to this w

[2021-04-19 17:00] rmuir opened #577 "[TEST BUG] NodeJoinControllerTests.testRejectingJoinWithIncompatibleVersion is flaky"
This test fails about 50% of the time. It seems to have the following logic flow:

[code]

One of these things always fails with 0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0 :) IMO it should simply be split into two separate tests.

[2021-04-19 17:02] rmuir opened #578 "[TEST BUG] SearchServiceTests.testSearchWhileIndexDeleted extremely slow"
This unit test is very slow (e.g. hundreds of seconds). Iterations or number of nodes or whatever should be toned down.

[2021-04-19 17:04] rmuir opened #579 "[TEST BUG] SnapshotResilencyTests.testSnapshotPrimaryRelocations very slow"
This test is extremely slow (hundreds of seconds). The number of nodes, indexes, or iterations should be toned down.

[2021-04-19 17:36] dblock opened #581 "Publish Artifacts to Maven Central"
**Is your feature request related to a problem? Please describe.**

Publish -SHAPSHOT artifacts to Maven central so that plugin developers can be using them.

**Describe the solution you'd like**

A way for plugin developers to take a dependency on a -SHAPSHOT. Currently requires building OpenSearch and all dependencies, and publishing to local maven. See https://github.com/opensearch-project/open

[2021-04-20 04:24] deepankarmalhan commented on #529
I would agree with Docker Hub to start with too since corporate environments night not to be set up to pull from GH or other registries and Docker Hub is a safe bet to start with.

[2021-04-20 09:07] errazudin commented on #529
DH

[2021-04-20 10:41] ahoogol commented on #562
@dblock If I understand what you said, it would be better if Elasticsearch can be embeded in a client application.

[2021-04-20 13:17] dhwanilpatel commented on #479
Breaking changes in multiple PR:

- [ ] Add Master task throttling changed in data/master nodes(#553)
- [ ] Add Throttling Stats on Stats API
- [ ] Add Documentation of new Settings.

[2021-04-20 16:27] #567 closed

[2021-04-20 19:57] abbashus opened #583 "Remove all elastic.co references from javadocs"
**Description**
We want to remove any references to urls with elastic.co from javadoc comments.

For example:`See <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster.html">Cluster API on elastic.co</a>` in client/rest-high-level/src/main/java/org/opensearch/client/ClusterClient.java

[2021-04-20 20:43] jklc17 opened #584 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-20 20:56] jklc17 opened #585 "No comment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-20 23:00] CEHENKLE commented on #574
Hi -- I think we may have been tagged in here in error?

Thanks,
/C

[2021-04-20 23:24] CEHENKLE commented on #585
@jklc17 Hi, let us know if you're having a problem.  Thanks!
/C

[2021-04-21 05:11] #583 closed

[2021-04-21 17:47] dblock opened #594 "[DEV] Allow developers to have a local/modify opensearch.yml or ENV"
**Is your feature request related to a problem? Please describe.**

I was trying to figure out how to expose 0.0.0.0 from my EC2 test instance on which I do development. What worked was to run `./gradlew -Dtests.opensearch.http.host=0.0.0.0 run`.

**Describe the solution you'd like**

I'd like to be able to do any (combination) of these:

a) modify `distribution/src/config/opensearch.yml` or anoth

[2021-04-21 18:31] thalurur opened #596 "[BUG] Failing unit tests upon integration with 1.0.0"
**Describe the bug**
IndexManagement plugin unit tests are failing after depending on `1.0.0` version of OpenSearch built using latest commit in main branch [commit](https://github.com/opensearch-project/OpenSearch/commit/97698e082cff46ff264c9dc48fa79975d18fcbe5)

Seeing a lot of `java.lang.NoClassDefFoundError` errors.

**Sample errors**
[code]

**To Reproduce**:
* Pull the OpenSearch main branch

[2021-04-21 19:12] #585 closed

[2021-04-21 19:20] dblock opened #597 "[BUG] Manual `start gradle check` is required to merge anything"
**Describe the bug**

Before PR's are allowed to be merged the OpenSearch repository enforces running a CI task, `./gradlew check`, which runs full unit, integration, smoke, and varying cluster tests. This takes a very long time and consumes a lot of resources. To avoid becoming a bottleneck we introduced a manual `start gradle check` that a maintainer can kick off by adding a comment to a PR once

[2021-04-21 20:47] peterzhuamazon commented on #597
Hi @dblock,

Thanks for the feedback on this.

I would not call it a bug, it is a design decision that we take, and for the time being it serves the CI by allowing admins to manually give a trigger to the check.

Automated trigger would add unnecessary blocks and checks such as running `gradle check` for pure documentation changes and such. It will also have issues when your previous check failed

[2021-04-21 21:28] CEHENKLE commented on #542
@jvmlet Hey, thanks for bringing this up.  It seems like an amazing project..  Right now, we've got our hands full getting OpenSearch to General Availability, but I'd absolutely love to see someone else in the community run with it.  If someone else wants to tackle it, we would be happy to review PRs and generally provide consultation.

You also might want to put up a forum post (https://discuss.o

[2021-04-21 22:18] tlfeng commented on #584
Hi @jklc17,

Please free feel to tell us if there is any issue.
We will close this issue shortly if it was created by mistake.

Tianli

[2021-04-21 22:49] dblock commented on #597
@peterzhuamazon a possible improvement related to this would be to allow admins to do `skip gradle check` for PRs that don't have code changes such as .md files. Right now I am keeping #595 in draft collecting enough meaty changes to avoid wasting time in these

[2021-04-22 00:02] setiah commented on #528
I am taking a deeper look into this and here are some of the initial findings summarized. I will keep posting more here as I look deeper.

### OpenSearch security initialization flow during bootstrap
* JVM starts
* Read configuration file
* [Apply system call filter](https://github.com/elastic/elasticsearch/blob/5baabff6670a8ed49297488ca8cac8ec12a2078d/server/src/main/java/org/elasticsearch/bootst

[2021-04-22 00:13] peterzhuamazon commented on #597
@dblock The CI never triggers until you start gradle check. The reason you see the check in check tab is due to GitHub allows you to label a check as `required` or `not required`. In order to prevent reviewers forgetting about the gradle check, we label it as required, but you can always overwrite the merge without running the check if you are repo admin.

As of now I dont see a way to label check

[2021-04-22 00:14] adnapibar commented on #577
Thanks @rmuir for reporting this.

I have identified the change in [L610-L616](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/test/java/org/opensearch/discovery/zen/NodeJoinControllerTests.java#L610-L616) made by me in #555, introduced the issue.  For example, in this change,

`badVersion = randomFrom(allVersions().stream().filter(v -> v.major < Version.CURRENT.major).collec

[2021-04-22 04:42] tlfeng commented on #596
Hi @thalurur,

I didn't manage to reproduce the test failure. 🤔
There are many dependencies of Index Management plugin: `OpenSearch`, `Job Scheduler SPI`, `notification (in Alerting pluign)` and `common-util`, they are all come from my local maven repository, through the guide here: https://github.com/opensearch-project/opensearch-plugins#publish-opensearch-to-maven-local

Could you try again with

[2021-04-22 04:58] #584 closed

[2021-04-22 12:16] rmuir commented on #528
@setiah yes, thats a great summary! To answer some of your questions:

I don't see a module/plugin for groovy scripts anymore. This is a very good thing. So that comment is just outdated/obselete. Looks to me like the only scripting languages here are `expressions`, `painless`, and `mustache` which are all relatively safe in comparison.

Note: there's also a ClassLoader-based filtering mechanism,

[2021-04-22 12:43] geekygirldawn commented on #532
@stockholmux There has been a lot of discussion on this issue, so I think we ultimately need to decide whether to create the community repo or close the issue?

[2021-04-22 12:46] geekygirldawn commented on #537
There was a bit of discussion, but no decision on this one, so I wanted to check in to see if this is something that we are going to do? If not, we should close the issue.

[2021-04-22 13:24] dblock commented on #532
FWIW we created https://github.com/opensearch-project/OpenSearch-plugins for all things plugins to avoid polluting this repository with general plugin-related content and questions. Not sure that it was the right thing to do, but we will learn over time.

I personally feel that if I had a "general OpenSearch issue" I'd probably open it here since this repository is called ... OpenSearch.

Don't fe

[2021-04-22 15:30] dblock opened #600 "[BUG] Distribution download task is broken for lack of distribution"
**Describe the bug**
Plugins rely on [DistributionDownloadPlugin.java](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java) to fetch published artifacts in order to run integration tests. Currently those artifacts are not available as the team is figuring out how to maven, so the task is failing.

**To Reproduce**

[2021-04-22 15:42] #574 closed

[2021-04-22 16:11] abbashus commented on #578
Thanks, we will look into this how we can optimize this and reduce run time.

[2021-04-22 16:34] thalurur commented on #596
@tlfeng thanks for the update.

However, its interesting that you aren't seeing errors. I have done the same thing as mentioned.

* Publish OpenSearch 1.0.0 locally
* Publish Alerting built using OpenSearch 1.0.0 locally
* Publish job-scheduler locally
* Publish common-utils locally

Change index-management to use 1.0.0 version of opensearch and to use local maven as source for all dependencies.

[2021-04-22 16:42] tlfeng commented on #596
Thanks for the additional information. 🙂 I will double check if I have ran the test properly.

[2021-04-22 17:13] thalurur commented on #596
Tried another time on my mac where I was seeing issues after purging everything in local maven repository and rebuilding everything, but still see the same errors. But, atleast good to know that it works on other hosts

[2021-04-22 17:14] tlfeng commented on #596
I see. Looks like I can run all the 267 tests locally. (The one failed is made by design to generate the test report)
<img width="400" alt="image" src="https://user-images.githubusercontent.com/78394866/115756294-ed5ef080-a352-11eb-9a43-774563d76c9b.png">

I haven't have idea of the cause to the test failure yet, but maybe you could try to clean the cache of Gralde using `./graldew clean` and keep

[2021-04-22 17:23] thalurur commented on #596
Cool, yeah I did do ``./gradlew clean ``. It seems to fail everytime I run on my mac, since it was seen in AD tests probably there is some underlying issue, but not certain

[2021-04-22 19:08] philoserf commented on #563
Closed by https://github.com/opensearch-project/OpenSearch/releases/tag/1.0.0-alpha1

[2021-04-22 19:08] #563 closed

[2021-04-23 02:53] setiah commented on #528
Thanks @rmuir for providing this wealth of information and useful context.

Right, that's still happening for plugin installation _[reference](https://github.com/opensearch-project/OpenSearch/blob/main/distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java#L865)_

Interesting point on Security Manager deprecation and thanks for pointing this out. These are all

[2021-04-23 07:24] saratvemulapalli opened #606 "[BUG] CPU Architectures naming is not consistent with OpenSearch plugins"
**Describe the bug**
CPU architectures are named `x86_64` and `aarch64` in OpenSearch, where as rest of the plugins use `x64` and `arm64`.
Also platform for MacOS has different naming conventions, OpenSearch/Dashboards use `darwin` and the plugins use `macos`.

- [ ] CPU architecture - Done PR #612
- [ ] MacOS Platform

Also the google trends show the latter are on the rise.

[2021-04-23 14:31] #577 closed

[2021-04-23 15:24] nknize opened #607 "[Infra] Setup lucene snapshot maven repository"
A S3 bucket is needed to store snapshot builds of lucene for periodically updating development branches with evolving lucene features. This is supported in [RepositoriesSetupPlugin.java](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/RepositoriesSetupPlugin.java#L95) and needs to be changed to an OpenSearch S3 bucket.  Builds and publishing

[2021-04-23 16:16] harold-wang commented on #579
Thanks @rmuir, can you post the log of this test?  @abbashus I would link this issue with #578.

[2021-04-23 16:27] harold-wang commented on #91
I think we should update addIvyRepo with different endpoint URL for ES and opensearch, right? @saratvemulapalli @adnapibar

[2021-04-23 16:29] saratvemulapalli commented on #91
Thats true for backwards compatibility tests we need to point to ES as well.

[2021-04-23 21:13] abbashus opened #609 "[CLEANUP] Replace elastic.co links from opensearch.yml"
Replace `https://www.elastic.co/guide/en/elasticsearch/reference/index.html`  with opensearch doc link. Since we don't have the documentation published yet we will point it to `opensearch.org` for now.

Issue to update doc link once we documentation online: #610

[2021-04-23 22:01] abbashus opened #610 "Add documentation link to opensearch.yml"
Currently the elastic.co link in `distribution/src/config/opensearch.yml` is replaced with oepnsearch.org. This should be correctly replaced with url for correct documentation.

See #609

[2021-04-23 22:01] stockholmux commented on #532
Actually, I'm not seeing alignment here - I'm seeing a lot of ideas.

The original problem (a canonical place to put non-repo specific files) seems valid but it doesn't _have_ to be solved by a `opensearch-project/community` repo. I think @jcgraybill's point about duplication between opensearch.org and the proposed repo is real. The key here is how do we create the highest visibility w/o duplicati

[2021-04-23 22:20] adnapibar commented on #609
Why can we not make the change when the OpenSearch doc links are available. I don't see reason for making this change twice.

[2021-04-23 22:21] adnapibar commented on #610
Please see my comment on #609.

[2021-04-23 22:33] abbashus commented on #609
@adnapibar Can you please point me to that link? I am not aware of it yet.

[2021-04-23 22:38] abbashus commented on #610
Closing this issue since we would update once when the concrete doc urls are available.

[2021-04-23 22:38] #610 closed

[2021-04-23 23:09] tlfeng commented on #596
Hi @thalurur, when you have time, could you run the integration test for Index Management plugin again when the latest Opensearch code? In https://github.com/opensearch-project/anomaly-detection/issues/15, it is said that "NullPointerException that leads to a ClassDefNotFound exception when running tests in anomaly-detection was fixed in OpenSearch PR#604"

[2021-04-26 10:15] geekygirldawn commented on #532
@stockholmux  I'd be happy to work with you on drafting a couple of short survey questions that we could send out via the forums or other channels! Should we do this as something quick and standalone on just this topic or as part of something bigger that includes other topics, too? Does the forum have a built-in survey / polling mechanism?

[2021-04-26 13:55] stockholmux commented on #532
@geekygirldawn Let's do it. I know there was talk about a more comprehensive survey, but I'd opt for single use in this case (the more focused, the less bogged down it'll get). The forums do have a survey mechanism, but I think it has some limits. I've setup a [topic on the forum to discuss](https://discuss.opendistrocommunity.dev/t/meta-community-survey/5756).

[2021-04-26 16:40] saratvemulapalli commented on #606
Merged the changes, closing.

[2021-04-26 17:29] adnapibar commented on #609
I mean, when the doc website is ready, we can make this change along with all such instances across the repository. This will minimize the effort and keep the change as part of a single PR.

[2021-04-26 20:42] rursprung commented on #539
having this as an external cluster or self-contained node would create additional maintenance overhead when managing the cluster (esp. if it's not managed with a k8s operator; i.e. either run on bare metal or on k8s but w/o an operator). thus i'd vote for this being part of the nodes (be that as a built-in feature or a plugin).

storing this in opensearch vs. exposing it to prometheus comes down t

[2021-04-27 10:20] Bukhtawar opened #614 "[BUG] Forced execution of search shard requests causes memory issues"
**Describe the bug**
There are cases like shard failure where we force the execution of search shard request on an already stuffed queue which causes the search queues to go beyond the queue limits and subsequently causes memory consumption to go unchecked

https://github.com/opensearch-project/OpenSearch/blob/0e9f74e35f1255cb9ec45be3d8960aad195a9f6e/server/src/main/java/org/opensearch/action/sear

[2021-04-27 10:38] Bukhtawar opened #615 "[Feature] Support for allow partial results for Delete-by-Query"
**Is your feature request related to a problem? Please describe.**
If one or more shards are unavailable then the search part of the delete by query recommends setting allow partial results to true while we have a hard-coded overridden value used at

https://github.com/opensearch-project/OpenSearch/blob/0e9f74e35f1255cb9ec45be3d8960aad195a9f6e/server/src/main/java/org/opensearch/index/reindex/Clie

[2021-04-27 10:47] tomrade commented on #562
you could look at something like https://lunrjs.com/

[2021-04-27 13:05] AmiStrn commented on #539
@rursprung I agree with your point regarding the extra node idea proposed. I was thinking this could simplify the architecture by separation of concerns, but as you correctly point out:

Initially, I had been aiming for run-time profiling. Aggregating data by `query context` over time and exposing it as a metric. This way using something like a [task throttling feature](https://github.com/opensear

[2021-04-27 17:26] harold-wang commented on #566
@nknize  I found that we could not clear V_EMPTY version and companion id

- that V_EMPTY is sill used by https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java#L282

[2021-04-27 19:51] itiyamas opened #618 "Reduce created segments when there is low traffic on a shard"
Lucene creates 1 segment per active concurrent thread per shard. Number of active concurrent threads per shard is determined by bulk thread pool in ES, which is a worker on the queue holding sub bulk requests. Each sub-bulk request ends up being picked by a different thread, hence resulting in multiple segments during refresh, resulting in better performance during reads. When there is a low traff

[2021-04-27 20:01] itiyamas opened #619 "Use IndexWriter's addDocs API instead of addDoc API"
Lucene does some pre and post processing, including acquiring and releasing locks, per addDoc call. AddDocuments is a batch API that reduces this overhead to 1 call per batch. For large bulk requests, these calls end up happening for every single document, increasing the overhead even further. Acquiring and releasing these locks ends up creating contention in a high concurrent environment.  The pr

[2021-04-27 20:56] thalurur commented on #596
@tlfeng

Verified that with the fix in place no longer seeing the issue to run tests on my mac. Closing the issue :)

[2021-04-27 20:56] #596 closed

[2021-04-27 21:29] saratvemulapalli commented on #159
Closing this as all the plugins are now running with `1.0.0-beta1`

[2021-04-27 21:29] #159 closed

[2021-04-28 01:16] hsiang9431-amzn opened #622 "Support semver version numbers when loading a plugin"
**Is your feature request related to a problem? Please describe.**
Current plugin installer fails when opensearch version is not exactly separated by `.` or `-` into 3 sections, e.g. `1.0.0`
 or `1.0-beta`. This behavior causes version string such `1.0.0-beta1` error out during installation.

**Describe the solution you'd like**
version string should not be validated with existing logic. We should

[2021-04-28 01:39] harold-wang commented on #622
@hsiang9431-amzn thanks for reporting this. Opensearch Version info is made up of 3 portion major, minor, and revision separated by charactor '.' or '-'.  I could not tell if "Current plugin installer fails " is caused by this. Can you please post your error log? thanks, @harold-wang

[2021-04-28 01:55] cliu123 commented on #622
This is the error log:
`root@70732b40d8c3:/docker-host/opensearch-1.0.0-beta1-SNAPSHOT# bin/opensearch-plugin install file:///docker-host/plugins/opensearch/
opensearch-security-1.0.0.0-beta1.zip
-> Installing file:///docker-host/plugins/opensearch/opensearch-security-1.0.0.0-beta1.zip
-> Downloading file:///docker-host/plugins/opensearch/opensearch-security-1.0.0.0-beta1.zip
[====================

[2021-04-28 02:42] CEHENKLE commented on #95
Hey Folks;

Circling back to this, because we learned some things trying to pull together beta-1:

Versions and Tags:
Lemme put a proposal on the table (note, this is just for Engine.  Plugins and Dashboards can define their own rhythm).  These are my thoughts, so I'd love to hear yours:

## Branches

Between now and General Availability (GA),  let's have two branches:  1.x and Main.   After GA, w

[2021-04-28 03:13] harold-wang commented on #622
@cliu123 thanks for the log, we will work on a fix and update.

[2021-04-28 04:47] tlfeng commented on #622
@hsiang9431-amzn Thanks for pointing out the source of the error!
There was a recent change for that part of logic and seems caused the error, in this commit https://github.com/opensearch-project/OpenSearch/commit/6e04778d0c8aa33b3360bf6b000f85da93cec650.

[2021-04-28 05:38] Bukhtawar opened #624 "[BUG] Serialization bugs can cause node drops"
**Describe the bug**
Most commonly backward incompatible changes to APIs like stats can cause ser/de over the wire to fail

**To Reproduce**
1. If there is a serialization bug it would manifest itself in the InboundHandler#messageReceived causing to throw an `IllegalStateException`

2. The exception is then caught at TcpTransport#handleException which ends up closing the specific TCP channel that

[2021-04-28 06:43] rursprung commented on #472
disclaimer: this is very much my personal opinion (anything not 100% technical will always be my personal opinion and not reflect any opinion of an employer or other 3rd party if not explicitly mentioned).
<politics>
i very much try not to be pulled into a political discussion here (you can only lose if you try to be part of such a discussion), but: i agree that changing words in a software (which

[2021-04-28 07:01] rursprung commented on #95
does it make sense to already separate 2.x and 1.x now? it's probably too late (you already have the branches), but unless you know that you're already landing breaking changes for 2.x now i'd have focused on getting 1.0.0 out first and only later moved to the model you've proposed.

when i read your comment i first feared that you'd name the actual releases `beta1` but i've now seen that you tagg

[2021-04-28 07:06] rursprung commented on #622
i would propose that any version check is fully compatible with [semver](https://semver.org/) as this is what opensearch will be using. so it shouldn't have any notion of knowing about `alpha`, `beta`, etc. (just saw that in the linked commit) and the test coverage should check for general semver compliance.
more likely: you can just pull in an existing semver compliant version checker library? (a

[2021-04-28 09:21] tgurr opened #626 "[BUG] {dot,}files in plugin directory cause startup failure"
**Describe the bug**
While trying to package OpenSearch, I've come across the issue that first OpenSearch failed to start because of the plugin directory not being present as our packaging policy prevents installing empty directories.

[code]
Our usual way of solving this is creating a dotfile in the "empty" directories we need to install.
[code]
which for example works fine for the data directory

[2021-04-28 09:37] ahoogol commented on #562
@tomrade, your recommendation is a library and has javascript API. I want a service with independent language like JSON API. Also it has not many necessary features like aggregation.

[2021-04-28 09:37] AmiStrn opened #627 "[BUG] Snapshot deletion may get stuck in case of exceptions during bulk delete"
**Describe the bug**
The snapshot deletion task uses a `GroupedActionListener` within a recursive function to respond when all the deletions are done running. In the event of exceptions during the deletion the listener's countdown is not reached therefore the response is never returned. This causes the deletion task to get stuck. The function with the bug is in the following snippet, notice the er

[2021-04-28 11:19] soosinha commented on #550
Closing this pull request as the whitelist can be bypassed by using wildcards for the whitelist setting (\*:\*) and we do not need to remove the feature.

[2021-04-28 11:19] #550 closed

[2021-04-28 13:26] dblock commented on #622
💯 to @rursprung's semver suggestion, I think we possibly made a mistake introducing the alpha or beta labels into the actual version numbers.

[2021-04-28 13:34] stockholmux commented on #472
@rursprung I don't think an API change like this would happen in a disorderly fashion - like any API change, it would go through a deprecation period on a major version change.

[2021-04-28 15:55] Bukhtawar opened #631 "[BUG] Cluster Health API call can get tripped by circuit breaker"
**Describe the bug**
When the JVM memory pressure is high the calls to cluster health might fail with
[code]

[code]

**Expected behavior**
Cluster health calls shouldn't get tripped by the circuit breaker as they are important and informative and represents the state of the system

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-28 19:54] dblock opened #632 "Rename artifact from opensearch-1.0.0-linux.x64.tar.gz to something else"
**Is your feature request related to a problem? Please describe.**

We are naming the bundle that contains OpenSearch and plugins as **opensearch-1.0.0-beta1-linux.x64.tar.gz**, which is the same name as what is produced out of this repository. Let's find a new name, maybe `-min`? This artifact would be equivalent to elasticsearch-oss and would be released along with OpenSearch.

**Describe the so

[2021-04-28 20:05] dblock commented on #632
An alternative would be to get rid of https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java altogether and never have to release a .tar.gz.

[2021-04-28 20:12] rmuir commented on #619
this method is about atomicity, not performance. it should not be used except for indexing documents in a block where you need the semantics it provides (index-time join).

[2021-04-28 20:21] mhoydis13 opened #633 "opensearch-env always sources /etc/default/elasticsearch even if you specify over-ride of ES_PATH_CONF at launch"
Line 81 of bin/opensearch-env will always source the environment from the hardcoded default environment file /etc/default/elasticsearch.  It will do this even if you over-ride the value of ES_PATH_CONF on launch (for example, from the systemd unit or some other launch method).

https://github.com/opensearch-project/OpenSearch/blob/d09249c62760609040cd1aa190b8d7495c2eb540/distribution/src/bin/opens

[2021-04-28 20:59] nknize commented on #632
Getting rid of DistributionDownloader will break backward compatibility tests.

I'm good w/ renaming the .tgz build artifact here if it will clash w/ the published OpenSearch download page. I do think third party plugins need a path to develop w/ "experimental" or nightly builds. So if we could host a public facing maven repo where we publish nightly artifacts, third party plugins could update the

[2021-04-28 21:03] saratvemulapalli opened #634 "Rename CPU architectures for deb and rpm packages"
**Describe the bug**
The CPU architecture was renamed for archives in #612 to keep it consistent with plugins and trends on google.
But the deb and rpm packages used `amd64` and `x86_64`.
How do we like to rename them?

[2021-04-28 21:03] saratvemulapalli opened #2598 "[Enhancement] Rename CPU architectures for deb and rpm packages"
**Describe the bug**
The CPU architecture was renamed for archives in opensearch-project/OpenSearch#612 to keep it consistent with plugins and trends on google.
But the deb and rpm packages used `amd64` and `x86_64`.
How do we like to rename them?

[2021-04-28 23:09] nknize commented on #95
I think the motivation is to minimize branches (because more branches can put quite a demand on CI). In this configuration I don't think any branch will be anything other than "release/" (although that strategy might be good to use for the tags)? We also would use tags, not branches, for patch releases. So there wouldn't ever be a 1.0.1 branch... `1.0` would be the next 1.0.1 release and `1.x` wou

[2021-04-29 10:03] rursprung commented on #632
the last status i saw was the [discussion on the forum](https://discuss.opendistrocommunity.dev/t/convergence-of-opensearch-opendistro-plugins/5625) about whether opendistro plugins should be bundled with opensearch it was still open. has there now been a decision on this? sorry, i hadn't replied there anymore, i've added a comment now.

do i understand it correctly that you now want to ship a pac

[2021-04-29 14:22] dblock commented on #632
This is the current thinking. I am afraid to call this "a decision" because we can still change our mind if we choose to for good reason.

We can start calling "opendistro plugins", "OpenSearch plugins". These have been forked and are being worked on in opensearch-product. We'll leave opendistro alone to avoid confusion :) So yes, we want a package (a `.tar.gz`) that will ship a bundle of OpenSear

[2021-04-29 16:19] #506 closed

[2021-04-29 17:44] dblock opened #637 "[BUG] Exception in thread "DisconnectableInputStream source reader" org.gradle.api.UncheckedIOException: java.io.EOFException"
**Describe the bug**

Build succeeds but shows an exception.

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

Build successful. No errors.

**Host/Environment (please complete the following information):**
 - OS: ubuntu

**Additional context**

Currently on 1-x branch.

[2021-04-29 19:38] ssgao commented on #358
Hi @nknize, is the work here to just delete this test?

[2021-04-29 21:25] dblock opened #638 "Ensure OpenSearch drop-in replacement for ES and ODFE"
**Is your feature request related to a problem? Please describe.**

So far we are hearing from [discuss#5788](https://discuss.opendistrocommunity.dev/t/upgrade-path-to-opensearch/5788) that most users would like OpenSearch to be a drop in replacement for ES/ODFE. Working backwards from that assumption we need mechanisms to enable, then ensure backwards compatibility with such things as settings, i

[2021-04-29 21:27] dblock commented on #638
For settings we could have a "magical" implementation that does `s/opendistro/opensearch/g` and `s/elasticsearch/opensearch` ala how [different list formats were changed](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/common/settings/Settings.java#L1042).

[2021-04-30 06:51] rursprung commented on #638
note: *i* (not sure about others) would be ok with having to update the config files with the `elasticsearch` => `opensearch` change since we anyway need to touch the system (i.e. replace the installation). since we're running it in docker containers this isn't a big issue for us.

more interesting would be if opensearch 1.0.0 would be able to join an elasticsearch 7.10.x cluster - presuming you h

[2021-04-30 07:26] Bukhtawar opened #639 "[BUG] Log4j contentions on transport logging blocks network threads"
**Describe the bug**
Log4j contentions during exception logging on the transport channel effectively blocks a large number of network threads

[code]
**Expected behavior**
Evaluate loggers maybe async loggers that do not block threads

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Host/Environment (please com

[2021-04-30 07:30] geekygirldawn commented on #632
@dblock:

I expect some of us are struggling a bit with the split between how the folks at AWS see conversations in the forum vs. GitHub. None of the other open source projects that I work on use forums for discussions about strategic topics related to the future of the project, but some do use them for end user support questions about using the technologies. Kubernetes, [for example](https://gith

[2021-04-30 19:16] saratvemulapalli opened #640 "[BUG] Meta issue to track all places we have broken backwards compatibility in OpenSearch 1.0.0-beta1"
**Describe the bug**
The intent of this issue is to understand what we have broken and what problems should we be looking at in order solve a drop in replacement: #638

Feel free to add all of the breaking changes you see across the repo.

- [ ] opensearch.yml
- [ ] opensearch.cgroups.hierarchy.override
- [ ] opensearch.path.home
- [ ] opensearch.path.conf
- [ ] opensearch.distribution.type
- [ ]

[2021-04-30 19:18] saratvemulapalli commented on #638
Created a meta issue to list down all the things which we have broken.
https://github.com/opensearch-project/OpenSearch/issues/640

[2021-05-01 00:04] CEHENKLE commented on #537
Hey @geekygirldawn Sorry I lost this thread for a bit.

The thing I've been chewing on here is helping maintainers define what it is they're doing and how they do it.  I'm thinking of it less as "Bob does X and Alice does Y", but more "Maintainers do X, and here's how they think about doing it and/or actually, tactically do it".

So that might answer some of your question (I think?  Maybe?), but i

[2021-05-01 00:06] CEHENKLE commented on #537
yeah, there's some back and forth about whether it's a [bug or a feature](https://github.com/opensearch-project/OpenSearch/issues/597), but I think everybody agrees it's bad, and we don't like it at all.

[2021-05-02 06:34] matznermatzner opened #641 "Bolu"

[2021-05-02 07:14] matznermatzner opened #642 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-05-03 18:20] malpani commented on #539
Couple of questions/suggestions

Would it be better to have this as a query param? eg. there is already a [`"profile": true`](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/search-profile.html)

num-shards, latency, doc-counts, frequency will provide a nice high level view. Will this include time spent on queues and shard level latency? Is the use case here more on analytics of the k

[2021-05-03 18:24] gogolok commented on #641
Spam?

[2021-05-03 18:24] gogolok commented on #642
Does not contain any useful information. Can be closed?

[2021-05-03 18:33] saratvemulapalli commented on #638
These are all the items which we should consider while working on the drop in upgrades.

* Ordering of upgrading
* Naming conventions
* Upgrade time-lag (aka downtime)
* Replication
* Security
* Downstream Dependencies
* Upgrade alerting and notifications
* Limits
* Performance
* Availability
* Latency
* Compatibility Matrix
* Downgrade
* APIs

[2021-05-03 19:03] #641 closed

[2021-05-03 19:05] #642 closed

[2021-05-03 22:42] CEHENKLE opened #644 "Dashboards should be more dashboardy."
**Is your feature request related to a problem? Please describe.**

Testing bug moving.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features

[2021-05-03 22:44] CEHENKLE commented on #644
This is a terrible bug.  Closing ;)

[2021-05-03 22:44] #644 closed

[2021-05-04 00:10] tlfeng commented on #631
Hi @Bukhtawar,

Could you explain more about how to reproduce the issue?
Looks like it has been fixed in Elasticsearch 5.0 (https://github.com/elastic/elasticsearch/commit/f32b70047241fe319cb37047cc2a47d1b56da6e1), besides, request to `/` is also whitelisted from
Circuit Breaking exception in Elasticsearch 6.5 (https://github.com/elastic/elasticsearch/commit/027a22abf9684897a81e6ca2216dd38214fb802

[2021-05-04 02:16] adnapibar opened #646 "[Dependencies] Update dependencies with CVEs."
**Describe the bug**
The hdfs-fixture used for integration tests has the following dependency.

`org.apache.hadoop:hadoop-minicluster:2.8.5`

The above version of `hadoop-minicluster` brings in some other dependencies that are reported to have potential security vulnerabilities.

We need to update the `hadoop-minicluster` to the latest version `3.3.0`

[2021-05-04 07:53] kyrogue opened #647 "[BUG] ism_templates Invalid field"
**Describe the bug**
Following this documentation https://opendistro.github.io/for-elasticsearch-docs/docs/im/ism/ when we try to create a ISM policy with:
[code]
The API call should succeed, instead we get:
`{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Invalid field: [ism_template] found in Policy."}],"type":"illegal_argument_exception","reason":"Invalid field: [ism_temp

[2021-05-04 13:44] #627 closed

[2021-05-04 15:05] AmiStrn commented on #539
As stated at the top of the doc in the link you provided :

So the idea is to have the context of the query added to the query request (perhaps as a query param, but that is already more of an implementation detail)
I am currently working on a breakdown for this proposal into phases, this first phase would add a nice way to monitor the queries in the slow logs grouped by their respective context p

[2021-05-04 15:57] dblock opened #649 "[BUG] JavaDoc uses a combination of &#64; and {@code"
**Describe the bug**

AnalysisPlugin.java and others have this:

[code]

This doesn't actually render `@` in JavaDoc, it's either `@code` or `&#64;`, and `@literal @` inserts an extra space. So the solution is to get rid of `{@code` and escape `<` and `>`.

[2021-05-04 18:46] bowenlan-amzn commented on #647
This feature is currently released in ODFE.
For AWS Elasticsearch, it will be coming out with April release. So currently you still need to use index template way to auto manage your newly created indices.

[2021-05-04 21:32] setiah commented on #649
+1, I can confirm the same from published javadocs (see below)

[code]

[2021-05-04 22:49] setiah opened #652 "Enforce documentation for new features/enhancements"
Some of the features or enhancements that are getting merged also need to be added in end user documentation, otherwise the documentation would diverge. Can we have a way to enforce the documentation check before merging the PR in CI? (either via issue, PR or signoff by reviewer)
Since we do not have documentation at this point, acknowledgement could be a github issue to add it later for the enhan

[2021-05-04 22:49] adnapibar commented on #646
We also need to upgrade the Hadoop version used in the `repository-hdfs` plugin (See [this](https://lists.apache.org/thread.html/rca4516b00b55b347905df45e5d0432186248223f30497db87aba8710@%3Cannounce.apache.org%3E))

#645 incorrectly updated the `hadoop-minicluster` version from 2.8.5 to 3.3.0 but the plugin only supports Apache Hadoop 2.x.

So we should upgrade the Hadoop version to **2.10.1** ins

[2021-05-04 23:59] Hronom opened #653 "Pinned query"
**Is your feature request related to a problem? Please describe.**
We need to promote a list of documents, for example 240.
And at the same time all filters should be applied, so we make sure that this documents are searchable and match criteria's.

What we need already implemented in X-Pack https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-pinned-query.html#query-dsl-pinne

[2021-05-05 00:53] tlfeng commented on #653
Hi Hronom, thanks for your feature request with your use case! 😁 We will consider it and there is also an old issue (https://github.com/opensearch-project/OpenSearch/issues/72) for tracking the feature of "Pinned Query".
In the meanwhile, we are also glad to see people in the community can drive it.

[2021-05-05 04:21] Bukhtawar commented on #653
I guess we can keep just one of them open as a tracking issue and resolve the other as a duplicate, since both are around supporting Pinned queries as a feature

[2021-05-05 04:36] anshul291995 commented on #631
Looking into reproducing this issue. Will update.

[2021-05-05 05:21] Bukhtawar commented on #652
I guess we should create meta issues per feature or enhancement rather than a single Meta issue. WDYT?

[2021-05-05 05:27] KlavsKlavsen opened #655 "Plan for migrating helm chart?"
Whats your plans for migrating the helm chart from opendistro-es ?
Or are there things about it you're unhappy with, so you'd rather "have something else" ?

Can I help - f.ex. by taking a stab at migrating helm chart and https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/693 ? or is opensearch a bit from "being ready for first runnable release" ?

[2021-05-05 07:14] getsaurabh02 commented on #639
Hi @psychbot ,

I believe if we enable debug logging for extensive/verbose logging, and run a high concurrent workload on a single node cluster. Taking thread dumps on the node should reveal multiple `TcpTransport` threads in Blocked state.

[2021-05-05 14:26] dblock commented on #653
Let's close this as a duplicate. Thanks @tlfeng and @Bukhtawar!

[2021-05-05 14:26] #653 closed

[2021-05-05 18:41] kanchev opened #659 "Provide Amazon Linux 2 or non CentOS Docker Images"
See original description here:
https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/696

Currently only CentOS 8 images are supported:
https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/buildSrc/src/main/java/org/opensearch/gradle/DockerBase.java#L39

Would Alpine Images will be possible too?

[2021-05-05 19:01] setiah commented on #652
Sure, that's even better. Probably the CI have a way to enforce reviewer/contributor to acknowledge for documentation (via issue, PR, or signoff) so the end user documentation does not diverge.

[2021-05-05 19:05] abbashus commented on #646
Need to update the following dependencies as well:

Dependency |  | Module
--  | -- | --
commons-io-2.4.jar |   | discovery-azure-classic
jackson-mapper-asl-1.9.13.jar |  | discovery-azure-classic
jackson-mapper-asl-1.9.2.jar |   | discovery-azure-classic
google-oauth-client-1.23.0.jar |   | discovery-gce |

[2021-05-05 19:08] setiah commented on #652
updated the issue title to reflect the discussion is around how can we enforce documentation check in first place

[2021-05-05 19:17] adnapibar commented on #652
Do we have snippet testing for testing the code inside the docs? If then we can run that as part of the PR checks. Note that this only makes sure that we can catch changes which breaks something existing. For new features it can be manual process which falls under the reviewer's responsibility.

[2021-05-05 19:22] setiah opened #660 "[Documentation] Add documentation for default number of shards setting PR#625"
Add documentation for the change - "[Make default number of shards configurable](https://github.com/opensearch-project/OpenSearch/pull/625)"

[2021-05-05 20:39] #649 closed

[2021-05-05 22:25] malpani commented on #539
thanks for the examples, now i understand the use case better.  So the target audience for this feature is primarily multi-tenant/multi-user clusters where queries land up from different dashboards/tools and this feature is to allow labeling queries/tracking source referrer 'context' and in the first phase collect shard counts and overall latency per 'context'. My guess is this is to give insights

[2021-05-05 22:51] saratvemulapalli commented on #606
Reopening this as we have another item to take care of.

[2021-05-06 04:27] soosinha opened #663 "Add documentation for Remote Reindex SPI extension"
This issue is to track the addition of documentation for remote reindex SPI extension(#547) once the public documentation is available.

[2021-05-06 07:10] rursprung opened #664 "enable dependabot for opensearch repositories"
**Is your feature request related to a problem? Please describe.**
i noticed that dependency updates seem to be done manually (see e.g. #661). this means that there's no guarantee that all dependencies are up-to-date and do not contain any known vulnerabilities.
some users (esp. corporate users) will run 3rd party artifact scanning on all software which they run/ship and will block it if it contai

[2021-05-06 12:14] Hronom commented on #72
**Is your feature request related to a problem? Please describe.**
We need to promote a list of documents, for example 240.
And at the same time all filters should be applied, so we make sure that this documents are searchable and match criteria's.

What we need already implemented in X-Pack https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-pinned-query.html#query-dsl-pinne

[2021-05-06 14:54] CEHENKLE commented on #659
Hi @kanchev!  We're planning to support AL2 going forward :)

[2021-05-06 14:57] #542 closed

[2021-05-06 16:23] AmiStrn commented on #539
This is a pain point for these audiences, however, also labeling the searches performed by the alerting system is a good idea since this will allow you to see what alerts are causing strain on the cluster. But generally speaking -- yes this is mostly usefull for monitoring multi-tenant/multi-user clusters.

I'm fine with that idea, @jkowall WDYT? ☝️

Thanks for this input I'll mention this in the

[2021-05-06 16:38] #511 closed

[2021-05-06 16:44] CEHENKLE commented on #664
This is a really good point.  Let me turn it around and ask -- is there any reason why we *wouldn't* turn on updating?  @hyandell?

[2021-05-06 17:12] jkowall commented on #539
@AmiStrn I think the idea is to make some additional issues off this master issue as we break things up.

The capabilities to analyze the source of a query is merely one way the data is to be used.

We are also going to create metrics that summarize the performance, utilization, and errors of specific queries or the OpenSearch engine as a while which are far outside of "query source". This is more

[2021-05-06 17:34] tlfeng commented on #626
Hi @tgurr, thank you for providing the steps to reproduce.

Could you explain more that under what circumstance the error `Unable to access 'path.home' (/usr/share/opensearch/plugins)` occurs?

I tried to package OpenSearch by command `./gradlew distribution:packages:deb:assemble` or `./gradlew distribution:packages:rpm:assemble` in both `master` and `1.x` branch, then the packages can be installe

[2021-05-06 17:46] hyandell commented on #664
Please turn them on :)

[2021-05-06 17:54] tlfeng commented on #87
I think this can be closed, as mentioned above #510 updated the header for new files, #437 updated the "gradle precommit check" to make sure all files have got SPDX license header, and #509 update the license header for all existing files in the code base.

[2021-05-06 21:26] shdubsh opened #667 "[BUG] Logstash cannot submit events to OpenSearch since version change"
**Describe the bug**
Since 0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0, logstash-output-elasticsearch (from logstash-oss-7.10.0) is unable to submit events to OpenSearch.

Interestingly, OpenSearch prior to 0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0 (7.10.3-SNAPSHOT) did not have this problem.  My guess is that Logstash is doing a version check and formatting the event in the format a 1.x cluster expec

[2021-05-06 22:44] tlfeng commented on #53
I tested with the "Elasticsearch Head" [Chrome extension](https://github.com/mobz/elasticsearch-head#running-as-a-chrome-extension) and OpenSearch [1.0.0-beta1](https://github.com/opensearch-project/OpenSearch/releases/tag/1.0.0-beta1),
OpenSearch can be connected, and elasticsearch-head looks working well.
<img width="894" alt="image" src="https://user-images.githubusercontent.com/78394866/117374

[2021-05-07 07:03] rursprung commented on #664
i think this needs to be looked at first by somebody with access to the repository settings.
based on the documentation this should be enabled by default if the settings are correct: https://docs.github.com/en/code-security/supply-chain-security/configuring-dependabot-security-updates#supported-repositories

it can still be enabled manually by providing a `.github/dependabot.yml` file, but it seem

[2021-05-07 11:38] Gaurav614 opened #669 "[BUG]Version Compatibility failure when OpenSearch node tries to join ElasticSearch node[7.10 version]"
**Describe the bug**
We have one node ElasticSearch 7.10 cluster and added a another node with Opensearch 1.0.0 version. Found that the added node fails to join the cluster with following exception trace.

`Caused by: java.lang.IllegalStateException: Received message from unsupported version: [35.21.78-beta2] minimal compatible version is: [6.8.0]
        at org.elasticsearch.transport.TransportHa

[2021-05-07 11:51] Bukhtawar commented on #639
`ExtendedThrowablePatternConverter` and class loading is enabled by default on the logging via a pattern layout. We need to probably disable that with `%m%n%ex`

[2021-05-07 14:07] dblock commented on #664
I assigned this to @CEHENKLE, much thanks!

[2021-05-07 14:11] dblock commented on #669
Thanks for reporting this. Deciding whether we want to support this is probably big deal, @CEHENKLE who should track this one?

[2021-05-07 14:24] shwetathareja commented on #669
[code]
OpenSearch 1.0.0 node sends the masked Id as 135217827 to the ES 7.10 node during the handshake and Elasticsearch code is unaware of this masking logic and uses this Id to generate the Version object and this breaks the minCompatibilityVersion logic and 35.21.78 is being treated as minCompatibleVersion for 1.0.0 and hence nodes are failing to connect.

minCompatibilityVersion logic
[code]

[2021-05-07 18:27] dblock opened #670 "Add integration test for settings upgrade"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/job-scheduler/pull/20 and https://github.com/opensearch-project/opensearch-plugins/pull/15 we want an integration test that sets a legacy setting with a previous version of ODFE/ES and ensures that the upgrade falls back to the previously set setting.

**Describe the solution you'd

[2021-05-07 18:46] dblock opened #671 "Support rolling upgrades to OpenSearch 1.0 from ODFE 1.13 and ES 7.10.x"
Upgrading your cluster from ElasticSearch to OpenSearch and OpenSearch Dashboards is just like upgrading your cluster between versions of ElasticSearch and Kibana. Specifically, OpenSearch supports rolling upgrades and restart upgrades from ElasticSearch 6.8.0 through ElasticSearch 7.10.2 and to OpenSearch 1.0. OpenSearch Dashboards supports restart upgrades from Kibana 6.8.0 through Kibana 7.10.2

[2021-05-07 19:23] saratvemulapalli commented on #671
For OpenSearch we still have to understand what we have broken and what needs to be backwards compatible.
For example plugins: https://github.com/opensearch-project/opensearch-plugins/issues/12

Here is an issue we opened to track them and I am confident this just scratching the surface: https://github.com/opensearch-project/OpenSearch/issues/640

[2021-05-07 19:27] dblock commented on #638
Superceded by #671

[2021-05-07 19:27] #638 closed

[2021-05-07 20:41] saratvemulapalli commented on #671
Pasting it back from the earlier issue since this is important.
These are all the items which we should consider while working on the drop in upgrades.

Ordering of upgrading
Naming conventions
Upgrade time-lag (aka downtime)
Replication
Security
Downstream Dependencies
Upgrade alerting and notifications
Limits
Performance
Availability
Latency
Compatibility Matrix
Downgrade
APIs

[2021-05-07 22:04] nknize opened #673 "[Performance] Potential regression in 1.0.0-Beta1"
**Describe the issue**
Benchmarking has been set up and the following numbers captured today:

| Product/ Version       | <br>Architecture | Description      | Instance Type | Workload Details                                 | Index Latency (ms) - p50 | **Index Latency (ms) -** p90 | **Index Latency (ms) -** p99 | **Index Latency (ms) -** p100 | **Index Throughput (docs/s) -** p0 | **Index Through

[2021-05-07 22:52] rishabhmaurya opened #674 "BucketSelector pipeline extension"
[BucketSelector](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-bucket-selector-aggregation.html) pipeline aggregation have some limitations -

1. Only one bucket selector can be applied on a parent multi-bucket aggregation. Since, BucketSelector retains the selected buckets and discards the others, so allowing multiple BucketSelector for an aggregatio

[2021-05-08 08:09] ketanv3 opened #675 "[Feature] Support Data Streams in OpenSearch"
**Is your feature request related to a problem? Please describe.**

Data streams let users store time-series data across multiple indices while exposing a single named resource for requests. It is well suited for logs, events, metrics, and other continuously generated data where documents are seldom updated and searches generally target the most recent documents.

The creation of a data stream req

[2021-05-08 09:12] Bukhtawar opened #676 "[BUG] Too verbose logging causes significant garbage on master"
**Describe the bug**
## Problem
When a node goes bad due to hardware failure(checksum errors) or network disconnections, the async shard fetch does too verbose logging at a per shard listing basis generating too much garbage as seen below from one of the traces. This occurred on a ES 6.8 cluster, but my assumption is it would happen on later versions too. Please correct me if my understanding is w

[2021-05-08 18:06] beejeebus commented on #472
👋 what's the best way to proceed? I'm happy to work on this with a bit of direction on how to chunk up the changes.

[2021-05-09 16:44] sujithstarailab opened #677 "Instalation"
How to install opeenserach in ubuuntu? How we connect with java springboot

[2021-05-09 16:45] #677 closed

[2021-05-10 05:32] shwetathareja commented on #669
@nknize , can you please take a look?

[2021-05-10 06:59] krishna-ggk commented on #669
Good find. This is an issue for cross-cluster connectivity between ES 7.x and OS 1.x as the same version compatibility matching is used. Essentially this breaks cross-cluster search and [cross-cluster replication](https://github.com/opendistro-for-elasticsearch/cross-cluster-replication) between ES 7.10 and OS 1.0.

[2021-05-10 08:01] arunabh23 opened #678 "Make default number of shards configurable"
**Is your feature request related to a problem? Please describe.**
A way to modify the default number of shards for indices whose creation requests do not have the number of shards setting explicitly provided. This will be useful in cases where for such indices the cluster manager wants to have a default value other than the hardcoded value of 1 shard. Assumption is that most of the users will not

[2021-05-10 08:01] arunabh23 commented on #678
PR: https://github.com/opensearch-project/OpenSearch/pull/625

[2021-05-10 08:02] arunabh23 commented on #678
Will be creating another PR for backporting it to Opensearch 1.0

[2021-05-10 08:39] geekygirldawn opened #679 "[VOTE]: Contributor Ladder Proposal - aka How to become a maintainer"
We’ve been talking about this proposal for a few weeks, and @nknize suggested that we start a new vote thread to make a decision. I tried to do this on the forum, but the forum will not accept replies of less than 20 characters, which makes adding just a +1, -1 impossible, so lets do the vote here, instead.

Please add a 👍 or 👎 on this issue to cast your vote. We'll close the voting and tally the

[2021-05-10 15:10] stockholmux commented on #679
Hey folks - FYI - this is not a vote that is binding. Definitely good form of feedback though.

[2021-05-10 18:51] VachaShah opened #681 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-05-10 19:04] #681 closed, assigned to nobody

[2021-05-10 19:32] dblock commented on #626
It's pretty common to put a `.keep` file in an empty directory. Doesn't feel like we should fail to start on something like this unless there's a really good reason.

[2021-05-10 20:59] camerski opened #682 "[BUG] gradlew check command fails due to license check / RPM build failure"
**Describe the bug**
When I run `gradlew check` against the 1.x branch (and the main branch), the build fails with the following error:

[code]

I have traced this to the `distribution/packages/build.gradle` file which has the offending license string at line 364; changing that to "ASL-2.0" solves that particular problem, but the next failure is more obscure:

[code]

At this point I'm at a loss t

[2021-05-10 22:02] camerski commented on #682
Hmm, might be my build environment...building commit b1b563dc39c39625b709d7f1ef97459f0e3b4e34 also fails on my machine...

Is there something I need in my environment to avoid the `> expected license [ASL-2.0] for [/workplace/camerski/opensearch/search/distribution/packages/arm64-rpm/build/distributions/opensearch-1.0.0-SNAPSHOT.aarch64.rpm] but was [ASL 2.0]` error?

[2021-05-10 22:12] dblock commented on #632
I'm closing this in favor of a separate issue to release a standalone artifact equivalent to elasticsearch-oss.

[2021-05-10 22:12] #632 closed

[2021-05-10 22:13] dblock opened #683 "Release a standalone artifact equivalent to elasticsearch-oss"
**Is your feature request related to a problem? Please describe.**

Release a standalone artifact equivalent to elasticsearch-oss.

**Additional context**

https://discuss.opendistrocommunity.dev/t/naming-for-opensearch-1-0-distributions/5789
https://github.com/opensearch-project/OpenSearch/issues/632
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/319

[2021-05-11 01:26] CEHENKLE opened #684 "MAINTAINING.md"
I mentioned this in [another issue](https://github.com/opensearch-project/OpenSearch/issues/537#issuecomment-830467064), but I wanted to capture some thoughts on the 'what' of maintaining.  I'm thinking of this as a sister document to ["CONTRIBUTING.md"](https://github.com/opensearch-project/OpenSearch/blob/main/CONTRIBUTING.md) that explains tactically what maintainers should be doing.

To start

[2021-05-11 04:20] adnapibar commented on #682
PR #569 should fix this issue along with other distro tests.

[2021-05-11 15:02] dblock opened #686 "Proposal: Allow custom plugin path when installing"
**Is your feature request related to a problem? Please describe.**

Currently, when installing a plugin the path is set to some `function(plugin id) = folder`. Give plugin authors the ability to visibly name the folder into which the plugin is installed.

**Describe the solution you'd like**

- Allow plugin authors to declare the folder name for a plugin in the configuration, visibly.
- Allow plug

[2021-05-11 16:00] oridool opened #687 "[BUG] OpenSearch is exposed to ReDoS attack"
**Describe the bug**
By using a specific regExp query, I am able to cause 100% cpu for a long time.

See also discussion here:
https://discuss.opendistrocommunity.dev/t/is-opendistro-opensearch-exposed-to-redos-attack/5898

**To Reproduce**
[code]

**Expected behavior**
I would expect the internal Lucene regExp engine to limit the execution after short period. But unfortunately, it doesn’t.

**Hos

[2021-05-11 16:09] nknize commented on #679
Note to all that community participation in this is helpful and encouraged. See @dblock issue [here](https://github.com/opensearch-project/OpenSearch/issues/671) and open bug reports, patches, etc. that can be backported to ensure compatibility and stability.

[2021-05-11 16:34] dblock commented on #671
What's a "meta" issue? How do I convert this?

[2021-05-11 17:10] dblock commented on #684
I think the release process should be a separate RELEASING.md, e.g. https://github.com/ruby-grape/grape/blob/master/RELEASING.md

[2021-05-11 17:15] AmiStrn commented on #600
@dblock I got the same issue, however after changing the `testDistribution` value from ARCHIVE to INTEG_TEST in my `build.gradle` the tests ran perfectly. I'm working with @saratvemulapalli to figure this out.

[2021-05-11 19:44] setiah commented on #684
We should document what **"a PR lifecycle"** should look like somewhere. This would also capture some the questions you've raised. I see a few PRs out there without corresponding issues. Some Initial thoughts on the process -

1. First, the developer should create a Github issue explaining the problem, steps to reproduce, potential fix(es).
2. Then, create PR and tag the created issue in the PR de

[2021-05-11 23:30] CEHENKLE commented on #684
Hm....why don't we see how large that section becomes, and then we'll see if it merits its own doc?  It may not even belong in OpenSearch (it may belong in the build repo).

[2021-05-11 23:38] CEHENKLE commented on #664
Thanks @rursprung again for the callout.  We've enabled dependency graph, dependabot alerts and dependabot security updates on all OpenSearch repos at the org level,  This should impact all current repos, as well as all new repos created.

I'm not 100% sure how it'll work for a complex multi-project gradle build without some more work, but it gives us a target to hit.

Thanks again,
/C

[2021-05-11 23:38] #664 closed

[2021-05-12 13:09] nknize commented on #669
@shwetathareja the proposal looks good to me. Can you open a PR with the proposed fix? In the meantime we need to enable Backwards Compatibility testing w/ ES nodes. This will require some changes to DistributionDownloader so we'll get a separate PR open get those taken care of.

[2021-05-12 13:22] shwetathareja commented on #669
Thanks @nknize, I will take it up.

[2021-05-12 19:24] dlvenable opened #693 "[BUG] version number is incompatible with existing ES clients"
**Describe the bug**
The API which provides version includes a field `version.number`. Clients parse this value to determine what version of ElasticSearch is running, and is used for checking API compatibility.

In ElasticSearch 7.10, this value is reported as `7.10`.

In OpenSearch 1.0.0, the value is `1.0.0-SNAPSHOT`.

Existing clients which parse this string are unable to communicate with OpenS

[2021-05-12 20:51] dlvenable commented on #693
Since the problem is only with the `number` property, a possible solution would be:
* Retain the `number` property as matching the ElasticSearch API version
* Add a new property representing the OpenSearch version.

For example:

[code]

There is probably a property name to use rather than "opensearchVersion." But, the advantage of this solution is that callers can know the ElasticSearch API versi

[2021-05-12 21:01] saratvemulapalli opened #694 "Update BaseRestHandler to implement default routes"
**Describe the bug**
Update BaseRestHandler to implement default routes() instead of an abstract class.
This will help developers not to implement empty methods even though they don't need it.
They can always override the method if they'd like.

https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/server/src/main/java/org/opensearch/rest/BaseRestHandler.ja

[2021-05-12 21:26] saratvemulapalli opened #695 "[BUG] OpenSearchRestTestCase support for Parameterized Tests is broken"
**Describe the bug**
OpenSearchRestTestCase supports ParameterizedTests using Carrot Randomized Runner and looks like the setup is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a integ test case implemented with OpenSearchRestTestCase.
2. Setup ParameterizedTests using @Runwith
3. Run the test using gradle
4. See error

Sample test:
[code]

**Expected behavior**
`testSamplePa

[2021-05-13 00:44] CEHENKLE opened #696 "Dogfooding OpenSearch (documentation search)"
**Is your feature request related to a problem? Please describe.**
We want to make sure we're [dogfooding](https://en.wikipedia.org/wiki/Eating_your_own_dog_food) OpenSearch even before we get the general release stage.  As it happens, we have a large amount of documentation for the product that we'd like to be able to search.  What I'm thinking is that we'd build a search function on our OpenSear

[2021-05-13 04:41] bbarani commented on #655
@KlavsKlavsen We just created a [public repo](https://github.com/opensearch-project/opensearch-devops) to host the devops-related code, that includes Helm charts as well. Please feel free to take a stab for migrating the existing helm chart code and raise a PR for review. Thanks a lot for your contribution!

[2021-05-13 11:49] matznermatzner opened #698 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-05-13 12:46] jesperolsson-se opened #699 "Lower barrier to contribution"
I worry that potential contributors may walk away from this project. For any GitHub project, the `README` is the first (and often only) impression and must thus aim to engage the reader. When reading the current version, I mostly feel indifference.

Right now, the focus is on _what_ OpenSearch is, not _why_. It doesn't reflect any [values](https://opensource.org/node/1099) or [beliefs](https://aws

[2021-05-13 17:08] matznermatzner opened #700 "64adbef638007f84b54828d54210a4ec70665a72"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-13 17:34] dblock commented on #693
Doesn't feel right that we're retaining ES number anywhere. Are we saying that we don't want clients to have to modify anything to work against OpenSearch?

[2021-05-13 17:36] dblock commented on #694
In this case `routes` is not required because all the routes have `replacedRoutes`.

[2021-05-13 17:37] dblock commented on #695
What's the error? ;)

[2021-05-13 17:39] matznermatzner opened #702 "> @@ -126,6 +135,26 @@ public RestResponse buildResponse(SearchResponse response) throws Exception { @Override public List<Route> routes() { - return ImmutableList.of(new Route(RestRequest.Method.POST, urlPath), new Route(RestRequest.Method.GET, urlPath)); + List<Route> routes = new ArrayList<>(); + for (String path : urlPaths) { + routes.add(new Route(RestRequest.Method.POST, path)); + routes.add(new Route(RestRequest.Method.GET, path)); + } + return routes; + } + + @Override + public List<ReplacedRoute> replacedRoutes() {"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-13 17:39] #698 closed

[2021-05-13 17:42] dblock commented on #699
Would like to see a PR for this. I would however leave this project's readme to mostly technical aspects and link to things like https://aws.amazon.com/blogs/opensource/introducing-opensearch/ that you're proposing.

[2021-05-13 17:46] dblock commented on #702
How can we help?

[2021-05-13 17:46] #702 closed

[2021-05-13 17:46] #700 closed

[2021-05-13 17:48] #87 closed

[2021-05-13 17:57] CEHENKLE commented on #533
@davidshtian  As of today we've put out the first version of the docs site: https://docs-beta.opensearch.org/  Let us know what you think, and feel free to [contribute changes](https://github.com/opensearch-project/documentation-website) if you find things that could be better.  :)

[2021-05-13 18:04] CEHENKLE commented on #699
@jesperolsson-se Thanks for the feedback.  I was trying to reference the "whys" by embedding the principles in the readme, but if there's more we should put in, I'm open to it.   Do you have examples of readmes you think do a good job?

Also, as @dblock says, I welcome PRs (I added the help wanted labels).

Thanks,
/C

[2021-05-13 18:32] matznermatzner opened #703 "​OpenSearch Copyright 2021 OpenSearch Contributors This product includes software developed by Elasticsearch (http://www.elastic.co). Copyright 2009-2018 Elasticsearch This product includes software developed by The Apache Software Foundation (http://www.apache.org/) This product includes software developed by Joda.org (http://www.joda.org/)."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-13 18:33] matznermatzner opened #704 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-05-13 18:44] dlvenable commented on #693
Yes, I believe that clients should not have to make changes to migrate from ElasticSearch 7.10.2 to OpenSearch 1.0. We've already found that Logstash with the Logstash ES plugin can work with OpenSearch if we manually change `version.number` to `7.10.2`.

The [introduction blog post](https://aws.amazon.com/blogs/opensource/introducing-opensearch/) also indicates this is the case.

Clients could as

[2021-05-13 18:58] dblock commented on #703
@matznermatzner what is this? Can I please ask you stop opening these?

[2021-05-13 18:58] #703 closed

[2021-05-13 19:41] #704 closed

[2021-05-13 20:04] dblock commented on #693
I am 💯  with you on backward compatibility, but OpenSearch didn't break backward compatibility by changing the value of `version.number` (the API continues to return the same fields, including `number`, but a value has changed to `1.0-...`). Even though reverting it to 7.x seems to work around the problem, someone should figure out what the actual root cause of #667 is without that. The exception

[2021-05-13 20:08] jcgraybill commented on #693
@dlvenable raises a great point that this is almost certainly going to be more than a logstash issue: a lot of clients that interact with OpenSearch are going to check the version # to know the wire protocol to use. The proposed solution seems really elegant: keep version.number at 7.10.2 which reflects the API compatibility and lets current clients work without changing, and have a separate openS

[2021-05-13 20:09] stockholmux commented on #699
@jesperolsson-se Content might be valuable over on the [project-website](https://github.com/opensearch-project/project-website) too. Contributions are welcome at that location as well.

[2021-05-13 20:13] CEHENKLE commented on #667
I think this is related to #693.  Thanks for reporting!

[2021-05-13 20:33] CEHENKLE commented on #683
I think this is useful, and we should do it :)

I do hate that this means it ships without the security plug-in, but that's already on my radar as being something we should tackle (are their pieces currently in the security plug-in that should be modules in core), but I wouldn't block releasing a minimal version (or whatever we decide to call it) on that.

[2021-05-13 20:54] dblock commented on #693
@jcgraybill I think I agree, but I do worry that this could lead to users having broken software more often as a production surprise. We'd be asserting that OpenSearch 1.0 works just like ES 7.10 in _every way_ rather than the fact that it _has a backward-compatible API_ that minimizes client code changes.

Either way, we need to contribute integration tests against OpenSearch to https://github.co

[2021-05-13 20:55] dblock commented on #667
Whichever way we fix this, we need to remember to contribute integration tests against OpenSearch to https://github.com/logstash-plugins/logstash-output-elasticsearch. It currently runs against multiple versions of ES.

[2021-05-13 21:12] CEHENKLE commented on #472
I added the 2.0 release (when we'd want to fix this) and removed "help wanted" as it's not a good starting issue for someone.

[2021-05-13 22:21] jkowall commented on #683
We have our own security implementation, for example, so we do not need the security plugin in our case. I am sure many other folks are in the same boat.

[2021-05-13 22:32] CEHENKLE commented on #683
Good point @jkowall

[2021-05-13 22:56] nknize commented on #699
100% agree with this!

[2021-05-13 23:22] VijayanB commented on #694
routes() method is from interface RestHandler, which already has default implementation [here](https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/server/src/main/java/org/opensearch/rest/RestHandler.java#L84). May we should remove this method overriding from RestHandler at BaseRestHandler .

[2021-05-13 23:45] adnapibar commented on #529
https://hub.docker.com/r/opensearchproject/opensearch

[2021-05-13 23:45] #529 closed

[2021-05-14 04:43] davidshtian commented on #533
Cool! Thanks so much~

[2021-05-14 05:25] jesperolsson-se commented on #699
Thank you all for your feedback! Please assign me and I'll start working on a PR as soon as I can find the time.

@CEHENKLE By and large, I think [these suggestions](https://www.yegor256.com/2019/04/23/elegant-readme.html) are pretty good advice (a few examples are linked at the bottom). Perhaps not all of them, and perhaps we should make some deviations—this being a fork and all.

[2021-05-14 13:05] lukas-vlcek commented on #533
@CEHENKLE It would be very useful if OpenSearch version is part of the documentation URL.

[2021-05-14 13:34] stockholmux commented on #696
I'd actually say we should make this a separate repo from [project-website](https://github.com/opensearch-project/project-website). [for those who don't know, I maintain that repo]

Just from a standpoint of contribution and commit control it seems weird to merge a Jekyll site (mostly markdown, html templates and yaml) that emits flat files with something to be deployed and ran actively. Maybe we

[2021-05-14 13:44] stockholmux commented on #684
What, if any, of this project wide vs unique to OpenSearch proper? Personally, I like consistent processes across repos in an org.

[2021-05-14 14:25] dlvenable commented on #693
@dblock , Thanks for engaging on this.

I'm unsure exactly what issues you might be imagining. Are they problems with automated tools expecting specific behavior from specific versions? Or more of a human-related issue?

With the latter, I could see an issue with logging. Code like `log.info("ElasticSearch version {}", version.number)` would log out `ElasticSearch version 7.9.2`. That could lead t

[2021-05-14 15:45] peternied opened #705 "Add coordination time to profiler"
**Describe the bug**
Took time on profiled request is 1.3 seconds, inspecting the shards search/aggregations times they are all under 460ms-339ms.  This implies coordination had a substantial impact on the response time.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a query from your ES instances slow log
2. Repeat the query with `"profile":"true"` until took time is above an acceptab

[2021-05-14 16:11] nknize commented on #693
Let's be careful not to engineer a ton of cosmetic surgery just to treat a secondary symptom. Doing so risks causing other problems. First things first, the backwards compatibility tests are still disabled; so we absolutely need to re-enable those in order to catch any/all other areas affected by the version rebase. (/cc @harold-wang) That's being worked now.

As for this particular symptom, the r

[2021-05-14 16:16] nknize commented on #693
There is already a patch value in the semantic versioning system. (e.g., 1.0.0 is the 0 patch version of Major 1, Minor 0 release).

Are you suggesting a "feature" or "nightly" number? This has been brought up before (in the context of plugins) and I think it's worth discussing as a separate topic independent of this particular bug because I think it has merit. Would you like to open a separate di

[2021-05-14 16:31] CEHENKLE commented on #699
@jesperolsson-se Done :)  And thanks!

[2021-05-14 19:27] Smithx10 opened #706 "Filebeat mappings bug"
While attempting to run setup to create the indexes for filebeat I receive a mapping error:

Using the folllowing url for filebeat:

wget https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-7.10.0-linux-x86_64.tar.gz

[code]
[code]

While running the filebeat daemon:
[code]

Running a this version vanilla,  with the following config:
https://artifacts.opensearch.org/releases/bundle/

[2021-05-14 20:36] CEHENKLE commented on #533
@lukas-vlcek Totally agree.  I know we want to have the version (and language) in the URL, but we're ready to go with that, so that's why we put it into doc-beta for now.  @aetter @stockholmux would know more :)

[2021-05-14 20:59] dlvenable commented on #693
@nknize , The issue you referenced for ["OpenSearch node fails to join"](https://github.com/opensearch-project/OpenSearch/issues/669) mentions a "backward compatibility mode" solution. Is the idea that OpenSearch would report `version.number` as `7.10.2` when that flag is set?

Regarding the patch idea, this was an extension of my original proposal. Rather than returning `7.9.2` as the version, we

[2021-05-14 21:07] dlvenable commented on #693
To elaborate on the purpose of this bug, we found that Logstash and Filebeats both fail to load templates when running against OpenSearch 1.0.0.

----

In local experiments, we modified [MainResponse](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/main/MainResponse.java#L122) to return a hardcoded value:

[code]

After this change, Logstash an

[2021-05-14 23:20] tlfeng commented on #626
Hi @tgurr, thanks for the detail! I get your point.
Combining with @dblock's opinion, I think this can be an improvement of OpenSearch.
If you have got ideas to resolve the issue, we are willing to see your contribution 😄. Otherwise, I will try to find a solution.

[2021-05-14 23:28] setiah commented on #660
Closing this in favor of keeping #678 open under `documentation` label

[2021-05-14 23:28] #660 closed

[2021-05-15 00:13] tlfeng commented on #687
Thanks @oridool for providing the detailed steps 👍, the issue is reproducible.
<img width="672" alt="image" src="https://user-images.githubusercontent.com/78394866/118342339-c15d0800-b4d7-11eb-8d0c-05130b6a0368.png">

[2021-05-15 00:17] setiah commented on #91
@saratvemulapalli can we close this?

[2021-05-15 00:38] CEHENKLE commented on #706
Hi @Smithx10 I think this is related to some of the versioning issues that are impacting clients #693 .   Once we've got a solution for that, I'd really appreciate if you'd be willing to retest.

Thanks,
/C

[2021-05-15 00:50] CEHENKLE commented on #673
Tl;Dr  The original large performance degradation we saw was caused by an issue in the performance tool.  Now that we've cleared that out, we're still seeing a (smaller) performance degradation, but we've got a smoking gun that the version changes are causing the issue.   So we believe this is ultimately related to #693, and should be resolved with that issue.

We've been digging into this, and he

[2021-05-15 01:56] Smithx10 commented on #706
@CEHENKLE,

I made the change noted in #693 and confirmed that the hard coded version of "7.10.2" in https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/action/main/MainResponse.java#L122 fixed the filebeat client in our environment.

[code]

[2021-05-15 02:02] Smithx10 commented on #693
@dlvenable,

Just chiming in to say thanks,  and this worked in our testing.  https://github.com/opensearch-project/OpenSearch/issues/706#issuecomment-841582430

[2021-05-15 02:28] nknize commented on #693
No. I'm saying use the versioning system as it is intended (for backward compatibility) and fix MainResponse to [return the predecessor version for LegacyClients](https://github.com/nknize/OpenSearch/commit/798f614a0d86840ecbc58bd8a649c79c4d5955d2) which wasn't covered in the [initial patch](https://github.com/opensearch-project/OpenSearch/commit/6e04778d0c8aa33b3360bf6b000f85da93cec650#diff-dd348

[2021-05-15 02:43] nknize commented on #673
Initial [PR has been opened](https://github.com/opensearch-project/OpenSearch/pull/708) to fix BWC for legacy transport clients.

[2021-05-15 12:41] oridool commented on #687
@tlfeng , I think that the problem eventually relies inside Lucene regexp engine (package `org.apache.lucene.util.automaton`), and the lack of a timeout or another stop condition in case of infinite loops.
Perhaps adding a limit of 500ms (configurable) in Lucene regexp and abort the execution if timeout exceeds is the approach to be taken in this case.
See how this approach was implemented in .NET

[2021-05-15 12:56] stockholmux commented on #533
@lukas-vlcek Yup. I believe the intention is to have `/docs/<lang-code>/<major-minor-version>`. This is one reason the beta-docs are on a subdomain and don't hang on the opensearch.org primary structure yet.

[2021-05-15 13:58] Bukhtawar commented on #705
I don't think it's a bug as the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/search-profile.html) clearly calls out the gap. We should plan on bridging this holistically
1.  Network round trip
2. Time spent in queues
3. Time spent on coordinator fanning out
4. Time spent on coordinator merging responses

[2021-05-15 17:54] lukas-vlcek commented on #533
That is great. Just one comment on this. I think it should be in reverse order, version first, lang second. Also it would be practical if the second parameter can be missing (the lang) in which case it would default to EN.

[2021-05-15 22:38] janhoy opened #709 "[BUG] Install of analysi-icu plugin fails in beta1"
**Describe the bug**
Trying to do install analysis-icu plugin from docker container fails with HTTP 403

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -ti opensearchproject/opensearch:1.0.0-beta1 bash`
2. `bin/opensearch-plugin install analysis-icu`
3. See error

[code]

**Expected behavior**
Plugin installed

**Plugins**
(none)

**Screenshots**
(None)

**Host/Environment (pleas

[2021-05-15 23:25] CEHENKLE commented on #709
I suspect this may be related to https://github.com/opensearch-project/OpenSearch/issues/693?

Thanks,
/C

[2021-05-16 14:09] janhoy commented on #709
I think it is simply the artifacts.opensearch.org site that requires some authorization. Try to download that plug-in zip from your browser and you get same 403 response. Perhaps it is some firewall rules that allow requests from inside Amazon networks but not from outside?

[2021-05-16 22:50] npetzall opened #710 "[BUG] org.opensearch.index.reindex.ReindexRestClientSslTests#testClientSucceedsWithCertificateAuthorities - javax.net.ssl.SSLPeerUnverifiedException"
**Describe the bug**
Test assume that host name returned for 127.0.0.1 will be one of the Subject alternative names.

But due to Windows 10, Docker + Kubernetes, host name returned for 127.0.0.1 might be 'kubernetes.docker.internal'

**To Reproduce**
Steps to reproduce the behavior:
1. Windows 10, Docker desktop and kubernetes enabled.
2. Run test

**Expected behavior**
That the test would only us

[2021-05-17 10:47] dhwanilpatel opened #711 "Improvement in releasing local shard files post relocation."
### **Is your feature request related to a problem? Please describe.**
If index has multiple replicas configured and shards are getting relocated to another node then if relocation of some primary/replica shard is completed and other replica is still being relocated then local shard files of this shards on source node of completed replica is not getting deleted until other relocation are also not

[2021-05-17 14:09] #675 closed

[2021-05-17 16:28] saratvemulapalli commented on #91
@setiah I do not think so. We have to update 2 URLs.
1. Ivy repository for Releases. - Done
2. Ivy repository for Snapshots. - Yet to be done.

I've updated the issue to make it easier to understand whats left.

[2021-05-17 16:38] peterzhuamazon commented on #709
We dont have plugins zips on `artifacts.opensearch.org` yet. Need @nknize or @dblock to help explain what is the purpose of this plugin and usages.

[2021-05-17 17:01] nknize commented on #709
It integrates the Lucene ICU analysis module which process extended Unicode support using the [ICU libraries](http://site.icu-project.org). It's extremely useful and well done.  I think the holdup here is more related to figuring out how the plugin artifacts will be made available (maven, bundle, individual archives, bundle archives, etc.)

[2021-05-17 17:27] dblock commented on #693
@harold-wang or @nknize, are you working on this?

[2021-05-17 17:35] nknize commented on #693
First [PR opened](https://github.com/opensearch-project/OpenSearch/pull/708)

[2021-05-17 17:55] nknize commented on #417
reopening this as an ongoing meta-issue needing improvement.

[2021-05-17 19:54] drBenway opened #714 "[BUG] wrong link to docker hub in the documentation"
**Describe the bug**
The link to docker hub on https://docs-beta.opensearch.org/docs/opensearch/install/docker/ is pointing to opensearch not opensearch project

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs-beta.opensearch.org/docs/opensearch/install/docker/'
2. Click on 'docker hub'
4. You see an empty repo

**Expected behavior**
I expect to end up on the repository fo

[2021-05-17 21:02] shdubsh commented on #667
I found this possibly related to the ElasticSearch 6.0 deprecation of mapping types.  Inspecting the _bulk POSTs showed the `_type` field was equal to `type` in the document which led to mapping issues as there are no document type definitions in my mapping templates.

Logstash 7 is helping with the deprecation by [overwriting this field when ES version is > 6.](https://github.com/logstash-plugins

[2021-05-17 23:08] #127 closed

[2021-05-17 23:09] #146 closed

[2021-05-17 23:09] CEHENKLE commented on #146
Closed as dupe.  Please reopen if needed.

[2021-05-17 23:33] CEHENKLE commented on #430
Covering this here:  https://github.com/opensearch-project/opensearch-build/issues/20

[2021-05-17 23:33] #430 closed

[2021-05-17 23:36] tlfeng commented on #687
Hi Ori, thank you so much for providing your opinion of the solution and the useful links! 👍👍
I spent some time in looking for how Elasticsearch handles the problem. I think currently there is nothing but an excessive setting that disable the regex queries (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html#_allow_expensive_queries_6).
Besides, there is an

[2021-05-18 00:25] andy840314 opened #719 "Setting.groupSetting does not support fallbackSetting"
While migrating settings from opendistro to opensearch for security plugin, we found that `Setting.groupSetting `does not support `fallbackSetting` like other setting does. This makes security plugin difficult to achieve backward compatibility for the settings that uses `Setting.groupSetting`.

This is one of the setting in security plugin that uses `Setting.groupSetting`:
[Link](https://github.co

[2021-05-18 00:27] setiah commented on #449
#707 fixes this.

[2021-05-18 00:27] #449 closed

[2021-05-18 01:21] anutator opened #720 "Support Timber Vector agent, add node.js support"
**Is your feature request related to a problem? Please describe.**
I found that you give examples in OpenSearch Dashbord for filebeat and metricsbeat.
Can you add support to Timber Vector https://vector.dev/ and use it instead of filebeat. They assert that Vector is faster than
Filebeat (up to 10x), FluentBit, FluentD, Logstash, SplunkHF, SplunkUF.
Is metricbeat as fast as Vector? Does it collect

[2021-05-18 01:50] jkowall commented on #720
Vector is already supported. We currently have the same APIs as elasticsearch.￼

[2021-05-18 14:15] #492 closed

[2021-05-18 14:33] dlvenable commented on #693
@nknize , As I understand PR #708, this will support the _internal_ node-to-node communication inside an ElasticSearch cluster.

I created this ticket mostly to support _external_ clients. Also, #667 and #706 relate to Logstash and Filebeats. How would ElasticSearch determine the client version in order to change the reported version number?

[2021-05-18 16:31] oridool commented on #687
This issue is talking about limiting Painless scripts loops, not Regexp. From my experience, it was already implemented.

[2021-05-18 17:20] tlfeng commented on #687
Ah, then there is no issues in Elasticsearch repo to deal with the timeout setting. 😅
The meta issue for the Painless safety https://github.com/elastic/elasticsearch/issues/ 30139 covered the regex issue and the implementation of timeout check for Java was also proposed there, but unfortunately nothing was planned for that kind of solution...
Anyway, it shows that Elasticsearch indeed don't have t

[2021-05-18 17:21] tlfeng commented on #687
Ah, then there is no issues in Elasticsearch repo to deal with the timeout setting. 😅
The meta issue for the Painless safety https://github.com/elastic/elasticsearch/issues/ 30139 covered the regex issue and the implementation of timeout check for Java was also proposed there, but unfortunately nothing was planned for that kind of solution...
Anyway, it shows that Elasticsearch indeed don't have t

[2021-05-18 19:29] janhoy commented on #709
Ok thanks, guess I cannot test-drive OpenSearch in my project yet then..

[2021-05-18 21:13] camerski commented on #95
"I think the motivation is to minimize branches (because more branches can put quite a demand on CI)"

I'm not sure we need to worry too much about this. The CI load is measured in terms of number of commits, regardless of which branch they are on. Backporting the same commit to multiple branches could be an issue, but I would expect this to be rare...only critical bugfixes (e.g. security flaws) a

[2021-05-18 22:21] dblock commented on #684
Might belong in a .meta repo? Or we could rename `OpenSearch` to `opensearch-min` and create `OpenSearch` ;)

[2021-05-19 00:41] tlfeng commented on #687
Hi Ori, we need some time and a deeper look into the solution for the issue. Meanwhile, we would like to help reviewing your PR if you have got solution.

[2021-05-19 05:40] jainankitk opened #724 "[Discuss] Benchmark class method do not have documentation"
**Describe the bug**
Currently benchmark class methods do not have documentation

**Expected behavior**
Wondering what is our take on that.

* At one hand benchmarks are like tests and should be fine for test methods to not have documentation?
* At the other hand, it is good to have documentation for any piece of well written code. In this case, should we enforce by adding javadoc check as part of

[2021-05-19 06:29] oridool commented on #687
Hi @tlfeng , unfortunately I don't have a PR / solution for this issue :(

[2021-05-19 12:29] arunabh23 commented on #678
Created a backport PR for 1.x branch

[2021-05-19 12:38] #504 closed

[2021-05-19 12:51] itiyamas commented on #711
Hi Dhwanil,

Can you provide steps to reproduce this issue?
Would be good to document the issues caused due to not deleting the local copy of the shard.

[2021-05-19 16:30] nknize commented on #693
It will support compatibility with transport layer clients. Those that don't connect via the transport layer and solely rely on a raw http call to obtain server version number in this manner will get the 1.0.0 OpenSearch version; and that should be the correct behavior. Hard coding that to a spoofed version is not the solution, it's a hack, and OpenSearch doesn't provide any forward compatibility

[2021-05-19 20:16] hsiang9431-amzn opened #728 "Support both elasticsearch.yml and opensearch.yml under config directory"
Need information on whether we are supporting both these files or only one of which is used.

This raise the question that should we support `open_distro` related config in `opensearch.yml` or vise versa. Which may cause confusion if not well documented config file presents in `config` directory

[2021-05-19 21:04] dblock commented on #640
All these should be falling back to their previous names.

[2021-05-19 21:58] mch2 commented on #640
assign to me, will take this

[2021-05-19 22:28] CEHENKLE commented on #724
@setiah @peternied Thoughts?

[2021-05-20 02:09] #521 closed

[2021-05-20 03:25] nknize commented on #719
I don't think the omission of the static factory method was intentional. If this unblocks bwc for the security plugin we can open a PR to add something like:

[code]

Then just add the appropriate xtor in the `GroupSetting` private class. We can open the PR but I think this would be a good opportunity for you to do it and gain some of the experience? Do you want to take this issue @andy840314?

[2021-05-20 08:52] jgq2008303393 opened #740 "【Discuss】Whether UltraWarm will be open source?"
Hi,
We’re continuing to look at what the OpenSearch community is doing. Hope to know whether UltraWarm will be open source?

Thanks,
ginger

[2021-05-20 14:36] nknize commented on #728
The plan is to not support both files and nothing in the old yml file has been removed in the opensearch.yml. If there are custom parameters that were added to the old .yml file by way of a patch then lets open separate PRs to propose adding them to opensearch.yml. Plugin specific parameters, however, should not be proposed in the opensearch.yml file since they have their own repos and may or may

[2021-05-20 14:41] dhwanilpatel commented on #711
Hello @itiyamas

Thanks for your suggestion. I have updated issue with it.

[2021-05-20 14:51] dblock commented on #719
Attempt at an implementation in https://github.com/opensearch-project/OpenSearch/pull/743.

[2021-05-20 15:08] regnard commented on #699
Hey folks, I'm new to this project and this looks something a newb like me can do to gain momentum. How do I help out with this one?

[2021-05-20 15:17] dblock commented on #728
Related #640, @mch2 is looking at introducing backwards compatibility for this exact case

[2021-05-20 15:19] dblock commented on #728
@nknize I believe a safe proposal would be to

1. Abort if both elasticsearch.yml and opensearch.yml exist.
2. If only elasticsearch.yml exists, load it.
3. If opensearch.yml exists, load it.

This way simple 1-node installations aren't surprised their settings aren't read, and the implementation is fairly straightforward.

There are other cases in #640 with similar problems.

[2021-05-20 15:22] dblock commented on #699
@jesperolsson-se opened https://github.com/opensearch-project/OpenSearch/pull/712 that is being discussed there

[2021-05-20 15:48] nknize commented on #728
Supporting elasticsearch.yml as a nuclear catch all should not be an option. Instead we should be teasing out what exactly is broken in opensearch.yml and address those on a case by case basis. Can we list here the exact settings that aren't being read?

[2021-05-20 16:56] dblock commented on #728
@nknize are you saying this is not a problem we need to worry about, and if so, why:

1. Install ES 7.x
2. Add `path.data: /var/lib/ilovedata` to `config/elasticsearch.yml`.
3. Decide to upgrade to OpenSearch
4. Overwrite ES 7.x binaries with OpenSearch
5. Run, old value of `path.data` not used.

[2021-05-20 17:13] nknize commented on #728
Is this what you've done and you're seeing an error? If so can you post the stack trace or a reproducible integration test?

If this is trying to capture the "upgrade process" I'm not sure number 4 is the thing to do? Rolling upgrades would be nice, but if that's not working because of a settings migration issue, or a version marshalling issue in the transport layer, then let's create issues aroun

[2021-05-20 17:40] andy840314 commented on #719
@dblock Thanks for the implementation, this helps a lot!

I could take the issue but given the timeline for settings migration, it would be really tight for me to get this done.

[2021-05-20 18:13] dblock commented on #728
We decided that OpenSearch will raise an error if both `elasticsearch.yml` and `opensearch.yml` are present to prevent users like myself from making mistakes, @mch2 is taking this as part of #640.

[2021-05-20 18:15] dblock commented on #640
We decided that OpenSearch will raise an error if both elasticsearch.yml and opensearch.yml are present to prevent users like myself from making mistakes.

For other changes, let's understand what they are, how those settings are used, and what a failure scenario looks like. @mch2

[2021-05-20 22:58] CEHENKLE commented on #682
#569 has been merged.  @camerski can you retest?

Thanks!
/C

[2021-05-20 23:48] vrozov commented on #728
Will opensearch provide migration utility (path) from elasticsearch.yml to opensearch.yml assuming that such migration includes migration from `elasticsearch.xxx` to `opensearch.xxx` and `opendistro.xxx` to `opensearch.xxx` settings? Why new file (opensearch.yml) would contain old settings unless it was a direct copy from elasticsearch.yml to opensearch.yml? IMO, such copy does not add any value a

[2021-05-21 00:24] tlfeng commented on #626
I found that prior to Elasticsearch 6.0, hidden files are allowed to exist in the "plugins" directory, the leniency was removed, see the [commit](https://github.com/elastic/elasticsearch/commit/9056e0cb49ed1fe0d56a9e02a91cc47c557b0189) and the [document](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/breaking-changes-6.0.html#_ignoring_hidden_folders) for breaking change.
The reason w

[2021-05-21 06:22] jainankitk commented on #521
@setiah - I guess we can remove backport pending label?

[2021-05-21 07:19] adnapibar opened #757 "[BUG] Gradle build is failing on Windows due to a recent change"
**Describe the bug**

A recent code [change ](https://github.com/opensearch-project/OpenSearch/blob/c2e816ecf607b1bbc9439cf3846ad90f3a95b090/buildSrc/src/main/groovy/org/opensearch/gradle/NoticeTask.groovy#L155 )made in #569 is causing a build failure on Windows.

This is because the method `Files.setPosixFilePermissions` is not supported on Windows as it's not a POSIX-compliant OS.

**To Reproduc

[2021-05-21 08:26] AmiStrn commented on #684
I think a meta repo referenced by the readme's and website would be good.
Also, would this be a hood place to add some best practices for PR cadence and review comments?

[2021-05-21 13:17] dblock commented on #719
Closed in https://github.com/opensearch-project/OpenSearch/pull/743

[2021-05-21 13:17] #719 closed

[2021-05-21 14:00] dblock commented on #728
I disagree with no value. Knowing that all settings that I put in elasticsearch.yml before for good reason continue working seems reassuring and easy for me as an operator. I am also of the opinion that we should support both filenames, but I think @nknize is arguing that we might want to be able to run two instances with different settings between ES and OpenSearch. I don't feel that strongly abo

[2021-05-21 17:24] mch2 commented on #640
These three params are used to bootstrap the env and are set at startup from $OPENSEARCH env vars.  If completely missing, the service won't start.  If ES* equivalents also existed, which I'm not sure is a valid use case, their values would be ignored.  At a minimum, we can detect & log a warning when both exist.

opensearch.path.home
opensearch.path.conf
opensearch.distribution.type - won't break

[2021-05-21 18:13] malpani opened #760 "Prefer adaptive replica selection over awareness attribute based routing"
**Is your feature request related to a problem? Please describe.**

Search routing preference and decisions enable coordinators to decide which copy of a shard should be picked to serve the shard query. By default, if shard allocation awareness is configured (eg. zone awareness/rack awareness), the coordinator always prefers to route the shard query to a node with local awareness attributes.

This

[2021-05-21 18:18] dblock commented on #640
Since these are set from ENV, we should be talking about those `OPENSEARCH_` ENV variables, right? Those are renames of `ES_` ones?

[2021-05-21 18:55] mch2 commented on #640
Yep.  I'm thinking at startup search for the presence of ES_ vars to issue a warning and abort for a subset of critical vars.

[2021-05-21 20:17] jotok opened #761 "[BUG] Performance Analyzer plugin not reachable at `/_plugins` after following upgrade guide"
**Describe the bug**

We followed the [upgrade guide](https://github.com/opensearch-project/opensearch-plugins/blob/main/UPGRADING.md#settings-backwards-compatibility) to rename our plugin URIs to appear under the `/_plugins` resource instead of the `/_opendistro` resource. See [ca460f](https://github.com/opensearch-project/performance-analyzer/commit/ca460ffbbad84492c81f2e7caa0304ed126dd15a). How

[2021-05-21 20:24] dblock commented on #761
It doesn't look like https://github.com/opensearch-project/performance-analyzer/commit/ca460ffbbad84492c81f2e7caa0304ed126dd15a was made before beta1, what am I missing?

[2021-05-21 20:33] malpani commented on #760
I just realized, there is already a cluster setting `es.search.ignore_awareness_attributes` to toggle the ordering. So part 1 is already present. Updating the description

[2021-05-21 21:06] cliu123 opened #762 "Security plugin build fails on `1.x` branch"
The CI on security repo `main` branch checkes out OpenSearch [branch](https://github.com/opensearch-project/security/blob/ea101e287afb85189837a6b6526f10cb9b99e4c6/.github/workflows/ci.yml#L44) `1.x` and build OpenSearch without `build.version_qualifier` as you can see [here](https://github.com/opensearch-project/security/blob/ea101e287afb85189837a6b6526f10cb9b99e4c6/.github/workflows/ci.yml#L48).

[2021-05-21 21:46] dai-chen commented on #762
Adding my observation: SQL/PPL build can pass using rc1 tag and rc1 qualifier: https://github.com/opensearch-project/sql/pull/83. But 1.x branch + rc1 qualifier didn't work. Please advise what's the right combination.

[2021-05-21 21:55] cliu123 commented on #762
@dblock mentioned that plugins should build on top of `1.x` branch instead of any tags(neither `beta1` nor `rc1`). But like I mentioned above in the issue description. Keeping `1.x` ref, but remove qualifier fails security plugin build too.

[2021-05-21 21:57] dai-chen commented on #762
Yes, just added my data point. I haven't figured out how to build against 1.x either.

[2021-05-21 22:24] dblock commented on #762
I presume you're coming from https://github.com/opensearch-project/security/pull/1176.

Here's what I tried:

[code]
rm -rf ~/.m2
[code]
testbox ~/source/opensearch-project/OpenSearch/upstream-opensearch (1.x)$ ./gradlew publishToMavenLocal -Dbuild.snapshot=false -Dbuild.version_qualifier=rc1

testbox ~/source/opensearch-project/common-utils/common-utils-upstream (main)$ ./gradlew publishToMavenLo

[2021-05-22 14:27] dblock commented on #762
Closing since this is entirely fixable in plugins.

[2021-05-22 14:27] #762 closed

[2021-05-22 16:44] vrozov commented on #762
@dblock @nknize @CEHENKLE @camerski While the issue was caused by incomplete changes in https://github.com/opensearch-project/security/pull/1174, it highlights that the current approach of building Opensearch artifacts in plugins CI is error prone and does not follow open source best practices. What is the plan to remove CI hack and publish Opensearch artifacts to maven repo?

[2021-05-22 20:19] vrozov commented on #728
I don't question the value of supporting existing settings in `elasticsearch.yml`, I question value of coping `elasticsearch.yml` to `opensearch.yml` as is, without migrating (and providing migration utility) the old settings names to the new settings names. This question is mostly independent from the question whether both files needs to be supported or only one should be supported. My personal t

[2021-05-23 14:26] dblock commented on #762
See https://github.com/opensearch-project/opensearch-build/issues/20.

[2021-05-23 14:28] dblock commented on #728
@vrozov why is that your preference?

[2021-05-23 14:47] dblock opened #763 "Use semver to decide whether a plugin can start or not"
**Is your feature request related to a problem? Please describe.**

Currently, all versions between OpenSearch and plugins must match exactly for OpenSearch + plugin to start. Otherwise you get an error (TODO: details of the error).

To work around this problem what we're doing is that we are pre-labelling everything the same version number, e.g. `1.0.0-rc1`, build everything with that version, th

[2021-05-23 14:52] dblock commented on #763
@nknize would like your comments

[2021-05-23 14:53] dblock commented on #763
@mch2 want to take this assuming Nick agrees with what I'm proposing here?

[2021-05-23 20:14] vrozov commented on #728
It gives an option to use `elasticsearch.yml` in backward compatible mode if users are not yet ready to fully migrate from `elasticsearch.yml` to `opensearch.yml`.

[2021-05-24 17:23] nknize commented on #679
I'm reopening this and renaming from [VOTE] to [DISCUSS] as an attempt to facilitate an ongoing healthy discussion around this topic and keep the progress (not perfection) train moving forward. It feels like the controversy turned a lot of folks away; which would be unfortunate. I hope I'm wrong. Losing the voices is detrimental to a community driven project and so if we've lost anyone's voice I'd

[2021-05-24 17:55] #538 closed

[2021-05-24 18:02] mch2 commented on #640
I'm not sure we are approaching this correctly - @nknize should we wait for concrete bwc bugs instead of issuing warnings/fallbacks?

[2021-05-24 18:15] #757 closed

[2021-05-24 18:29] ketanv3 opened #766 "[BUG] `./gradlew run` task is broken for plugins"
**Describe the bug**
The `./gradlew run` task allows plugin developers to launch a test cluster with the plugin pre-installed. This allows for quick development and testing cycles. This worked fine until 7.9 but has been broken since 7.10, and therefore in OpenSearch.

Plugin developers end up having to manually configure the 'run' task in their build.gradle file to [launch a test cluster](https:/

[2021-05-24 19:20] adnapibar commented on #640
IMO we should be providing a migration tool that interactively/quietly migrates to the OpenSearch 1.x from a supported ES version. This tool should be included in the `bin` directory of the OpenSearch distribution.

[2021-05-24 19:44] dblock commented on #669
Linking to https://github.com/opensearch-project/OpenSearch/issues/640

[2021-05-24 19:46] camerski commented on #763
I think we can do even better here: Split the plugin API into its own version namespace and use that to determine compatibility.

That gives us the ability to define Plugin API 1.0, and implement it in OpenSearch 1.x, 2.x, 3.x etc. Plugins can code against API 1.0 (or 2.0) and not have to care whether they are running in OpenSearch 1.x, 2.x, or 3.x - all they care about is whether this instance of

[2021-05-24 19:52] dblock commented on #763
@camerski suggestions are good, but I would first fix the problem we have to fix for 1.0, then redesign the compatibility matrix in some future

[2021-05-24 19:55] camerski commented on #763
Yeah, makes sense. Can we relax the strict minor version requirement, though? It seems reasonable for plugin-1.3 to work with opensearch-1.0, or for plugin 1.0 to work with opensearch 1.5.

[2021-05-24 20:01] tlfeng commented on #763
I'm a little confused how the problem in #622 occurs. Looks like currently the required OpenSearch version of a plugin is always consist of 3 numbers without the version qualifier (alpha, beta, rc ...)
The required version is stated in property "opensearch.version" in `plugin-descriptor.properties`, like below:
<img width="489" alt="image" src="https://user-images.githubusercontent.com/78394866/11

[2021-05-24 20:02] dblock commented on #763
I was seeing this at some point before beta1, it may have already been fixed, someone needs to double-confirm.

[2021-05-24 20:05] tlfeng commented on #763
Seems there is no related changes after that. Looks like the required OpenSearch version is set without the build qualifier.
Meanwhile I think @camerski's idea can relax the developers a lot. 😄

[2021-05-24 20:30] nknize commented on #640
+1  Let's keep them separate and not introduce more logic in the main server implementation that will only be carried in the 1.x release line.

[2021-05-24 20:51] dblock commented on #763
I think the issue I remembered doesn't exist anymore. I installed beta1 and loaded an rc1 job-scheduler and it worked. I'll close this for now.

[2021-05-24 20:51] #763 closed

[2021-05-24 20:53] dblock commented on #763
@camerski will you please open a new issue describing what you're suggesting?

[2021-05-24 20:59] saratvemulapalli commented on #640
Agreed, I like what @adnapibar said.
This is something which is needed only for customers moving from Legacy versions of ES to OpenSearch 1.0.0 or 1.x.

For everything which is configuration based we should use the script to take care of it.
For everything which needs while rolling upgrades (i.e runtime) needs to be in the code. I would rather have it as plugin with the repo as it is only for 1.x

[2021-05-24 23:08] gijs007 opened #768 "Starting OpenSearch Docker containers fails when using a custom config"
I'm attempting to setup OpenSearch and OpenSearch Dashboard, with Docker.
According to the documentation we can use a custom config: https://docs-beta.opensearch.org/docs/opensearch/install/docker/

However when following the steps in the documentation, the containers won't start properly. This happens with a custom config for OpenSearch or with a custom config for the OpenSearch Dashboard.

There

[2021-05-24 23:14] abbashus commented on #768
Thanks for bringing this issue. Since this docs are still in beta, we do expect some gaps. Let us reproduce this from our end and fix the issue no 1 and more documentation to fix issue 2 and 3. We encourage you to raise a PR for fixing issue 1. Please see our [developer guide](https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md) on how you can contribute.

[2021-05-24 23:32] mch2 commented on #607
@nknize are we able to use the apache snapshot repo instead? It looks like lucene nightly builds are pushed there. https://cwiki.apache.org/confluence/display/LUCENE/NightlyBuilds

[2021-05-25 03:09] itiyamas commented on #711
This is a nice improvement, but we need to be more careful about this change as recovery as it involves wiping the data for shards and can potentially result in data loss in extreme edge cases. Some points to consider here:

1. A replica always happens from primary and replica may be recovering from the old primary when we delete this data. I am assuming that recovery will be cancelled when you de

[2021-05-25 12:29] jkowall commented on #679
Thanks for re-opening this one @nknize I agree we need to open things up, but that's an Amazon decision. If it doesn't change soon, then the community will have to figure out the best course of action for the next steps to have a multi-company open source project.

If I need to escalate something internally at Amazon to make this a reality I will do that, but I was hoping that we'd just determine

[2021-05-25 12:46] geekygirldawn commented on #679
@nknize I worry about fragmenting this conversation. We already have a lot of discussion about this proposal in the forum thread, and now we have a second, but disconnected place where this discussion is happening. I created this as a place to vote, and closed it when it was decided that this wasn't ready for a vote, so this was never really intended to be a second place for a discussion on this t

[2021-05-25 18:36] peterzhuamazon opened #769 "[Enhancement] Make Distribution Downloader download from Snapshots instead of Releases and add `min` keywords"
**Describe the enhancement**

1. The current distribution downloader is using the RELEASES channel for downloading artifacts
https://github.com/opensearch-project/OpenSearch/blob/0e9f74e35f1255cb9ec45be3d8960aad195a9f6e/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java#L159

This was due to an earlier decision that distribution downloader requires a static link, and cann

[2021-05-25 20:19] peterzhuamazon commented on #769
Have a quick conversation with @saratvemulapalli and we have some thoughts on this.

1. Instead of hardcoding it to snapshots, we can start fixing the actual snapshots ivyrepo setup here: https://github.com/opensearch-project/OpenSearch/blob/0e9f74e35f1255cb9ec45be3d8960aad195a9f6e/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java#L172
2. We will have these two urls fixe

[2021-05-26 02:37] harold-wang commented on #107
This is dup of #70 .

[2021-05-26 02:37] #107 closed

[2021-05-26 02:41] harold-wang commented on #70
#586 has the fix.

[2021-05-26 02:41] #70 closed

[2021-05-26 14:34] saratvemulapalli commented on #769
Parent issue: https://github.com/opensearch-project/OpenSearch/issues/91

[2021-05-26 15:41] CEHENKLE opened #779 "Launch OpenSearch 1.0"
OpenSearch is a community-driven, open source search and analytics suite derived from Apache 2.0 licensed Elasticsearch 7.10.2 & Kibana 7.10.2.  OpenSearch enables people to easily ingest, secure, search, aggregate, view, and analyze data. These capabilities are popular for use cases such as application search, log analytics, and more. With OpenSearch people benefit from having an open source prod

[2021-05-26 15:59] saratvemulapalli commented on #695
Good point, let me add the error.
Also, I see it working for folks who use Yaml test case: https://github.com/AmiStrn/opensearch-plugin-template/blob/main/src/yamlRestTest/java/org/opensearch/path/to/plugin/TemplateClientYamlTestSuiteIT.java#L22

[2021-05-26 16:30] dblock opened #780 "[UPGRADE] Path for properties fetched via system.getProperty"
**Is your feature request related to a problem? Please describe.**

We have renamed properties, e.g. `es.distribution.type` has become `opensearch.distribution.type`. What is the path forward for those settings?

**Describe the solution you'd like**

Document the way this breaks for users.
Provide a migration path.
Optionally provide tooling to aid users in the migration path.

**Additional contex

[2021-05-26 16:32] dblock opened #781 "[UPGRADE] Path for environment variables fetched via System.getenv"
**Is your feature request related to a problem? Please describe.**

We have renamed environment variables, e.g. `ES_TMPDIR` has become `OPENSEARCH_TMPDIR`.
We have renamed `ES_JAVA_OPTS` to `OPENSEARCH_JAVA_OPTS` used in `opensearch-env`.
What is the path forward for those settings?

**Describe the solution you'd like**

Document the way this breaks for users.
Provide a migration path.
Optionally

[2021-05-26 16:34] dblock opened #782 "[UPGRADE] Path for elasticsearch.yml to opensearch.yml"
**Is your feature request related to a problem? Please describe.**

We have renamed `elasticsearch.yml` into `opensearch.yml` which contains local node settings that themselves might contain names such as `opendistro.security...`. What is the path forward for that configuration file and its contents?

**Describe the solution you'd like**

Document the way this breaks for users.
Provide a migration