[2021-08-04 12:37] pavolloffay opened #1045 "Add support for disabling TLS witohut rebuilding docker image"
**Is your feature request related to a problem? Please describe.**

I would like to run docker image `opensearchproject/opensearch:1.0.0` without requiring HTTPS

**Describe the solution you'd like**

Pass environment variable to disable TLS e.g.

[code]

**Describe alternatives you've considered**

**Additional context**

Running without TLS is useful for tests and demos.

[2021-08-04 13:02] jkowall commented on #1045
@pavolloffay Thanks for bringing this up, this is related to a similar discussion we are having https://github.com/opensearch-project/OpenSearch/issues/1029 I mentioned this specific issue related to Jaeger and most other OSS projects.

For those who do not know @pavolloffay is a maintainer of both Jaeger and OpenTelemetry.

[2021-08-04 17:45] Jon-AtAWS opened #1046 "Use http_logs for performance/regression testing"
**Is your feature request related to a problem? Please describe.**

I noticed (https://github.com/opensearch-project/OpenSearch/issues/673) we seem to be using nyc_taxis for performance and regression testing. nyc_taxis is representative of some portion of user workloads and is worth testing. However, more users have semi-structured, mixed text and numeric data. The http_logs data set in ESRally i

[2021-08-04 19:19] vamshin opened #1048 "OpenSearch API guidelines"
**Is your feature request related to a problem? Please describe.**
Every plugin comes up REST APIs and this keeps growing as the features are getting added. To make the API conventions standard across all the plugins with respect to naming/format etc, we need some guidelines and design principles that ensures uniformity of these APIs.

[2021-08-04 23:34] vikansal commented on #1029
The security breaches happen for many reasons - a weak password, lack of password rotation, having a user/password not removed when the user is removed from org, are just few examples. I wonder if get into extending the basic core to keep meeting those objectives, will this take its own shape.

Building a builtin security model versus a simpler plugin (or plugins for authn, EIT and logging with ev

[2021-08-05 09:34] frotsch commented on #1045
`docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" -e "http.host=0.0.0.0" -e "plugins.security.disabled=true"  --rm -it opensearchproject/opensearch:1.0.0`

`curl http://localhost:9200`

works for me! But it disables also RBAC!

You should see something like that in the logs: `[2021-08-05T09:32:16,690][WARN ][o.o.s.OpenSearchSecurityPlugin] [xxx] OpenSearch Security plugin insta

[2021-08-05 09:42] frotsch commented on #1044
Seems the configuration properties are not consistent in their naming convention. This looks like a renaming issue when the security stuff was moved from opendistro to opensearch.

Some properties starts with `plugins.security.` (which is IMHO the correct prefix for opensearch) and some start with `opendistro_security.` (which is IMHO the old opendistro style naming).

So instead of `plugins.secur

[2021-08-05 09:44] frotsch commented on #1028
See also https://discuss.opendistrocommunity.dev/t/how-to-build-opensearch-including-all-plugins/6274/4

[2021-08-05 09:51] frotsch commented on #1019
So what a fix could look like? Replace the assertion with an error log and a return a 400 or 500 status code? Or just ignore the lifecycle name value and log a warning?

[2021-08-05 10:45] pavolloffay commented on #1045
Doh I have a typo there `plugins.security.disabled:true` it should be `plugins.security.disabled=true`

[2021-08-05 10:45] #1045 closed

[2021-08-05 13:48] dblock commented on #1029
💯

[2021-08-05 13:58] dblock commented on #1019
From my uneducated opinion this should be treated as any invalid input and return a 400.

[2021-08-05 14:46] frotsch commented on #1000
When I read the code correct then only int's are added to the `entry.docDeltas`: https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/server/src/main/java/org/opensearch/search/aggregations/bucket/BestBucketsDeferringCollector.java#L139 So even if formally a `long` is returned by `docDeltaIterator.next()` the actual values are really only int's. May a expl

[2021-08-05 19:12] travisbenedict opened #1050 "Speed up date_histogram Queries"
**Is your feature request related to a problem? Please describe.**
I ran some performance tests using Rally and found that `date_histogram` queries performed worse than anticipated.

Below are some results for the `nyc_taxis` track using 4 of AWS’s r5.2xlarge instances for the data nodes and 3 r5.2large master nodes.

Metric | Task | Value | Unit
-- | -- | -- | --
50th percentile  service time | d

[2021-08-05 23:50] adnapibar commented on #1028
Resolved by #1049

[2021-08-05 23:50] #1028 closed

[2021-08-06 00:42] dnlchen opened #1052 "Warm and Cold Storage"
Will the warm storage and cold storage which are based on object storage (e.g. AWS S3) be implemented in OpenSearch?

[2021-08-06 09:54] Bukhtawar commented on #1050
Thanks @travisbenedict for this issue. Yes we are in general planning to make date histograms faster by rewriting some queries wherever possible. The detailed proposal would be shared soon.

[2021-08-06 10:15] shiv0408 opened #1053 "[BUG]Wrong error code in Scroll Context limit error"
**When the max open scroll context is reached. We get Internal Server Error (500) error instead of Too Many Requests (429) error.**

**To Reproduce**
Steps to reproduce the behaviour:
1. Set max_open_scroll_context to 0. (To easily reproduce the error)
`curl --location --request PUT 'localhost:9200/_cluster/settings' \
--header 'Content-Type: application/json' \
--data-raw '{
    "persistent":{

[2021-08-06 13:25] AmiStrn commented on #1052
Hi @dnlchen !
If it is a feature request please use the template.
For an open discussion the community is active on https://discuss.opendistrocommunity.dev/c/forking-elasticsearch-kibana/50

Please post your question there in order to refine the issue you wish to put in the roadmap.

Also, since it is kind of a roadmap question, check out the [roadmap](https://github.com/orgs/opensearch-project/pr

[2021-08-06 14:00] Bukhtawar commented on #1053
Thanks @shiv0408 we might need to throw `OpenSearchRejectedExecutionException` instead here

https://github.com/opensearch-project/OpenSearch/blob/7469bf6e2603dbdbb808b96f453b4349c5f1d87f/server/src/main/java/org/opensearch/search/SearchService.java#L658-L663

[2021-08-06 15:17] dblock commented on #1052
Related, https://github.com/opensearch-project/OpenSearch/issues/740

[2021-08-06 16:52] adnapibar opened #1055 "Replace JCenter with Maven Central for Gradle Build"
**Is your feature request related to a problem? Please describe.**

On February 3 2021, JFrog [announced](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/ ) the shutdown of JCenter. Later on April 27 2021, an update was provided that the repository will only be read only and new package and versions are no longer accepted on JCenter.  This means we can no longer use

[2021-08-06 17:58] dblock opened #1056 "Correct copyright notices to reflect Copyright OpenSearch Contributors"
Coming from https://github.com/opensearch-project/.github/issues/21.

The correct copyright for open-source projects in opensearch-project is "Copyright OpenSearch Contributors". Please correct any places that say otherwise, especially where it says copyright Amazon. Make sure NOTICE.txt and README match. See https://github.com/opensearch-project/.github/pull/24 for an example.

[2021-08-07 00:29] malpani opened #1058 "Trigger best effort profiling dumps prior to evicting a node from the cluster"
**Is your feature request related to a problem? Please describe.**
There are two scenarios under which a node is evicted by the master
1. Process crashed -  Hardware crashed/JVM crashed - OOM etc.
2. Transient drop - the node was slower in responding to consecutive leader/follower checks and is evicted but soon joins back

For this second case, the current logs only explain coarse information on t

[2021-08-07 13:19] frotsch commented on #1055
Can we add also `mavenLocal()` ? See https://github.com/opensearch-project/OpenSearch/issues/939

[2021-08-07 13:27] frotsch commented on #976
This issue should IMHO be moved to the "security" repo because its originating from the security plugin.

[2021-08-07 13:59] frotsch commented on #976
I can not reproduce this issue.

What I did:
1) Create a docker compose file with three opensearch nodes (see below)
2) `docker compose up`
3) Wait until cluster is ready and `curl https://localhost:9200/_cluster/health?pretty -k -u admin:admin` reports three nodes
4) Klll one node (by killing the container)
5) `curl https://localhost:9200/_cluster/health?pretty -k -u admin:admin` reports two node

[2021-08-07 21:00] maxodoble commented on #993
This bug is happening for me too, and no, disk-size definitely isn't the problem in my case.

My guess:

* enabled docker user namespace feature is the culprit (at least in my case)
* Uid/Subuid problem when for example max 65536 subuids are configured, and the opensearch image is trying to use a uid > 65536?

cheers,
Max

[2021-08-08 08:06] michaelandrepearce opened #1059 "[FEATURE] Object Storage FrozenTier / UltraWarm equivalent"
**Is your feature request related to a problem? Please describe.**
In Elastic 7.12 it is possible to directly search object storage such as AWS S3, Microsoft Azure Storage, and Google Cloud.
Like wise in AWS's as a Service offering a similar feature named UltraWarm exists, this allows decoupling from compute and storage, and enables to reduce costs significantly.

**Describe the solution you'd lik

[2021-08-08 17:33] ekarlso commented on #561
@TheAlgo  It seems that the new chart though is more primitive then the older one that has support for splitting up cluster into different roles. Any idea on why simply the old chart from ODFE was not copied?

[2021-08-08 18:01] TheAlgo commented on #561
There were 2 major reasons:
1. Provide more complexity for spinning up the clusters.
2. Make the charts monolithic by excluding OpenSearch Dashboards from it.

[2021-08-08 18:27] ekarlso commented on #561
@TheAlgo can you still split roles into data, client and master?

[2021-08-08 18:31] TheAlgo commented on #561
Yes we can do it by installing three charts with different values. We can set different role each time you install a chart. There are plans to provide these examples in the repo itself.

[2021-08-08 18:33] ekarlso commented on #561
Unrelated q, is there any plans for a Operator for OS?

[2021-08-08 18:35] TheAlgo commented on #561
I see there is an open [issue](https://github.com/opensearch-project/opensearch-devops/issues/13). Not sure about the plans , @peterzhuamazon will be thr right person to comment on it.

[2021-08-08 20:08] frotsch commented on #1059
https://discuss.opendistrocommunity.dev/t/any-plans-to-backport-ultrawarm-for-amazon-elasticsearch-service/2075/4

[2021-08-08 20:09] frotsch commented on #740
https://discuss.opendistrocommunity.dev/t/any-plans-to-backport-ultrawarm-for-amazon-elasticsearch-service/2075/4

[2021-08-09 04:53] itiyamas opened #1061 "Add metrics framework in Opensearch"
We have been looking into instrumenting the Opensearch code recently. Even though stats provides a good mechanism, it loses a lot of details like percentiles, which makes it really harder to debug issues in production. Wouldn’t it be great to add a metrics framework in Opensearch that allows a developer to add metrics easily at any part of the code without having to know the exact stats object whe

[2021-08-09 08:32] anti-social opened #1062 "Shard id awareness of SearchLookup"
**Is your feature request related to a problem? Please describe.**
For one of my plugins (it is an analogue of Solr's ExternalFileField) I need to know current shard id when accessing external data.

**Describe the solution you'd like**
I propose to add `shardId` field into `SearchLookup` class. It will make it possible to pass current shard id into `IndexFieldData` inside `MappedFieldType.fieldda

[2021-08-09 09:31] maxodoble commented on #993
Checking  the distribution file (opensearch-1.0.0-linux-x64.tar.gz), which is  also used (right?) in the Dockerfile for building the docker-image:

Contents:
`drwxr-xr-x 1 12011476 users 232 Jul  9 00:32 opensearch-1.0.0`

so the opensearch stuff is indeed owned by uid=12011476, which is too high to be mapped to a host-id, when using docker namespaces with 65536 subuids (which seems to be the de-f

[2021-08-09 12:21] jkowall commented on #1061
Sounds a bit overengineered to me. I would implement OpenTelemetry which can handle the metrics, but also help with tracing (logging is coming soon). The problem with "metrics" in OpenSearch today is that they are exposed as JMX, which is highly inefficient versus modern ways of exposing data as an endpoint (in the case of Prometheus) and allowing metrics to be scraped and stored easily. Similarly

[2021-08-09 13:49] shiv0408 opened #1064 "[BUG] Wrong error code for Painless scripts compilation thresholds"
**Describe the bug**
When compilation threshold is breached a circuit breaker exception is called and end status of the error is 500.

**To Reproduce**
1. Create a Opensearch cluster with `./gradlew -p ./distribution/archives/no-jdk-linux-tar assemble distZip  -Drepos.mavenLocal=true` and extracting the tar.
2. Add `script.disable_max_compilations_rate: false` in config/opensearch.yml
3. After run

[2021-08-09 13:52] nknize opened #1065 "[Meta] Upgrade Lucene"
- [x] Upgrade OpenSearch 2.0 to Lucene 9 snapshot (#1067)
- [x] Upgrade OpenSearch 1.x to Lucene 8.9 (#1068)

[2021-08-09 13:58] nknize opened #1067 "[Upgrade] OpenSearch 2.0 to Lucene 9.0.0 release"
- [x] Replace SimpleFS with NioFS filesystem format
- [x] Update analysis classpath
- [x] Fix failing tests (#2063)

[2021-08-09 14:01] nknize opened #1068 "[Upgrade] OpenSearch 1.x to Lucene 8.9"
- [ ] Deprecate SimpleFS format (#1072)
- [ ] Replace SimpleFS with NioFS as default filesystem format (#1072)
- [ ] Upgrade Lucene dependencies to released Lucene 8.9

[2021-08-09 15:24] itiyamas commented on #1061
+1 on OpenTelemetry and tracing!

Opensearch does not provide hooks to collect detailed request level metrics/tracing easily. Once we have those hooks, we can integrate OpenTelemetry for metric collection, tracing etc.  I don't think it is possible to add fine grained metrics in existing code with JMX. I will check it out though.

[2021-08-09 15:52] AmiStrn commented on #1002
I get why we need bwc test framework for plugins. But having opensearch repo "know" the existence of the AD plugin (for example) via dependency seems way off to me. There should be a way of testing the plugins in the opensearch project using the CI flow rather than adding these dependencies.
Ways of breaking bwc for plugins involve breaking the general API, or breaking the behavior of a plugin int

[2021-08-09 16:26] Bukhtawar commented on #1061
Breaking down the problem
1. Per action slow execution can also be traced by #1021
2. We need more stats as to supplement existing metrics with various interaction layers like time spent in the queue, N/W round trip, IO time, blocked time etc, these would be aggregated over requests spanning a time frame and easily queryable over an endpoint
3. Per request id based latency breakdown and distribute

[2021-08-09 16:29] saratvemulapalli commented on #1002
@AmiStrn Sure I see there are 2 parts to the question.
**1. Why have a dependency on OpenSearch for plugins to test.**
For all plugins in the community, there is no way of testing backwards compatibility against its own previous version. For plugin owners to verify its own functionality (APIs, settings, transport, indices etc), this framework will automate the workflows. This is the problem we are

[2021-08-09 17:02] tlfeng commented on #1059
Related issue #740 #1052

[2021-08-09 17:11] AmiStrn commented on #1002
@saratvemulapalli you are faaast! I removed my comment after two minutes bc I realized I had made a mistake _assuming_ that there would be tests in **opensearch repo** that would literally have classes **imported** from AD plugin (for example) 😵
I jumped the gun with the comment, and after reading some of the awesome work being done by @VachaShah I realized I was way off 😸
Thanks for the explanati

[2021-08-09 20:33] saratvemulapalli commented on #1002
Haha any discussion is always great :)

[2021-08-09 23:37] tlfeng commented on #850
Sorry my above statement was not correct, the sub-projects that disabled `test` task (`test.enabled = false` ) means they don't have unit test, but they may have integration tests.
The sub-projects that don't have unit tests are:
[code]

[2021-08-10 00:07] #1055 closed

[2021-08-10 00:16] wnbts commented on #1056
for new source code, is this the correct header?

[code]

Or two headers like this?
[code]

[2021-08-10 14:21] dblock commented on #1056
@hyandell Can you please comment.

@wnbts Can I pleaser ask you to contribute something to https://github.com/opensearch-project/.github on this topic?

[2021-08-10 14:55] asfoorial opened #1069 "Enable custom server response headers through opensearch.yml configuration"
The objective of this feature is to provide a configuration open in opensearch.yml to enable the server to send custom HTTP response headers.

The option can be defined as shown below:
http.custom.headers: ["Strict-Security-Transport:max-age=31536000; includeSubDomains;"]

Running this "curl -v -u admin:admin http://localhost:9200" command would return the below bold header in the HTTP response. (

[2021-08-10 15:11] dblock commented on #1069
While we all love generic features that let users accomplish something quick and dirty, we should discuss whether it's the best course of action. There's a reason why web servers don't let you do that, e.g. [Tomcat](https://stackoverflow.com/questions/22972782/how-to-add-a-custom-header-in-tomcat) - it's too easy to shoot yourself in the foot by sending something incompatible or conflicting with a

[2021-08-10 16:48] wnbts commented on #1056
sure, after i have a clear idea about this matter, i will see what service i can do.

[2021-08-10 18:10] dblock commented on #1069
That's expected. Use a GitHub fork and make all the changes on your fork, then PR them here. See https://guides.github.com/activities/forking/ for details.

[2021-08-10 18:17] dblock commented on #1019
Fixed in https://github.com/opensearch-project/OpenSearch/pull/1070 and https://github.com/opensearch-project/OpenSearch/pull/1060 for OpenSearch 1.1.

[2021-08-10 18:17] #1019 closed

[2021-08-10 19:01] minalsha commented on #1064
we need to check if this would lead to any compatibility issue with regards to any feature. Dive deep into the impact of this change and We need to repro this issue.

[2021-08-10 19:20] dblock commented on #1022
@anish-adrot Did you get a chance to try this? Also what version of logstash and logstash-outoput-elasticsearch are you running?

[2021-08-10 19:25] minalsha commented on #996
@peterzhuamazon/@camerski : has this issue been resolved? If not, could you move this issue to the right project?

[2021-08-10 19:41] dblock commented on #845
@drBenway Did you figure this one out by any chance? Did this work out of the box with Elasticsearch 7.10.2?

[2021-08-10 19:42] hyandell commented on #1056
wnbts said:

Broad statements are always fun :) Generally speaking, yes to your first item with just the one source header block.

My proviso would be if you're copying Apache-2.0 licensed code (or other licensed code) from software owned by other businesses at Amazon. In those cases we should make sure we are deliberate about the decision to adjust the copyright statement (or license).

[2021-08-10 19:48] minalsha commented on #766
Hi @ketanv3  any update on this issue?

[2021-08-10 19:58] solacelost commented on #993
I can confirm that using a subuid/subgid range over 12 million allows this to work fine. This is obviously less than ideal. Running with `podman` and using the `--storage-opt ignore_chown_errors=true` option flattens permissions in the image and also works, but is less than ideal because it could be introducing some serious vulnerabilities related to permissions.

While investigating this, I ident

[2021-08-10 19:59] minalsha commented on #687
@nknize  is looking into this issue.

[2021-08-10 20:01] jkowall commented on #1061
If you have ever tried to instrument ElasticSearch you will learn this is a really bad idea, especially per request. It might be useful for debugging, but generally, the data will make no sense. I have done this in the past.

[2021-08-10 20:05] jkowall commented on #740
The main reason I updated that thread is that Elastic is linking there to tell users to adopt their non-open source licensed products versus using OpenSearch. I hope we get UltraWarm public ASAP even if it needs a bunch of work to make it usable.

[2021-08-10 20:57] peterzhuamazon commented on #996
Hi @nknize can we have a talk on this? Thanks.

[2021-08-10 21:16] peterzhuamazon commented on #996
Apparently it is only doing this for official plugins:
https://github.com/opensearch-project/OpenSearch/blob/4906a3c1b029f55e41bf60ef214ebff61939ba6d/distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java#L599

The plugins.txt is generated and save somewhere so all the native plugins are going through the verification:
https://github.com/opensearch-project/Ope

[2021-08-10 21:29] nknize commented on #996
[Here's the original key](https://pgp.mit.edu/pks/lookup?op=vindex&search=0x0934A65836A51424) registered with pgp.mit.edu that matches the [public_key.asc file](https://github.com/opensearch-project/OpenSearch/commit/05a6fde676e6436bd1e3d5dfe7de26889a69f0cb#diff-3f3e1d9abc9071642e231c3d27f8212ffd557bfbda7b63c4c052e2e8accc83fd) in PR #512.

What do you want to do?  Use it, or revoke it in favor of

[2021-08-10 23:14] vrozov commented on #1069
I don't think that HSTS is a good candidate for the **custom** server response header. The header should reflect the actual configuration and if TLS is enabled (currently can only be enabled by the security plugin), the HSTS header can be also added to the response. As a web browser is not the primary client for REST API and support for HSTS among other tools is quite limited and the security plug

[2021-08-11 00:22] wnbts commented on #1056
Thanks for your info! @hyandell.

@dblock i made a pr https://github.com/opensearch-project/.github/pull/27 to the specified repo. Does OpenSearch repo also need that change?

[2021-08-11 01:04] itiyamas commented on #1061
@jkowall Why do think request based latencies are bad? Is it bad in general or just for Opensearch or just for cases where throughput is really high?
I can think of cases where long running requests would hold the metrics object in memory, leading to increasing JVM, but that data is really low compared to the request data/partial response data itself. Memory CB calculations can be based on metrics

[2021-08-11 01:27] camerski commented on #996
As we discussed today, the preferred solution for OpenSearch 1.1.0 and beyond is to change the signature check to use the user's normal PGP keyring so they can trust whichever public keys they choose, and add an option to the plugin installer to skip signature verification.

For existing users we are discussing a couple of options for how to get them unblocked until 1.1.0 is ready. The options are

[2021-08-11 03:30] nknize opened #1072 "Deprecate SimpleFS File System Format"
Lucene 9.0 removes the SimpleFS File System Format. This needs to be deprecated in OpenSearch 1.x in favor of NIOFS and officially removed in 2.0.

[2021-08-11 04:16] asfoorial commented on #1069
HSTS is just one example. The feature might be needed for other cases as well. That is why it is available in OpenSearch Dashboards and Kibana.

I could not find a way to enable HSTS in the current version of OpenSearch. I can  use the custom header approach for now until it is implemented.

[2021-08-11 05:28] Bukhtawar opened #1074 "Enhance health checks to detect and remove slow or degraded nodes"
**Is your feature request related to a problem? Please describe.**
The health checks works to check for network reachability on a given follower node. With file system health checks we introduced a mechanism to remove nodes where fsync failure leads to a node getting kicked out by the leader. These mechanism detect a black failure, however there are grey failures as well where fsync works but the

[2021-08-11 05:34] vrozov commented on #1069
OpenSearch Dashboards and Kibana primary clients are web browsers, so is the support for HSTS. I am not aware of the ability to add custom headers to the Kibana.

There is no vulnerability, a scanning tool reports false positive.

[2021-08-11 06:10] ganilmca commented on #976
Hi Team,

We have deployed the cluster in VM's(3 node cluster)  not in docker.
So please help us how to resolve this issue in VM's based cluster.

Please let us know if any info required from our end.

Thank you.

[2021-08-11 06:23] shiv0408 commented on #1064
Updated the issue with better reproduction steps.

[2021-08-11 09:04] mitalawachat opened #1075 "Enhance Node Monitoring - Track Kernel Health"
**Is your feature request related to a problem? Please describe.**
Monitor kernel health, track anomaly, and act based on node health.

**Describe the solution you'd like**
* Create `KernelHealthService` that tracks kernel log files for patterns, and act if node is detected as unhealthy.
* Create `ParentNodeHealthService` to which granular health services will register.
* Add `KernelHealthService`

[2021-08-11 09:12] prog8 opened #1076 "[BUG] Problem installing plugins from artifacts.opensearch.org"
I am not fully sure if this is a bug or a problem how I approach installing plugins. I tried to install `dicovery-gce` plugin in a way presented below.

[code]

The zip package was fetched correctly. The only problem is that `asc` file. It is either missing or closed access (HTTP 403).

If I download the plugin manually with wget:

[code]

And then install the plugin it seems to work.

[code]

[2021-08-11 12:00] asfoorial commented on #1069
@vrozov Kibana has this capability (server.customResponseHeaders) which is described in Kibana documentation here https://www.elastic.co/guide/en/kibana/7.x/settings.html

And my point about it being a security vulnerability, some companies require HSTS to be implemented for all their systems to enforce HTTPS across both servers and clients. Not sending HSTS header could create vulnerability that

[2021-08-11 13:12] TheFeaRhq opened #1077 "[BUG]"
**Describe the bug**
Have following error when node tries to connect to cluster
`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.opensearch.security.support.Base64Helper$DescriptorNameSetter (file:/home/opensearch/opensearch-1.0.0/plugins/opensearch-security/opensearch-security-1.0.0.0.jar) to field java.io.ObjectStreamClass.name
WARNING: Plea

[2021-08-11 13:36] dblock commented on #1056
Yes it does. This issue was opened to make sure the copyright is correct in the README and NOTICE, it's currently not. If you want to PR that fix, along with any changes to CONTRIBUTING, it'd be very much appreciated.

[2021-08-11 16:19] vrozov commented on #1069
@asfoorial which client do you use to access OpenSearch REST API?

According to [rfc 6797](https://datatracker.ietf.org/doc/html/rfc6797#section-2.1) it covers:

   -  Web browser user wishes to interact with various web sites (some
      arbitrary, some known) in a secure fashion.

   -  Web site deployer wishes to offer their site in an explicitly
      secure fashion for their own, as well as t

[2021-08-11 17:51] CEHENKLE opened #1078 "[BUG] Fix Grok recursion issue."
In Elasticsearch versions before 7.13.3 and 6.8.17 an uncontrolled recursion vulnerability that could lead to a denial of service attack was identified in the Elasticsearch Grok parser. A user with the ability to submit arbitrary queries to Elasticsearch could create a malicious Grok query that will crash the Elasticsearch node.https://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-22144

[2021-08-11 18:17] asfoorial commented on #1069
If a customer requires HTTPS enforcement then surely OpenSearch will be used over HTTPS with security plugin configured. In this case, HSTS is applicable since there a communication over HTTPS. There is really no difference between a website, application server and REST API in this context.

And most importantly, I have a customer that requires it. I have implemented it and I am going to issue a P

[2021-08-11 18:41] vrozov commented on #1069
HSTS is a hint/request to web browser not to use HTTP protocol for communicating with web site or application server when a response contains URL(s). The same does not apply to **stateless** REST API. Each request is fully independent so adding the header that is ignored/not supported by REST API clients has no impact on security.

[2021-08-11 20:23] asfoorial commented on #1069
This feature request is not about handling HSTS in specific but rather about offering the flexibility for OpenSearch admins to enable sending custom headers in the HTTP response when needed.

HSTS is one example that I needed it for. You may not be convinced that HSTS is applicable here but if it is required by a customer then we have not much of a choice but to satisfy it.

Note: my customers mos

[2021-08-11 21:01] vrozov commented on #1069
IMO, it will be better to explain customer that HSTS does not apply to OpenSearch as it is not a web application. Even if CX makes calls to REST API from a browser using Java script, URL used for calls is not a result of a call to OpenSearch and HSTS does not add any value. IMO, the use case for HSTS is not valid.

I'll leave it up to @dblock to see if adding support for generic custom headers is

[2021-08-11 21:20] asfoorial commented on #1069
Again Kibana & OpenSearch Dashboards already have that feature so it would be fair to have it also in OpenSearch.

[2021-08-12 05:59] eirsep opened #1081 "Thread congestion - Programmatic Deadlock Detection"
**Is your feature request related to a problem? Please describe.**
Today we don't have a mechanism to detect deadlocked threads programmatically.

**Describe the solution you'd like**
We can do this programmatically using the ThreadMXBean that ships with the JDK which provides a method `findDeadlockedThreads()`

**Describe alternatives you've considered**
A clear and concise description of any alt

[2021-08-12 06:10] anish-adrot commented on #1022
@dblock  we are  working on it. will let you know  once we are done.

[2021-08-12 06:38] itiyamas opened #1082 "Use common code path for single updates and bulk updates"
Currently both index and delete APIs use `TransportSingleItemBulkWriteAction`, which in turn translates the index and delete requests into 'BulkRequest'. However, update is still executed via 2 different code paths. Is there a specific reason for not doing updates as a `TransportSingleItemBulkWriteAction`? I can't think of any.

[2021-08-12 06:42] itiyamas opened #1083 "Background refreshes are serialized on an index per node."
Background refresh is serialized on an index per node. This means that a slow refresh on a hot shard blocks refreshing all the other shards. This is fine when there are lot of indices per node so that we can apply some fairness scheme across indices.
However, when there is a single index, refresh slots are free while refresh is blocked on a hot shard. Additionally, high traffic times may vary acro

[2021-08-12 09:33] lukas-vlcek commented on #1082
Just quick shoot in the dark but can the reason be that there is a [dedicated permission](https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/permissions/) for update `indices:data/write/update`?

[2021-08-12 13:24] AmiStrn commented on #997
I am going to shelf this issue. Coming back to it later. If anyone wants to pick this up be my guest:)
I will touch base later to see if I can prioritize this.
Researching the issue led me to wonder if we should be implementing a more sophisticated pattern that takes into account RBAC if the Security plugin is in use.

[2021-08-12 14:13] AmiStrn commented on #997
A low hanging fruit that may have more value as well is the `indices.query.query_string.allowLeadingWildcard` setting - turning it into a dynamic setting and perhaps adding rules (allow per index pattern for example) would make this more usable. I will open a separate issue for that though :)

[2021-08-12 14:38] aritra998 commented on #1000
can I take up this issue ?

[2021-08-12 15:04] dblock commented on #817
https://github.com/opensearch-project/OpenSearch/pull/986 implements much of this, leaving to @sohami to close when you feel like it does everything you want or close and open smaller issues for the `max_`-related business.

[2021-08-12 16:52] #1078 closed

[2021-08-12 17:47] VachaShah opened #1086 "Introduce tests for `OpenSearchCluster` in bwc test framework"
Came up during #1051, there are currently no tests for `OpenSearchCluster` in the project, the methods are directly used in bwc tests in the core and plugins. Creating this issue to add tests for this.

[2021-08-12 18:30] vrozov commented on #1069
@dblock @nknize For HSTS, Authentication and any other security related headers, I'd prefer to manage them on the security plugin side until OpenSearch supports SSL and security to avoid any possible conflicts/misconfigurations.

[2021-08-12 20:24] VachaShah opened #1088 "Introduce snapshot upgrade bwc tests"
Add snapshot upgrade backwards compatibility tests in OpenSearch as part of the testing automation effort ([opensearch-build#90](https://github.com/opensearch-project/opensearch-build/issues/90)).

[2021-08-13 07:08] durgawaleajay opened #1089 "[BUG] 401 unauthorized error for openID"
**Describe the bug**
401 unauthorized error for openID integration (Keycloak as IdP) for Kibana with openDistro security plugin

The authentication integration works fine for the 1st time. But once we restart the kibana we are getting the 401 unauthorized error. To make kibana work we need to delete the .kibana index every time we restart kibana.

We also observed that the security_authentication

[2021-08-13 17:03] vrozov commented on #1089
@CEHENKLE Please transfer to https://github.com/opensearch-project/security-dashboards-plugin

[2021-08-13 19:25] drewrutl commented on #970
I had this bug as well when using the built in UI. The only way I found to get around it was to run it as a curl command and include the built in "kirk" key files.
[code]

[2021-08-13 22:52] setiah commented on #1029
I think this is applicable not only to security, but any other feature that goes into core. Maintainers have the responsibility of keeping the core right to its purpose.

 The user management APIs provide a way to manage users.

...
If the Openseach was used in an environment where the orchestration is cloud native (thinking of K8S, istio), and needs to scale, then the local implementations of aut

[2021-08-14 20:46] madhusudhankonda opened #1092 "Change the OpenSearch and OS Dashboards default ports"
## Changing the default ports for the OpenSearch engine and OpenSearch Dashboards

The OpenSearch engine is by default running on 9200 and Dashboards on 5601.
This request is to make sure we expose the engine and dashboards to different ports.

##Why do we need that?
The same ports have already been exposed by Elasticsearch by default. Running OS alongside the ES will cause port conflicts. Same wi

[2021-08-14 21:47] dblock opened #1093 "Use a 4-digit version"
**Is your feature request related to a problem? Please describe.**

Why are OpenSearch artifacts produced a 3-digit version, e.g. `1.1.0`, whereas plugins are 4-digit versions, e.g. `1.1.0.0`? This feels unnecessary and introduces build scripts that have to parse OpenSearch version in bizarre ways, e.g. https://github.com/opensearch-project/anomaly-detection/pull/176/commits/096a6708ce90206dde8f9a

[2021-08-15 15:08] #1002 closed

[2021-08-15 19:06] frotsch commented on #1093
see also https://discuss.opendistrocommunity.dev/t/how-to-build-opensearch-including-all-plugins/6274

[2021-08-15 19:20] dblock opened #1094 "Rename artifact produced by the build to include -min"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/opensearch-build/issues/212, the output of `./gradlew :distribution:archives:linux-tar:assemble` produces a file called `opensearch-1.1.0-SNAPSHOT-linux-x64.tar.gz`. Then we rename it to `-min`, ie. `opensearch-min-1.1.0-SNAPSHOT-linux-x64.tar.gz`.

**Describe the solution you'd li

[2021-08-16 08:53] wjonkerhulst opened #1097 "[BUG]"
**Describe the bug**
The example on https://opensearch.org/docs/search-plugins/ppl/index/ is not working.

**To Reproduce**
1. Go to the website https://opensearch.org/docs/search-plugins/ppl/index/
2. Copy and paste the code in de Quick Start section to create the accounts index on your cluster
3. In your cluster go to de Query Workbench, select PPL in de right corner
4. Execute the PPL query tha

[2021-08-16 13:19] dblock commented on #1093
FYI, we're working on an [end-to-end workflow](https://github.com/opensearch-project/opensearch-build/tree/main/bundle-workflow).

[2021-08-16 13:49] dblock commented on #1092
This sounds awfully backwards-incompatible ;)

What happens when someone starts an ES 7.x and an OpenSearch on top of the same local node data?

[2021-08-16 18:11] piyushdaftary opened #1098 "Auto restore RED indices"
RED Cluster is one of the major issue in today’s elasticsearch and opensearch cluster, where because of various reasons indices turn RED and hence *searches* will return *partial results*, and *indexing* into that index will *return errors*.
In simple words cluster is RED means: some primary shards are not assigned, which means that cluster data is not fully available in cluster.

**To this proble

[2021-08-16 20:54] madhusudhankonda commented on #1092
My 2p :)
There could be a case of that sort, Daniel, I get that.

But do you think in a production environment, this would be the case that can stand tall? Maybe the user can establish an ETL tool to migrate from the ES to OS than running on a local node.

And who knows Elastic could make it proprietary to stop such access in future?

[2021-08-16 21:17] nknize opened #1099 "[BUG] Reproducible failure in SearchCancellationIT.testMSearchChildReqCancellationWithHybridTimeout"
#986 introduced test failures; indicating the feature was likely merged prematurely.

[code]

First and third queries are expected to be cancelled. But only the first query is cancelled. Expanding the `clusterCancellationTimeout` has no effect (possibly ruling out a race condition) so there is a separate issue going on here.

[code]

[2021-08-16 21:20] nknize commented on #1099
/cc @sohami This failure is occurring frequently on main branch.

[2021-08-17 08:15] sohami commented on #1099
Thanks for sharing this, will open a PR with the fix

[2021-08-17 10:16] saikaranam-amazon opened #1100 "Translog pruning based on retention leases"
**Is your feature request related to a problem? Please describe.**

**Background**
Cross Cluster Replication feature follows logical replication model. Each follower pulls the latest operations from the corresponding shards in the leader index and replays them at the follower side. In order to maintain the latest operations at the leader cluster, retention leases are acquired at the leader index.

[2021-08-17 13:17] stockholmux commented on #684
I'm with @dblock - seems like it's obsolete with `MAINTAINERS.md`

[2021-08-17 15:38] dblock opened #1101 "[BUG] Plugins integration tests are failing after upgrade to 1.1 w/TransportSerializationException"
**Describe the bug**

Looks like multiple plugins have failing integration tests when taking a 1.1 dependency of OpenSearch and common utils.

[code]

[code]

#### opensearch-notebooks

https://github.com/opensearch-project/dashboards-notebooks/pull/62
https://github.com/opensearch-project/dashboards-notebooks/pull/62/checks?check_run_id=3352176545

#### index-management

https://github.com/opense

[2021-08-17 17:14] dblock commented on #1101
First, we found out that `main` wasn't bumped to 2.0 (@nknize is working on this), so we've been dropping 1.1-SNAPSHOT to opesearch.org from main and from the 1.x branches, overwriting each-other. We disabled the `main` snapshot build for now to avoid this problem. Next time we do version increments we'll need to make sure we *both* increment 1.0 to 1.1 and bump main to 2.0 kind of thing.

[2021-08-17 17:16] dblock opened #1104 "Increment version to 2.0 on main and produce 2.0.0-SNAPSHOT on opensearch.org"
**Is your feature request related to a problem? Please describe.**

There's no 2.0.0-SNAPSHOT build. We found out that `main` wasn't bumped to 2.0, so we've been dropping 1.1-SNAPSHOT to opesearch.org from main and from the 1.x branches, overwriting each-other. We disabled the `main` snapshot build for now to avoid this problem.

**Describe the solution you'd like**

Increment version to 2.0, and

[2021-08-17 17:22] nknize commented on #1101
I haven't dug into this yet, but this usually means there was a change to the transport layer that isn't matching between Version.V_M_m_p

[2021-08-17 17:25] nknize commented on #1101
/cc @opensearch-project/index-management

[2021-08-17 17:49] AmiStrn commented on #1092
I think this should be part of the security we want as a default. The fact that it is known that this port is used by elasticsearch makes it a little bit more vulnerable than if this was configurable.

[2021-08-17 18:33] shwetathareja commented on #1101
@dblock : not aware of any transport change which made into 1.1 core codebase, will take a look if anything pops related to this exception.

[2021-08-17 21:11] clenkiu opened #1106 "[BUG] Authenticating user via SAML doesn"
**Describe the bug**
A user authenticated in the OpenSearch Dashboard via SAML authentication doesn't have the backend roles assigned to him in the local database.
If the authentication configuration is changed from SAML to Basic, the roles are handled properly in the Dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user in the local database with a username matching to an

[2021-08-17 23:07] dblock commented on #1101
I am pretty sure this was caused by the fact that we were building against OpenSearch and common-utils 1.1, but running tests against what was effectively OpenSearch 2.0 that seems to have had backwards incompatible transport changes. After fixing that in our CI, https://github.com/opensearch-project/dashboards-notebooks/pull/62 and https://github.com/opensearch-project/index-management/pull/119 a

[2021-08-17 23:07] #1101 closed

[2021-08-18 05:27] setiah commented on #1029
Let me summarize this discussion in key points raised so far

* It is important to define the boundaries for inbuilt security and lay out its key objective, to ensure it stays true to its purpose and does not end up competing with security plugin.
* Define the security interfaces and provide a reference set for pluggable implementations for those interfaces.
* Define how the inbuilt security featu

[2021-08-18 08:36] ermukesh09 commented on #561
Is this ok to run k8s cluster using helm in a production environment?

[2021-08-18 15:55] reta commented on #631
@Bukhtawar  @dblock would you mind if I try to reproduce and (hopefully) fix it? thanks

[2021-08-18 17:01] dblock commented on #1108
Help me find code that supposedly would enable the deprecation logger in snapshot builds?

[2021-08-18 18:17] saadrana219 opened #1110 "Looking for development around an OpenSearch K8s Operator"
**Is your feature request related to a problem? Please describe.**
Current OpenSearch deployments don't have a k8s operator. This would allow for improved integration with k8s APIs and improve the availability of performance metrics for deployments without needing extra tooling.

**Describe the solution you'd like**
A k8s operator for OpenSearch which can bootstrap and deploy all nodes required as

[2021-08-18 20:44] reta commented on #631
So far confirming @tlfeng findings, not reproducible for `/_cluster/health`: the health checks are configured to bypass all circuit breakers, it applies both to rest and transport actions. Certainly more details would help:
 - OpenSearch version
 - installed Plugins?
 - where the logs are coming from? (does not look like OpenSearch server)

[2021-08-19 18:18] stockholmux opened #1111 "[BUG] OpenSearch version of core only"
**Describe the bug**
When a user connects to `https://<ip-of-cluster>:9200/` the response JSON reports `version.number` for the core (e.g. 1.0.0). Looking at the plans for 1.0.1 release, it looks like only particular bundled plugins will be updated and not the core. This means if a users updates to version 1.0.1, `https://<ip-of-cluster>:9200/` will still respond with 1.0.0 in `version.number`. Th

[2021-08-19 22:56] #1072 closed

[2021-08-20 12:00] anish-adrot commented on #1022
@dblock   we  have  tried  the  fix  as you mentioned
PUT "/_cluster/settings?pretty" -H 'Content-Type: application/json' -d'
{
  "persistent" : {
     "compatibility" : {
       "override_main_response_version" : true
   }
  }
}
'

But  we  have  queries
-> While  Rolling upgrading , this  settings  applies  only  when  all  pods are  up and  running,if  we  try  to  run  before  the  pod is  up

[2021-08-20 12:16] dblock commented on #1022
@anish-adrot, did the setting work? (minus your question)

You make a good point. A few ideas.

1. If I am not mistaken, you could put this setting in opensearch.yml as well, so each new node would come up in the backwards compatibility mode. Please correct me if I am wrong or if I am missing anything @saratvemulapalli @mch2?
2. Depending on your setup can you bring up a first node that's not gett

[2021-08-20 13:48] dblock commented on #1029
Another insecure by default cluster: https://link.medium.com/fonnHXaoSib

[2021-08-20 22:02] ict-one-nl commented on #1110
This would be nice, I've written my own Terraform modules, but a truly managed solution would be better :)

[2021-08-20 22:50] anasalkouz opened #1117 "Translog as an OpenSearch Module"
**Is your feature request related to a problem? Please describe.**
Translog logic is distributed across across multiple component in the source code, we need to extract and the logic and decouple it as stand alone module for better maintainability and extensibility
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consi

[2021-08-20 22:56] anasalkouz opened #1118 "Translog Functionality Documentation"
**Is your feature request related to a problem? Please describe.**
We need to dive deep into the the source code to have better understanding of Translog logic. How it works? what are the affected components? Downstream/Upstream dependencies?

**Describe the solution you'd like**
Write a doc that describe in details how translog works, with code snippets.

**Describe alternatives you've considered

[2021-08-20 23:04] rishabhmaurya opened #1119 ""Extension" node role to support extensible workload"
**Is your feature request related to a problem? Please describe.**
Currently OpenSearch nodes are used for multiple jobs in a cluster. They can be used for indexing, searching, managing cluster state, running ingest pipelines and more. Users running OpenSearch at scale will partition these roles into different node types: data nodes get used for indexing, searching, and running custom plugin logic

[2021-08-20 23:16] anasalkouz opened #1120 "Aggregation as an OpenSearch Module"
TBD
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-20 23:17] anasalkouz opened #1121 "Separate Reader & Writer JVM"
Once [segment replication] (https://github.com/opensearch-project/opensearch/issues/1123) implemented, then primary shard will be only responsible for handling write operations and replica will not execute any write operations any more. This will give us more flexibility to separate writer and reader JVM for better memory tuning and optimization, especially in cases where the cluster is heavy on r

[2021-08-20 23:19] anasalkouz opened #1122 "Segment Replication"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-20 23:22] anasalkouz opened #1123 "[RFC] Segment Replication"
Propose an improved shard replication strategy (segment replication) and outline the advantages it offers over the current method (document replication).

[2021-08-20 23:25] anasalkouz opened #1124 "Translog Benchmark"
**Is your feature request related to a problem? Please describe.**
Benchmark Translog feature to get clear idea about the performance and resource improvement we could gain by deprecating Translog

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-08-21 18:17] sachinpkale opened #1125 "Instrument disk throughput, await and utilization metrics"
**Is your feature request related to a problem? Please describe.**
- Existing fs stats provides I/O related metrics from `/proc/diskstats` file but these metrics provide current value of the metrics (like read_operations, write_operations etc) and it is difficult to understand a potential issue just by looking at these metrics.
- Client needs to maintain a state to understand if current value is l

[2021-08-21 18:19] sachinpkale opened #1126 "Add instrumentation for inode usage by Opensearch process"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-21 18:25] sachinpkale opened #1127 "Add instrumentation for disk issue: Structure Needs Cleaning"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-21 18:28] sachinpkale opened #1128 "Add instrumentation for disk issue: Read Only Filesystem"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-21 19:14] Bukhtawar opened #1129 "Enforce circuit breaker checks at coordinator to prevent OOM due to aggregations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-22 18:16] ajaymovva opened #1130 "Add Memory Profiling for Hot threads API"
**Is your feature request related to a problem? Please describe.**
Hot threads API now give the threads which has high CPU usage and executes for a longer than normal period of time. The idea is to use the same API to give the hot threads which has high memory usage along with CPU Usage.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe a

[2021-08-22 19:13] imRishN opened #1131 "Failure Injection Framework Plugin"
**Is your feature request related to a problem? Please describe.**
To proactively identify anomaly/deviation in standard behavior in the event of a failure in the system and clearly understand the system resiliency under these situations and close the gaps. This would make service better testable for the unforeseen events.

**Describe the solution you'd like**
To create a failure injection service

[2021-08-22 19:16] imRishN opened #1132 "Add instrumentation for per operation metrics"
TBA
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-22 19:17] imRishN opened #1133 "[RFC] Schema on Reads"
### Problem Statement

By default, OpenSearch supports ‘schema on write’ i.e. the structure is defined at the time of ingest so that it is available for query immediately. However, as use cases for OpenSearch evolved, there is a need for greater flexibility. End users may not be aware of the data structure or may want additional attributes to query upon post ingest. This is where ‘schema on read’

[2021-08-23 04:32] ajaymovva opened #1134 "OpenSearch : Pinned Queries"
**Is your feature request related to a problem? Please describe.**
Sometimes it is desirable to artificially boost certain search results for a query and arrange them higher with the rest of the search results. This feature is typically used to guide searchers to curated documents that are promoted over and above any "organic" matches for a search. The promoted or "pinned" documents are identified

[2021-08-23 11:42] psychbot opened #1135 "Enhancing FSStats - IOTime, IOWait, etc"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-23 13:57] psychbot opened #1136 "Adding Support for Async Logging"
TBD

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-23 18:48] kartg opened #1137 "Translog Benchmark - Performance Test"
**Is your feature request related to a problem? Please describe.**
Benchmark Translog feature to get clear idea about the performance and resource improvement we could gain by adopting alternative strategies.

The scope of this issue is the actual performance test itself. The initial investigation is covered by #1124

**Describe the solution you'd like**
A clear and concise description of what you

[2021-08-23 18:48] kartg commented on #1124
Note - the scope of this issue is investigation only. We need to determine the right tools and processes to run this benchmark.

The actual performance test is covered by a separate issue - #1137

[2021-08-23 21:36] tlfeng commented on #687
Hi @nknize, looks like the issue will be resolved in Lucene 8.10 and 9.0 through the JIRA ticket, and would we update Lucene 8.10 in OpenSearch 1.1.x, if Lucene 8.10 came out before Lucene 9.0?

[2021-08-23 22:07] mch2 commented on #1022
Correct.

[2021-08-23 23:25] tlfeng opened #1138 "Clarify the JDK requirement in Developer Guide"
**Is your feature request related to a problem? Please describe.**
The description about JDK requirement for OpenSearch in the Developer Guide is a bit confusing:
https://github.com/opensearch-project/OpenSearch/blob/88f17b1822beb954bda1342b896d315b8e4d2b41/DEVELOPER_GUIDE.md#jdk-11

Which versions of JDK are supported to build and run OpenSearch is not quite clear.
Which test requires `JAVA8_HOME

[2021-08-24 03:57] getsaurabh02 opened #1140 "Query Prioritization"
As part of #1042 we are planning to do resource mapping of queries, and selective rejection when in duress. We want to extend the solution to also allow query prioritisation, which provides mechanism to selectively execute queries, when there are multiple queries with different priorities contending for the same resources.

Not all queries in the workload are of equal importance to customer. Often

[2021-08-24 04:45] tushar-kharbanda72 opened #1141 "Enhance FShealthCheck"
**Is your feature request related to a problem? Please describe.**
FS Health check currently have a black and white failure behaviour. If it is not able to write a file then it fails. Time taken to write the file (multiple data points for breaching threshold) can be considered in deciding whether a node should be considered healthy or not.

**Describe the solution you'd like**
A clear and concise

[2021-08-24 04:45] tushar-kharbanda72 opened #1142 "Disk water mark enhancements"
**Is your feature request related to a problem? Please describe.**
Disk water mark setting is not being very effective in scenarios where indexing rate is very high on the instances where disk volume is low. It doesn't kicks in time to avoid a situation where manual intervention is required to bring back cluster to a green state.

**Describe the solution you'd like**
A clear and concise descriptio

[2021-08-24 04:49] tushar-kharbanda72 opened #1143 "Circuit Breakers: Improve Durability Logic"
**Is your feature request related to a problem? Please describe.**

While real memory circuit breaker helps with parent memory accounting based on real heap usage the `DURABILITY` is still derived from child circuit breaker, the logic for which is based on whichever contributed the maximum based on their respective `durability`. Now child circuit breakers are known to be not so accurate, as a resu

[2021-08-24 06:02] mitalawachat opened #1144 "[Feature Proposal] Add Admission Control - Workload management to improve cluster stability"
# Feature Proposal : Add Admission Control - Workload management to improve cluster stability

## Overview:

Admission-Control is a workload management knob which limits and restricts the new incoming requests early when a node begins to go under stress. It would be resource-aware where it accounts for the new incoming request cost (memory occupancy), along with tracking the point-in-time state of

[2021-08-24 06:09] mitalawachat opened #1145 "Intra and Inter Segment Parallelization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-24 06:50] #1141 closed

[2021-08-24 06:52] Bukhtawar commented on #1140
Duplicate of #1017

[2021-08-24 06:53] Bukhtawar commented on #1136
Lets continue with #639

[2021-08-24 06:55] getsaurabh02 commented on #1140
Moving details to #1017 and closing this one, since it got created first.

[2021-08-24 06:55] #1140 closed

[2021-08-24 06:57] getsaurabh02 commented on #1017
Throwing some additional thoughts and copying details from #1140 and closing it, since this was created first.

As part of #1042 we are planning to do resource mapping of queries, and selective rejection when in duress. We want to extend the solution to also allow query prioritisation, which provides mechanism to selectively execute queries, when there are multiple queries with different prioritie

[2021-08-24 08:23] rajkthakur opened #1146 "OpenSearch BootStrap Metrics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-24 08:24] rajkthakur opened #1147 "RFC : Point In Time Search"
## Is your feature request related to a problem? Please describe.
Today, in OpenSearch, if you want to run different queries on the same data set chances are you will get different result as data is constantly changing. However, in real world scenario when analyzing data or trying to provide a consistent user experience to your end users you may want the result from a query not to change while the

[2021-08-24 08:54] balar06 opened #1148 "Opensearch rest-client jar not available in maven repo."
I see the elastic search dependence is present in the maven repo but for the OpenSearch, no dependence/jar is present in the maven repo.
Where can we download the OpenSearch rest-client.jar released versions?

Maven repo for ElasticSearch : https://mvnrepository.com/artifact/org.elasticsearch
Do we have maven repo for OpenSearch?

[2021-08-24 13:54] #1148 closed

[2021-08-24 16:46] dlvenable commented on #581
This will be very helpful. I'd also like to request that the team include internal libraries. In particular, `org.opensearch.gradle:build-tools` and `org.opensearch.test:framework`.

[2021-08-24 17:44] xuezhou25 commented on #976
I would like to take up this issue.

[2021-08-24 18:39] #1099 closed

[2021-08-24 18:39] minalsha commented on #1099
The fix has been backported.

[2021-08-24 18:53] CEHENKLE commented on #578
@abbashus Can you take pick this up and take a look at it?  Thanks!

[2021-08-24 18:54] CEHENKLE commented on #579
@abbashus assigning this to you because it's related to 578

[2021-08-24 18:56] abbashus commented on #578
Sure @CEHENKLE, will go over this.

[2021-08-24 18:57] abbashus commented on #579
Sure @CEHENKLE, will take a look.

[2021-08-24 18:58] minalsha commented on #1136
This will be worked on as part of https://github.com/opensearch-project/OpenSearch/issues/639.

[2021-08-24 18:58] #1136 closed

[2021-08-24 19:05] minalsha commented on #890
The PRs:https://github.com/opensearch-project/OpenSearch/pull/876 and https://github.com/opensearch-project/OpenSearch/pull/891 has been merged in main and 1.x. hence closing this issue.

[2021-08-24 19:05] #890 closed

[2021-08-24 19:13] shawnz commented on #671
Hi there, please also consider supporting upgrades directly from ES 7.10.x to OS 1.1. If this path is not supported it will be somewhat inconvenient for us as OS 1.0 is not available as an RPM distribution.

See also https://github.com/opensearch-project/OpenSearch-Dashboards/issues/334#issuecomment-904901805

[2021-08-25 06:53] balar06 commented on #1148
Do we have any expected date?

[2021-08-25 15:16] davidshtian opened #1154 "[BUG] Confusing index template permissions level"
**Describe the bug**
Try to add index template to role and map to a user, due to official [Access Control Permissions docs](https://opensearch.org/docs/security-plugin/access-control/permissions/), I tried to add **index permission** to the role.

For the new [index template] (https://www.elastic.co/guide/en/elasticsearch/reference/current/index-templates.html#index-templates), the setting _"indic

[2021-08-25 15:19] davidshtian commented on #1154
Additional Info - kind of similar issue here [Indices:admin/template/put is a “cluster” action?](https://discuss.elastic.co/t/indices-admin-template-put-is-a-cluster-action/67262)

[2021-08-25 22:00] stockholmux opened #1157 "Returned document magic number"
**Is your feature request related to a problem? Please describe.**
When dealing with documents, returning more than 10,000 is difficult. This appears to be a magic number used in multiple places and has to be changed in multiple places to have a reasonable user experience:

- track_total_hits (in the parameter)
- index.max_result_window (on the index)

If you set only `index.max_result_window` to

[2021-08-26 00:07] setiah opened #1768 "Support integTests for OpenSearch core"

[2021-08-26 03:33] nknize opened #1158 "[BWC] Temporarily disable bwc testing while bumping version 1.0.1"
Version 1.0.1 needs to be staged on dev branch 1.0. At time of writing this issue, bwc tests on main branch fail with the following:

[code]

This is fixed in PR #1152 which also depends on PR #1156 which can't pass until bwc tests are temporarily disabled.

[2021-08-26 11:58] Kanshiroron opened #1161 "[BUG] Node randomly disconnect"
Hello,
We are creating a new OpenDistro cluster on top of an EKS cluster (using Calico as the network layer), using Ubuntu as worker OS. This cluster is composed of: 3 master nodes, 3 coordinating nodes, 3 ingest nodes and 6 data nodes. Both the Elastic cluster and the EKS cluster are brand new. But we frequently see nodes being added and removed from the cluster.

**Versions:**
OpenDistro: 1.13.2

[2021-08-26 13:59] #1158 closed, assigned to nobody

[2021-08-27 15:38] JaroslavMajera opened #1164 ".NET Nest client fork"
Hello

 I am investigating Elasticsearch replacement. Are you planning to fork Nest client or just Elasticsearch.Net?

[2021-08-27 15:50] Bukhtawar opened #1165 "[BUG] IO Freeze on Leader cause cluster publication to get stuck"
**Describe the bug**

The publication of cluster state is time bound to 30s by a `cluster.publish.timeout` settings. If this time is reached before the new cluster state is committed then the cluster state change is rejected and the leader considers itself to have failed. It stands down and starts trying to elect a new master.

There is a bug in leader that when it tries to publish the new cluster

[2021-08-28 14:29] Venthe opened #1166 "[BUG] Incompatibility with elasticsearch-ruby 7.14"
**Description**
Problem is occuring on opensearch:1.0.0 dockerfile
After setting compatibility as described [here](https://opensearch.org/docs/clients/agents-and-ingestion-tools/index/)

[code]

OpenSearch returns response which is invalid for ElasticSearch clients. Differences that I've found are:
* [Lack of `x-elastic-product: Elasticsearch` header](https://github.com/elastic/elasticsearch-ruby/

[2021-08-28 14:58] dblock commented on #1111
@nknize We have a mechanism in 1.1 to describe the bundle, a bundle manifest that [looks like this](https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/tests/test_manifests/data/opensearch-bundle-1.1.0.yml). It's going to be dropped along with the rest of the world in the bundle and we could read from that.

So we have two choices:

1. In a bundle installation, change

[2021-08-28 15:03] dblock commented on #1164
Yes we are, see https://opensearch.org/blog/community/2021/08/community-clients/ that includes `-net` in the list. As with all the forks there's a bunch of work to do in private to ensure a clean fork, so this takes a bit of time , appreciate your patience.

I'll close this for now, but feel free to add more questions!

[2021-08-28 15:03] #1164 closed

[2021-08-28 15:17] dblock commented on #1166
These checks were added in https://github.com/elastic/elasticsearch-ruby/pull/1360, similar to https://github.com/elastic/elasticsearch-py/pull/1623 and many others.

The `override_main_response_version` option in OpenSearch was introduced to support clients that worked previously against ES 7.10.2, the last OSS version, but elasticsearch-ruby 7.14 no longer does, so this won't be fixed in OpenSea

[2021-08-28 15:17] #1166 closed

[2021-08-28 18:15] nknize commented on #1111
I agree with this. If a user has a bad time it's a bug. That's a valid point! Maybe we create a new github label `user_experience` to capture issues like this vs runtime or implementation bugs? Might be a good way for users to gain merit through design contributions? I wonder if other projects have something like this? /cc @spotaws

I think this is a good choice if we have a new plugin called "bun

[2021-08-28 20:24] stockholmux commented on #1111
I agree that a nice vision would be some sort of "choose your own adventure" OpenSearch, but that opens up a lot of considerations (dependency management/resolution, etc.).

From my personal POV, the bundled plugins are basically like a standard library in a programming language. Perhaps there are lessons in process & versioning from that world? I think that might inform some responses to @nknize'

[2021-08-29 17:24] AmiStrn commented on #1098
Hi @piyushdaftary!
I really like this design, at Logz.io we have a (very) similar backend functionality already in place. We have experience implementing such mechanisms in production using mostly external services.
Therefore, I have one major suggestion -
 Please **split** the feature into two parts:
1. the decision of whether a cluster requires a recovery operation AND is ready for that operatio

[2021-08-30 03:44] abbashus commented on #578
**NOTE** : I would not call this is a bug. It's more of an opportunity for optimization. Even at max iterations it was taking 2m45s which I believe does not skews the total build time very much.

Reproduced this with following command and different build envs:

[code]

Checked the following reports for test run time at
[code]

| Build Environment

[2021-08-30 04:23] joshuacox opened #1169 "[BUG] 403 for URL: https://artifacts.opensearch.org/releases/plugins/repository-s3/1.0.0/repository-s3-1.0.0.zip.asc"
**Describe the bug**

403 for URL: https://artifacts.opensearch.org/releases/plugins/repository-s3/1.0.0/repository-s3-1.0.0.zip.asc

**To Reproduce**
Steps to reproduce the behavior:
1.  /usr/share/opensearch/bin/opensearch-plugin install --batch repository-s3
2. view error

**Expected behavior**
plugin to install

**Plugins**
That's the point the plugin did not install.

Here's the full output f

[2021-08-30 04:32] abbashus commented on #1169
No sure where the `.asc` is coming in the URL. But I am able to download with this URL
[code]

[2021-08-30 05:52] abbashus commented on #1169
I realized `repository-s3-1.0.0.zip.asc` is actually the PGP signature file to verify integrity of download plugin artifact. Need to check with infra team that maintains artifact distribution.
@peterzhuamazon @bbarani

[2021-08-30 06:18] abbashus commented on #579
Reproduced this with following command and different build envs:

[code]

Checked the following reports for test run time at
[code]

| Environment                                                                                                             	| max 10 Datanodes, max 10 Shards 	| max 5 Datanodes, max 5 Shards 	|
|-------------------------------------------------------------------------

[2021-08-30 09:31] itiyamas commented on #1165
Can you add the steps to reproduce this issue or write the test case for the same?

[2021-08-30 09:53] datbq commented on #706
Can someone send me a sample connection of filebeat.yml to connect to Opendesktop 1.0? Really appreciate!

[2021-08-30 09:58] itiyamas commented on #1165
I don't see the FS Health failing fixing this problem as one the health check fails, the onLeaderFailure will block again. We need to somehow add timeouts to cluster state persistence calls. I believe once that is fixed, this issue will go way, irrespective of FS health check on stuck IO (Essentially your #1 above). This change may be tricky to achieve. FS health check on stuck IO is a good change

[2021-08-30 11:10] Kanshiroron commented on #1161
Apparently that was because of the CNI. We were using Calico only on EKS, and when switching to AWS CNI+Calico everything is working fine...

[2021-08-30 11:10] #1161 closed

[2021-08-30 12:31] ffoxa opened #1172 "[BUG]"
Hi!
Acting according to the instructions,
i got the following command :
_msbuild .\build\odbc\PACKAGE.vcxproj -p:Configuration=Release_
execution error :
  _CMake Error at C:/Program Files/CMake/share/cmake-3.21/Modules/Internal/CPack/CPackWIX.cmake:12 (message):
    Could not find the WiX candle executable._

_EXEC : CPack error : Error while executing CPackWIX.cmake [C:\Users\agp.vsn\sql\sql-odb

[2021-08-30 14:19] Bukhtawar commented on #1165
Fs health checks does pro-active checks to identify a bad node and evict the same from the cluster, rather than waiting for a cluster state update to remove the stuck leader. You rightly pointed out that this fix itself is insufficient since the mutex for `onLeaderFailed` will still get `BLOCKED`, which is what the first proposal tries to fix. Moreover Fs health checks would help with situations i

[2021-08-30 14:57] dblock commented on #1172
Hi @ffoxa, do you have a link to these instructions, please?

I'm  moving this to the sql repo.

[2021-08-30 16:04] AmiStrn commented on #1169
perhaps relates to:
https://github.com/opensearch-project/opensearch-build/issues/86

[2021-08-30 16:05] peternied commented on #705
Here is an activity diagram of what it seems like is profiled, and those gaps around fan out, and node-to-node communication and waiting time are part of what I'd consider coordinator time that are absent.
![image](https://user-images.githubusercontent.com/2754967/131369079-327a5f55-d5c9-4706-be7b-97e28f2f6104.png)

[2021-08-30 17:13] #579 closed

[2021-08-30 18:57] dvjyothsna commented on #760
Performance numbers from rally tests

All tests are performed on domain with 6 data nodes

- ARS-D-1: ARS disabled with 1 replica per index
- ARS-E-1: ARS enabled with 1 replica per index
- ARS-D-3: ARS disabled with 3 replicas per index
- ARS-E-3: ARS enabled with 3 replicas per index

Latency(ms)

A | ARS-D-1 | ARS-E-1 | Improvement | ARS-D-3 | ARS-E-3 | Improvement
-- | -- | -- | -- | -- | -- |

[2021-08-30 21:05] peterzhuamazon commented on #1169
https://github.com/opensearch-project/OpenSearch/issues/996
We are still in discussion here will close this issue as it is duplicated.
Thanks.

[2021-08-30 21:05] #1169 closed

[2021-08-31 04:04] #578 closed

[2021-08-31 04:49] sachinpkale opened #1178 "Support for filtering shards based on state in _cat/shards API"
**Is your feature request related to a problem? Please describe.**
In order to fetch shards that are relocating, we need to run `_cat/shards` and grep "RELOCATING" on the output. If the cluster has 1000s of shards, API will fetch details of all the shards which will be time and resource consuming.

**Describe the solution you'd like**
Add a query parameter to `_cat/shards` API which will allow to

[2021-08-31 05:56] saikaranam-amazon commented on #1100
We will not be using retention leases to fetch the operations from the Tlog rather the existing deletion policy to prune Tlog operation takes retention leases also into account.

***With TLog***
The deletion policy of Tlog takes into account various settings - such as the current locks held, size of the Tlog etc. It computes min generation to retain based on these settings and proceeds with Tlog p

[2021-08-31 06:31] itiyamas commented on #1100
Can you share a well known benchmark like nyc taxis on a selected instance type and share the impact on indexing throughput or network transfer rate for when you use tlog vs lucene snapshot. Maybe a general purpose EC2 instance like m4.4xlarge will help. It would be good to have more than 1 follower cluster to identify the network impact as well. I would recommend capturing disk size limits for th

[2021-08-31 06:56] saikaranam-amazon commented on #1100
Updated the additional benchmark details regarding dataset and instance used.

Regarding some of the concerns listed above:
- Thought of this and the pruning will also take into account the overall Tlog size and older Tlog gen files will get pruned if it breaches this limit. This shouldn't cause additional load on the disk to keep the Tlog operations. If the size grows and Tlog gets pruned, we wil

[2021-08-31 07:22] itiyamas commented on #1100
Please update the rally benchmark output with Tlog vs Lucene. e.g. indexing throughput/latency etc.

[2021-08-31 07:37] getsaurabh02 commented on #1042
Based on further thoughts breaking down the tasks as below:

### 1. Visibility metrics required for Backpressure framework

**1.1 Resource Tracking framework**

Build a resource tracking framework for search requests (queries), which tracks resource consumption on OpenSearch nodes, for various Search operations at different levels of granularity -

**i. Individual Search Request (Rest)** - On the

[2021-08-31 08:27] tushar-kharbanda72 opened #1179 "Search requests resource tracking framework"
**Is your feature request related to a problem? Please describe.**

https://github.com/opensearch-project/OpenSearch/issues/1042 aims to build back-pressure support for Search requests. This framework will act as a basic building block for that.

**Describe the solution you'd like**

Build a resource tracking framework for search requests (queries), which tracks resource consumption on OpenSearch

[2021-08-31 08:32] tushar-kharbanda72 opened #1180 "Server side rejection of in-coming search requests based on resource consumption"
**Is your feature request related to a problem? Please describe.**
#1042 aims to build back-pressure support for Search requests. This is solving a part of that problem.

**Describe the solution you'd like**

Currently, Search rejections are solely based on the number of tasks in queue for Search ThreadPool. That doesn't provide fairness in rejections as multiple smaller queries can exhaust this l

[2021-08-31 08:38] tushar-kharbanda72 opened #1181 "Server side Cancellation of in-flight search requests based on resource consumption"
**Is your feature request related to a problem? Please describe.**
#1042 aims to build back-pressure support for Search requests. This is solving a part of that problem

**Describe the solution you'd like**

Cancelling on-going most resource intensive search requests on a shard/node, if the resource limits for that shard/node have started breaching the assigned limits (https://github.com/opensearc

[2021-08-31 08:42] tushar-kharbanda72 opened #1182 "Search request resource consumption estimation"
**Is your feature request related to a problem? Please describe.**
#1042 aims to build back-pressure support for Search requests. This is the next phase of #1180 to make rejections more pro-active than reactive.

**Describe the solution you'd like**

Improve the framework added as part of (#1042) to also estimate the cost of new search queries, based on their potential resource utilisation. It can

[2021-08-31 10:09] tushar-kharbanda72 opened #1183 "Adaptive replica Selection - Factor in node resource utilisation"
**Is your feature request related to a problem? Please describe.**

#1042 aims to build back-pressure support for Search requests which further relies on #1179 for resource tracking. That info can be factored into Adaptive replica ranking for shard selection and can help avoid nodes which are already running low system resources.

**Describe the solution you'd like**

Currently, for Adaptive repli

[2021-08-31 10:13] tushar-kharbanda72 opened #1184 "Server side rejections based on Implicit Request Priority"
**Is your feature request related to a problem? Please describe.**
#1042 aims to build back-pressure support for Search requests. This feature will be extension to #1180 and #1181

**Describe the solution you'd like**

With #1180 and #1181, we have the ability to reject and cancel the search requests on the server side based upon point in time resource consumption. This point in-time state should

[2021-08-31 10:15] tushar-kharbanda72 opened #1185 "Server side rejections based on Explicit Request Priority"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Extending on #1184, with #1140 we propose customers also to have the ability to provide the priority of a requests, as a request field. The priority in the request is specified for a dynamic queue such

[2021-08-31 10:35] tushar-kharbanda72 commented on #1042
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1179
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1180
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1181
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1182
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1183
- [ ] https://github.com/opensearch-project/OpenSearch/issues/118

[2021-08-31 11:28] AmiStrn commented on #996
What is the status of this issue?
We could really use this fix, as we need to be using these plugins to use v1.0.0 or v1.0.1 but definitely cant wait for v1.1

Where was that discussed? was it in a thread in the forums? Was it in an internal AWS meeting perhaps?

What would you suggest users that require this fix to upgrade to opensearch? Should they stop their upgrade efforts because of this? If

[2021-08-31 16:55] #1056 closed

[2021-08-31 18:43] CEHENKLE commented on #996
@bbarani @peterzhuamazon Hey Peter, I've assigned this to you, but if you're the wrong person, please feel free to assign.   Can you answer @AmiStrn's question?

Thanks!
/C

[2021-08-31 18:50] dblock commented on #631
No need to ask for permission! Thank you for contributing.

[2021-08-31 19:02] mch2 commented on #1022
Hi @anish-adrot, you can set this in opensearch.yml as:

[code]

I can see that [documentation](https://opensearch.org/docs/clients/agents-and-ingestion-tools/index/) only defines the API request.  Thanks for pointing this out, I have cut an [issue](https://github.com/opensearch-project/documentation-website/issues/163) to have our documentation updated.

[2021-08-31 20:00] ylwu-amzn opened #1190 "Keep original constructor of PluginInfo while we support custom folder name"
**Is your feature request related to a problem? Please describe.**
In PR #848, we changed PluginInfo constructor by adding `customFolderName`

                      String classname, **String customFolderName**, List<String> extendedPlugins, boolean hasNativeController)

Is it possible to keep the original constructor and add a new constructor to support customFolderName ? This change caused AD te

[2021-08-31 22:32] dblock commented on #1190
@VachaShah Can you take it for 1.1?

[2021-08-31 22:58] VachaShah commented on #1190
Sure I can take this up.

[2021-09-01 13:07] reta commented on #114
@dblock my apologies, I cannot update the description of the issue but we could put checks on:

  [X]  client/rest/build.gradle
  [X] client/sniffer/build.gradle

Those are out of scope now, thank you!

@VachaShah do you need help with this issue? There are a few options (besides forking and giving all permissions) which we could explore, what do you think?

[2021-09-01 15:20] VachaShah commented on #114
@reta Thank you for the offer! @xuezhou25 will be working on this.

[2021-09-01 16:22] dblock commented on #114
@reta since you PRed https://github.com/opensearch-project/OpenSearch/pull/1187, you've got a leg ahead on all of us already. We have mountains of other things we want to do - would you rather pick this one up?

[2021-09-01 16:26] reta commented on #114
@dblock absolutely, @xuezhou25 how does it sound to you?

[2021-09-01 16:32] CEHENKLE commented on #114
@reta Cool beans!  Thank you :)

[2021-09-01 16:52] xuezhou25 commented on #114
@reta My plan is still forking and giving all permissions to mocksocket & securemock. Since you have the better solution and are ahead of us, it's all yours! :)

[2021-09-01 17:01] reta commented on #114
@xuezhou25 thank you, since there is a dedicated security manager for testing, I will try to prototype the dedicated security checks in there, hopefully (:crossed_fingers: ) the forks will not be needed anymore.

[2021-09-01 17:59] elfisher commented on #855
@setiah since there are multiple mechanisms to authenticate with OpenSearch, would it make sense to do this in an abstracted way? Similar to what is proposed for the logstash-output plugin https://github.com/opensearch-project/logstash-output-opensearch/issues/59

[2021-09-01 18:18] CEHENKLE opened #1194 "[BUG] upgrade dependency"
**Describe the bug**
Update dependency commons-compress-jar to from 1.19 to 1.21 unless it is only used in testing.

[2021-09-01 18:50] abbashus commented on #1194
@CEHENKLE what exactly is the bug with version commons-compress-jar:1.19? Do we want to fix some CVE here ?

[2021-09-01 20:11] anasalkouz opened #1196 "Update git secrets section on the DEVELOPER_GUIDE.md"
Add more details how to use/configure git secrets into the https://github.com/opensearch-project/OpenSearch/blob/main/DEVELOPER_GUIDE.md

**Currently** : it's provide steps to install it.

Expected: Provide into how to install and configure it in your own repo

[2021-09-01 20:36] abbashus commented on #1194
`org.apache.commons:commons-compress:1.19` is
1.  api dependency of `build-tools` and `plugins/ingest-attachment`.
2. transitive dependency of `org.apache.hadoop:hadoop-minicluster:2.10.1` in module `test/fixtures/hdfs-fixture`.

Will upgrade for case 1.

[2021-09-01 21:41] abbashus opened #1199 "[BUG] Links unreachable in lucene-LICENSE.txt"
**Describe the bug**
The following URLs are unreachable (HTTP 404)

1. http://source.icu-project.org/repos/icu/icu/trunk/license.html
2. http://www.icu-project.org

Error log https://github.com/opensearch-project/OpenSearch/pull/1197/checks

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create any pull request and `link checker` Github action fails.

**Expected behavior**
- Generate

[2021-09-01 22:54] hyandell commented on #1199
Intriguing. If I look at the archive.org for only 2 days ago, the www.icu-project.org redirects to http://site.icu-project.org/ which appears to have had a new version published. Kudos for flagging this so quickly.

Digging through their text, https://github.com/unicode-org/icu/blob/main/icu4c/LICENSE is the latest url for the license.

Looking at Lucene, this appears to be the latest version of t

[2021-09-02 01:13] #1199 closed

[2021-09-02 01:35] #1022 closed

[2021-09-02 01:41] dblock commented on #1199
@hyandell care to open an issue here for this?

[2021-09-02 01:59] hyandell commented on #1199
I can do. I'd rather see y'all growing your relationship, but I'm also very happy to put my PRs where my mouth is. :)

[2021-09-02 02:54] dblock commented on #1199
You can assign the issue to me. I just don't want to forget and you seem to know what we need to do.

[2021-09-02 03:06] #1194 closed

[2021-09-02 16:13] reta commented on #622
@nknize should we close this one? thanks!

[2021-09-02 16:20] nknize commented on #622
fixed by #1112

[2021-09-02 16:20] #622 closed

[2021-09-02 19:56] ankane opened #1207 "[BUG] OpenSearch 1.0.1 root endpoint reports version as 1.0.0"
**Describe the bug**

OpenSearch 1.0.1 (downloaded from opensearch.org) reports the wrong version number.

[code]

**To Reproduce**

[code]

**Expected behavior**

Reports version as 1.0.1.

**Host/Environment (please complete the following information):**
 - OS: Linux
 - Version: 1.0.1

[2021-09-02 20:20] tlfeng commented on #1207
Hi @ankane, thanks for reporting this issue. 😁 We are looking for a new mechanism for reporting the OpenSearch bundle version in this issue: https://github.com/opensearch-project/OpenSearch/issues/1111.
If you have any opinions on how the "bundle version" should be reported, please feel free to tell us.

The response of `http://localhost:9200/ ` can only report the version of OpenSearch core, and

[2021-09-02 20:41] spbjss commented on #1119
One open question:
How did you define the solution? This doc only confirmed that the Alerting plugin can be migrated to the extension model. Probably it’s better to define the solution after checking the behavior/architecture of other peripheral plugins, and make sure the solution could support most of the peripheral plugins.

[2021-09-02 20:51] spbjss commented on #1119
Several more questions:
1. How much effort does it need to migrate an existing plugin to this extension feature?
2. Would this extension feature manage the workload balance across the extension nodes?
3. More specific numbers on the limitation would be very helpful. (e.g. If the extension plugin is dependent on some index metadata/cluster setting, its size should be minimal and should not change f

[2021-09-03 02:07] VachaShah commented on #1190
Backported the change to 1.x: #1209

[2021-09-03 02:07] #1190 closed

[2021-09-03 11:34] Bukhtawar opened #1211 "Tiered caching, off-heap cache support"
**Describe the bug**
The existing caches are based out of heap which suffers from
1. The memory overhead of objects is very high, often causing the retained size of the data to overflow.
2. Java garbage collection becomes slow as the in-heap data increases(restricted by 10%).

**Proposal**
As a result of these factors using the filesystem and relying on pagecache is superior to maintaining an in-m

[2021-09-03 11:35] Bukhtawar commented on #1211
Request admins to remove the BUG label, missed categorizing it

[2021-09-03 16:52] tlfeng opened #1213 "[BUG] Code coverage report can't be generated properly due to defect in code-coverage.gradle"
**Describe the bug**
There are 2 bugs in `code-coverage.gradle`:
1. When running `./gradlew check -Dtests.coverage=true`, the following error occurs:
[code]
2. Whether the system property ["tests.coverage.html_report"](https://github.com/opensearch-project/OpenSearch/blob/83332c8ab6f8c134b09b9a3dc57ddf39a507859e/gradle/code-coverage.gradle#L83) is set or not, the html format code coverage report i

[2021-09-03 17:15] rishabhmaurya commented on #1119
You're right! But we are ready to have an open discussion on what it takes to make changes to this model to support most of the use-cases. Let's list all constraints which are too strict here and are preventing migration of any peripheral plugin and discuss ways to support them.

[2021-09-03 17:58] tlfeng commented on #1196
Are we going to backport this to 1.x branch? 😉 It doesn't have any labels for the targeted version.

[2021-09-05 19:37] dblock commented on #1196
I don't think it's necessary to backport since most developers read main.

[2021-09-06 08:45] itiyamas commented on #1100
@saikaranam-amazon Did you try figuring out a mechanism to improve the indexing throughput on the leader cluster without tlog optimizations by looking closely at how lucene stored fields are being read? Is there an opportunity to improve performance at that layer instead of making this change?

[2021-09-06 22:23] abbashus opened #1219 "[RFC] OpenSearch.org search functionality"
**Tracking Issue:** https://github.com/opensearch-project/OpenSearch/issues/696

## Overview

We plan to introduce search capabilities for end user documentation, javadocs etc on _opensearch.org_ . The current search functionality is based on client side lookup to [local index file](https://opensearch.org/docs/assets/js/search-data.json). We want to power this search functionality with an OpenSear

[2021-09-06 22:45] ankane commented on #1207
Hey @tlfeng, thanks for the response. Will close this out, but I think it'd be more intuitive to report 1.0.1. If it's easiest to match the core version, maybe the core version could be bumped even when there are no changes.

[2021-09-06 22:45] #1207 closed

[2021-09-07 06:14] itiyamas commented on #1100
I believe that one of the things that has not been tested well is data integrity across the 2 recovery sources upto the local checkpoint. The old logic either always used translog recovery or retention leases, but never both. Here, we are choosing between the two dynamically and hence it is imperative that we check the integrity of the data across the two sources.

[2021-09-07 12:35] ganilmca commented on #976
Hi @xuezhou25

We have tried to redeploy the OpenSearch Elasticsearch cluster  in another  vm's , but we got the same issues, after restart the host we couldn't able to get cluster health in same host. We were getting the below same error.

{
"error" : {
"root_cause" : [
{
"type" : "security_exception",
"reason" : "Unexpected exception cluster:monitor/health"
}
],
"type" : "security_exception",
"r

[2021-09-07 13:12] stockholmux commented on #1219
Shouldn't this RFC be in [project-website](https://github.com/opensearch-project/project-website)

[2021-09-07 17:08] #1196 closed

[2021-09-07 17:23] tlfeng commented on #1138
Close the issue since the change has been merged in `main` and `1.x` branches.

[2021-09-07 17:23] #1138 closed

[2021-09-07 17:33] minalsha commented on #766
Hi @ketanv3 could you please update if you are still working on the fix for this issue? if not, someone else can pick up.

[2021-09-07 18:20] mch2 commented on #798
I believe this can be closed as a duplicate to https://github.com/opensearch-project/opensearch-build/issues/350.

@dblock thoughts?

[2021-09-07 18:38] minalsha commented on #631
@Bukhtawar could you please help with details that @reta  is seeking for? Thanks

[2021-09-07 18:41] minalsha commented on #477
Could you please share what problem are we solving for OpenSearch with this issue? Is there a generic way to solve this issue for OpenSearch instead of just SiFi feature?

[2021-09-07 18:44] #485 closed

[2021-09-07 18:44] minalsha commented on #485
@mgodwan looks like this issue is closed by PR: https://github.com/opensearch-project/OpenSearch/pull/656. If thats not the case, please feel free to reopen this issue. Thanks

[2021-09-07 18:46] CEHENKLE commented on #996
Talking to @nknize, it sounds like the only thing left to do is to update the public key to match what Marc published on pgp.mit.edu

@bbarani I don't believe we have permissions do to that -- can you assign someone in infra to do this?

Thanks!

/C

[2021-09-07 18:49] minalsha commented on #494
Closing since https://github.com/opensearch-project/OpenSearch/pull/495 is closed. Feel free to reopen if thats not the case.

[2021-09-07 18:49] #494 closed

[2021-09-07 18:51] minalsha commented on #551
@dhwanilpatel Are these 2 issues related: https://github.com/opensearch-project/OpenSearch/issues/551 and https://github.com/opensearch-project/OpenSearch/issues/494? If so, could you please share details on how.

[2021-09-07 18:54] minalsha commented on #487
@ashwinpankaj Closing this issue since PR: https://github.com/opensearch-project/OpenSearch/pull/777 is merged. If it inst the case, feel free to reopen.

[2021-09-07 18:54] #487 closed

[2021-09-07 18:58] minalsha commented on #528
Closing this issue as confirmed by @rmuir  that he does not see any issue.

"I took a pass through all the files (core policies mentioned above, and every plugin-security.policy) and didn't see anything unexpected."

[2021-09-07 18:58] #528 closed

[2021-09-07 19:03] peterzhuamazon commented on #996
Hi Charlotte,

1. Nick need to add either a skip signature check param, or implement read public key from keyring.
2. If 1 not doable for the next release, then we need to replace the existing public key save in OpenSearch repo to the one actual public key we use and posted on opensearch.org (https://artifacts.opensearch.org/publickeys/opensearch.pgp)
3. When generating all the new native plugin z

[2021-09-07 19:14] minalsha commented on #806
@shwetathareja  are you working on this currently?

[2021-09-07 19:33] Bukhtawar commented on #631
I'll try to see if I can repro..

[2021-09-07 21:06] aditjind commented on #1219
This design doc is a good example of deep dive. I have a couple of high-level comments/questions:

- Can we weigh in the comparisons of using [AWS Code Deploy](https://docs.amazonaws.cn/en_us/codedeploy/latest/userguide/welcome.html)?
- Can we see if we want to deploy container based OS cluster instead of deploying it in vanilla EC2 instances? Containers require less memory management, as they con

[2021-09-07 21:40] CEHENKLE commented on #1219
We generally get more eyeballs on this repo, and since I wanted this to be a reference implementation for opensearch, I wanted eyes that would be here on it :)  But happy to move it over in a bit, because you're right, that's where the rubber will hit the road.

Thanks!
/C

[2021-09-07 22:01] stockholmux commented on #1219
@CEHENKLE It's also being tracked on [project-website #229](https://github.com/opensearch-project/project-website/issues/229). I understand the 'higher profile' but, to a degree, this sits between several repos.

From the perspective of someone trying to find or comment on it, I think it belongs in project-website or [documentation-website](https://github.com/opensearch-project/documentation-websi

[2021-09-07 22:07] bbarani commented on #996
@nknize @CEHENKLE Please let us know if there is a plan to fix this in 1.1 release. This is not tied to 1.1 release but we would like to close this out as soon as possible to unblock community from installing those plugins.

[2021-09-07 22:10] stockholmux commented on #1219
Architecturally, this is pretty Amazon centric. For someone to recreate this service they would pretty much have to be on AWS. This seems to defeat tenet #1.

I think there is some very interesting things that are not in the diagram nor description. How do you get search queries to this search service? How do you take web pages and extract content from them for OpenSearch, etc.?

Also, am I correc

[2021-09-07 22:22] aditjind commented on #1219
[This](https://github.com/aws) repository provides a lot of resources which use AWS resources to create and manage different products. If we add investment to this proposal and get it added to AWS, it will be another feather in the cap of Open Search.

[2021-09-07 22:47] peterzhuamazon opened #1220 "[BUG] bin/opensearch-build will change the files permissions when extracting plugin zips"
**Describe the bug**
When using opensearch-plugin to install zips, it seems the original permission of the files are not preserved.

For example, security plugin is having all the tools scripts 750, but when you install the security zip with opensearch-plugin install it will reset to 644
https://github.com/opensearch-project/security/blob/4c182a216954b441cb698fe3f4d07f34a88b6d2f/src/main/assemblie

[2021-09-07 22:55] abbashus commented on #1219
Opensource in `#1` implies all the CDK code and other code artifacts to be public. Users are free to use other cloud providers that provide similar functionality or use self-hosted solutions.

Clients (browser) uses the exposed search endpoint (provided by API Gateway) and renders results based on response from search service.

It is left to the user on how to extract content from their website an

[2021-09-07 22:56] abbashus commented on #1219
Thanks @stockholmux . I will add more details/diagrams to showcase those parts.

[2021-09-08 07:40] xuezhou25 commented on #976
Sure I deployed the cluster on a VM(ubuntu). Did tarball installation and modified `opensearch.yml`.
Do you mean deploy 3 nodes on 3 VMs(with same port and different IP address)?

[2021-09-08 07:54] xuezhou25 commented on #639
Looking into this.

[2021-09-08 13:10] dblock commented on #798
I've renamed to "run gradle checks on 1.x"

[2021-09-08 14:30] reta opened #1225 "Plugins: [repository-azure] plugin should use Azure Storage SDK v12 for Java"
At [Aiven Oy](http:/aiven.io), we are extensively using Azure Repository plugin to store/fetch snapshots on the Microsoft Azure cloud platform. Unfortunately, the `repository-azure` uses Legacy Storage SDK v8 for Java [1] which is not supported and not maintained anymore [2], [3].

**Describe the solution you'd like**
Update Azure Repository plugin to use latest Azure Storage SDK v12 for Java [4].

[2021-09-08 15:50] johnnyshields opened #1228 "Feature Request: Client libraries: Enable gzip compression by default"
This is a feature request for the various client libraries for OpenSearch (Python, Ruby, etc.)

Gzip compression over the wire should be enabled by default. There's really no reason not to enable it, and it can save significant bandwidth and $$$.

[2021-09-08 16:03] nknize commented on #996
Looking into this and will update labels shortly.

[2021-09-08 16:13] adnapibar commented on #1053
Resolved by #1054

[2021-09-08 16:13] #1053 closed

[2021-09-08 16:57] abbashus opened #1229 "Update release note for 1.1"

[2021-09-08 19:03] anasalkouz commented on #1068
PR merged and backported. Closing the ticket.

[2021-09-08 19:03] #1068 closed

[2021-09-08 19:22] #1229 closed

[2021-09-08 21:39] mch2 commented on #798
I think we can close this issue - gradle checks currently run for any branch as long as 'start gradle check' comment is made on the PR.

I've opened a separate [issue](https://github.com/opensearch-project/opensearch-build/issues/417) to make the gradle check job public.
We also have an [existing issue](https://github.com/opensearch-project/opensearch-build/issues/245) for setting up randomized te

[2021-09-08 21:39] #798 closed

[2021-09-08 23:32] anasalkouz opened #1232 "Using milestones for minor and major version releases"
** Problem Statement **
Currently, we are using labels to determine release version for this issue and pull request. This could explode the list of labels significantly and harder to track the progress for specific release.

** Proposal **
Using Milestones for tracking issues and pull requests for minor and major version releases and keep the use of Labels sort issues by type, priority, severity,

[2021-09-09 00:07] piyushdaftary commented on #1098
Hi @AmiStrn
Thanks for looking into the proposal and liking the design :) .

If I break the feature into two parts, then just implementing "recovery operation" first wouldn't add much value to opensearch as there already exists an [API to restore indices](https://opensearch.org/docs/opensearch/snapshot-restore/#restore-snapshots) from past snapshots.

As opensearch is self sufficient software, I f

[2021-09-09 00:33] nknize commented on #1232
+1 to using the GitHub milestones feature.

Just a couple initial questions:

* Can anyone add an issue to a milestone?
* Will milestones be time based (e.g., minor version milestone planned every N weeks)?
* How do version labels cause explosion if maintainers are diligent in labeling and communicating with /asking questions of other contributors & community? Maybe combinatorial explosion of labe

[2021-09-09 00:45] praveensameneni commented on #1232
Milestones can be used to track progress of feature development. Additionally, can we add the issues to the roadmap project - https://github.com/orgs/opensearch-project/projects/1

[2021-09-09 14:39] nknize commented on #1100
I agree w/ @itiyamas on the data integrity testing concern. Has this been addressed?

Also, this is based on the document level replication model, but there's also segment level replication built into Lucene that rsyncs the segments rather than relying on the translog playback replication model. This doesn't require decompression at all and proves to be significantly faster in all cases (product s

[2021-09-09 16:14] anasalkouz commented on #1232
It require the same access level as Labels, any one with Triage access or can apply milestones
Labels
![Screen Shot 2021-09-09 at 9 07 51 AM](https://user-images.githubusercontent.com/25317259/132722444-0a33837e-d82e-442a-9733-514e8640b9ae.png)
Milestones
![Screen Shot 2021-09-09 at 9 07 23 AM](https://user-images.githubusercontent.com/25317259/132722466-0684c1dd-62d2-46c7-8e40-8319cde1c00e.png)

[2021-09-09 16:38] AmiStrn commented on #1098
I think this separation will have some benefits
- the PRs will be smaller
- the separation is a logical one allowing other code to use this recovery based on different conditions
- the separation allows for easy test separation as well

By saying _separation_ I'm not saying you should abandon the auto recover part, just separate it in terms of phases and logic.

However, after running massive clus

[2021-09-09 16:51] anasalkouz commented on #1232
Yes, nothing changed in the issue level, you can add issues to any project. Our proposal to tag issues for specific release using Milestones instead of labels.

[2021-09-09 17:03] ps48 commented on #1119
I have a few questions particularly related to plugins like Notebooks:

  1. Notebooks uses it's own index for storing documents, it's not just using some metadata. Hence, it will need full access(create, read, write) over the subscribed index. How is this handled by extension node?
  2. I understand the transport APIs are taken care by transport action handler in extension node. But, Is there any

[2021-09-09 17:50] ylwu-amzn commented on #1119
For AD plugin, we need to distribute load between multiple nodes. Currently we depends on cluster change event to build hash ring and distribute load. After moving AD to extension node, AD needs to get similar change event for all extension nodes, like new extension node joins, node left cluster. These nodes should be able to connect to each other, so we can choose one extension node as coordinati

[2021-09-09 18:21] rishabhmaurya commented on #1119
I have been thinking about this use-case and thanks for bringing this up. Extension nodes not talking to each other shouldn't be a hard constraint, they should be allowed to establish connection to desired extension node as required. Also, the global extension state, which is maintained by opensearch cluster leader, contains list of active extension nodes reachable from leader. So ExtensionEventSe

[2021-09-09 18:33] anasalkouz commented on #1000
Hey @aritra998, are you actively working on it?

[2021-09-09 18:56] rishabhmaurya commented on #1119
They will have full access to the NodeClient, using which it can create/read/write index. So, there is no change in behavior, although implicitly, all requests would be proxied to one of the cluster node to handle it.

No, REST APIs should work as it is, the only difference would be that they will not be hosted on extension nodes, but on regular cluster nodes, and corresponding transport action wo

[2021-09-09 20:52] stockholmux commented on #1232
I've not personally worked with milestones. @anasalkouz Do you have a few examples of projects using milestones well? I'd love to see how this plays out in practice.

Maybe folks in the community have strong opinions? Have we asked them?

[2021-09-09 20:53] chloe-zh commented on #1119
Shout out for this proposal and design, but I have a couple of questions:
1. Does the plugin need to be aware of which role is in use in different stages within the plugin business logic? For example, the SQL plugin usually fetches indices with NodeClient at the very first stage of the physical plan, and then works on the in-memory post-processing right after the index scan. Would that be the SQL

[2021-09-10 18:25] reta commented on #710
@dblock I think we could close this one, thank you!

[2021-09-10 18:27] reta commented on #981
@Bukhtawar would you mind if I will take this one? thank you!

[2021-09-10 19:03] dblock commented on #710
Thanks for your excellent work @reta!

[2021-09-10 19:03] #710 closed

[2021-09-10 19:13] Bukhtawar commented on #981
@reta sure please go ahead. Thanks for contributing

[2021-09-10 20:30] xuezhou25 commented on #1094
🙌

[2021-09-10 21:58] #996 closed

[2021-09-13 12:32] saikaranam-amazon commented on #1100
Yes, Explored compression algorithm used for the stored fields and this is at block level (with group of documents) and couldn't turnoff compression for set of docs.

[2021-09-13 12:35] saikaranam-amazon commented on #1100
Performed these test via scripts with source as lucene and translog. I understand the concern, we will extend these scripts to work with the  tests as part of integration tests under the replication plugin.

[2021-09-13 15:08] saikaranam-amazon commented on #1100
Attaching the results for esrally with and without applying translog pruning

Configuration
- Instance - i3.xlarge
- Dataset - Eventdata
- Index settings - 1 Primary Shard - Single Node

**without enabling the setting**

[code]

**with enabling the setting**
[code]

[2021-09-13 17:56] #1213 closed

[2021-09-13 18:30] adnapibar commented on #803
@itiyamas I was unable to reproduce the issue in a deterministic manner.  Do you have any specific idea on how to do so?

[2021-09-13 18:36] tlfeng opened #1237 "[DOCS] Add usage for generating code coverage report"
**Is your feature request related to a problem? Please describe.**
#850

With PRs #971 and #1214 merged, code coverage report can be generated by gradle task.
Documentations should be added for developers about how to generate the code coverage report.

**Describe the solution you'd like**
Update the section in "testing" guide https://github.com/opensearch-project/OpenSearch/blob/1.0.0/TESTING.md#

[2021-09-13 19:05] nknize commented on #687
Bumping to v1.2.0 per @tlfeng update.

[2021-09-13 19:06] nknize commented on #972
bumping to v1.2.0

[2021-09-13 19:06] nknize commented on #787
Bumping to v1.2.0

[2021-09-13 19:08] sastorsl opened #1238 "[BUG][opensearch] Deprecated node role settings"
**Describe the bug**
The old roles was deprecated in 7.8, and has been replaced by node roles.
This gives a deprecation warning in the opensearch logs.

Old:
[code]

NB! This is probably more relevant in the https://github.com/opensearch-project/OpenSearch repo since the chart does not override the default values for roles.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected beh

[2021-09-13 19:08] nknize commented on #673
I think this was resolved as a versioning discrepancy due to the versioning framework using old versions of elasticsearch? bumping to v.1.2.0 but I think this can be closed?

[2021-09-13 19:08] peterzhuamazon commented on #1238
Moved to the OpenSearch repo to resolve the issue.

[2021-09-13 19:22] aditjind commented on #1119
I have some questions about the design proposed for the architecture of extension nodes:

- To make the extension nodes as a cluster, what will be the extra overhead? As jobs on each node are taking care of maybe a single plugin, it will add additional overhead on the master of the OS cluster to maintain the state of extension nodes. How about we have an elected leader amongst the extension nodes

[2021-09-14 17:05] peternied opened #1240 "Override Distribution Downloader to download opensearch-min artifact from a custom url"
The opensearch-plugin-cli works well for getting the last released and release candidate builds, but lacks pull artifacts from any location for scenarios like local development and testing.

This is needed for build and release process to validate components _before_ they are released.

[2021-09-14 17:43] #972 closed

[2021-09-14 19:04] setiah commented on #1240
Related to https://github.com/opensearch-project/opensearch-build/issues/319

[2021-09-14 20:55] adnapibar opened #1242 "Optimize JVM Memory Usage for Snapshot Deletion"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-15 05:43] Poojita-Raj commented on #705
These are the limitations with profiling that we are trying to bridge with this issue - [Profile limitations](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-profile.html#profile-limitations)

Namely, the top two issues is what we're trying to target right now:
1. Network overhead time measurement for node-to-node communication.
2. Time spent on coordinator fan out and coordi

[2021-09-15 10:03] sevenval-admins opened #1244 "Connect Opensearch to Active Directory"
**Describe the bug**
Cannot connect Opensearch with Active Directory

**To Reproduce**
Steps to reproduce the behavior:
1. Create custom config file in order to connect opensearch to LDAP-Server
2. Launch docker-compose up with custom config file mounted as Volume in docker-compose.yml
2. The Cluster creation starts
3. When giving http://localhost:5601 on address bar, the Dashboard is unreachable

[2021-09-15 10:52] saikaranam-amazon commented on #1100
After reviewing the use-case, modifying the setting name to `plugins.replication.index.translog.retention_lease.pruning.enabled` to explicitly denote that the setting is primarily focused for cross cluster replication.

[2021-09-15 14:27] dlvenable opened #1246 "Support Gradle 7 in plugins"
**Is your feature request related to a problem? Please describe.**

Our Project - DataPrepper - uses OpenSearch Gradle plugins to help us perform integration testing against OpenSearch. The plugins are currently only working on Gradle 6 (I'm unsure of the minimum version in this series).

The plugins use an incubating feature which was introduced in Gradle 6 and changed prior to Gradle 7. The [Glo

[2021-09-15 22:09] anasalkouz opened #1248 "Query Observability - Metrics Framework"
We have been looking into instrumenting the Opensearch code recently. Even though stats provides a good mechanism, it loses a lot of details like percentiles, which makes it really harder to debug issues in production. Wouldn’t it be great to add a metrics framework in Opensearch that allows a developer to add metrics easily at any part of the code without having to know the exact stats object whe

[2021-09-15 22:24] anasalkouz opened #1249 "Clean up unused code to support old ElasticSearch versions"
Since OpenSearch is a fork from ElasticSearch version 7.10.2. It might be a good idea to remove code to handle old/deprecated versions. which should reduce the source code lines significantly and produce more cleaner code.

[2021-09-16 00:02] xuezhou25 opened #1250 "[BUG] InternalDistributionArchiveSetupPluginFuncTest fail"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
`./gradlew :build-tools:integTest --tests "org.opensearch.gradle.internal.InternalDistributionArchiveSetupPluginFuncTest"`

[2021-09-16 00:59] CEHENKLE opened #1252 "Benchmark JVMs for OpenSearch"
The JVM we're using is the one that we inherited, but we haven't validated that it's actually the best one to use.

The request is to benchmark different JVM versions with OpenSearch & make a plan to move to the highest-performing one. Please also consider support & terms when making a recommendation. For example, Oracle JDK has short LTS support for free users, longer LTS support for paid users.

[2021-09-16 00:59] CEHENKLE opened #1276 "Benchmark JVMs for OpenSearch"
The JVM we're using is the one that we inherited, but we haven't validated that it's actually the best one to use.

The request is to benchmark different JVM versions with OpenSearch & make a plan to move to the highest-performing one. Please also consider support & terms when making a recommendation. For example, Oracle JDK has short LTS support for free users, longer LTS support for paid users.

[2021-09-16 02:28] tlfeng commented on #1250
Might be caused by PR #1241 (Add version 1.2 for BWC testing).

[2021-09-16 05:48] xuezhou25 commented on #1250
Agree. Closing this issue.

[2021-09-16 05:48] #1250 closed

[2021-09-16 10:09] hsimpson opened #1253 "[BUG] Container does not start on Apple M1"
**Describe the bug**
Trying to use the latest Docker image "opensearchproject/opensearch:latest" which looks like it is (1.0.1) within my "docker-compose.yml":
[code]
When it try to starup this error occurs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a "docker-compose.yml" with above settings
2. `docker-compose up'
3. See error

**Expected behavior**
Container should run

[2021-09-16 12:59] krishna-ggk opened #1254 "Introduce extension points in core Engine abstraction supporting customizability of subset of Engine functionalities"
**Is your feature request related to a problem? Please describe.**
Plugins like [cross-cluster-replication](https://github.com/opensearch-project/cross-cluster-replication/blob/main/src/main/kotlin/org/opensearch/replication/ReplicationEngine.kt), [k-NN](https://github.com/opensearch-project/k-NN/blob/1973eeaedb3aa1444db42814966c73d391e9c5c4/src/main/java/org/opensearch/knn/plugin/KNNEngineFactory

[2021-09-17 04:21] ganilmca commented on #976
@xuezhou25

Thanks for your confirmation, but we couldn't able to get cluster health in all 3 hosts, we can able to get health in only one host.  We have redeployed in another ip's , port=9200 even though we got same issues like "security exception".
We have edit the opensearch.yml file like below.

cluster.name: opensearch-elasticsearch
node.name: ${HOSTNAME}
path.data: /var/lib/scylla/elastic/op

[2021-09-17 05:15] tamanugi commented on #1253
I'm facing same issue 😇

I used `opensearch staging / opensearch: 1.0.0-multi-test` instead and it worked fine 👍

[2021-09-17 16:12] saratvemulapalli commented on #1253
Thanks for reaching out. Will transfer this to opensearch-build who builds our docker images.

[2021-09-17 16:19] saratvemulapalli commented on #1244
Taking a first stab at the issue.
Looks like `securityadmin.sh` is not run yet and it is needed to initialize the OpenSearch security plugin.
For more details you could look through the documentation: https://opensearch.org/docs/security-plugin/configuration/security-admin/

Having said that, I'll transfer this to the security plugin as they might have more insights.

[2021-09-17 19:31] verbecee opened #1255 "Cannot create alias on remote cluster index patterns [BUG]"
**Describe the bug**
I run a 4-cluster architecture, with 3 remote ES clusters with a coordinating cluster to read data from the remotes. I can create an alias using an index pattern on indices on my local cluster.

[code]

returns:
[code]

However, when I try to create the pattern based on remote index patterns (notice the difference is the colon):
[code]

I get an index_not_found_exception:
[cod

[2021-09-19 00:57] jonrau1 commented on #1110
+1. Nothing more to add, great write up 🤙🤙

[2021-09-19 03:37] ben-manes commented on #1211
The custom [CacheBuilder](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/common/cache/CacheBuilder.java) is incredibly slow. A simple concurrency benchmark shows it to be worse than a synchronized LRU cache.

| Benchmark | OpenSearch | LinkedHashMap | Caffeine |
| :-: | :-: | :-: | :-: |
| read-only | 2.5 M/s | 7.4 M/s | 130 - 150 M/s |
| read-write

[2021-09-19 07:04] Bukhtawar commented on #1211
Thanks @ben-manes would you be able to share details on the set-up, the numbers are certainly interesting.

[2021-09-19 07:56] ben-manes commented on #1211
This [jmh benchmark](https://github.com/ben-manes/caffeine/blob/master/caffeine/src/jmh/java/com/github/benmanes/caffeine/cache/GetPutBenchmark.java) uses a Zipfian distribution to emulate hotspots in the request pattern. That references `ElasticSearch`, but the code has not been changed in this fork. A [server-class run](https://github.com/ben-manes/caffeine/wiki/Benchmarks#server-class) shows th

[2021-09-20 05:46] saikaranam-amazon commented on #1100
Test for peer recovery
- Setup
  - Cluster: 2 nodes
  - Dataset: eventdata
  - Re-routed the shards after ingestion and monitored recovery stats

**with setting disabled**
[code]

**with setting enabled**

[code]

[2021-09-20 15:20] jcgraybill commented on #1252
There's also an issue requesting distributions of OpenSearch that don't include a JDK (opensearch-project/opensearch-build#99). So this benchmarking should be done in a way that's reproducible & automated, so that anybody who wants to use a different JDK can understand objective performance gains and tradeoffs for it.

[2021-09-20 16:20] mch2 commented on #1118
This documentation is a first step in understanding what is required involved in modularizing document replication.  I think this issue should be part of a higher level meta to build out that proposal.

We can also put a separate issue in documentation-website to include a section on this behavior.

[2021-09-20 17:09] Poojita-Raj opened #1258 "Bridging the gap in network overhead measurement in the profiler"
**Is your feature request related to a problem? Please describe.**
In the profiler output, currently the network overhead of the query is not being measured. The profiler is meant to be used as a diagnostic tool to understand why certain requests are slow.

Network overhead plays a large part in this (especially in multi-node clusters) and should be included alongside the other debug information f

[2021-09-20 17:20] Poojita-Raj opened #1259 "Including time spent on merging shard responses on coordinating node in the profiler"
**Is your feature request related to a problem? Please describe.**
A coordinating node that receives a search request executes it in 2 parts -

1. Coordination fan-out phase: This is where the request is forwarded to data nodes that hold the data for execution.
2. Coordination fan-in phase: This is where the individual data node results are returned and merged on the coordination node for the fina

[2021-09-20 17:23] mch2 opened #1260 "Add pluggable extension point for TranslogDeletionPolicy and move CCR specific logic to plugin."
#1100 added translog pruning logic behind an index setting that is specific to CCR.  This logic and setting should be scoped only to the CCR plugin.

Suggested solution:
We need to create an extension point for plugins to provide their own TranslogDeletionPolicy logic.  Right now we have the limitation that only one plugin may override engine (A suggestion to break this limitation in #1254 ). Unti

[2021-09-20 17:24] xuezhou25 commented on #976
My opensearch.yml file:

Node: 1
[code]

Node: 2
[code]

Node: 3
[code]
Others are set as default value.

[2021-09-20 17:26] Poojita-Raj opened #1261 "Include fetch phase of search query in the profiler"
**Is your feature request related to a problem? Please describe.**
In the profiler output, currently the time spent on the fetch phase of the query is not being measured.
The fetch phase of a search query is when the documents ids returned from the query phase are used to fetch the real documents.

This is an important step in the execution of a search request. By including the time spent here in

[2021-09-20 17:27] mch2 commented on #1254
I understand the logic here but I'm concerned that having multiple plugins provide their own candidates will make debugging painful.

I suggest we start in 1.2 with a `TranslogConfigPlugin`, where a plugin may specify their own deletion policy with the restriction that only one plugin is allowed to provide the override.  I cut #1260 so we can address this one at a time.

Completely refactoring eng

[2021-09-20 18:42] saratvemulapalli commented on #1240
There are 2 different pieces to this.

1. Integration Test framework within OpenSearch which is leveraged by all plugins via `opensearch.testclusters'` gradle plugin. Even though the integration test is provided with an external test cluster it still downloads the min-artifact via DistributionDownloader. The fix is to not let the framework download the artifact if an external cluster is provided.

[2021-09-20 18:52] alborotogarcia opened #1262 "[BUG] Opensearch SSL transport error, master not discovered or elected yet"
**Describe the bug**
Can't reproduce default demo setup on kubernetes.

**To Reproduce**
Steps to reproduce the behavior:
1. Install helm chart with defaults (optional) from https://github.com/opensearch-project/helm-charts
2. Copy all configuration yaml from /usr/share/opensearch/plugins/opensearch-security/securityconfig to local
3. Paste contents to securityConfig.config.data file templates
4.

[2021-09-20 19:50] Poojita-Raj opened #1263 "Include time spent in queues in profiler"
**Is your feature request related to a problem? Please describe.**
In the profiler output, currently the time spent in queue in the active search thread pool of the query is not being measured. This could be a helpful addition to the profiler response for a more in-depth look at what parts of the search query are taking up time.

**Describe the solution you'd like**
Modify the profile response to

[2021-09-20 21:00] minalsha commented on #1252
Pre-requisites for this issue:
1. Running Performance E2E with ability compare test results across different versions of OpenSearch.
2. Configure JVM version for builds and Performance tests and resolve issue: https://github.com/opensearch-project/opensearch-build/issues/74.

[2021-09-21 21:24] stockholmux opened #1266 "[BUG] Include Security Reporting Instructions on README"
**Describe the bug**

Most repos include the security reporting warning ('If you discover a potential security issue...') on the README as well as in the issue template.

**To Reproduce**
Read the README

**Expected behavior**
It has the security reporting warning

[2021-09-21 23:44] #1237 closed

[2021-09-22 14:03] dblock opened #1272 "[BUG] ConcurrentSnapshotsIT#testAssertMultipleSnapshotsAndPrimaryFailOver fails intermittently"
**Describe the bug**
Coming from https://github.com/opensearch-project/OpenSearch/pull/1270, where `ConcurrentSnapshotsIT#testAssertMultipleSnapshotsAndPrimaryFailOver` failed.

**Screenshots**

![](https://user-images.githubusercontent.com/509855/134355568-998f50ef-7ecc-40b3-a11c-b8e6aa48e530.png)

**Additional context**

[code]

[2021-09-22 15:02] saikaranam-amazon opened #1273 "[Enhancement] Refactor Engine - Move no-op methods to abstract"
**Description**
Moved no-op methods under Engine class to abstract to override in the derived classes.
Ref: https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/engine/Engine.java#L1860-L1867

[2021-09-22 17:55] mch2 opened #1274 "[BUG] :test:fixtures:minio-fixture:composeUp Docker-compose test intermittently fails."
This test intermittently fails on gradle check running docker-compose up.

Gradle check runs:

[gradle_check_536.log](https://github.com/opensearch-project/OpenSearch/files/7212800/gradle_check_536.log)
[gradle_check_536_reports.zip](https://github.com/opensearch-project/OpenSearch/files/7212801/gradle_check_536_reports.zip)
[code]

[2021-09-22 19:20] minalsha commented on #600
Closing the issue since this issue is fixed. Please let us know if you see an issue still persists and reopen the issue.

[2021-09-22 19:20] #600 closed

[2021-09-22 19:22] minalsha commented on #581
@mch2  could you please confirm if this issue has been addressed already? If yes, please close this issue. Thanks

[2021-09-22 19:34] dblock commented on #95
I am going to close this. Beyond https://github.com/opensearch-project/OpenSearch/pull/853, the release train has become an issue template to follow in https://github.com/opensearch-project/opensearch-build/pull/531 and is documented in https://github.com/opensearch-project/OpenSearch-build#making-a-release. We can iterate on that, and keep writing down and improving any of the aspects asked here

[2021-09-22 19:34] #95 closed

[2021-09-22 19:38] minalsha commented on #1005
@mch2  is OpenSearch RestHighLevelClient  already available in Maven and how do we use it?

[2021-09-22 22:44] piyushdaftary commented on #1098
Thanks @AmiStrn for your inputs.
I will try to phase out the PRs so that it is easy to review.
As Opensearch is self sufficient software, hence want the autorecover logic to be in core software logic itself.
Will make recover interface abstract so that if someone want to write custom plugin for recover they can easily do that.

I have added precondition check (please refer to section : "Pre-Condit

[2021-09-22 23:09] saratvemulapalli commented on #978
@owaiskazi19 following up on this one.
Could you help understand what more work is needed here?

[2021-09-22 23:16] AmiStrn commented on #1098
What about my comment regarding: https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-cluster.html#modules-cluster

There may be other cases like this..
I suggest looking at the implications and adding to the section you referenced regarding pre-conditions.

I asked other people maintaining production clusters and the general response I get is that the nodes must be fixed first,

[2021-09-22 23:16] saratvemulapalli commented on #724
@jainankitk taking a stab at this.
Are you looking for client benchmark docs?

Let me start answering this question:
1. We do have Java docs for benchmarks. See if this helps and let us know if this is what you were looking for. https://opensearch.org/javadocs/1.0.0/OpenSearch/benchmarks/build/docs/javadoc/index.html
2. Second part of the question, I see you suggest having a pre-check for java doc

[2021-09-23 00:08] owaiskazi19 commented on #978
@saratvemulapalli we have already changed the steps for downloading opensearch.
Ref: https://opensearch.org/downloads.html. We can close this issue.

[2021-09-23 00:10] #978 closed

[2021-09-23 00:47] anasalkouz opened #1277 "Pluggable alternatives to translog functionality using existing market solutions"
Instead of having the translog saved into the file system and care of replicating it to other replica nodes, or care of backing up files (Once segement replication introduced). we can make an extend of the functionality and provide the flexibility to OpenSearch's clients to choose one of the existing solutions in the market to backup or store OpenSearch operations. For example we can use Kineses o

[2021-09-23 04:55] piyushdaftary commented on #1098
Hi @AmiStrn
Ack on point to explicitly do precondition check for `shard allocation and routing settings` before triggering  recover(missed to call it out in proposal). Thanks for suggesting it.

By self sufficient I mean say that instead of any external process triggering recovery,  opensearch code itself should be able to do the recovery.

It's true opensearch can't repair hardware on its own. To

[2021-09-23 05:29] AmiStrn commented on #1098
This implies the cluster could have been smaller in the first place. Which is usually not the case when trying to reduce costs.
Its almost as if you propose to have more memory and nodes than required in order for this to fully be operational?

[2021-09-23 08:53] quangmaubach opened #1278 "Adding a Concatenate Token Filter"
name | about | title | labels | assignees
-- | -- | -- | -- | --
💭 Proposal | Adding a Concatenate Token Filter | [PROPOSAL] | proposal |

## What kind of business use case are you trying to solve? What are your requirements?
We want to do some analysis on our text, and then combine them into a single token. Currently we use a private plugin to handle that. Moving to Amazon OpenSearch, we cannot b

[2021-09-23 12:47] quangmaubach opened #1280 "Built-in Transliteration and Phonetic support for Indian languages"
name | about | title | labels | assignees
-- | -- | -- | -- | --
💭 Proposal | Transliteration and Phonetic support for Indian languages | [PROPOSAL] | proposal |

## What kind of business use case are you trying to solve? What are your requirements?
While working with Indian languages content, we face challenges to surface contents which transliterated in different way than user expected. For us,

[2021-09-23 12:49] quangmaubach opened #1279 "Built-in support for German words decompounder"
name | about | title | labels | assignees
-- | -- | -- | -- | --
💭 Proposal | Better support for German words decompounder | [PROPOSAL] | proposal |

## What kind of business use case are you trying to solve? What are your requirements?
We would like to have an out-of-the-box solution for German words decompounder, where OpenSearch have some analyzer that we can simply use it, similar to the level

[2021-09-23 15:23] rramachand21 opened #1281 "Make the shutdown hook timeout configurable"
**Is your feature request related to a problem? Please describe.**
https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/bootstrap/Bootstrap.java#L208

Node is terminated after 10 seconds which is hard coded as of today and any outstanding requests will get killed.

**Describe the solution you'd like**
The above value should be made configurable and based o

[2021-09-23 17:12] nknize opened #1283 "[Translog] Add pruning by retention lease to FullClusterRestartIT"
PR #1038 adds the ability to retain translog operations based on retention lease. There is no bwc testing for this which makes the feature vulnerable to untested failures in mixedCluster environments (e.g., rolling upgrades). This issue is captured to add an integration test to [FullClusterRestartIT](https://github.com/opensearch-project/OpenSearch/blob/main/qa/full-cluster-restart/src/test/java/o

[2021-09-23 20:42] #1094 closed

[2021-09-23 20:47] dblock opened #1285 "[BUG] Gradle check is broken"
**Describe the bug**

Gradle check is now failing on https://github.com/opensearch-project/OpenSearch/pull/1275. The name of the archive was changed in https://github.com/opensearch-project/OpenSearch/issues/1094, but gradle check still runs a bunch of checks expecting the old name.

I am not sure how that's possible and why it's checking versions 1.1 or 1.2 when we're building main that is 2.0.

[2021-09-23 20:57] anasalkouz commented on #1232
@stockholmux, here is an example of github project using milestones.
https://github.com/apache/rocketmq/milestones?direction=asc&sort=due_date

[2021-09-23 21:37] xuezhou25 commented on #1285
@dblock Should we add -min to 1.0?

[2021-09-23 22:00] dblock commented on #1285
No, that release (and 1.0.1) has shipped and should not be changed.

[2021-09-23 23:08] anasalkouz opened #1286 "Concurrent Searching"
**Is your feature request related to a problem? Please describe.**
At least since Apache Lucene 6.x, there is a new experimental low-level API which allows to parallelize execution of the search across segments [3]. As of latest Apache Lucene 8.10.1, the API is still marked as experimental (see please [1]). The community feedback on this feature is looking positive so far (see please [2]), there a

[2021-09-23 23:21] anasalkouz opened #1287 "Using gRPC/protobuf"
Replace REST/JSON-based API with gRPC/protobuf to improve serialization/deserialization performance.
Ref: https://grpc.io/docs/what-is-grpc/introduction/

[2021-09-23 23:29] anasalkouz opened #1288 "Virtual Shards"
Virtual shards to make the distribution of segments to threads for concurrent search more even

[2021-09-24 07:24] mitalawachat commented on #1286
Same as https://github.com/opensearch-project/OpenSearch/issues/1145?

[2021-09-24 14:07] AmiStrn commented on #1287
Would this also help with streaming rather than doc by doc or bulk indexing?

[2021-09-24 18:42] nknize opened #1292 "[BUG] Test failure in FsHealthServiceTests.testFailsHealthOnHungIOBeyondHealthyTimeout"
This reproducible failure tripped on PR #1243

[code]

[code]

[2021-09-24 18:42] nknize commented on #1292
/cc @Bukhtawar

[2021-09-24 19:09] rmuir commented on #1280
You can already do the transliteration with the ICU plugin (https://github.com/opensearch-project/OpenSearch/blob/main/plugins/analysis-icu/src/main/java/org/opensearch/index/analysis/IcuTransformTokenFilterFactory.java).

For the "id" parameter with the `icu_transform` token filter, easiest is to just use `Any-Latin` transform.

You can play with the ICU demo online: https://icu4c-demos.unicode.o

[2021-09-24 19:27] rmuir commented on #1280
For any additional phonetic (e.g. soundex) algorithms, I recommend contributing stuff to Apache Commons Codec: https://commons.apache.org/proper/commons-codec/

This is where the `lucene-phonetic` module picks up its phonetic algorithms and exposes them to the analysis chain. It can then be picked up by the opensearch `analysis-phonetic` plugin.

[2021-09-24 19:54] stockholmux commented on #1225
@reta that's awesome. This seems like a big change - I'm wondering if we should use a [follow the proposal process](https://opensearch.org/faq#q1.19) and see if we can get this on the road map.

@CEHENKLE / @elfisher thoughts?

[2021-09-24 20:13] reta commented on #1225
Updated the issue according to the template, thanks a lot @stockholmux!

[2021-09-25 11:27] Bukhtawar commented on #1292
Tried 100 iterations, unable to repro, this seems like a timing issue to me. I would try to re-adjust them a bit though
[code]

[2021-09-27 05:48] shiv0408 opened #1297 "[BUG] Test failure in InstallPluginCommandTests"
**Describe the bug**
Got this test failures on following tests in unrelated PR #1066.
[code]

**To Reproduce**
[code]
[code]

[2021-09-27 08:47] atompie opened #1298 "_plugins/_sql/_explain is not working as described in documentation"
# Description

Endpoint _plugins/_sql/_explain is not working as described in documentation.

## Documentation states:

But this is actually not true.

**To Reproduce**

RUN:

[code]

And you get something like:

[code]

[2021-09-27 08:47] atompie commented on #1298
Is there other way to translate SQL in opensearch?

[2021-09-27 08:59] cracanut1 opened #1299 "Span_field_masking not supported?"
I'm running an Opensearch index on AWS and I need to use a "span_field_masking", unfortunately it doesn't seem to be supported currently?

Example query:
`{
  "size": 50,
  "from": 0,
  "query": {
    "bool": {
      "must": [
        {
          "span_near": {
            "clauses": [
              {
                "span_term": {
                  "title": {
                    "value": "transmi

[2021-09-27 10:01] cityofships opened #1300 "Release tag 1.0.1 missing"
**Describe the bug**
Similar to https://github.com/opensearch-project/OpenSearch/issues/962, looks like another one is missing for 1.0.1.

[2021-09-27 12:52] dblock commented on #1300
This is expected, we didn't release any updates for the -min artifact (this repo) in 1.0.1, it shipped with the 1.0 artifact.

[2021-09-27 12:52] #1300 closed

[2021-09-27 16:41] minalsha opened #1301 "[BUG] upgrade dependency"
**Describe the bug**
Update dependency jackson-databind-2.9.10.6.jar to version com.fasterxml.jackson.core:jackson-databind:2.9.10.8 unless it is only used in testing.

[2021-09-27 17:33] #1285 closed

[2021-09-27 18:28] minalsha commented on #1301
please review this PR:https://github.com/opensearch-project/OpenSearch/pull/1247 if it resolves this issue.

[2021-09-27 20:08] saratvemulapalli commented on #799
@nknize agreed.
As part of the CICD surge, we will now run nightly builds and run integration, bwc, perftests.
I think we should be able to leverage BWC tests via nightly CI.
Once we have nightly CI ready and operational we can stop running BWC tests on PR check.
Let me know what you think..

[2021-09-27 20:20] helix-loop opened #1303 "Add support for ppc64le"
Building OpenSearch on ppc64le fails with the following error:

FAILURE: Build failed with an exception.

* Where:
Script 'xyz/OpenSearch-1.0.0/gradle/runtime-jdk-provision.gradle' line: 33

* What went wrong:
A problem occurred evaluating script.

Java: openjdk-11-jdk

[2021-09-28 04:30] rramachand21 opened #1304 "Shutdown API for shutting down nodes in a safe manner"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-28 09:04] Bukhtawar commented on #1147
With constantly changing data set, queries fired at different times return different results. So if we needed to get consistent results for queries that were fired at different times(even back to back) for a changing data set, we don’t have a mechanism in place. In short Point in Time allows user to maintain a state which can be re-used by different queries in order to achieve consistent results
T

[2021-09-28 12:50] dblock commented on #1301
Closed via https://github.com/opensearch-project/OpenSearch/pull/1247

[2021-09-28 12:50] #1301 closed

[2021-09-28 16:17] #1064 closed

[2021-09-28 18:29] silvestrelosada opened #1306 "Enable DelimitedTermFrequencyTokenFilter in opensearch"
**Is your feature request related to a problem? Please describe.**
Currently we need to customize our score depending on the word (tag) that matches. So we would like to asociate custom TF to each tag. This functionality is available y LUCENE and SOLR, using a filter in analysis chain. I think it will be pretty easy to have it in opensearch and it will be great addition.

Here it is lucene and sol

[2021-09-28 18:43] CEHENKLE commented on #1303
@bbarani flagging for infra....

[2021-09-28 18:49] CEHENKLE commented on #1292
resolving -- please reopen if you see it again, @nknize

[2021-09-28 18:49] #1292 closed

[2021-09-28 18:49] minalsha commented on #1292
@nknize closing this issue for now. Please reopen the issue if you are able to repro again. Thanks

[2021-09-28 18:51] reta commented on #981
Thanks a lot @dblock for merging the change, may I ask you please to add 2.0 label and close this one? Thank you!

[2021-09-28 18:53] nknize opened #1307 "[BUG] Test failure in FsHealthServiceTests.testFailsHealthOnHungIOBeyondHealthyTimeout"
This reproducible failure tripped on PR opensearch-project/OpenSearch#1243

[code]

[code]

[2021-09-28 18:53] #1307 closed

[2021-09-28 19:06] dblock commented on #1303
This error comes from https://github.com/opensearch-project/OpenSearch/blob/0e9f74e35f1255cb9ec45be3d8960aad195a9f6e/buildSrc/src/main/java/org/opensearch/gradle/Architecture.java#L40 where we've never seen a ppc64le (the little-endian version of ppc64).

@helix-loop Does returning X64 in that code result in a successful build/test/run?

[2021-09-28 20:57] dblock commented on #981
If we want this in 1.2 you can backport it to 1.x, too.

[2021-09-28 20:57] #981 closed

[2021-09-28 21:29] reta commented on #981
:+1:, that would be great, I would need lower the version requirement to 1.2.0 and backport this small change back to `main`, if you have no objections, will do that tomorrow :-) thank you!

[2021-09-28 21:54] dblock commented on #981
No objections from me. You can generally backport small features as long as no backwards compatibility is broken.

[2021-09-28 22:31] oridool opened #1308 "elasticsearch-rest-client is using an old non-maintained version of httpasyncclient-4.1.4.jar"
When I use latest rest client, it brings with it a dependency of an old async http client (httpasyncclient-4.1.4.jar).
This client is no longer maintained. See its github page: https://github.com/apache/httpasyncclient

Not only this is a security risk, I also believe that using this old client causes multiple issues, and also related to :
https://github.com/spring-projects/spring-data-elasticsear

[2021-09-28 22:44] reta commented on #981
Thanks @dblock! The PR is out, nay I ask you please, if the official documentation has to be manually updated (since this is user-facing API) or it is automatically generated? I had troubles to find the details, thank you!

[2021-09-29 11:58] muralikpbhat commented on #1123
Thanks for creating this. I would like to start with initial requirements/benefits of segment level replication.

OpenSearch today uses document level replication which synchronously writes each document to the translog on the replica node. While this is needed for durability and high write availability, it reduces the throughput of the cluster to half and also is expensive (cost and performance)

[2021-09-29 14:36] itiyamas commented on #1123
"Avoid synchronous node to node communication in the ingestion critical path"

For durability and high availability, the system has to write data to multiple nodes- else if the node goes down, the data is lost.
Even the approaches where the log is written to durable store outside of Opensearch node (whether it is written before the request reaches the node or later)- the durable store will interna

[2021-09-29 15:58] elfisher commented on #1225
This proposal looks reasonable to me! @CEHENKLE any concerns?

[2021-09-29 16:00] CEHENKLE commented on #1225
I'm really excited about this :)  @reta let me know how we can help.

[2021-09-29 16:36] nknize commented on #1123
There is a [companion issue](https://github.com/opensearch-project/OpenSearch/issues/1277) to discuss a "pluggable durability framework" so we could refactor the translog implementation as a module. This would enable using alternative "journal / writeahead logs" based on existing solutions such as kafka, etc. and not saddle OpenSearch to the translog implementation. Here are some additional goals

[2021-09-29 16:42] muralikpbhat commented on #1277
Isn't object store (like S3) also an option? Queues can be really expensive at scale, especially when these messages are throw away unless the primary fails and then we need it for recovery. A cheaper storage for logging is better choice. However making it work for every single document write is challenging and we might have to suggest a bigger bulk size or grouping of documents before translog is

[2021-09-29 16:59] nknize commented on #1225
I think OkHttp support is reasonable. It should be able to be implemented as a new transport module (`transport-okhttp`) alternative to `transport-netty4`. Do you want to open a `discuss` issue @reta?

No objection here; in fact quite the opposite. Looking forward to reviewing the change! Thx @reta

[2021-09-29 17:10] reta commented on #1225
@CEHENKLE @elfisher @nknize  thank you very much for the feedback, really appreciate it! The draft pull request is open already https://github.com/opensearch-project/OpenSearch/pull/1302, at the moment we have been waiting on this Azure SDK change https://github.com/Azure/azure-sdk-for-java/pull/24374 to finalize the implementation (the only issue at the moment is `Jackson Databind` does not play

[2021-09-29 17:18] reta opened #1312 "[DISCUSS] Plugins: [repository-azure] support OkHttp client"
**Is your feature request related to a problem? Please describe.**
in scope of the https://github.com/opensearch-project/OpenSearch/issues/1225, the `repository-azure` is switching to Azure v12 SDK, using `Netty` as underlying HTTP transport client. However, Azure v12 SDK also supports `OkHttp` client and it might be beneficial to provide the way to using this one instead.

**Describe the solution

[2021-09-29 18:23] anasalkouz commented on #1286
Issue #1145 has no details, so I am not sure if there are duplicate. But If this is the case, feel free to close #1145, since this issue has more details.

[2021-09-29 19:27] peterzhuamazon opened #1313 "[Enhancement] Isolate build dependencies and stop retrieving dependencies during compile time"
**Is your feature request related to a problem? Please describe.**
When we build OpenSearch in Jenkins there is a random failure due to a failed jar download due to internet hiccup.

<details><summary>analysis-icu failure</summary>
<p>

[code]
</p>
</details>

The jar is available but internet hiccup cause the failure.
Also, it seems like the jar is retrieved during compile time, which should not

[2021-09-29 21:17] dblock commented on #981
I am not sure re: documentation, if it's javadoc then it's automatic, otherwise it goes manually to https://github.com/opensearch-project/documentation-website

[2021-09-30 05:57] muralikpbhat commented on #1123
Major challenge with Segment level replication is how do we handle that durability that translog brings today. If we still continue to do the current translog implementation, it doesn't solve all the requirements we discussed above.

Current model: ```Client -> Coordinator -> Primary -> Replica (sync)```
- translog is written in sync fashion
- segments are written in async fashion

Below are the 3

[2021-09-30 10:46] muralikpbhat commented on #1123
Irrespective of what options we decide, we will have the following work tracks in common(will add additional tracks based on what we decide):

1. Segment replication - informing the replica nodes on changes in primary and replica nodes pulling the segments
2. Extension point for configuring the source of Segment(primary, any peer vs remote storage)
3. Peer recovery - changes to ensure it doesn't r

[2021-09-30 13:37] kanumalivad commented on #1308
Kindly assign to me, This will be my first open source contribution

[2021-09-30 14:55] Bukhtawar opened #1316 "Shard balancing Improvements to avoid hotspots"
**Is your feature request related to a problem? Please describe.**
There are few gaps with the way current shard balancing is done
1. The shard balancing in OpenSearch is based on shard count-based balancing, it doesn't factor in shard heat, so it's possible some nodes see more resource consumption than others
2. Shard size is not factored in, so its possible to see bigger shards on one node and t

[2021-09-30 15:03] muralikpbhat commented on #1277
We should also consider whether we want to just replace the current translog with other solutions from market or rethink about the whole durability story. It might be useful to have a persistent stream in-front so that clients can just keep streaming the data. We can internally consume from the queue and index at the possible rate. This would also avoid the requirement for the current translog sin

[2021-09-30 16:02] dblock opened #1317 "Release version 1.2"
Coming from [opensearch-build#567](https://github.com/opensearch-project/opensearch-build/issues/567), release version 1.2. Please follow the following checklist.

### Preparation

- [x] Assign this issue to a release owner.
- [x] Finalize scope and feature set and update [the Public Roadmap](https://github.com/orgs/opensearch-project/projects/1).
- [x] Create, update, triage and label all feature

[2021-09-30 17:14] peternied opened #1318 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-09-30 17:38] Bukhtawar opened #1319 "Pluggable Translog"
**Background**

In OpenSearch translog is used to preserve changes since the last Lucene commit since Lucene commits are expensive operations and in the event of a process crash all the changes since the last commit point needs to locally recovered. Translog preserves uncommitted operations durably on disk and replays those operations whenever the node recovers.

While translog is one mechanism to

[2021-09-30 17:39] tlfeng opened #1320 "Upload code coverage report through CI"
**Is your feature request related to a problem? Please describe.**
A part of issue: #850
There hasn't got a place to see the code coverage of this repository.

**Describe the solution you'd like**
To achieve the goal of reporting test coverage, I plan to upload the code coverage report to [Codecov](https://about.codecov.io/) through CI.
We have set a [plan](https://github.com/opensearch-project/op

[2021-09-30 17:56] anasalkouz commented on #1117
Duplicate of https://github.com/opensearch-project/OpenSearch/issues/1319

[2021-09-30 17:56] #1117 closed

[2021-09-30 19:17] helix-loop commented on #1303
@dblock It does. Run is successful, check is throwing 2 errors, but I am able to curl localhost:9200 with the following change:

[code]

[2021-09-30 21:06] dblock commented on #1303
@helix-loop What are the test failures?

I think you can PR this change along with some basic test(s).

[2021-09-30 21:15] tlfeng opened #1323 "Add status badge for showing code coverage in README"
**Is your feature request related to a problem? Please describe.**
A part of issue: #850
Depends on issue: #1320
We need a quick insight for code coverage of the repository, as a result of code coverage reporting.

**Describe the solution you'd like**
Add a [Codecov status badge](https://about.codecov.io/product/feature/badges/) to reflect the percentage of code coverage of the repository in [READ

[2021-09-30 21:46] tlfeng opened #1324 "Add status check of code coverage for pull requests"
**Is your feature request related to a problem? Please describe.**
A part of issue: #850
Depends on issue: #1320
A mechanism should be imported to ensure the code coverage of the repository keeps an acceptable level, and even keep improving.

**Describe the solution you'd like**
Add the [Codecov status check](https://about.codecov.io/product/feature/status-checks/) in Pull Requests to indicate the

[2021-09-30 21:51] tlfeng commented on #850
Created 3 issues to complete the code coverage reporting:
- [ ] #1320
- [ ] #1323
- [ ] #1324

[2021-09-30 23:06] tlfeng commented on #687
Lucene 8.10 released. 🎉
According to the release notes (https://lucene.apache.org/core/corenews.html#apache-lucenetm-8100-available), an optimization resolved the issue.

[2021-09-30 23:59] #1272 closed

[2021-09-30 23:59] dblock commented on #1272
Thanks for fixing this @reta!

[2021-10-01 14:42] vivainio opened #1325 "[BUG] Suggested docker-compose.yml doesn't work with Docker Desktop for Windows, WSL2 mode"
**Describe the bug**

In instructions stored at:

https://opensearch.org/downloads.html

It suggests to do this:

[code]

However, this setting  is not available in WSL2 mode.

When you do "docker-compose up", you get this error in the logs:

[code]

There is no "easy" way to do this in Docker Desktop, in WSL2 mode.

**To Reproduce**

0. Enable Docker Desktop WSL2 mode, as described in: https://do

[2021-10-01 14:44] vivainio commented on #1325
The error is in no way particular to OpenSearch, it has been in ElasticSearch for a long time (see e.g. https://stackoverflow.com/questions/51445846/elasticsearch-max-virtual-memory-areas-vm-max-map-count-65530-is-too-low-inc). But maybe OpenSearch could finally fix it

[2021-10-01 15:36] dblock commented on #1325
@vivainio Want to suggest the preferred fix? Make a PR?

[2021-10-01 16:15] vivainio commented on #1325
@dblock I can't provide a preferred fix right away.

The "easy" fix would be to remove opensearch-node2 from docker-compose completely, and switch to discovery.type=single-node, but would that be too simple of a setup for demonstrating OpenSearch? Anyway, it would make it work on Windows after that

[2021-10-01 16:24] vivainio commented on #1325
Here's the contents of working docker-compose.yml:

[code]

[2021-10-01 17:40] minalsha commented on #1276
Benchmarking needs to be done against jdk8, jdk11, jdk16 and jdk17

[2021-10-01 17:59] dblock commented on #1325
Maybe someone else has an opinion about the best way to fix this? @peterzhuamazon?

Also, does this belong in opensearch-build repo?

[2021-10-01 20:09] meghasaik commented on #845
Getting a "Bind for 0.0.0.0:9200 failed: port is already allocated" when trying to reproduce this bug. These are the steps I did:
- Ran the user’s ELK ansible script through the steps mentioned by him in the elasticsearch-7.10.2 folder. Except for the jvm.options file, all the other .yml files were not provided. Hence,  provided these files: logstash.yml-7.10.2, heartbeat.yml-7.10.2 and a kibana.y

[2021-10-01 20:11] peterzhuamazon commented on #1325
Just set this in your host machine I think WSL would work:
`sudo sysctl -w vm.max_map_count=262144`

[2021-10-01 20:11] peterzhuamazon commented on #1325
This is something that is not a bug but a requirement since the days of ES on your host machine.

[2021-10-01 20:14] dblock commented on #845
- Is this the container's port 9200? What is port 9200 used for?
- Or does the host need to have that port open as well (are you running an instance of OpenSearch already on it?)?

[2021-10-01 20:16] dblock commented on #1325
Doesn't mean it's not a bug or it can't be improved! Doesn't feel like users should be doing extra work to get example setups going - they should "just work".

[2021-10-01 20:24] vivainio commented on #1325
@peterzhuamazon this is Windows host machine, not Linux. There are instructions for doing that on wsl that may or may not work. I essentially switched to trying the OpenSearch container image instead of ES container image because the WSL instructions at https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_set_vm_max_map_count_to_at_least_262144 stopped working

[2021-10-01 20:28] meghasaik commented on #845
Yes, this is the container's port. In the Elk ansible script, the port :9200 is for ElasticSearch container for pulling its image. The user also needs it, as the port 9200 is also being used for OpenSearch installation in the OpenSearch ansible script.

[2021-10-01 23:09] peterzhuamazon commented on #1325
Hi @vivainio I am not very familiar with WSL.
What is the outcome when you set this the LINUX way?
I thought WSL is hyperv running a Linux VM.

Please correct me if that is not the case.
Curious to see what we can do to get it work on Windows.

Thanks.

[2021-10-02 10:31] AmiStrn commented on #1325
Would it be better if the failure would result in a single node cluster with an exception on adding the second node?
The error message could suggest a fix in terms of required resources etc.
Maybe a "loose" node number config stating that there should be x to y nodes and the result is a best effort between the min (x) and max (y)?

[2021-10-02 16:53] vivainio commented on #1325
@AmiStrn The problem is missing environment variable discovery.type=single-node, not necessarily the fact that there are two nodes.

@peterzhuamazon Docker Desktop WSL2 support installs a separate Linux distribution called "docker-desktop", that is used as the host. You would have to execute the command every time you boot your computer.

The fastest fix is probably to provide the docker-compose.y

[2021-10-02 20:53] dblock commented on #1325
So this page https://opensearch.org/versions/opensearch-1-0-1.html would recommend a different .yml for Windows vs. not windows? Sounds like a good idea, wonder what @stockholmux has to say about it ...

Either way that belongs in https://github.com/opensearch-project/project-website which has the current .yml checked into samples, let's move this issue there?

[2021-10-03 13:07] Da-1kun commented on #869
May I work on it?

[2021-10-03 17:55] jklc17 opened #1327 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help expla

[2021-10-04 01:40] cosmo0920 commented on #1166
Hi @dblock,
Sorry for posting on the graveyard.

I'm a one of the fluent-plugin-elasticsearch plugin maintainer.
I have a question for this issue.

I know elasticsearch-ruby client added an incompatible change for OpenSearch.
But there is no compatible forked Ruby client OpenSearch.
fluent-plugin-elasticsearch heavily depends on its ruby client.

It would be nice to publish forked or the brand new

[2021-10-04 09:34] dhina1990 opened #1328 "[BUG] [ Deprecation ] overriding main response version number will be removed in a future version"
**Describe the bug**
We use the override main response version number parameter so that OS 1.0.0 works well with Logstash output plugin and the curator.

We could observe the deprecation logs for using it. We would like to understand in which version of Opensearch, this is planned to release. Is there any improvement/fix planned in the logstash and curator projects ?

[2021-10-04 13:02] dblock commented on #869
No need to ask for permission, make PRs.

[2021-10-04 13:02] #1327 closed

[2021-10-04 13:56] tushar-kharbanda72 opened #1329 "[RFC] Backpressure in Search Path"
# Introduction

BackPressure in Search Path aims to enhance the overall resiliency of OpenSearch. The current protection mechanisms on OS nodes such as ThreadPoolQueueSize and CircuitBreakers are not fully efficient to protect the cluster against traffic surge, partial failures, slow node or a single rogue (resource-guzzling) query. Search BackPressure aims to introduce constructs to have fair rej

[2021-10-04 17:30] peterzhuamazon commented on #1325
Hi @dblock we also maintain a copy of dockercomposefile here: https://github.com/opensearch-project/opensearch-build/tree/main/release/docker/dockercomposefiles

If @stockholmux wants to make changes to the website we also need to add a copy for windows on build repo.

Thanks.

[2021-10-04 17:44] saratvemulapalli opened #1330 "Issue to track RFC on Next steps for plugins"
**Is your feature request related to a problem? Please describe.**
Plugin architecture in OpenSearch did allow the community to create various plugins for solving specific problems.
Looking forward, we are seeing a bunch of bottlenecks with this architecture.

I would like to have a RFC for our path forward with plugin architecture.

[2021-10-04 17:44] saratvemulapalli opened #1331 "https://github.com/opensearch-project/OpenSearch/issues/1330"

[2021-10-04 17:45] #1331 closed

[2021-10-04 18:36] saratvemulapalli commented on #581
I can confirm, these artifacts are now published.
https://aws.oss.sonatype.org/content/repositories/snapshots/org/opensearch/

Closing.

[2021-10-04 18:36] #581 closed

[2021-10-04 23:19] anasalkouz commented on #1165
Hi Bukhtawar, are you actively working on this issue? I see a pull request #1167 already submitted. anything else is pending before we can close the issue?

[2021-10-04 23:22] anasalkouz commented on #1147
Hi @rajkthakur, are you actively working on this issue? if yes, please could you assign it to yourself and add a comment?

[2021-10-04 23:23] anasalkouz commented on #1211
Hi @Bukhtawar, are you actively working on this? if yes, please assign it yourself.

[2021-10-04 23:25] anasalkouz commented on #1278
Did you try to upgrade the plugin to OpenSearch?
[upgrading-plugins-to-opensearch-and-opensearch-dashboards](https://github.com/opensearch-project/opensearch-plugins/blob/main/UPGRADING.md#upgrading-plugins-to-opensearch-and-opensearch-dashboards)

[2021-10-04 23:27] anasalkouz commented on #520
Hi @Bukhtawar, are you actively working on this?

[2021-10-04 23:27] meghasaik commented on #845
After running the ansible-playbook playbook.yml cmd at the root of the opensearch-1.0.0-rc1 folder which downloads the opensearch and the opensearch-dashboard docker-images. For running the OpenSearch, the cmd: `docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:1.0.0-rc1` is run where the OpensearchDistro starts rather than starting OpenSearch. Also

[2021-10-05 01:23] quangmaubach commented on #1278
@anasalkouz Sorry for not being clear, we are trying to move to Amazon OpenSearch, i.e. the managed service on AWS. Up until now, we have been using self-hosted clusters, and now we are exploring the possibility to use managed service instead. That is why we need this to be implemented in OpenSearch.

[2021-10-05 01:24] quangmaubach commented on #1280
@rmuir Thank you very much for your pointers. The `icu_transform` looks promising, we are testing it out.

We will open an issue on Apache Commons Codec for the phonetic (soundex) part of this.

[2021-10-05 05:33] eirsep commented on #1147
@anasalkouz I am actively working on this issue.

[2021-10-05 18:01] meghasaik commented on #845
Running the OpenSearch with a custom opensearch.yml through the command:  `docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" -v /home/ubuntu/sample_data/custom-opensearch.yml:/usr/share/opensearch/config/opensearch.yml opensearchproject/opensearch:1.0.0-rc1` gives a Startup Exception error: failed to load plugin class
[code]
<img width="1405" alt="Screen Shot 2021-10-05 at 10 55

[2021-10-05 18:37] dblock commented on #1328
The answer to this belongs in an upgrade FAQ in https://opensearch.org/faq.

@stockholmux Can you please move this to project-website?

[2021-10-05 18:46] saratvemulapalli commented on #670
Pulling this to sprint backlog.
cc: @minalsha @anasalkouz

[2021-10-06 00:59] meghasaik commented on #845
Running the Opensearch ansible script installs the docker images and runs the Opensearch-1.0.0-rc1 version. This is verified through the `curl -XGET https://localhost:9200 -u 'admin:admin' --insecure` cmd.  By checking the logs through docker ID, the error specified in the above comment shows up: `[2021-10-04T22:50:32,620][ERROR][o.o.i.i.ManagedIndexCoordinator] [8710ec6b5172] Failed to clear Mana

[2021-10-06 09:17] seriouz opened #1334 "Docker Image from Main branch"
Have you considered to provide a Docker image that's nightly builded from the Main branch? You could name it `opensearch:unstable` or something like that.
We are using massively Docker in our company and to get a preview of what's going into the next version and to test the features would be great.

[2021-10-06 13:07] reta commented on #1329
Thanks for bringing this up, @tushar-kharbanda72 , there are not doubts that applying back pressure on the search flows would lead to more stable clusters. There are quite a few successful implementations with respect to the proposal, fe Akka's Adaptive Load Balancing (https://doc.akka.io/docs/akka/current/cluster-metrics.html#adaptive-load-balancing), which to some extent addresses the same probl

[2021-10-06 20:18] #845 closed

[2021-10-06 23:25] saratvemulapalli commented on #1334
Thanks @seriouz for reaching out.
Will move this to our infra repo which builds our docker images.

[2021-10-07 01:40] malpani commented on #1009
Finally got some time to explore this more and here are some thoughts
1. The utility of exposing top N via a new `search_stats` section into /_node/stats API to return N most expensive queries is limited and may not help answer questions like "_What queries between October 4 and 5 were most expensive in terms of their memory footprint?_" as N most expensive queries might have run 60 days ago.
2. I

[2021-10-07 15:42] naveentatikonda opened #1339 "Update urls of api endpoints"
The urls in the api endpoints in rest-api-spec are still pointing to elasticsearch which needs to be updated.
example - https://github.com/opensearch-project/OpenSearch/blob/main/rest-api-spec/src/main/resources/rest-api-spec/api/cat.health.json

[2021-10-07 16:11] getsaurabh02 opened #1340 "[BUG] opensearch-ci-bot continues to execute CI Tests repeatedly even after the PR is marked closed"
**Describe the bug**
CI Tests continue to run repeatedly by opensearch-ci-bot, without manual intervention, even after the PR has been marked closed.

PR in consideration : https://github.com/opensearch-project/OpenSearch/pull/1310
PR Closed : https://github.com/opensearch-project/OpenSearch/pull/1310#issuecomment-937172632
More than 20 CI tests runs post closure and still going on : https://githu

[2021-10-07 16:16] stockholmux commented on #1147
Can we mark this as a proposal?

[2021-10-07 17:21] tlfeng commented on #1340
I guess the PR #1338 got the same symptom. 🤔

[2021-10-07 18:26] mrkamel commented on #1018
i'd like to underline the need for an offical feature complete and performant alternative to the flattened datatype and it also was requested a lot on several sites already: https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/523, https://discuss.opendistrocommunity.dev/t/flattened-type-with-opendistro/5014/4, https://forums.aws.amazon.com/thread.jspa?threadID=32970, ...

[2021-10-07 21:11] #1005 closed

[2021-10-07 22:17] owaiskazi19 opened #1344 "[BUG] javaRestTest Failure on `gradle check`"
**Describe the bug**
Got this error while running `gradlew check` on local for `:modules:reindex:javaRestTest`.

[opensearch.stdout.log](https://github.com/opensearch-project/OpenSearch/files/7307217/opensearch.stdout.log)

**To Reproduce**
Steps to reproduce the behavior:
`REPRODUCE WITH: ./gradlew ':modules:reindex:javaRestTest' --tests "org.opensearch.index.reindex.remote.ReindexFromOldRemoteIT

[2021-10-08 03:43] itiyamas opened #1345 "Enable merge on refresh and merge on commit on Opensearch"
Lucene added [support](https://issues.apache.org/jira/browse/LUCENE-8962) for merge on refresh a while back.

Lucene creates one segment per concurrent write to Lucene index. As a result of this, in highly concurrent environments(more write threads), Lucene generates lot of small segments. This increases the search cost. Since the immediately created segments are merged, they are potentially hot i

[2021-10-08 09:32] psychbot opened #1346 "Adding Support for Handler Ordering in Channel Pipeline"
### Problem Statement

Today we don’t have a mechanism to define in what order the channel handlers can be added into the channel pipeline.
This is a problem in case we have dependent handler and we want certain handlers to be executed only if the previous handler’s execution was successful.
As of today in order to add handlers to the pipeline we can create a new plugin which will override `initCh

[2021-10-08 10:39] seriouz opened #1347 "[BUG] Deleting Index does not fully work"
**Describe the bug**
When i delete an index via the api and create a new index, the mappings and settings from the removed one are restored.
This is bad because the old index has 3300 fields and the new one would have 150 fields.
Even when i create the index with the following body the fields from the deleted index are somehow restored.

`{
   "mappings":{
       "dynamic_templates": [],
       "p

[2021-10-08 12:24] #1347 closed, assigned to nobody

[2021-10-08 17:19] peternied commented on #1340
@getsaurabh02 Looking into this

[2021-10-08 17:36] jainankitk opened #1348 "Cluster level default value for index total shards per node"
**Is your feature request related to a problem? Please describe.**
We need to set value of INDEX_TOTAL_SHARDS_PER_NODE_SETTING for every index, even if that is same for most indices

**Describe the solution you'd like**
We can set default value at cluster level that can be overridden per index. We can add this new setting to [ShardLimitAllocationDecider.java](https://github.com/opensearch-project/

[2021-10-08 17:45] jainankitk opened #1349 "Relocate primary shards first while excluding set of nodes"
**Is your feature request related to a problem? Please describe.**
When some node or set of nodes is excluded, the shards are moved away in random order. It might relocate all copies of same shard first over any copy of some shard that reduces availability.

**Describe the solution you'd like**
Whenever some node or set of nodes is excluded, we move away primary or atleast one copy of every shard

[2021-10-08 19:25] chenqi0805 opened #1350 "[BUG] Opensearch:1.0.0 docker container run with flaky failure in github CI"
**Describe the bug**
When I run the opensearch:1.0.0 docker container with the [gradle docker plugin](https://bmuschko.github.io/gradle-docker-plugin/api/overview-summary.html) on github CI, from time to time there is the following failure:

[code]

Not sure if it persists in 1.1.0.

**To Reproduce**
Here is the minimal build.gradle
[code]

**Expected behavior**
A clear and concise description of

[2021-10-08 19:32] reta opened #1351 "Modernize and consolidate JDKs usage across all stages of the build"
**Is your feature request related to a problem? Please describe.**
The `OpenSearch` uses at least 4 different JDK versions at the different stages of build process: 8, 11, 14 and 15. While 8/11/14 have to be preinstalled by user / developer, the JDK-15 distribution [1] is fetched from the AdoptOpenJDK project, which is not supported anymore and has moved to Eclipse Foundation under Adoptium projec

[2021-10-08 19:32] reta commented on #1351
@dblock @nknize @tlfeng curious if it makes sense to you guys, thank you

[2021-10-08 20:39] shdubsh opened #1352 "OpenSearch Curator"
With the backwards compatibility flag (#847) available in OpenSearch 1.0, [Curator 5.8.4](https://github.com/elastic/curator/commit/191de8cd0c7c719de6d5fca1f9fbbc8adfb5c006#diff-4d7c51b1efe9043e44439a949dfd92e5827321b34082903477fd04876edb7552R2) is expected to be the [last functioning Curator release](https://github.com/elastic/elasticsearch-py/commit/12c869df56e644863f05c74faa19151416b22aa2).  Wh

[2021-10-08 21:00] chenqi0805 commented on #1350
This also happened on 1.0.1, but not sure yet on 1.1.0

[2021-10-10 18:18] #114 closed

[2021-10-11 16:26] jcgraybill opened #4937 "[BUG] 'bulk' requests produce warning about accessing system indices"
**What is the bug?**
When using the 'bulk' api in the opensearch-py library, I get a warning that the request accesses system indices.

**How can one reproduce the bug?**

[code]

[code]

**What is the expected behavior?**
No warning :)

**What is your host/environment?**
 - OS: AL2 on EC2 x86_64
 - Version: OpenSearch 1.1.0, opensearch-py 1.0.0, python 3.7.10

[2021-10-11 16:53] dblock opened #1355 "Automate gathering build.gradle files for Dependabot configuration"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/OpenSearch/pull/1353#issuecomment-940181445, automate gathering gradle files for Dependabot configuration and opening a PR when those change.

**Describe the solution you'd like**

A GHA workflow that generates https://github.com/opensearch-project/OpenSearch/blob/main/.github/depe

[2021-10-11 16:55] tlfeng commented on #1266
@stockholmux Could you verify if the above PR resolved the issue? Thank you. 😁
Then we could close the issue.

[2021-10-11 23:26] flavienbwk opened #1356 "[BUG] Where is the Security tab ?"
**Describe the bug**

Previously in OpenDistro, we had the `Security` tab in the sidebar. Where is it ? Does it only appear when configuring specific files for roles ?

**To Reproduce**

[code]

Go to https://localhost:5601

**Expected behavior**

Have the Security tab to easily manage permissions.

**Plugins**

opensearch-alerting
opensearch-anomaly-detection
opensearch-asynchronous-search
opense

[2021-10-12 21:59] #1340 closed

[2021-10-13 15:48] reta opened #1361 "[BUG] Fix org.opensearch.index.ShardIndexingPressureConcurrentExecutionTests.testReplicaThreadedThroughputDegradationAndRejection"
**Describe the bug**
The test is flaky and often fails, see please https://github.com/opensearch-project/OpenSearch/pull/1358

**To Reproduce**
[code]

**Expected behavior**
A test should pass

**Plugins**
N/A

**Screenshots**
N/A

**Host/Environment (please complete the following information):**

Linux/Ubuntu

OpenSearch Build Hamster says Hello!
  Gradle Version        : 6.6.1
  OS Info

[2021-10-13 20:46] owaiskazi19 opened #1362 "Remove CheckStyle code formatting plugin"
**Is your feature request related to a problem? Please describe.**
Currently the project has two formatting tools Spotless and CheckStyle. Spotless itself can format the code and check the standard java code using `spotlessApply` and `spotlessJavaCheck` respectively. Both the plugins have different configuration for formatting which restrict us to run Spotless on all the subprojects. Removing Chec

[2021-10-14 13:21] rubfergor opened #1365 "Add an arbitrary precision data type, and allows aggregations to have arbitrary precision"
**Is your feature request related to a problem? Please describe.**
As a fintech, we need access to a datatype that let us store numbers of arbitrary precision so we can track them. Also, we need a way to perform aggs without the numbers being casted into doubles, to avoid floating points errors.

**Describe the solution you'd like**
The ideal solution would be to have a datatype to allow arbitrary

[2021-10-14 14:48] surajbisht1809 opened #1366 "Add Alert destination/action for adding log, SNMP trap or entry into specific index"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Generic alert action are required with watcher feature. Logging, SNMP trap or adding entry into a specific index. Desitnation like email, slack webhook need some pre-requisite and additional integration which are not straight-forward to qui

[2021-10-14 15:14] CEHENKLE commented on #1304
Hello @rramachand21!  Can you please fill this out with more information about the enhancement you want to make?   We need more information to understand the problem and the enhancement.

Thank you!

[2021-10-15 00:43] tlfeng commented on #1366
We can help you transfer the issue to Alerting plugin's repository. https://github.com/opensearch-project/alerting

[2021-10-15 05:32] Lawryy opened #1371 "Index age tracking since rollover"
Index state management using min_index_age doesn't guarantee a definite amount of retention time when using size-based index rollovers.

E.g. Data retention has to be 30d or more:

Index rollover happens once per week, when shard size hits 30GB. Then it moves to delete phase with min_index_age set to 30d. Index gets deleted after 30 days its creation, but since logs were still going in a week afte

[2021-10-15 09:20] andresbravog commented on #996
This is still happening in tarball `1.1.0` release.

[2021-10-15 22:05] owaiskazi19 commented on #969
Hi @frotsch! Not sure but did you try doing `File->Invalid Cache/Restart` in Intellij. It worked for me

[2021-10-17 12:32] andresbravog commented on #996
Thanks, @peterzhuamazon that fixed the error.

[2021-10-18 10:07] balar06 opened #1377 "How to build OpenSearch released version package without snapshot from OpenSearch source code?"
I have tried to build OpenSearch release version of 1.0.0 from OpenSearch source code.

Downloaded the code from GIT and ran "./gradlew assemble -Dsandbox.enabled=false" command.
Build is successful,
but the generated build package is in snapshot version.

How to build OpenSearch released version without snapshot from OpenSearch source code?

[2021-10-18 11:34] #1377 closed

[2021-10-18 17:27] tlfeng opened #1378 "Collect all the exclusionary terms in the repository and list their locations"
Related to #472

[below items TBD]
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2021-10-18 19:55] dblock opened #1379 "[BUG] Windows build broken"
**Describe the bug**

Trying to build on Windows fails in multiple ways.

<strike>
1. `Unable to allocate an initial java heap of ...`

**Workaround**: `export _JAVA_OPTIONS: -Xmx4096M`

Install 64-bit Java from https://adoptium.net/releases.html?variant=openjdk11.

2. `Could not determine the dependencies of task ':qa:full-cluster-restart:v1.2.0#upgradedClusterTest'.`

[code]

and related tests

[2021-10-18 21:29] dblock commented on #1377
I am not sure where this comes from. Maybe do a bit of digging and open an issue if you can't figure it out?

[2021-10-19 11:33] eirsep commented on #1147
I have done a small POC to check feasibility of the proposed APIs

We will not be able to provide a List All Points In Time APIs, as a point in time is not tied to any coordinator node.
Rather the Point In Time ID is simply a Base 64 encoded hash of list of reader context to node mappings and a UUID.

[2021-10-19 11:36] eirsep commented on #1147
We will provide new information in the Nodes stats api -
a nested object in the `search` section mentioning the number of currently active Point In Time contexts, total number of Point In Time contexts.

This will help keep track of point in time related statistics.

[2021-10-19 11:37] eirsep commented on #1147
We will provide settings to:
1. restrict the max open point in time contexts on a node
2. restrict the maximum keep alive allowed for point in times.

[2021-10-19 12:59] rootcfg commented on #1067
Sorry for my English, but is it true that OpenSearch does not contain any elasticsearch-oss.rpm packages? In will contain it  own package with its own name?

[2021-10-19 15:03] Semenchuk1997 opened #1385 "[BUG] Path prefix is not supported for remote reindex"
I'm trying to reindex from the remote host using /_reindex API.
![image](https://user-images.githubusercontent.com/28215686/137937377-a6150fa9-babc-456c-ae16-de3c29ff27b6.png)

The host URL is of the form `[scheme]://[host]:[port](/pathPrefix)`. However, the reindex request fails with `Path prefix is not supported for remote reindex` reason.

Seems like the issue was resolved in Elasticsearch 7.0.

[2021-10-19 16:22] tmoody1 opened #1747 "[BUG][opensearch] java heap size always 1GB"
**Describe the bug**
The java opts flag doesn't seem to change the heap size in elasticsearch. The only way we've found to change this is to overwrite the config file manually. Not sure if this is by design or not, if it deliberately set to 1GB please close this.
**To Reproduce**
Steps to reproduce the behavior:

1. set esJavaOpts to 2GB
esJavaOpts: "-Xms2048m -Xmx2048m"
2. Check the heapsize on t

[2021-10-19 17:21] #1378 closed, assigned to nobody

[2021-10-19 18:20] CEHENKLE commented on #1304
Hello @rramachand21 Could you add more details to this issue?  If you aren't able to provide more details **by 10/22**, I will close the issue - but feel free to reopen it later when you've got more information.

Thanks,
/C

[2021-10-19 18:29] CEHENKLE commented on #1120
Hello @anasalkouz ! Can you please fill this out with more information about the enhancement you want to make? We need more information to understand the problem and the enhancement.

Thank you!

[2021-10-19 18:30] CEHENKLE commented on #1122
Hello  @anasalkouz!  Can you please fill this out with more information about the enhancement you want to make? We need more information to understand the problem and the enhancement.
Thank you!

[2021-10-19 18:30] CEHENKLE commented on #1126
Hello @sachinpkale!  Can you please fill this out with more information about the enhancement you want to make? We need more information to understand the problem and the enhancement.
Thank you!

[2021-10-19 18:31] CEHENKLE commented on #1128
Hello  @sachinpkale ! Can you please fill this out with more information about the enhancement you want to make? We need more information to understand the problem and the enhancement.
Thank you!

[2021-10-19 19:10] reta opened #1388 "[BUG] Fix org.opensearch.repositories.azure.AzureBlobContainerRetriesTests timeout"
**Describe the bug**
The org.opensearch.repositories.azure.AzureBlobContainerRetriesTests may sometimes fail due to timeout, first seen i https://github.com/opensearch-project/OpenSearch/pull/1381#issuecomment-946341004

**To Reproduce**
Steps to reproduce the behavior: `./gradlew ':plugins:repository-azure:test' --tests "org.opensearch.repositories.azure.AzureBlobContainerRetriesTests.testWriteBl

[2021-10-19 20:07] reta opened #1389 "[BUG] Fix org.opensearch.action.admin.cluster.node.stats.NodeStatsTests.testSerialization (flaky)"
**Describe the bug**
Sometimes the `org.opensearch.action.admin.cluster.node.stats.NodeStatsTests.testSerialization` because the JVM memory pools are empty.

**To Reproduce**
First seen in https://github.com/opensearch-project/OpenSearch/pull/1387#issuecomment-947060348

**Expected behavior**
The test should always pass.

**Plugins**
N/A

**Screenshots**
N/A

**Host/Environment (please complete th

[2021-10-20 16:34] nknize opened #1396 "[CI] SharedClusterSnapshotRestoreIT.testSnapshotCanceledOnRemovedShard fails sporadically"
This one has failed a few times. Most recent on #1390.

Needs triage and further investigation

[code]

[2021-10-20 18:51] VachaShah commented on #919
Debugging details:

When the downgrade happens from the new cluster to the old cluster in step3, the master dies abruptly with the following error and the other node is not able to find it:

[code]

This happens while [creating a snapshot](https://github.com/opensearch-project/OpenSearch/blob/main/qa/repository-multi-version/src/test/java/org/opensearch/upgrades/MultiVersionRepositoryAccessIT.java

[2021-10-20 19:27] #1389 closed

[2021-10-20 20:56] reta commented on #1388
Should be closed by https://github.com/opensearch-project/OpenSearch/pull/1390

[2021-10-21 02:14] rawpixel-vincent opened #1400 "FORK IT ALL if you fork it"
**Is your feature request related to a problem? Please describe.**
current aws client is just an http client.

**Describe the solution you'd like**
Something that doesn't makes me mad about aws forking elastic search for the wrong reason.

**Describe alternatives you've considered**
fork the elastic search clients and maintain them for open search so we can switch without changing our code.

**Add

[2021-10-21 03:44] linruoma opened #1402 "api"
When will opensearch have its own Java API client to replace the Java API of elastic search?
Besides, when can we have a fully functional Python API client?

[2021-10-21 07:30] dorzgi opened #1405 "[BUG] Security Plugin Disabled Still Requires HTTPS"
**Describe the bug**
Hello,
I'm trying to setup the docker image locally for testing and integration.
I've created a custom `opensearch.yml` and i've created a mount to the following path: `/usr/share/opensearch/config/opensearch.yml`

The contents of the file are:
[code]

The contents of the `docker-compose.yml` are:
[code]

However once i'm running the `docker-compose.yml` and i'm trying to use

[2021-10-21 13:52] peternied commented on #1317
@opensearch-project/opensearch-core Could we update this ticket to reflect who is assigned to the 1.2 release?

[2021-10-21 14:36] dblock opened #1406 "Docker is required to build"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/OpenSearch/issues/1379, docker is required to build. But there seems to be code in place trying to say "if you don't have docker, that's ok, I'll just skip those parts". That doesn't work.

**Describe the solution you'd like**

Skip `distribution:docker*` if docker is not available

[2021-10-21 14:42] rawpixel-vincent commented on #1400
I'm sorry do I miss something ?
the link you sent me doesn't include any forks

[2021-10-21 18:38] dblock commented on #1400
@aetter 👍  Want to open corresponding tickets in various repos?

[2021-10-21 19:09] aetter commented on #1400
Sure, done:

- https://github.com/opensearch-project/opensearch-go/issues/75
- https://github.com/opensearch-project/opensearch-java/issues/55
- https://github.com/opensearch-project/opensearch-py/issues/85
- https://github.com/opensearch-project/opensearch-js/issues/187

[2021-10-21 20:50] #673 closed

[2021-10-21 21:37] nknize opened #1413 "Upgrade 1.x to latest Lucene 8.10.1 release"
Lucene 8.10.1 release was announced on October 18, 2021. This issue is to upgrade the 1.x branch to the latest release to pick up CVE and Bug Fixes.

[2021-10-21 23:17] setiah opened #1418 "Tracking Design for Inbuilt Security SSL module"
**Is your feature request related to a problem? Please describe.**
This issue is to track the design for Inbuilt Security SSL module that adds encryption support to OpenSearch

**Describe the solution you'd like**
A design document that covers all aspects of SSL Module

**Additional context**
Related to #1029

[2021-10-21 23:36] dblock commented on #1402
Java client was released today: https://github.com/opensearch-project/opensearch-build/issues/585#issuecomment-949054159

[2021-10-22 02:55] rawpixel-vincent commented on #1400
yes that's pretty much it, aws docs is usually where I look for information, when I saw the low level code as how we should communicate with opensearch it left me 😮

thanks for the information, that's awesome, looking forward to have iam / roles authentication built in then client.

[2021-10-22 13:21] mikolajsobolewski opened #1421 "Deb/RPM Packages"
Hello.
Have you plans to add deb/RPM packages for OpenSearch as in opendistro for elasticsearch?

[2021-10-22 16:40] #1421 closed, assigned to nobody

[2021-10-22 17:34] saratvemulapalli opened #1422 "[Meta] Plugin sandboxing: Step towards modular architecture in OpenSearch"
## Problem

Plugin architecture enables extending core features of OpenSearch. There are various kinds of plugins which are supported.
But, the architecture has significant problems for OpenSearch customers. Mainly, plugins can fatally impact the cluster
e.g  critical workloads like ingestion/search traffic would be impacted because of a non-critical plugin like s3-repository failed with an except

[2021-10-22 17:48] dblock opened #1425 "[BUG] Building with Docker Desktop 4 on Windows does not work"
**Describe the bug**

Building with Docker Desktop 4 for Windows does not work.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download and install Docker Desktop for Windows from https://docs.docker.com/install/.
2. Keep `Enable Hyper-V Windows Features` during installation checked, restart.
3. Run `"C:\Program Files\Docker\Docker\DockerCli.exe" -SwitchDaemon` once to fix

[2021-10-22 20:03] reta opened #1430 "[BUG] SymbolicLinkPreservingUntarTransform fails on Windows"
**Describe the bug**
When building distribution on Windows, the `./gradle assemble` task fails with

[code]

It turned out that this task fail while unpacking JDK distribution(s) which may contain the symbolic link.

[code]

On  Windows, it requires special permission which may not be granted to the user. The related JDK issue is https://bugs.openjdk.java.net/browse/JDK-8218418 but sadly it works

[2021-10-22 22:09] #1379 closed, assigned to nobody

[2021-10-26 12:48] #1430 closed, assigned to nobody

[2021-10-27 03:45] getsaurabh02 opened #1446 "[Meta] Indexing Backpressure in OpenSearch"
## Problem Statement

Indexing APIs in OpenSearch today such as _bulk allows you to index multiple documents in a single request. These requests are executed in a distributed manner updating multiple indices, across multiple shards, on multiple data nodes in the cluster. However, sometimes, these indexing requests could experience performance degradation due to multiple factors - incorrect cluster

[2021-10-27 05:37] marco210 opened #1685 "How to install plugin opensearch-prometheus-exporter for pod"
I deploy a opensearch cluster with Helm. I want to add install plugin opensearch-prometheus-exporter to monitor cluster. I don't see any guide or tutorial for this. Pls help me. Thanks

[2021-10-27 07:22] melokk97 opened #1447 "[BUG] HDFS repository plugin error"
**Describe the bug**
When I try to register the repository, I get the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin ***repository-hdfs*** with `sudo bin/opensearch-plugin install repository-hdfs`
2. In DevTools do
[code]
3. See error

**Plugins**
- opensearch-alerting                  1.1.0.0
- opensearch-anomaly-detection         1.1.0.0
- opensearch-asynchron

[2021-10-27 13:52] dblock opened #1448 "Add Windows CI"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/opensearch-project/opensearch-build/issues/33

**Describe the solution you'd like**
Add Windows CI for this repo at least for the minimum gradle precommit.

[2021-10-27 13:55] dblock opened #1449 "Add MacOS CI"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/opensearch-project/opensearch-build/issues/38

- [x] Precommit (x64)
- [ ] Precommit (arm64 Apple M1)
- [ ] Gradle Check (x64)
- [ ] Gradle Check (arm64 Apple M1)

**Describe the solution you'd like**
Add MacOS CI for this repo.

[2021-10-27 16:50] nknize opened #1450 "[CI] FsHealthServiceTests.testFailsHealthOnHungIOBeyondHealthyTimeout"
Test failure introduced in #1167 was caught on PR #1440. Looks like a race condition as this test juggles a lot of timing variables? I think this whole test implementation needs to be simplified (perhaps a separate issue).

[code]

[code]

[2021-10-27 18:01] #1361 closed, assigned to nobody

[2021-10-27 23:23] opensearch-ci-bot opened #1454 "[Test Dummy] Jenkins Randomized Gradle Check Failed on main"
THIS IS TEST!!! @opensearch-project/opensearch-core team, please take a look at Build 841 in gradle_check log for more information.

[2021-10-27 23:36] #1454 closed, assigned to nobody

[2021-10-28 20:58] dblock opened #1463 "[BUG] Windows package doesn't contain a logs folder and doesn't start"
**Describe the bug**

If logs directory doesn't exist, startup will fail with `Error opening log file 'logs/gc.log': No such file or directory`.

**To Reproduce**

Coming from https://github.com/opensearch-project/opensearch-build/issues/33 I assembled an OpenSearch Windows distribution, extracted it, created a demo certificate, then ran `bin\opensearch.bat`.

[code]

**Expected behavior**
The win

[2021-10-28 21:14] opensearch-ci-bot opened #1465 "[TEST DUMMY] Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 866 in gradle_check log for more information.

[2021-10-28 21:14] #1465 closed, assigned to nobody

[2021-10-29 07:27] davidshtian opened #1467 "Add dedicated Flink OpenSearch Connector support"
**Is your feature request related to a problem? Please describe.**
As OpenSearch is the fork of Elasticsearch, is there any plan to support Flink OpenSearch Connector in the future? Like the ones already build for Elasticsearch ([Elasticsearch Connector](https://ci.apache.org/projects/flink/flink-docs-release-1.13/docs/connectors/datastream/elasticsearch/) and [Elasticsearch SQL Connector](https:/

[2021-10-29 07:30] davidshtian opened #1468 "Add OpenSearch proxy support"
**Is your feature request related to a problem? Please describe.**
It's important to have a proxy layer option for OpenSearch users. As the proxy layer could handle authentication, authorization, dynamic index actions, etc.

**Describe the solution you'd like**
Add an official version of OpenSearch proxy to handle the client requests.

**Describe alternatives you've considered**
Use some open-sour

[2021-10-29 12:50] opensearch-ci-bot opened #1469 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 883 in gradle_check log for more information.

[2021-10-29 13:26] opensearch-ci-bot opened #1470 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 884 in gradle_check log for more information.

[2021-10-29 18:40] mch2 commented on #1469
This will be fixed with #1460.

There is an additional test with seed failing, but I have not been able to reproduce a failure with this seed.
[code]

[2021-10-29 19:19] nknize commented on #1469
See #1450

[2021-10-29 19:20] nknize commented on #1450
another failure on #1469. Should the timeout variables be more conservative?

[2021-10-30 00:05] downsrob opened #1473 "[BUG] Index Management Plugin Integration Tests Are Failing After Core Change"
Parallel issue in opensearch-build: https://github.com/opensearch-project/opensearch-build/issues/953
**Describe the bug**
All tests under [MetadataRegressionIT](https://github.com/opensearch-project/index-management/blob/main/src/test/kotlin/org/opensearch/indexmanagement/indexstatemanagement/MetadataRegressionIT.kt) fail for Index Management main with the following stack trace:
[code]
This same

[2021-10-30 01:57] peterzhuamazon commented on #1469
Thanks.

[2021-10-30 01:57] #1469 closed

[2021-10-30 01:58] peterzhuamazon commented on #1450
Todays main test passed on #1469 so close it.

[2021-10-30 02:50] rramachand21 commented on #1304
@CEHENKLE how can I reopen this issue? Would love to add more details to this. Do I need to open a new issue?

[2021-10-30 09:40] parsa-ra opened #1474 "Scalability of OpenSearch-KNN"
We tend to employ OpenSearch-KNN for handling billion-scale vector datasets in cloud-native environment, we wonder how does OpenSearch-KNN handle scalability problem?

[2021-10-31 13:53] dorzgi commented on #1405
Anyone?

[2021-10-31 16:12] IMS94 commented on #1405
@dorzgi I just tried again and it works for me. Following is my setup.

**Docker Compose file**
[code]
You can ignore the `opensearch-dashboards` service if not required.

**opensearch.yml file**
[code]

Once started with `docker-compose up -d` and tried the following curl command, it works fine:
[code]
and the output is:
[code]
And `curl -v https://localhost:9200` will not work (HTTPS url)

[2021-10-31 21:06] robinboening commented on #768
Unfortunately, the links in this thread are not working anymore.

I followed this guide https://opensearch.org/docs/latest/opensearch/install/docker-security/ and stumbled into the same issue where the mounts (certificates and config files) are created as folders instead of files.

The errors are a bunch of this kind

[code]

The guide does not mention it is required to create the certificates and

[2021-11-01 12:07] av-virlan opened #1475 "Cross-index "JOIN" query support"
### Is your feature request related to a problem? Please describe

I'm working on a project that is trying to aggregating information across multiple systems. Part of the information is relational data - certain documents in one index relate to certain documents in another index in a sort of many-to-many child-parent manner.

### Describe the solution you'd like

Expanding the has_child query supp

[2021-11-01 12:08] pgtgrly commented on #837
The template request defined in the issue is internally called Put ComposableIndexTemplateAction.
THe request is routed to RestPutComposableIndexTemplateAction which extends BaseRestHandler. From here the request is translated to ComposableIndexTemplate and passed to TransportPutComposableIndexTemplateAction. Here MetadataIndexTemplateService [validates the priority of the added template](https://