[2022-02-18 08:43] maosuhan opened #2170 "fetch data throttle in recovery"
In full cluster restart process, fetch data always take a long time. It takes almost 1 hour to finish fetch data in a cluster of 1M shards and 400 nodes. What's more, OOM often occurred during the full cluster restart.

What we want to do throttling the fetchData operations in `BaseGatewayShardAllocator.allocateUnassigned`. For example we only tolerate 10k shards to start fetch data or be in await

[2022-02-18 12:22] theanotherwise opened #2171 "securityConfig.config.data with subPath"
**Is your feature request related to a problem? Please describe.**
Volume with config map `securityConfig.config.data` is mounted without subPaths

**Describe the solution you'd like**
https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/templates/statefulset.yaml#L369

Add subPath to mount only specified files instead of the whole volume with config map.

**Describe alter

[2022-02-18 12:57] tushar-kharbanda72 commented on #1329
Thanks @dblock for going through the proposal. We have the PRs related to task resource tracking in progress and that should complete soon. Targeting march for that.

Soon we'll fast follow that up with initial low effort rejection strategies which you and others mentioned which we'll include as part of Milestone 2.

Milestone 3 is a lot of work and we'll have to evaluate the need and criticality

[2022-02-18 16:25] maosuhan commented on #2169
@Bukhtawar Thanks for your reply.
We already tried batch async shard fetch in our environment(https://github.com/elastic/elasticsearch/issues/80694) and the recovery speed improve a lot indeed. But the primary recovery speed is still not as fast as we expected. As I listed, deciders of ReplicaShardAllocator also take a lot of time in unassignedShards loop which slow down the MasterService throughp

[2022-02-18 17:15] reta commented on #2063
These ones should be fixed now:

CustomUnifiedHighlighterTests
HighlighterWithAnalyzersTests.testPhrasePrefix
ChildQuerySearchIT.testHighlightersIgnoreParentChild
HighlighterSearchIT failures

But we would need to work on accommodating these change: https://github.com/apache/lucene/pull/362/files

[2022-02-18 18:40] owaiskazi19 opened #2174 "POC: Integrate Transport Service with an external plugin"
**Is your feature request related to a problem? Please describe.**
As TransportService is working independently now we can integrate any plugin be it k-NN or ISM and make sure the plugin is able to receive a connection request from OpenSearch service.

- [x] Identify the right external plugin to use.
- [x] Add the identified plugin in the current project.
- [x] Integrate it with the TransportServi

[2022-02-18 19:34] #2053 closed

[2022-02-18 19:34] #1858 closed

[2022-02-18 19:35] #1857 closed

[2022-02-18 20:07] penghuo opened #2176 "[BUG] Flaky Test - search.aggregation/20_terms/string profiler via global ordinals"
**Describe the bug**
1. Test random failed, Run search.aggregation/20_terms/string profiler via global ordinals 500 times, failed one time.
2. Failure case is not reproducible.

**To Reproduce**
`for i in {1..500}; do ./gradlew ":rest-api-spec:yamlRestTest" --tests "org.opensearch.test.rest.ClientYamlTestSuiteIT" -Dtests.method="test {p0=search.aggregation/20_terms/string profiler via global ordin

[2022-02-18 20:08] penghuo commented on #2176
same failure in #2147

[2022-02-18 20:09] penghuo commented on #1715
another one #2176.

[2022-02-18 20:11] penghuo commented on #2012
Does it same as #1988? I suppose it already been fixed by #2005.

[2022-02-18 20:13] penghuo commented on #2012
@dblock Could we close this issue? It already been fixed by #2005.

[2022-02-18 20:15] penghuo commented on #1998
@nknize Could we close this issue? Failed test already been fixed by #2005.

[2022-02-18 20:16] penghuo commented on #1899
Adjust version on main after backport to 1.3.0.0 #2147.

[2022-02-18 20:16] #1899 closed

[2022-02-18 22:43] VachaShah commented on #1897
Dependabot is integrated with the related PR actions of updating SHAs and spotless formatting.

[2022-02-18 22:43] #1897 closed

[2022-02-19 01:25] dblock commented on #1858
Nice work @mattweber !

[2022-02-19 01:26] #2012 closed

[2022-02-19 01:26] #1998 closed

[2022-02-19 06:02] Bukhtawar commented on #2169
Thanks, Can you please share the stack traces(thread dump or profiler results) for the deciders which based on your analysis is causing the slowdown or additional memory overhead. Wanted to understand if there is a scope to optimize those areas as well.

[2022-02-19 09:40] quangmaubach commented on #1278
Thanks @CEHENKLE for reviewing and merging my CR above!

Can you please also backport it to `1.x` branch to also release the change to `1.3` and above? It is a non-breaking change, new feature that can be added to `1.x` without much problem. More than that, we are looking to use this feature on OpenSearch `1.x` first as we might not be ready to upgrade to OpenSearch `2.0` yet.

[2022-02-19 21:45] AmiStrn commented on #2036
Thanks for looking into this. I will validate if this is only on a specific type of mapping.

[2022-02-20 02:17] rkophs commented on #1991
Hi all, I have addressed one edge case with my original [PR](https://github.com/elastic/elasticsearch/pull/80208) -- See the latest [commit](https://github.com/elastic/elasticsearch/pull/80208/commits/c6998866e11f588e277c6695335c4ceb4e1deb78) for details.

I do not mind if you wish to port over my PR to your project as you see fit.

[2022-02-20 17:02] deng47 commented on #1873
I think I encounter the same issue. I set `ignore_malformed` on the index level
[code]
However, when I reindex data from Elasticsearch to pensearch, it failed like below
[code]

[2022-02-20 17:06] Bukhtawar opened #2179 "Handling custom exception serialisation for plugins"
The wire serialization of exceptions require exceptions to be registered. For instance if the transport node(transport inter-node communication) throws a custom exception, the caller node at transport needs to handle this and throw it appropriately to clients. However I couldn't find a way for plugins to be register the custom exception.

https://github.com/opensearch-project/OpenSearch/blob/5b3b9

[2022-02-21 08:20] #2171 closed

[2022-02-21 10:57] ict-one-nl commented on #2022
Any news? :) If this problem is occuring more often it could disrupt restoring failed clusters.

[2022-02-21 16:05] willyborankin commented on #2155
Small investigation I made.

Common code I found:
List of common classes and functions for proxy settings in all cloud plugins:
- `ProxySettings` - could be a generic type, since all clients have they own `ProxyType`
-  `*Settings` classes - the function `validateAndCreateProxySettings` has the same code for all plugins
Common functions:
- all `*Settings::getConfigValue` and `*Settings::getValue`

[2022-02-21 16:23] willyborankin opened #2192 "Support different compression types for snapshoting"
**Is your feature request related to a problem? Please describe.**

For now Opensearch supports only deflate compression for snapshoting (`compress` setting for all Cloud plugins).
It would be great to extend compression to use different compression  algorithms like:
- `ZSTD`
- `XZ4`
or even mode.

**Describe the solution you'd like**
To support different compression types
extend settings for comp

[2022-02-21 19:12] saratvemulapalli commented on #1447
@melokk97 where was this dependency missing?
Is this something which has to be fixed in the plugin build.gradle ?

[2022-02-21 19:17] #1667 closed

[2022-02-21 19:54] Poojita-Raj opened #2194 "[META] Segment Replication Issue list"
Please comment on this issue with any feedback on our recent experimental release.

This is a meta issue for all work relating to Segment Replication.
- [x] #2229
- [x] #3969
- [x] #5147

Performance Improvements:
- [ ] #4245
- [x] #4448
- [x] #4478

Compatibility:
- [x] #3881
- [x] #3823

Bugs:
- [x] https://github.com/opensearch-project/OpenSearch/issues/4538
- [x] https://github.com/opensearch-

[2022-02-21 20:13] dreamer-89 opened #2195 "Remove include_type_name param from API end-points"
Implemented in
1. https://github.com/opensearch-project/OpenSearch/pull/2397
2. https://github.com/opensearch-project/OpenSearch/pull/2410

[2022-02-21 20:54] mch2 opened #2197 "[Segment Replication] - Toggle replication strategy based on segrep index setting."
**Describe the bug**
Commented code breaks document replication.
- Uncomment code and replace with calls to IndexShard's isSegmentReplicationEnabled.
https://github.com/opensearch-project/OpenSearch/pull/2075/files#r804147317
- Remove condition from IndexService and move to scheduledRefresh(); - https://github.com/opensearch-project/OpenSearch/pull/2075/files#r804177770
- StartRecovery inside Inde

[2022-02-21 20:59] mch2 opened #2199 "[Segment Replication] - Clean up transport layer communication when publishing checkpoints."
Right now there are several issues when publishing checkpoints over the Transport layer.

1.  Checkpoints do not need to be published outside of the replication group.  The transport layer should not be using a BroadcastAction.
2. Remove reuse of RefreshResponse and make specific response type.
3. PublishCheckpointAction should not be an `admin` action in its NAME.

[2022-02-21 21:01] dreamer-89 commented on #1940
### Proposal for v2.0 release

* Rest end-points updates
    * Document APIs
        * Ingestion, Update, Delete, Get APIs
        * UpdateByQuery, DeleteByQuery
        * Bulk Request. Request and response
        * Term, multi-term vectors
    * Index APIs
        * Create Index
        * Index mapping (put/get)
        * Field mapping (put/get)
        * Source API
    * Search APIs
        * S

[2022-02-21 21:12] mch2 opened #2200 "[Segment Replication] Refactor IndexShard and Engine to remove isPrimary conditional logic."
We have a lot of conditional logic to toggle between replication strategies in IndexShard.  Refactor this by either moving to primary/replica or replication strategy based IndexShard implementations.

I've cut this as a single issue for Engine & IndexShard given there is going to be a lot of overlap.

[2022-02-21 21:22] #2010 closed

[2022-02-21 21:33] mch2 opened #2202 "[Segment Replication] Refactor SegmentInfosRef to top level class."
There is duplication with IndexCommitRef and SegmentInfosRef - extract a generalized class and make it a top level class.

[2022-02-21 21:35] opensearch-ci-bot opened #2203 "Jenkins Randomized Gradle Check Failed on f6090a2d6bf2e1758f58e078dfa80eafad9a54ed"
@opensearch-project/opensearch-core team, please take a look at Build 2666 in gradle_check log for more information.

[2022-02-22 01:09] opensearch-ci-bot opened #2206 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2682 in gradle_check log for more information.

[2022-02-22 01:37] opensearch-ci-bot opened #2207 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2686 in gradle_check log for more information.

[2022-02-22 02:32] #1633 closed

[2022-02-22 05:48] penghuo commented on #2176
### Why segments_with_single_valued_ords=1 and segments_with_multi_valued_ords=1
There are 2 leaf collectors which means there are 2 segments.
* segment 1 has 1 doc. [GlobalOrdinalMapping](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/fielddata/ordinals/GlobalOrdinalsIndexFieldData.java#L264) returned
* segment 2 has 3 docs and [values.getValu

[2022-02-22 07:56] mrMigles opened #2211 "Extension points for RestHighLevelClient classes"
**Is your feature request related to a problem? Please describe.**

In our company **we need to extend index creation logic for RestHighLevelClient**, in particular to call some API of our service before create indices via OpenSearch. We don't want to fork repository at all, because we need to add small logic in index creation process, and features of our framework assume that this code should be

[2022-02-22 14:51] saratvemulapalli commented on #2211
From what I understand (I have no knowledge how the HLRC works), what you'd like to have is receive notifications for few events.
In this case it is for the IndexClient.

Initially I did like the idea of removing `final` for these classes.
But thinking little deeper, we'd like the client to solve the core problem of what its doing and its not worth duplicating the business logic by every customer.

[2022-02-22 16:20] #1972 closed

[2022-02-22 17:30] reta commented on #1711
Looking into it ... :-)

[2022-02-22 18:19] mch2 opened #2212 "[Segment Replication] Support shard promotion."
Support failover scenario of a replica re-assigned as a primary.

Right now this flow fails because of how we wire up the engine as readOnly by setting IndexWriter to null.

Issues remaining (updated 7/22):
- [x] #3988
- [x] #3989
- [x] #4007
- [x] #4136

[2022-02-22 19:34] CEHENKLE commented on #2192
@willyborankin Hey!  Thanks for this.

Is this something you're thinking about contributing, or something you'd like to see (regardless of who contributes it)?

Thanks!
/C

[2022-02-22 19:48] CEHENKLE commented on #2167
@Bukhtawar Is there a more general solution you have in mind, or are you looking to fix only this particular error?

Thanks!

[2022-02-22 19:57] CEHENKLE commented on #2100
Thanks, @hansott!

[2022-02-22 19:58] willyborankin commented on #2192
@CEHENKLE Hey!,
I would say both, to see and implement :-). As a first step `ZSTD` compression, and after that `LZ4`, what do you think?
Thanks!

[2022-02-22 21:04] opensearch-ci-bot opened #2216 "Jenkins Randomized Gradle Check Failed on 9383aff6e573011e4de4a7a5b5279722bb5d6082"
@opensearch-project/opensearch-core team, please take a look at Build 2716 in gradle_check log for more information.

[2022-02-22 21:39] setiah commented on #2162
Good to see this is already work in progress here https://github.com/Opster/opensearch-k8s-operator

Related forum post  https://discuss.opendistrocommunity.dev/t/opensearch-kubernetes-operator/8106

[2022-02-22 22:03] kartg commented on #1278
1.x backport - #2217

[2022-02-22 22:53] cliu123 opened #2218 "[BUG] Security plugin transport layer(multi-node cluster) does not work due to lack of required reflective access."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a OpenSearch 1.3.0 cluster with at least 2 nodes.
2. Install security plugin 1.3.0.0(security plugin repo [main branch](https://github.com/opensearch-project/security)) on each of the nodes.
3. Send a basic request(such as `_cat/nodes` or `_cat/indices`) to the Open

[2022-02-22 23:45] cliu123 commented on #2218
Adding @vrozov who is the author of the original PR. Do you have any suggestions on resolving this issue?

[2022-02-23 01:13] cliu123 commented on #2218
This issue was originated from: https://github.com/opensearch-project/security/issues/1619

[2022-02-23 09:46] capmatch opened #2223 "SAML authentication request scoping (using IDP proxy)"
**Is your feature request related to a problem? Please describe.**
i would like to have the configuration on SAML authentication request scoping

**Additional context**
https://discuss.elastic.co/t/saml-authentication-request-scoping-using-idp-proxy/297932

[2022-02-23 10:11] eirsep commented on #1147
@CEHENKLE Can you please create a feature branch `feature/point-in-time` which will be used to run full test suite?

[2022-02-23 14:07] ohdearaugustin opened #2224 "[BUG] Parsing of plugins.security.authcz.admin_dn"
**Describe the bug**
Somehow the order of the certificate subject in plugins.security.authcz.admin_dn matter.
[code]
is not the same as
[code]
with the second configuration the authentication will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a certificate with following subject "CN=ADMIN,ST=Organisation Opensearch,L=Graz"
2. Verify the subject with openssl ```openssl x509 -in

[2022-02-23 15:52] ahopp commented on #2072
@windbeneathyourwings I haven't seen anyone working on anything similar yet.

My understanding is that you'd want to build an adapter so you'd be able to use [Instantsearch](https://github.com/algolia/instantsearch.js) (and potentially related [React](https://github.com/algolia/react-instantsearch), [Vue](https://github.com/algolia/vue-instantsearch) and [Angular](https://github.com/algolia/angula

[2022-02-23 17:30] reta commented on #1711
@lrynek @andrross the things turned out to be a bit more complicated than expected, the `Explanation`s are actually coming from Apache Lucene and are not extendable, I have opened an improvement here [1] and awaiting for feedback. But this is where I have got so far with named scripts support:

[code]
The `_name` is returned back in the description at the moment, due to [1]:

[code]

[code]

The c

[2022-02-23 21:28] saratvemulapalli opened #2228 "Modularize TransportService to support OpenSearch nodes (DiscoveryNode) and an extension"

[2022-02-23 21:32] mch2 opened #2229 "[Segment Replication] Design Proposal"
This document outlines a proposal for implementing segment replication without additional external dependencies.  This is a WIP.  Please feel free to leave comments below with any thoughts or suggestions!

Objective:
Copy Lucene’s immutable segment files to replicas instead of document replication where documents are sent to and re-indexed on all replicas.  This will improve indexing throughput an

[2022-02-23 21:42] quangmaubach commented on #1278
PR for backporting into `1.x` https://github.com/opensearch-project/OpenSearch/pull/2219

Multiple pushed to retrigger `gradle check` but not sucessful (repo-wide issue).

[2022-02-23 21:42] saratvemulapalli opened #2230 "Build and design Extension SDK"
Design and build the Extension SDK.

The SDK should contain all the common elements required for an extension.
- Startup
- Transport/Communication
- Extension point APIs

[2022-02-23 22:18] saratvemulapalli opened #2231 "Extension Latency"
The goal of issue is to measure latency for extension running within OpenSearch vs outside of OpenSearch.

- [x] Build a new extension which is called in the critical lifecycle of searching/indexing.
- [x] Integrate with TransportService, extension startup script from https://github.com/opensearch-project/OpenSearch/issues/1619)

[2022-02-24 01:44] saratvemulapalli commented on #1859
@mattweber sounds like the right way to approach it. Are you open to re-write this for opensearch?

[2022-02-24 06:50] AndreyByhalenko commented on #2227
Hi @kavilla ,
I'm facing the same issue and i'm not working with opensearch as part of AWS solution.
We are using dockers.
Thanks.

[2022-02-24 09:40] xjtushilei commented on #1329
I am curious how to get cpu time and memory consumption for each query? It's a very difficult job

[2022-02-24 17:32] dreamer-89 opened #2240 "Add new tests to verify bwc scenarios"
Verify older OS versions are compatible with OS 2.0 post type removal.  Sample upgrades scenarios to add:

1.  Index. Verify indices created with types (or without) allows ingestion in OS 2.0
2. Templates. Verify templates created on OS 1.x with types, allows new index creation.
3. Searching. Verify older indices created with types, are searchable on OS 2.0 without returning type information.
4. S

[2022-02-24 18:53] kartg commented on #1694
Issue tracking development of design proposal - https://github.com/opensearch-project/OpenSearch/issues/2229

Meta issue on POC development - https://github.com/opensearch-project/OpenSearch/issues/2194

[2022-02-24 19:25] tristandostaler commented on #1018
+1!

[2022-02-24 19:54] dreamer-89 opened #2241 "[BUG] ShardIndexingPressureConcurrentExecutionTests.testCoordinatingPrimaryThreadedUpdateToShardLimits assertion error"
[code]

❌   Gradle Check failure https://github.com/opensearch-project/OpenSearch/commit/9e413b424e9832118cb552e9e2b6faba216540a6
[Log 2773](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_2773.log)

[Reports 2773](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_2773_reports.zip)

Identified in https://github

[2022-02-24 20:16] dreamer-89 opened #2242 "[BUG] org.opensearch.search.SearchCancellationIT.testMSearchChildRequestCancellationWithClusterLevelTimeout"
Below test failure identified in https://github.com/opensearch-project/OpenSearch/pull/2238

[code]

[2022-02-24 20:16] dreamer-89 commented on #2242
❌   Gradle Check failure https://github.com/opensearch-project/OpenSearch/commit/9e413b424e9832118cb552e9e2b6faba216540a6
[Log 2777](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_2777.log)

[Reports 2777](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_2777_reports.zip)

[2022-02-24 20:17] dreamer-89 commented on #2242
The test is not reproducible when tried with provided reproduce gradle command.

[2022-02-24 20:20] VachaShah commented on #1593
@zelinh The Whitesource job on 1.x fails after 375m. Is there any update here?

[2022-02-24 20:47] zelinh commented on #1593
Unfortunately no, I had a meeting with WhiteSource support last Monday regarding of the issue on scanning our core repo and she said she would escalate this issue but I haven't heard any update from them since then.
I think for now, one option is that we ignore the WhiteSource PR check for core repo now;
or the other option is to change [this](https://github.com/opensearch-project/OpenSearch/blob/

[2022-02-24 21:11] peterzhuamazon opened #2245 "Release version 2.0.0 (RC1)"
This is a component issue for release 2.0.0 (RC1).

Coming from https://github.com/opensearch-project/opensearch-build/issues/1624, please refer to the dates in that post.

Please also follow the following checklist.

<details><summary>How to use this component issue</summary>
<p>

## This Component Issue
This component issue captures the state of the OpenSearch release, on component/plugin level,

[2022-02-24 21:16] setiah commented on #2218
This PR https://github.com/opensearch-project/security/pull/1278 was part of 1.2 version as well where it worked fine. Did something change in 1.3 that caused this to break @cliu123 ?

[2022-02-24 23:08] kartg commented on #1694
Since the second commit is a formatting update, I would recommend only reviewing the [code changes in the first commit](https://github.com/opensearch-project/OpenSearch/pull/2250/commits/44931a9700aad39028c8e4d0cc61575103f8ffb6)

[2022-02-24 23:32] CEHENKLE commented on #1147
https://github.com/opensearch-project/OpenSearch/tree/feature/point-in-time created

[2022-02-24 23:50] #2070 closed

[2022-02-24 23:55] #1694 closed

[2022-02-25 01:07] cliu123 commented on #2218
@setiah Good question! I had the same doubt, but at least in security plugin, almost of [all changes](https://github.com/opensearch-project/security/compare/1.2...main) are CI/CD and build system changes. Nothing looks related to this. And when I reset security plugin all the way back to [the very first commit](https://github.com/opensearch-project/security/commit/390315abf7d3222e9f9f5adf0d74c32a9

[2022-02-25 02:43] zelinh opened #2257 "Release version 1.3"
This is a component issue for release 1.3.0.<br/>
Coming from [opensearch-build#889](https://github.com/opensearch-project/opensearch-build/issues/889), release version 1.3. Please follow the following checklist.

### Preparation

- [x] Assign this issue to a release owner.
- [x] Finalize scope and feature set and update [the Public Roadmap](https://github.com/orgs/opensearch-project/projects/1).

[2022-02-25 04:01] windbeneathyourwings commented on #2072
@ahopp

Yes, create an adaptor like the type sense one but for open search.

[2022-02-25 13:45] mrMigles commented on #2211
Thanks @saratvemulapalli ,

Actually, we need to override index name that client uses in code. For example, it tries to create index with name "test", but in overridden code of client we need to generate specific for this client (microservice) index prefix befor erequest to OpenSearch, for example "client1-test". It should be transparent for clients.
And other similar cases with custom index names

[2022-02-25 21:21] owaiskazi19 commented on #2041
Closing this issue. As the related PRs are merged.

[2022-02-25 21:21] #2041 closed

[2022-02-26 01:14] cliu123 commented on #1029
This is exactly what FGAC(fain-grained access control) does.

And index-level(ILS), document-level(DLS) and field-level access control(FLS) come together with and dependent on FGAC authc and authz. It might be make more sense to have all these built-in in OpenSearch core engine too.

But these details can be further discussed when this proposal goes to design stage.

[2022-02-26 02:03] lukas-vlcek commented on #2041
Amazing, thanks! ❤️

[2022-02-26 03:19] cliu123 commented on #1029
I like the idea being proposed above to secure OpenSearch minimum distribution, but this upgrade would be a huge challenge! Have any potential solutions/migration plans been under evaluated? I don't see how this would work. I'm really glad to hear if any feasible suggestions on this.

It would be nice to offer users flexibilities to configure security posture based on use cases. Having an external

[2022-02-26 13:06] opensearch-ci-bot opened #2266 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2836 in gradle_check log for more information.

[2022-02-27 03:40] dreamer-89 opened #2267 "Documentation"
The idea of this task is to document all type mapping related changes.

[2022-02-27 09:18] Bukhtawar commented on #2167
In general we should revisit all non-retryable classes of exception and log them appropriately, the logging is usually too silent

[2022-02-27 13:30] opensearch-ci-bot opened #2268 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2841 in gradle_check log for more information.

[2022-02-28 16:05] ersinoracle commented on #1891
Any updates yet?

[2022-02-28 17:39] cliu123 commented on #1029
@setiah Would you please link the new issue at here if it has been created?

[2022-02-28 19:09] saratvemulapalli commented on #2231
Some how I can't assign it.
@joshpalis can you assign it your self or get help from @CEHENKLE

[2022-02-28 19:21] saratvemulapalli opened #2283 "Versioning support for plugin extension points"
Plugins are rigid in terms of compatibility and have to be built with a specific x.y.z version of OpenSearch during compile time. This tight coupling reduces the velocity of software development lifecycle for OpenSearch and plugins because it requires all plug-ins to release at the same time when a version number is raised.

The underlying problem is lack of versioning support for [extension point

[2022-02-28 19:37] mch2 opened #2285 "[Segment Replication] - Fix Integ test with reproducible seeds"
**Describe the bug**
From #2284. We have about 20% of the test runs failing with reproducible seeds.  The test is comparing doc counts after indexing, and refreshing, then indexing some more and then flushing. It's counting the first set of docs fine but fails on the replica to read the entire second set.  The OpenSearchReaderManager is refreshing the reader and the reader logs the correct number

[2022-02-28 22:44] reta commented on #2154
@andrross down again: https://github.com/opensearch-project/OpenSearch/pull/2244#issuecomment-1054739655

[2022-02-28 23:09] setiah commented on #2218
Found the cause.

So the issue started happening after the bundled JDK was updated to 17 with PR https://github.com/opensearch-project/OpenSearch/pull/1922. This was a backport change from OpenSearch 2.0 to 1.x (then and now 1.3)

Prior to this JDK update, OpenSearch logs used to have warning messages to reflect improper reflective access, but, it still worked. See logs below
[code]

Seems like wi

[2022-02-28 23:15] cliu123 commented on #2218
Cool! @setiah Thanks for identifying the cause! How should this be fixed then?
Reverting the [PR#1619](https://github.com/opensearch-project/security/issues/1619) would break backward compatibility and block rolling upgrade from ODFE to OpenSearch, which does not sound an option.

[2022-03-01 10:26] AmiStrn commented on #2036
@reta I tested again and found that this is indeed a bug:
I made a fresh clone from the repo ->  `./gradlew run` -> added some data to a new index in the cluster and followed the instructions to reproduce above. And got the same bug.
here is the mapping (even though I did nothing but add the index and some simple docs):
[code]

[2022-03-01 13:24] psaiz opened #2294 "Describing profile timing"
**Is your feature request related to a problem? Please describe.**
I'm having issues understanding the timings of the profile information. In particular, I'm not sure if the different times should be added, or if the times are in parallel.  Moreover, adding all the timing, I can't get to the `took` field.  I have this example, with two clusters with the same data, and different node types behind.

[2022-03-01 15:29] dblock commented on #2179
Is (2) really about just handling `NotSerializableExceptionWrapper` by looking up an exception by name?

[2022-03-01 15:31] dblock commented on #2022
I'll move this into the security repo and someone should followup.

[2022-03-01 15:42] dblock commented on #2192
@willyborankin makes sense to me!

[2022-03-01 15:44] dblock commented on #2218
@cliu123 @setiah This looks like a breaking change for 1.3.0, labelling as such

[2022-03-01 15:49] dblock commented on #1711
Thanks @reta for resolving our conversation productively! Looking forward to a working `_name` implementation.

[2022-03-01 16:29] dblock commented on #1891
I labeled this for 1.3.0 so we don't miss it.

@ersinoracle Try turning this into a unit test if you have a moment?

[2022-03-01 16:34] Rishikesh1159 commented on #1240
Yes @dblock. This implementation was causing Alerting plugin build to fail. (https://github.com/opensearch-project/alerting/issues/312). I moved setupDownloadService() call out from apply method for this implementation. Looks like it is causing the error of "Cannot mutate content repository descriptor 'MavenLocal(file:/usr/share/opensearch/.m2/repository/)' after repository has been used".

Before

[2022-03-01 16:36] dblock commented on #2294
@sruti1312 you might know something about this

[2022-03-01 17:10] ryanbogan commented on #1276
@Cai-Chen I just used the base version found on the Oracle website for each JVM.  The x64 version performs better than arm64 with JDK 17 based on my testing (4.53 vs. 9.295 millisecond latency), so I do not believe that you are missing any special configuration options.

[2022-03-01 17:19] ersinoracle commented on #1891
@dblock I, unfortunately, won't have time to write a unit test for this. But, I'll be waiting for you to address and resolve the issue hopefully in 1.3.0.

[2022-03-01 17:33] Flyingliuhub opened #2295 "[BUG] OpenSearch 1.2.4 is crashing in the aarch64"
**Describe the bug**
OpenSearch 1.2.4 was crashed in the aarch64

openJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Exception in thread "main" java.lang.UnsatisfiedLinkError: 'int org.conscrypt.NativeCrypto.EVP_has_aes_hardware()'
        at org.conscrypt.NativeCrypto.EVP_has_aes_hardware(Native Method)

[2022-03-01 17:49] dreamer-89 opened #2296 "Rest layer bwc compatibility post `type` removal"
The idea is to add bwc compatibility post type removal (#1940 ) as it decouples users from client side changes/upgrades with Opensearch upgrades. Adding bwc compatibility here means; keep supporting the deprecated typed end-points and map those end-points to typeless end-points but without guaranteeing the same behavior.

[2022-03-01 18:32] dreamer-89 commented on #2296
@nknize @reta @CEHENKLE : What is your opinion on maintaining rest layer bwc compatibility ?

[2022-03-01 18:38] reta commented on #2296
@dreamer-89 I think we should not mimic the API to support bwc compatibility, 2.0 is major release with a number of breaking changes, removing deprecated endpoints is one of those (in my opinion).

[2022-03-01 18:43] owaiskazi19 opened #2297 "POC: Move the dependencies from SDK to OpenSearch and add CI, Spotless"
**Is your feature request related to a problem? Please describe.**
To make the SDK lightweight and production ready code, dependencies which are present at the SDK side currently needs to be moved to OpenSearch repo.

- [x] Read Settings from yml file
- [x] Remove localNodeFactory
- [x] Remove version0 and define minimumCompatibleVersion in yml file
- [ ] Check for forbiddenAPIs
- [ ] Check for ge

[2022-03-01 19:31] CEHENKLE commented on #2295
This appears to be an issue in the AOS build.  Resolving here for now, but if it turns out to be in the open source, feel free to reopen.

[2022-03-01 19:31] #2295 closed

[2022-03-01 19:35] CEHENKLE commented on #2192
@willyborankin Cool beans!  I look forward to seeing the PRs :)

[2022-03-01 19:41] dreamer-89 commented on #2240
@reta @nknize : Are there other use-cases that needs to be added ?

[2022-03-01 19:43] CEHENKLE commented on #2154
Hmmm...if we're using amazonlinux for our distribution, it makes sense to me change it to that.  @bbarani any concerns if we make that switch?  (also curious if engineering effectiveness would make the switch or the core team, but he who is less important that what)

[2022-03-01 19:44] setiah commented on #2218
The JDK update looks like a breaking change for a minor version update. It is breaking reflective access in plugins. Now breaking reflective access may be the right thing to do, but for a minor version update this can cause problems to the community plugins. I think we should push the JDK update change to 2.0 and exclude it from 1.3 (backport PR https://github.com/opensearch-project/OpenSearch/pul

[2022-03-01 19:47] kotwanikunal commented on #2240
I'll take a look at this.

[2022-03-01 20:08] reta commented on #2218
@setiah @dblock the JDK-17 is only used to run tests (and consequently, used in builds), it should not break things (sadly, besides the build itself) and could be changed anytime by using `-Druntime.java=11` or setting `RUNTIME_JAVA_HOME` to JDK of choice. JDK-15 is effectively dead and I think we should not use it in our builds (my opinion)

[2022-03-01 20:13] dblock commented on #2218
@reta This is all part of https://github.com/opensearch-project/opensearch-plugins/issues/64 in which we're trying to switch builds to 11 and upgrade runtime to 17. This issue prevents upgrading the runtime to 17. I'm moving this issue to security and let's figure out whether we should fix this or ship 1.3 with JDK 11 instead.

[2022-03-01 20:16] dblock opened #2298 "[BUG] Build tools targets JDK 10+ making it impossible for plugins to test on supported JDK8"
**Describe the bug**

Coming from https://github.com/opensearch-project/job-scheduler/pull/130, reduce target JVM for build-tools to enable plugins to run CI on supported JDK 8.

[code]

[2022-03-01 20:19] reta commented on #2240
@dreamer-89 I would add reindexing (`/_reindex`, where type used to be manipulable)

[2022-03-01 20:20] dblock opened #2299 "[BUG] de.thetaphi.forbiddenapis.gradle.ForbiddenApisPlugin fails to initialize on JDK17"
**Describe the bug**

Coming from https://github.com/opensearch-project/job-scheduler/pull/130, builds fail on JDK 17 when using Gradle 6.

[code]

[2022-03-01 20:21] dreamer-89 commented on #2240
Thank you so much @reta for sharing this. We will include re-indexing tests as well.

[2022-03-01 20:33] reta commented on #2299
Just to add details here: Gradle 6.x does not support JDK-17, only Gradle 7 (and above) does.

[2022-03-01 21:50] anasalkouz commented on #2294
@Poojita-Raj Could you please take a look?

[2022-03-01 22:01] peterzhuamazon opened #2302 "[Feature Request] Allow OpenSearch to automatically find java_home without manual definition"
As of now, it OpenSearch does not bundle any jdk in `work_dir/jdk` folder, opensearch will not run even if there is jdk installed on the host.

User needs to manually define `OPENSEARCH_JAVA_HOME` or `JAVA_HOME` as env var for opensearch to find the corresponding JDK.

Would be nice if we can have one more layer of detection on this, in the sense:

1. If no `work_dir/jdk` as well as `OPENSEARCH_JA

[2022-03-01 22:25] spotrh commented on #2302
opensearch's launcher binaries are all bash scripts. It would be rather trivial for it to check if OPENSEARCH_JAVA_HOME is unset (or unfound) and default to a "known good" value.... and in fact, it seems to do this:

from distribution/src/bin/opensearch-env
[code]

To address this for the RPM case (where JDK is provided as a dependency), if JAVA_HOME is unset (which only matters if OPENSEARCH_JAVA

[2022-03-02 01:08] opensearch-ci-bot opened #2307 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2917 in gradle_check log for more information.

[2022-03-02 01:31] opensearch-ci-bot opened #2309 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2919 in gradle_check log for more information.

[2022-03-02 02:41] Cai-Chen commented on #1276
Thanks @ryanbogan , thats bad news for me 😢

[2022-03-02 03:10] captainfalcon23 opened #2310 "Field with mapping of ip_range throwing SemanticCheckException"
**Describe the bug**

I am using AWS OpenSearch Service:

[code]
I am trying to create a new index template, with a field mapping of "ip_range". I can see this is supported in Elastic Search - https://www.elastic.co/guide/en/elasticsearch/reference/current/range.html#ip-range and commonly used in the Elastic Common Standard (ECS) which is what I am basing my template off of (so assume this should

[2022-03-02 08:57] melokk97 commented on #1447
@saratvemulapalli @dblock in the latest version plugin the bug did not reproduce

[2022-03-02 10:43] ivantr5 commented on #2227
Hi @dblock ,

Unfortunately the issue is still present. We tried first with increasing indices.query.bool.max_clause_count, but while AWS offers this setting, it does not seem to be recognized and apparently it is a bug on the AWS implementation of Opensearch.

[2022-03-02 15:06] asafm commented on #1179
This is great works towards supplying observability of search requests, specifically per shard (once done). I was wondering what is the state of this issue?

[2022-03-02 15:50] saratvemulapalli commented on #1447
@melokk97 @dblock I'll close this for now. Feel free to re-open when see problems.

[2022-03-02 15:50] #1447 closed

[2022-03-02 16:42] nknize opened #2311 "[BUG] o.o.search.SearchCancellationIT.testCancellationDuringFetchPhaseUsingRequestParameter"
Non-reproducible test failure caught on #2262

[code]

[code]

[2022-03-02 17:00] saratvemulapalli commented on #2019
Update: I was able to get OpenSearch to talk to a TCP server and receive a message.

[code]

[2022-03-02 18:34] dblock opened #2312 "[Proposal] Swap Adopt OpenJDK for Coretto"
**Is your feature request related to a problem? Please describe.**

Coming from https://github.com/opensearch-project/opensearch-build/issues/1682#issuecomment-1055923578, consider swapping AdoptOpenJDK for Coretto.

**Describe the solution you'd like**

Swap AdoptOpenJDK for [Coretto](https://aws.amazon.com/corretto/).

**Additional Context**

I'd like to hear thoughts from the community on this.

[2022-03-02 18:36] dblock commented on #2312
cc: @spotaws

[2022-03-02 19:01] jkowall commented on #2312
On the fence with this idea, I understand the pros of this for testing purposes, but I also understand the optics of it may not be the best idea in liu of the most popular open source Java distribution.

[2022-03-02 19:35] peterzhuamazon commented on #2154
In my experience centos is that flaky on endpoint.
Previously I just manually force it to use official mirror instead of other vault.

We cannot change to another distro at this point due to dependencies from knn.

[2022-03-02 19:55] owaiskazi19 commented on #2154
Can we use `vault.epel.cloud` for more reliability here as a mirror?

[2022-03-02 20:01] bbarani commented on #2154
FYI.. KNN dependency might not be an issue starting 2.0 as they are not going to be built in the distribution (rather built as standalone plugin) https://github.com/opensearch-project/opensearch-build/issues/1670

[2022-03-02 20:17] peterdm commented on #1990
I don't see how #1052 addresses this important question raised by @LuigiCerone .

The point of data tiers is twofold:  (1) manage the cost of perpetual data growth by trading down on hardware and latency for older data.  (2) Use data tiers effectively when querying.

If my application simply queries the alias set up by the ILM policy, I'm going against every index, no matter what tier.  That means

[2022-03-02 20:48] reta commented on #2312
@dblock why not Temurin ?

[2022-03-02 20:52] gaiksaya commented on #2154
If this is related only to OpenSearch tests (example gradle check) is switching distribution still an issue?

[2022-03-02 21:00] reta commented on #2154
@gaiksaya it is related to OpenSearch Docker distribution (and consequently, tests).

[2022-03-02 22:34] dblock commented on #2227
@ivantr5 Do you have a ticket open with AWS OpenSearch? If not, please do.

[2022-03-02 22:41] dblock commented on #2312
I don't have any good reason for/against one or the other, Temurin is what we ship with now. I only wanted to bring up the discussion so everybody can say why one distribution is preferred to them vs. another.

[2022-03-02 23:45] martin-gaievski opened #2319 "Provide build artifact assembled with JDK8"
### Is your feature request related to a problem? Please describe

If OpenSearch plugin has a dependency on classes from main repository this set the lower supported JDK version for the plugin to be same as JDK that used to build the plugin. This causes a problem as OpenSearch declares support for JDK8, but is built with JDK11. If I want to build my plugin with JDK8 I cannot do it, in build time I

[2022-03-03 00:06] reta commented on #2312
Temurin is vendor-neutral (comes from Eclipse foundation) and fully certified OpenJDK binary distribution. I have nothing against Amazon Correto / Microsoft / Azul Zulu / Bellsoft / SAP / RedHat / ... OpenJDK distributions, but my main argument - having vendor-neutral  bundled JDK for open source project makes sense.

[2022-03-03 16:55] #2176 closed

[2022-03-03 18:16] Poojita-Raj commented on #2294
Hi @psaiz!

If you just set the top level "profile" parameter to true in a search request, the response you get will be much more detailed and is already divided on a shard by shard basis. Each shard id will be in the form [nodeID][indexName][shardID] which already gives you the host and shard information you desire.

For each shard, you receive information about query execution, cumulative rewrit

[2022-03-03 19:10] owaiskazi19 commented on #2174
Update: Integrated Transport Service with k-NN plugin

[code]

[2022-03-03 19:17] CEHENKLE commented on #1593
Until this gets fixed, let's disable the whitesource integration.   Otherwise this is blocking our ability to build on 1.3

[2022-03-03 19:21] dblock commented on #2294
thanks @Poojita-Raj. I think at the very least we need to document this better? @psaiz what do you think should be the action items from this issue?

[2022-03-03 20:34] #2298 closed

[2022-03-03 20:34] #2319 closed

[2022-03-03 21:48] mch2 opened #2330 "[Segment Replication] Fix delete operations to only write to xlog on replicas."
**Describe the bug**
[This](https://github.com/opensearch-project/OpenSearch/commit/4822c2856fc77dec29a5a326d7e214829990e98e) change allowed index operations to noop on replicas and only write to the xlog.  We need a similar change to noop delete operations.  Right now these still get passed to the engine and invoke methods on a null indexwriter.

[2022-03-03 21:57] mch2 opened #2331 "[Segment Replication] - Fix corrupt index when verifying after file copy."
**Describe the bug**
The SegmentInfos object on primaries can be newer (after index or merge) compared to the segments_N file written to disk.  We are currently deleting segment files based off of a metadata list sent back from primary shards that is generated from the in memory SegmentInfos.  After files are copied we verify the index by reading the on disk segments_N file.  In the event this fil

[2022-03-03 22:02] mch2 opened #2332 "[Segment Replication]. Support graceful replication failure."
Right now when there is any error on replicas during the replication process the shard breaks and is not pulled from rotation or recreated.

The shard should fail gracefully by being removed from allocation and recreated.  When rebooted the shard should be able to recover and restart as new by picking up the next replication checkpoint.

[2022-03-03 22:57] mch2 opened #2333 "[Segment Replication] Remove unnecessary calls to directory.fsync and directory.syncmetadata"
These calls are not necessary with segment replication enabled and at last 1 replica shard.  They can be removed.  This change should be gated by our index setting.

[2022-03-03 23:53] andrross opened #2334 "[BUG] ./gradlew ':qa:full-cluster-restart:v1.3.0#oldClusterTest' fails"
Running the following test seems to fail consistently on main:

[code]

Failures:

[code]

[2022-03-04 00:04] andrross commented on #2334
The tests pass using this 1.x commit:

[code]

but fail using this commit:

[code]

looks like the backport PR #2315 might be the cause. @VachaShah care to take a look?

[2022-03-04 00:10] VachaShah commented on #2334
Sure I will take a look

[2022-03-04 00:26] VachaShah commented on #2334
@andrross Looks like this failure is on `main`, the original PR #1660 for backport #2315 has been merged since a few months to `main`.

[2022-03-04 00:30] andrross commented on #2334
@VachaShah The `':qa:full-cluster-restart:v1.3.0#oldClusterTest'` test task checks out the latest commit on the 1.x branch to run some backward compatibility tests. That test fails when running on main. The following command tells the test to use an older commit from 1.x (the commit before your backport commit), and then the tests pass:

[code]

If you point the test at the commit of your backport

[2022-03-04 00:38] VachaShah commented on #2334
Ah got it! That makes sense. I jumped to the comment too fast 🤦🏼‍♀️ . I will take a look at why this is failing bwc. Should I revert the commit till then?

[2022-03-04 00:40] andrross commented on #2334
It looks like there's a problem with an unexpected warning. If it is a quick fix then we can just go ahead with the fix. If you can't figure it out quickly then a revert would be better.

[2022-03-04 00:41] VachaShah commented on #2334
Sounds good, on it.

[2022-03-04 01:10] CEHENKLE commented on #1240
Yes, please do.  Thank you!

/C

[2022-03-04 04:12] Cai-Chen opened #2337 "Benchmarking on Graviton nodes"
I am comparing benchmark results on Graviton VS x86.

- Tool: rally
- Track: pmc
-  Instance: r5.2xlarge(volume IOPS 4500 in gp2) VS r6g.2xlarge(volume IOPS 4500 in gp3)

**Result**

Mean Throughput
Operation | type | unit | r5.2xlarge | r6g.2xlarge
-- | -- | -- | -- | --
index-append | Batch | docs/s | 1982.46 | 2865.43
default | Interactive | ops/s | 19.98 | 19.96
term | Interactive | ops/s | 19

[2022-03-04 06:49] dreamer-89 commented on #2334
@VachaShah : I started seeing `testRecoverReplica` more frequently in main gradle check failures. Is this also covered as part of fix here ?

[code]

Sample failure: https://github.com/opensearch-project/OpenSearch/pull/2335#issuecomment-1058829024

[2022-03-04 07:39] VachaShah commented on #2334
Yes it will fix the soft deletes warning that are causing this error.

[2022-03-04 08:55] Avimitin opened #2341 "Add RISC-V 64 Support"
**Is your feature request related to a problem? Please describe.**
I am trying to build this program on RISC-V 64 Arch Linux platform. And I found that it currently only support x86_64 and i386. I wonder if there are any x86_64 specific code? Or it can just be built without code modification?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descr

[2022-03-04 14:53] jkowall commented on #2337
Can you pass along the rally parameters you used? I looked at that track: https://github.com/elastic/rally-tracks/tree/master/pmc you only have 5 shards on this, and likely that wouldn't take advantage of the fact that Graviton has more threads per core. Additionally, you are using EBS and I would highly suggest using local SSD for these types of workloads.

[2022-03-04 15:09] dblock commented on #2334
Closed via https://github.com/opensearch-project/OpenSearch/pull/2339

[2022-03-04 15:09] #2334 closed

[2022-03-04 16:12] #1711 closed

[2022-03-04 16:56] lrynek commented on #1711
@dblock @reta @andrross Thank you guys! ❤️  🎉

[2022-03-04 17:15] opensearch-ci-bot opened #2345 "Jenkins Randomized Gradle Check Failed on 7f8e55dd04fd56375a7f99562e6f5bd44644d81f"
@opensearch-project/opensearch-core team, please take a look at Build 3035 in gradle_check log for more information.

[2022-03-04 17:46] reta opened #2347 "[BUG] org.opensearch.snapshots.ConcurrentSnapshotsIT.testQueuedOperationsOnClusterManagerRestart fails intermittently"
**Describe the bug**

The `org.opensearch.snapshots.ConcurrentSnapshotsIT.testQueuedOperationsOnMasterRestart` fails intermittently

[code]

**To Reproduce**
REPRODUCE WITH: `./gradlew ':server:internalClusterTest' --tests "org.opensearch.snapshots.ConcurrentSnapshotsIT.testQueuedOperationsOnMasterRestart" -Dtests.seed=897564BD2331D8E0 -Dtests.security.manager=true -Dtests.jvm.argline="-XX:TieredS

[2022-03-04 17:59] nknize opened #2348 "[CI] o.o.index.ShardIndexingPressureSettingsIT.testShardIndexingPressureEnforcedEnabledDisabledSetting"
Caught non-reproducible test failure on #2335

[code]

[code]

[2022-03-04 18:44] andrross opened #2350 "[BUG] 1.x changes can break builds on main"
The OpenSearch build process (i.e. `./gradlew check`) runs backward compatibility tests against the previous major version. For example, the main branch is currently building version 2.0, so the bwc tests check out the latest commit on the 1.x branch to build the opensearch engine artifacts to run tests that create a cluster with mixed versions and ensure compatibility. (Details on the branching s

[2022-03-04 18:50] owaiskazi19 opened #2351 "POC: Establish Communication and Send a TransportRequest to the extension"
**Is your feature request related to a problem? Please describe.**
A request coming to the TransportService required to be decoded, adding a protocol to it and making sure headers are present in it. Once the request is validated invoke the right extension point.

- [x] Get the right message protocol for TransportRequest
- [x] Serialize/Deserialize request for TransportService
- [x] Establish commu

[2022-03-04 18:52] #2174 closed

[2022-03-04 18:52] #1646 closed

[2022-03-04 18:52] #2020 closed

[2022-03-04 18:58] owaiskazi19 opened #2353 "[BUG] org.opensearch.snapshots.ConcurrentSnapshotsIT > testQueuedOperationsAndBrokenRepoOnMasterFailOver"
**Describe the bug**
Caught on https://github.com/opensearch-project/OpenSearch/pull/2325#issuecomment-1059411816.
[code]

[code]

[2022-03-04 19:01] andrross commented on #2353
Similar failure reported here #2347

[2022-03-04 19:11] dblock commented on #1910
If anyone is reading this for 1.3.0 we're going JDK11 for both building and bundling. See https://github.com/opensearch-project/opensearch-plugins/issues/64 or details.

[2022-03-04 20:32] mch2 opened #2355 "[Segment Replication] Merge back to main tracking issue."
There are significant gaps in unit & integration testing of the feature because this was not prioritized with the poc.  This issue will track issues to fill these gaps.

This is a list of how I think we could cut our feature branch to start merging back into main.  Each one of these should have unit coverage.

- [x] #2926
- [x] #2927
- [x] #3109
- [x] #3110
- [x] #3112
- [x] #3320
- [x] #3322

Mis

[2022-03-04 20:33] dreamer-89 opened #2356 "Handling multiple mapping type index templates"

[2022-03-04 20:33] dreamer-89 opened #2357 "Remove type from nested documents; where types used to store nested path information"
Remove _type field used to store nested paths

[2022-03-04 21:01] mch2 opened #2358 "[Segment Replication] Fix replicas to correctly update their processed local checkpoint."
We currently have a bug where replicas are attempting to replicate to checkpoints they are already on.  This is because updating the processedLocalCheckpoint on replicas is ignored.  We currently attempt to increment the sequence number [here](https://github.com/opensearch-project/OpenSearch/blob/b87d5aff26e30bb044b616bb25b241cc09261c8b/server/src/main/java/org/opensearch/index/engine/InternalEngi

[2022-03-05 00:13] owaiskazi19 opened #2359 "[BUG] org.opensearch.upgrades.FullClusterRestartIT > testEmptyShard FAILED"
**Describe the bug**
[code]

[code]

**Host/Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2022-03-05 00:34] #1484 closed

[2022-03-05 01:53] opensearch-ci-bot opened #2361 "Jenkins Randomized Gradle Check Failed on 5950974c5a2d3f93290f82052469054a4331db8c"
@opensearch-project/opensearch-core team, please take a look at Build 3069 in gradle_check log for more information.

[2022-03-05 02:01] Cai-Chen commented on #2337
Yes, I am using pmc with default challenge `append-no-conflicts`. Nothing specific in rally parameters, its like
`docker run elastic/rally:2.1.0 race --challenge=append-no-conflicts  --track=http_logs --target-hosts=host1, host2, host3--pipeline=benchmark-only --client options="use_ssl:true,verify_certs :false,basic_auth_user:'xxxx', basic_auth_password:'xxxxx'"`

What is the recommended number of

[2022-03-05 13:06] jeff1evesque commented on #1366
I've configured alerting using [SNS topic](https://github.com/jeff1evesque/opensearch_customization#configure-alerting) on my OpenSearch cluster, not sure it helps anyone. This approach can fan out to other AWS services allowing any dynamic option desired.

[2022-03-05 17:13] binbinjianjian opened #2366 "sql "track_total_hits": true setting Lose Efficacy"
POST /_plugins/_sql?format=json
{
  "query": "SELECT  * FROM logstash-java-* WHERE MATCH_PHRASE(message, 'ERROR') ",
  "track_total_hits": true
}

{
  "took" : 19,
  "timed_out" : false,
  "_shards" : {
    "total" : 1,
    "successful" : 1,
    "skipped" : 0,
    "failed" : 0
  },
  "hits" : {
    "total" : {
      "value" : 10000,
      "relation" : "gte"
    }

[2022-03-06 08:51] ylwu-amzn opened #2375 "[BUG] How to fail json parsing if pass double value to field with int type?"
**Describe the bug**
https://github.com/opensearch-project/ml-commons/issues/164

For ML plugin, we can pass int "iteraions" and "k" to train "kmeans" model. But when we pass double value, it also works, but convert the double value to int. Check our code [KMeansParams.java#L76](https://github.com/opensearch-project/ml-commons/blob/main/common/src/main/java/org/opensearch/ml/common/parameter/KMean

[2022-03-06 13:05] opensearch-ci-bot opened #2377 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3092 in gradle_check log for more information.

[2022-03-07 01:20] opensearch-ci-bot opened #2378 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 3095 in gradle_check log for more information.

[2022-03-07 16:11] psaiz commented on #2294
Hi @Poojita-Raj and @dblock

First of all, thanks for your comments and explanations.
I'm not sure I follow the comment about the top level profile. I'm doing the query like:
[code]
I hope this is the top level mentioned above.  Doing this query, I get something like:
[code]
So, for a query like this, on a single shard, that takes around 6 ms, the profiler give information about 0.1 ms. It's a pit

[2022-03-07 16:40] dblock commented on #2350
Is there a set of tests that can be run on branches (everywhere except `main`) that can catch these on PR?

[2022-03-07 16:42] dblock commented on #1711
@reta Could you please open issues to document this?

[2022-03-07 16:54] dblock commented on #2366
@binbinjianjian care to explain what you're trying to do and what the issue is?

[2022-03-07 16:55] dblock commented on #1991
https://github.com/opensearch-project/OpenSearch/pull/2232 and backported to 1.3.0.

[2022-03-07 16:55] #1991 closed

[2022-03-07 16:58] dblock commented on #479
There was an attempt in https://github.com/opensearch-project/OpenSearch/pull/553 to implement this that hasn't been finished. Please feel free to pick it up where it was left!

[2022-03-07 17:07] reta commented on #2036
Oh @AmiStrn , I now understand the problem clearly: the problem **is not range query**, the problem is referencing non-existing property in range query, which is `abc`:

[code]

If you replace `abc` with existing property, fe `metric`, you will get the desired result:

[code]

[code]

Will try to find out what is going on here

[2022-03-07 17:32] AmiStrn commented on #2036
We discovered this using a valid field (our timestamp field). I will check again using same setup.

[2022-03-07 17:52] owaiskazi19 commented on #2154
Closing this issue for now as the mirror url has been changed. Let's reopen if we face anymore downtime issue and have a plan to change the distribution.

[2022-03-07 17:52] #2154 closed, assigned to owaiskazi19, CEHENKLE

[2022-03-07 18:00] opensearch-ci-bot opened #2391 "Jenkins Randomized Gradle Check Failed on 7ff8fa8f5aed46bc988e83d67e44684cef749d3e"
@opensearch-project/opensearch-core team, please take a look at Build 3119 in gradle_check log for more information.

[2022-03-07 19:34] reta commented on #1711
Documentation: https://github.com/opensearch-project/documentation-website/issues/432

[2022-03-07 20:34] reta commented on #2036
@AmiStrn I have even more details for you: the validation is subject to what is stored in the index (I didn't know that!), at least for numeric/date fields there is an optimization which basically says if the index contains any document with the property value in required range or not. If none - the query is rewritten as `MatchNoneQuery` and this query is being validated instead of original one (a

[2022-03-07 21:31] ylwu-amzn commented on #2375
@nknize Do you have any suggestion on this?

[2022-03-08 07:45] shwetathareja commented on #1788
@piyushdaftary : Right now there is a deadlock in the code due to blocking call. Even if you move to different "snapshot" threadpool, the blocking wait would still be there and in case snapshot threadpool is exhausted then those threads would remain waiting. This bug has to be fixed either ways.

Regarding having a different threadpool for snapshot. It is not critical operation, hence didn't sugge

[2022-03-08 08:03] kavilla commented on #2366
Probably something similar to this https://github.com/opensearch-project/OpenSearch/issues/2093.

Where although they are passing `track_total_hits` the results show total hits being `10000` even though there should be more hits.

[2022-03-08 12:36] balar06 opened #2405 "Unable to Rollback OpenSearch 1.2.3 from OpenSearch 1.2.4"
**Describe the bug**
Unable to Rollback OpenSearch 1.2.3 from OpenSearch 1.2.4

Steps to reproduce the behavior:
Test Case:
1. Deploy OpenSearch 1.2.3
2. Upgrade OpenSearch 1.2.4
3. Rollback to previous version of OpenSearch 1.2.3
4. Rollback failed with below error message

[2022-03-08T12:01:59.059Z][ERROR][o.o.b.OpenSearchUncaughtExceptionHandler] [eric-data-search-engine-data-1] uncaught except

[2022-03-08 16:35] #1547 closed

[2022-03-08 16:39] saratvemulapalli commented on #2179
If I understand this correctly, the ask to enable plugins to register custom exceptions which should be thrown to the user.

If so, the best way I can think of is to expose a [new extension point ](https://github.com/opensearch-project/OpenSearch/blob/1.2/server/src/main/java/org/opensearch/plugins/Plugin.java#L257)and let each plugin define its custom exceptions.
[OpenSearchException](https://git

[2022-03-08 18:10] dblock commented on #2405
At the very least this needs to be (better) documented. I don't see anything in https://opensearch.org/faq. Care to open issues in documentation-website and project-website @balar06, please?

[2022-03-08 18:26] kartg commented on #2202
I have a PR open to `main` that is a pre-requisite refactor for this change - #2396

[2022-03-08 19:07] Rishikesh1159 commented on #1240
I was able to root cause failure in Alerting plugin. In order to fix this issue #1240 I moved call to setupDownloadServiceRepo() in DistributionDownloadPlugin.java from apply() method to setupDistributions() method, which is called in afterEvaluate(). Here is PR: https://github.com/opensearch-project/OpenSearch/pull/2086

-> This change made to setup repo at the end of configuration phase [One of

[2022-03-08 19:35] anasalkouz commented on #2366
Closing this, since we are tracking this as feature enhancement on https://github.com/opensearch-project/OpenSearch/issues/2093. Feel free to reopen if you have more questions or concerns.

[2022-03-08 19:35] #2366 closed

[2022-03-08 19:48] #1689 closed

[2022-03-08 19:52] anasalkouz commented on #2337
I think we should document a recommended cluster setup per node type.

[2022-03-08 20:11] mhoydis13 opened #2411 "[BUG] Percentiles aggregation through cross-search fails with security_exception"
**Describe the bug**
The percentiles aggregation fails with strange "security_exception" message when used in conjunction with cross-search remote cluster.  The same search succeeds against local data.  The problem appears to be specific to a search involving a percentiles aggregation - other types of aggregations succeed.  This issue manifests in Dashboards as well as the native search api endpoi

[2022-03-08 22:00] ylwu-amzn commented on #2375
Figured out we should set `coerce` as `false` to apply more strict check, https://github.com/opensearch-project/OpenSearch/blob/main/libs/x-content/src/main/java/org/opensearch/common/xcontent/XContentParser.java#L213

[2022-03-08 22:00] #2375 closed

[2022-03-08 23:03] peterzhuamazon opened #2412 "[BUG] tar: opensearch-1.3.0/jdk/...: implausibly old time stamp 1970-01-01 00:00:00 (JDK 11) in 1.3.0"
[code]

This only happens in 1.3.0 after we change to JDK11.
I am not able to understand how this is coming from.

To reproduce, download this and extract it:
[code]

Thanks.

[2022-03-08 23:23] reta commented on #2412
@peterzhuamazon I cannot reproduce it on my Ubuntu 21.10 :(

[2022-03-08 23:28] peterzhuamazon commented on #2412
Interesting, it shows on my AL2 test machine.
Let me dig a bit more into it.

Thanks.

[2022-03-08 23:31] peterzhuamazon commented on #2412
Seeing some possibly related notice here: https://bugzilla.redhat.com/show_bug.cgi?id=1229160

[2022-03-08 23:42] #1805 closed

[2022-03-08 23:43] peterzhuamazon commented on #2412
I am specifically testing on AL2 EC2 instance.
Not sure about containers at the moment.

[2022-03-09 00:05] Poojita-Raj opened #2414 "[BUG][Segment Replication] Gradle check failures"
**Describe the bug**
Gradle check currently does not pass for feature/segment-replication branch and fails multiple tests with thread leaks.
Tests with failures:
 - org.opensearch.ExceptionSerializationTests.testExceptionRegistration
 - org.opensearch.action.support.replication.TransportReplicationAllPermitsAcquisitionTests.classMethod
 - org.opensearch.action.bulk.TransportShardBulkActionTests.cl

[2022-03-09 00:20] kotwanikunal commented on #2412
Ran it on Ubuntu 20.04 and AL2 5.1
Noticed similar issues with AL2. Investigating
[AL2-tar-log.txt](https://github.com/opensearch-project/OpenSearch/files/8210622/AL2-tar-log.txt)
[ubuntu-tar-log.txt](https://github.com/opensearch-project/OpenSearch/files/8210629/ubuntu-tar-log.txt)

[2022-03-09 01:59] owaiskazi19 commented on #2061
Hi @willyborankin! I tried running gradle check on CentOS and got the below error for the test `testLogWarnCpuMessageOnlyOnes`
[code]
Do you have any idea for the same?

[2022-03-09 06:15] binbinjianjian commented on #2366
i  know hit How much data

[2022-03-09 06:30] balar06 commented on #2405
Hi @dblock ,
Thanks a lot for quick reply.
Does rollback supports between this two version OpenSearch 1.2.4 to OpenSearch 1.2.3?

[2022-03-09 15:21] dblock commented on #2405
AFAIK Elasticsearch never supported downgrade on a single node environment and the recommendation has always been to snapshot your data and restore if you need to downgrade. Is that correct @saratvemulapalli? If so we should start by documenting it, and turn this issue into a feature request to support easy (easier) downgrading.

If you're doing a rolling upgrade I believe you can still abort the

[2022-03-09 17:08] saratvemulapalli opened #2417 "Integration and Unit Tests for SDK"
- [X] Test Structure
- [X] Gradle Project Setup for Tests

Unit Tests
- [X] Test for the main script (RunPlugin.java)

Integration Tests
- [X] Test that transport service information is properly exposed
- [X] Test the action listener
- [X] Test for message format
- [X] Test for message protocol
- [ ] Test for deserialize/ serialize message

[2022-03-09 17:20] joshpalis commented on #2231
Here is the work done to create the new [custom extension](https://github.com/joshpalis/latency-tester/tree/latency-tester-plugin)

Here is the work done to integrate the new extension with the [transport service](https://github.com/joshpalis/latency-tester/tree/transport-service-integration)

[2022-03-09 17:40] saratvemulapalli commented on #2405
@dblock  Correct. Elasticsearch/OpenSearch never supported downgrades including multi cluster nodes.
The way it works is, when the leader (alias master) node is upgraded to newer version it cannot be downgraded. Old leader node can communicate with new data nodes but not vice versa.

The only way this is possible is via taking a snapshot and restoring it on a fresh new downgraded cluster.

+1 to t

[2022-03-09 18:10] kotwanikunal commented on #2412
Found a similar issue: https://jira.mongodb.org/browse/TOOLS-2706
https://github.com/mongodb/mongo-tools/pull/309/files

[2022-03-09 18:13] owaiskazi19 commented on #2061
I should have mentioned that. The kernel version is `Linux 5.11.0-1020-aws`, CentOS version is `CentOS Linux release 7.9.2009 (Core)` and yes, I have the above mentioned directory in my system.

[2022-03-09 18:22] reta commented on #1873
@dblock @anasalkouz I will take a look at it

[2022-03-09 18:31] reta commented on #2061
@owaiskazi19 sorry, one more thing, are you running tests in Docker?

[2022-03-09 19:18] owaiskazi19 commented on #2061
Hey @reta! Yes, I'm running the gradle check in Docker and the image is `opensearchstaging/ci-runner:centos7-x64-arm64-jdkmulti-node10.24.1-cypress6.9.1-20211028`.

[2022-03-09 19:33] jmazanec15 opened #2418 "[BUG] EnginePlugin always requires user to implement getEngineFactory"
**Describe the bug**
EnginePlugin interface requires plugins to implement [getEngineFactory](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/plugins/EnginePlugin.java#L59). However, when a user just wants to implement `getCustomCodecServiceFactory`, it requires them to implement this method and return Optional.empty().

**To Reproduce**
Implement Engi

[2022-03-09 20:08] Rishikesh1159 commented on #1240
Here is the [exact line](https://github.com/opensearch-project/alerting/blob/5f18a5cef6047358d4ea38c79fe3b13968f72bd2/build-tools/opensearchplugin-coverage.gradle#L50) where Alerting plugin fail with my previous reverted PR #2086. There are other plugins using similar piece of code but for those this piece of [code](https://github.com/opensearch-project/k-NN/blob/bb283932b5834172142d18188668db8fa3

[2022-03-09 20:52] macrakis commented on #2341
Thanks for your interest in running OpenSearch on RISC-V. Although RISC-V is not explicitly a supported platform, OpenSearch should build and run correctly on any JVM platform, except for a small amount of functionality that depends on native x86 code, notably KNN.

I suggest you go ahead, build it, and try it out. I will close this issue report, but if you run into difficulties, please provide a

[2022-03-09 21:21] anasalkouz commented on #2341
Closing this for now. @Avimitin, please feel free to reopen if you faced any issues during the build

[2022-03-09 21:53] #2197 closed

[2022-03-09 22:45] dblock commented on #2299
Closed in https://github.com/opensearch-project/job-scheduler/pull/138.

[2022-03-09 22:45] #2299 closed

[2022-03-10 00:01] dreamer-89 commented on #2257
Branch `1.3` created.
https://github.com/opensearch-project/OpenSearch/compare/1.x...1.3?expand=1

[2022-03-10 02:45] Avimitin commented on #2341
Context: building on Linux 5.16.11-arch1-1 (riscv64) QEMU environment, for opensearch version 1.2.4, using java-11-openjdk, gradle 6.6.1.

---

I actually got problem when building the opensearch. During the build, it reports that `can not determine architecture from [riscv64]`, this error is from `Script '/build/opensearch/src/OpenSearch-1.2.4/gradle/runtime-jdk-provision.gradle' line: 33`.

I tr

[2022-03-10 03:51] ryanbogan commented on #1276
I used m5.xlarge for x64 and m6g.xlarge for arm64 @Cai-Chen

[2022-03-10 04:09] GaneshbabuRamamoorthy opened #3043 "Opensearch helm charts is not working in IPv6 K8s cluster"

[2022-03-10 08:28] sevenval-admins opened #2425 "LDAP Connection timed out when not using global catalog port in LDAP config"
**Describe the bug**
Hi everybody, I am not sure if this is a bug but I would like to share with you my experience in order to know if anyone else has had the same problem, how and if they have solved it.
I installed opensearch and opensearch-dashboard via helm-chart, rewrote the opensearch configuration to connect my LDAP server to the opensearch instance for authc and authz.
Initially I used por

[2022-03-10 11:03] dipenpatel235 opened #2426 "Indiecs getting created in Master and Cordinator, rather than warm or hot nodes"
Hello

I have set up an OpenSearch cluster for a coordinator, master, hot, and warm data nodes.

I am facing an issue with the storage of my `**coordinator node**` and `**master node**`   **harddisk getting full**

just look at my architecture

nodes                           storage and ram
coordinator node: 192.168.0.1   with 15Gb ram and 240GB hard disk
master node: 192.168.0.2        with 15Gb

[2022-03-10 12:22] kunal-parsewar opened #2427 "[BUG] UNable to parse SAML COnfig"
**Describe the bug**
I am trying to enable SSO using saml with Azure AD for OPensearch and Opensearch dashboard. But after doing the configuration , getting error like " Failed parsing SAML config".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
SSO should work.

**Plugins**
All the default plugins .

[2022-03-10 13:28] Ismaeaeal opened #2428 "[Feature Request] Adding "shape" data type to OpenSearch"
Hello,

OpenSearch allows to represent points and shapes in a geographical context using the geo_shape data type. However, this use case does not allow representing arbitrary shapes. Elasticsearch provides this feature using the "shape" data type under the x-pack license https://www.elastic.co/guide/en/elasticsearch/reference/7.10/shape.html.

Some use cases for this could be storing documents tha

[2022-03-10 13:31] reta commented on #2426
@dipenpatel235 could you please share the `curl https://<any node>:9200/_cat/shards?v=true` ?

[2022-03-10 16:24] dblock commented on #2341
Let's reopen this now that we have a clear bug.

I don't have an answer to your question @Avimitin, but add comments to the issue as you make progress!

[2022-03-10 19:41] dblock commented on #1591
https://stackoverflow.com/questions/60616244/replace-nio-file-pathofstring-for-java-8 Should help

[2022-03-10 20:10] mch2 opened #2431 "[Segment Replication] Bug - Missing store stats from /_cat/shards API."
**Describe the bug**
When issuing a call to _cat/shards there is no store size returned for replica shards.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a cluster with ./gradlew run with numberOfNodes=2.
2. Create an index with segrep enabled
3. Index a document.
4. Issue _cat/shards and see that replicas do not have size returned.

**Expected behavior**
Replicas should return all s

[2022-03-10 22:11] #2195 closed

[2022-03-10 22:15] dreamer-89 commented on #2296
As per discussion with team and @reta's feedback; the general consensus is not to include API bwc compatibility for now. Closing this issue.

[2022-03-10 22:15] #2296 closed

[2022-03-10 22:37] dreamer-89 opened #2434 "org.opensearch.upgrades.FullClusterRestartIT.testEmptyShard"
I can see current gradle failures happening due to this issue.

Failure trace
[code]

❌   Gradle Check failure https://github.com/opensearch-project/OpenSearch/commit/c5141ef5ea6e20f736fc8781b44e3bb44bd93315
[Log 3234](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3234.log)

[Reports 3234](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Ch

[2022-03-10 22:57] owaiskazi19 commented on #2434
Hey @dreamer-89. This looks like a duplicate of https://github.com/opensearch-project/OpenSearch/issues/2359.

[2022-03-10 22:59] owaiskazi19 commented on #2353
We close this as it's a duplicate of https://github.com/opensearch-project/OpenSearch/issues/2347.

[2022-03-10 22:59] #2353 closed

[2022-03-10 23:47] dreamer-89 commented on #2434
Thanks @owaiskazi19 for pointing out. Closing this in favour of #2359

[2022-03-10 23:47] #2434 closed

[2022-03-11 02:02] gubendran-tech opened #2436 "[BUG] - java.util.concurrent.CompletionException: java.lang.RuntimeException] without root cause in 1.0, 1.1 and in 1.2"
We migrated to openSearch 1.1 from ElasticSearch. We often see java.lang.RuntimeException in **java.lang.NullPointerException: null
	at org.opensearch.client.RestHighLevelClient$1.onFailure(RestHighLevelClient.java:1569)** when we try to send multiple request from our Springboot java application. We use Java High-level rest client.

**To Reproduce**
Steps to reproduce the behavior:
1. Have OpenSea

[2022-03-11 02:31] nknize commented on #2359
This is fixed by [this commit](https://github.com/opensearch-project/OpenSearch/pull/2400/commits/13a592d561965f177f167b6771c6b007402a1bc3)

In short, the `index.translog.retention.size` setting is deprecated and only applied in `testEmptyIndex` for Legacy 6.x indexes (which are no longer supported in 2.0). This should've been removed #2225 but I missed it.

[2022-03-11 04:36] #2359 closed

[2022-03-11 05:50] dreamer-89 commented on #2003
https://github.com/opensearch-project/OpenSearch/pull/2433

[2022-03-11 05:51] #2003 closed

[2022-03-11 05:55] dreamer-89 commented on #1703
This issue is still causing gradle check failures; even though this specific test is not reproducible when only this test is run.

@anasalkouz : Reopening this to have correct root cause fix.

[2022-03-11 06:01] tlfeng opened #2440 "[BUG] Flaky test failure - v1.2.5#mixedClusterTest - yaml rest test - indices.get_field_mapping"
**Describe the bug**
Seen in https://github.com/opensearch-project/OpenSearch/pull/2437#issuecomment-1064790619

Gradle run result:
[Log 3252](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3252.log)
[Reports 3252](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3252_reports.zip)

**To Reproduce**
I can't re

[2022-03-11 06:03] dreamer-89 commented on #1996
Closing this issue, as meta (#1940 ) is already tracking each rest action.

[2022-03-11 06:03] #1996 closed

[2022-03-11 06:12] dipenpatel235 commented on #2426
@reta
Heare is my cluster shards  allocation
![2022-03-11_11-41](https://user-images.githubusercontent.com/8135097/157812526-b61356f3-681c-4d7c-81a3-4af100f25228.png)

[2022-03-11 06:32] tlfeng opened #2442 "[BUG] Flaky test failure - org.opensearch.blocks.SimpleBlocksIT > testAddBlockWhileDeletingIndices"
**Describe the bug**
Seen in https://github.com/opensearch-project/OpenSearch/pull/2438#issuecomment-1064807138

Gradle run result:
[Log 3254](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3254.log)
[Reports 3254](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3254_reports.zip)
**To Reproduce**
I can't rep

[2022-03-11 06:42] kotwanikunal commented on #2412
Pointed the head to before the JDK changes - https://github.com/kotwanikunal/OpenSearch/tree/test-jdk-issue
[code]

Ran `./build.sh -p linux -a x64 -d tar manifests/2.0.0/opensearch-2.0.0.yml --component OpenSearch`, followed by `./assemble.sh builds/opensearch/manifest.yml `

Extracting the resulting tar file still gives the same error.

[2022-03-11 06:45] kotwanikunal commented on #2412
Binary searched through the distribution builds. The issue started to occur with [Build 755](http://jenki-jenki-fpgmrv2ryxko-1366042710.us-east-1.elb.amazonaws.com/job/distribution-build-opensearch/755) exactly.
The distribution build occurred around `February 2, 2022, 11:43:17 (UTC-08:00)`

[2022-03-11 07:27] balar06 commented on #2405
It's a major test case in our environment and should support both rollbacks and upgrade.

[2022-03-11 10:21] ict-one-nl opened #2443 "Support GraphQL natively in Opensearch"
**Is your feature request related to a problem? Please describe.**
The Elasticsearch REST is API can be cumbersome. GraphQL is a widely used query language that is supported by many tools. It could be beneficial to support this out of the box to improve the interoperability of opensearch. There is a solution to provide this as an add on to Elasticsearch but I haven't found it for Opensearch.

**De

[2022-03-11 12:40] binbinjianjian opened #2444 "Is there a "NOT MATCH_PHRASE" usage?"
POST /_plugins/_sql?format=json
{
  "query": "SELECT * FROM log WHERE @timestamp BETWEEN '2022-01-29T00:30:00.000' AND '2022-01-29T09:00:00.000' AND MATCH_QUERY(level, 'ERROR') AND NOT MATCH_PHRASE(message,'Read timed out')"
}

I want to exclude the error log related phrases, but `NOT MATCH_PHRASE` does not take effect, find all the Read timed out log entries' Is there a problem with the spelling?

[2022-03-11 13:25] opensearch-ci-bot opened #2445 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 3262 in gradle_check log for more information.

[Log 3262](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3262.log)

[2022-03-11 13:31] dipenpatel235 commented on #2426
Hello @reta

So, what is the issue? and why does it store the indices in the coordinator node and master node rather than warm node and hot node?

[2022-03-11 13:49] reta commented on #2426
@dipenpatel235 I don't know yet, just collecting the details, I see that master & coordinator do have significantly smaller amount of shards (and occupied disk space), could you please  also share `curl http://<any node>:9200/_cat/nodes?v=true` output? thank you.

[2022-03-11 13:56] dipenpatel235 commented on #2426
Hello @reta

Here is the _cat/nodes

![image](https://user-images.githubusercontent.com/8135097/157881294-dbf049f0-e1e5-4e60-ad68-debd76ce443f.png)

[2022-03-11 14:24] reta commented on #2426
@dipenpatel235 so you could see here that your `master` and `coordinator` **do not have** correct roles set, both are `dimr` - which is `data`, `ingest`, `master` and `remote_cluster_client`. As per documentation [1], [2]:

[code]

[code]

[1] https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#coordinating-only-node
[2] https://www.elastic.co/guide/en/elasticsearch/r

[2022-03-11 14:27] reta commented on #2444
@binbinjianjian please one the issue / question against corresponding plugin [1], thnak you.

[1] https://github.com/opensearch-project/sql

[2022-03-11 14:38] dipenpatel235 commented on #2426
@reta

I have also tried this but getting errors on both nodes.

look at the error of the master node:

![image](https://user-images.githubusercontent.com/8135097/157888113-23fff86b-db7b-4da3-b3e2-347323330804.png)

coordinator node:

![image](https://user-images.githubusercontent.com/8135097/157888253-a3fbdc5c-4ba3-42b9-bfba-a5e94814415e.png)

[2022-03-11 16:47] reta commented on #1748
All fixes went into `com.azure:azure-core:1.26.0`, good to go

[2022-03-11 18:29] eean commented on #1926
you can't even use an older open source ElasticSearch server like 7.9 anymore because of these version checks. Supposedly it was always the case that you were not supposed to upgrade your high level elasticsearch client before upgrading your server, which is rather unrealistic for ISVs.  But now they are enforcing this guideline with these checks.

[2022-03-11 18:51] dblock commented on #2436
Looks like a bug. Do you have a repro that we can look at, or maybe want to help turn it into a unit test in this project?

Looking at https://github.com/opensearch-project/OpenSearch/blob/main/client/rest-high-level/src/main/java/org/opensearch/client/RestHighLevelClient.java#L1571 there's probably a response that causes this exception that should be reproducible.

[2022-03-11 19:05] dblock commented on #2405
Care to please elaborate? What's your environment? Why is snapshot -> rollback not an acceptable solution?

[2022-03-11 19:10] dblock commented on #2443
Have you tried using graphql-compose-elasticsearch? It might "just work" against 1.x of OpenSearch. If not, maybe open an issue in https://github.com/graphql-compose/graphql-compose-elasticsearch to support OpenSearch? Or that project needs to be forked into graphql-compose-opensearch?

I love GraphQL and love this idea, but I think it doesn't belong in OpenSearch engine because it's another API f

[2022-03-11 23:16] saratvemulapalli opened #2447 "Steps to make OpenSearch Extensible"
## Introduction

OpenSearch is committed to being a vibrant and welcoming community-developed product.  Community development, at its best, lets people with diverse interests have a direct hand in guiding and building products they will use; this results in products that meet their needs better than anything else.  Additionally, community development allows the project to scale, as the community i

[2022-03-11 23:24] #1590 closed

[2022-03-12 00:26] mch2 commented on #2331
On the first step of our replication process replica shards request bytes representing the latest SegmentInfos object on the primary and a list of file metadata computed from that SegmentInfos.  The SegmentInfos object from which metadata is computed is an in memory version of the Segments_N file on disk that references all active segments.  The Segments_N file on disk is only updated during a com

[2022-03-12 01:10] opensearch-ci-bot opened #2449 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3270 in gradle_check log for more information.

[log_3270](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3270.log)

[2022-03-12 04:52] tlfeng commented on #2449
It's reported in #2440.

[2022-03-12 04:59] tlfeng commented on #2445
It's similar to issue https://github.com/opensearch-project/OpenSearch/issues/2359
[code]
[code]

[2022-03-12 05:44] #2202 closed

[2022-03-12 22:39] tlfeng commented on #2440
There is an attempt to fix in the commit https://github.com/opensearch-project/OpenSearch/pull/2439/commits/4577e73f2c5cfc96616ed4ab26ca4325ed49c7c4

[2022-03-13 02:24] tlfeng commented on #1565
Add more information:

https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1066.log

[code]

[2022-03-13 03:29] tlfeng commented on #1561
Add more information:

https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_992.log

[code]

[2022-03-14 05:19] tlfeng commented on #2440
I tested the REST API manually in OpenSearch single node of both 1.x branch and 2.0 branch:
[code]
[code]
Unfortunately, I didn't get 404 response code, or empty response body `{}`. Maybe it will only shows error in cluster with nodes of both 1.x and 2.0 versions.

[2022-03-14 12:36] sachinpkale commented on #1694
Segment replication should benefit current snapshot mechanism. Today, in the case of failover, snapshot is taken for the entire data of new primary. As the segment files would be same, we can continue using incremental way. Thoughts?

[2022-03-14 16:56] tlfeng opened #2458 "Replace "blacklist / whitelist" terminology in Gradle build environment configuration"
**Is your feature request related to a problem? Please describe.**
Replace the system property name `tests.rest.blacklist` that used for skipping some of the YAML-based REST tests in gradle task.

A part of issue [#1483](https://github.com/opensearch-project/OpenSearch/issues/1483)

**Describe the solution you'd like**
- Replace the system property name `tests.rest.blacklist` with `tests.rest.deny

[2022-03-14 16:58] macrakis commented on #1018
@andreaAlkalay Can you tell us more about your business scenario and why the flattened type is important to it? Thanks.

[2022-03-14 17:50] travisbenedict opened #2461 "OpenSearch Performance Experiments Results"
## Background

Using OpenSearch 1.2 build 762 ([arm64](https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.4/762/linux/arm64/dist/opensearch/manifest.yml
)/[x64](https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.4/762/linux/x64/dist/opensearch/manifest.yml)) I ran a set of ~20 performance tests for each of the following single node configurations:

1.  m5.xlarge - S

[2022-03-14 18:30] raphlopez opened #2462 "[BUG] repository-azure plugin: SAS authentication fails"
**Describe the bug**
Loading the `repository-azure` plugin fails when providing a SAS token rather than a Storage Account key for Azure authentication.

**To Reproduce**
Steps to reproduce the behavior:
1. Start an opensearch server with a keystore containing the following keys (any value should work to reproduce this bug):
- `azure.client.default.account`
- `azure.client.default.sas_token`
- `azu

[2022-03-14 18:42] reta commented on #2462
@raphlopez could you please try without using `azure.client.default.endpoint_suffix`?

[2022-03-14 19:08] raphlopez commented on #2462
@reta it does work with `azure.client.default.endpoint_suffix` removed, but there is a use-case for authenticating to other clouds in azure with different `endpoint_suffix` (e.g. `core.chinacloudapi.cn` for Azure China, or `core.cloudapi.de` for Azure Germany.)

Looking back, I could see this being categorized as a feature request more than a bug report - let me know if you'd like me to adjust the

[2022-03-14 19:10] saratvemulapalli opened #2464 "[BUG] Breaking changes for 2.0"
Inclusive Naming:
- [ ]

[2022-03-14 19:10] #2464 closed

[2022-03-14 19:43] reta commented on #2063
For `NumberFieldTypeTests`, opened https://issues.apache.org/jira/browse/LUCENE-10466

[2022-03-14 21:09] dreamer-89 commented on #2257
To generate release notes, used below command
[code]

[2022-03-14 21:11] #2036 closed

[2022-03-14 22:49] dreamer-89 commented on #2257
Opened issue on opensearch-website for documentation side changes.
https://github.com/opensearch-project/documentation-website/issues/448

[2022-03-14 23:25] tlfeng opened #2467 "Remove deprecated settings `gateway.expected_master_nodes` and `gateway.recover_after_master_nodes`"

[2022-03-14 23:25] #2467 closed

[2022-03-15 03:57] tlfeng commented on #1828
For detail, please see issue https://github.com/opensearch-project/OpenSearch/issues/1693 for the error message of `MasterNotDiscoveredException`

[2022-03-15 12:42] nknize commented on #2440
Muting test in #2452. It looks related to the intermediate state we're in for types removal. Should resolve once that's complete.

[2022-03-15 12:45] DiogoGoncalves opened #2470 "[BUG][OpenSearch] - [ERROR][o.o.s.f.SecurityFilter ] [host34.company.com.sa] OpenSearch Security not initialized for indices:admin/get"
I've did an upgrade at an on-prem instalation from OpenDistro 7.10.2 to OpenSearch 1.2.9 with tarball and upgrade tool, on a 3 masters and 9 data nodes configuration.
After upgrade on all nodes, I've started the masters but the cluster health remains RED, the master1 (first initiated) records warnings regarding the disc space, despite only 2% of the mountpoint is being used. Then is the OpenSearch

[2022-03-15 14:19] dblock commented on #1591
OpenSearch 1.3.0 has restored JDK8 support via https://github.com/opensearch-project/opensearch-plugins/issues/64. Please reopen if you're still seeing problems on JDK8.

[2022-03-15 14:19] #1591 closed

[2022-03-15 14:28] nknize opened #2472 "[CI] o.o.blocks.SimpleBlocksIT.testAddBlockWhileDeletingIndices"
Caught in #2460; similar to #2442 looks like a timeout issue. Reporting for posterity.

[code]

[code]

[2022-03-15 15:11] drunken-monkey opened #2474 "Undocumented functionality of passing an array in the "query" key of "has_child"/"has_parent" has inconsistent behavior"
## Problem

Unfortunately, it doesn’t seem like the `has_child` query is even documented yet, so calling any specific usage of it “undocumented” is a bit of a stretch. However, if we assume that the documentation should be [the same as for Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/query-dsl-has-child-query.html), then there are two problems:

1. Even though the `q

[2022-03-15 15:25] dblock commented on #2449
Closing as dup.

[2022-03-15 15:25] #2449 closed

[2022-03-15 15:25] dblock commented on #2445
Closing as dup.

[2022-03-15 15:25] #2445 closed

[2022-03-15 15:43] #1748 closed

[2022-03-15 17:33] #2470 closed

[2022-03-15 19:12] opensearch-ci-bot opened #2479 "Jenkins Randomized Gradle Check Failed on 636db0caafa49a4b9317831b33795cce149696ea"
@opensearch-project/opensearch-core team, please take a look at Build 3414 in gradle_check log for more information.

[2022-03-15 21:07] tlfeng commented on #2479
[gradle_check_3414.log](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3414/artifact/gradle_check_3414.log)
[gradle_check_3414_reports.zip](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3414/artifact/gradle_check_3414_reports.zip)

[code]
This is tracked in issue [2440](https://github.com/opensearch-projec

[2022-03-15 21:07] #2479 closed

[2022-03-15 23:03] saratvemulapalli opened #2480 "[BUG] Breaking changes in 2.0"
## Inclusive Naming

- [ ] https://github.com/opensearch-project/OpenSearch/issues/1549 - Breaking changes in all `master` RestAPIs
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1547
- [ ] https://github.com/opensearch-project/OpenSearch/issues/1484

### Concerning changes
- All RestAPIs are backwards compatible but changes have to be made in the consumers (like plugins, clients) a

[2022-03-15 23:12] saratvemulapalli commented on #1067
@nknize I'm compiling a list of breaking changes for 2.0 and action items for plugins, clients to gear up for the work.
Do you happen to have a clear list of changes and what artifacts could be impacted ?

Ref: #2480

[2022-03-16 03:56] sachinpkale opened #2481 "POC: Handling failover with remote segment storage"
The way we store segments in remote segment storage ([Feature Proposal](https://github.com/opensearch-project/OpenSearch/issues/1968)) depends on how we handle failover.

In document based replication, segments are created separately on primary and replicas and the process is not in sync. This means, number of segments can be different. Also, if we inspect the segments for primary and replica, the

[2022-03-16 06:40] saikaranam-amazon opened #2482 "[BUG] Breaking changes for CCR plugin in OS 2.0"
**Describe the bug**
CCR depends on IndexShard(getHistoryOperations) to retrieve translog operations for leader index.
In 2.0, this method is removed in this PR: https://github.com/opensearch-project/OpenSearch/pull/2077

[code]

**Expected behavior**
- Please provide replacement for this method in 2.0 to retrieve operations based on history-source.

[2022-03-16 15:10] dblock commented on #2470
@DiogoGoncalves Was this coincidental or was the failure avoidable and caused by the upgrade?

[2022-03-16 15:14] dblock commented on #2481
Tagging @mch2 @kartg @andrross for feedback!

[2022-03-16 15:16] dblock commented on #2482
@saratvemulapalli What was this deprecated for?

[2022-03-16 15:19] reta commented on #2063
PluginsServiceTests are green, https://github.com/opensearch-project/OpenSearch/pull/2484

[2022-03-16 16:05] reta commented on #2063
@nknize I am working on  NumberFieldTypeTests.testIndexSortIntRange

[2022-03-16 16:13] nknize commented on #2063
IndexShardHotspotTests are passing but this one test is taking upwards of 25 minutes+. @ashwinpankaj can we reduce [this test](https://github.com/opensearch-project/OpenSearch/blob/77d106015fdc28ba29bb758ba76e0cf790f61da3/server/src/test/java/org/opensearch/cluster/routing/allocation/IndexShardHotSpotTests.java#L114) from 100 indices + 5 shards to something much more expedient?

I don't want to un

[2022-03-16 17:10] reta commented on #2063
:+1: @nknize that's the same cause as NumberFieldTypeTests.testIndexSortIntRange

[2022-03-16 18:12] DiogoGoncalves commented on #2470
@dblock I believe it wasn't from the OpenDisto -> OpenSearch upgrade.
I didn't stop logstash because I was doing a node by node upgrade, and I guess it kept pumping logs into OpenSearch that were not treated (removed). There was also a problem with the OpenSearch dashboard that kept sending debug messages to OpenSearch because he couldn't connect to it (at this time the cluster was yellow). I didn

[2022-03-16 19:03] balar06 commented on #2405
@dblock
Environment: K8
In this case, there will be downtime in the OpenSearch rollback and restore backup option, due to the service downtime, we are facing the loss of data ingestion in the OpenSearch index.
How to keep the high service availability and reduce the risk of the loss of data ingestion in rollback?

helm rollback OS 1.2.4 to 1.2.3 ,
Rollback ends up in an error if a rollback is trie

[2022-03-16 22:05] saratvemulapalli commented on #2405
@balar06 rollback in OpenSearch is not supported without having a down time.
I understand its a test case where you'd like to make sure the systems are setup to roll it back.

I see couple of paths forward:
1. A possible path is to setup a new cluster, verify and take snapshot on old cluster, restore it on the new one. If you see problems you can continue to use the old cluster (a.k.a blue/green).

[2022-03-17 01:00] opensearch-ci-bot opened #2492 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3468 in gradle_check log for more information.

[2022-03-17 01:21] opensearch-ci-bot opened #2493 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 3469 in gradle_check log for more information.

[2022-03-17 03:15] tlfeng commented on #2492
[gradle_check_3468.log](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3468/artifact/gradle_check_3468.log)
[gradle_check_3468_reports.zip](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3468/artifact/gradle_check_3468_reports.zip)
[code]

[2022-03-17 03:16] tlfeng commented on #2493
[gradle_check_3469.log](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3469/artifact/gradle_check_3469.log)
[gradle_check_3469_reports.zip](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/3469/artifact/gradle_check_3469_reports.zip)
[code]

[2022-03-17 03:19] #2492 closed

[2022-03-17 03:24] sachinpkale commented on #2481
@andrross Yes, these are two of the potential approaches. Let me list down all the potential approaches below.

[2022-03-17 04:01] sachinpkale commented on #2481
### Potential Approaches

As mentioned in the description of the issue, these approaches are to handle failover case with document based replication. For Segment based replication, it would be comparatively easy as segment files do not change between primary and replicas (we still would want to have the same approach work for both the replication strategies).

#### Sync all data from remote store

[2022-03-17 04:02] sachinpkale commented on #2481
Next steps:

1. Quick check to validate some of the potential approaches
2. Add a table with Pros and Cons of potential approaches
3. Recommend an approach.

[2022-03-17 04:27] sachinpkale opened #2494 "POC: Translog replay - performance impact and time required"
### Goal

To understand time required to replay the translog of specific size. Before finalizing the approach for remote store (For more info, refer [POC](https://github.com/opensearch-project/OpenSearch/issues/2481#issuecomment-1070292365)), we need to understand the size limit we can have on the remote translog.

### Steps

1. Start indexing the data and index till translog reaches X MB in size.

[2022-03-17 10:08] Bukhtawar commented on #2179
@saratvemulapalli +1

[2022-03-17 13:02] opensearch-ci-bot opened #2495 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3486 in gradle_check log for more information.

[2022-03-17 14:23] dblock opened #2496 "[Proposal] Automate detection and quarantine of flakey integration tests"
**Is your feature request related to a problem? Please describe.**

The amount of flakey tests (https://github.com/opensearch-project/OpenSearch/issues/1715) is growing and gradle checks fail roughly 50% of the time. This impedes velocity, but also reduces the trust in the tests.

**Describe the solution you'd like**

1. Label flakey tests, `@Ignore` them, and link to a GitHub issue.
2. Automatica

[2022-03-17 14:54] dblock commented on #2405
I've updated this from bug to enhancement/feature request.

[2022-03-17 16:41] andrross commented on #2481
For the sake of argument, is it truly a requirement that remote storage needs to work with both replication strategies, particularly for the initial version? It seems like a whole bunch of complexity could be avoided if this feature was only supported with segment replication. Just from a usability perspective these options result in performance and cost tradeoffs to be considered when enabling re

[2022-03-17 16:48] reta commented on #2447
@saratvemulapalli thanks a lot for putting this proposal in place, I do have a couple of questions which I have not seen addressed yet (please correct me if I am wrong).

First, I agree with you that extensions will not become an equivalent replacement of the plugins. For example, plugins could tailor the codecs and translog policies, new index types, a very core pieces of the OpenSearch engine, e

[2022-03-17 17:18] jmazanec15 commented on #1676
@saratvemulapalli Not sure I have the ability to reopen, but wanted to continue discussion.

I tried switching to INTEG_TEST, but this does not come with modules other than transport-netty.

I was thinking about installing the "lang-painless" in the following way:
1. Adding a dependency on it in my build.gradle.
[code]
2. Zipping up the files pulled from the dependency as a gradle task
[code]
3. A

[2022-03-17 18:12] #2418 closed

[2022-03-17 20:39] saratvemulapalli commented on #2482
@saikaranam-amazon the change was intentional because soft deletes are not optional anymore and history doesnt exist in translog instead has to be fetched from lucene index.

Could you try exploring the option of using:
[code]
Please see the conversation history on: https://github.com/opensearch-project/OpenSearch/pull/2077#issuecomment-1071105592

Give this a shot and let us know how it goes. I'l

[2022-03-17 20:43] getsaurabh02 commented on #2229
@mch2 Thanks for sharing the detailed comparison. Could you also share the Disk IO metrics for both the approaches, as I can see there is going to be a significant trade-off with the new approach, since the same document will be replicated twice, once as part of the translog and then as part of the Segment Replication. Since we are saving on the compute and memory here, it would be good to offset

[2022-03-17 21:02] kartg commented on #2194
Capturing pending refactor work from the last refactor PR - https://github.com/opensearch-project/OpenSearch/pull/2468

- Remove `ShardRoutingReplicationListener` and use a single class based on extracting `PeerRecoveryTargetService.RecoveryListener` instead - https://github.com/opensearch-project/OpenSearch/pull/2468#discussion_r827414977
- Refactor the `*Collection` classes and merge common func

[2022-03-17 21:39] jainankitk commented on #1957
All above reported failures were for this test before the latest fix.

No recent failures, this issue can be resolved for good

[2022-03-17 22:11] nknize opened #2499 "[CI] o.o.versioning.ConcurrentSeqNoVersioningIT.testSeqNoCASLinearizability"
Hit this non-reproducible bug on #2498

[code]

[code]

[2022-03-17 22:14] owaiskazi19 commented on #2351
Logs of connection bewteen SDK and OpenSearch :
[code]

OpenSearch sent an internal tcp handshake request to the SDK.

[2022-03-17 22:45] getsaurabh02 commented on #2447
Thanks @saratvemulapalli for sharing the proposal. This really helps to get the right picture of how we are thinking about this evolution. I had few questions/clarifications:

Does this also mean we will remove the current Plugin Framework support, or the new SPIs could co-exist ?

I really see a high value in keeping the new framework co-existent, and deprecate organically (only if necessary) due

[2022-03-18 00:04] peterzhuamazon opened #2500 "[BUG] Main branch does not pull 9.1.0-snapshot-ea989fe8f30 to m2 after deploying mavenlocal"
Run this on main branch of OpenSearch core as of `b9f04405d6dfabcc2b8e87a86d4f83b003b3ffe7`
[code]

Check `~/.m2/repository/org/apache/lucene/lucene-core`, 9.1.0-snapshot-ea989fe8f30 not exist.

This cause things after core such as common-utils to fail to these msg:

<details>
<summary>Logs</summary>

[code]

</details>

[2022-03-18 00:37] tlfeng opened #2501 "[CI] flaky test failure - o.o.indices.stats.IndexStatsIT.testFilterCacheStats"
Caught from PR https://github.com/opensearch-project/OpenSearch/pull/2424#issuecomment-1071889507:

❌   Gradle Check failure https://github.com/opensearch-project/OpenSearch/commit/90f143afca0b28eb9d15d3b210bcc8339816230a
[Log 3504](https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3504.log)

[Reports 3504](https://ci.opensearch.org/logs/ci/workflow/OpenS

[2022-03-18 00:43] tlfeng opened #2502 "[CI] flaky test faiure - o.o.indices.recovery.IndexRecoveryIT.testRerouteRecovery"
Caught from PR https://github.com/opensearch-project/OpenSearch/pull/2415#issuecomment-1066331257

:x: &nbsp; Gradle Check failure 0d66c0cb53fcc1200d1b930457e31d452eef4ef2
[Log 3314](<https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3314.log>)

[Reports 3314](<https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_33

[2022-03-18 01:04] peterzhuamazon commented on #2500
Seems like this is caused by 1st time we use anything that is not officially on lucene maven repo.
If we ought to test snapshots this way, repos like common-utils that utilize lucene needs to add `https://artifacts.opensearch.org/snapshots/lucene/` as part of their repo in build.gradle.

@nknize @dblock please confirm.

Thanks.

[2022-03-18 03:12] saikaranam-amazon commented on #2482
@saratvemulapalli Please this issue for context: https://github.com/opensearch-project/OpenSearch/issues/1100
We used this method to fetch the ops from Tlog as source and we can't fetch from the lucene index (due to reasons in the above issue).

[2022-03-18 03:21] tlfeng commented on #1549
Pending tasks apart from the above PRs:
- Update the documentation link for API `cat/_cluster_manager`. Source: https://github.com/opensearch-project/OpenSearch/pull/2404#discussion_r827515971

[2022-03-18 05:21] sachinpkale commented on #2481
This POC will help us in the design of remote store and IMO remote store design should not be tied to a replication strategy.

From release point of view, I agree with you. We can think of having an experimental first release of remote store limited to Segment Replication. But interfaces should be defined in such a way that supporting document based replication will be an extension.

[2022-03-18 05:27] mch2 commented on #2500
Hi @peterzhuamazon,
Gradle does not store build dependencies to maven local during builds, only build artifacts.

We can fix this by updating common-utils to apply the opensearch.java plugin that includes the `RepositoriesSetupPlugin`. This plugin is where the maven repo is configured.  Alternatively we could directly declare the repo with `maven { url "https://artifacts.opensearch.org/snapshots/l

[2022-03-18 06:46] saikaranam-amazon commented on #2482
Yes, previously as well that used to be the case. We have modified to hold the translog. This method is not alternative to the previous one as they don't give the same performance.

[2022-03-18 16:25] nknize opened #2505 "Support for geo_bounding_box queries on geo_shapes"
`geo_bounding_box` queries should be used on `geo_shape` field types. The only reason they can't today is because the QueryBuilder checks for explicit `geo_point` fields. This needs to be changed and the tests should be abstracted to support both.

[2022-03-18 17:25] owaiskazi19 opened #2507 "Add Gradle Check script in OpenSearch"
**Is your feature request related to a problem? Please describe.**
Create gradle check script in OpenSearch repo. This script will be used after jenkins will go public. For now add it to the OpenSearch to make it visible.

- [x] Create a jenkinsfile to run gradle check.
- [x] Test gradle check with CentOS and AL2 docker images present [here](https://github.com/opensearch-project/opensearch-build/t

[2022-03-18 17:33] owaiskazi19 commented on #2019
Update: https://github.com/opensearch-project/OpenSearch/issues/2351#issuecomment-1071624109

[2022-03-18 17:49] owaiskazi19 opened #2508 "Create opensearch-sdk repository under https://github.com/opensearch-project/"
**Is your feature request related to a problem? Please describe.**
Create opensearch-sdk for https://github.com/opensearch-project/OpenSearch/issues/2507.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additio

[2022-03-18 17:54] dblock commented on #2496
I am not picking it up, I stole the idea from a discussion with another engineer that shall remain nameless for now (will give them credit sometime in the future), so go for it!

[2022-03-18 18:03] dblock commented on #2508
I'll move this to .github.

[2022-03-18 18:10] mch2 commented on #2500
Learned this from @nknize - The official Lucene snapshots build each artifact separately after commit.  So each artifact is built with a separate sha and at a different time.

Our build system right now locks to a single sha in version.properties `9.1.0-snapshot-ea989fe8f30`.  We can easily change this, but the original purpose of this was to decouple our builds from bugs that may creep in nightly

[2022-03-18 18:59] tlfeng opened #2511 "Add a new request parameter "cluster_manager_timeout" in the REST APIs that accept "master_timeout" parameter, and deprecate "master_timeout""
**Is your feature request related to a problem? Please describe.**
To promote inclusive language, replace "master" terminology in the request parameter "master_timeout" in many REST APIs.

A part of issue #1549

In version 2.0 and above:
- [x] Refactor the code commit https://github.com/opensearch-project/OpenSearch/commit/a87c9d4455f042cf14e684c7f4dce1904dd0dbe5 (PR: https://github.com/opensearch

[2022-03-18 19:53] Rishikesh1159 opened #2563 "Add Opensearch Test Coverage Report to CodeCov"
### Is your feature request related to a problem? Please describe

When running gradle check for opensearch repo, we can also generate test coverage report and upload them to CodeCov.

### Describe the solution you'd like

Using this `./gradlew check -Dtests.coverage=true --no-daemon --no-scan` we can generate coverage report and using script something similar to this:

[code]
we can upload it to

[2022-03-18 20:10] kotwanikunal opened #2513 "[PerformanceTests] Design and Implementation Document - Add support for a public dashboard for OpenSearch performance tests"
**Is your feature request related to a problem? Please describe.**
As a community member, I would like visibility into the nightly performance tests running for OpenSearch.
This is an additional feature request as a part of https://github.com/opensearch-project/opensearch-build/issues/126

**Describe the solution you'd like**
- The solution involves adding an OpenSearch Dashboard accessible to the

[2022-03-18 20:50] nknize opened #2514 "Support for geo_distance queries on geo_shapes"
`geo_distance` queries should be used on `geo_shape` field types. The only reason they can't today is because the QueryBuilder checks for explicit `geo_point` fields. This needs to be changed and the tests should be abstracted to support both.

[2022-03-18 20:54] nknize opened #2515 "Add GeoShapeDocValues Support"
Geo aggregations and scripting cannot be supported on `geo_shape` fields until GeoShapeDocValues are supported. This is a companion field (e.g., `LatLonShapeDocValues`) that will need to be developed upstream in Lucene. It can be based on a binary tree of the encoded shape triangles for now, but probably best suited to be developed as a multiway tree of quad boundary triangles so that Grid aggrega

[2022-03-18 21:47] peterzhuamazon opened #2517 "[BUG] OpenSearch Core 1.3.0 including `ja` in JDK man pages"
In rpm assemble through build repo code, we will extract the files from core rpm.

It failed with this error once we switch from 14 to 11 on JDK for 1.3.0.

[code]

Root cause:
[code]

[code]

There is a new folder `ja_JP.UTF-8` and a new symlink `ja` which caused cpio to fail as it tries to treat symlink as a folder here.

General question on why this folder is needed as a result.
And whether we

[2022-03-19 15:13] saikaranam-amazon commented on #2482
Gentle reminder! - Any update?

[2022-03-19 21:28] tlfeng opened #2522 "[CI] flaky test faiure - o.o.upgrades.IndexingIT.testAutoIdWithOpTypeCreate - in v1.3.0#oneThirdUpgradedTest"
Caught from PR https://github.com/opensearch-project/OpenSearch/pull/902#issuecomment-871903730 and https://github.com/opensearch-project/OpenSearch/pull/2519#issuecomment-1073114124

:x: &nbsp; Gradle Check failure eec54ae9ed7fce079e90a16a94bab609bb74bfbd
[Log 3563](<https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_3563.log>)

[Reports 3563](<https://ci

[2022-03-19 21:46] #1240 closed

[2022-03-21 14:38] dblock commented on #2482
@saikaranam-amazon Does the option suggested above by @saratvemulapalli not work?

[2022-03-21 14:52] saikaranam-amazon commented on #2482
No @dblock , we will need the previous method due to the above reason.

[2022-03-21 15:22] nknize opened #2528 "geo_distance search for geo_shape field types"
`geo_distance` search is currently limited to `geo_point` types only. Lucene's `LatLonShapeQuery` supports `CIRCLE` type which approximates the circle (with radius distance) by using an nGon approximation of line segments in a local tangential plane. This is sufficient for expanding distance search on `geo_shape` field types. The query builder should be updated to include both field types.

[2022-03-21 15:23] nknize opened #2529 "geo_bounding box for geo_shape field types"
`geo_bounding_box` search is currently limited to `geo_point` types only. Lucene's `LatLonShapeQuery` supports `BBox` type which should be used to expand `geo_bounding_box` search on `geo_shape` field types. The bounding box query builder should be updated to include both field types.

[2022-03-21 15:30] nknize commented on #2528
accidental duplicate of #2514

[2022-03-21 15:30] #2528 closed, assigned to nobody

[2022-03-21 15:43] nknize opened #2530 "Feature Freeze 2.0.0 Public Preview"
Meta issue for Feature freezing Version 2.0.0 for Public Preview:

- [x] Cut 2x branch
- [x] Cut 2.0 branch
- [x] Bump 2x to version 2.1.0 and update bwc versions
- [x] Bump main to version 3.0.0 and update bwc versions

[2022-03-21 16:57] nknize commented on #2515
I added as an enhancement since it's not adding any new aggregations just enhancing existing aggregations. We could highlight as a feature, though, since geo Aggs do not currently work with`geo_shape` field types. 6 1/2 to me.

I have started this work (a long time ago) so we can assign it to me but let's not apply a specific version just yet since we need to make sure the docvalue type first merg

[2022-03-21 17:54] dblock commented on #2482
@saikaranam-amazon What do you propose?

@andrross @kartg Could I get you two to pitch in here, what should we do?

[2022-03-21 18:04] mch2 commented on #2500
@peterzhuamazon Did this resolve your issue? are there other repos with the same problem?

[2022-03-21 18:21] dblock opened #2533 "Verify that backwards-compatibility versions are in sync across branches in CI"
**Is your feature request related to a problem? Please describe.**

When incrementing a version for OpenSearch we have to update multiple files across multiple branches.

- https://github.com/opensearch-project/OpenSearch/blob/main/.ci/bwcVersions
- https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/version.properties
- https://github.com/opensearch-project/OpenSearch/blob/main/se

[2022-03-21 18:46] peterzhuamazon commented on #2500
@mch2 I have tested on 2.0.0 build this morning and it passed.
Thanks.

[2022-03-21 18:47] #2500 closed

[2022-03-21 18:48] dbbaughe opened #2534 "Migration of Job Scheduler to modules"
This is to track the work being done to migrate the job scheduler plugin to core repository for 2.0.0 preview.

[Related issue: #147](https://github.com/opensearch-project/job-scheduler/issues/147)

Have migrated job scheduler to core in fork, and currently in parallel working on upgrading the Index Management plugin to 2.0.0 to use as a way to test the job scheduler migration to confirm it works

[2022-03-21 18:51] nknize commented on #2534
/cc @anasalkouz Marking this as a blocker for public preview. It will need to merge post freeze so I'm happy to backport this enhancement once the `2x` branch is cut.

[2022-03-21 19:07] dreamer-89 commented on #2257
Based on my first release manager experience, sharing below points for improvement.

### Generic
- There should be some rough timelines on when specific task needs to be started (and completed if other process is dependent on it).
### Preparation
-  Triaging and labeling issues for release should be done on recurring basis. Doing this as one time activity before release is error prone.
### CI/CD
-

[2022-03-21 19:18] dreamer-89 commented on #2257
Following up with @elfisher on documentation task, before closing on this one.

[2022-03-21 19:32] nknize opened #2538 "[CI] o.o.discovery.SnapshotDisruptionIT.testDisruptionAfterFinalization failure"
Found on #2531. Unable to reproduce. Looks like the master node died randomly in jenkins (force killed?).

[code]

[code]

Opening issue to monitor recurrence.

[2022-03-21 19:42] peterzhuamazon commented on #2517
Update: This is only for jdk11 in 1.3.0. As for jdk17 in 2.0.0 this is not an issue at all

[code]

[2022-03-21 19:46] bbarani commented on #2517
@CEHENKLE @saratvemulapalli This is blocking RPM builds. Can you please prioritize  it?

[2022-03-21 19:52] dreamer-89 commented on #2356
As per discussion with @nknize, we should have tests in place to capture this scenario.

The current bwc testing framework limits the previous ES/OS versions against which bwc tests can be run (earliest allowed is 7./10.0 which doesn't support multiple type mappings). So, probably need to start with 5.x version and perform series of upgrades to 2.0.0.

[2022-03-21 19:57] tlfeng opened #2539 "Replace "master" terminology in Log message"
**Is your feature request related to a problem? Please describe.**

With the issue #472, "master" terminology is going to be replaced by "cluster manager" to promote inclusive language.
"master" terminology in log messages have not be changed yet.

The log message means the String-type message defined by `log4j.Logger`, such as in `logger.info()`, or `logger.warn()`.

Some keywords in the log mess

[2022-03-21 19:57] #1873 closed

[2022-03-21 20:07] mch2 commented on #2331
Option 2 is not a great solution here.  I think we should go with 3 with a setting for 1 until remote storage is enabled.

[2022-03-21 20:18] #2032 closed

[2022-03-21 20:19] dreamer-89 commented on #2032
Closing this in favour of meta issue #1940 where we are tracking all changes via PRs.

[2022-03-21 20:19] dreamer-89 commented on #1997
Closing this in favour of #1940 where all PRs are tracked.

[2022-03-21 20:19] #1997 closed

[2022-03-21 20:21] #2028 closed

[2022-03-21 20:39] dblock commented on #2534
This issue looks like a duplicate to https://github.com/opensearch-project/job-scheduler/issues/147, why do we need 2?

[2022-03-21 20:41] dblock commented on #2538
Labeled as [Flakey Random Test Failure](https://github.com/opensearch-project/OpenSearch/labels/Flakey%20Random%20Test%20Failure), my fav tag.

[2022-03-21 20:43] dblock commented on #2517
How does one reproduce this?

[2022-03-21 20:47] saratvemulapalli commented on #2517
@peterzhuamazon could you help understand what process is cpio doing?

From what I see JDK versions < 12 have Japan version of man pages bundled.
The `ja` directory is a symlink which points to the JP manpages.
This is nothing specific to OpenSearch and comes from JDK out of the box.

As far as I understand its a no-op and you should be able to skip the `ja` directory.
But my recommendation would

[2022-03-21 20:49] #2063 closed

[2022-03-21 20:53] saratvemulapalli commented on #1703
Another PR: https://github.com/opensearch-project/OpenSearch/pull/2541#issuecomment-1074405738

[2022-03-21 20:55] nknize commented on #1067
We are incrementally marking PRs as `>breaking`. You should be able to use that.

Closing this issue as complete

[2022-03-21 20:55] #1067 closed

[2022-03-21 20:59] nknize commented on #1065
Completed by #1109 and #2487

[2022-03-21 20:59] #1065 closed

[2022-03-21 20:59] kotwanikunal commented on #2513
Deliverables:
- Design document with implementation details for the E2E solution

[2022-03-21 21:04] peterzhuamazon commented on #2517
Easiest way to reproduce this one:
[code]

You will see:

[code]

Then check usr/share/opensearch/jdk/man and you see `jp`.

This does not happen on jdk14 or jdk17, only on jdk11.

Thanks.

[2022-03-21 21:05] peterzhuamazon commented on #2517
Since cpio does not process symlink well, it will cause the cpio to return error code 2 and stop the assemble process.
If we want to release 1.3.x version of rpm then this is a blocker.
Not a blocker for 2.0.0+ for now.

[2022-03-21 21:18] saratvemulapalli commented on #2517
I understand that. As i've linked, JDK versions < 12 will have this problem. ( I've verified 8,11 not sure about others)
Anyway, whats the question here for OpenSearch?
If its the tooling problem lets figure that out.

[2022-03-21 21:22] dblock opened #2545 "Move common-utils from external repo into OpenSearch"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/opensearch-project/common-utils/issues/114, move common-utils into OpenSearch.

[2022-03-21 21:38] dblock commented on #2517
https://superuser.com/questions/1005740/how-do-i-deal-with-unpacking-of-archive-failed-cpio-symlink seems to offer some options - I am not familiar with cpio to say what we should be doing about this

[2022-03-21 21:49] dblock opened #2547 "Retry failed flakey tests"
**Is your feature request related to a problem? Please describe.**

The amount of flakey tests (https://github.com/opensearch-project/OpenSearch/issues/1715) is growing and gradle checks fail roughly 50% of the time. This impedes velocity, but also reduces the trust in the tests.

**Describe the solution you'd like**

https://blog.gradle.org/gradle-flaky-test-retry-plugin

Retry failing tests, htt

[2022-03-21 21:49] dblock commented on #2496
https://github.com/opensearch-project/OpenSearch/issues/2547

[2022-03-21 22:04] saratvemulapalli commented on #2517
Closing this.
Feel free to re-open @peterzhuamazon if you have more questions!

[2022-03-21 22:23] saratvemulapalli commented on #2242
Another one: https://github.com/opensearch-project/OpenSearch/pull/2541#issuecomment-1074479459

[2022-03-21 22:24] saratvemulapalli commented on #1565
https://github.com/opensearch-project/OpenSearch/pull/2541#issuecomment-1074479459

[2022-03-21 22:24] saratvemulapalli commented on #2242
https://github.com/opensearch-project/OpenSearch/pull/2541#issuecomment-1074454204

[2022-03-21 23:47] #2514 closed

[2022-03-22 01:00] opensearch-ci-bot opened #2553 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3650 in gradle_check log for more information.

[2022-03-22 03:51] #2505 closed

[2022-03-22 04:58] cliu123 opened #2554 "[BUG] Auto-backport tool fails a lot"
[Auto-backport tool](https://github.com/opensearch-project/OpenSearch/pull/1600) fails on a few backport PRs, for example:
It failed to backport [this PR](https://github.com/opensearch-project/security/pull/1679) to `1.0`, `1.1` and `1.2` branches.
It failed to backport [this PR](https://github.com/opensearch-project/security/pull/1541) to `1.3` branch.

[2022-03-22 05:25] cliu123 opened #2555 "[BUG] Plugin build using OpenSearch 1.3.1-SNAPSHOT fails due to dependency conflicts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[Build security plugin on OpenSearch 1.3.1-SNAPSHOT](https://github.com/cliu123/security/pull/12/files)

**Expected behavior**
Build succeedes.

**Plugins**
security plugin

**Additional context**
[code]

[2022-03-22 13:20] opensearch-ci-bot opened #2558 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 3663 in gradle_check log for more information.

[2022-03-22 14:11] dblock commented on #2554
This is expected without clean merges, no?

[2022-03-22 14:13] #2555 closed

[2022-03-22 15:50] saratvemulapalli commented on #2482
@saikaranam-amazon from what I understand looks like we are writing to translog anymore.
Adding back the method would not help. Again this is with my limited knowledge.

From what you are saying its definitely an impact in performance when using lucene indices. But it feels like thats the only way.
@nknize what would suggest?

[2022-03-22 15:55] saratvemulapalli commented on #2482
@saikaranam-amazon also in terms of the numbers, do you happen to know how bad it would be to read from lucene index vs reading from translog?

[2022-03-22 16:37] peternied opened #2561 "[BUG] opensearch-trigger-bot failures do not include a reason"
**Describe the bug**
When there is a failure during a backport it isn't clear what the source of the failure, it could be an expected failure, or an error with the tool:

See an example from:
https://github.com/opensearch-project/security/pull/1679#issuecomment-1074723335

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to backport a change that has a merge conflict

**Expected behavi

[2022-03-22 16:45] rafael-gumiero commented on #1629
Any updates on this feature?

[2022-03-22 16:54] CEHENKLE commented on #2534
@nknize Timing aside, can you say more why you think this is the right move (if you do?)  to move this into core?

[2022-03-22 16:54] saratvemulapalli commented on #2561
@VachaShah do you mind taking a stab at this to understand if we can extend the workflow to print these errors?

[2022-03-22 16:55] saratvemulapalli commented on #2554
Thanks @cliu123 @peternied . Lets use https://github.com/opensearch-project/OpenSearch/issues/2561 to track this problem.

[2022-03-22 16:55] #2554 closed

[2022-03-22 16:56] saratvemulapalli commented on #2348
cc: @Rishikesh1159

[2022-03-22 17:02] penghuo commented on #1629
Working on PR now. Give a quick demo of the feature now and will post first version soon.

* Request
[code]

* Response
[code]

[2022-03-22 17:05] dblock commented on #2517
This needs to be a 1.3.1 because it's no longer a 1.3.0.

[2022-03-22 17:07] VachaShah commented on #2561
The [run](https://github.com/opensearch-project/security/runs/5638790496?check_suite_focus=true) for the job shows the detailed logs:

[code]

Do we want to print these in the comments?

[2022-03-22 18:14] vamshin commented on #2428
we would like to have this feature part of the [geospatial](https://github.com/opensearch-project/geospatial) repo. Any one landing on this thread, please +1 to prioritize this feature

[2022-03-22 18:16] peterzhuamazon commented on #2517
1. Long Term: Support `TYPE` during core build, `TYPE=archives/packages/dirs`.
User can do `distribution=rpm;type=dirs` and they will be provided with directory of files that is built for rpm
2. Short Term: Creating a new branch of `1.3-rpm` and allow core to delete `ja` related links/folder during build.

[2022-03-22 18:32] saratvemulapalli commented on #2517
1. I love the long term approach, keeps it simple for all our bundling. Could you open an issue for this?
2. I dont like the short term approach because the rootcause is the tool, it doesn’t understand symlinks. The symlink was generated with JDK distribution (nothing to do with OpenSearch).
I would rather have the rootcause fixed, than putting in a hack in OpenSearch (and be worried about maintai

[2022-03-22 18:39] kaituo commented on #2447
I would appreciate that the designers can provide more details on why the existing plugin framework is so broken that we need a totally different one. Some straw-man approaches for the problems to solve in the new framework.

Versioning:

Today if I want to make AD 1.3 works for Opensearch core 1.1, I would revert changes in build.gradle and build zip using 1.1, even though there are many more cha

[2022-03-22 18:42] dreamer-89 commented on #2257
Release retro issue https://github.com/opensearch-project/opensearch-build/issues/1775

[2022-03-22 19:02] peternied commented on #2561
I would accept a conspicuous link directly to that log and line as useful since it does highlighting and other visual goodies.

Side note, IMO it is strange that the workflow shows the job as a success.

[2022-03-22 19:36] ylwu-amzn commented on #2447
Seems don't see the analysis about why not enhance current plugin framework to solve the problems stated in this issue. What's the pros/cons between "enhancing current plugin framework" and "adding a new extension framework"? If we find it's impossible to enhance current plugin framework to solve these problems, I think it's ok to add new extension framework, but agree with @getsaurabh02 for "keep

[2022-03-22 21:03] saratvemulapalli commented on #2447
Thanks @reta for taking a look and reading through.
Answering all questions inline:

With extension we would like to provide an opportunity for developers/cluster operators to choose where to run them.
We should understand how bad the latency is going to be when plugins interacting during the index/query lifecycle. This issue should give us those numbers: https://github.com/opensearch-project/Open

[2022-03-22 21:32] saratvemulapalli commented on #2447
Thanks @getsaurabh02 for taking a look and reading through.
Answering all questions inline:

No. The plugin architecture will be still supported, infact it will be enhanced to solve these problems. The new interfaces will still provide support for traditional way of invoking via [extension points](https://opensearch.org/blog/technical-post/2021/12/plugins-intro/) while enhancing the framework to s

[2022-03-22 22:57] mch2 commented on #2534
Not opposed to moving it into core but what is the rationale for having it installed by default as a module instead of an optional plugin?

[2022-03-23 00:15] praveensameneni commented on #2534
Please review original issue https://github.com/opensearch-project/job-scheduler/issues/147

[2022-03-23 00:30] mch2 commented on #2534
Thanks @praveensameneni, I took a look at that issue but still have the same question.

 Why would we not want to give users this option?  Would we not get all the upgrade benefits with this as a plugin in the repo?

[2022-03-23 01:04] zengyan-amazon commented on #2447
@saratvemulapalli Thanks for putting this together! I'd like to understand more on the Sandboxing/separate process idea?

Does this means it will be the OpenSearch admin to determine where to install the extensions, like on which hosts? Or it is still the OpenSearch process to handle the extension installation? For instance, say one extension's work is heavy and needs to be run on a different host

[2022-03-23 08:41] sachinpkale commented on #2494
@saratvemulapalli Yes, I am working on this.

[2022-03-23 12:15] Rishikesh1159 commented on #2563
Closing this issue. This work is already tracked on issue #1320

[2022-03-23 12:15] #2563 closed

[2022-03-23 13:30] nknize commented on #2545
:-1:  for 2.0.0 it won't be ready:

1. There is a lot of [legacy code](https://github.com/opensearch-project/common-utils/tree/main/src/main/java/org/opensearch/commons/destination/message) that should be removed before refactoring to core
2. There is kotlin code that we need to tie in w/ the build hooks
3. The [Integration Tests are Disabled](https://github.com/opensearch-project/common-utils/blo

[2022-03-23 17:20] qcoumes commented on #1629
Nice, can't wait for this feature

[2022-03-23 17:20] getsaurabh02 commented on #1329
Adding Meta Issue and the child issues opened previously to this RFC in order to track deliverables:
https://github.com/opensearch-project/OpenSearch/issues/1042

[2022-03-23 17:32] peterzhuamazon opened #2571 "[Enhancement] Adding TYPE Support With archives/packages/dirs Options"
This issue is a expansion of #2517.

We want to add a TYPE parameter (`-Dbuild.type` ?) during core build, TYPE=archives/packages/dirs.
User can do distribution=rpm;type=dirs and they will be provided with directory of files that is built for rpm, instead of rpm pkg as a final result.

This is specifically useful when we want to install additional plugins, more changes, extra tweaks before packagi

[2022-03-23 17:54] dreamer-89 commented on #2267
Closing this in favour of https://github.com/opensearch-project/documentation-website/issues/429

[2022-03-23 17:54] #2267 closed

[2022-03-23 17:56] peterzhuamazon commented on #2571
cc: @saratvemulapalli @anasalkouz @bbarani

[2022-03-23 18:16] dreamer-89 commented on #2356
From manual steps above, it is verified that multi-type templates doesn't persist beyond 6.x. So, it is not possible to have multi-type templates in 7.x+ clusters. Hence, there is no need of handling multi-type templates in OS 2.0

[2022-03-23 18:50] mch2 commented on #2229
Thanks @getsaurabh02, Am gathering IOPS and network data and will add it asap.

Made updates above to Durability section, fsyncs will still be required by default.

[2022-03-23 19:15] tushar-kharbanda72 commented on #1179
Thanks for showing interest in this feature @asafm . We're working on a Task resource tracking framework where you can get resource consumption for any task running on a cluster which addresses not only search requests but all sorts of requests we want to track. We're code complete and currently in review phase and trying to this feature out with OpenSearch 2.0 release.

First PR for initial frame

[2022-03-23 19:43] kartg commented on #2481
Thank you for the thorough walkthrough of the various approaches above!

IMO, we shouldn't rule the two "sync all data" approaches (the first two options listed above) from the get-go, especially considering that they are the most straight-forward to implement. I'm sure the use of remote segment storage will introduce a number of other tradeoffs, so it would be worth it to consider the impact of f

[2022-03-23 19:43] kartg commented on #2481
One final, pie-in-the-sky thought 😄  Down the line, it would be worth considering the benefits of allowing the remote store to independently optimize its stored data rather than simply mirroring the primary. That way, we don't need to expend network bandwidth just to mirror the primary shard's process of slowly merging down to larger and larger segments.

[2022-03-23 20:14] peternied commented on #2229
The new design proposal here is a modification of the existing replication system that introduces new tradeoffs.  I am curious about presenting a non-replicated index vs this proposed segment replication vs existing replication system, providing increasing thresholds of reliability with trade offs of performance and resource utilization.  As written there will be a 4th option in the future and it

[2022-03-23 20:45] dblock commented on #2229
I think it's worth explaining in this issue what the current replication mechanism is, so _"copying segment files to replicas, instead of document replication that ... "_

Collected some questions from an IRL brainstorm:

- Is the eventual goal to get rid of document replication, or are there reasons to preserve it, or to use both in different scenarios?
- Any strategies to reduce network traffic?

[2022-03-23 21:25] nknize opened #2577 "[BUG] BWC testing for new "manager" nomenclature"
This was caught by backport PR #2574 which is the first time the terminology change has run in a mixedCluster environment.

[code]

[code]

This can be handled either by:

1. using `setWarningsHandler` in the `2.x` branch as exemplified by [SystemIndexRestIT](https://github.com/opensearch-project/OpenSearch/blob/2e9f89a89efb2b44adc783d378e433bce79273c0/qa/smoke-test-http/src/test/java/org/opensear

[2022-03-23 21:40] nknize commented on #2577
The above failure (`ExceptionIT`) is fixed by #2574 but we may have other test failures. If so, we'll keep this open

[2022-03-23 22:00] anders-swanson commented on #2017
@dblock you may use the reindex API to migrate data from an existing index to a data stream, however the caveat is that existing index patterns may or may not match the new data stream name.
Any existing read/write clients must be updated to reference the data stream.

[2022-03-23 22:44] owaiskazi19 commented on #2351
Created TCP handshake and communication between SDK and OpenSearch.

SDK:
[code]

OpenSearch:
[code]

[2022-03-23 22:58] andrross opened #2578 "[RFC] High Level Vision for Storage in OpenSearch"
## Introduction

This issue proposes how remote storage can be used in order to improve the performance, cost, and scaling properties of OpenSearch. It intends to build upon the warm storage features that have been added to Amazon OpenSearch Service to solve tiered storage use cases as well as expand the capabilities to be applicable to more use cases.

## State of the world today

OpenSearch foll

[2022-03-23 23:11] jkowall commented on #2578
This is really wonderful work, and makes sense. I like the new pattern for implementing read-heavy workloads. How will ISM factor into the design of this for moving data to S3 for example? Will that be required? I didn't see it mentioned here.

[2022-03-23 23:43] martin-gaievski opened #2581 "[Bug][DISTRIBUTION][2.0.0]: Plugin build fails for JDK lower than 17 (11 and 14)"
### Describe the bug

Build for kNN plugin PRs fail when JDK 11 or JDK 14 has been used.

Example of failed build - https://github.com/opensearch-project/k-NN/runs/5668411237?check_suite_focus=true.

Error in the log:

[code]

reaper.log:

[code]

More details exception is here - https://gist.github.com/martin-gaievski/ea1d3918e940c348f5e13dc5f9cc27a6.

The error comes at the very end of the build

[2022-03-24 05:31] saratvemulapalli commented on #2179
@Bukhtawar are you open to picking this up?

[2022-03-24 08:32] DogukanL opened #2579 "Allow performance-analyzer webservice-listener and rpc ports to be changed in docker build"
### Problem
When running multiple instances in docker, while using the host networking interface for performance reasons, performance analyzers trying to bind to the same port causes containers to die.

## Solution?
Allow these aforementioned ports to be changed via environment variables.
plugins.pa_webservice_listener_port: 9651
plugins.pa_rpc_port: 9601
Or better yet:
[code]

I think this naming

[2022-03-24 15:45] nknize opened #2580 "[CI] o.o.aliases.IndexAliasesIT.testSameAlias failure"
Caught on PR #2574 this test was not reproducible and looks like a one off CI blip. Documenting for posterity:

[code]

[code]

[2022-03-24 16:59] Rishikesh1159 opened #2582 "[Bug]: Plugin build fails for JDK lower than 17 (11 and 14)"
@martin-gaievski commented on [Wed Mar 23 2022](https://github.com/opensearch-project/OpenSearch/issues/2581)

### Describe the bug

Build for kNN plugin PRs fail when JDK 11 or JDK 14 has been used.

Example of failed build - https://github.com/opensearch-project/k-NN/runs/5668411237?check_suite_focus=true.

Error in the log:

Reaper process died unexpectedly! Check the log at /home/runner/work/k

[2022-03-24 17:00] Rishikesh1159 commented on #2581
moved to opensearch repo, so closing this issue here for now.

[2022-03-24 17:05] cliu123 commented on #2480
Security plugin breaking changes:

- Security plugin will drop the rolling upgrade support ODFE -> OpenSearch 1.2.0, but will still support the upgrade patch ODFE 1.13 -> OpenSearch 1.x -> OpenSearch 2.0.0

[2022-03-24 17:08] Rishikesh1159 commented on #2582
duplicate of issue #2581

[2022-03-24 17:08] #2582 closed

[2022-03-24 17:13] andrross commented on #2481
@kartg makes a good point about a possible architecture where replicas pull from the remote store and essentially use the remote store as the replication method. There are a few variables here: remote segment store, remote translog, and replication method. It seems to me that there are a few permutations that probably don't make sense. For example, would you ever want to use document replication a

[2022-03-24 17:27] reta commented on #2578
Thanks for summarizing the whole bunch of discussions @andrross , I have one question / note though:

Wasn't the goal of UltraWarm to manage read-only / frozen indices in the first place? I believe the case when clients have to manage large datasets (fe for compliance reasons) but at the same time only keep the small subset of the indices hot is the most common scenario, the storage cost reduction

[2022-03-24 18:09] mch2 opened #2583 "[Segment Replication] Capture timing metrics of copy events."
Similar to Peer Recovery, we need to capture metrics on replication events.  We should at a minimum return what peer recovery is:

- Total size in bytes
- Timing of total replication event.
- Timing of only file copy event.

[2022-03-24 18:19] dblock commented on #2017
I don't think I fully understand this, help me out with an example?

[2022-03-24 18:20] #1286 closed

[2022-03-24 19:02] owaiskazi19 commented on #2507
Image is available on dockerhub: docker pull opensearchstaging/ci-runner:ci-runner-ubuntu1804-build-v1

[2022-03-24 19:03] reta opened #2585 "Concurrent Searching: Support Aggregations"
**Is your feature request related to a problem? Please describe.**
The aggregations are implemented using Apache Lucene collectors and are not yet compatible with the concurrent search over segments.

**Describe the solution you'd like**
It should be possible to use concurrent search over segments for aggregations.

**Describe alternatives you've considered**
The implementation falls back to seque

[2022-03-24 19:04] reta opened #2586 "Concurrent Searching: Support Early Termination"
**Is your feature request related to a problem? Please describe.**
Early termination and time-bounded search are exception-driven and may return partial results (whatever collected up to the point of termination). When search goes over segments concurrently, it is difficult to replicate the sequential behaviour as-is (in this case the flow is interrupted and the reducers are not available, no resu

[2022-03-24 19:04] reta commented on #1286
The Concurrent Searching has been implemented as a sandbox plugin under the name `concurrent-search` which could be installed using regular procedure:

[code]

Once installed, the search phase is going to use concurrent search over the Lucene segments (please see https://github.com/opensearch-project/OpenSearch/issues/2585 and https://github.com/opensearch-project/OpenSearch/issues/2586).

[2022-03-24 19:09] reta opened #2587 "[META] Concurrent Searching"
**Is your feature request related to a problem? Please describe.**
At least since Apache Lucene 6.x, there is a new experimental low-level API which allows to parallelize execution of the search across segments [3]. As of latest Apache Lucene 8.10.1, the API is still marked as experimental (see please [1]). The community feedback on this feature is looking positive so far (see please [2]), there a

[2022-03-24 19:25] reta commented on #1872
@dblock I think we are done with it?

[2022-03-24 19:27] nknize commented on #2577
The fix in #2574 was merged so I'm going to give this 24 hours to bake. If no recurring failures we can close and re-open if/when one occurs.

[2022-03-24 19:31] mch2 opened #2588 "[Segment Replication] Clean up Recovery State transitions."
The POC introduced some hacks that we need to clean up with RecoveryState.  During initial shard recovery we are transitioning RecoveryStates to satisfy this state machine.

We don't need to follow these states with Segment Replication then we should refactor to bypass the state checks or gracefully transition.

[2022-03-24 19:39] reta commented on #2447
@saratvemulapalli it seems like we have considerable amount of unknowns / concerns / questions regarding the extensions. The plugins do have a number of issues (see https://github.com/opensearch-project/OpenSearch/issues/1707 for example), but since we are not getting rid of them (please correct me if I am wrong), we would end up with 2 problems instead of just one. May be we could step back a bit

[2022-03-24 19:44] mch2 commented on #1694
Hi @sachinpkale.  I think this is a reasonable strategy with pushing incremental updates to a remote store as part of #1968.  On the replica side we will need to support fetching the incremental diffs directly from the primary or optionally a remote store.

[2022-03-24 20:08] anasalkouz opened #2589 "[Meta] Deprecate non-inclusive naming"
This is a meta issue to track the pan and progress of applying inclusive naming across OpenSearch Repositories

**Timeline**

OpenSearch 2.0 will deprecate several APIs in core. Plugins will deprecate APIs in 2.0. By a 2.x version all non-inclusive terminology will be deprecated, and all deprecated APIs will be removed in 3.0.

**High Level Plan**
Every repository that uses non-inclusive words sho

[2022-03-24 20:18] #1872 closed

[2022-03-24 21:04] cliu123 opened #2590 "[BUG] Plugin installation on OpenSearch 2.0.0 runs into jar hell"
**Describe the bug**
Installing security plugin on OpenSearch 2.0.0 fails on jar hell. The following is the error:
[code]

**Expected behavior**
Plugin is installed smoothly.

[2022-03-24 22:10] peternied commented on #2590
[Work around] Can we remove the library from the security plugin since its included transitively in OpenSearch?

[2022-03-24 23:21] andrross commented on #2578
The idea here is to build an architecture that can solve the use cases for which UltraWarm currently works well, while also handling cases where the read-only / frozen nature is problematic (i.e. read heavy cases where infrequent updates are necessary).

[2022-03-24 23:25] owaiskazi19 opened #2592 "[BUG] org.opensearch.monitor.os.OsProbeTests > testLogWarnCpuMessageOnlyOnes FAILED"
**Describe the bug**
Coming from https://github.com/opensearch-project/OpenSearch/issues/2061. The test is failing in docker for ubuntu.

[code]
File not found: `/sys/fs/cgroup/cpuacct/docker/7550e3db5fa6ac2f81f2705282960c903563d569862219c3240ae1c31de0d648/cpuacct.usage`

**To Reproduce**
Steps to reproduce the behavior:
1. Pull [opensearchstaging/ci-runner:ci-runner-ubuntu1804-build-v1](https://h

[2022-03-24 23:26] owaiskazi19 commented on #2061
Created https://github.com/opensearch-project/OpenSearch/issues/2592 for the above issue.

[2022-03-25 00:30] Rishikesh1159 commented on #2581
Looks like this PR was causing the failures on plugin https://github.com/opensearch-project/OpenSearch/pull/2407. When I revert this PR, build was successful. I will further dig and see which change in PR caused this and update more info here

[2022-03-25 01:05] peterzhuamazon commented on #2571
Initially we think running `distribution:packages:rpm:build` would give me extracted files.
Which runs pretty well in 1.2.0.

In 1.3.0 it failed as well and turns out it is using the same `cpio` utility.
[code]

This is really a blocker now if we cannot fix it in the core.
But seems like it needs to delete ja as well.
Core needs to find a way to retain the files before the rpm generation even happ

[2022-03-25 01:48] #2331 closed

[2022-03-25 01:48] #2199 closed

[2022-03-25 06:09] Rishikesh1159 commented on #2581
This https://github.com/opensearch-project/OpenSearch/blob/cc0e66b1dcc2cfe17b76bcea1168ebb996fbb090/buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchNode.java#L913 line in PR where method call registerPid() happens, is having problem. This call tries to register and then later kill Pid, this is failing somehow and plugins are getting failed here. I will try to sync up and get su

[2022-03-25 15:03] reta opened #2595 "[REMOVE] Cleanup deprecated thread pool settings"
**Is your feature request related to a problem? Please describe.**
Right now some of the  thread pool settings are declared as deprecated and logged by deprecation logger:

[code]

**Describe the solution you'd like**
Cleanup deprecated thread pool settings in 3.0.0

**Describe alternatives you've considered**
Leave them there

**Additional context**
N/A

[2022-03-25 15:03] reta commented on #2595
@nknize @andrross do you guys know what is the plan for those? thanks!

[2022-03-25 16:01] dblock commented on #2581
The reaper code was taken out when we re-introduced compatibility with JDK8, then put back in #2407. If the reaper is broken, it should just be fixed.

[2022-03-25 16:16] reta commented on #2581
@dblock looking, the source/runtime level should be 11

[2022-03-25 16:43] Rishikesh1159 commented on #2581
Thank you @reta I tried your fix in local. It fixed this issue.

[2022-03-25 16:45] CEHENKLE commented on #2581
@reta You are a rockstar :)

[2022-03-25 16:49] xuezhou25 commented on #2571
It's not easy to retain the files before the rpm package, because packaging process is controlled by Gradle nebula ospackage plugin.
As far as I know, ospackage plugin doesn't give the opportunity to preserve source files before packaging.
Currently in OpenSearch build script, the files used for packaging is gathered in separate steps (for example:
https://github.com/opensearch-project/OpenSearch/

[2022-03-25 17:23] dblock commented on #2571
I agree with @xuezhou25. We're building RPM in core, but then we want to add things to RPM and rebuild RPM again for the bundle build. I think if we want directory output, or some other output we need to add a different distribution target.

[2022-03-25 17:32] andrross commented on #2595
It looks like the AutoQueueAdjustingExecutorBuilder itself was deprecated for removal due to being experimental and not being used. Seems like we can go ahead and take it out unless anyone has objections.

[2022-03-25 18:07] anasalkouz commented on #2571
@peterzhuamazon what is your thought on the suggested approach?

[2022-03-25 18:28] reta opened #2597 "[CVE-2020-36518] Update jackson-databind to 2.13.2.1"
**Describe the bug**

`jackson-databind` up to 2.13.2 allows a Java StackOverflow exception and denial of service via a large depth of nested objects.

[1] https://nvd.nist.gov/vuln/detail/CVE-2020-36518
[2] https://github.com/FasterXML/jackson-databind/issues/2816

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-03-25 18:45] #1345 closed

[2022-03-25 20:15] stockholmux commented on #2589
I'm glad to see this!

[2022-03-25 20:30] reta opened #2603 "[FEATURE] Provide dedicated Test Containers support for OpenSearch"
**Is your feature request related to a problem? Please describe.**
Test Containers [1] is a widely used test scaffolding for running tests against Docker containers on JVM. A number of integrations is already bundled into Test Containers, including Elasticsearch [2], however the proposal to include the Opensearch support (fully contributed) was rejected [3]

[1] https://www.testcontainers.org/
[2]

[2022-03-25 21:53] #2581 closed

[2022-03-25 22:03] peterzhuamazon commented on #2517
@dblock @saratvemulapalli This PR #2602 is raised to resolve this issue temporarily.
@xuezhou25 is working on resolving #2571 on a separate PR.

Thanks.

[2022-03-25 22:11] peterzhuamazon commented on #2571
@dblock @saratvemulapalli This PR #2602 is raised to resolve this issue temporarily.
@xuezhou25 is working on resolving #2571 on a separate PR.

Thanks.

[2022-03-25 22:33] peterzhuamazon commented on #2517
Testing proves that dashboards does not have similar issues:
[code]

[2022-03-25 22:37] #2517 closed

[2022-03-25 22:44] cliu123 commented on #2590
The above workaround doesn't look working. @Rishikesh1159 Would you please help out?
Cc: @CEHENKLE

[2022-03-25 22:57] anasalkouz commented on #2481
I agree with @andrross, why remote storage should work with document replication? What is the benefit of doing this?  I think we need to trade between the benefit of enabling this vs the complexity we will add.

[2022-03-25 23:27] CEHENKLE commented on #2534
I've removed the 2.0/blocker labels because we're past the feature freeze date on 2.0 and the path forward is not clear yet.  I'd like to get some more clarity on the proposal and target 3.0

[2022-03-25 23:27] anasalkouz opened #2607 "Using script upsert with _bulk API won't triggered"
**Is your feature request related to a problem? Please describe.**
using script upsert with _bulk API will not triggered pipeline. But if use _doc API will triggered pipeline.

**Steps to reproduce**
A clear and concise description of what you want to happen.
1.  Create ingest pipeline.
[code]
2. Apply ingest pipeline to index with bellow mappings
[code]
3. Run _bulk
[code]

As the document not ex

[2022-03-25 23:45] #2507 closed

[2022-03-25 23:52] dblock commented on #2447
Thanks @saratvemulapalli for the proposal!

@reta I think you have it spot on, _the limitations and problems you have described are real, but the solution may not be as clear yet_. For one, there are concerns around "extensions" vs. "plugins". Personally, I am a big believer in incremental evolution rather than radical revolution, too. I only read the proposal as "let's think about what plugins co

[2022-03-27 10:32] erezgong commented on #1965
@CEHENKLE any updates?

[2022-03-28 03:41] CEHENKLE commented on #1965
I pinged @mgodwan to take a look, since it seems like #656 might be where this regression came in.  I'll also do a deeper dive on Monday to see what else I can see.

Thanks,
/C

[2022-03-28 05:56] Bukhtawar opened #2609 "[BUG] Cluster settings update deadlock with archived settings and read only cluster blocks"
**Describe the bug**
If the cluster has both a read-only settings and also a un-recognised settings that gets archived. The cluster settings update gets into a deadlock as the archived setting blocks any new settings update and read only settings prevents archived settings to removed. Trying to set both of them together fails as read only block only allows a single setting which is to remove the r

[2022-03-28 12:18] mgodwan commented on #1965
* The The issue seems to be due to client expecting field discovered_master to be present in the response coming from server (required arg), but older server versions not returning it (which is expected e.g. ODFE). The issue should not be encountered when using an older client (e.g. ES 7.10 client) with opensearch but only when using opensearch client with ODFE/ES servers.

* The change was done w

[2022-03-28 13:07] Rishikesh1159 commented on #2590
Sure @cliu123 I am working on it. I will provide you an update once I find anything.

[2022-03-28 15:18] reta opened #2619 "[FEATURE] Switch to Netty 5"
**Is your feature request related to a problem? Please describe.**
Netty 5 is already out [1], it would make sense to switch over Opensearch Netty Transport(s) to this new version.

[1] [in alpha release ](https://github.com/netty/netty/releases/tag/netty-5.0.0.Final)

**Describe the solution you'd like**
Switch over Opensearch Netty Transport(s) to Netty 5 .

**Describe alternatives you've consid

[2022-03-28 15:19] reta commented on #2619
@dblock @nknize @andrross sounds good to target 3.0.0 ? thanks guys!

[2022-03-28 17:07] tlfeng commented on #2539
Resolved in the commit https://github.com/opensearch-project/OpenSearch/commit/cc0e66b1dcc2cfe17b76bcea1168ebb996fbb090 / PR https://github.com/opensearch-project/OpenSearch/pull/2575. The backport PRs are https://github.com/opensearch-project/OpenSearch/pull/2593 and https://github.com/opensearch-project/OpenSearch/pull/2594.

[2022-03-28 17:07] #2539 closed

[2022-03-28 18:24] andrross commented on #2619
The [release announcement](https://netty.io/news/2022/03/17/5-0-0-Alpha1.html) says "it is still a long road to the final release" so we might want to avoid committing to a specific OpenSearch version until Netty 5 is more stable. However it is probably a good idea to do some early prototyping in case any of the breaking changes in Netty 5 are particularly problematic for OpenSearch.

[2022-03-28 18:24] dblock commented on #2607
This would be a good problem to turn into a unit test, adding good first issue.

[2022-03-28 19:01] dblock commented on #1965
@mgodwan The approach in (1) looks reasonable to me! Make a PR. Thank you.

[2022-03-28 19:10] saratvemulapalli commented on #1965
Correct, we would like to maintain this compatibility for customers to migrate from older major versions.
+1 to solution we have to fix the client to support backwards-compatibility and we should add tests to catch these problems in future. I'm surprised it was not caught.

[2022-03-28 20:50] Rishikesh1159 commented on #2590
Due to some breaking changes in opensearch, security plugin build is failing. So, I cannot reproduce the issue. @cliu123 is working on fixes build failures in security plugin. Once it is fixed I can resume working on this.

[2022-03-28 22:43] andrross commented on #2595
I don't think we need to get this change into the upcoming 2.0 release, but we can target it for 2.1.

[2022-03-28 22:47] reta commented on #2595
It will be breaking change, right? So next major like 3.0.0?

[2022-03-29 03:13] qracle commented on #2607
Hope to fix the problem soon.

[2022-03-29 09:55] sachinpkale opened #2640 "[BUG] Index update operation during forcemerge causes node drops"
**Describe the bug**
If `forcemerge` operation is in progress for an index, cluster state update with operation on the same index (close, delete etc.) is not applied by the data nodes until `forcemerge` is complete. As forcemerge is expensive operation, based on the parameters provided, it can take significant amount of time (we have observed forcemerge taking few hours to complete as well). Maste

[2022-03-29 10:03] eirsep commented on #2640
Should index operation retry with backoff rather than fail in one attempt? (maybe total duration of retries can be tuned to be lesser than master timeout to remove node)

[2022-03-29 13:10] opensearch-ci-bot opened #2642 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 3844 in gradle_check log for more information.

[2022-03-29 13:18] opensearch-ci-bot opened #2643 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 3845 in gradle_check log for more information.

[2022-03-29 16:15] dblock opened #2644 "Use JDK 11 or 17 for gradle check"
**Is your feature request related to a problem? Please describe.**

In https://github.com/opensearch-project/OpenSearch/pull/2166 we've moved gradle check into this repo. The process is using JDK 14.

**Describe the solution you'd like**
Use JDK 11 for 1.x branches, and JDK 17 for 2.x and main.

**Additional context**
Ideally the job would pickup the Java version from a config file. But in https:/

[2022-03-29 16:21] Rishikesh1159 commented on #2577
@nknize any update on this?

[2022-03-29 16:31] nknize commented on #2577
:+1: no failures for sometime so I'll close. @tlfeng will reopen if we hit this again.

[2022-03-29 16:31] #2577 closed

[2022-03-29 16:32] mch2 commented on #2229
Added total bw used during the test run and IOPS.

[2022-03-29 16:32] peternied commented on #2590
@Rishikesh1159

I believe the repro includes using a build where @cliu123 has fixed the breaking changes you can get a copy from here https://github.com/cliu123/security/tree/bump_opensearch_dependency_to_2.0.0

The issue itself can be seen in the plugin install workflow [link](https://github.com/opensearch-project/security/runs/5726583125?check_suite_focus=true), here is the [PR](https://github.c

[2022-03-29 17:00] gressc opened #2650 "[BUG] Plugins unable to load classes with ServiceLoader"
**Describe the bug**
OpenSearch Plugins are unable to find classes using ServiceLoader

**To Reproduce**
[Minimal Reproducible Example](https://github.com/gressc/opensearch-plugin-broken-service-loader)

**Expected behavior**
ServiceLoader searched class is found in plugin

**Host/Environment (please complete the following information):**
 - OS: Linux
 - Version: CentOS 7 [e.g. 22]

[2022-03-29 17:25] Rishikesh1159 commented on #2590
@mch2 will be working on this issue as top priority. Thank you!

[2022-03-29 17:31] elfisher commented on #1976
@prashanttct07 thanks for clarifying. I'll add this to the backlog, and we will work to prioritize it. If this is something you (or anyone else) would be interested in contributing, let us know. We are happy to help review.

[2022-03-29 17:38] mgodwan commented on #1965
@dblock @saratvemulapalli  Can you help with approving merging this PR https://github.com/opensearch-project/OpenSearch/pull/2641?

[2022-03-29 17:53] bbarani commented on #2412
@kotwanikunal Any update on the fix for this bug? Please update this thread when you have an answer - https://discuss.opendistrocommunity.dev/t/implausibly-old-time-stamp-1969-12-31-error-while-untarring-opensearch-1-3-0/8989

[2022-03-29 18:17] anasalkouz commented on #2229
can we turn on/off seg replication? instead of having this on index creation level.

[2022-03-29 18:20] andrross commented on #2229
I'd like to see some discussion on the consistency changes that a user will experience with segment replication. I don't think OpenSearch gives strong transactional guarantees today with document replication, but I believe all acknowledged writes will be visible to a user regardless of whether a query hits a primary or replica. I think this will change with segment replication.

[2022-03-29 18:21] dblock commented on #1965
Closed via https://github.com/opensearch-project/OpenSearch/pull/2641

[2022-03-29 18:21] #1965 closed

[2022-03-29 18:22] kartg commented on #2229
I'd suggest just pointing to the [RFC section that covers document replication](https://github.com/opensearch-project/OpenSearch/issues/1694#user-content-doc-rep).

Is this refresh coupled to the segment replicaiton process i.e. do we forcefully refresh once replication is complete? Does this mean we need to disable the on-schedule refresh on replicas?

Will every checkpoint be queued on the repli

[2022-03-29 18:35] qreshi commented on #1483
@dblock Regarding these changes for the plugins, do we have an ETA on when OpenSearch and OpenSearch-Dashboards will rename their references?

Alerting, for example, is referencing Painless and NodeListeners which have things like `WhitelistLoader` and `localNodeMaster`, etc. So we can't fully remove our references until core does.

[2022-03-29 19:04] tlfeng commented on #1483
Hi @qreshi 😄 Such class/method names that in OpenSearch Java libraries will be renamed in a future major version. At least in version 3.0, but depends on the public acceptance. It is tracked in issue https://github.com/opensearch-project/OpenSearch/issues/1683. I will keep updated.
There was a discussion on renaming usages in this area (https://github.com/opensearch-project/OpenSearch/pull/2453#di

[2022-03-29 19:10] mch2 commented on #2590
taking a look

[2022-03-29 19:58] travisbenedict opened #2657 "Support for disabling BKDReader packedIndex off heap"
**Is your feature request related to a problem? Please describe.**
In Lucene 8.4 the BKDReader packedIndex was moved off heap ([LUCENE-8932](https://issues.apache.org/jira/browse/LUCENE-8932)).  In some cases this can cause the BKDReader to consume more CPU cycles and increase request latency

**Describe the solution you'd like**
Add a setting to allow the BKDReader packedIndex to be moved on heap

[2022-03-29 20:04] andrross commented on #2595
Of course, you're right, since there are configuration settings to remove. I still think we can pass on 2.0 since that is coming up rapidly and this doesn't seem critical. We can target 3.0 instead.

[2022-03-29 20:21] peterzhuamazon commented on #2598
Possible issues if we directly rename inside core:
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1401

[2022-03-29 21:18] qreshi commented on #1483
@tlfeng Got it, so it's safe to say that these issues being tracked for the plugins don't need to be closed out by 2.0 preview or GA? Since this issue is currently tagged as `2.0.0` and on the roadmap should we disambiguate that by detailing a high-level summary of what we expect to be done by 2.0 and what is targeted for 3.0?

[2022-03-29 21:39] tlfeng commented on #1483
@qreshi That's a reasonable suggestion! I will add more detail to disambiguate the current process.

[2022-03-29 21:46] mch2 commented on #2590
Hi @cliu123,
I just built your fork with the jackson-databind dependency removed from your gradle scripts -  [this line](https://github.com/cliu123/security/blob/782b042472a97331b8d9e7e87a3376acf3ef4556/build.gradle#L85) and successfully installed & ran the tarball with the demo config with ./bin/opensearch.

What is the desired dependency resolution here? I would suggest unless explicitly require

[2022-03-29 23:37] Yury-Fridlyand opened #2659 "[BUG] Deprecation messages refers to elasticsearch v.8 version"
**Describe the bug**
`OpenSearch` is able to warn a use about upcoming deprecation of API used. Some of deprecation messages refers to `Elasticsearch` version instead of `OpenSearch`.
There are deprecations seen by .Net client automated test:
[code]

.Net client automated test detects and logs all seen deprecations. You can see one of test runs here: https://github.com/opensearch-project/opensearc

[2022-03-30 03:50] CEHENKLE commented on #1965
Thank you @mgodwan !  :)

[2022-03-30 05:27] #2547 closed

[2022-03-30 06:52] sachinpkale commented on #2481
We are combining two things here: Durability and Replication. Durability should be achieved irrespective of what replication strategy we choose. Durability feature will make sure that there will not be any data loss when outage happens. Let me know if you disagree with this.

@kartg This is a feature that can be built using remote segment store but again not related to durability feature.

Is it s

[2022-03-30 15:50] Poojita-Raj commented on #2414
Most recent gradle check failure (with 1 failing test) caused by:

Tests with failures:
org.opensearch.index.engine.EvilInternalEngineTests.testOutOfMemoryErrorWhileMergingIsRethrownAndIsUncaught

Full stack trace can be seen in this log: https://github.com/opensearch-project/OpenSearch/pull/2551#issuecomment-1078559533

[2022-03-30 16:53] dbbaughe opened #2664 "[BUG] Painless - ASM/org.objectweb errors - 2.0.0"
**Describe the bug**
I'm getting some issues w/ running tests in Index Management for 2.0.
At a certain point while running integration tests the entire cluster crashes, so I tried tracking it down to see if it's a specific test.. but it seems to be flaky and sometimes crashes and sometimes doesn't.

An example of an integ test suite run and failing and running again and passing:
https://gist.gith

[2022-03-30 16:58] qreshi commented on #2664
Can confirm, I'm the coworker

[2022-03-30 17:03] andrross opened #2665 "Distribution neutral packaging of OpenSearch core"
I'm raising this issue to track a longer term refactoring/improvement of the build process for OpenSearch. The immediately impact that motivated #2571 has been mitigated. However, the existing build process involves building distribution-specific opensearch-min artifacts (such as an RPM), which are subsequently extracted, modified, then repackaged for the full distribution. This seems to be a bit

[2022-03-30 17:04] kartg commented on #2194
Action items from another PR - #2551
* Improve replication lifecycle management by avoiding distributed ownership across classes - https://github.com/opensearch-project/OpenSearch/pull/2551#discussion_r833583823
* Update segment replication test verification steps to validate file structure (and therefore point-in-time consistency) over and above hit count - https://github.com/opensearch-project/O

[2022-03-30 17:06] andrross commented on #2571
Closing this in favor of #2665 to track a longer term solution here

[2022-03-30 17:21] mch2 commented on #2659
Thanks for reporting @Yury-Fridlyand.  I suggest we change these to "a future version" unless otherwise known.

[2022-03-30 17:22] #2644 closed

[2022-03-30 17:26] nknize commented on #2664
I agree that we should have consistent API versions. Looks like dependabot is not that.. dependa...ble.

However, I'm unable to reproduce this in the 2.0 branch w/ JDK 17. Even after upgrading `api 'org.ow2.asm:asm-analysis:9.2'` locally.

[code]

It's odd our PR gradle checks wouldn't have caught this as well.  Did you clear gradle cache? Kill any stale gradle daemons?

[2022-03-30 17:30] dbbaughe commented on #2664
That's interesting, it passed for you on JDK 17 with asm-analysis on 7.2 and on 9.2?

I had Mohammad pull it down on to his dev desktop to test it as a way to get a second data point before nuking my caches as that always causes me other issues getting things set up again sometimes.

I guess I can now try and see what happens now since we have another data point of it passing for you..

[2022-03-30 17:34] nknize commented on #2664
Yes, it passes w/ both. Although it feels uncomfortable running 7.2 when the rest are on 9.2

[2022-03-30 17:38] dbbaughe commented on #2664
@nknize Any chance there's a difference between the 17 JDK from Oracle and 17 JDK from OpenJDK?
I can see I was using
[code]

And you have
[code]

Mohammad also tested with OpenJDK. In the meantime I am nuking caches etc. and rerunning the test on my end.

[2022-03-30 17:43] dbbaughe commented on #2664
Did this..
[code]

Reran the test and still getting the failure on my end.

[2022-03-30 17:59] dblock commented on #2664
@dbbaughe Is the issue in `org.objectweb.asm` either way? Should we open a bug upstream?

[code]

[2022-03-30 18:07] nknize commented on #2664
Sure it's a possibility. I'm not in a position to test that for a while (maybe @mch2 can investigate?). If that ends up being the case then it sounds like a JDK 17 issue since you're seeing this failure on both 7.2 and 9.2 but only when using 17?

[2022-03-30 18:09] dbbaughe commented on #2664
@dblock
I'm not sure if the problem is in the dependency or not, it could just be in OpenSearch itself w/ some other dependency pulling in an older version of this dependency and some shading issue. Or it could be the dependency isn't working as expected on OpenJDK 17 so it is a problem upstream.

@mch2 Can you try out the steps using OpenJDK 17 and see if you can replicate?

@nknize Yes, seeing i

[2022-03-30 18:13] nknize commented on #2664
I'd give this a shot. I did it and the tests pass but that's not saying anything since I can't reproduce w/ Oracle JDK.

Mixed dependency versions is always a problem and the only changes since the last release here are the dependency versions and jdk upgrade. If you can downgrade the dependency to 7.2 across the board and it passes for you in jdk 17 then I'd be fine reverting the upgrade for 2.0

[2022-03-30 18:18] mch2 commented on #2664
Trying this with 2.0 as is, first run after 13m failed with a timeout but no further output, might be flaky.  Trying again with -i.

[2022-03-30 18:28] dbbaughe commented on #2664
Checked out the advisory in the thread @mch2 found.

Tried disabling the hot patch service
`sudo systemctl stop log4j-cve-2021-44228-hotpatch`
Was able to get the tests to successfully pass.

I tried upgrading it instead
[code]

But it still fails, worried this will be a ticking time bomb for anyone running on Amazon EC2 (or higher abstraction services) then?

[2022-03-30 18:43] mch2 commented on #2664
Curious why this hasn't been failing from CI? Those also run on AL2.

For context, issue - https://github.com/elastic/elasticsearch/issues/81915#issuecomment-1001763305.

[2022-03-30 19:03] #2571 closed

[2022-03-30 19:46] mch2 commented on #2664
I'm able to repro the failure with AL2 + JDK17.   I've tried downgrading ASM to 7.2 with no success.  Looking at shadowing those dependencies.

[2022-03-30 19:49] dbbaughe commented on #2664
This seems like a bit of a concern and probably just a miss - did we open an issue to make sure we are running CI on the versions that we require our plugins to run on? I believe there has been work across all plugins to make sure their CI is running on the supported JDK versions.. and probably should have the expectation that upstream core is stable on those versions too.

[2022-03-30 20:24] dblock commented on #2664
CI for 2.0 should not/is not being run on 14, where do we see that?

[2022-03-30 20:31] seanneumann commented on #2095
Corresponding OpenSearch Dashboards 2022 isssue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1405

[2022-03-30 21:06] nknize commented on #2482
What version of Lucene did you benchmark?

For clarification, operations are still available and can be replayed. It's just stored in a Lucene index instead of a Translog file. Hence "HistorySource" being removed as an option.

[2022-03-30 21:41] nknize commented on #2482
I just checked the commit. You were [benchmarking with Lucene 8.9](https://github.com/opensearch-project/OpenSearch/blob/a9e1913bd5c9ab4906e9cac2c189ed5f797a2a53/buildSrc/version.properties#L2) which had a [performance regression bug](https://issues.apache.org/jira/plugins/servlet/mobile#issue/LUCENE-9486) for Stored fields decompression that was [fixed in Lucene 8.10](https://issues.apache.org/ji

[2022-03-30 21:49] mch2 commented on #2664
I checked directly on the jenkins host that runs gradle checks.  It is not pulling in any script under version control.

I believe what has changed is the bundle build CI, which I would expect is now failing for this reason.

[2022-03-30 21:54] owaiskazi19 commented on #2664
@mch2 the jenkinsfile will be used by public jenkins later. The current CI is still using JDK-14 and has the old setup as of now.

[2022-03-30 22:07] mch2 commented on #2664
I'm not sure its wise for us to have inconsistent versions between the build & check jobs.  I'd suggest we either manually change the check job to also be 17 or revert to 11.

With that said, I am still working on resolving this issue.

[2022-03-30 22:12] owaiskazi19 commented on #2664
Makes sense. @peterzhuamazon can we run gradle check on the current CI with JDK-17 once this issue gets fixed?

[2022-03-30 22:53] penghuo commented on #2664
+1. Same issue when running performance test with any painless script.
Env:
* Amazon AL2 EC2
* OpenJDK 17
* OpenSearch 2.0 main localDistro build

Solution
`sudo touch /etc/log4j-cve-2021-44228-hotpatch.kill`

[2022-03-31 02:59] nknize commented on #2664
If that's the case, then this is the most straightforward solutions I've ever seen :laughing:

[2022-03-31 04:59] mch2 commented on #2664
This will disable the log4j patch on those hosts.  As a workaround we could use shadow pr [here](https://github.com/opensearch-project/OpenSearch/pull/2681).  This works for me with jdk 17 on AL2.

[2022-03-31 16:16] peternied commented on #2590
I think we should merge https://github.com/opensearch-project/security/pull/1709 to mitigate this issue (and prevent it from coming up again)

[2022-03-31 17:00] #2590 closed

[2022-03-31 18:44] kartg commented on #2481
....
@kartg This is a feature that can be built using remote segment store but again not related to durability feature.

Durability and replication are separate considerations as long as we're only changing _how_ we make things durable, or _how_ we're replicating. With remote storage, we're changing _where_  we're making things durable which affects _where_ we replicate from.

I think we have an o

[2022-03-31 18:48] brijos opened #2686 "OpenSearch in Other Marketplaces (e.g. Azure, Google)"
**Is your feature request related to a problem? Please describe.**
The OpenSearch project is not listed in the Microsoft Azure and Google Cloud Marketplaces.  In order to get more eyes on OpenSearch, the project needs to be listed on marketplaces.

**Describe the solution you'd like**
Team up with community members on getting OpenSearch open source listed on various marketplaces.  It would be good

[2022-03-31 20:06] owaiskazi19 commented on #2351
Communication is established between OpenSearch and SDK.

Logs of SDK:
[code]

Logs of OpenSearch:

[code]

[2022-03-31 20:33] anasalkouz commented on #1960
Closing this issue, due to lack of information. @AlanYuXuan please feel free reopen once you have more details and answers for the existing questions.

[2022-03-31 20:33] #1960 closed

[2022-03-31 20:36] abhinavGupta16 opened #2690 "Add timeout to gradle check jenkins job and test cases if possible"
**Is your feature request related to a problem? Please describe.**
The gradle check job does not have timeout. Without a timeout, if the job is stuck, it will hold the resources indefinitely hampering other jobs.

If possible, add test cases for the jenkins job.

**Describe the solution you'd like**
Add a timeout to the jenkins job https://github.com/owaiskazi19/OpenSearch/blob/main/jenkins/jenkin

[2022-03-31 20:36] aksingh-es commented on #2664
AD plugin  integ test are also failing due to this issue as the nodes are not coming up  healthy . `sudo touch /etc/log4j-cve-2021-44228-hotpatch.kill` did work.

`2022-03-31T19:30:35,670][DEBUG][o.o.c.c.C.CoordinatorPublication] [integTest-0] publication ended successfully: Publication{term=1, version=34}
[2022-03-31T19:30:35,702][INFO ][o.o.j.s.JobScheduler     ] [integTest-0] Scheduling job id

[2022-03-31 20:38] anasalkouz commented on #1278
Seems, this is already implemented and backported to 1.x. Closing the issue. @quangmaubach feel free to reopen if you have anything pending.

[2022-03-31 20:38] #1278 closed

[2022-03-31 20:40] anasalkouz commented on #618
Closing it due to lack of details. @itiyamas feel free to reopen once you have more details about it.

[2022-03-31 20:41] anasalkouz commented on #1040
Closing it. @Bukhtawar feel free to reopen if there is anything still pending.

[2022-03-31 20:43] anasalkouz commented on #985
@Bukhtawar, do you have any update on this?

[2022-03-31 20:44] anasalkouz commented on #1279
Hi @quangmaubach, are you still working on this?

[2022-03-31 20:58] mch2 commented on #2664
An update here.

The root problem is the same conflict of ASM classes with jdk17.  I think this is related to jdk17 blocking illegal access to runtime internals with [JEP 403](https://openjdk.java.net/jeps/403). The hotpatch is bringing in its version of these classes that are getting loaded by the system classloader and conflicting with the versions included by the painless module.

I thought may

[2022-03-31 21:32] owaiskazi19 opened #2691 "POC: Invoke the extension point based on the request from OpenSearch to unblock Latency Testing"
**Is your feature request related to a problem? Please describe.**
Once the communication is done between OpenSearch and SDK

- [x] Create a mechanism to invoke extension point for the custom plugin
- [x] Based on the request invoke the right extension point
- [x] Integrate SDK with custom extension and invoke it's extension points

**Describe the solution you'd like**
A clear and concise descript

[2022-03-31 23:06] mch2 commented on #2664
Ok looks like the jar in the hotpatch is the issue. I'm able to reproduce using the static agent attached to the process with ./gradle run. Not sure why adding the agent to gradle.properties didn't load properly.

Repro steps:
1. Disable the hotpatch `sudo systemctl stop log4j-cve-2021-44228-hotpatch`
2. Start opensearch with `./gradlew run`.
3. Execute a few curl requests with painless, this will

[2022-03-31 23:47] saratvemulapalli commented on #2351
This is awesome to see. Finally we are able to communicate between OpenSearch <-> SDK :)

[2022-03-31 23:58] owaiskazi19 opened #2693 "POC: Create an extension.yml file to provide the plugin description"
**Is your feature request related to a problem? Please describe.**
Similar to https://github.com/opensearch-project/OpenSearch/blob/2.0/buildSrc/src/main/resources/plugin-descriptor.properties. Create a yml file to send it as a part of request to OpenSearch from SDK.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've co

[2022-04-01 00:05] anasalkouz commented on #615
Closing this due to lack of details. @Bukhtawar feel free to reopen if needed

[2022-04-01 00:05] #615 closed

[2022-04-01 00:11] anasalkouz commented on #1142
Closing it due to lack of details. @tushar-kharbanda72 feel free to reopen if needed.

[2022-04-01 00:11] #1142 closed

[2022-04-01 00:12] anasalkouz commented on #1144
Closing this due to lack of details. @mitalawachat please reopen if needed.

[2022-04-01 00:13] anasalkouz commented on #614
Closing this due to lack of details. @Bukhtawar feel free to reopen if needed.

[2022-04-01 00:15] anasalkouz commented on #1277
Closing this issue, since we are tracking pluggable translog on this issue https://github.com/opensearch-project/OpenSearch/issues/1319

[2022-04-01 00:15] #1277 closed

[2022-04-01 00:17] tlfeng opened #2694 "Replace "master" terminology in documentation"
**Is your feature request related to a problem? Please describe.**
Replace non-inclusive word "master" in `*.md` documentation file.
Since new REST APIs and settings with inclusive word "cluster manager" are added by the issue https://github.com/opensearch-project/OpenSearch/issues/1549, the documentation can be updated.

A part of issue https://github.com/opensearch-project/OpenSearch/issues/472

[2022-04-01 00:20] Bukhtawar commented on #614
I think I have given sufficient details on the problem. If the request can't remember something from the top of his head doesn't mean it lack details.

I am not sure you realize the requester doesn't necessarily have permissions to reopen. So would appreciate if you could confirm before closing the issue

[2022-04-01 00:40] anasalkouz commented on #614
Sorry @Bukhtawar didn't mean it lack of detail, I meant the issue has been open for while and there are 2 questions asking for extra clarification and no body response. I am reopened the issue, Please feel free to assign it to yourself, if you are going to work on it.

[2022-04-01 04:00] mch2 commented on #2664
So to move this fwd I see two options.  We either 1 - disable the hotpatch on CI & warn users of this issue with jdk17 + the hotpatch or 2 - move fwd with shadowing lang-painless's version of these jars ourselves.  While we can't control whats running on user's hosts, I see 2 as a safer option, thoughts?

[2022-04-01 07:22] ict-one-nl opened #2699 "[BUG] Spring RCEs"
**Describe the bug**
On the opensearch website, newest version: 1.3.1
Docker hub: 1.3.1
!! Github 1.3.0

Can't find the release notes, is this release because of the Spring RCE bugs? The ambiguous communicatie combined with the impact of the vulnerabilities makes me unsure if I should upgrade asap or if the release is about something else.

**Expected behavior**
Versions are consistent on website,

[2022-04-01 08:28] sachinpkale opened #2700 "[Design Proposal] Add Remote Storage Options for Improved Durability"
## Goal

This doc proposes a high level and low level design to provide durability guarantees for the indexed data using remote store. For more info on overview and challenges, please refer: [Feature Proposal](https://github.com/opensearch-project/OpenSearch/issues/1968)

## Requirements

### Functional

1. Store indexed data to the configured remote store
2. Provide a mechanism to restore data fr

[2022-04-01 08:40] opensearch-ci-bot opened #2701 "Jenkins Randomized Gradle Check Failed on 6142b9340cb4627fa72c047f7e51422bfac0b596"
@opensearch-project/opensearch-core team, please take a look at Build 4023 in gradle_check log for more information.

[2022-04-01 09:49] ict-one-nl commented on #2699
Trivy on 1.3.1, it's not happy, not sure if it's false positive:

![image](https://user-images.githubusercontent.com/2643715/161240036-ed73af46-818d-4b1d-aa4f-8672efa4263a.png)

[2022-04-01 11:51] Bukhtawar commented on #1040
@anasalkouz Please re-open this issue, the problem is not fixed and would appreciate any community help on this

[2022-04-01 12:08] sachinpkale commented on #2481
Completely agree. Not just replication, we can integrate remote store with other constructs/features of OpenSearch (like snapshot). While designing the remote store, we have to make sure the use case is extensible. We have started drafting design proposal here: https://github.com/opensearch-project/OpenSearch/issues/2700

[2022-04-01 12:19] dblock commented on #2664
First, thanks for the thorough debugging and repro, solid work.

I think we can move forward with (2) now as a workaround. Let's leave the bug open or open a new one to undo the shadowing, and treat it as a bug in the hot patch. The latter shouldn't have this kind of effect on any application IMHO.

[2022-04-01 12:29] dblock commented on #2699
Looks like we've tagged all repos with 1.3.1 correctly, but didn't make a "release" on GitHub, for now I've commented in https://github.com/opensearch-project/opensearch-build/issues/1805#issuecomment-1085833373, but it is likely a new issue with our release process. Either way it shouldn't be a big problem in itself.

Editing this issue to be RCE-related only.

[2022-04-01 12:33] ict-one-nl commented on #2699
Can we confirm that Opensearch is not affected by the vulns found by Trivy and that those are indeed false positive?

[2022-04-01 12:35] dblock commented on #2699
Will have someone take a look ASAP.

[2022-04-01 12:36] dblock commented on #2699
@ict-one-nl 1.3.1 was cut yesterday and some announcements/updates didn't catch up yet; have you run trivi on that?

[2022-04-01 12:40] dblock commented on #2699
For jackson-databind I see https://github.com/opensearch-project/OpenSearch/pull/2599 that went into 2.0, but it wasn't backported into 1.x/1.3.

[2022-04-01 12:44] ict-one-nl commented on #2699
yes, already did, see 3rd post, second screenshot :)

[2022-04-01 12:44] dblock commented on #2699
Yes, I saw that and deleted my comment. Thx

[2022-04-01 15:05] Firdaus1 opened #2707 "Opensearch Helm -- Cluster Formation Example Code ?"
Hi Opensearch community,

I can't seem to find an example helm chart for opensearch that includes cluster formation -- i.e. has examples of a data-statefuleset.yml and master-statefulset.yml along with discovery services for it.

I know the default opendistro helm chart includes a cluster formation.  Does someone know a place where this example resides?

appreciate your help!
Firdaus

[2022-04-01 16:24] anasalkouz commented on #1722
@kotwanikunal are you actively working on this issue?

[2022-04-01 16:25] anasalkouz commented on #1788
@xuezhou25 are you still actively working on this issue?

[2022-04-01 16:31] anasalkouz commented on #1165
@Bukhtawar is there anything else pending on this issue before we close it?

[2022-04-01 16:49] kotwanikunal commented on #1722
This is currently on the backlog and I am not actively looking into it.

[2022-04-01 16:50] kotwanikunal commented on #2412
I tried working around the issue with the JDK versions and the tarballing configuration. I haven't had a lot of luck fixing/root causing it.
I'll be working with the team to find a path forward.

[2022-04-01 16:51] mch2 commented on #2699
OpenSearch does not meet the requirements as outlined [here](https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement#am-i-impacted).  We don't depend on spring those `spring-webmvc` or `spring-webflux` to be directly impacted.

Our data-prepper plugin does have a packaged example app with a controller using parameter binding & spring-boot [here](https://github.com/opensearch-proj

[2022-04-01 18:51] dblock commented on #2699
@ict-one-nl looks like we can say "not vulnerable" given @mch2's comment. I'll close this, but please do reopen if you feel otherwise.

Note that we did upgrade the dependency in 2.0. If you want to backport https://github.com/opensearch-project/OpenSearch/pull/2599 into 1.x and 1.3 branches by hand (auto-backport seems to have failed) we can take it and if there were to be a 1.3.2 it can be inclu

[2022-04-01 18:51] #2699 closed

[2022-04-01 18:56] ict-one-nl commented on #2699
Thanks for the investigation! :)

[2022-04-01 19:11] mch2 commented on #2664
To be clear, [this](https://github.com/corretto/hotpatch-for-apache-log4j2/commit/2924794ec79bad5a23f7000b414575a6c34c487f) missing from the hotpatch.  [This](https://github.com/corretto/hotpatch-for-apache-log4j2/commit/2924794ec79bad5a23f7000b414575a6c34c487f) previous fix is also missing.

Am working on an update to our fix.  Its also worth calling out this will increase the size of the lang-pa

[2022-04-01 19:39] saratvemulapalli opened #2709 "Add PluginOrchestrator support extension.yml defined by an extension."

[2022-04-01 19:40] saratvemulapalli opened #2710 "Add PluginOrchestrator support to read extension properties"
Add PluginOrchestrator support extension.yml defined by an extension.

[2022-04-01 19:41] saratvemulapalli opened #2711 "Design and support for initial extension point (IndicesModule)"
Add extension support for Indices Module as the first extension point.

[2022-04-01 19:52] dblock commented on #2699
Yes, I reopened and commented on https://github.com/opensearch-project/opensearch-build/issues/1805#issuecomment-1085833373

[2022-04-01 20:10] ict-one-nl commented on #2699
Cool thanks :)

[2022-04-01 20:36] dblock commented on #2699
Note @reta has backported the fixes to 1.3/1.x m(thank you!), but at this point there's no plan to release that version.

[2022-04-01 21:25] mch2 commented on #2699
To add more here.  The [Data-prepper plugin](https://github.com/opensearch-project/data-prepper) is also not part of the shipped OpenSearch [bundle](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.3.0/opensearch-1.3.0.yml).

Sql does have "Controllers" but they are implemented with OpenSearch's [RestHandler's ](https://github.com/opensearch-project/OpenSearch/blob/c371

[2022-04-01 21:33] #2358 closed

[2022-04-01 22:01] anasalkouz commented on #1891
Hey @ersinoracle, Sorry for being late. are you currently try to use elasticsearch client to query OpenSearch cluster.?Because the error has elasticsearch, I want to confirm this before diving into the issue.
`com.fasterxml.jackson.databind.exc.InvalidDefinitionException:
Direct self-reference leading to cycle
(
through reference chain:
org.elasticsearch.action.bulk.BulkItemResponse[2]->
org.elast

[2022-04-01 23:42] kotwanikunal opened #2718 "[PerformanceTests] Follow up tasks for perf test scripts"
**Is your feature request related to a problem? Please describe.**
As a part of the performance test scripts, add the following features -
- Support for a specific retry configuration in terms of retries and strategies
- Installation of python dependencies using an installation script instead of Jenkins scripts

**Describe the solution you'd like**
Described above. More details here - https://gith

[2022-04-01 23:47] dreamer-89 commented on #2257
Still waiting for closure on [documentation issue](https://github.com/opensearch-project/documentation-website/issues/448) before closing this one.

[2022-04-02 07:34] shahinpashayev86 opened #2719 "[BUG]"
**Describe the bug**
2022-04-01T11:39:00.647Z        ERROR   [esclientleg]   eslegclient/connection.go:261   error connecting to Elasticsearch at http://opensearch-cluster-master:9200: Get "http://opensearch-cluster-master:9200": EOF
2022-04-01T11:39:00.647Z        ERROR   instance/beat.go:971    Exiting: couldn't connect to any of the configured Elasticsearch hosts. Errors: [error connecting to E

[2022-04-02 13:34] opensearch-ci-bot opened #2720 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 4069 in gradle_check log for more information.

[2022-04-02 15:31] ruanwenjun opened #2721 "Rewrite ResourceWatcherService by WatchService"
**Is your feature request related to a problem? Please describe.**
I find we use schedule thread to loop the files ystem and find out whether there is any change(see code in `ResourceWatcherService`), and there is a `todo`  in `FileWatcher`.
https://github.com/opensearch-project/OpenSearch/blob/78465b4a08d51b8016ebfa757ca24e97606bdc84/server/src/main/java/org/opensearch/watcher/FileWatcher.java#L1

[2022-04-03 01:16] opensearch-ci-bot opened #2723 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 4075 in gradle_check log for more information.

[2022-04-03 06:47] tlfeng commented on #2719
Could you provide the version of the Filebeat you used?
Please check OpenSearch [documentation](https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/) about the Bests compatibility. Note that OpenSearch is not compatible with Beats version 7.13.x and above.

[2022-04-03 17:42] saikaranam-amazon commented on #2482
Ack. Let me check and run with 8.10

[2022-04-03 21:26] Hronom opened #2724 "Add `positive_score_impact` support for `rank_features`"
**Is your feature request related to a problem? Please describe.**
No support for `positive_score_impact` parameter for `rank_features`

**Describe the solution you'd like**
Add support

[2022-04-03 21:51] opensearch-ci-bot opened #2727 "Jenkins Randomized Gradle Check Failed on f50be02c6b93debe1d1ae534501b35c6656fa9d5"
@opensearch-project/opensearch-core team, please take a look at Build 4083 in gradle_check log for more information.

[2022-04-03 22:34] Hronom commented on #2724
Partially relates to https://github.com/opensearch-project/OpenSearch/issues/977

[2022-04-04 02:26] opensearch-ci-bot opened #2728 "Jenkins Randomized Gradle Check Failed on bed8fe8887916edf9184fade3399180188b2beaf"
@opensearch-project/opensearch-core team, please take a look at Build 4094 in gradle_check log for more information.

[2022-04-04 06:46] dhwanilpatel opened #2729 "Translog recovery impacting active ingestion of index"
**Is your feature request related to a problem? Please describe.**

Yes, It is issue in existing recovery flow which impacts with active ingestion. We would need to find a way to improve it.

When a shard is relocating from one node to another node, this relocation happens using peer recovery mechanism from primary shard. Peer recovery happens in three phases.

**Phase 1 :** Source shard remember

[2022-04-04 07:04] sachinpkale commented on #2494
Setup:
- 3 nodes cluster with each node of type r5.2xlarge (EC2 instance)
- No dedicated master nodes
- Index is created with `number_of_shards=1` and `number_of_replicas=2`
- Only indexing (write) traffic. Also, no traffic before recovery is complete (Step 5)

Observations:
- No data loss is observed after replaying data from translog
- Data replay time required
  - Translog with size 400MB - 1 m

[2022-04-04 07:28] sachinpkale commented on #2481
### Approach: Incremental upload only new segments of new primary to remote store

Segments are uploaded to the remote storage in directory format:  cluster_UUID/primary_term/index_hash/shard_number/. [Segments file](https://lucene.apache.org/core/5_1_0/core/org/apache/lucene/index/SegmentInfos.html) (segments_N) per commit will be used to keep track of max sequence number that is committed. Proce

[2022-04-04 07:58] sachinpkale commented on #2481
#### Approach: Sync all data from new primary to remote store in the background, commit only after data sync completes

We can use a variant of this approach. We take help of remote translog in this approach. Commits will be triggered in the same way as they are triggered today on the new primary. Local translog on new primary will be purged on these commits.

But the remote translog will not be p

[2022-04-04 08:31] sachinpkale commented on #2481
Adding more details in the design proposal: https://github.com/opensearch-project/OpenSearch/issues/2700

[2022-04-04 08:36] sachinpkale commented on #2494
Conclusion: Based on the experiment performed, translog replay is a time consuming operation and the recovery time is directly proportional to the translog size. We need to make sure to consider this while designing remote translog and may block further writes if remote translog reaches X MB in size.

Design proposal will have more details around it: https://github.com/opensearch-project/OpenSearc

[2022-04-04 09:14] sachinpkale commented on #2700
Started adding low level design details for Remote Segment Store.

[2022-04-04 11:39] amalgamm commented on #1018
Let me jump in :)
We have a case when kubernetes pod having built-in labels like `app=foo`, also we have a bunch of services which use label like `app.kubernetes.io/managed-by: Helm `. In first case field app in just a string. In other case it is nested object. When logshipper send such entry to opensearch it throws back mapper_parsing_exception and drops documents

Flattened type solves such prob

[2022-04-04 12:59] shahinpashayev86 commented on #2719
filebeat.inputs:
- type: log
  enabled: false
  paths:
    - /var/log/*.log
- type: filestream
  enabled: false
  paths:
    - /var/log/*.log
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 1
setup.kibana:
  host: "http://opensearch-dashboards:5601"
  username: "admin"
  password: "admin"
output.elasticsearc

[2022-04-04 12:59] shahinpashayev86 commented on #2719
curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.12.1-amd64.deb
dpkg -i filebeat-7.12.1-amd64.deb

filebeat modules enable system tomcat mysql

[2022-04-04 13:05] shahinpashayev86 commented on #2719
when i add ILM I receive ILM not supported

setup.ilm.enabled: true
setup.ilm.rollover_alias: "test1"
setup.ilm.pattern: "{now/d}-000001"
setup.ilm.policy_name: "Standard-Index"

[2022-04-04 14:20] faabsen opened #2739 "Delete deprecated index settings "archived.*""
**Is your feature request related to a problem? Please describe.**
When migrating from ElasticSearch to OpenSearch (via the `snapshot restore` path), indexes can/will be restored with deprecated index settings, e.g. `archived.index.lifecycle.name`. However, when applying an index policy and switching its state, the ISM fails with the following info: "unknown setting [archived.index.lifecycle.name]

[2022-04-04 14:20] faabsen opened #2803 "Delete deprecated index settings "archived.*""

[2022-04-04 15:19] ersinoracle commented on #1891
Hi @anasalkouz, yes we still have been using it to query the OpenSearch cluster.

[2022-04-04 16:04] mch2 commented on #2664
Closing with [fix](https://github.com/opensearch-project/OpenSearch/pull/2681) merged.  Please reopen if this reappears.

[2022-04-04 16:34] #2709 closed

[2022-04-04 18:58] nknize opened #2746 "Remove all version compatibility with Legacy nodes"
This issue tracks removing all version spoofing and bwc version logic with legacy versions in 3.0

[2022-04-04 18:59] nknize opened #2747 "Remove all LegacyESVersion.V_7x constants"
Removes all 7.x constants and logic that is no longer supported in 3.0

[2022-04-04 18:59] nknize opened #2748 "[Version] Remove all Legacy 7.x Compatibility in 3.0"
This is a meta issue to track all tasks for removing legacy compatibility in 3.0

- [ ] #2746
- [x] #2747

[2022-04-04 20:24] mch2 opened #2751 "[Segment Replication] Fix existing InternalCluster tests with Segment replication enabled."
We should be able to enable segment replication and have the existing suite pass.

Enable segrep setting in OpenSearchIntegTestCase's `indexSettings()` method & run the suite.

Tests related to failover can be ignored as that will be addressed separately.

[2022-04-04 20:59] mch2 opened #2753 "[Lang-painless] Revert shadow jar for ASM dependencies."
This issue is to track the removal of the shadow jar for asm dependencies added with https://github.com/opensearch-project/OpenSearch/pull/2681.  The shadow jar should be removed when log4jhotpatch for jdk17 is updated to mitigate #2664.

[2022-04-04 21:29] mch2 opened #2756 "[BUG] Wrong http code returned from create index API with bad input."
**Describe the bug**
Create Index API returning wrong http response code when given invalid input.

**To Reproduce**
1. Start up server ./gradlew run
2. Send a curl request to create an index with invalid input
[code]

Response:
[code]

**Expected behavior**
This should return http 400 Bad Request.

**Plugins**
None

**Host/Environment (please complete the following information):**
 - OS: [e.g. iO