[2021-12-18 15:53] dblock commented on #1707
This does make sense, but it also means we may not be able to make interface additions (e.g. new field) in minor releases, doesn't it?

[2021-12-18 15:54] dblock commented on #1018
I don't think anyone is working on it, cc: @anasalkouz?

[2021-12-18 15:55] dblock commented on #1754
Thanks! I think if you make a new repo for it that look like all the other plugins we can talk about moving it into the org.

Another thought, does it make sense for a single `opensearch-azure` plugin or collection of plugins?

[2021-12-18 15:57] #1675 closed

[2021-12-18 16:11] reta commented on #1707
Not necessarily, introducing the default interface methods won't break it, but could be difficult to catch though. Along with warning the user, we highlight the version mismatch and consequences, but surely we cannot guarantee it is going to work.

[2021-12-18 16:17] reta commented on #1754
👍

This is a good one, I initially thought about it as Azure only, but I at later point come to conclusion it is better (arguably) to move off all the repository plugins. It is easier to maintain, no need to jump between repositories (one is in core, one is somewhere else), less surprises. Also, we could move each one to separate repository later on if there would be a need to do so.

[2021-12-18 17:09] dblock commented on #1734
Full x64 distribution build, https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.3/126/linux/x64/dist/opensearch/opensearch-1.2.3-linux-x64.tar.gz

Other manifests/components:
https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.3/126/linux/arm64/builds/opensearch/manifest.yml
https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.3/126/linux/arm64/dist/ope

[2021-12-18 17:18] dblock opened #1772 "[BUG] Upgrade to Log4j 2.17 (CVE-2021-45105)"
**Describe the bug**

https://logging.apache.org/log4j/2.x/security.html#log4j-2.17.0
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105

[2021-12-18 17:37] #1772 closed

[2021-12-19 12:53] ab-smith opened #1776 "Update log4j to 2.17"
Update log4j to 2.17 to manage the new CVE-2021-45105

[2021-12-19 13:58] dblock commented on #1776
Dup, already done. We’ll have a 1.2.3 release this week. https://github.com/opensearch-project/OpenSearch/issues/1772

[2021-12-19 13:58] #1776 closed

[2021-12-19 23:57] mohdaliiqbal opened #1777 "Sample docker-compose file in the documentation does not work"
**Describe the bug**
I've tried the docker compose file provided in the documentation. the opensearch-node2 container consistently fails.

https://opensearch.org/docs/1.2/opensearch/install/docker#sample-docker-compose-file

**To Reproduce**
Steps to reproduce the behavior:
1. copy docker compose file content in docker-compose.yml
2. run docker-compose up
3. monitor the logs after 15-20 seconds th

[2021-12-20 01:04] opensearch-ci-bot opened #1778 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1598 in gradle_check log for more information.

[2021-12-20 05:09] aYukiSekiguchi opened #1779 "Deleting an index during concurrent taking of more than one snapshot causes future restore to fail"
**Describe the bug**
Elasticsearch 7.10.2 which OpenSearch forked has a known issue about snapshot and restore:
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/release-notes-7.10.2.html#known-issues-7.10.2

**To Reproduce**
Steps to reproduce the behavior:
I haven't reproduced the behavior, but I guess...

Delete index while the cluster is concurrently taking more than one snapshot.
T

[2021-12-20 18:56] setiah commented on #1644
You are likely setting the keystore on a running container, which causes it to lose those settings when stopped.

Try mounting the host's keystore (with specific settings you need) to the container in `docker-compose.yml` and using that.

[2021-12-20 19:27] andrross commented on #1715
I ran another experiment over the weekend, the theory being that maybe `:qa:mixed-cluster:v1.2.2#mixedClusterTest` was interfering with `:server:internalClusterTest`:

[code]

but the results were 7 failures out of 330, which is in line with the ~2% failure rate of the integ tests in isolation. The failures were:

[code]

There are likely bugs within ClusterHealthIT, ShardIndexingPressureIT, and S

[2021-12-20 20:26] ryanbogan commented on #1276
The OS is Linux.  An m5.xlarge instance is used for x versions and m6g.xlarge is used for arm versions.

[2021-12-20 22:45] VachaShah commented on #1553
PR #1603

[2021-12-20 22:45] #1553 closed

[2021-12-21 01:50] adnapibar commented on #1767
@nknize when I run the tests individually they pass. But I can reproduce this when I run this as part of the entire test suite.

[2021-12-21 03:14] adnapibar commented on #1767
Interestingly though, the issue seems to be not reproducible anymore with #1781 - need to figure out the root cause.

[2021-12-21 10:21] vnil1994 opened #1783 "Logstash Elasticsearch Filter for OpenSearch"
**Is your feature request related to a problem? Please describe.**
We are running OpenSearch 1.2.2 and are looking to use the logstash filter plugin "elasticsearch" for lookup and enrichment in other indices, before we send the logs to Opensearch and it's corresponding index. However, it seems that the logstash filter plugin "Elasticsearch" does not support OpenSearch. It complains with the follow

[2021-12-21 16:48] reta commented on #1754
@dblock @nknize  it seems like this is doable, I have created this development repository [1], all tests and checks are passing, if there is no objections to follow this way, we could do migration with history (I just did simple copy + push for the sake of saving time), would need your help for that.

In the essence, the following modules and fixtures where moved off:

[code]

What do you think, d

[2021-12-21 17:17] dblock commented on #1754
Before we do this ...

1. Originally, I was definitely thinking "a collection of Azure plugins" vs. "a collection of repository plugins" because anyone working with Azure would want a collection of that, it seemed. But maybe I'm wrong?
2. Would one want to bring all these options into a cluster at once? Would users prefer to pick and choose? Making 5 repositories seems like a pain, but they could

[2021-12-21 18:20] jcgraybill commented on #1276
Bingo. The output is to choose a jdk distribution based on available data. Performance is one of the data points, and maintenance/patching policy is going to be another big one. I think @CEHENKLE is going to continue that conversation in a new issue in January.

[2021-12-21 18:48] reta commented on #1754
Thanks @dblock

I think we have only 1 plugin for Azure ... Not sure what else would be there?

Correct, trade-off, there is not dependency between those, so we could with N repos (1 per plugin) or 1 repo for all repository-xxx plugins (like the poc)

Correct, the blob store APIs are in OpenSearch. The release cycle depends on the https://github.com/opensearch-project/OpenSearch/issues/1707, if we

[2021-12-21 19:12] Bukhtawar commented on #1779
This is specific to Amazon OpenSearch Service which has been well documented here https://docs.aws.amazon.com/opensearch-service/latest/developerguide/supported-operations.html#version_7_10

[2021-12-21 19:33] kartg commented on #520
Related PR is closed. Closing this issue.

[2021-12-21 19:33] #520 closed

[2021-12-21 20:13] VachaShah commented on #1712
Tried the approach where in the workflow, we fork the repo and then create a branch to backport, cherry-pick the commit and create a PR from it. But the Github actions was not able to fork a repo, got error `failed to fork: HTTP 403: Resource not accessible by integration` while doing so.

[2021-12-21 20:24] dblock commented on #1779
Is there something we should/can do in OpenSearch itself? If not close this?

[2021-12-21 20:35] reta commented on #1779
@dblock the bare bone OpenSearch works just fine:

[code]

As per @Bukhtawar , it is specific to AWS OpenSearch offering: only limited settings are supported.

[2021-12-21 20:42] reta commented on #1713
@saratvemulapalli I think we could close this one?

[2021-12-21 20:44] #1713 closed

[2021-12-22 07:33] setiah commented on #1712
@VachaShah try with a _pre-created fork_ (say backport/OpenSearch) to which this backport GH has access, and use the `checkout@v2` action to backport, push and raise PR from this backport fork. This would also help keep the permissions of this GH restricted to the backport fork alone and track the workflow retries better.

[2021-12-22 14:01] shwetathareja opened #1788 "[BUG] Too many get snapshot calls causing generic threadpool to be busy completely"
**Describe the bug**
Too many get snapshot calls for custom repo which has more than 70k snapshots caused generic threadpool to be exhausted completely. They were in indefinite wait state, looks like a deadlock.

Observed this behavior in 7.10 and 7.1 but the stack traces were different.

In 7.10 the code to fetch repository is under Future.get blocking call and the repositoriesService.getReposito

[2021-12-22 14:36] shwetathareja commented on #1788
Also, we should support timeout and cancelling of get snapshot calls if they are taking more than the configure timeout.

[2021-12-22 14:43] shwetathareja opened #1790 "[BUG] Master spending hours to process a pending task due to generic threadpool completely busy"
**Describe the bug**
On ES 7.1/ 7.10, Master is taking hours to process a pending task which causes other task to remain waiting in the queue for hours or some times days as well. This results in master not being able to process any node join or settings updates or any cluster state change for that matter during that time. The solution right now is to bounce the master node.

The issue would most

[2021-12-22 17:23] jcgraybill commented on #1734
Confirmed that 1.2.3 produces the correct behavior for me:
[code]
![azure](https://user-images.githubusercontent.com/65628360/147131361-8a1c3110-32e5-419d-b023-fd5b88ef5c44.PNG)

[2021-12-22 18:32] dblock commented on #1693
Another one in https://github.com/opensearch-project/OpenSearch/pull/1791

[2021-12-22 18:41] dreamer-89 commented on #1693
Looking into it

[2021-12-22 19:29] dblock opened #1793 "[CI] oldClusterTest fails intermittently"
**Describe the bug**

[code]

https://github.com/opensearch-project/OpenSearch/pull/1791#issuecomment-999800839

[2021-12-22 19:29] dblock commented on #1793
https://github.com/opensearch-project/OpenSearch/pull/1725

[2021-12-22 19:30] dblock commented on #1715
I opened https://github.com/opensearch-project/OpenSearch/issues/1793 for this one specifically.

[2021-12-22 20:02] dblock commented on #1703
https://github.com/opensearch-project/OpenSearch/pull/1791#issuecomment-999827973

[2021-12-22 21:48] #1762 closed

[2021-12-22 22:33] VachaShah commented on #1712
@setiah Wouldn't the pre-created fork have to belong to a user?

[2021-12-23 01:56] marevol opened #1795 "Replace attribute keys for netty channel"
**Is your feature request related to a problem? Please describe.**

Netty4HttpServerTransport uses es-http-channel and es-http-server-channel as an attribute key for netty channel.
This `es-` is a prefix of elasticsearch.
I think it's better to use other names, such as `opensearch-`.

**Describe the solution you'd like**

The fix is like this: https://github.com/marevol/OpenSearch/commit/38b6e6548

[2021-12-23 03:35] adnapibar commented on #1795
@marevol  thanks for the issue, would you like to create the PR?

[2021-12-23 04:28] marevol commented on #1795
Yes, I'll create it.

[2021-12-23 05:48] aYukiSekiguchi commented on #1779
I understand it is the problem of Amazon OpenSearch Service that the mitigation setting doesn't work.

However, my question is "**Does OpenSearch have the know issue which Elasticsearch 7.10.2 has?**"

To clarify, I quote the known issue from [Elasticsearch 7.10.2 Release Note](https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.10.2.html#known-issues-7.10.2):

...

[co

[2021-12-23 05:54] shwetathareja commented on #1788
During the issue, GET Snapshot API calls were taking ~1.5 hours

[2021-12-23 08:56] setiah commented on #1633
Pasting logs for the new setup experience which seems much cleaner than what we have today. The `install_ssl_configuration.sh` (tool name #tbd) will be used for setting up all security configurations with freshly created self-signed certs that are unique to every user, unlike the demo certs today. The tool is capable of running in `auto-mode` (with -y option) and `interactive-mode` (without -y opt

[2021-12-23 09:10] arnitolog opened #1800 "[BUG] can't install repository-s3 plugin in OpenSearch 1.2.3"
I am having the issue to install repository-s3 plugin in OpenSearch 1.2.3 with the following error:
[opensearch@65554c8b2581 ~]$ bin/opensearch-plugin install repository-s3 --batch
-> Installing repository-s3
-> Downloading repository-s3 from opensearch
-> Failed installing repository-s3
-> Rolling back repository-s3
-> Rolled back repository-s3
ERROR: Invalid checksum file at https://artifacts.op

[2021-12-23 10:59] uncycler commented on #1800
It affects other plugins as well.

[2021-12-23 12:13] chanyshev commented on #1777
I observe the same thing on Ubuntu 18.04
opensearch-node* does no start

[2021-12-23 12:29] chanyshev commented on #1777
I run it in single-mod:

version: '3'
services:

  opensearch-node1:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node1
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.type=single-node
#      - cluster.initial_master_nodes=opensearch-node1
      - bootstrap.memory_lock=true # along with the memlock setti

[2021-12-23 13:11] opensearch-ci-bot opened #1801 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1646 in gradle_check log for more information.

[2021-12-23 13:21] reta commented on #1779
@aYukiSekiguchi OpenSearch is a fork of Elasticsearch as of 7.10.2, so it is very likely that the issue is still present

[2021-12-23 15:15] dblock commented on #1779
@aYukiSekiguchi @Bukhtawar lets reopen an re-describe the original problem? It sounds like the root issue is that “If an index is deleted while the cluster is concurrently taking more than one snapshot then there is a risk that one of the snapshots may never complete and also that some shard data may be lost from the repository, causing future restore operations to fail.”

[2021-12-23 16:54] dreamer-89 commented on #1693
After running tests multiple times, depicts that failure is more prolific when index creation is enabled and master node timeout is lesser.

[2021-12-23 16:55] dreamer-89 commented on #1693
Failure occurrences are related to [master node timeout ](https://github.com/dreamer-89/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/internalClusterTest/java/org/opensearch/cluster/ClusterHealthIT.java#L377)and whether [index creation](https://github.com/dreamer-89/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/internalClusterTest/java/org/opensearch/clu

[2021-12-23 17:21] dreamer-89 commented on #1693
The experiment shows that master node generally takes more time to boot up when indices are used for the test.

Next Steps:
1. Reduce the flakiness of test by increasing the timeout to 2 minutes.
2. Dissect master bootup time and check why it is taking longer when indices are used.

[2021-12-23 19:56] jmazanec15 opened #1805 "[BUG] MapperService has to be passed in as null for EnginePlugins CodecService constructor"
**Describe the bug**
Because only index settings are passed into the [getCustomCodecService](https://github.com/opensearch-project/OpenSearch/blob/1.2.3/server/src/main/java/org/opensearch/plugins/EnginePlugin.java#L67) of an EnginePlugin, a non-null MapperService cannot be passed in for the call to [super](https://github.com/opensearch-project/OpenSearch/blob/1.2.3/server/src/main/java/org/opense

[2021-12-23 21:48] adnapibar opened #1806 "[CI] :test:fixtures:s3-fixture:composeUp fails due to HTTP connection issue"
**Describe the bug**
On CI gradle checks on PRs, `:test:fixtures:s3-fixture:composeUp` fails due to an HTTP time out error. This is a recurring issue.

**To Reproduce**

See https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1658.log

**Expected behavior**

The tests shouldn't be timing out.

**Additional context**

We can increase the time out to 120 seco

[2021-12-23 23:27] simo222 opened #1808 "Help wanted to export all monitors"
Hi,

I am new to OpenSearch.

I found out how to export all destinations using this rest call

[code]

but how can I export all monitors ?

Reason is that I want to export all monitor and import them into a new OpenSearch version.

[2021-12-24 04:17] aYukiSekiguchi commented on #1779
I updated the description and removed about the mitigation setting because it confused some people.

Note for future readers:
The `snapshot.max_concurrent_operations` mitigation in [Elasticsearch 7.10.2 Release Note](https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.10.2.html#known-issues-7.10.2) should work on the bare bone OpenSearch. However, it looks like Amazon O

[2021-12-26 11:07] AmiStrn commented on #1777
Works fine for me on the same setup as @mohdaliiqbal.
what are your docker preferences? please check that you have the correct resources allocated to running the cluster on your machine.
Also, please provide the error logs as they may help someone help you with this issue.

[2021-12-27 10:48] devShHong commented on #1629
When will this feature get added?

[2021-12-27 11:18] simo222 commented on #1808
I found out

GET _plugins/_alerting/monitors/_search
{
  "query": {
    "exists" : {
      "field": "monitor"
    }
  }
}

[2021-12-27 11:18] #1808 closed

[2021-12-27 11:19] simo222 commented on #1808
I found out.

[code]

[2021-12-27 16:38] dblock commented on #1629
AFAIK nobody is working on this, please contribute / raise your hand if you are.

[2021-12-28 13:46] reta opened #1814 "[BUG] RestIntegTestTask fails because of missed log4j-core dependency"
**Describe the bug**

Using `opensearch.yaml-rest-test` Gradle plugin outside of the OpenSearch core (fe, in plugins), for example `yamlRestTest`, fails with the following exception:

[code]

Since the `log4j-core` is declared as optional, it is not being picked up, but adding it as an explicit dependency does not solve the problem either (see please https://github.com/opensearch-project/opensearc

[2021-12-28 17:28] #1669 closed

[2021-12-28 18:26] andrross commented on #1806
Same issue as: https://github.com/opensearch-project/OpenSearch/issues/1566

[2021-12-28 18:29] andrross commented on #1806
Is it possible to set this timeout value in a gradle or docker setting so that it doesn't have to be a custom configuration in the CI agent environment?

[2021-12-28 18:52] reta commented on #1805
@jmazanec15 from the implementation perspective, the `IndexService.needsMapperService` is a decision point if the `MapperService`  is needed / not needed in the specific context. Fe, the closed indices do not need the `MapperService` for the reason that closed indices are immutable.

But the `EngineConfigFactory` could provide the instance of the `MapperService` (if available, using `IndicesServic

[2021-12-28 19:49] dblock opened #1817 "[BUG] :rest-api-spec:yamlRestTest org.opensearch.test.rest.ClientYamlTestSuiteIT intermittent failure"
**Describe the bug**

[code]

**Additional context**

Coming from https://github.com/opensearch-project/OpenSearch/pull/1816#issuecomment-1002255742

https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1701.log

[2021-12-28 19:51] #1814 closed

[2021-12-28 22:12] reta opened #1821 "[BUG] Execution failed for task ':test:fixtures:azure-fixture:composeDown'"
**Describe the bug**
Running `./gradlew :plugins:repository-azure:check` multiple times, one after another, fails with:

[code]

The issue and the cause is the same as https://github.com/opensearch-project/OpenSearch/issues/1675 but for different modules (reproducible on all repository plugins), some folders are created under root:

[code]

**To Reproduce**
Run `./gradlew :plugins:repository-azure

[2021-12-29 01:39] xuezhou25 commented on #1788
Is anyone currently working on this issue? Or I can take a look.

[2021-12-29 05:43] tlfeng commented on #1778
In log 1598:
[code]

[2021-12-29 05:50] tlfeng commented on #1801
In log 1646:
[code]

[2021-12-29 15:45] reta commented on #624
@Bukhtawar do you mind if I pick this one? have few ideas in mind, thank you

[2021-12-29 16:26] #1821 closed

[2021-12-29 17:10] reta opened #1826 "[CI] Intermittent java.lang.Exception: Suite timeout exceeded (>= 1200000 msec)."
**Describe the bug**
Intermittent test failures due to java.lang.Exception: Suite timeout exceeded (>= 1200000 msec). It seems like the issue is related to `/dev/random` entropy:

[code]

Relates to https://github.com/opensearch-project/OpenSearch/issues/1715

**To Reproduce**
See please https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1721.log

**Expect

[2021-12-29 17:31] reta commented on #1826
We have seen it on `main` and fixed in https://github.com/opensearch-project/OpenSearch/pull/1358/files, probably needs backport of the fix to the 1.x

[2021-12-29 17:33] andrross commented on #1795
Resolved in https://github.com/opensearch-project/OpenSearch/pull/1799

[2021-12-29 17:33] #1795 closed

[2021-12-29 17:40] reta commented on #1806
@andrross @adnapibar I will take a look at this one :)

[2021-12-29 18:44] reta commented on #1826
Closed by https://github.com/opensearch-project/OpenSearch/pull/1827

[2021-12-29 18:44] #1826 closed

[2021-12-29 18:49] owaiskazi19 commented on #1793
@reta is this issue related to https://github.com/opensearch-project/OpenSearch/issues/1826?

[2021-12-29 18:58] reta commented on #1793
@owaiskazi19 hm ... no, I believe it is closely related to https://github.com/opensearch-project/OpenSearch/issues/1806, but I could be mistaken

[2021-12-29 19:21] reta commented on #1806
@peterzhuamazon @dblock  may I ask you for help here, I see that build log includes `docker ps` (or alike) as part of the build:

[code]

Could you please add include these 2 commands into build steps as well:

[code]

Would be great to understand if the issue is related to the particular Docker / Docker Compose versions (fe I could not reproduce it on my envs), thank you.

[2021-12-29 19:23] reta commented on #1566
@CEHENKLE could you please close this one as duplicate of https://github.com/opensearch-project/OpenSearch/issues/1806, thank you.

[2021-12-29 19:24] #1566 closed

[2021-12-29 20:38] dreamer-89 opened #1828 "[BUG] Cluster manager bootstrap takes time causing intermittent failures in integration tests (o.o.c.ClusterHealthIT.testHealthOnClusterManagerFailover)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run o.o.cluster.ClusterHealthIT.testHealthOnMasterFailover and enable [index creation](https://github.com/dreamer-89/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/internalClusterTest/java/org/opensearch/cluster/ClusterHealthIT.java#L352).
2. Reduce th

[2021-12-29 20:39] dreamer-89 commented on #1693
Created new issue to debug/improve higher bootup time for master when indices are used.
#1828

[2021-12-29 20:47] dreamer-89 commented on #1703
Looking into it

[2021-12-29 23:44] dreamer-89 commented on #1703
When I try to run the repro command mentioned in issue description above, it doesn't run the defined task.

Command Used:
[code]
Output:
[code]

[2021-12-30 07:39] tlfeng commented on #1707
I think now we’ve got 2 proposals:
1. Add logic in the script of building OpenSearch plugins, which allows plugins to choose the supported OpenSearch version in the plugins’ Gradle build scripts.
(origin: https://github.com/opensearch-project/opensearch/issues/1707#issuecomment-996078415)
2. Modify the [logic of compatibility verifcation](https://github.com/opensearch-project/OpenSearch/blob/7c73e

[2021-12-30 12:59] AmiStrn commented on #1707
+1 for @nknize's suggestion. Version range makes things very clear and flexible. However, we should provide tooling to test the versions in the range in my opinion, to help plugin developers create a good CI.

[2021-12-30 14:29] dblock commented on #1707
One reason why we were reluctant to relax the plugin version matrix fully by introducing a feature that lets plugins declare a compatible version range is precisely the amount of testing that would be required to release anything, and the exploding amount of potential combinations that administrators would be encountering. But I think we should still build this, and then start by using the feature

[2021-12-30 18:20] dreamer-89 commented on #1703
The test in question needs docker-compose to run; this was causing the test to get silently ignored. Passing `-i` (info) flag reveals this.

[2021-12-30 18:30] VijayanB commented on #1689
opensearch-java supports Java 8 or later, but we test against only Java 14 in CI.

[2021-12-30 18:31] dreamer-89 commented on #1703
Ran tests in multiple iterations (1,10,100) but test did not fail even once.

[2021-12-30 19:07] AmiStrn commented on #1707
So limit the range to the same major version at first?
This could be also a param setting for allowing patch level relaxation to the requirement.

[2021-12-30 19:09] andrross commented on #1689
@elfisher I think the question is more whether we have users of OpenSearch using a Java 8 runtime who for whatever reason cannot easily upgrade to newer version. If possible we'd like for OpenSearch 2.0 to require Java 11 or newer as a runtime version so that we no longer have to support or test against Java 8.

[2021-12-30 19:21] AmiStrn commented on #1707
The more I thought about this move the less I like the idea. Testing would be horrible in this situation, and I cant find a good way around it.

I agree with the following statement the most as it is also this exact case that has brought this issue to light:

[2021-12-31 19:37] reta opened #1829 "Update Mockito to 4.2.x"
**Is your feature request related to a problem? Please describe.**
Mockito 3.x has entered the end of life cycle, superseded by Mockito 4.x. It would be great to update test scaffolding to use Mockito 4.2.0

**Describe the solution you'd like**
Update test scaffolding to use Mockito 4.2.0

**Describe alternatives you've considered**
Keep using the older version.

**Additional context**
Add any oth

[2022-01-02 02:09] CEHENKLE commented on #1566
Thanks @dblock  (and @reta for pointing it out :) )

/C

[2022-01-03 10:14] shwetathareja commented on #1788
@xuezhou25: feel free to take a stab at it.

[2022-01-03 11:03] balar06 opened #1833 ""build_hash" : "unknown" in Opensearch 1.2.3"
Title: "build_hash" : "unknown" in Opensearch 1.2.3

We have built the OpenSearch 1.2.3 source code using "./gradlew assemble -Dbuild.snapshot=false"
The build was successful and a non-snapshot version was generated,
but I see "build_hash" : "unknown", in Rest GET / API call.

**To Reproduce**
Downloaded source code : https://github.com/opensearch-project/OpenSearch/releases/tag/1.2.3
./gradlew as

[2022-01-03 12:38] dblock commented on #1833
This looks suspicious, did you get a chance to debug it? AFAIK this just returns current version `.hash()`.

[2022-01-03 13:49] balar06 commented on #1833
sorry, haven't debug.
I have downloaded the tar.gz file from https://opensearch.org/versions/opensearch-1-2-3.html and tested it.
facing the same issue.
 rest GET /
{
  "name" : "eric-data-search-engine-ingest-tls-865464d8fc-9bhlk",
  "cluster_name" : "eric-data-search-engine",
  "cluster_uuid" : "aQVf6McmR6CNAOpJIsMphw",
  "version" : {
    "number" : "7.10.2",
    "build_type" : "tar",
    "buil

[2022-01-03 16:59] dblock commented on #1833
I'll move it to OpenSearch, something has changed.

[2022-01-03 17:00] #1829 closed

[2022-01-03 18:18] b-lancaster opened #1836 "Add wait_for_completion flag to snapshot delete api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We keep a retention period of 90 days for our snapshots and use a lambda function to delete any snapshots outside of that period. When using the API to delete snapshots, there are a couple of issues
1. Timeouts
2. Prevented from making oth

[2022-01-03 22:38] rishabhmaurya opened #1838 "Opensearch Modularization"
Meta issue to track the progress of opensearch modularization.

- [x] Initial investigation [ #1588]
- [ ] Project base gradle configuration for module support
- [ ] Module naming convention
- [ ] Split and modularize `server` module
- [ ] Migrate existing `libs` modules to JPMS
- [ ] Migrate to lucene 9 with module support
- [ ] Plugins support embracing new modular architecture

[2022-01-03 23:23] rishabhmaurya opened #1839 "Project base gradle configuration for module support"
Gradle configuration to add support for module-path and way to define dependencies in gradle configuration.  Compile metadata file `module-info.java` separately when java version is 9 or onward.

- [ ] Testing support - Patch module to allow access for running UTs
- [ ] IDE support to recognize and use `module-info.java`
- [ ] Multi-release jar support with modules
- [ ] Existing gradle tasks migr

[2022-01-04 01:29] lezzago opened #1840 "[BUG] gradle updateSHAs is not working"
**Describe the bug**
I have updated the `junit` package dependency in the project (done in this [PR](https://github.com/opensearch-project/OpenSearch/pull/1837)) and tried to use `./gradlew updateSHAs` command to update the SHA1, but nothing was happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Update a dependency
2. Execute `./gradlew updateSHAs`
3. Use `git status` to see no files

[2022-01-04 01:51] tlfeng commented on #1806
Another occurrence in https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1760.log, found in PR https://github.com/opensearch-project/OpenSearch/pull/1837

[2022-01-04 04:23] reta commented on #1838
This is a large and disruptive one, I would recommend to start with cleaning up the packages since the same ones are scattered across many modules (so called split package issue). Probably the most challenging one is `org.opensearch.client` which is present in `server`, `client:rest` and `client:rest-high-level`, at least. I am sure there are more examples like that.

[2022-01-04 15:15] reta commented on #1840
@lezzago could you please share the output of the `git status` cuz the https://github.com/opensearch-project/OpenSearch/pull/1837 includes SHA updates:
 - licenses/junit-4.12.jar.sha1 was removed
 - licenses/junit-4.13.2.jar.sha1 was added

[2022-01-04 18:00] rishabhmaurya commented on #1838
solving split packages in `org.opensearch.client` and modularizing will surely unblock customers using java 9 modules and the rest high level client and is a good starting point. The overall goal is to split server module and allow plugin to depend on these sub modules instead of server module. This will ensure plugins to compile and run successfully, if there are no major version upgrade in its d

[2022-01-04 18:39] dreamer-89 opened #1843 "[BUG] Intermittent java.lang.Exception: Suite timeout exceeded (>= 1200000 msec)."
**Describe the bug**
Intermittent test failures due to java.lang.Exception: Suite timeout exceeded (>= 1200000 msec). Sample jstack during timeout

[code]

**To Reproduce**
Issue is not straight forward to reproduce. Need to run the gradle check in a loop multiple times.

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

[2022-01-04 18:48] #1693 closed

[2022-01-04 19:46] saratvemulapalli opened #1844 "[BUG] Transport NIO test intermittently failing for large responses"
Coming from https://github.com/opensearch-project/OpenSearch/pull/1834#issuecomment-1005036114

[code]

[2022-01-04 19:54] saratvemulapalli opened #1846 "[BUG] Upgrade cli test failure while detecting exiting ES installations"
Coming from https://github.com/opensearch-project/OpenSearch/pull/1834#issuecomment-1005036875

Seens like a genuine failure but a re-run went through.
I suspect this could related to parallel runs on CI infra.

[code]

[2022-01-04 19:54] elfisher commented on #1633
I really like this new approach. Just wondering, in the docker use case, how would someone get the certs setup across their containers and a local client?

[2022-01-04 20:51] saratvemulapalli opened #1847 "[BUG] Netty Transport test failing with large responses"
Coming from https://github.com/opensearch-project/OpenSearch/pull/1834#issuecomment-1005098940

[code]

[2022-01-04 23:09] rishabhmaurya opened #1848 "Module naming convention"
JPMS doesn't solves Version Selection problem [0] and leaves it to build tools like gradle and maven to specify version for modular dependencies. The `module-info.class` generated does contain the version associated, but isn't used -
[code]
Since module names have to be unique, we need to decide on the common prefix. Some discussion on naming lucene modules - https://issues.apache.org/jira/browse/

[2022-01-05 00:14] andrross commented on #1836
Are you looking for something with the same semantics as the `wait_for_completion` flag that can be [passed to the API to create a snapshot](https://opensearch.org/docs/latest/opensearch/snapshot-restore/#take-snapshots)? Will the flag be useful to you in cases where the delete operation takes multiple minutes (because synchronous APIs tend not to work well for use cases like that)?

[2022-01-05 01:35] hsiang9431-amzn opened #1850 "[BUG] Calling Create Role API Crashes OpenSearch"
**Describe the bug**
Calling Create Role API Crashes OpenSearch.
**Note**: This issue only exists on the 1.3.0 that has log4j-core 2.17.1, doesn't exist in the 1.2.3 that has log4j-core to 2.17.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a local cluster with Dashboards enabled
2. Login as admin
3. Create a role in dev console, for example
[code]
4. See response
[code]
5. Check t

[2022-01-05 02:34] davidlago commented on #1850
Just a quick observation, the error messages seems to point to version `2.11.1` of `log4j-api`:

```at org.apache.logging.log4j.spi.AbstractLoggerAdapter.getLogger(AbstractLoggerAdapter.java:46) ~[log4j-api-2.11.1.jar:2.11.1]```

Which is not part of the distribution at `1.3.0-SNAPSHOT`, where we are using `2.17.1` instead.

[2022-01-05 03:00] peterzhuamazon commented on #1850
https://github.com/opensearch-project/OpenSearch/blob/1.x/buildSrc/src/testKit/thirdPartyAudit/sample_jars/build.gradle#L19

[code]

https://github.com/opensearch-project/OpenSearch/blob/1.x/libs/core/.classpath1#L292-L298

[code]
The only reference I can find related to log4j and 2.11.1.

[2022-01-05 03:11] peterzhuamazon commented on #768
Fixed in https://github.com/opensearch-project/opensearch-build/pull/1130.

[2022-01-05 03:11] #768 closed

[2022-01-05 03:12] peterzhuamazon commented on #1579
Fixed in https://github.com/opensearch-project/opensearch-build/pull/1130

[2022-01-05 03:12] #1579 closed

[2022-01-05 03:51] reta commented on #1843
Tracked here https://github.com/opensearch-project/OpenSearch/issues/1715 as well, related to `org.opensearch.index.ShardIndexingPressureSettingsIT`

[2022-01-05 12:57] davidlago commented on #1850
Thanks @peterzhuamazon. That 2nd one is the `log4j-api` one that pops up in the error. As we have `log4j-api` as a provided dependency in the search plugin:

[code]

I'm wondering if that `2.11.1` is being provided instead and blowing things up.

[2022-01-05 18:42] amitgalitz opened #1851 "[BUG] Compiling AD Plugin failing since several packages are missing"
**Describe the bug**
Compiling the Opensearch AD plugin fails on several missing packages errors.
The main packages that are getting a "does not exist" error after running `./gradlew :build` on the AD plugin are `org.apache.commons.lang3.*`. This results in `error: cannot find symbol` for code that uses the imported packages. When further inspecting the code on the IDE. Different imports of packag

[2022-01-05 18:57] saratvemulapalli commented on #1619
Thanks @Bukhtawar for your thoughts.
Yes we will be looking pro's and con's for having an independent plugin.

Please take a look at https://github.com/opensearch-project/OpenSearch/issues/1422. There is a high level proposal listed on the issue. We are trying to achieve plugin sandboxing but started with a POC with independent plugins.

[2022-01-05 19:02] saratvemulapalli commented on #1851
@amitgalitz thanks for reporting this. Could you also add details on the version of OpenSearch you are seeing problems with?
I assume 1.2.* is fine?

[2022-01-05 19:05] owaiskazi19 opened #1852 "[BUG] :distribution:packages:rpm:checkExtraction intermittent failure"
**Describe the bug**
[code]

[code]

[2022-01-05 19:09] amitgalitz commented on #1851
The workflow we have right now actually uses 1.3.0

[2022-01-05 19:12] owaiskazi19 commented on #39
Got this issue on the recent GHA run: https://github.com/opensearch-project/OpenSearch/runs/4718277102?check_suite_focus=true for the PR: https://github.com/opensearch-project/OpenSearch/pull/1665. Reopening the issue.

[code]

[2022-01-05 22:59] saratvemulapalli commented on #1851
@amitgalitz could you try including `org.apache.commons:commons-lang3:3.9` explicitly in AD build.gradle dependencies?
Looks like only a couple of plugins have been using it in OpenSearch but it's not imported across the project.

The next question which pops on to my mind is, how did this work for OpenSearch releases < 1.3.0.
My best guess is that it being imported by a transitive dependency.

[c

[2022-01-05 23:55] jcgraybill commented on #1707
I agree with the conclusion being reached here. OpenSearch plugins are semi-independent of the rest of OpenSearch, but there aren't currently good mechanisms to prevent test-matrix explosion aside strict version-locking. Relaxing the version-locking requirement in a meaningful way is more than a change to the build process.

IMO this would be a great problem to tackle: how could we really decouple

[2022-01-06 00:35] mch2 commented on #1850
Hi @hsiang9431-amzn,
I have not been able to reproduce this issue with archives from CI & built locally.
Could you please provide a bit more info on the artifacts you used when facing this issue?  Did you build from src or pull from CI?  If built from src, do you have the specific commits of both security & opensearch you built from?

I used these versions of min/security from CI:
[min-1.3.0](http

[2022-01-06 00:39] samuel-oci opened #1854 "OCI Object Storage Repository [RFC]"
# RFC - OCI Object Storage Repository
## Overview
Currently the existing blob store repositories do not support OCI object storage. Therefore we have developed an OCI native plugin for object storage that is convenient to use on the OCI platform.
We would like to contribute the plugin back to the community and would love to get the community feedback on a couple of topics.

## Plugin Features
In a

[2022-01-06 00:52] cliu123 commented on #1850
Hi @mch2,
Both @hsiang9431-amzn and I was able to reproduce the issue with the following artifacts:
[Opensearch-min-1.3.0-SNAPSHOTS](https://artifacts.opensearch.org/snapshots/core/opensearch/1.3.0/opensearch-min-1.3.0-SNAPSHOT-linux-x64-latest.tar.gz) - Is this the same one as your artifact built on CI?
[Security 1.3.0-SNAPSHOTS](https://github.com/opensearch-project/security/suites/4842781321/ar

[2022-01-06 00:59] jcgraybill commented on #1854
How great! A standalone repo does make intuitive sense as the way to start, and I see no reason the user experience couldn't match that for the other object-store plugins (azure, s3, etc.) @CEHENKLE @anirudha @dblock and @bbarani can you connect with @samuel-oci and get an RFC together for community input?

[2022-01-06 01:06] mch2 commented on #1850
Thanks @cliu123 taking a look...

The min are built from the same CI but yours is a snapshot version.  CI builds a release and a snapshot at the same time and promotes them.

Where are those security artifacts built from?

[2022-01-06 01:08] cliu123 commented on #1850
Security plugin repo CI.

[2022-01-06 01:31] owaiskazi19 opened #1855 "[BUG] `./gradlew bwcTest` is broken"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run ./gradlew bwcTest on main

**Expected behavior**
BWC Test should work fine.

**Plugins**
Please list all plugins currently enabled.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Host/Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 22

[2022-01-06 01:33] mch2 commented on #1850
I think the [opensearch-min-1.3.0 ](https://artifacts.opensearch.org/snapshots/core/opensearch/1.3.0-SNAPSHOT/opensearch-min-1.3.0-SNAPSHOT-linux-x64-latest.tar.gz)link is stale - after unzipping I can see version 2.11.1 of log4j-core and log4j-api under /lib.

The latest from CI should be [here](https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.3.0/488/linux/x64/builds/opensearch/d

[2022-01-06 01:36] davidlago commented on #1850
Nice, thanks @mch2 ! Is there a link we could use in our CI file to always get the latest of  1.3.0-SNAPSHOT? like a symlink of sorts?

[2022-01-06 01:48] mch2 commented on #1850
@davidlago  I don't think that has been set up yet on ci.opensearch.

There is [this](https://github.com/opensearch-project/opensearch-build/pull/1378) PR that looks like the gap here to why these are not auto promoted to artifacts.opensearch.

[2022-01-06 02:00] davidlago commented on #1850
This fixed the issue, [first passing build in a while](https://github.com/opensearch-project/security-dashboards-plugin/runs/4722382128?check_suite_focus=true) for the dashboards security plugin! Tempted to close this out but waiting for @hsiang9431-amzn or @cliu123 to confirm that updating the zip in their local makes the 502s go away.

[2022-01-06 03:11] peterzhuamazon commented on #1850
Hi,

@mch2 @davidlago @cliu123
The artifacts.opensearch.org has not been updated with 1.3.0 for a while.
@gaiksaya is currently having a pipeline to auto publish ci.opensearch.org artifacts to artifacts.opensearch.org.

As of now, use ci.opensearch.org related links like @mch2 says.

Thanks.

[2022-01-06 06:09] Bukhtawar commented on #1619
Looks like we are doing a POC at this point, would be great to see few comparisons
1. Overall memory overhead
2. Deployment overhead
3. Feature sandboxing/isolation
4. IPC or remote node communication

[2022-01-06 06:20] ylwu-amzn commented on #1851
Checked AD 1.2.4, the dependency `org.apache.commons:commons-lang3` is introduced by `opensearch-job-scheduler-spi`. But seems it's removed from `opensearch-job-scheduler-spi-1.3.0`.

[2022-01-06 07:25] booleanhunter commented on #1308
@oridool Is this issue still being worked on? If not, may I take this up?

[2022-01-06 07:27] kanumalivad commented on #1308
@booleanhunter You can take this.

[2022-01-06 14:48] mattweber opened #1857 "Allow configurabe max_expansions on wildcard interval"
**Is your feature request related to a problem? Please describe.**
It is currently impossible to change the max expansions setting on a wildcard interval even though lucene allows it.

**Describe the solution you'd like**
Add a max_expansions setting in turn uses the lucene `Intervals.wildcard(BytesRef wildcard, int maxExpansions)` api.  Default's can stay as-is but this would give the user abilit

[2022-01-06 14:50] mattweber opened #1858 "Add regex interval"
**Is your feature request related to a problem? Please describe.**
Add a regex interval provider.

**Describe the solution you'd like**
Add a regex interval provider that ultimately uses the lucene `Intervals.multiterm(Automaton automaton, int maxExpansions, String pattern)` api.

**Describe alternatives you've considered**
Making intervals pluggable.

**Additional context**
None

[2022-01-06 14:57] mattweber opened #1859 "Pluggable intervals"
**Is your feature request related to a problem? Please describe.**
Make intervals pluggable so users can write custom intervals in search plugins.

**Describe the solution you'd like**
Add a plugin api that allows a user to register new intervals with named writable and named xcontents which can ultimately be used in interval queries.

**Describe alternatives you've considered**
Exposing more of t

[2022-01-06 15:06] mattweber commented on #1859
FYI, I have [done this for elasticsearch](https://github.com/elastic/elasticsearch/pull/49519) and can rework it for open search.  I believe that if users are smart enough to write their own plugin they are smart enough to follow the expected behaviors of the api (minimal intervals, etc).  Elastic did not believe that and thus the reason the PR was never accepted.

[2022-01-06 15:09] mattweber commented on #1858
BTW, I am willing to do this work if it has a chance of being accepted.

[2022-01-06 15:09] mattweber commented on #1857
BTW, I am willing to do this work if it has a chance of being accepted.

[2022-01-06 17:36] saratvemulapalli commented on #1851
That makes sense. Thanks @ylwu-amzn !
Closing this.

[2022-01-06 17:36] #1851 closed

[2022-01-06 17:44] saratvemulapalli commented on #1619
Absolutely. We are still working on the POC and in this order:
1. IPC or remote node communication
2. Feature sandboxing/isolation
3. Overall memory overhead
4. Deployment overhead

But thanks for the suggestions.

[2022-01-06 18:00] cliu123 commented on #1850
@mch2 @peterzhuamazon Thanks for help!
I've used the artifact on CI that @mch2 provided to test it again, and have confirmed the issue doesn't exist.
@mch2 Please feel free to close this issue. I don't have the permission.

[2022-01-06 18:02] sharp-pixel commented on #1449
To validate any breaking change due to support of Apple Silicon on macOS, we need to run the tests in a Mac Apple Silicon environment.
For example, `./gradlew check` is currently failing on Mac M1 but not on Linux due to BWC.
Support for this architecture in the CI would enable detection of such issues.

[2022-01-06 18:06] #1850 closed

[2022-01-06 18:27] dblock commented on #1449
We can run some CI on GHA on `macos-latest`. For larger jobs like `gradle check` we're looking at bringing it in to GHA as well, see #1665.

[2022-01-06 18:35] andrross commented on #1836
@b-lancaster Can you also detail the scenarios where delete takes 30 seconds to 10 minutes? I ran a couple tests locally and the delete operation is completing quite quickly.

[2022-01-06 21:17] owaiskazi19 commented on #1514
@ryanbogan I see https://github.com/opensearch-project/OpenSearch/pull/1602 is merged. Can we close this issue?

[2022-01-06 21:21] #1514 closed

[2022-01-06 23:10] dblock commented on #1855
It's failing to find a 1.1.1 build. I believe 1.1.1 will never be released (https://github.com/opensearch-project/opensearch-build/issues/870), therefore it's likely we need to remove it from the list everywhere?

[2022-01-07 00:31] rishabhmaurya opened #1861 "Plugins support embracing modular architecture"
Meta task to migrate plugin framework to use new proposed modular architecture.

It aims towards solving following limitation in OpenSearch plugin framework -
1. Plugin should depend on sub-modules of concern instead of depending on uber server module. This will improve overall tech debts on maintenance of plugin, codebase hygiene, new plugin development and productivity, lesser breaking changes w

[2022-01-07 07:44] balar06 opened #1863 "Where to check the OpenSearch 1.2.3 Compatibility Matrix for Logstash and Beats?"
https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/#compatibility-matrices

Couldn't see the Compatibility Matrix for Logstash and Beats for the OpenSearch 1.2.3.
In OpenSearch documentation compatibility Matrix present for OpenSearch 1.0.0 only.

Where to check the OpenSearch 1.2.3 Compatibility Matrix for Logstash and Beats?

BREAKING CHANGES section is not available in

[2022-01-07 08:21] rursprung commented on #1707
coming from opensearch-project/opensearch-plugins#122: IMHO plugin and core versioning should be completely de-coupled.
to achieve this it'd be required to ensure that semver is being followed strictly.

as for testing, here's my suggestion:
* when releasing a new opensearch version test with all plugins (when i say "all plugins" i mean those under the opensearch project, not other community-contr

[2022-01-07 10:14] rursprung commented on #1633
is this purely for dev/demo/test environments (like the old script) or is this also meant to be used in production?

in production most will be using a multi-cluster setup (after all, the recommendation is to use at least three master-eligible nodes for production) and in that case the certificates need to be signed by the same CA. and at that point you IMHO shouldn't generate them on any specific

[2022-01-07 13:03] opensearch-ci-bot opened #1864 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1796 in gradle_check log for more information.

[2022-01-07 14:06] pietrogu opened #1865 "Integration with MISP"
Hi,

it is possible (or it would be) to easily integrate Opensearch with MISP?

I was thinking about  automatically import data from MISP and use them to enrich data: for example, if a document contains an IP which is also in MISP, a "is_misp" field will be setted to true.
Or maybe realize an alerting rule if something matchet with MISP

Thanks,
Pietro

[2022-01-07 14:29] b-lancaster commented on #1836
@andrross Sorry for the delayed response. Originally we thought that the `wait_for_completion` flag would be the solution but after some further investigation, we found that the API is not what's causing the issue. We use the [curator](https://github.com/elastic/curator) provided by Elastic and that is what is causing our problems because it is trying to delete the same snapshot multiple times wit

[2022-01-07 14:29] #1836 closed

[2022-01-07 14:31] stockholmux commented on #1854
I'm excited about this!

@jcgraybill regarding the user experience: the one difference would be that having it external would mean that `-min` distributions would exclude this plugin yet the other object-store plugins would be in `-min` distributions.

[2022-01-07 18:53] dblock commented on #1863
OpenSearch [follows semver](https://opensearch.org/blog/technical-post/2021/08/what-is-semver/), so no breaking changes. There will be breaking changes when we go from 1.x to 2.x.

I'll move the issue to documentation-website as we should have included 1.2.3 (or generally 1.x) in the documentation.

Does this clarify things sufficiently?

[2022-01-07 19:05] reta commented on #1806
Some thoughts on the issue, the Docker Compose  plugin does not support `COMPOSE_HTTP_TIMEOUT` as of now:
 - https://github.com/avast/gradle-docker-compose-plugin/issues/265

However, increasing the timeout it may not be the best option. Right now the build throttles the number of concurrent `docker-compose up` invocations to `1`.  However, the number of the Rest Integration tests (the ones using

[2022-01-07 19:06] dblock opened #1868 "[PROPOSAL] Author CHANGELOG in each PR instead of collecting them in the last days before a release"
**What kind of business use case are you trying to solve? What are your requirements?**

Release notes are of varying quality.

For example, https://github.com/opensearch-project/OpenSearch/pull/2489 is completely unreadable.

**What is the problem? What is preventing you from meeting the requirements?**

- Release notes aren't always super useful and may lack context.
- Release notes are only ava

[2022-01-07 19:42] stockholmux commented on #1868
I see how this addresses `Release notes are only available at release time`, which I like, but I'm failing to understand how it address the other two points.

It seems like the output of [danger-changelog](https://github.com/dblock/danger-changelog/blob/master/CHANGELOG.md) is not too dissimilar to the [existing release notes](https://github.com/opensearch-project/opensearch-build/blob/main/releas

[2022-01-07 19:46] dblock commented on #1868
danger-changelog just checks that the PR includes a well-formatted entry for the changelog, it doesn't actually write it. The change I am proposing is that humans are required to author the changelog line and it gets reviewed as part of the PR

It doens't. I am proposing to remove any script-driven approach completely and move the authoring of release notes/changelog to the PRs, sorry if this wasn

[2022-01-07 21:56] elfisher commented on #1868
Would there be an expectation as part of the code review to review the release notes in the PR as well? That might help with quality.

[2022-01-08 00:22] anasalkouz commented on #1707
+1 for for semver range. This will limit test combinations and reduce blast radius . In this case we need only to test the min & max value of the version range.

[2022-01-08 21:38] morsik commented on #1483
Waiting for official english dictionary to remove "black" and "white" colors from it due to "excluding people on the basis of gender, sexual preference, age, race, ability"…

How the hell "whitelist" and "blacklist" can even be excluding to anyone?! Don't you know the physics thing called "shadows"? It makes things invisible… dark… (shouldn't even mentiond "black" because someone will kill me in a

[2022-01-09 13:23] opensearch-ci-bot opened #1871 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 1823 in gradle_check log for more information.

[2022-01-10 03:38] meghasaik commented on #1805
As mentioned above, we can use the `MapperService` from the `IndicesService` and provide it to the `EngineConfigFactory`.

Correct me if I am wrong but one approach would be that the `MapperService` through `EngineConfigFactory` can be provided to the `CodeService` through a `CodecSupplier` directly depending on the `MapperService` value assuming it is non-null. The other approach is described as

[2022-01-10 06:04] chaitrahegde115 opened #1872 "[Meta] [FEATURE] Add OPENSEARCH_JAVA_HOME env to override JAVA_HOME"
Coming from [here](https://discuss.opendistrocommunity.dev/t/opensearch-java-home-env-is-not-working/8229/2)

- [x] Add support for `OPENSEARCH_JAVA_HOME` in this repo
       https://github.com/opensearch-project/OpenSearch/pull/2001
       https://github.com/opensearch-project/OpenSearch/pull/2040
       https://github.com/opensearch-project/OpenSearch/pull/2042
- [x] https://github.com/opensearc

[2022-01-10 15:09] SaiSatwik opened #1873 "[BUG] ignore_malformed parameter on ip_range data_type throws mapper_parsing_exception"
**Describe the bug**
A clear and concise description of what the bug is.

Using ignore_malformed on a dynamic_template mapping of `ip_range` data_type throwing mapper_parsing_exception when trying to index a document with a new field that matches the template.
This used to work fine with elasticsearch 7.1.1 but creating an issue with opensearch 1.2.2.

Seems this is a known issue in elasticsearch

[2022-01-10 16:35] samuel-oci commented on #1854
Also how would you prefer to go about the RFC? start a new issue or edit this one? or just add the full RFC in the comments?

[2022-01-10 17:11] dreamer-89 commented on #1843
Ran test in batch of 100s but did not get SUITE Timeout error; though got 3 different failures. First failure is Assertion failure on cluster having green state while last two are related with #1767

Command Used
[code]
Commit: 1bb88641788abdbfd72b76c9741880cb3b1ae37a

Gradle failure output
[code]

[2022-01-10 17:24] dreamer-89 commented on #1843
[gradle_48.txt](https://github.com/opensearch-project/OpenSearch/files/7840692/gradle_48.txt)

[2022-01-10 17:41] reta commented on #1843
@dreamer-89 this one is tracked under https://github.com/opensearch-project/OpenSearch/issues/1767

[2022-01-10 18:01] meghasaik commented on #1661
As mentioned above, the information provided right now does not specify much as it just tells that the data is large. The approach can be that you use the `token bucket algorithm` to calculate the number of times the `request trips` in terms of `percentage basis`. The doubts I had were:

→ Does this request trip approach mean that the number of segments are more and segment memory is large.

→Here

[2022-01-10 18:03] dblock commented on #1868
Yes.

[2022-01-10 18:21] xuezhou25 commented on #1396
I am closing this issue because the failure is not reproducible and not be seen for a while. If the failure shows again or someone can reproduce it reliably, feel free to reopen it😄

[2022-01-10 18:21] #1396 closed

[2022-01-10 20:42] VachaShah commented on #1712
Update, the following things are needed to fix the permissions issue:

1. The token needs write permissions for pull requests and content in order to create pull requests on the repos. This is fixed in PR #1845.
2. The GHA for backport creates branches (`backport-<PR-number>-to-<release-branch>`) to cherry-pick commits for backport. Hence, the branch permissions need to be defined for such branche

[2022-01-10 21:13] morsik commented on #1483
@dblock "may be offensive to some people" is not explanation. You can cover anything behind this sentence just for sake of not answering this question. I'm asking about real explanation, who and how is offended by this?

[2022-01-10 23:34] #1806 closed

[2022-01-10 23:37] andrross commented on #1274
I believe this is a duplicate of #1806 so it should be fixed by #1866

I'm going to close this but we can reopen if it happens again.

[2022-01-10 23:37] #1274 closed

[2022-01-11 13:24] iamsharmaapoorv opened #1879 "Restoring individual data streams through snapshots does not work with FGAC domains"
This post demonstrates how restoring individual data streams through snapshots does not work with FGAC domains.
The setup described here was done on AOS managed clusters. I am keeping the setup part for now even if it doesn't directly relate to Opensource OS. We can remove the unneeded parts once we confirm they are not needed.

The issue is reproducible on Opensource OS.

# Setup on OS 1 FGAC ena

[2022-01-11 13:32] dblock commented on #1854
I don't think we standardized on a format, but start with something like https://github.com/opensearch-project/OpenSearch/issues/1694

[2022-01-11 14:15] dblock commented on #1483
I have offended Engineers on my teams over the years by using non-inclusive language in technical conversations. I've referenced race, gender and sexual orientation, physical and mental ability. I am not going to ask these individuals to explain here how they were offended, or make a list of who they are. But I've been asked directly, 1:1, to change the words I use, therefore I support this change

[2022-01-11 15:41] opensearch-ci-bot opened #1883 "Jenkins Randomized Gradle Check Failed on fcf3c9285916bc02ecdebb3d215f6607856d1d08"
@opensearch-project/opensearch-core team, please take a look at Build 1854 in gradle_check log for more information.

[2022-01-11 18:32] Bukhtawar commented on #1661
There are two things here and feel free to split this into separate issues
1. Derived durability of circuit breaker : TRANSIENT vs PERMANENT based on TBA as below https://github.com/opensearch-project/OpenSearch/blob/996d33adb22ac6a523962166f3677f8dc6ac9c1f/server/src/main/java/org/opensearch/script/ScriptCache.java#L165-L202
2. The segment memory is captured as a part of accounting circuit breake

[2022-01-11 19:38] dreamer-89 commented on #1843
Ran tests in repeat mode with 500 count and was able to get `SUITE timeout` in 2 cases. The test output depicts that test waits 20mins (indefinitely) while waiting for `OpenSearchRejectedExecutionException` exception on bulk request on coordinator node. [Link](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/index/ShardIndexingPressureSe

[2022-01-11 19:41] anasalkouz commented on #1859
@nknize Could you look into this issue?

[2022-01-11 19:48] anasalkouz commented on #1865
Hi @pietrogu, Thanks for reaching out. I think this is a specific use-case that be handled inside your application.

[2022-01-11 19:49] anasalkouz commented on #1865
Closing this issue. Please feel free to re-open incase you have more questions.

[2022-01-11 19:49] #1865 closed

[2022-01-11 19:53] reta commented on #1843
Yeah, `ShardIndexingPressureSettingsIT` is problematic, we could change the `Future::get` to use timeout instead but the test will fail anyway :(

[2022-01-11 20:51] #1219 closed

[2022-01-11 21:22] morsik commented on #1483
This seems kinds weird for software engineer… every change I do in my software or infrastructure is made because of some reason which I have to understand why something happens and make clear decision based on circumstances. Based on what you said… you don't even know why you want to make this change.

Well, that's your problem that you was a bad person to others, not mine and not other people in

[2022-01-11 22:14] owaiskazi19 opened #1887 "[BUG] org.opensearch.common.network.InetAddressesTests.testForStringIPv6WithScopeIdInput"
**Describe the bug**
[code]
**To Reproduce**
[code]

[2022-01-12 00:03] jcgraybill commented on #1483
Hi @morsik, thanks for expressing your concern here. We definitely don't make breaking changes lightly, and I hear your feedback that every change has a cost.

We're committed to avoiding noninclusive language throughout the project. I recognize some members of the community may be encountering this perspective on "blacklist" and "whitelist" for the first time. Sometimes the realization that a fam

[2022-01-12 14:42] Firdaus1 commented on #768
Hi @peterzhuamazon ,

Is it possible to update the docker image in docker hub repository ?

[2022-01-12 15:24] reta commented on #624
@Bukhtawar a bit more details regarding the (de)serialization handling inside `InboundHandler`:

Interestingly, it is only raised when input stream has **unconsumed bytes**, the case when stream has less bytes than needed to reconstruct the payload is not classified as serialization issue (resulting in `java.io.EOFException`s). More importantly, there is a difference if the message is request or r

[2022-01-12 16:55] ersinoracle opened #1891 "[BUG] Direct self-reference leading to cycle"
**Describe the bug**
When a failure is met with one or more operations included in the bulk request, the `ObjectMapper.writeValueAsString` that we use to convert the bulk response throws the following exception:

and fails to convert the Bulkresponse.

With ElasticSearch, however, it works just fine and never throws this exception.

We use RestHighLevelClient for both.

**To Reproduce**
Steps to r

[2022-01-12 17:04] samuel-oci commented on #1854
Thanks @dblock I updated this original post to match the RFC format, if you would rather have it moved to another issue feel free to do so. In any case would love to hear your feedback.

[2022-01-12 18:35] peternied commented on #705
@Poojita-Raj Why are we closing this issue?

[2022-01-12 19:05] kwebergithub opened #1893 "Support for Proximity Search with Wildcards in Query string queries"
**Is your feature request related to a problem? Please describe.**
We are switching from the dtSearch engine to OpenSearch and are surprised to find that Query string queries do not support several types of proximity searches. For example:
"a b"~10 works, but
"a b*"~10 returns inaccurate results (because of the wildcard).

Similarly
"a (b OR c)"~10
"a (b AND c)"~10
all return inaccurate results wh

[2022-01-12 20:10] meghasaik commented on #1847
I ran this command for reproducing this flaky test:
`for i in $(seq 0 250) ; do echo "Iteration: $i" && ./gradlew clean > /dev/null 2>&1 && ./gradlew ':modules:transport-netty4:test' --tests "org.opensearch.http.netty4.Netty4HttpServerTransportTests.testLargeCompressedResponse" -Dtests.seed=49B97FF7A35F7849 -Dtests.security.manager=true -Dtests.jvm.argline="-XX:TieredStopAtLevel=1 -XX:ReservedCode

[2022-01-12 22:10] jcgraybill commented on #1854
Let's post to the forums to get some eyes on it, and also could we bring this up at a community meeting?

[2022-01-13 01:36] VachaShah opened #1897 "Fix Dependabot integrations"
We have Dependabot integrated to create PRs for auto updating versions for dependencies. Currently the Dependabot is only able to scan gradle files from the root directory.

Changes needed:

1. Fix the paths in the Dependabot config to scan nested directories.
2. Integrate updateSHAs and spotless with Dependabot PRs since the Dependabot only updates the dependency version. For example https://gith

[2022-01-13 01:36] VachaShah commented on #1897
I am working on fixing this.

[2022-01-13 04:56] tlfeng commented on #1564
The issue comes from https://github.com/opensearch-project/OpenSearch/pull/1546#issuecomment-969569856, and also occurred in https://github.com/opensearch-project/OpenSearch/pull/1888

[2022-01-13 07:40] shwetathareja commented on #806
@anasalkouz @minalsha : I havn't started on it. Feel free to assign it to someone else.

[2022-01-13 13:36] #1670 closed

[2022-01-13 13:36] dblock commented on #1671
From https://github.com/opensearch-project/opensearch-build/issues/870#issuecomment-1011543289

[2022-01-13 13:36] dblock commented on #1672
From https://github.com/opensearch-project/opensearch-build/issues/870#issuecomment-1011543289

[2022-01-13 14:59] dblock commented on #1828
Failure in https://github.com/opensearch-project/OpenSearch/pull/1874#issuecomment-1011640866 looks the same

[code]

[2022-01-13 15:10] setiah commented on #1633
Thanks @rursprung. I'm on the same page with you. Let me clarify a few things.

Self-signed certs generated via this tool are meant for dev use, and while it is not recommended to be used for production, it should be fine if used within a private trusted network. For production, the recommendation is to use certificates from a trusted CA (_see disclaimer_)

The purpose of this tool is to simplify

[2022-01-13 16:53] Rishikesh1159 commented on #1570
For search_after queries, sort optimization has not been applied. In some certain scenarios like @manuel-pancorbo said there is performance latency with search_after queries and some improvement needs to be done by applying sort optimization to search_after queries. The latest Lucene version has the sort optimization capability and I am planning to make use of this to optimize search_after queries

[2022-01-13 17:49] penghuo opened #1899 "Support _first and _last parameter for missing bucket ordering in composite aggregation"
**Is your feature request related to a problem? Please describe.**
If OpenSearch composite aggregation's `missing_bucket` is true, null bucket will be included. But user can't control missing_bucket's position in result. Currently, if order is `asc`, missing bucket is at first `ASC NULLS FIRST`, if oder is `desc`, missing bucket is at last `DESC NULLS LAST`.
In SQL, user could use NULLS FIRST/NULL

[2022-01-13 17:59] anasalkouz commented on #1872
OpenSearch doesn't use the environment variable OPENSEARCH_JAVA_HOME as mentioned on https://opensearch.org/docs/latest/opensearch/install/compatibility/. Closing this ticket, since we already have another [issue](https://github.com/opensearch-project/documentation-website/issues/364) opened to fix the documentation.

[2022-01-13 18:01] pietrogu commented on #1865
Hi,

the example are sure personal use-cases, but the question was if there is a native way to integrate MISP and Opensearch or the only way in this moment is to build a custom service to do it.

So, should I assume that this integration is not possible natively right now?
Thank you again

[2022-01-13 18:02] #975 closed

[2022-01-13 18:38] reta commented on #1767
@adnapibar I was trying to reproduce this issue based on https://github.com/opensearch-project/OpenSearch/issues/1843 Gradle logs, completely failed at it.

[code]

If you happens to see it in any CI build, please let me know. The suspects are: `Log4j` and our own `MockLogAppender.LoggingExpectation` but I have failed to replicate the problem, even by artificially injecting `StackOveflowError` in

[2022-01-13 18:52] saratvemulapalli commented on #1632
Started working on PluginDiscovery:
1. Create new PluginOrchestrator (which will eventually replace PluginsService.java) to read through new plugins ("pluginsv2", didnt find a better name we could rename it later).
2. Update PluginInfo to understand a new field called Type (which will support LEGACY, INDEPENEDENT, REMOTE (in future)).
3. Define a new manifest file to expose a TCP port and PluginIn

[2022-01-13 18:53] saratvemulapalli commented on #1632
Seeing problems while reading new plugins folder:

[code]

[2022-01-13 19:24] dblock commented on #1872
Should we turn this into a feature request? @chaitrahegde115 is there a reason why you'd want an ENV-set value vs. say replacing binaries in the distribution or consuming a no-JDK min version?

[2022-01-13 20:38] itiyamas commented on #803
Not sure if this got fixed as a side effect of some other change. I was able to trace through the code and identify what was causing the bug. Are those code paths not relevant anymore? Did you check that? The ones that are shared in the description.

[2022-01-14 01:57] haversnail opened #1901 "[BUG] `term_vector` does not work on `search_as_you_type` fields"
**Describe the bug**
TL;DR: same issue reported [here](https://github.com/elastic/elasticsearch/issues/66407).

Per ElasticSearch's 7.10 [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/search-as-you-type.html#general-params) (which AFAICT should be compatible with OpenSearch 1.x), setting `term_vector` on a `search_as_you_type` field should only affect the shingle subf

[2022-01-14 11:25] mhoegy opened #1904 "Remote cluster not detected"
Hello,

I recently configured 2 Opensearch clusters (master and archive). They are all in the same network.
From the master, I would like to read datas located on the archive.

On the master's nodes configuration (opensearch.yml file), I added thoses lines:
cluster:
  remote:
    archive_name_cluster:
      seeds:
        - My_IP:9300

After a restart, I use a user whith full access (admin) and th

[2022-01-14 14:56] stockholmux commented on #1854
@samuel-oci If you want to talk about this at a community meeting, pick out a date that works for you here:

https://opensearch.org/events/

Then add it as a **comment** in the agenda (anyone can comment) - we'll approve it and mark it in the agenda.

[2022-01-14 17:05] nknize opened #1905 "Improve javadoc on SortSpec to inform use of preferredName as a unique key"
PR #1856 enhanced the [SearchPlugin](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/plugins/SearchPlugin.java) to enable pluggable SortBuilders. The mechanism uses a new `SortSpec` to define the specification of the builder and parser and exposes through the named registry. This named registry keys the sort specification off the `preferredName` which

[2022-01-14 17:46] nknize opened #1907 "[BUG] node drop on o.o.cluster.routing.allocation.decider.MockDiskUsagesIT.testRerouteOccursOnDiskPassingHighWatermark"
**Describe the bug**
Caught on PR #1902 . Another failure that can't be reproduced! (╯°□°)╯︵ ┻━┻

[code]

Looks like a node timeout issue at [MockDiskUsagesIT.java#L166](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/cluster/routing/allocation/decider/MockDiskUsagesIT.java#L166)

[code]

Gave up after one try... valiant effort （。々°）

*

[2022-01-14 17:57] nknize commented on #1715
/cc @getsaurabh02

[ShardIndexingPressureSettingsIT](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/index/ShardIndexingPressureSettingsIT.java) is a problem child. Can y'all investigate the recurring `"Suite timeout exceeded (>= 1200000 msec)."` and see if this is either a real issue with the Indexing Pressure implementation or simply

[2022-01-14 18:01] andrross commented on #1715
Suraj @dreamer-89 has been digging into the ShardIndexingPressureSettingsIT failures, tracked in #1843

[2022-01-14 18:03] jcgraybill commented on #1872
To be clear, OpenSearch does support specifying a JDK with an environment variable, it's just that the environment variable is `JAVA_HOME`... the documentation is wrong in this case.

[2022-01-14 18:06] nknize commented on #1715
:+1:  Also note open PR #1592

[2022-01-14 18:08] reta opened #1908 "[BUG] org.opensearch.gateway.QuorumGatewayIT > testQuorumRecovery FAILED"
**Describe the bug**
Caught on PR https://github.com/opensearch-project/OpenSearch/issues/1906

[code]

Log: https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1923.log
Report: https://ci.opensearch.org/logs/ci/workflow/OpenSearch_CI/PR_Checks/Gradle_Check/gradle_check_1923_reports.zip

**To Reproduce**
Another failure that can't be reproduced :(

**Expect

[2022-01-14 18:10] reta commented on #1715
Few more flaky tests:
 - https://github.com/opensearch-project/OpenSearch/issues/1908
 - https://github.com/opensearch-project/OpenSearch/issues/1907

[2022-01-14 18:16] reta commented on #1872
@dblock @jcgraybill that is correct, but it could be useful for certain cases (migration fe), Elasticsearch has this feature https://github.com/elastic/elasticsearch/pull/68954.

+1 to turn it into feature request, I actually do have an example from the field where it is useful. There are often several JVM colocated apps / services running on the same host which use different JDKs (fe apps go on e

[2022-01-14 18:17] dblock commented on #1715
I copied some links into the body of this issue... it's quite a list.

[2022-01-14 18:18] dblock commented on #1872
I'll reopen as a feature request.

[2022-01-14 18:21] reta commented on #1872
@dblock if there are no objections, you could assign it to me, thx!

[2022-01-14 18:44] kotwanikunal commented on #1722
Taking a look at this issue.

[2022-01-14 18:49] bbarani opened #1910 "Upgrade the OpenJDK version"
**Is your feature request related to a problem? Please describe.**
The current OpenJDK version shipped with OpenSearch is pretty old and contains CVE's that are remediated in the later versions.

**Describe the solution you'd like**
Upgrade the OpenJDK version of OpenSearch to the latest stable version

**Describe alternatives you've considered**
NA

**Additional context**
[Forum post discussing t

[2022-01-14 19:02] #624 closed

[2022-01-14 19:11] reta commented on #1887
Fixing this one, found the cause

[2022-01-14 19:18] saratvemulapalli commented on #1910
Looks like OpenSearch main (a.k.a 2.0.0) is already running with [17.0.1](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/version.properties#L5)
OpenSearch 1.2 , 1.x line is running with [15.0.1](https://github.com/opensearch-project/OpenSearch/blob/1.2/buildSrc/version.properties#L5)

[2022-01-14 19:24] reta commented on #624
@nknize sorry cannot do that myself, could you please add `2.0.0` and `1.3.0` as version labels, much appreciate it, :pray:

[2022-01-14 19:30] nknize opened #1912 "[Idea] Introduce new compute role / phase (aka: dynamic fields)"
Dynamic fields (e.g., runtime fields) are useful for many different applications (search time transforms, joins, scripted field search, etc).

One way of achieving this is to create in memory doc values at search time. This is what the FieldData implementation did before doc values were leveraged in Lucene. This is memory intensive, slow, etc. Some users are okay with the performance penalty in fa

[2022-01-14 19:40] reta commented on #1910
@saratvemulapalli that is correct, @dblock had the concerns backporting the JDK-17 changes to 1.x, so we did not do that.

[2022-01-14 20:44] reta commented on #1018
I was involved in the discussion recently on the subject [1], it would be really beneficial to have the `flattened` type but I believe the [2] was the subject of the IP / copyright claims (@aparo would be great to hear the reasons, many people are asking, thank you :pray:). To keep it short: we probably could add something similar to `flattened` type but with different name (and obviously implemen

[2022-01-14 21:23] #1887 closed

[2022-01-14 23:39] dredwilliams commented on #1910
Thanks for entering this for me!  JDK 17 would meet the current set of JDK requirements provided by my security team.  JDK 15 would need to be newer than 15.0.4.

[2022-01-14 23:52] reta commented on #1910
Uh .... @dredwilliams which distribution you would recommend to use? Adoptium / AdoptOpenJDK does not have it, OpenJDK project has not references either

[2022-01-14 23:58] dredwilliams commented on #1910
Well, then I guess JDK 15 is not an option any longer :-(  My security team just gives me a list of what is NOT acceptable ... and 15.0.4 and below are on the list.  Sorry ... should have investigated further.

[2022-01-15 15:11] reta commented on #1910
@dblock what are your thoughts on that? we could backport JDK-17 changes to 1.x

[2022-01-15 15:21] saratvemulapalli commented on #1910
@reta @dredwilliams am I missing something here.
From what I could read, AdoptJDK doesnt have a new version but OpenJDK does have new versions and the latest is 15.0.6.
Ref: https://wiki.openjdk.java.net/display/JDKUpdates/JDK+15u

[2022-01-15 15:47] reta commented on #1910
@saratvemulapalli correct, OpenJDK is source, we need distribution: the binaries. AFAIK Adoptium / AdoptOpenJDK does not provide binaries for 15.0.4 [1], nor does OpenJDK project [2] but Azul fe does [3] (in fact, this is the only one I found for this particular version).

[1] https://adoptium.net/archive.html
[2] https://jdk.java.net/archive/
[3] https://www.azul.com/downloads/?package=jdk

[2022-01-15 17:21] jcgraybill commented on #1910
The JDK for 1.X should be an LTS version, which means that we should indeed do the work to backport JDK 17 to 1.x.

[2022-01-15 21:24] dreamer-89 commented on #1843
Added logs to get more insights to debug the issue when the timeout occurs. It seems the test is timing out because bulk request is not caught (bug?) as sharding indexing pressure breached (last successful duration limit) [here](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/ShardIndexingPressureMemoryManager.java#L392). This bypass results in

[2022-01-15 21:35] dreamer-89 commented on #1843
The code is expected to fail the below check but it doesn't because of below condition including `nodeTotalBytes` and `nodeLimit` values.
[code]
To get why this check is failing; added another log statement to find out why this condition is not failing and raising `OpenSearchRejectedExecutionException` exception.

[2022-01-16 20:21] dreamer-89 commented on #1843
As expected, `nodeTotalBytes` value is not evaluated correctly by the time third requested started. This could possibly happen due to asyn nature of requests resulting in out of order requests.

[code]

[gradle_jan15_154.txt](https://github.com/opensearch-project/OpenSearch/files/7877862/gradle_jan15_154.txt)

[2022-01-16 20:24] dreamer-89 commented on #1843
There are couple of ways to fix this:
1. Increase existing thread sleep time (current is 25ms) to 1sec [here](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/internalClusterTest/java/org/opensearch/index/ShardIndexingPressureSettingsIT.java#L404).
2. Wait for previous two requests to be processed i.e. total outstanding requests to be 2 (better as not relying on hard coded wai

[2022-01-17 12:04] ganilmca opened #1918 "Opensearch-1.2.3 images not able to deploy in kubernates"
Hi Team,

We have tried to deploy opensearch-1.2.3 image ( which was downloaded from "docker pull opensearchproject/opensearch:1.2.3 ") as a helm based deployments, we couldn't able to deploy the cluster.

We have followed the bellow process:

1.Deploy the cluster as a helm charts:
<img width="571" alt="opensearch123-deploy" src="https://user-images.githubusercontent.com/84953972/149765979-3810080

[2022-01-17 14:18] roman-qu opened #1921 "Mapping update for “date_range” field type is not idempotent"
**Describe the bug**
OS does not allow to update date_range fields with exact same mapping settings and responds with 500.
That is known issue for ElasticSearch version 7.10 which OpenSearch used for fork. It was resolved in version 7.11. Link to issue created for ElasticSearch -> https://github.com/elastic/elasticsearch/issues/69012

**To Reproduce**
Steps to reproduce the behavior:
1. Create an

[2022-01-17 17:25] dblock commented on #1910
💯  @jcgraybill

[2022-01-17 17:47] reta commented on #1910
@dblock @jcgraybill @dredwilliams on it

[2022-01-17 20:00] dreamer-89 commented on #1843
The failures were not observed post adding wait statement for outstanding requests to complete.

[2022-01-17 20:14] dreamer-89 commented on #1843
## Summary
`testShardIndexingPressureEnforcedEnabledDisabledSetting` excecises different shard indexing pressure parameters such as outstanding request count, last successful request elapsed time shard indexing etc.  The test is written based on assumption that outstanding requests will be processed on the coordinator node, before the test assertion; which sometimes fails. A simple fix is to wait

[2022-01-17 22:12] oridool opened #1926 "[BUG] Opensearch is not compatible with springboot 2.6.x"
**Describe the bug**

Application stops working after upgrade from springboot 2.5.8 to 2.6.2.

**To Reproduce**
When running my application with springboot 2.6.2 (spring-data-elasticsearch:4.3.0, elasticsearch-rest-high-level-client:7.15.2) and opensearch 1.2.3 (current latest), all queries fail with the following exception:

[code]

Before the upgrade, when using Springboot 2.5.X (spring-data-ela

[2022-01-17 22:47] reta commented on #1926
@oridool I don't think this could be solved by OpenSearch, the Elasticsearch HLRC has been hardened [1] recently to connect to Elasticsearch clusters only (basically a bunch of validations). Possible options (if it works for you) is try to downgrade `elasticsearch-rest-high-level-client` to `7.12.x` line or use older `4.2.x` release line of the Spring Data Elasticsearch, its compatibility level is

[2022-01-18 01:02] opensearch-ci-bot opened #1927 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 1962 in gradle_check log for more information.

[2022-01-18 09:15] oridool commented on #1926
Thanks @reta ,
I did as you suggested and for now it works.
I just hope I won't need to use latest spring-data-elasticsearch (bugfix or new feature).

I bring here the gradle configuration I used, in case someone has the same issue:
[code]

[2022-01-18 09:15] #1926 closed

[2022-01-18 10:53] ankitkala opened #1928 "Support for code coverage in Integ Test"
**Is your feature request related to a problem? Please describe.**
We rely on Integration tests for most of the testing for cross-cluster-replication plugin. We're tying to add code coverage to our repo using jacoco plugin but it doesn't work as the test clusters are on separate JVM and jacoco agent doesn't get attached to the Opensearch process locally.
Alerting and ISM ran into same issue and ar

[2022-01-18 10:59] ankitkala opened #1929 "[BUG] Can't use mockK for unit test"
**Describe the bug**
For cross-cluster-replication, we want to improve the unit tests. Since its a kotlin plugin, the ability to use mockK will simplify writing UTs significantly.
Currently if we try to introduce the dependency, we're running into jarHell issue

[code]
Objenesis jars are packaged with secureMock which is also a dependency of mockK.

**To Reproduce**
Add mockK dependency to OS or a

[2022-01-18 16:10] dblock commented on #1929
Adding the dependency to OpenSearch proper won't solve the jarhell problem, there's a version incompatibility in a dependency (objenesis?), you should be able to force that dependency to match the version that comes from OpenSearch.

[2022-01-18 17:01] saratvemulapalli commented on #1910
Closing this as changes are merged to 1.x and will be out in 1.3.0 release.
Feel free to re-open.

[2022-01-18 17:01] #1910 closed

[2022-01-18 17:14] dblock commented on #1910
Just confirming that this change is _not_ part of 1.2.4.

[2022-01-18 17:17] reta commented on #1910
Would it make sense to backport it to 1.2? (personally not sure since 1.3.x release is approaching)

[2022-01-18 17:28] dblock commented on #1910
Only if there's a CVE that warrants it. @bbarani

[2022-01-18 19:18] PhilipMay commented on #1650
This is a super important security issue. Can you please prioritize it?

PS: it seems like there is something that could handle this - but it is 1. not documented and 2. I am not sure how and if it even works.

https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/distribution/docker/src/docker/bin/docker-entrypoint.sh#L58

[2022-01-18 19:22] dreamer-89 commented on #1651
@Bukhtawar : Is there a way to replicate this issue ? That will be helpful to debug, root-cause and finally verify the fix.

[2022-01-18 19:38] anasalkouz commented on #1891
Hi @ersinoracle, Could you share the object before the serialization? the output of bulkResponse.getItems(), so we can reproduce it.

[2022-01-18 19:59] dblock commented on #939
I believe this is long done, closing.

[2022-01-18 19:59] #939 closed

[2022-01-18 20:41] owaiskazi19 commented on #1855
Came across the below after running ./gradlew bwcTest on main
[code]
Reopening the issue.

[2022-01-18 20:42] julian-alarcon opened #1932 "Define a clear End of of Life / Supported versions policy and documentation"
Currently there is no place to look for the supported versions by OpenSearch, or is currently just the latest release supported?
Old project has a good and clear reference of supported versions and a specific plan https://www.elastic.co/support/eol

**Describe the solution you'd like**
There should be a clear document mentioning the current supported versions, if there is any rule to support lates

[2022-01-18 20:45] sampathbalivada commented on #1320
I set up a GitHub Action workflow to test things out at my end and seems like I have an issue running the tests. This is the error code.

./gradlew check -Dtests.coverage=true

[code]

[2022-01-18 21:00] sampathbalivada commented on #1320
I set up a GitHub Action workflow to test things out at my end and seems like I have an issue running the tests. These are the tasks that I was able to run at my end. (All these are running on a replica of the `main` branch)

[code]
[code]
[code]

All these tasks failed with the following exception.

[code]

Runs for reference:
https://github.com/sampathbalivada/OpenSearch/runs/4852410823?check_su

[2022-01-18 21:20] dblock commented on #1320
@sampathbalivada Check out #1665, that should answer many questions. Beyond setup, `./gradlew check` requires hardware that GHA can't quite handle and we've been trying several workarounds short of running our own setup (we currently do with Jenkins and a bunch of instances supplied by AWS).

[2022-01-18 21:52] dreamer-89 commented on #1763
Looking into it.

[2022-01-18 22:26] reta commented on #1763
@dreamer-89 the `XxxThirdPartyTests` in the repository plugins are runnable against real cloud storages (Azure / S3 / GCS), only a matter of system properties, but there are no CI integrations + test accounts  at the moment for that.

[2022-01-19 00:10] dreamer-89 commented on #1763
@reta: Thank you for sharing this.

[2022-01-19 07:11] sampathbalivada commented on #1320
Thank you for the information @dblock. Seems like this issue has a dependency on #39.

Also, since we are already doing `./gradlew check`, wouldn't it be easier to add `-Dtests.coverage=true` and generate the coverage report there?

[2022-01-19 08:33] ezienecker opened #1938 "Is Opensearch planning to remove the mapping types too?"
Before I start, excuse the question, I think this is more of a question than a feature request. But I think this topic is interesting for everyone who wants to switch from Elasticsearch to Opensearch.

Elasticsearch will remove mapping types in their version 8. Will this also be the case in Opensearch? Or is this actually moot because the fork was made from Elasticsearch version 7.10.2 and this fu

[2022-01-19 11:18] balar06 commented on #1833
Do we have any update?

[2022-01-19 12:55] mhoegy commented on #1904
The role remote_cluster_client was missing for my master cluster's configuration. With this role, everything is OK.

[2022-01-19 12:55] #1904 closed

[2022-01-19 14:06] rkbennett commented on #1580
Hard to say without seeing your opensearch.yml config, but my guess is that you aren't setting the compatibility configuration in your opensearch.yml.

[2022-01-19 14:37] #1938 closed

[2022-01-19 15:36] dlvenable commented on #1483
This issue came up in the community meeting yesterday. It sounds like the plan is to remove the terms "blacklist" and "whitelist" in 2.0. The `reindex.remote.whitelist` setting has been around since at least Elasticsearch 6, and I think a longer deprecation path is more appropriate.

It's good that the new fields will come soon in 1.3 so that developers can start making changes soon. But, removing

[2022-01-19 15:54] rkbennett commented on #1075
This is something that would be pretty helpful to me as well, Ideally it could provide metrics that are comparable to elasticsearch's xpack monitoring

[2022-01-19 17:56] penghuo commented on #1629
SQL/PPL require this feature also. https://github.com/opensearch-project/sql/issues/124.

[2022-01-19 18:24] penghuo commented on #1912
Add one use case from PPL parse command.  for example, parse command extract <field:value> pair from raw_log field in raw_index. then use extracted field for filter or aggregation.
[code]
In our current design, we rewrite parse command as customized Script . so the query will be rewrite as following execution plan (it is not actual plan, for explanation only). `One major concern is that raw_log is

[2022-01-19 18:59] reta opened #1940 "[Meta] Remove mapping types"
**Is your feature request related to a problem? Please describe.**
The mapping types have been deprecated in Elasticsearch (starting from 7.0) [1] with breaking changes to the index creation, put mapping, get mapping, put template, get template and get field mappings APIs and on track to be removed in 8.0 [2]. This is the debt Opensearch has inherited and the code related to mapping types support

[2022-01-19 22:21] lukas-vlcek commented on #1674
I think there are still some leftovers, at least in `org.opensearch.gradle.testclusters` package.

For example `OpenSearchCluster` or `OpenSearchNode` classes still contain several conditions that use string constants like "6.2.0", "6.3.0", "6.5.0" ... etc. (They do not make use of `Version` or `LegacyESVersion` instance, maybe that is why these cases were not handled yet?)

[2022-01-20 00:45] CEHENKLE commented on #1932
Thanks, @julian-alarcon .  Good suggestion.   Flagging for @elfisher

[2022-01-20 01:31] ersinoracle commented on #1891
Please see the answers below.

**Use-case:**
- Call bulk API using the payload which is assigned into the `requestBody` actual parameter
- Convert the response to JSON so to return it to the caller

**Problem:**
- ObjectMapper throws exception `com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Direct self-reference leading to cycle`.

**Files attached (had to add `.txt` at the end of

[2022-01-20 07:48] kid1412621 commented on #1777
same for docker + wsl2
[code]

[2022-01-20 09:13] ripmars opened #1946 "[BUG]securityadmin.sh Timed out while waiting for a green or yellow cluster state"
**Describe the bug**
Failed to run securityadmin.sh.All the opensearch nodes running.

`bash /usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh -cacert /usr/share/opensearch/config/root-ca.pem -cert /usr/share/opensearch/config/admin.pem -key /usr/share/opensearch/config/admin.key -f /usr/share/opensearch/plugins/opensearch-security/securityconfig/internal_users.yml -nhnv -ic

[2022-01-20 15:00] Bukhtawar commented on #1694
Looks like a good first step. Thanks for the doc

Are they based on the assumption that with segment based replication, we would not replicate operations(transient errors would still be present as long as we replicate)? I guess we would still need to replicate translog operations, unless there is a centralised durable store, but that's for a separate discussion.

I guess we have sequence ids for t

[2022-01-20 17:07] FrankXia opened #1947 "Unable to load CSV files successfully when CSV file size reaches 1 million records"
**Describe the bug**

We tried load data from a S3 bucket contains 10 CSV files with each containing 1 million records. It failed to finish the job with following error message:

[Spark task failed due to an exception. Stack trace: {0}] ["org.elasticsearch.hadoop.rest.EsHadoopInvalidRequest: org.elasticsearch.hadoop.rest.EsHadoopRemoteException: rejected_execution_exception: rejected execution of

[2022-01-20 17:40] qreshi opened #1948 "[Bug]: 1.3.0 OpenSearch staging Docker image failing to come up"
### Describe the bug

It looks as though the 1.3.0 staging Docker image might be failing to come up due to the `InitialBootClassLoaderMetaspaceSize` VM option used by the PA plugin.

The container logs outputted just showed the following:
[code]

Logging onto the container itself and running the entry point script manually produced the following PA logs (no other logs under the `/logs` directory):

[2022-01-20 18:06] reta commented on #1947
@FrankXia The Opensearch has introduced additional Indexing Back-Pressure (see please https://github.com/opensearch-project/OpenSearch/issues/478) logic in order to stabilize cluster behaviour under heavy load / heavy queries. It seems like you have triggered memory back-pressure conditions, you could:
 - increase server JVM memory settings
 - tailor "**indexing_pressure.memory.limit**"  setting (

[2022-01-20 18:39] peternied commented on #1948
The jdk version that OpenSearch is bundled with looks like it doesn't work with the settings on the container.  Is this bundled version correct and what should be shipped in the 1.3.0 release?  If this is correct, can we get guidance on how to handle the container configuration?  @reta @dblock @saratvemulapalli

https://github.com/opensearch-project/OpenSearch/blob/e0216dad0f7600a572e16ba24d0c87ae

[2022-01-20 18:42] reta commented on #1948
@peternied looking into it, thank you

[2022-01-20 19:06] reta commented on #1948
@peternied sorry, could you move it back to `opensearch-build` , it is indeed the build issue, I will send a fix , thx!

[2022-01-20 19:38] saratvemulapalli commented on #1948
Thanks @reta for taking this up.

[2022-01-20 23:21] taf2 opened #1951 "OSX Releases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Elasticsearch released zip files for macosx.  This was very nice as it was pretty self contained and just worked... I see only docker and linux options here...

**Describe alternatives you've considered

[2022-01-21 01:08] rishabhmaurya commented on #1893
I believe your requirement is similar to what lucene supports in [ComplexPhraseQuery](https://github.com/apache/lucene-solr/blob/releases/lucene-solr/6.4.0/lucene/queryparser/src/java/org/apache/lucene/queryparser/complexPhrase/ComplexPhraseQueryParser.java). Some [examples](https://github.com/apache/lucene-solr/blob/releases/lucene-solr/6.4.0/lucene/queryparser/src/test/org/apache/lucene/querypar

[2022-01-21 04:42] saratvemulapalli opened #1954 "[BUG] gradle precommit is broken due to transportClientRatio"
**Describe the bug**
Gradle precommit on local desktop is broken

[code]

Not sure why GHA action for precommit is going through. But its quite reproducible on local machine.
**To Reproduce**
Steps to reproduce the behavior:
1. Checkout OpenSearch
2. Run `./gradlew precommit`

**Host/Environment (please complete the following information):**
 - OS: Mac OS BigSur, Ubuntu (Linux)

[2022-01-21 07:52] #1946 closed

[2022-01-21 12:13] Bukhtawar commented on #1912
Is this similar to https://github.com/opensearch-project/OpenSearch/issues/1133 @nknize ?

[2022-01-21 16:41] saratvemulapalli commented on #1954
This is now fixed in main.
The changes are not backported yet to 1.x: https://github.com/opensearch-project/OpenSearch/pull/1445
@jainankitk can you take care of this when you back port it to 1.x.

Another follow up question, I do not know why GHA for Precommit passes consistently while on local it consistently fails.

[2022-01-21 16:50] q2dg opened #1956 "[BUG] OpenSearch v1.2.4 Docker image is broken while v1.2.3 just works"
This command works
![Captura de 2022-01-21 17-47-07](https://user-images.githubusercontent.com/7274874/150566732-c068a98d-56b1-4139-841d-30e08aec4534.png)

But this one doesn't

![Captura de 2022-01-21 17-47-07](https://user-images.githubusercontent.com/7274874/150567116-17e40ea5-143d-4dac-b86e-b34ffae06c52.png)

Errors are shown below

![Captura de 2022-01-21 17-48-23](https://user-images.githubu

[2022-01-21 17:33] nknize commented on #1912
"schema on read" is a use case for dynamic fields. This is a mechanism for achieving "schema on read", along with query time enrichment, joins, etc.

[2022-01-21 17:42] saratvemulapalli commented on #1956
From what I understand looks like the file path config for SSL coming from Security plugin is not configured.
I'll transfer this to opensearch-build.

[2022-01-21 18:02] owaiskazi19 commented on #1297
1. Looks like the support for the test is not present on `main` anymore which means no test failure for the same.

2. Not able to reproduce it on the latest `main`.

[2022-01-21 18:16] reta commented on #1467
@elfisher @davidshtian we have started the discussion to introduce the dedicated connector [1], [2] (is related to that), @dblock if there are no objections, please assign this issue to me, thank you.

[1] https://issues.apache.org/jira/browse/FLINK-25756
[2] https://github.com/testcontainers/testcontainers-java/issues/4782

[2022-01-21 18:23] adnapibar commented on #1674
Thanks @lukas-vlcek - we will be removing those as well. Feel free to raise a PR if you'd like to contribute :)

[2022-01-21 19:42] anirudha commented on #1899
@anasalkouz @nknize could you please help prioritize this review, thanks!

[2022-01-21 20:29] VachaShah opened #1957 "[BUG] Timeout on org.opensearch.cluster.routing.MovePrimaryFirstTests.testClusterGreenAfterPartialRelocation"
**Describe the bug**
Caught on PR #1952. The test timed out while waiting for the cluster to become green. Related PR for test: #1445.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the above command in the repo. Its a flaky test.

**Expected behavior**
The cluster becomes green and the test does not timeout.

**Plugins**
Core OpenSearch.

**Host/Environment (please complete the

[2022-01-21 20:37] opensearch-ci-bot opened #1958 "Jenkins Randomized Gradle Check Failed on e00bc9dfa50c67542ee961937b006cfeafc9ce07"
@opensearch-project/opensearch-core team, please take a look at Build 2019 in gradle_check log for more information.

[2022-01-21 21:21] tlfeng commented on #1958
[log](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2019/artifact/gradle_check_2019.log)
[test report](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2019/artifact/gradle_check_2019_reports.zip)
[code]

[2022-01-21 22:00] CEHENKLE commented on #1694
Ooo, cool!  :)  We were writing about the current state of the released software, but that's a good point.

[2022-01-21 22:00] jainankitk commented on #1954
@saratvemulapalli - Sure, thanks!

[2022-01-21 22:18] AlanYuXuan opened #1960 "Need to support POST method for Search template"
**Is your feature request related to a problem? Please describe.**
We used to use GET method + search template to get the result and we find in elasticsearch 7.13 it supports POST + search template. We had tested that if using this method the connection will keep alive not close. https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-template-api.html#search-template-api

**Describe t

[2022-01-21 23:41] VachaShah opened #1962 "Backport workflow improvements"
Currently the backport workflow creates automatic backport PRs based on the label assigned to the original PRs. For example, `backport 1.x` label on a PR creates a backport PR to 1.x after the original PR is merged.

Backport PR opened: https://github.com/opensearch-project/OpenSearch/pull/1959

Other features to be added to this workflow:
1. Currently, the backport PR opened by `github-actions` d

[2022-01-21 23:46] VachaShah commented on #1712
This issue is resolved and the backport workflow is able to create PRs. Example PR: #1959

[2022-01-21 23:46] #1712 closed

[2022-01-22 11:47] trondhindenes opened #1963 "[BUG] Documented audit log settings do not work"
**Describe the bug**
I'm trying to tweak the audit log settings, but I'm gettings this:

relevant snippet of security-plugin config.yml:
[code]

[code]

**To Reproduce**
Add audit settings as shown above

**Expected behavior**
I would expect the server to start and the documented audit settings to work

**Plugins**
All defaults

**Screenshots**

**Host/Environment (please complete the following in

[2022-01-22 17:30] saratvemulapalli commented on #1963
From what i understand, it looks like a setting from security plugin.
I'll move it to security repo.

[2022-01-24 00:20] robertdkmarshall opened #1965 "[BUG] High Level Rest Client broken compatibility with Open Distro"
**Describe the bug**
Health check fails when talking to non-OpenSearch clusters. Additional field is not in earlier versions of Open Distro etc.

Exception in thread "main" java.io.IOException: Unable to parse response body for Response{requestLine=GET /_cluster/health?master_timeout=30s&level=cluster&timeout=30s HTTP/1.1, host=http://52.43.191.95:9201, response=HTTP/1.1 200 OK}
	at org.opensearch

[2022-01-24 01:28] opensearch-ci-bot opened #1966 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2032 in gradle_check log for more information.

[2022-01-24 05:01] fandigunawan commented on #1108
Hi everyone, I got this kind of message on OpenSearch 1.2.3
This message log perhaps will help to reproduce the bug.
`
2022-01-24 11:57:50,736 [WARN] from org.elasticsearch.client.RestClient in I/O dispatcher 2 - request [POST https://orch-db-node-2:9200/imt-orch_6/_search?scroll=60000ms] returned 1 warnings: [299 OpenSearch-1.2.3-8a529d7733432bc45baa5ac1c4ba3b2741b57dac "this request accesses sys

[2022-01-24 08:37] pietrogu opened #1967 "About GeoIP processor"
Hi,

i would like to ask some clarification about GeoIP processor.
In particular, is there some update mechanism for the database?
If not, how would it be possible to update (maybe using scripts)? Did someone already tried to do this?

Thank you

Pietro

[2022-01-24 11:01] shwetathareja commented on #1788
@xuezhou25

1. we should look into making the code not to block on response from getRepositoryData here https://github.com/opensearch-project/OpenSearch/blob/3ce377f5cc6cb792daa2a66fd8d00f4a276578ce/server/src/main/java/org/opensearch/action/admin/cluster/snapshots/get/TransportGetSnapshotsAction.java#L141 and pass a listener to it instead of this fut object.

You can check this PR [1cde4a6](https

[2022-01-24 13:03] sachinpkale opened #1968 "[Feature Proposal] Add Remote Storage Options for Improved Durability"
# Feature Proposal : Add Remote Storage Options for Improved Durability

## Overview

OpenSearch is the search and analytics suite powering popular use cases such as application search, log analytics, and more.  While OpenSearch is part of critical business and application workflows, it is seldom used as a primary data store because there are no strong guarantees on data durability as the cluster

[2022-01-24 16:46] dreamer-89 commented on #1763
Checked different repository actions and corresponding integration tests already exists for all supported repository typesa. There is some plumbing work is pending; regarding feeding credentails for different cloud providers. I have verified that providing aws credentails as enviornment variables; the tests were able to use actual S3 end-point and perform different actions. The actual choice of in

[2022-01-24 17:05] FrankXia commented on #1947
Thanks @reta for the advice, I was able to resolve the problem with doubling the JVM memory in all Master nodes.

[2022-01-24 17:05] #1947 closed

[2022-01-24 17:36] ankitkala commented on #1928
PRs for the fix:
- Add code coverage to CCR plugin: https://github.com/opensearch-project/cross-cluster-replication/pull/284
- Add hook to execute custom logic before Integ test task starts: https://github.com/opensearch-project/OpenSearch/pull/1969

[2022-01-24 19:18] kartg commented on #1694
@itiyamas

Yes, that's what we were referring to as "ordering of operations". Here, the two operations are writing to the replica's translog, and copying of segments to the replica. Today, we are guaranteed to write to the translog _only after_ the operation has been successfully processed. This guarantee will not hold with segment replication since copying of segments is asynchronous and decouple

[2022-01-24 19:46] owaiskazi19 commented on #420
Looks like ` ./gradlew :test:framework:thirdPartyAudit` is working on `main` now.

[2022-01-24 19:50] nknize commented on #1968
Can we change the title to `Add Remote Storage Options for Improved Persistence`.  Remote storage isn't the silver bullet to durability, it's one mechanism. It's also not just about the durability story, it's just as applicable to availability; so we should be careful to not imply remote storage support is being added solely for solving all durability issues.

Let's also change "tradeoffs" to "con

[2022-01-25 06:13] Bukhtawar commented on #1968
While it does improve the mean time to recovery when then there are no backing in-sync replicas, it isn't directly improving availability since(for now) we still need sufficient replica copies on disk for high availability.

[2022-01-25 11:22] asafm commented on #1329
Perhaps we can check if the client connection is still active, and if not, propagate it to the data nodes to cancel that query.

[2022-01-25 16:41] reta commented on #1329
@asafm I think something along these lines, for example interpreting client disconnects as tasks cancellation and propagating that across the nodes (since coordinator is aware of client state and tasks).

[2022-01-25 17:05] lrynek commented on #1133
@imRishN what about the existing runtime fields feature? Looks almost the same that you are proposing here:
👉  https://www.elastic.co/guide/en/elasticsearch/reference/current/runtime.html
Could you maybe tell in what your solution will differ from the runtime fields? (just asking for the sake of curiosity to better understand the proposal at hand 😉 )

[2022-01-25 17:07] lrynek commented on #1711
@anasalkouz hi there! 👋  Only asking whether you consider this enhancement worth implementing in any of the future versions of OpenSearch? Thanks for any update / prognosis on that! 🙂

[2022-01-25 17:19] sachinpkale commented on #1968
Not cloud provider but the remote store. Proposal is to integrate with a remote storage to store the indexed data. There are no assumptions on how the remote store is hosted. For example, if the remote store is HDFS, it could either be self hosted or a managed service.

[2022-01-25 18:24] peterzhuamazon commented on #1763
Meeting notes:
* @dreamer-89 wants to check whether we can have a system to connect to third party cloud and test.
* Seems like we need to do external communication to Azure and Google Cloud.
* A one-pager will be prepared to get some high level understanding of what is needed, and what port to open and what service to use, etc.
* Security Practices

[2022-01-25 18:29] jayeshathila commented on #1968
In Transactional DBs the first entry goes to WAL and that guarantees that the data won't be lost if it is written to WAL. But here, we are first indexing and then writing to WAL, so there is still a chance of data lost between indexing and WAL append.

[2022-01-25 18:46] jayeshathila commented on #1968
Won't this storing data in remote storage (fastest being some streaming service) itself be a major latency bottleneck ?

[2022-01-25 18:55] saratvemulapalli opened #1972 "PluginsOrchestrator: Plugin Discovery for independent plugins"
Add support to read and discover plugin configuration via `pluginsv2.yml` using PluginsOrchestrator.

- [x] Design configuration `pluginsv2.yml` structure for PluginsOrchestrator to consume.
- [x] Load pluginsv2 in PluginsOrchestrator via `pluginsv2.yml`

### Design
Pluginsv2.yml
[code]

Parent: https://github.com/opensearch-project/OpenSearch/issues/1632

[2022-01-25 18:57] Bukhtawar commented on #1968
In OpensSearch all operations are written to the translog after being processed by the internal Lucene index to avoid any unexpected document failure upfront. The guarantee with remote translog store is no acknowledged writes would ever be lost

No this probably is not a major bottleneck since only one indexing thread would be at any point writing translog to the remote store, while other threads

[2022-01-25 19:17] #1297 closed

[2022-01-25 19:41] CEHENKLE commented on #1960
Hi @AlanYuXuan !  Can you give us more information about the use case you're trying to solve?  Is keeping the connection alive critical to your use case?

Thanks!

[2022-01-25 19:45] CEHENKLE commented on #1940
Thanks @reta This seems to make sense to actually remove in 2.0.  What do you think?'

Thanks again,
/C

[2022-01-25 19:47] anasalkouz commented on #1940
More discussion already here: https://discuss.opendistrocommunity.dev/t/is-opensearch-planning-to-remove-the-mapping-types-too/8341?u=searchymcsearchface

[2022-01-25 19:52] CEHENKLE commented on #1855
@owaiskazi19 Hey!  it looks like that stack trace is pointing to another issue, other than the one that's described here.  Is BWC still always broken?  It seems not, since gradle check is passing?  Perhaps we should add the flaky label?

[2022-01-25 19:52] reta commented on #1940
@CEHENKLE +1 to include it into `2.0` roadmap

[2022-01-25 19:56] dreamer-89 commented on #1855
It seems like some issue with `bwcTest` task. I am also able to replicate it when running on main branch. It needs deep dive on how bwcTest is getting resolved.

[code]

[2022-01-25 19:58] reta commented on #1133
@lrynek You are very right, the runtime fields serve the same purpose (schema on read) but this is proprietary Elasticseach feature / implementation. The goal of this RFC to provide similar functionality on OpenSearch side (but obviously it cannot be copied as is).

[2022-01-25 20:11] nknize commented on #1968
It improves the availability story as new replicas can be spun up w/ an rsync of segments on remote storage. Besides, remote storage is used as a mechanism in the segment replication implementation which is not durability so we need to loosely couple the durability story from this issue.

[2022-01-25 20:21] owaiskazi19 commented on #1855
As @dreamer-89 mentioned above. That's the catch where bwcTest is passing with gradle check but not when run separately.

[2022-01-25 20:55] nknize commented on #1319
I'm curious what other folks think about this. I know some are strongly opposed giving the option to disable this level of persistence. I'm not in that camp. I like the idea of giving the option to completely disable the xlog and save that processing storage time for simple fast/unreliable uses cases. Similar to folks choosing UDP over TCP and not caring if certain packets are lost.

[2022-01-26 05:39] sachinpkale commented on #1968
Agree but we should not see remote storage as the option to increase availability. Even though overall availability may increase by using remote store, we can't guarantee availability as it depends on the availability of configured remote store as well as the cluster configuration.
On the other hand, we can guarantee durability using remote store as it directly depends on durability of the remote

[2022-01-26 08:07] lrynek commented on #1133
@imRishN Oh, haven't known that ,thanks for explanation! 👍  // It's that I assumed that given OpenSearch is a fork of Elasticsearch 7 version, it would have all the features available for that version too. Have we got any reference for such discrepancies between the two projects? It would be awesome...😎

[2022-01-26 17:00] dreamer-89 commented on #1940
Looking into it

[2022-01-26 17:25] dreamer-89 opened #1975 "Break down gradle check task to smaller maintainable verification tasks to improve flaky test failures"
Today upon pull request, a gradle check verification task is started which runs unit test and integration tests along with other verification tasks. Gradle check run itself takes a lot of time (~30min on c5.18xlarge instances) consistently. This time increases exponentially when smaller machines are used for tests and is the reason for moving away from GHA for checks. This check fails quite often

[2022-01-26 17:49] vinaymaddi1269 opened #1976 "ElasticSearch Filter Plugin"
Search Elasticsearch for a previous log event and copy some fields from it into the current event. Below are two complete examples of how this filter might be used.

Currently this filter is supported in Elastic eco system.

Use Cases and more details are present at https://www.elastic.co/guide/en/logstash/current/plugins-filters-elasticsearch.html

[2022-01-26 17:55] mariuszpala commented on #1965
Hi, is there any plan to fix it, we have also just migrated Elasticsearch 7.10.2 API to OpenSearch API and we experience the same issue. This is critcal for us to support existing OpenDistro installations and also ES 7.10

[2022-01-26 18:13] dreamer-89 commented on #1763
![Repository tests](https://user-images.githubusercontent.com/79435743/151221820-ff82cc44-9371-4b6f-8ffb-4135efc5f76a.png)

Choice of host for running test

AWS Ec2  via Jenkins

* Pros
    * Faster
    * Existing gradle check already running on Jenkins agents (EC2 host), no extra setup required other than feeding credentials
* Cons
    * May need to get AppSec approval and it involves communicati

[2022-01-26 18:13] dreamer-89 commented on #1763
Waiting on [Issue 136](https://github.com/opensearch-project/opensearch-infra/issues/136) for choice of infra (Jenkins Vs CodeBuild Vs GHA) and review from infra team on requirements.

[2022-01-26 20:55] reta commented on #1689
Since Apache Lucene 9.0 requires JDK-11, we have no choice but to bump Opensearch 2.0.0 minimum JDK requirements to JDK-11 (at least) as well. Looking on the other projects which are facing (or just bumping) minimum JDK requirements, it seems like going with JDK-11 may not be the best option since we have next LTS release already - JDK-17.

Different JDK vendors claim the end of (official) support

[2022-01-26 21:04] andrross commented on #1689
Are there users of OpenSearch who for whatever reason run it in an environment where it is not easy to upgrade to a JDK-17 runtime? I honestly don't know the answer to that question, but my only concern is that if we move too fast on the _minimum_ requirement then we could add barriers for such users from upgrading or adopting OpenSearch. If that is not a reasonable concern then I'm all for moving

[2022-01-26 21:16] reta commented on #1689
Thanks @andrross , I don't know the right answer either, we could delay the decision to the moment when 2.0.0 release materializes, but it would be good to collect compelling arguments in favour or JDK-17 as minimum required version (using latest  language features is definitely one of those but not sufficient).

[2022-01-26 21:26] andrross commented on #1689
Having the recommended version and minimum required version both be JDK-17 simplifies the test matrix as well.

[2022-01-27 00:17] dblock commented on #1018
@aparo what happened to https://github.com/aparo/opensearch-flattened-mapper-plugin ?

[2022-01-27 01:19] owaiskazi19 commented on #1957
Hey @jainankitk can you provide more details on this issue. It's from https://github.com/opensearch-project/OpenSearch/pull/1445. Thanks.

[2022-01-27 08:27] rursprung commented on #1707
IMHO in your example the two plugins shouldn't restrict to a specific minor version. if the plugins use proper semver they can just rely on e.g. `>= 1.2.2` which then accepts anything `<2.0.0`.

but i think your example with plugins depending on each other shows something else: it should be possible to do an in-place upgrade of a plugin rather than having to uninstall the old version and then inst

[2022-01-27 09:20] LuigiCerone opened #1990 "About hot-warm-cold architecture"
Hello everyone,

I’ve setup a basic how-warm-cold architecture by following the [official example](https://opensearch.org/docs/latest/im-plugin/ism/policies/#example-policy). Once the system is up and running and policy gets triggered, I’ve indexes in different states (hot/warm/cold). I was wondering, is there any way to perform a search query using the `log` alias and limit the query on a subset

[2022-01-27 09:34] intrafindBreno opened #1991 "Reintroduce support for negative epoch_millis in sub-second granularity"
**Context and Problem**
Elasticsearch 7 introduced a regression to the `date` field type. Negative `epoch_milli` timestamps that have second fractions lead to a parse exception. This was not the case in previous Elasticsearch versions. This pull request describes the issue quite well and shows a possible solution approach: https://github.com/elastic/elasticsearch/pull/80208.

The full support for

[2022-01-27 09:44] gplechuck opened #1992 "[BUG] StackOverflow crash - large regex produced by Discover filter not limited by index.regex_max_length"
**Describe the bug**
It seems to possible to crash Opensearch nodes by providing a very large string when attempting to filter on a field value (StackOverflow related to regexp processing). When filtering on a field value, a query containing a 'suggestions' aggregation is sent to the cluster in the background before the filter is saved, in order to populate an autocomplete drop down. This aggregat

[2022-01-27 09:44] gplechuck commented on #1992
[opensearch-regex-fatal-error.log](https://github.com/opensearch-project/OpenSearch/files/7949351/opensearch-regex-fatal-error.log)

[2022-01-27 10:00] qmonitoring opened #1993 "[BUG]Error when running Docker image"
**Describe the bug**

When I try to run a docker image (following the [documentation](https://opensearch.org/docs/latest/opensearch/install/docker/#configure-opensearch)) I get this error:

`tee: /usr/share/opensearch/config/opensearch.yml: Permission denied`

The container won't start.

**To Reproduce**

Steps to reproduce the behavior:

` docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=s

[2022-01-27 10:39] ivantr5 opened #2227 "[BUG] - query_shard_exception/null_pointer_exception after upgrade to OpenSearch-Dashboards"

[2022-01-27 12:48] opensearch-ci-bot opened #1994 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2092 in gradle_check log for more information.

https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2092/artifact/gradle_check_2092.log

https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2092/artifact/gradle_check_2092_reports.zip

[2022-01-27 15:38] reta commented on #1990
Hi @LuigiCerone , there are a few issues on the subject [1], [2] but no details fleshed out just yet. The limiting search to particular tier or tiers would definitely be part of it, I think you could add this comment to [1] to keep it visible, thank you.

[1] https://github.com/opensearch-project/OpenSearch/issues/1052
[2] https://github.com/opensearch-project/OpenSearch/issues/740

[2022-01-27 16:07] nknize commented on #1767
Two more failures caught on #1984

[2022-01-27 17:25] penghuo commented on #1899
@penghuo prepare separate backporting PR for 1.3.0.

[2022-01-27 17:37] vinaymaddi1269 commented on #1976
I am looking for equivalent OpenSearch plugin just like the above ElasticSearch plugin that works with eS

[2022-01-27 17:49] dreamer-89 opened #1996 "[Remove] Type mapping param from REST end-points"
Remove type param from REST end-points

- [ ] #1999
- [x] #2003
- [ ] #2002
- [ ] #2004
- [ ] RestUpdateByQueryAction
- [ ] RestGetFieldMappingAction
- [ ] RestGetMappingAction
- [ ] RestPutMappingAction
- [ ] RestValidateQueryAction
- [ ] RestBulkAction
- [ ] RestDeleteAction
- [ ] RestGetAction
- [ ] RestGetSourceAction
- [x] #2010
- [ ] #2014
- [ ] #1997
- [ ] RestMultiTermVectorsAction
- [ ] R

[2022-01-27 18:00] tlfeng commented on #1994
[code]

[2022-01-27 18:01] dreamer-89 opened #1997 "Remove type param from RestNoopBulkAction"
Remove type param from RestNoopBulkAction

Parent Issue
https://github.com/opensearch-project/OpenSearch/issues/1996

[2022-01-27 18:07] nknize opened #1998 "[CI] test failure in o.o.search.aggregations.bucket.composite.CompositeAggregatorTests.testWithKeywordLongAndMissingBucket"
Reproducible test failure related to #1942

[code]

[code]

[2022-01-27 18:08] nknize commented on #1998
@penghuo can you have a look at this test failure?

[2022-01-27 18:23] anasalkouz opened #1999 "Remove type param from RestNoopSearchAction"

[2022-01-27 18:39] penghuo commented on #1998
Ack

[2022-01-27 18:47] jainankitk commented on #1957
I will prioritize this before EOW and update this thread with my findings!

[2022-01-27 18:58] tlfeng commented on #1994
The 2 BWC test failure might caused by temporary network issue.
[code]

[2022-01-27 19:01] owaiskazi19 commented on #1957
Hey @jainankitk! I spent some time on the bug and it was mostly related to adding timeout to ensureGreen function for nodes to get available. I raised a PR for the same and it's merged now.

[2022-01-27 19:04] tlfeng commented on #1994
The unused import `import·org.apache.lucene.index.LogByteSizeMergePolicy` has been removed by PR https://github.com/opensearch-project/OpenSearch/pull/1983. That import seems a leftover for the PR https://github.com/opensearch-project/OpenSearch/pull/1761

[2022-01-27 19:04] #1994 closed

[2022-01-27 19:06] Bukhtawar opened #2000 "[BUG] Faster search queries might see a timeout discrepancy in search response due to cached time"
**Describe the bug**
With search timeout set to 200ms user can end up seeing a response below which seems inconsistent since the timeout itself was set at 200ms and there would possibly be no way the `took` time is below the time out and yet the query times out

[code]

The major issue could be wrong timeouts being enforced either pre-mature or too late based on the estimated time intervals. For e

[2022-01-27 20:10] LuigiCerone commented on #1052
As suggested by @reta in this [comment](https://github.com/opensearch-project/OpenSearch/issues/1990#issuecomment-1023345712) I'm adding a comment to this  discussion.

It would be very useful to have a way to limit search to a particular tier or tiers (hot/warm/cold) with a filter in the query like the [elastic _tier](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-tier-fi

[2022-01-27 20:11] LuigiCerone commented on #1990
Closing in favour of #1052, thanks :)

[2022-01-27 20:11] #1990 closed

[2022-01-27 21:02] jainankitk commented on #1957
Thank you, appreciate that!

[2022-01-27 21:52] dreamer-89 opened #2002 "RestSearchTemplateAction"

[2022-01-27 21:55] penghuo commented on #1998
The root cause of the issue is InternalBucket does not use MissingOrders. In bucket reduce phase, null bucket's order is less than others.
The test cases not always fail because the bug in bucket reduce phase which required at least 2 shards.
I am preparing PR now, will publish soon.

[2022-01-27 22:11] dreamer-89 opened #2003 "MultiSearchTemplateAction"

[2022-01-27 22:11] dreamer-89 opened #2004 "RestDeleteByQueryAction"

[2022-01-28 10:29] Chetan11-dev opened #2006 "Which is better ElasticSearch or OpenSearch?"
For creating an ecommerce application is opensearch better?

[2022-01-28 18:34] dreamer-89 opened #2010 "RestIndexAction"

[2022-01-28 20:19] RajivTaori commented on #1976
This should probably be filed for Data Prepper, since this is referring to a logstash filter plugin

[2022-01-28 20:44] dlvenable commented on #1976
This is different from Data Prepper. The Logstash Elasticsearch filter plugin will make a query to Elasticsearch and update the current event in Logstash with data from Elasticsearch.

I believe the ask here is to create and support an OpenSearch filter plugin for Logstash.

[2022-01-28 20:51] prashanttct07 commented on #1976
yes this is write David, ask is to find/write an alternative of elasticsearch filter for logstash in opensearch.

[2022-01-28 20:52] vinaymaddi1269 commented on #1976
Thats correct

[2022-01-28 20:56] dlvenable commented on #1976
Thank you for the clarification. I created https://github.com/opensearch-project/data-prepper/issues/953 to see if something like this would be useful within Data Prepper.

[2022-01-29 00:59] opensearch-ci-bot opened #2011 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2122 in gradle_check log for more information.

[2022-01-29 03:00] jkowall commented on #2006
It really depends on whether you want something open source or not. Functionality wise, they are very close to one another. If you provide more details on the application you are trying to make, I would be happy to provide more details.

[2022-01-29 17:46] dreamer-89 commented on #1957
Another occurrence : https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2122/artifact/gradle_check_2122.log

[code]

[2022-01-29 17:52] dreamer-89 commented on #1957
Another occurrence:
https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2124/artifact/gradle_check_2124.log

[2022-01-29 17:53] dreamer-89 opened #2012 "CompositeAggregatorTests.testWithKeywordLongAndMissingBucket test failure"
Assertion failure on bucket size
[code]

Gradle log: https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2122/artifact/gradle_check_2122.log

[2022-01-30 12:42] jayeshathila commented on #1319
As of now `translog.add(..)` happens in the same flow of indexing the doc - [here](https://github.com/opensearch-project/OpenSearch/blob/0791c88af1bee78dee60902c1d5f1346d5d64517/server/src/main/java/org/opensearch/index/engine/InternalEngine.java#L1072) .

Do we want to provide control over when to add to translog ? If yes, we can provide functionality to register custom listeners which will be ca

[2022-01-30 16:22] Bukhtawar commented on #1319
@jayeshathila I have updated the the sequence diagram for translog interaction, for better understanding of the existing system, would recommend you go through the same

[2022-01-30 20:27] meghasaik commented on #1661
Thank you Bukhtawar for specifying this out. As mentioned, this can be a meta issue where it can be broken into two parts of:
1. Investigating and figuring out how the segment memory is computed and what is causing the segment memory failure during its computation.
2. Through the token bucket code snippet provided,  fixing up the durability part.

[2022-01-31 02:32] dblock opened #2013 "[BUG] Version increment workflow was not triggered"
**Describe the bug**

Version increment workflow introduced in #1816 was not triggered. An identical workflow was triggered in common-utils (https://github.com/opensearch-project/common-utils/actions/workflows/version.yml, https://github.com/opensearch-project/common-utils/actions/runs/1741497956), but wasn't in OpenSearch and job-scheduler either.

**Expected behavior**

Auto-increment workflows

[2022-01-31 02:35] dblock commented on #2013
@downsrob @saratvemulapalli @peterzhuamazon How did you create https://github.com/opensearch-project/job-scheduler/releases/tag/1.2.4.0 vs. https://github.com/opensearch-project/OpenSearch/releases/tag/1.2.4 vs. https://github.com/opensearch-project/common-utils/releases/tag/1.2.4.0?

[2022-01-31 04:21] dreamer-89 opened #2014 "RestMultiGetAction"

[2022-01-31 06:26] ayaranga opened #2015 "Alias support for data streams"
**Is your feature request related to a problem? Please describe.**
Currently in OpenSearch, aliases can only refer to indices. This issue is about extending that ability to data streams.

**Describe the solution you'd like**
Elasticsearch supports adding alias to data streams. Please look at https://github.com/elastic/elasticsearch/issues/66163. Ask is to support the same in OpenSearch.

**Describ

[2022-01-31 13:28] opensearch-ci-bot opened #2016 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2133 in gradle_check log for more information.

[2022-01-31 15:41] CEHENKLE commented on #2006
Hi @Chetan11-dev Well, this is the OpenSearch project, so we're probably a little biased over here :)

I'd suggest you take a look at the getting started documentation for OpenSearch and for Elastic, download them both and try them out.  You could also ask in the forums what people's experience are with each product.

Thanks!
/C

[2022-01-31 15:41] #2006 closed

[2022-01-31 17:29] samuel-oci commented on #1854
Hey @stockholmux @jcgraybill I added this as an agenda item in the next meeting:
https://hackmd.io/@HmdZWaVnQU6M8icdvC5TwQ/ByKuRz8hK

[2022-01-31 18:22] owaiskazi19 commented on #1957
Looks like the above mentioned commit wasn’t rebased with the latest `main`.

[2022-01-31 18:41] anders-swanson opened #2017 "Support migrating indexes to data streams."
**Is your feature request related to a problem? Please describe.**
OpenSearch supports both indexes and data streams. It would be good for users of an OpenSearch cluster to be able to seamlessly migrate their existing indexes to data stream.

**Describe the solution you'd like**
An API under _data_stream (.e.g., _data_stream/_migrate), that accepts a POST of the indexes to migrate to data streams.

[2022-01-31 20:49] saratvemulapalli opened #2019 "Add transport support to connect with an extension"
Transport Service with OpenSearch by default supports connecting to different nodes on the cluster.
Extend this mechanism to connect to an independent plugin running on the system.

TransportService connects to different nodes via DiscoveryNode.
We might have to implement something similar for a plugin.

- [x] TransportService exposing an interface to connect to an extension
- [x] Send a connectio

[2022-01-31 20:57] owaiskazi19 opened #2020 "POC: Add transport support to connect with opensearch service for SDK"
**Is your feature request related to a problem? Please describe.**
Based on https://github.com/opensearch-project/OpenSearch/issues/2019. Need to create a TransportService for SDK to interact with OpenSearch and extension and have a communication method to get discovered.

- [x] Remove exceptions for integrating Transport Service
- [x] Bind Server to a port and an ip
- [x] Remove dependencies for

[2022-01-31 21:27] ict-one-nl opened #2022 "[BUG] Restoring snapshot failes with security_exception"
**Describe the bug**
I'm using the S3 repository plugin to store snapshots. I've have tested this previously with the same scripting, but now I can't restore snapshots anymore. Don't know the exact cause, two things have changed: I have moved to 1.2.4 (tested it with 1.1 I think).

The strange thing is, I can list all the snapshots, I can create snapshots, I just can't restore them. I'm not includ

[2022-01-31 22:12] reta opened #2023 "[BUG] Docker distribution builds are failing"
**Describe the bug**

Docker distribution builds are failing across the board [1]

[code]

It seems like Centos 8, which we use for building Docker images is EOLed [3]. The workarounds for now are
a) use http://vault.centos.org for repositories
b)  migrate from CentOS Linux 8 to CentOS Stream 8.
In the long term, we probably should change the base image.

[1] https://ci.opensearch.org/logs/ci/work

[2022-01-31 22:39] ict-one-nl commented on #2022
Okay, this is strange, when I deliberately use an user with insufficient rights to list snapshots:

[code]

While with the admin user restoring snapshots:

[code]

Shouldnt the manage_snapshots be listed in the bold part?

[2022-02-01 08:19] andreaAlkalay commented on #1018
Hi,
Do you know when can we expect to have the new flattened type implemented?
It is very crucial for our business scenario.
Thanks,
Andrea.

[2022-02-01 14:40] ict-one-nl commented on #2022
okay, it's getting very strange:

restoring with:

[code]
Gives:
[code]
Array gives different result:
[code]

gives:

[code]

Deleting Kibana indexes:
DELETE .kibana*

[code]

Result OK?!

[code]
1. Why does array give a different result as string?
2. I'm excluding the .kibana_1 index from the restore, but still it's trying to restore it? Is it ignore

[2022-02-01 15:58] dblock commented on #1833
I don't think anyone is looking at this, appreciate if someone/you could.

[2022-02-01 16:06] dblock commented on #1580
The client is unaware of OpenSearch 1.0 it looks like. I think you will need to set `override_main_response_version` to return a 7.x version from OpenSearch if you want to use this version, https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/. I'll close this issue, but please comment/reopen if you're still having issues.

[2022-02-01 17:51] AnanthGopal commented on #2023
I got the same error, i fixed this error by using below link

https://stackoverflow.com/questions/70926799/centos-through-vm-no-urls-in-mirrorlist

[2022-02-01 18:31] dreamer-89 opened #2028 "RestUpdateAction"

[2022-02-01 18:37] jayeshathila commented on #1319
Will this `Path` mentioned in `TranslogDurabilityExtension` (LLD diagram above) , work generically accross different Stores. For say, do we want to use the same `Path` for S3 files as well ?

I know this Path have method to map a URI `public static Path of(URI uri)` but not sure if  it will work for all the remote filesystems.

[2022-02-01 18:40] jayeshathila commented on #1319
For my understanding, who (which class) will be caller to `loadExtenstions(Class<T>)` ?

[2022-02-01 18:42] #2023 closed

[2022-02-01 18:50] setiah commented on #1633
Hi @opensearch-project/security team, could someone please review these changes

[2022-02-01 19:44] anasalkouz commented on #1992
Related Issue: https://github.com/opensearch-project/opensearch/issues/1651

[2022-02-01 19:58] saratvemulapalli commented on #2013
@dblock I manually created the release, the tag did already exist. Just used the github release drafter to release it.

[2022-02-01 20:32] nknize commented on #1940
We may want to convert this to a meta issue. This is a biggie, especially for bwc testing. If we try to remove everything there's a possibility of it not being completed in time for 2.0. Types is already deprecated so I don't think we need to make it a blocker for 2.0; we should be able to continue during the 2.x line.

[2022-02-01 20:34] dblock commented on #1483
Let's start by implementing a backwards-compatible change and we can decide the deprecation separately.

[2022-02-01 20:37] dblock commented on #1932
I'm moving this to https://github.com/opensearch-project/project-website since that's where we should publish this.

[2022-02-01 20:42] dblock commented on #1777
Does node1 start successfully? @mohdaliiqbal @kid1412621 Care to confirm?

The error from above says that node2 cannot find `opensearch-node1`.

[2022-02-01 22:02] dreamer-89 opened #2032 "RestDeleteAction"

[2022-02-02 03:32] saratvemulapalli commented on #1957
Another failure after main is rebased: https://github.com/opensearch-project/OpenSearch/pull/2033

[2022-02-02 04:39] sachinpkale opened #2034 "POC: Upload segments to remote segment store"
Before finalizing design for the [remote storage options ](https://github.com/opensearch-project/OpenSearch/issues/1968), we want to perform some POCs. These POCs will help understand feasibility of some considerations that are mentioned in the feature proposal.

This is the first POC in the series and will focus on uploading segment files to the remote storage.

#### Goals

1. Identify segment fi

[2022-02-02 05:07] sachinpkale commented on #2034
#### Identify segment files to upload
##### What are the files that constitute a segment and needs to be uploaded to the remote storage?
- As explained in Lucene  [documentation](https://lucene.apache.org/core/5_1_0/core/org/apache/lucene/codecs/lucene50/package-summary.html#file-names), each segment maintains a bunch of files.
- As OpenSearch uses default compound file format, each segment contai

[2022-02-02 08:13] sachinpkale commented on #2034
Initial commit: https://github.com/sachinpkale/OpenSearch/commit/befeb345ea66485dc6cb7d8a577cc8796d1d93ee

This commit does the following:
1. In `flush` flow, after Lucene commit is called and Before delete on old translog is called, newly created segments are uploaded to S3.
2. Keeps track of segment files uploaded so that only newly created files are uploaded again.
3. Failures are propogate to

[2022-02-02 12:18] AmiStrn opened #2036 "[BUG] Discrepancy in result from _validate/query API and actual query validity"
**Describe the bug**
When validating a query using the _validate, and the query has both: allow_leading_wildcard = `false` AND a range filter in the boolean query - the result is valid - even if there is a leading wildcard present in the query.

**To Reproduce**
Steps to reproduce the behavior:
1. send the following request to a relevant index:
url: `localhost:9200/my-index/_validate/query`
body:

[2022-02-02 12:19] AmiStrn commented on #2036
@MarinaRazumovsky let me know if there is anything I should add here to the bug you found

[2022-02-02 15:33] dblock commented on #1108
@fandigunawan The original issue is that you would see this message a ton of times. This was fixed in https://github.com/opensearch-project/OpenSearch/pull/1537. Are you still seeing this log many times in 1.2.3?

[2022-02-02 16:04] dblock commented on #1968
This is a good proposal 👍 I understand the limitations of the existing system (translog, then Lucene), but if we're talking potential redesign I would at least try to step back and think bigger.

The three features I think I'd really enjoy are 1) use S3 as my only store, 2) the ability to have multiple nodes use the same store, 3) the ability to specify durability requirements per write.

Longer v

[2022-02-02 16:21] dblock commented on #1928
@ankitkala What remains to be done here? Document? Close?

[2022-02-02 16:22] dblock commented on #420
Closing. Reopen if this isn't finished.

[2022-02-02 16:22] #420 closed

[2022-02-02 16:36] kwebergithub commented on #1893
Thanks for the feedback. We are working with the span query, but the approach involves parsing the user query using ANTLR with what could be a never-ending amount of support/testing given the number of combinations of user inputs.

As mentioned earlier this capability is critical in the legal space. The industry leader dtSearch had this functionality “out of the box”. I think the demand for this f

[2022-02-02 16:43] dblock commented on #1329
This is a good proposal 👍. Resource consumption is great, but it's a lot of work, so I would in parallel consider simpler approaches.

- hard limit on number of items in the search queue (exists today) cancels existing queued items (if queue is full, flush it, cancel existing requests, cool down)
- general resource consumption (e.g. cancel all existing operations and cool down if overall CPU is to

[2022-02-02 16:51] dblock commented on #1711
How do you use this today (when do you match on query body)? How would a uuid make that easier?

The details provided seem to be an ordered list. So if "key" was 1, 2, 3, would it be the same or different from a uuid? Note that a summary could easily have a key of 1, 2, 3, .....

[2022-02-02 16:54] dblock commented on #1960
@AlanYuXuan I am personally not against supporting both GET and POST for the same queries, but you should be able to keep-alive on GETs too. Are you seeing different headers in one vs. the other? Is the client library you're using configured not to keep-alive on GET?

[2022-02-02 16:59] dblock commented on #1133
OpenSearch forked at 7.10.2, so anything added in OpenSearch or ES since then is likely different.

[2022-02-02 17:02] dblock commented on #1965
@saratvemulapalli Did we introduce a regression we didn't want to in https://github.com/opensearch-project/OpenSearch/pull/656?

[2022-02-02 17:06] dblock commented on #1689
That seems like a high jump. A third of users in https://discuss.opendistrocommunity.dev/t/poll-which-version-of-java-do-you-use-with-opensearch/8189 are saying they use 11, and I wonder whether it's just because it's LTS or something else.

[2022-02-02 17:11] reta commented on #1689
@dblock I believe because of LTS, right. The move from JDK-11 to JDK-17 should be super smooth, essentially - there are no reasons to stay on JDK-11 (for the vast majority of deployments).

[2022-02-02 17:18] jcgraybill commented on #1689
The supported lifecycle of 17 is a compelling reason to adopt it for OpenSearch 1.x, in my eyes. I think we should benchmark and understand what it would take to move the minimum and recommended version to 17, and only consider dropping one of those to 8 or 11 if we identify a big obstacle.

[2022-02-02 17:22] saratvemulapalli commented on #1846
Another occurrence: https://github.com/opensearch-project/OpenSearch/pull/2037

[2022-02-02 17:36] reta commented on #1689
@jcgraybill it has been started already here https://github.com/opensearch-project/OpenSearch/issues/1276

[2022-02-02 17:38] reta commented on #1689
But JDK-8 is out of question if we want to move on with Apache Lucene 9.x, JDK-11 is a minimum requirement

[2022-02-02 17:47] owaiskazi19 commented on #1957
@jainankitk what do you think about increasing the timeout to 120 here: https://github.com/opensearch-project/OpenSearch/blob/main/server/src/test/java/org/opensearch/cluster/routing/MovePrimaryFirstTests.java#L116? Looks like test is failing for 60.

[2022-02-02 17:59] dblock commented on #1707
hot-swap of plugins is on the radar of @saratvemulapalli

[2022-02-02 18:03] dblock commented on #1991
From a cursory review of [the PR in ES](https://github.com/elastic/elasticsearch/pull/80208) it looks like a no-regret decision to merge. It seems to re-add support for negative `epoch_millis` without breaking anything. Or at least I do not see what it could break immediately. If you want to redo the PR here, let's have another pair of eyes (@andrross) and go for it.

[2022-02-02 18:07] lrynek commented on #1133
@dblock Thanks for explaining! 👍

[2022-02-02 18:32] dblock commented on #1899
With https://github.com/opensearch-project/OpenSearch/pull/1942 should this be closed? What's left?

[2022-02-02 18:34] dblock commented on #2000
So in this case is the value of "took" plain incorrect?

[2022-02-02 18:42] dblock commented on #1996
Let's not create individual issues for each one of these, it's hard to grok from the issue what needs to be done. The parent is plenty to track progress and PRs can just link back to it and we can check [x] boxes here once they are merged?

[2022-02-02 18:45] lukas-vlcek opened #2039 "[BUG][JavaDoc] org.opensearch.plugins package JavaDoc is missing classes"
**Describe the bug**

JavaDoc for [org.opensearch.plugins](https://opensearch.org/javadocs/1.2.4/OpenSearch/distribution/tools/plugin-cli/build/docs/javadoc/org/opensearch/plugins/package-summary.html) package is missing classes.

As of writing there are only two classes listed (PluginCli, PluginHelper), however the package contains at least six classes, see <https://github.com/opensearch-project/

[2022-02-02 18:45] lukas-vlcek opened #11336 "[BUG][JavaDoc] org.opensearch.plugins package JavaDoc is missing classes"
**Describe the bug**

JavaDoc for [org.opensearch.plugins](https://opensearch.org/javadocs/1.2.4/OpenSearch/distribution/tools/plugin-cli/build/docs/javadoc/org/opensearch/plugins/package-summary.html) package is missing classes.

As of writing there are only two classes listed (PluginCli, PluginHelper), however the package contains at least six classes, see <https://github.com/opensearch-project/

[2022-02-02 18:45] Bukhtawar commented on #2000
@dblock there are two problems
1. Premature or too relaxed timeouts, requested timeout of 200ms would kick in at 0ms or 400ms worst case
2. Took time can be off by 200ms irrespective
due to the relative times being cached at 200ms

[2022-02-02 18:46] dblock commented on #2017
What's the current workaround using client-side tools?

[2022-02-02 18:53] dblock commented on #2022
@anirudha maybe you can help with this?

[2022-02-02 18:54] dblock commented on #1018
@andreaAlkalay @abhishek-v it's not on any roadmap today, but we would gladly accept a PR

[2022-02-02 18:56] penghuo commented on #1899
I will post another PR for back porting to 1.x. We are good to close this issue now.

[2022-02-02 19:02] andrross commented on #1957
Another failure here: https://github.com/opensearch-project/OpenSearch/pull/1917#issuecomment-1028229696

[2022-02-02 19:03] saratvemulapalli commented on #1828
Similar failure: https://github.com/opensearch-project/OpenSearch/pull/2037

[2022-02-02 19:04] dblock commented on #2013
@abhinavGupta16 Did you create tags manually for 1.2.4?

[2022-02-02 19:04] andrross commented on #1991
I agree. I don't see any reason not to fix this.

[2022-02-02 19:14] setiah commented on #1633
and in a container (and also in general?) you don't want some script to suddenly update your application configuration - this should be baked into the image, with the relevant parts being exposed as parameters (usually ENV variables) or read from externally mounted files.

To add a bit more clarity for how it works in containers - Certificates are stored in [docker volume](https://docs.docker.com/

[2022-02-02 19:24] dblock commented on #2000
Caching time at any rate seems problematic. There must be a good reason that was introduced at all though?

[2022-02-02 19:41] jainankitk commented on #1957
Taking a look

[2022-02-02 19:48] abhinavGupta16 commented on #2013
No, we used https://github.com/opensearch-project/opensearch-build/issues/378#issuecomment-999700848 script to create tags for 1.2.4

@peterzhuamazon

[2022-02-02 19:49] abhinavGupta16 commented on #2013
No, we used https://github.com/opensearch-project/opensearch-build/issues/378#issuecomment-999700848 script to create tags for 1.2.4

cc - @peterzhuamazon

[2022-02-02 20:00] lukas-vlcek opened #2041 "Add URL option to InstallPluginCommand help instructions"
**Is your feature request related to a problem? Please describe.**
The `InstallPluginCommand` tool does not let user know they can use URL as an option to install the plugin from.

**Describe the solution you'd like**
1. Improve the output of `./bin/opensearch-plugin install --help` accordingly
2. Improve the online documentation as well (see below for details)

**Describe alternatives you've cons

[2022-02-02 20:24] peterzhuamazon opened #2043 "[Enhancement] Allow"
Our current plan of RPM is built based on the tarball artifacts.
Therefore, when running OpenSearch after installing RPM and run the service, the `build_type` still show as `tar`.

[code]

We would like to have an option specified during gradle build, to change this type value to something like `rpm`, `deb` or others, so that we can build a tarball artifact that has `"build_type" : "rpm", then we

[2022-02-02 21:01] dblock commented on #2043
This is similar to the problem that this JSON returns the version of `-min`, not the version of the distribution.

[2022-02-02 21:18] reta commented on #2034
@sachinpkale what happens during merges? (fe force merge) the segments should be replaced in the segment store, right?

[2022-02-03 00:26] anasalkouz commented on #1940
@nknize my understanding that removing mapping types is breaking changes and we should target a major a release. Otherwise, we can target any minor release.

[2022-02-03 00:42] tlfeng opened #2046 "[CI] Test failure in "org.opensearch.cluster.coordination.Zen1IT > testZen2NodesJoiningZen1Cluster""
**Describe the bug**
It's a flaky test failure found in CI, and not reproducible locally.
First found in the issue https://github.com/opensearch-project/OpenSearch/pull/2045#issuecomment-1028478639
The code located in:
https://github.com/opensearch-project/OpenSearch/blob/8725061c15fac70a81d144ed2d79b09f5e1a2f7f/server/src/internalClusterTest/java/org/opensearch/cluster/coordination/Zen1IT.java#L1

[2022-02-03 01:59] dblock commented on #1689
@martin-gaievski Anything left here? Can we close?

[2022-02-03 02:31] jainankitk commented on #1957
The issue is caused due to one of the primary shard being initialized and some replica starts meanwhile. Hence, latch is counted down as half shards are already initialized. Making the check more robust by ensuring no primaries are initializing and not more than 20% of replicas have started on new nodes

[2022-02-03 04:06] sachinpkale commented on #2034
Yes, the new segment created by merge will be added and the original segments used in merge will be marked for deletion. We may not delete them immediately.

[2022-02-03 05:00] sachinpkale commented on #2034
I have updated the `What is missing` part in the [initial commit](https://github.com/opensearch-project/OpenSearch/issues/2034#issuecomment-1027683379) with segment merges.

[2022-02-03 07:48] Bukhtawar commented on #2000
I think the System#nanoTime is a slightly expensive system call and probably long running queries could live with the inaccuracy, thats my understanding of the motivation behind the cache.

[2022-02-03 08:27] lrynek commented on #1711
@dblock the problem is that it is not always present on the same level of the `details`, so it doesn't matter the order as the position of the actual `value` vary depending on the computation and the type of function at hand. I recursively go deeper on that `_explanation` array in PHP and try to determine by the description that the assigned value is the one I'm looking for.
With uuid or any other

[2022-02-03 08:27] lrynek commented on #1711
@dblock the problem is that it's not always present on the same level of the `details`, so it doesn't matter the order as the position of the actual `value` vary depending on the computation and the type of function at hand. I recursively go deeper on that `_explanation` array in PHP and try to determine by the description that the assigned value is the one I'm looking for.
With uuid or any other

[2022-02-03 13:10] sachinpkale commented on #2034
Current change uploads from primary as well as replica. The upload should happen only from the primary. Added in next steps.

[2022-02-03 17:25] dblock commented on #1711
@lrynek thanks

Feels like `explanation` should always contain the exact same amount of detail as the number of queries you're trying to explain. In your example you ask to explain 2 functions and the return is an array of 2 items, isn't it? Do you have an example when is it not the case and is that a bug?

I am not against adding a key, but that is an API change and still feels redundant to me.

[2022-02-03 17:43] kNav008 commented on #1926
Description:
=========
Architecture as below:
spring-boot-starter-data-elasticsearch:2.6.2
version.elasticsearch-client=7.15.2
version.Opensearch-domain=1.1

Connection failing as expected with error as below :
version : opensearch 1.1
error: nested exception is ElasticsearchException[Invalid or missing tagline [The OpenSearch Project: https://opensearch.org/]]"}

After the suggested workaround to

[2022-02-03 18:38] dreamer-89 commented on #1992
Looking into it

[2022-02-03 18:50] dblock commented on #1926
I am afraid the best path forward is to fork spring-boot-starter-data-elasticsearch and client that don't have client-side version checks.

[2022-02-03 19:58] Bukhtawar commented on #2000
No. System.currentTimeMillis is based on physical clock time that can give negative deltas if clocks go back due to NTP.  System.nanoTime uses a monotonically increasing time which is the right choice for measuring elapsed times

[2022-02-03 20:21] owaiskazi19 commented on #2046
Backport pending for https://github.com/opensearch-project/OpenSearch/pull/1216. Zen1 directory is already removed on `main`.

[2022-02-03 20:33] reta commented on #2000
Agree with @Bukhtawar, `nanoTime` is the best option in this case, the larger essay on the subject [1], highly recommend it.  Thinking about loud, setting `thread_pool.estimated_time_interval` to `-1` should disable time caching altogether, correct?

[1] https://shipilev.net/blog/2014/nanotrusting-nanotime/#_building_performance_models

[2022-02-03 23:00] dblock commented on #2000
Yes, of course. I should have read the documentation.

[2022-02-03 23:33] mattweber opened #2053 "Expose Lucene's `Intervals.unorderedNoOverlaps`"
Expose Lucene's `Intervals.unorderedNoOverlaps` from [LUCENE-8828](https://issues.apache.org/jira/browse/LUCENE-8828) which is useful to prevent overlapping issues such as `NEAR(a, a)` matching a document containing a single `a`.

I will do the work required for this change.

[2022-02-04 00:29] lrynek commented on #1711
@dblock Yes, I know but I don't mean the order or the top level number of functions and their respective results but the fact that the computed value sometimes can be present on the deeper level of the tree within one of those two example outputs.
It is due to having or not having `weight` param within the function definition.

Here is a sample PHP code for the lookup I mean (as for the sake of si

[2022-02-04 04:15] shatp opened #2054 "[BUG] Slow query logs contain null date range"
**Describe the bug**
Looking at the slow query logs from OpenSearch, we see that the range -> from/to values are null when queries are run from Quick select of Discover Tab.

**To Reproduce**
Steps to reproduce the behavior:
1. I replicated the setup with search slow logs with version Amazon ES7.9.
2. Created an index with slow logs threshold defined as 0s (this setting is only for testing purpose

[2022-02-04 06:18] sachinpkale commented on #2034
@CEHENKLE Please create a feature branch `feature/durability-enhancements` which will be used to run full test suite.

[2022-02-04 10:29] pietrogu commented on #1967
Yes it seems to work in OpenSearch: if I implement geoip in a pipeline most of the time the localization is provided, but in my understanding it is not possible for now to update the database over time: the only way should be to shutdown the cluster first (and in a production environment is not a good solution due to downtime)

[2022-02-04 16:05] Shashwat-05 commented on #2023
Centos is end of life from 31 dec, 2021. So instead, centos:7 can be used.

[2022-02-04 16:23] #1767 closed

[2022-02-04 16:31] reta commented on #1767
How to reproduce:
1. Use JDK-17
2. Use sample payload
[code]
3.

[2022-02-04 17:08] CEHENKLE commented on #2034
Done.  https://github.com/opensearch-project/OpenSearch/tree/feature/durability-enhancements

[2022-02-05 03:04] vishalsrao opened #2059 "[BUG]"
I get an error saying "no handler found for uri [/_plugins/_knn/models/_train/my-model?pretty=true] and method [POST]"
when I try to train a knn model as described in https://opensearch.org/docs/latest/search-plugins/knn/approximate-knn/
[code]

[2022-02-06 10:18] opensearch-ci-bot opened #2060 "Jenkins Randomized Gradle Check Failed on 0f12b993c0f875817bc7aae085e26a4677460a03"
@opensearch-project/opensearch-core team, please take a look at Build 2249 in gradle_check log for more information.

[2022-02-06 12:34] willyborankin opened #2061 "[BUG] Integration tests fail on Linux kernel version 5.16.x"
**Describe the bug**
The new Kernel version 2.16.x has 5 properties in the file `/sys/fs/cgroup/cpu/cpu.stat`
as result integration tests fail due to the fact that `OsProbe` class in the method `readSysFsCgroupCpuAcctCpuStat` has such assert:

[code]

**To Reproduce**
[code]
for any plugin which has integration tests

**Expected behavior**
Working integration tests

**Host/Environment (please comp

[2022-02-06 14:53] willyborankin commented on #2061
There are 2 possible solutions t fix this issue:
- just use such assert like it was done in other `OsProbe` methods:
[code]
- add logging to `OsProbe` and log a warning message for missing `cgroups` CPU stats

[2022-02-06 19:04] asafm commented on #1968
I like the idea of this proposal and how it might lead us, as @dblock mentioned, to be able to query data directly from S3 (with caching on local disk if needed).
My biggest concern here is the ingest performance when using remote translog - say S3. At the end of the day, as you said, you have one thread, taking buffered writes and writing them now to S3 instead of local SSD. If those writes, happ

[2022-02-07 08:29] Bukhtawar commented on #1968
@asafm Yes there are trade-offs and we are working on clearly documenting them for eg with remote store you don't need to replicate operations to replica for segment based replication and document based replication where a high search availability isn't needed(you can achieve high throughput with just replicating to remote store)

With remote store we need to ensure it meets the availability, cons

[2022-02-07 10:13] sachinpkale commented on #2034
Pushed commit to upload segments only from primary: [commit](https://github.com/sachinpkale/OpenSearch/commit/9bd33ab0471f59722fc1faa7ce51d63363238d08)

Next Steps:

1. Correctness check for uploaded files using checksum
2. Performance tests

[2022-02-07 13:19] asafm commented on #1968
I mean other databases that use Remote Storage for WAL

[2022-02-07 13:44] dblock commented on #2061
Would appreciate a PR @willyborankin ! Thanks.

[2022-02-07 14:18] dblock opened #2062 "[BUG] org.opensearch.discovery.SnapshotDisruptionIT.testDisruptionAfterShardFinalization intermittent failure"
[code]

https://github.com/opensearch-project/OpenSearch/pull/1268#issuecomment-1031515272

[2022-02-07 14:25] dblock commented on #2061
I don't know what those additional stat fields are to say for sure, but if you think that's useful and easy to do, go for it.

[2022-02-07 15:03] dblock commented on #1872
@chaitrahegde115 original issue was as follows

**Describe the bug**
I am using Opensearch-1.2.3 tar which ships Java 15 with it. But I want to use Java 11. So I referred [Compatibility - OpenSearch](https://opensearch.org/docs/latest/opensearch/install/compatibility/) documentation which stated to “_set OPENSEARCH_JAVA_HOME environment variable to the Java install location_” . I tried it but Open

[2022-02-07 16:03] willyborankin commented on #2061
Sorry for the inconvenience, should've added description or the new properties in the beginning. There are 2 new properties were added:
- `nr_bursts`  - the number of CPU bursts triggered by the child cgroup
- `burst_time` - the cumulative length of CPU burst time for the child cgroup

[2022-02-07 18:29] nknize opened #2063 "[Meta] Lucene 9 Upgrade Punch List"
The following outstanding (and currently muted) test failures still need to be addressed as part of the Lucene 9 upgrade:

- [x] PluginsServiceTests failures due to `AccessControlException`
- [x] CustomUnifiedHighlighterTests
- [x] HighlighterWithAnalyzersTests.testPhrasePrefix
- [x] ChildQuerySearchIT.testHighlightersIgnoreParentChild
- [x] HighlighterSearchIT failures
- [x] IndexShardHotspotTest

[2022-02-07 18:32] #1570 closed

[2022-02-07 20:23] reta commented on #1872
@dblock could you please add this one as well https://github.com/opensearch-project/performance-analyzer-rca/issues/127

[2022-02-07 21:22] dblock opened #2064 "[BUG] org.opensearch.repositories.s3.RepositoryS3ClientYamlTestSuiteIT intermittent failure"
**Describe the bug**

[code]

Coming from https://github.com/opensearch-project/OpenSearch/pull/1917#issuecomment-1028468798

[2022-02-07 21:28] piyushdaftary commented on #1242
Is someone already working on the optimization? If not I can pick it up or collaborate.

[2022-02-07 23:17] piyushdaftary commented on #1788
Using the get snapshots API can be expensive as the API requires a read from repository for each index/shards in each snapshot.

Here the main problem I do see with long running  get snapshots call is that it is blocking threads of `GENERIC` threadpool which in cascade impacting other functionality of OpenSearch cluster.

In my opinion to address the issue we should explore following 3 options:
1.

[2022-02-08 00:13] saratvemulapalli commented on #1965
From what I understand, looks like it. OpenSearch is taken care of cleanly on the server but the client doesn't handle it.

[2022-02-08 04:47] piyushdaftary opened #2066 "Shard level restore from snapshots"
**Is your feature request related to a problem? Please describe.**
Currently OpenSearch supports only upto index level granularity while trying to restore from snapshots.
So by default even if user want to restore data of only singe shard which has gone bad (corrupt/unassigned), user need to restore whole index. Which is time consuming as well as extra resource consuming.

**Describe the solution

[2022-02-08 15:22] reta commented on #979
@xuezhou25  @dblock the distribution tests cover this particular functionality pretty well but we don't run them now, see please [1]

[1] https://github.com/opensearch-project/opensearch-build/issues/1572

[2022-02-08 16:17] samuel-oci commented on #1854
Hey @anirudha @stockholmux @jcgraybill @dblock just trying to bring this back on your radar. Any thoughts on how you would like to proceed on this one?

[2022-02-08 16:48] dblock commented on #1854
@samuel-oci This is what I would do:

1. Publish code in a new repo anywhere to GitHub with an APLv2 license. Is it somewhere already?
2. Open an issue  in that repo similar to https://github.com/opensearch-project/opensearch-plugin-template-java/issues/4 to move the repo to the opensearch-project organization if that's your preferred next step. We will have something actionable and can discuss it

[2022-02-08 17:20] dreamer-89 commented on #1992
Hi @gplechuck:

Thanks for taking time and raising this issue.

I followed repro steps mentioned in description but was not able to reproduce the issue on my mac OS with latest changes from OpenSearch and OpenSearch-build repo.
[code]

I have below follow up questions to ensure I understand this issue correctly. In order to do this, I need some more data on the issue.

Can you please share the end

[2022-02-08 19:10] anasalkouz commented on #1976
@dlvenable Shall we close this one on behalf of https://github.com/opensearch-project/data-prepper/issues/953?

[2022-02-08 19:41] dlvenable commented on #1976
@anasalkouz , No. This issue should stay open because the requestor is asking for a new Logstash plugin. Data Prepper is a distinct tool from Logstash.

[2022-02-08 19:43] anasalkouz commented on #1976
@elfisher can you please look into this and decide the next step?

[2022-02-08 19:44] CEHENKLE opened #2070 "remove "blank issue" from options"
**Is your feature request related to a problem? Please describe.**
When folks create an issue using the "not seeing your issue?  Create a blank issue" option.  When this happens, the triage label isn't applied, which means we don't see the issue in our triage meeting.

**Describe the solution you'd like**
Remove the option to create a blank issue by setting blank_issues_enabled to false, per https

[2022-02-08 19:53] CEHENKLE commented on #2041
@lukas-vlcek Thanks for this call out! :)

[2022-02-08 19:54] CEHENKLE commented on #2053
@mattweber Thanks, this is a great idea.  Look forward to seeing the PR!

[2022-02-08 20:40] windbeneathyourwings opened #2072 "Create instasearch.js adaptor"
Hello,

I think it would be pretty cool to be able to use Agnolia Instasearch.js with Open Search. The only low cost alternative that exist at the moment is typesense. The typesense adaptor could be used as reference to create the open search adaptor.

Agnolia Instasearch

https://www.algolia.com/doc/

Typesense adaptor

https://github.com/typesense/typesense-instantsearch-adapter

[2022-02-08 21:25] elfisher commented on #1976
Is this the same as as the input plugin for logstash? https://github.com/opensearch-project/opensearch-plugins/issues/121

[2022-02-08 21:27] davidlago commented on #1674
We depend on the `TransportClient` in the security plugin. The effort to remove is significant (i.e. in the tens of hours of work). Without these changes, this is a build-breaking issue (we will not have working 2.0 builds until this is addressed). Would it be OK if we postpone this removal until the next major version? I'm weighing in the risks of breaking the build and delaying the release vs. r

[2022-02-08 21:37] CEHENKLE commented on #1674
@nknize I hate dragging this to 3.0, but I don't see an immediate harm to keeping it around but deprecated.  What do you think?

[2022-02-08 21:52] dreamer-89 commented on #1940
Update

1. Remove type references from rest end-points [In-Progress]
2. Remove internal references of type mapping e.g. Transport layer, builders etc
3. Update plugin integrations in respective repositories
4. Client Update - Java/Python/Go
5. Testing
a. Automated - covered by UT & ITs in OpenSearch repo
b. Manual - Verify various upgrades paths from 1.x -> 2.0
c. Plugins integration - Build OpenS

[2022-02-08 23:06] prashanttct07 commented on #1976
@elfisher yes, it is similar only difference is that belongs to input of logstash where as this requirement is for filter section of logstash.

[2022-02-08 23:47] saratvemulapalli commented on #2020
[TransportService](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/transport/TransportService.java) has two convoluted dependencies on a. [Transport](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/transport/Transport.java) b. [NetworkPlugin](https://github.com/opensearch-project/OpenSearch/blob/main/serv

[2022-02-09 01:07] peterzhuamazon commented on #2043
Adding up:
`OPENSEARCH_SD_NOTIFY` does not notify systemctl if the core is built for `tar`.
This only runs if the core is built for `rpm` and `deb`.
https://github.com/opensearch-project/OpenSearch/blob/37ac3788a3937ed415039edb2671da08e6450ed5/modules/systemd/src/main/java/org/opensearch/systemd/SystemdPlugin.java#L80-L84

@dblock any insight on this one?
Thanks.

[2022-02-09 01:14] peterzhuamazon opened #2073 "[Enhancement] Allow user to define OPENSEARCH_SD_NOTIFY without hardcoding it to rpm/deb build"
Follow up from #2043 to build bundled RPM from tarball:

`OPENSEARCH_SD_NOTIFY` does not notify systemctl if the core is built for `tar`.
This only runs if the core is built for `rpm` and `deb`.
https://github.com/opensearch-project/OpenSearch/blob/37ac3788a3937ed415039edb2671da08e6450ed5/modules/systemd/src/main/java/org/opensearch/systemd/SystemdPlugin.java#L80-L84

@dblock any insight on this o

[2022-02-09 01:24] dreamer-89 commented on #1957
Another failure here: #2026 (comment)

[2022-02-09 03:49] jainankitk commented on #1957
Okay, I can see that none of the shard was unassigned, just 1 replica was remaining that would have started given few more seconds. @owaiskazi19 - I will increase the timeout to 60 seconds! :)
[code]

[2022-02-09 12:54] dblock commented on #1674
@davidlago Do you have an open child issue from here yet?

[2022-02-09 12:55] dblock commented on #1674
I think we should do the work in the security plugin, and not punt this.

[2022-02-09 12:58] dblock commented on #2073
I think the solution is to natively support an RPM/DEB distribution type in OpenSearch, and not build the RPM package based on the tar distribution.

[2022-02-09 13:16] Jakob3xD opened #2076 "Reindex: buffer limit should be configurable"
**Is your feature request related to a problem? Please describe.**
Reindex from a remote Cluster is limited by a hard coded buffer limit of 100mb, which makes reindex difficulty.
To avoid running into the limit, I have to reduce the size which then makes the reindex slow.

Also see:
https://github.com/elastic/elasticsearch/issues/21185

**Describe the solution you'd like**
Make the buffer limit fo

[2022-02-09 14:01] nknize commented on #1674
This is the bigger concern. The main branch has quickly diverged from 1.x so plugins really need to have a branch that can build from 2.0.0 core; even if it's just a feature branch. Unfortunately we're going to run into more than just TransportClient conflicts (e.g., security also still supports soft-delete parameter which is now removed in main) and as that list grows so will the amount of delay

[2022-02-09 15:58] dreamer-89 commented on #1746
Another occurrence : [PR 2026](https://github.com/opensearch-project/OpenSearch/pull/2026#issuecomment-1033913604)

[Gradle log](https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/2306/artifact/gradle_check_2306.log)

[2022-02-09 17:26] andrross commented on #1957
Is the issue here that this test is using 100 primary shards, which is more than most other tests use, and therefore it takes longer and requires more resources from the test machine to get everything started? My concern is that even if we get the timeouts set to work well for the hosts used by CI infrastructure it might still be flakey when run on developer machines. Is there anything we can do t

[2022-02-09 17:51] saratvemulapalli commented on #1674
+1 when we started setting up the branches 2.0.0 was far down the line.
I am worried plugins will see lot more problems than we can guess (eg: Gradle 7, TransportClient etc).
We should start replicating the same branching strategy as OpenSearch for rest of the bundle.

[2022-02-09 18:46] reta commented on #1838
@rishabhmaurya I think we should make this one a [META] issue since it also drags in other projects [1]

[1] https://github.com/opensearch-project/opensearch-java/issues/108

[2022-02-09 18:49] dblock commented on #1833
I am having hard time reproducing this, but I have definitely seen this elsewhere. Something else is going on.

@balar06 care to help?

[code]

[2022-02-09 19:52] dblock commented on #1833
This is likely coming from https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/Build.java#L115 which looks suspiciously over-engineered for returning a build hash, we just need a reliable way to reproduce.

[2022-02-09 19:59] peterzhuamazon commented on #2073
Remember we are building a tar artifact then use the tar artifact to build deb/rpm with a different toolset.
We are not directly using the existing deb/rpm build in core.

Thanks.
a

[2022-02-09 20:43] dblock commented on #2073
Why?

[2022-02-09 21:14] peterzhuamazon commented on #2073
Because the default rpm generation does not include all plugins.

[2022-02-09 21:33] dblock commented on #2073
Ok, what's the _right_ fix that gets rid of all the hacks?

[2022-02-09 21:39] peterzhuamazon commented on #2073
Use `rpm` to produce core but not package it in build workflow, send the output to assemble workflow to install all plugins then package into a rpm with rpmbuild.

[2022-02-09 22:24] jainankitk commented on #1957
I don't think 100 shards is the issue here. I have been able to run the test on my machine several times without any issue. Though thinking more on it, the test might be able to run with even smaller number like 25 or 50 primary shards. I will wait to see if the issue is reported by anyone else.

[2022-02-10 03:41] subir-ghosh-tm opened #2080 "Health check failing in AWS ECS"
Hi,

I am trying to deploy the docker image of Opensearch in AWS ECS.
However it is failing in health check.

My Task def json is attached,.

Kindly help
[Task_def.txt](https://github.com/opensearch-project/OpenSearch/files/8037866/Task_def.txt)

[2022-02-10 13:22] opensearch-ci-bot opened #2081 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2322 in gradle_check log for more information.

[2022-02-10 15:22] asafm commented on #487
Do you plan to document this in the OpenSearch documentation @ashwinpankaj ?

[2022-02-10 15:49] slavafomin opened #2082 "Missing documentation for supported types (index mapping types)"
Hello!

Thank you for this great project!

However, I've spend half an hour today trying to find documentation of the index mapping types supported by the OpenSearch, but failed to do so. I consider this kind of documentation essential, especially for the new OpenSearch developers like myself.

Here's the [related documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/mappi

[2022-02-10 15:54] slavafomin opened #2083 "[BUG] mapper_parsing_exception: No handler for type [unsigned_long] declared"
**Describe the bug**
I've tried to create an index field of the type `unsigned_long`, but got the following error:

[code]

**Host/Environment (please complete the following information):**
I'm using latest version of OpenSearch (1.1) managed by AWS.

**Additional context**
The `unsigned_long` type is [defined](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/number.html) in ElasticSea

[2022-02-10 17:21] dblock commented on #2083
According to that documentation it was only part of X-Pack, which was not APLv2.

[2022-02-10 19:56] #1962 closed

[2022-02-10 21:58] gplechuck commented on #1992
Hey @dreamer-89 ,

Thanks for picking this up. Just tested again using clean container images and reproduced. Just a quick test - but hopefully enough to point you in the right direction for reproducing the issue .

Disabled HTTPS for convenience to grab a traffic capture in order to view the request (alternatively enabling audit logging for the REST interface should work just as well) .

Steps ta

[2022-02-10 22:31] CEHENKLE commented on #1329
Done!  https://github.com/opensearch-project/OpenSearch/tree/feature/task-resource-tracking

[2022-02-10 23:15] lindeberg25 opened #2087 "Permission denied - /usr/share/opensearch/"
Hello...

I'm deploying an opensearch cluster on Openshift and I'm getting the permission denied error: ./opensearch-docker-entrypoint.sh: permission denied"

I've created an opensearch-sa service account and added it to master.yaml:

         serviceAccountName: "opensearch-sa"

I've set opensearch-sa to privileged.

I believe the user created in the opensearch image doesn't have permission on /u

[2022-02-11 01:21] #1954 closed

[2022-02-11 03:39] anasalkouz commented on #1694
Thanks everyone for your feedback, here is the summary of callouts:
- Merged segments should be in the scope of Segment Replication, since it contribute to a major part of the indexing cost, and this will be step further of separating reader and writer JVMs.
- Point in time consistency could be as an optional setting or we could also explore the option of getting critical queries from primary shar

[2022-02-11 05:10] jainankitk commented on #1954
@saratvemulapalli - My bad, I missed it. Thanks for taking care of this!

[2022-02-11 15:31] dblock opened #2091 "[BUG] org.opensearch.cluster.routing.allocation.IndexShardHotSpotTests.testSkewedClusterScaleOut intermittent failure"
**Describe the bug**

[code]

[2022-02-11 15:37] arurus-aws commented on #1119
Kudos for initiating this RFC. Few questions:
1) If we want to run Core plugins (example analysers) on extension nodes. Will it work ? If yes, by how much percentage Latency will be impacted? If not, where do you see the problem and what it takes to support it.

2) Primary reason we want to use extension nodes to deploy plugins is Security and sandboxing / isolation. Dependency of this 2 way commu

[2022-02-11 18:42] CEHENKLE commented on #1854
@samuel-oci Hi -- Yup, I created the repo yesterday :)  I'm working to close out the last step to add you as a maintainer, which I hope to close out today (slightly tangled in tooling over here).  If you open a PR, hopefully you'll be able to merge it yourself tonight.

Thanks,

[2022-02-11 19:34] dblock commented on #1854
@CEHENKLE did all the work here!

[2022-02-11 20:32] #1716 closed

[2022-02-11 22:02] peterzhuamazon opened #2092 "[Question] Why is opensearch-env different between rpm and tar builds?"
I tried to compare rpm and tar builds from the files.
And they apparently have many differences within opensearch-env.

The rpm even hard code to source from /etc/sysconfig/opensearch for env vars
[code]

[2022-02-11 22:11] peterzhuamazon commented on #2092
This kinda pose a problem when producing bundled OpenSearch RPM with these files.
As you need to first remove the sourcing (The file only exist after you install the rpm on customer host).
Then define OPENSEARCH_PATH_CONF so that `opensearch-plugin` can run properly to install all the plugin zip.

Then add back the sourcing and then repackage into rpm.

However, in practice, even without `sourcing

[2022-02-11 22:11] peterzhuamazon commented on #2092
Any thoughts, @dblock ?

[2022-02-11 22:21] kavilla opened #2093 "`track_total_hits` for multi-search API"
**Is your feature request related to a problem? Please describe.**
https://opensearch.org/docs/latest/opensearch/rest-api/multi-search/ accepts `track_total_hits` in the body but that means all my searches have to include `track_total_hits` within the body. Unlike https://opensearch.org/docs/latest/opensearch/rest-api/search/, which accepts `track_total_hits` as a query string.

When we toggle “Ba

[2022-02-11 22:39] reta commented on #2092
@peterzhuamazon could you please point out which `opensearch-env` is used for to build `rpm`? I suspect this is not the same one (copy?) as used by archive distributions.

[2022-02-11 23:09] CEHENKLE opened #2095 "OpenSearch Engine 2022 Themes"
Hello!

We’re the team at Amazon that maintains the [OpenSearch repo](https://github.com/opensearch-project/OpenSearch).  The OpenSearch search & analytics engine is the centerpiece product of the [OpenSearch project](http://www.opensearch.org/). As part of planning for 2022, we wanted to share with you how we’re thinking about the upcoming year.

We'd love to work with you shoulder to shoulder to

[2022-02-12 07:40] samuel-oci commented on #1854
For reference here is the PR
https://github.com/opensearch-project/opensearch-oci-object-storage/pull/1

[2022-02-12 12:29] lrynek commented on #1711
@dblock wdyt? 🙂

[2022-02-12 20:20] slavafomin opened #2097 "Dashboards: lock visualization to a specific date range"
Hello!

**Is your feature request related to a problem? Please describe.**
Right now, all visualizations are using time range selected for the dashboard. However, we want to display visualizations that show information for various time periods. For example, we have Gauge, that shows RPS for the selected time range and we would like to see three gauges: for 1, 5 and 15 minute periods (like `top` pr

[2022-02-14 01:06] opensearch-ci-bot opened #2099 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2370 in gradle_check log for more information.

[2022-02-14 05:41] sachinpkale commented on #2034
Pushed new [commit](https://github.com/sachinpkale/OpenSearch/commit/e75393a41f5e69d046d756037f061cc0e4bd0c12):
1. Do not delete old `segments_N` files. Thinking of using them to keep track of seq number of the uploaded commits.
2. Changed the remote path to `index_UUID/shard_id/primary_term/`

[2022-02-14 11:14] hansott opened #2100 "Support min_children & max_children for nested docs"
See https://github.com/elastic/elasticsearch/issues/10043

[2022-02-14 15:11] dblock commented on #1854
I'll close this issue here, everyone can go contribute to https://github.com/opensearch-project/opensearch-oci-object-storage. Run with it @samuel-oci, all yours.

[2022-02-14 15:11] #1854 closed

[2022-02-14 15:16] reta commented on #2092
@dblock @peterzhuamazon I will take a look shortly

[2022-02-14 15:55] dblock commented on #1711
A few thoughts.

- I see 20+ thumbs up on this issue! Sounds like a lot of people want this? I'd love to hear from others why this is important to your application/client from others!
- API changes are easy to make and hard to remove, so I am going to argue against this for a bit more, see if there are simpler solutions, and try to convince myself that this is a good change. I _am_ keeping an open

[2022-02-14 17:27] seanneumann commented on #2095
Exciting year! Thanks for writing this up @CEHENKLE !!

[2022-02-14 18:59] dblock commented on #1746
https://github.com/opensearch-project/OpenSearch/pull/2069#issuecomment-1032857800

[2022-02-14 19:27] reta commented on #2092
@peterzhuamazon I just did a fresh build of the distributions, there are only 2 differences in `opensearch-env` between archive and RPM (and DEB as well):
 - `OPENSEARCH_DISTRIBUTION_TYPE=rpm` vs `OPENSEARCH_DISTRIBUTION_TYPE=tar`
 -   and indeed `OPENSEARCH_PATH_CONF`
[code]
  vs

[code]

It comes from the build script [1] and @dblock is right, we just inherited it from the fork, it seems to be c

[2022-02-14 19:29] peterzhuamazon commented on #2092
@reta I am using 1.2.0 for the build, sorry for not mentioning that.
I clearly see more changes as in my description.
Not sure if newer versions have less changes tho.

Thanks.

[2022-02-14 19:54] reta commented on #2092
@peterzhuamazon oh ... thanks for clarifying, will rebuild in a sec, the `OPENSEARCH_JAVA_HOME` presence is very suspicious in 1.2.x though - we did not merge this change [1]. I will come back with the update shortly.

[1] https://github.com/opensearch-project/OpenSearch/pull/2042

[2022-02-14 20:28] reta commented on #2092
@peterzhuamazon I build fresh 1.2.5-SHAPSHOTs

[code]

And the diff is [exactly the same](https://github.com/opensearch-project/OpenSearch/issues/2092#issuecomment-1039468773), I suspect the archive is not for 1.2.x (the `OPENSEARCH_JAVA_HOME` should not be present there in any form), could you please double check (or even better, share links to these distributions)?

Thank you!

[2022-02-14 20:32] peterzhuamazon commented on #2092
@reta I use tags/1.2.0 to build but will test again.

[2022-02-14 20:38] peterzhuamazon commented on #2092
Tar: `distribution/archives/linux-tar/build/tar-extracted/opensearch-1.2.0/bin/opensearch-env`
Rpm: `distribution/packages/rpm/build/extracted/rpm-extracted/usr/share/opensearch/bin/opensearch-env`

diffs:
[code]

[2022-02-14 20:38] peterzhuamazon commented on #2092
Weird enough the diffs are different but anyway the `source` still present......

[2022-02-14 20:42] peterzhuamazon commented on #2092
I think the `source` one is understandable as if anyone installed RPM but not using systemd, then there needs to be a way to source the sysconfig.

The OPENSEARCH_PATH_CONF one seems needs to stay for now, as security plugin has some hard dependencies on the config folder. If the folder/link present in OPENSEARCH_HOME/config, then demo installer will use tarball mode, despite you install a version

[2022-02-14 20:45] dblock commented on #1957
https://github.com/opensearch-project/OpenSearch/pull/2069#issuecomment-1039522591

[2022-02-14 20:48] reta commented on #2092
Yeah, the `source` is "inherited", you definitely have better assumptions why it is there ...

[2022-02-14 21:00] jainankitk commented on #1957
Okay, I can see that some of the shards were initializing. Considering reducing the number of shards instead of increasing the timeout to not increase overall test suite time

[2022-02-14 21:39] peterzhuamazon commented on #2092
Seems like expected behavior at this point, close issue.

[2022-02-14 21:39] #2092 closed

[2022-02-14 22:21] dblock opened #2105 "[BUG] CreateIndexIT.testRestartIndexCreationAfterFullClusterRestart intermittent failure"
[code]

https://github.com/opensearch-project/OpenSearch/pull/2096#issuecomment-1039605783

[2022-02-14 22:23] dblock commented on #1957
https://github.com/opensearch-project/OpenSearch/pull/2069#issuecomment-1039615096

[2022-02-14 22:56] #1921 closed

[2022-02-15 01:04] kartg commented on #1957
https://github.com/opensearch-project/OpenSearch/pull/2096#issuecomment-1039647986

[2022-02-15 10:50] sachinpkale commented on #2034
Pushed new [commit](https://github.com/sachinpkale/OpenSearch/commit/b4fe92e3e5f39fadcb7c431094906efb4dbcbdbb):
1. Upload a metadata file along with segment files: `max_checkpoint`. Currently, it keeps track of max local processed checkpoint of index that is successfully uploaded to remote store.
2. Sample log statements to understand format of some of the index files

[2022-02-15 11:59] jkowall commented on #1052
Have a look at https://github.com/opensearch-project/OpenSearch/issues/1968

[2022-02-15 13:04] reta commented on #1052
@jkowall I think https://github.com/opensearch-project/OpenSearch/issues/1968 (durability) is quite different from this one (tiered storage).

[2022-02-15 16:10] nknize opened #2107 "Remove Type From Search Internals"
Remove type parameter from `SearchRequest` and `QueryShardContext`

relates #1940

[2022-02-15 19:32] SammyROCK commented on #1557
I'm having this issue and I'm currently unable to update an existing Policy

[2022-02-15 19:38] CEHENKLE commented on #2072
Hey @windbeneathyourwings !  Thanks for the note.  Is this something you'd be interested in contributing?  It does sound like a cool idea.

[2022-02-15 19:41] CEHENKLE commented on #2083
@slavafomin Hi!  Would you mind adding more information about your use case?  Thanks!

[2022-02-15 19:50] CEHENKLE commented on #2100
Hey @hansott !  Can you give us some more details about the problem you're trying to solve?

Thanks!
/C

[2022-02-15 20:00] hansott commented on #2100
@CEHENKLE Hey, we have documents with nested and child documents:

We have criteria that we translate to Elasticsearch queries to match parent documents.

"has_child" queries support max/min children as option but the nested query doesn't have these options.

This is useful to say something like: "search for all items where x matches at most 3 times or at least 3 times"

It's probably possible to

[2022-02-15 21:02] jainankitk commented on #1957
The test was failing due to some replica shards initializing and completing before last primary shard could finish initializing. Discussed the issue with @dblock this morning to make test more predictable. Suggestion was to add shards per node constraint to allow exactly 50% of shards to relocate on new nodes. Including the constraint helped make tests really lightweight (completes in less than 5

[2022-02-15 21:49] windbeneathyourwings commented on #2072
Hello @CEHENKLE

I'm considering it because I would like to provide it as part of my own project which exclusively uses open search for search. Its just a matter of prioritizing it considering I work on all this stuff outside of work.

https://github.com/ng-druid/platform

[2022-02-15 23:04] joshpalis commented on #2070
I'll take it

[2022-02-16 08:02] oridool opened #2111 "ISM policy ‘min_index_age’ with month units"
**Is your feature request related to a problem? Please describe.**
I want to rollup and manage index lifecycle on a monthly base.
Right now, the policy conditions such as 'min_idex_age' is limited days/hours units only.
See also:
[ISM policy ‘min_index_age’ with month units](https://discuss.opendistrocommunity.dev/t/ism-policy-min-index-age-with-month-units/8631)

**Describe the solution you'd lik

[2022-02-16 11:43] jkowall commented on #1052
This is basically a redesign of the way that UltraWarm is designed, which was “outside” of the database. This new architecture would be part of the database and be more highly performant due to the distributed nature of the implementation. I have had this discussion with folks working on it, and this is, in fact, the first step towards a more modern design of UltraWarm.

[2022-02-16 14:59] reta commented on #2036
@AmiStrn started to look at it, have difficulties in reproducing the index, could you please share `my-index` mappings + settings (at least part of it) so I could replicate the exact scenario? thank you!

[2022-02-16 17:17] lrynek commented on #1711
@andrross @dblock looks we cannot reach the understanding on both sides - would be awesome (and maybe even faster to reach any outcome / consensus) to have a short 15 minutes call around this topic, wdyt?

I fully get and understood that we have somewhere deep in the details of each function explanation and those details count matches with the number of functions passed in the request ✔️

However

[2022-02-16 18:03] dblock commented on #1711
Generally, I'd rather not, because it's important we provide visibility to the community in all discussions and I don't know how else to do it than in writing. If you still want to just brainstorm, I'd be happy to jump on a call, dblock[at]amazon[dot]com, I'm in EST, and I can loop in @andrross.

Back to the problem I actually think we totally understand each-other. Additional input does seem to s

[2022-02-16 19:11] ngamber opened #2142 "[BUG]Loading a saved query with double quotes in Discover removes the quotes (Kibana issue #81575)"
Copying the bug from the upstream kibana issue, which persists in Opensearch 1.1

[2022-02-16 20:47] mattweber opened #2143 "[BUG] BWC failures for aggregations in MixedClusterClientYamlTestSuiteIT"
Lots of BWC failures for aggregations in MixedClusterClientYamlTestSuiteIT found in #2103.  Here are just a few:

[code]

[2022-02-16 21:21] reta commented on #1805
Experimenting with adding `CodecServiceFactory` into `EnginePlugin` (non-breaking change) ....

[2022-02-16 21:49] dblock commented on #2143
[code]

From https://github.com/opensearch-project/OpenSearch/pull/2103#issuecomment-1042338071

[2022-02-16 21:51] dblock commented on #2143
https://github.com/opensearch-project/OpenSearch/pull/2096#issuecomment-1042045624

[2022-02-16 23:12] andrross commented on #2143
I can replicate the failures going back to a commit over a week old on main, so that suggests to me the problem is a commit to the `1.x` branch, though I don't know how to make my local build run the bwc tests against anything other than the latest commit on that branch to test my theory...

[2022-02-16 23:36] fastluca opened #2144 "'runtime_mappings' not supported on query"
The runtime_mappings feature was added as stable on Elasticsearch starting from version [7.12](https://www.elastic.co/guide/en/elasticsearch/reference/7.12/runtime-search-request.html).
Is there something equivalent on OpenSearch? I cannot find nothing on the official documentation about that.
It is a very powerful feature.

[2022-02-16 23:42] andrross commented on #2143
On my dev machine, this command succeeds:

[code]

while this command fails:

[code]

I believe this is the [problematic commit on the 1.x branch](https://github.com/opensearch-project/OpenSearch/commit/5b2713661ea14323754f4083de23888797ab0882)

[2022-02-17 00:59] andrross commented on #2143
@penghuo has potentially identified the fix in main, which is to change the compatibility check here now that the feature has been backported to 1.3:

https://github.com/opensearch-project/OpenSearch/blob/d47725d9c3b44cf56094d8866989b42b72473a25/server/src/main/java/org/opensearch/search/aggregations/bucket/composite/CompositeValuesSourceBuilder.java#L84

He's working on a PR. That is the better f

[2022-02-17 01:10] opensearch-ci-bot opened #2146 "Jenkins Randomized Gradle Check Failed on main"
@opensearch-project/opensearch-core team, please take a look at Build 2473 in gradle_check log for more information.

[2022-02-17 01:33] opensearch-ci-bot opened #2148 "Jenkins Randomized Gradle Check Failed on 1.x"
@opensearch-project/opensearch-core team, please take a look at Build 2476 in gradle_check log for more information.

[2022-02-17 02:08] reta commented on #2144
@fastluca please check out this issue https://github.com/opensearch-project/OpenSearch/issues/1133

[2022-02-17 03:44] maosuhan opened #2149 "How to contribute between elasticsearch and opensearch"
I have a question of how to contribute between elasticsearch and opensearch.
Questions:
1. If I both create a MR for both Elasticsearch and Opensearch, is it doable because Elasticsearch has a different lisense from opensearch. If both MRs are merged, how to handle the lisense conflict?
2. Can opensearch backport some feature/bugfix from elaticsearch, some bugfix and improvements is very important

[2022-02-17 03:57] CEHENKLE commented on #1590
Hello all;

Thanks for your feedback.  We're going to be moving ahead on this project.  If you're interested, or you'd like to contribute, we'll be working in a new repo called [opensearch-api-specifications](https://github.com/opensearch-project/opensearch-api-specifications).  I'll be closing this issue out on  February 21st to continue the conversations over there.

See you in the new repo!

[2022-02-17 05:34] #2061 closed

[2022-02-17 10:09] lrynek commented on #1711
@dblock

It wasn't intended to slip around this GitHub issue thread and prevent full transparency - only a brainstorm and of course I can add a summary back here after that brainstorming call 👍  I'm in CEST timezone, so very close to yours, please provide any timing that works best for you guys to have a call on the topic.

Yes, in terms of the order maintenance itself it's exactly this but please

[2022-02-17 13:53] quangmaubach commented on #1278
Hi @CEHENKLE ,

Thank you for your reply. Actually Lucene have already had a TokenFilter that can handle the requirement of this issue. I have added a PR to enable that TokenFilter in OpenSeearch.

Can you please help me to add Label `2.0.0` and `backport 1.x` to the PR, and review it as well? I don't think I have any permission to add Label to the PR.

[2022-02-17 14:41] reta commented on #1711
@dblock @lrynek @andrross I have run into couple of scenarios with the similar problem at the end (try to match input and output), and it looks to me that Opensearch has a good foundation to that - named queries [1]. At this moment it does not work exactly the same way but if we add / extend the existing implementation to propagate back the query / filter / function names into the explanation bloc

[2022-02-17 16:29] lrynek commented on #1711
@reta for me it would perfectly work - this is the missing example of such request / response custom tag propagation @dblock you were looking for.

For me it's perfectly usable with the same `_name` property as it would be consistent with the already implemented approach 👍

[2022-02-17 17:37] dblock commented on #2144
Closing as dup of #1133.

[2022-02-17 17:37] #2144 closed

[2022-02-17 17:39] andrross opened #2154 "[BUG] :distribution:docker:buildDockerImage failures downloading from http://vault.centos.org"
Gradle task :distribution:docker:buildDockerImage fails occasionally with a timeout from http://vault.centos.org

[code]

Example: https://github.com/opensearch-project/OpenSearch/pull/2147#issuecomment-1042492480

[2022-02-17 18:18] CEHENKLE commented on #1992
Hey @dreamer-89 !  Can we get an update on this issue?

Thanks!
/C

[2022-02-17 19:00] kartg opened #2155 "Code Duplication in Cloud Plugins"
**Is your feature request related to a problem? Please describe.**
There seems to be duplication of logic in the code for Cloud Plugins. This is an opportunity for us to streamline the codebase and refactor these classes. This issue stems from [these comments](https://github.com/opensearch-project/OpenSearch/pull/2096#pullrequestreview-885245539) in #2096.

**Describe the solution you'd like**
Mov

[2022-02-17 19:27] reta commented on #2154
@andrross I think the best we can do is switch to another distribution (question - which one? amazonlinux:2? ubuntu? debian?), @dblock do you have thoughts? thanks!

[2022-02-17 20:17] piyushdaftary opened #2156 "[BUG] Snapshot deletion is slow"
**Describe the bug**
Currently during snapshot delete, deletion of [unlinked shard level blob ](https://github.com/opensearch-project/OpenSearch/blob/b9ff91d591ce4b0a23d48b291e689ca906b6ab3b/server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java#L892)is single threaded using SNAPSHOT threadpool. Hence if there is huge number of   unlinked shard level blob flies, it wil

[2022-02-17 20:19] mattweber commented on #2143
I think this can be closed now that #2147 is merged.  @andrross ?

[2022-02-17 22:09] dblock commented on #2143
Closing

[2022-02-17 22:09] #2143 closed

[2022-02-17 22:32] setiah opened #2161 "Bind process to localhost only if demo certificates are used"

[2022-02-17 22:35] andrross commented on #2154
My questions: Is that CentOS endpoint really that flakey? Are we getting throttled or something? Is something else misconfigured on our side?

[2022-02-17 22:41] setiah opened #2162 "Provide an orchestration mechanism for multi-node cluster (w/ security) using kubernetes"

[2022-02-17 23:16] #2073 closed

[2022-02-18 00:13] reta commented on #2154
CentOS is dead, for better or worst, taking into account we use for 1 week only and it was done already - it looks flaky at this moment. The problem was affecting everyone - all my local builds were failing, same for others.

[2022-02-18 06:10] Bukhtawar opened #2167 "Improve visibility of problems during shard recovery"
The default logging level on production systems is INFO, which fails to log actual issues. In this case shard relocation due to version upgrade was stuck from src version 6.8 due to limit `index.mapping.nested_objects.limit]` introduced in 7.x which isn't present in 6.8 causing translog recovery on 7.x and higher versions to fail

Changing the log level and retrying the recovery logged the actual

[2022-02-18 08:16] maosuhan opened #2169 "recover primary shard first and start replica recovery after most of the primary started"
In our company, we have 1M shards and 400 nodes within a cluster.
The business is very important and the data availability is very  important. In full cluster recovery process, we want to recover primary shard as soon as possible and the replica recovery can be delayed after most of the primary is started.

Why we don't want to set `cluster.routing.allocation.enable` to `primaries`
1. It is rely o